{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small>List Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
        <li class="active">List Dosen</li>
        <li class="active">Akreditas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    <section class="content">

      {% include 'akreditas/panel_atas.twig' %}
        <!-- s:form search -->

        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Luaran (Buku Ajar) - {{items[0].dosen.nama_lengkap}} - {{items[0].dosen.jabatan_akademik.nama}} - {{items[0].dosen.tingkat}}</h3>
                  <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
            </div><!-- .box-header -->
            <div class="box-body">
                  <div class="row mb-10">
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}akreditas/akreditasdosen/pdfbukuajar/{{id}}?dosen={{items[0].dosen.id}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Penulis</th>
                                <th>Judul Buku</th>
                                <th>Penerbit</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td> 
                                  <td> 
                                      {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      NIDN :  {{item.dosen.nidn}}

                                  </td>
                                  <td>
                                      Tahun: {{item.tahun_kegiatan.tahun}}<br>
                                      <a href="{{base_url()}}bukuajars/show/{{item.id}}">{{item.judul}}</a>
                                  </td>
                                  <td>
                                      Penerbit : {{item.penerbit}} <br>
                                      ISBN : {{item.isbn}} <br>
                                      Jml. Halaman : {{item.halaman}} 
                                  </td>
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Penulis</th>
                                <th>Judul Buku</th>
                                <th>Penerbit</th>
                            </tr>
                          </tfoot> 
                      </table> 

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                <ul class="pagination pull-right">
                  {% for i in 1..total_pages %}
                  {% if page==i %}
                  <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% else %}
                  <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  var data = {
      labels: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
      datasets: [
          {
              label: false,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              borderWidth: 1,
              hoverBackgroundColor: "rgba(255,99,132,0.4)",
              hoverBorderColor: "rgba(255,99,132,1)",
              data: [{% for item in akreditass.klasifikasi_anggota %} {{item}}, {% endfor %}],
          }
      ]
  };

  var color = ["#1abc9c","#27ae60","#2980b9","#8e44ad","#2c3e50","#f39c12"];

  Highcharts.chart('klasifikasi', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
    plotOptions: {
            bar: {
                stacking: 'normal'
            }
        },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in akreditass.klasifikasi_anggota %} {y:{{item}},color:color[{{loop.index}}]}, {% endfor %}]
    }]
});

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
