{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small>List Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
        <li class="active">List Dosen</li>
        <li class="active">Akreditas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    <section class="content">

        <div class="row">
          {% if akreditass.tahun_range|length>=5 %}
            <div class="col-lg-2 col-md-offset-0"></div>
          {% endif %}
          <div class="col-lg-4 col-md-offset-0">
              <section class="content">
                <div class="box bordernya" style="min-height:300px;">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="" class="col-sm-4">Fakultas</label>
                      <div class="col-sm-8">
                        {{akreditass.fakultas.nama}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Prodi</label>
                      <div class="col-sm-8">
                        {{akreditass.program_studi.nama}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Ka Prodi</label>
                      <div class="col-sm-8">
                        {{akreditass.dosen.nama_lengkap}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Tahun</label>
                      <div class="col-sm-8">
                        {{akreditass.tahun_dari.tahun}} - {{akreditass.tahun_sampai.tahun}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Pendidikan</label>
                      <div class="col-sm-8">
                        S1 = {{akreditass.total_tingkat.S1}}<br>
                        S2 = {{akreditass.total_tingkat.S2}}<br>
                        S3 = {{akreditass.total_tingkat.S3}}
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </section>
          </div>
          <div class="col-lg-4  col-md-offset-0">
              <section class="content">
                <div class="box bordernya" style="min-height:300px;" id="klasifikasi">
                </div>
              </section>
          </div>
          <div class="{% if akreditass.tahun_range|length>=5 %} col-lg-12 {% else %} col-lg-4 {% endif %}  col-md-offset-0">
              <section class="content">
                <div class="box bordernya" style="min-height:300px;">
                  <table width="100%" class="table table-bordered table-striped mb-0">
                      <thead>
                          <tr>
                            <th>Luaran</th>
                            {% for key,item in akreditass.tahun_range %}
                            <th>{{key}}</th>
                            {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jurnal</td>
                          {% for item in akreditass.total_jurnal %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Prosiding</td>
                          {% for item in akreditass.total_forumilmiah %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Buku</td>
                          {% for item in akreditass.total_bukuajar %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>HKI</td>
                          {% for item in akreditass.total_hki %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Luaran Lain</td>
                          {% for item in akreditass.total_luaranlain %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Penelitian</td>
                          {% for key,item in akreditass.total_penelitian %}
                          {% set gabungan = item+akreditass.total_penelitianhibah[key] %}
                          <td>{{gabungan}}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                  </table>
                </div>
              </section>
          </div>
        </div>

        <!-- s:form search -->

        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Luaran (Forum Ilmiah) - {{items[0].dosen.nama_lengkap}} - {{items[0].dosen.jabatan_akademik.nama}} - {{items[0].dosen.tingkat}}</h3>
                  <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}akreditas/akreditasdosen/pdfforumilmiah/{{id}}?dosen={{items[0].dosen.id}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul</th>
                                <th>Penyelenggara</th>
                                <th>Berkas</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td> 
                                  <td> 
                                      {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      NIDN :  {{item.dosen.nidn}}<br>
                                      Status: {{item.status}}

                                  </td>
                                  <td>
                                      Tingkat: {{item.type_show}} <br>
                                      Tahun: {{item.tahun_kegiatan.tahun}} <br>
                                      <a href="{{base_url()}}forumilmiahs/show/{{item.id}}">{{item.judul}}</a><br>
                                      Forum: {{item.forum}}
                                  </td>
                                  <td>
                                      Institusi: {{item.penyelenggara}}<br>
                                      Tanggal: {{item.waktu}}<br>
                                      Tempat: {{item.tempat}}
                                  </td>
                                  <td>
                                    <a href="{{base_url()}}download?type=forumilmiah&id={{item.id}}" class="btn-sm btn btn-primary" target="_blank"> <i class="glyphicon glyphicon-download"></i>Download</a>
                                  </td>
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul</th>
                                <th>Penyelenggara</th>
                                <th>Berkas</th>
                            </tr>
                          </tfoot> 
                      </table> 

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                <ul class="pagination pull-right">
                  {% for i in 1..total_pages %}
                  {% if page==i %}
                  <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% else %}
                  <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  var data = {
      labels: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
      datasets: [
          {
              label: false,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              borderWidth: 1,
              hoverBackgroundColor: "rgba(255,99,132,0.4)",
              hoverBorderColor: "rgba(255,99,132,1)",
              data: [{% for item in akreditass.klasifikasi_anggota %} {{item}}, {% endfor %}],
          }
      ]
  };

  var color = ["#1abc9c","#27ae60","#2980b9","#8e44ad","#2c3e50","#f39c12"];

  Highcharts.chart('klasifikasi', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
    plotOptions: {
            bar: {
                stacking: 'normal'
            }
        },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in akreditass.klasifikasi_anggota %} {y:{{item}},color:color[{{loop.index}}]}, {% endfor %}]
    }]
});

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
