<div class="modal fade" id="inputnomor{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  {{ form_open('suratkontrak/nomor/' ~ item.id,'data-toggle="validator"') }}
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content" style="width:400px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Input Nomor</h4>
        </div>
        <div class="modal-body" id="validate_message">
          <div class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="nomor" class="col-sm-5 control-label">No Kontrak 1</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" required name="nomor" value="{{set_value('nomor',item.nomor)}}"
                  data-remote="{{base_url()}}suratkontrak/is_nomor_exists/?sk={{item.id}}">
                  <div class="help-block with-errors"></div>
                </div>
                <label for="nomor" class="col-sm-2 control-label" style="padding-left: -0px; text-align: right;">/{{formatnomor}}/{{nowyear}}</label>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% if item.berkas and item.isvalidate==2 %}
<div class="modal fade" id="hasilvalidasi{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hasil Validasi</h4>
        </div>
        <div class="modal-body" id="validate_message">
          <div class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="nomor" class="col-sm-2 control-label">Validasi</label>
                <div class="col-sm-10">
                  <div class="col-sm-9">
                          {% if item.isvalidate==1 %} Diterima {% else %} Ditolak {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="nomor" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                  <textarea readonly class="form-control" name="note" rows="5">{{item.note|nl2br}}</textarea>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Tutup</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% if role('Dosen') and (item.isvalidate==0 or item.isvalidate==2) %}
<div class="modal fade" id="uploadsuratkontrak{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  {{ form_open('suratkontrak/uploadsk1/' ~ item.id,'data-toggle="validator" class="upload" data-id="'~ item.id ~'"') }}
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Surat Kontrak 1 Lengkap</h4>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"> Berkas </label>

            <div class="col-sm-10">
              <input type="file" id="icondemo{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf" data-id="{{item.id}}">
              <div class="bootstrap-filestyle input-group">
                <input type="text" class="form-control " placeholder="" disabled="" id="filename{{item.id}}">
                <span class="group-span-filestyle input-group-btn" tabindex="0">
                  <label for="icondemo{{item.id}}" class="btn btn-warning ">
                    <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                    <span class="buttonText">Select File</span>
                  </label>

                  <button type="submit" class="btn btn-success" id="submit_upload{{item.id}}"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button>
                </span>
              </div>
              <span class="text-danger warning"></span>
            </div> <!-- col-sm-10 -->

          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <div class="progress">
                <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  <span class="percent"></span>
                </div>
              </div>
            </div> <!-- col-sm-10 -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Tutup</button>
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endif %}

{% if (item.status==0 or item.status==1 or item.status==2) and (role('Dosen') or role("Operator Lemlitbang")) %}
    <div class="modal fade" id="edititem{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('suratkontrak/edit/'~item.id,'data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Surat Kontrak</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Judul Penelitian</label>
                    <div class="col-sm-9">
                      <input type="hidden" name="penelitian" value={{item.penelitian.id}}>
                      <input type="text" class="form-control" readonly name="judul" value="{{item.penelitian.judul}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Jumlah Anggaran </label>
                    <div class="col-sm-9">
                        <span>Rp {{format_rupiah(item.penelitian.penelitian_review_inselected[0].rekomendasi)}}</span>  
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="hidden" id="total_biaya{{item.id}}" value="{{item.penelitian.penelitian_review_inselected[0].rekomendasi}}">
                        <span>{{ angka_huruf(item.penelitian.penelitian_review_inselected[0].rekomendasi) }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Penarikan Dana</label>
                    <div class="col-sm-1 control-label">Rp.</div>
                    <div class="col-sm-7">
                      <input type="number" class="form-control dana" {% if role("Operator Lemlitbang") %} required data-remote="{{base_url()}}suratkontrak/check_batasan/?penelitian={{item.penelitian.id}}" id="dana2" {% else %} readonly {% endif %} name="dana" value="{{set_value('dana',hitung_rupiah(item.dana,item.penelitian.penelitian_review_inselected[0].rekomendasi))}}">
                      <div class="help-block with-errors"></div>
                    </div>
                    {# <div class="col-sm-1 control-label">00%</div> #}
                    <span class="col-sm-3 text-info"></span>
                    <span class="col-sm-9 text-info">Maksimum Penarikan dana {{batasan.batasan}}% atau Rp. {{format_rupiah(hitung_persen(item.penelitian.penelitian_review_inselected[0].rekomendasi,batasan.batasan))}}</span>
                    <span class="col-sm-3 text-info"></span>
                    <span class="col-sm-9 text-info">Nilai Minimal penarikan dana adalah Rp.100.000,-</span>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Jumlah Sisa Dana </label>
                    <div class="col-sm-9">
                        Rp <span id="sisa{{item.id}}">{{format_rupiah(item.penelitian.penelitian_review_inselected[0].rekomendasi-hitung_rupiah(item.dana,item.penelitian.penelitian_review_inselected[0].rekomendasi))}}</span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <span id="sisa_eja{{item.id}}">{{angka_huruf(item.penelitian.penelitian_review_inselected[0].rekomendasi-hitung_rupiah(item.dana,item.penelitian.penelitian_review_inselected[0].rekomendasi))}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Tanggal Mulai</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control pull-right time" name="tanggal_mulai" value="{{set_value('tanggal_mulai',tanggaltoformat(item.tanggal_mulai))}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Tanggal Selesai</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control pull-right time"  name="tanggal_selesai" value="{{set_value('tanggal_selesai',tanggaltoformat(item.tanggal_selesai))}}">
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
{% endif %}
