<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">  Publikasi Ilmiah </h3>
      <a href="#" class="btn btn-sm btn-danger pull-right" data-toggle="modal" data-target="#add-jenis-jurnal"> <i class="fa fa-plus"> </i> Tambah Data </a>
    </div>
    <div class="box-body"> 
                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Jurnal</th> 
                            <th>Judul</th>
                            <th style="width: 20%">Action</th>
                          </tr> 
                      </thead>
                      {# {{dump(items1)}} #}
                      <tbody>
                            {% for item in items1 %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  <span class="text-success">{{item.content.jurnal}}</span><br>
                                  {{item.content.klasifikasi}}<br>
                                  {{item.content.impact}}
                              </td> 
                              <td>
                                  <span class="text-success">{{item.content.judul}}</span><br>
                                  {{item.content.status}}
                              </td>
                              <td>
                                  {% if item.berkas %}
                                  <a href="{{base_url()}}download?type=borangluaran&id={{item.id}}" class="btn btn-sm btn-success" target="_blank"> <i class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></i> </a>
                                  {% endif %}
                                  <a href="#" class="btn btn-sm btn-info" title="Toggle" data-toggle="modal" data-target="#upload-toggle-jurnal{{item.id}}"> <i class="fa fa-upload" data-toggle="tooltip" data-original-title="Upload"></i> </a> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle-jurnal{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                  <a href="#" data-href="{{base_url()}}monev/monevborang/deleteluaran/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                              </td> 
                            </tr>

                            <div class="modal fade" id="upload-toggle-jurnal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              {{ form_open_multipart('monev/monevborang/uploadluaran/' ~ item.id,'data-toggle="validator" class="upload" data-id="'~ item.id ~'"') }}
                              <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Upload berkas</h4>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-2 control-label"> Berkas </label>

                                      <div class="col-sm-10">
                                        <input type="file" id="icondemo{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf" data-id="{{item.id}}">
                                        <div class="bootstrap-filestyle input-group">
                                          <input type="text" class="form-control " placeholder="" disabled="" id="filename{{item.id}}">
                                          <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="icondemo{{item.id}}" class="btn btn-warning ">
                                              <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                              <span class="buttonText">Select File</span>
                                            </label>

                                            <button type="submit" class="btn btn-success" id="submit_upload{{item.id}}"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button>
                                          </span>
                                        </div>
                                        <span class="text-danger warning" id="warning{{item.id}}"></span>
                                      </div> <!-- col-sm-10 -->

                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-2 control-label"></label>
                                      <div class="col-sm-10">
                                        <div class="progress">
                                          <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                                          aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            <span class="percent"></span>
                                          </div>
                                        </div>
                                      </div> <!-- col-sm-10 -->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Tutup</button>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal fade" id="edit-toggle-jurnal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              {{ form_open('monev/monevborang/editluaran/'~id) }}
                              <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                          <div class="form-horizontal">
                                              <div class="box-body"> 
                                                  <input type="hidden" id="id" name="id" value="{{item.id}}">
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">Nama jurnal</label> 
                                                    <div class="col-sm-10">
                                                      <input type="text" class="form-control" id="jurnal" name="jurnal" value="{{item.content.jurnal}}">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Klasifikasi Jurnal </label> 
                                                    <div class="col-sm-10">
                                                     <select class="form-control" name="klasifikasi">
                                                        <option value="">-Pilih-</option>
                                                        <option value="Internasional" {{set_select('klasifikasi','Internasional',item.content.klasifikasi=='Internasional')}}>Internasional</option>
                                                        <option value="Nasional Terakreditasi" {{set_select('klasifikasi','Nasional Terakreditasi',item.content.klasifikasi=='Nasional Terakreditasi')}}>Nasional Terakreditasi</option>
                                                        <option value="Nasional ber-ISSN" {{set_select('klasifikasi','Nasional ber-ISSN',item.content.klasifikasi=='Nasional ber-ISSN')}}>Nasional ber-ISSN</option>
                                                     </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Alamat Web Jurnal </label> 
                                                    <div class="col-sm-10">
                                                      <input type="text" class="form-control" id="impact" name="impact" value="{{item.content.impact}}">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Judul Artikel </label> 
                                                    <div class="col-sm-10">
                                                      <textarea class="form-control" rows=5 id="judul" name="judul">{{item.content.judul}}</textarea>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Status Naskah </label> 
                                                    <div class="col-sm-10">
                                                      <div class="radio">
                                                        <select class="form-control" name="status">
                                                        <option value="">-Pilih-</option>
                                                        <option value="Draft artikel" {{set_select('klasifikasi','Draft artikel',item.content.status=='Draft artikel')}}>Draft artikel</option>
                                                        <option value="Sudah dikirim ke jurnal" {{set_select('klasifikasi','Sudah dikirim ke jurnal',item.content.status=='Sudah dikirim ke jurnal')}}>Sudah dikirim ke jurnal</option>
                                                        <option value="Sedang ditelaah" {{set_select('klasifikasi','Sedang ditelaah',item.content.status=='Sedang ditelaah')}}>Sedang ditelaah</option>
                                                        <option value="Sedang direvisi" {{set_select('klasifikasi','Sedang direvisi',item.content.status=='Sedang direvisi')}}>Sedang direvisi</option>
                                                        <option value="Revisi sudah dikirim ulang" {{set_select('klasifikasi','Revisi sudah dikirim ulang',item.content.status=='Revisi sudah dikirim ulang')}}>Revisi sudah dikirim ulang</option>
                                                        <option value="Sudah diterima" {{set_select('klasifikasi','Sudah diterima',item.content.status=='Sudah diterima')}}>Sudah diterima</option>
                                                        <option value="Sudah terbit" {{set_select('klasifikasi','Sudah terbit',item.content.status=='Sudah terbit')}}>Sudah terbit</option>
                                                     </select>
                                                      </div>
                                                    </div>
                                                  </div>  
                                              </div>
                                          </div> 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-info btn-ok">Save</a>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              </form>
                            </div>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Jurnal</th> 
                            <th>Judul</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   
              </div>
              <div class="modal fade" id="add-jenis-jurnal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('monev/monevborang/insertluaran/'~id,'data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center">
                      <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Publikasi Jurnal</h4>
                          </div>
                          <div class="modal-body" id="validate_message">
                              <div class="form-horizontal">
                                  <div class="box-body"> 
                                      <input type="hidden" id="type" name="type" value="ilmiah">
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Nama jurnal</label> 
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" required id="jurnal" name="jurnal" placeholder=""  value="{{item.content.jurnal}}">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Klasifikasi Jurnal </label> 
                                        <div class="col-sm-10">
                                         <select class="form-control" required name="klasifikasi">
                                            <option value="">-Pilih-</option>
                                            <option value="Internasional">Internasional</option>
                                            <option value="Nasional Terakreditasi">Nasional Terakreditasi</option>
                                            <option value="Nasional ber-ISSN">Nasional ber-ISSN</option>
                                         </select>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Alamat Web Jurnal </label> 
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" required id="impact" name="impact" value="{{item.content.impact}}">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Judul Artikel </label> 
                                        <div class="col-sm-10">
                                          <textarea class="form-control" rows=5  required id="judul" name="judul">{{item.content.judul}}</textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Status Naskah </label> 
                                        <div class="col-sm-10">
                                          <div class="radio">
                                            <select class="form-control" name="status" required>
                                            <option value="">-Pilih-</option>
                                            <option value="Draft artikel">Draft artikel</option>
                                            <option value="Sudah dikirim ke jurnal">Sudah dikirim ke jurnal</option>
                                            <option value="Sedang ditelaah">Sedang ditelaah</option>
                                            <option value="Sedang direvisi">Sedang direvisi</option>
                                            <option value="Revisi sudah dikirim ulang">Revisi sudah dikirim ulang</option>
                                            <option value="Sudah diterima">Sudah diterima</option>
                                            <option value="Sudah terbit">Sudah terbit</option>
                                         </select>
                                          </div>
                                        </div>
                                      </div>  
                                  </div>
                              </div> 
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                      </div>
                  </div>
              	</form>
                </div>
	</div>
 </div>
</div>