{% extends 'template.twig' %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting
        <small>Dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Reporting </a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div><!-- .box-header -->

        <div class="box-body">

          <div class="row">
            <div class="col-md-12">

             <!-- S:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

             <!-- Small boxes -->
             <div class="row">
              <div class="col-lg-4 col-xs-12">
                <!-- small box -->
                <div class="small-box small-box-uhamka bg-purple">
                  <div class="inner" style="text-align:center;">
                    <div class="s1">FAKULTAS</div>
                    <div class="s1">{{point_fakultas[0].fakultas}}</div>
                    <div style="padding:10 0 0 15;">
                      {% if point_fakultas[0].bintang>0 %}
                        {% for i in 1..point_fakultas[0].bintang %}
                          <img src="{{base_url()}}assets/images/star.png"/>
                        {% endfor %}
                      {% endif %}
                      {% if point_fakultas[0].setengah %}
                        <img src="{{base_url()}}assets/images/halfstar.png"/>
                      {% endif %}
                    </div>
                    <div class="s2" style="padding:15 0 0 15;">{{point_fakultas[0].total|round}}</div>
                  </div>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-12">
              <!-- small box -->
              <div class="small-box small-box-uhamka bg-green">
                <div class="inner" style="text-align:center;">
                  <div class="s1">PROGRAM STUDI</div>
                  <div class="s1">{{point_prostud[0].prostud}}</div>
                  <div style="padding:10 0 0 15;">
                    {% if point_prostud[0].bintang>0 %}
                      {% for i in 1..point_prostud[0].bintang %}
                        <img src="{{base_url()}}assets/images/star.png"/>
                      {% endfor %}
                    {% endif %}
                    {% if point_prostud[0].setengah %}
                      <img src="{{base_url()}}assets/images/halfstar.png"/>
                    {% endif %}
                  </div>
                  <div class="s2" style="padding:15 0 0 15;">{{point_prostud[0].total|round}}</div>
                </div>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box small-box-uhamka bg-maroon">
              <div class="inner" style="text-align:center;">
                <div class="s1">DOSEN</div>
                <div class="s1">{{point_dosen[0].nama}}</div>
                <div style="padding:10 0 0 15;">
                  {% if point_dosen[0].bintang>0 %}
                    {% for i in 1..point_dosen[0].bintang %}
                      <img src="{{base_url()}}assets/images/star.png"/>
                    {% endfor %}
                  {% endif %}
                  {% if point_dosen[0].setengah %}
                    <img src="{{base_url()}}assets/images/halfstar.png"/>
                  {% endif %}
                </div>
                <div class="s2" style="padding:15 0 0 15;">{{point_dosen[0].total}}</div>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->

      </div>
      <!-- /.row -->



      <!-- Small boxes (Stat box) -->
      <div class="row">

        <div class="col-lg-4"> 
         <div class="small-box small-box-uhamka bg-gray">
          <div class="inner" id="jabatan_akademik" style="height:200px;">

          </div>
        </div>
      </div>  
      <!-- ./col -->
      <div class="col-lg-4"> 
       <div class="small-box small-box-uhamka bg-gray">
        <div class="inner" id="pendidikan_dosen" style="height:200px;">

        </div>
      </div>
    </div>

    <div class="col-lg-4"> 
     <div class="small-box small-box-uhamka bg-gray">
      <div class="inner" id="pangkat" style="height:200px;">

      </div>
    </div>
  </div>

</div>
<!-- /.row -->



<!-- Small boxes (Stat box) -->
<div class="row">

  <div class="col-lg-6"> 
   <div class="small-box small-box-uhamka bg-gray">
    <div class="inner" id="point" style="height:300px;">

    </div>
  </div>
</div>  
<!-- ./col -->
<div class="col-lg-6"> 
 <div class="small-box small-box-uhamka bg-gray">
  <div class="inner" id="penelitian" style="height:300px;">

  </div>
</div>
</div>
</div>
<!-- /.row -->

<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3"> 

  </div>

  <div class="col-lg-6"> 
   <div class="small-box small-box-uhamka bg-gray">
    <div class="inner" id="total_luaran" style="height:300px;">

    </div>
  </div>
</div>  
<!-- ./col -->
<div class="col-lg-3"> 

</div>
</div>
<!-- /.row -->







<!-- E:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  --> 

</div><!-- .col-md-9 -->
</div> <!-- .row -->

</div><!-- box_body -->

</div><!-- .box box-primary --> 

</section>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
{# <script src="https://code.highcharts.com/modules/exporting.js"></script> #}
<script>
  $(document).ready(function(){
    $( "#tahun" ).change(function() {
      var value = $("#tahun").val();
      window.location.href = $.query.set("tahun", value);
    });
  });
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('jabatan_akademik', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Jabatan Akademik'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            x: 10,
            y: 20
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: 'Jabatan Akademik',
            colorByPoint: true,
            data: {{jabatan_akademik|json_encode()|raw}}
          }]
        });
      });
  });
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('pendidikan_dosen', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Pendidikan Dosen'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            x: 0,
            y: 20
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: 'Brands',
            colorByPoint: true,
            data: {{jenjang_pendidikan|json_encode()|raw}}
          }]
        });
      });
  });
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('pangkat', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Pangkat/Golongan Ruang'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            itemStyle: {
                    width: 90 // or whatever
                  },
                  x: 10,
                  y: 20
                },
                plotOptions: {
                  pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                      enabled: false
                    },
                    showInLegend: true
                  }
                },
                series: [{
                  name: 'Brands',
                  colorByPoint: true,
                  data: {{jabatan_fungsional|json_encode()|raw}}
                }]
              });
      });
  });
  $(function () {
    // Create the chart
    Highcharts.chart('point', {
      chart: {
        type: 'column',
        backgroundColor:'rgba(255, 255, 255, 0.1)'
      },
      title: {
        text: 'Laporan data point seluruh fakultas periode {{periode.dari}} - {{periode.sampai}}'
      },
      xAxis: {
        type: 'category'
      },
      yAxis: {
        title: {
          text: null
        }

      },
      legend: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
      },

      series: [{
        name: 'Fakultas',
        colorByPoint: true,
        data: [
        {% for item in total_point %}
        {
          name: '{{item.nama}}',
          y:{{item.total}}
        },
        {% endfor %}]
      }]
    });
  });

  $(function () {

    Highcharts.chart('penelitian', {
      chart: {
        type: 'column',
        backgroundColor:'rgba(255, 255, 255, 0.1)'
      },
      title: {
        text: 'Total Penelitian'
      },
      xAxis: {
        type: 'category'
      },
      yAxis: {
        title: {
          text: null
        }

      },
      legend: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
      },

      series: [{
        name: 'Fakultas',
        colorByPoint: true,
        data: [
        {% for item in total_penelitian %}
        {
          name: '{{item.nama}}',
          y:{{item.total}}
        },
        {% endfor %}]
      }]
    });
  });

  $(function () {
    // Create the chart
    Highcharts.chart('total_luaran', {
      chart: {
        type: 'column',
        backgroundColor:'rgba(255, 255, 255, 0.1)'
      },
      title: {
        text: 'Total Data Luaran Fakultas'
      },
      xAxis: {
        type: 'category'
      },
      yAxis: {
        title: {
          text: null
        }

      },
      legend: {
        enabled: false
      },
      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
      },

      series: [{
        name: 'Fakultas',
        colorByPoint: true,
        data: [
        {% for item in total_luaran %}
        {
          name: '{{item.nama}}',
          y: {{item.total}}
        },
        {% endfor %}]
      }]
    });
  });
</script>
{% endblock %}