{% extends 'template_nonlogin.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting <small>Jabatan Akademik</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Reporting</li>
        <li class="active">Jabatan Akademik</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_fakultas,get_prodi,get_nama_fakultas,get_nama_prodi = request_get('fakultas'), request_get('program_studi'), request_get('nama_fakultas'), request_get('nama_prodi') %}
          <form class="form-horizontal" id="search">
            <div class="box-body">
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="fakultas" name="fakultas">
                          <option value="">Semua Fakultas</option>
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="program_studi" name="program_studi">
                        </select>
                </div>
                <input type="hidden" value="true" name="cari" />
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>

        <div class="box bordernya">

          <div class="box-body">
            <div class="row">

              <div class="col-lg-3"> 
              </div>

              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="total_peritem" style="height:400px;">

                  </div>
              </div>
              </div>  
              <!-- ./col -->
              <div class="col-lg-3"> 
              </div>
            </div>
          </div>
  
        </div>
        <!-- e:form search -->
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){
  $("#dari").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  }).on('changeDate', function (selected) {
          var minDate = new Date(selected.date.valueOf());
          $('#sampai').datepicker('setStartDate', minDate);
  });
  $("#sampai").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  });

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}api/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });
  });

  $("#search").submit( function(eventObj) {
      if($("#fakultas").val()!=""){
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_fakultas")
              .attr('value', $("#fakultas option:selected").text())
              .appendTo('#search');
      }
      if($("#program_studi").val()!=""){
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_prodi")
              .attr('value', $("#program_studi option:selected").text())
              .appendTo('#search');
      }
      return true;
  });

  {% if get_fakultas %}
    $.get("{{base_url()}}pengguna/programstudijson/{{get_fakultas}}", function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
      $("#program_studi").val({{get_prodi}});
    });
  {% endif %}
  
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
$(function () {
    // Create the chart
    Highcharts.chart('total_peritem', {
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.1)'
        },
        title: {
            text: 'Jabatan Akademik {% if get_nama_fakultas %} Fakultas {{get_nama_fakultas}} - {{get_nama_prodi}} {% else %} Semua Fakultas {% endif %}'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: null
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
        },
        series: [{
            name: 'Fakultas',
            colorByPoint: true,
            data: {{items|json_encode()|raw}}
        }]
    });
});
</script>
{% endblock %}