{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reporting <small>Luaran Dikti</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
            <li>Reporting</li>
            <li class="active">Semua Luaran</li> 
        </ol>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <div class="box bordernya">
            <div class="box-header with-border">
                <h3 class="box-title">Form Pencarian</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="/reports/luarandikti" id="search">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Judul Penelitian</label>
                        <div class="col-md-10">
                            <input class="form-control input-sm" name="judul_penelitian" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tahun Usulan</label>
                        <div class="col-md-10">
                            <select class="form-control input-sm" name="tahun_usulan">
                                <option value="">Pilih</option>
                                {% for tahun in tahun_kegiatan %}
                                    <option value="{{tahun.id}}">{{tahun.tahun}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Status Validasi</label>
                        <div class="col-md-10">
                            <select class="form-control input-sm" name="status">
                                <option value="">Pilih</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">List Reporting</h3>  
            </div><!-- .box-header --> 
            <div class="box-body"> 
                <div class="row mb-10"> 
                    <div class="col-sm-12">
                        <div class="box-tools settingnya">
                            <label class="labelnya">Tampil data:</label> 
                            <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                            </div>  
                            <a href="" id="pdf" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a> 
                        </div> 
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered table-striped mb-0"> 
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nama Status Penelitian</th>
                                    <th>Judul Penelitian</th>
                                    <th>Lama Penelitian</th>
                                    <th>Aksi</th>
                                </tr> 
                            </thead>
                            <tbody>
                                {% for item in penelitian %}
                                    <tr>
                                        <td style="width: 10px">{{ loop.index }}</td>
                                        <td>{{ item.judul }}</td>
                                        <td>{{ item.judul }}</td>
                                        <td>{{ item.lama }}</td>
                                        <td>Aksi</td>
                                    </tr> 
                                {% endfor %}
                            </tbody> 
                            <tfoot> 
                                <th style="width: 10px">#</th>
                                <th>Nama Status Penelitian</th>
                                <th>Judul Penelitian</th>
                                <th>Lama Penelitian</th>
                                <th>Aksi</th>
                            </tfoot> 
                        </table>   
                    </div>
                </div>
                <ul class="pagination pull-right">
                </ul>
            </div> 
        </div>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
    $(document).ready(function(){
        $( "#jenis_penelitian" ).change(function() {
            let jp = $("#jenis_penelitian").val();
            
            $.get("{{base_url()}}reports/monitoringluaran/tahunjson/"+jp, function( data ) {
                console.log("data Tahun : ",data)
                var output='';
                output+='<option value="">Pilih</option>';
                for(var i=0;i<data.length;i++){
                    output+='<option value="'+data[i]["tahun_kegiatan"]["id"]+'">'+data[i]["tahun_kegiatan"]["tahun"]+'</option>';
                }
                $("#tahun_usulan").empty();
                $("#tahun_usulan").append(output);
            })
        })
    })
</script>
{% endblock %}