{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting <small>Semua Luaran</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Reporting</li>
        <li class="active">Semua Luaran</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_dari,get_sampai,get_fakultas,get_prodi,get_nama_fakultas,get_nama_prodi = request_get('dari'),request_get('sampai'), request_get('fakultas'), request_get('program_studi'), request_get('nama_fakultas'), request_get('nama_prodi') %}
          <form class="form-horizontal" id="search">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Durasi</label> 
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="dari" name="dari" placeholder="" value="{{get_dari}}">
                </div>
                <div class="col-sm-1">
                  <span class="form-control" style="border:none;">-</span>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="sampai" name="sampai" placeholder="" value="{{get_sampai}}">
                </div>
              </div>
              {% if get_fakultas!="" %}
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="fakultas" name="fakultas">
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              {% else %}
                <input type="hidden" name="fakultas" id="fakultas" value="">
              {% endif %}
              {% if get_prodi!="" and get_prodi!="all" %}
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="program_studi" name="program_studi">
                          {% for item in program_studi %}
                            <option value="{{item.id}}">{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              {% endif %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>

        <div class="box bordernya">

          <div class="box-body">
            <div class="row">

              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="total_perfakultas" style="height:300px;">

                  </div>
              </div>
              </div>  
              <!-- ./col -->
              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="total_peritem" style="height:300px;">

                  </div>
              </div>
              </div>
            </div>
          </div>
  
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Reporting</h3> -  {% if get_nama_fakultas %} {{get_nama_fakultas}} - {{get_nama_prodi}}{% else %} Semua Fakultas {% endif %} {{get_dari|replace({'-':'/'})}} - {{get_sampai|replace({'-':'/'})}}
                  {% if get_nama_prodi %}
                  <div class="box-tools settingnya">   
                        <a href="{{base_url()}}reports/luaran/?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{get_fakultas}}&program_studi=all&nama_fakultas={{get_nama_fakultas}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                  {% elseif get_nama_fakultas %}
                  <div class="box-tools settingnya">   
                        <a href="{{base_url()}}reports/luaran/?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{get_fakultas}}&nama_fakultas={{get_nama_fakultas}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                  {% endif %}
            </div><!-- .box-header --> 
            <div class="box-body"> 

                  <div class="row mb-10"> 
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">
                               <label class="labelnya">Urutkan Berdasarkan:</label> 
                               <div class="formnya">  
                                    <select class="form-control input-sm" name="orderby" id="orderby">
                                        <option value="DESC" {{set_select('orderby',"DESC",orderby=="DESC")}}>Tertinggi</option>
                                        <option value="ASC" {{set_select('orderby',"ASC",orderby=="ASC")}}>Terendah</option>
                                    </select>
                                </div>   
                                {# <label class="labelnya">Tampil data:</label> 
                                <div class="formnya">  
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                    </select>
                                </div>   #}
                                <a href="{{base_url()}}reports/luaran/pdf" id="pdf" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a> 
                          </div> 
                      </div>  
                  </div> <!-- .row --> 

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Fakultas</th>
                                <th style="width: 10%">Publikasi Jurnal</th>
                                <th style="width: 10%">Buku Ajar Teks</th>
                                <th style="width: 10%">Pemakalah</th>
                                <th style="width: 10%">HKI</th>
                                <th style="width: 10%">Luaran Lain</th>
                                <th style="width: 10%">Penyelenggara</th>
                                <th style="width: 10%">Penelitian Mandiri</th>
                                <th style="width: 87px">Total</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% set jurnalnya,buku_ajarnya,forum_ilmiahnya,hkinya,luaran_lainnya,penyelenggara_forum_ilmiahnya,penelitian_hibahnya,totalnya = 0,0,0,0,0,0,0,0 %}
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                    {% if get_prodi=="all" %}
                                      <a href="{{current_url()}}?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{item.fakultas}}&program_studi={{item.program_studi}}&nama_fakultas={{get_nama_fakultas}}&nama_prodi={{item.nama}}">{{item.nama}}</a>
                                    {% elseif get_prodi and get_prodi!="all" %}
                                      {{item.nama}}
                                    {% else %}
                                      <a href="{{current_url()}}?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{item.fakultas}}&program_studi=all&nama_fakultas={{item.nama}}">{{item.nama}}</a>
                                    {% endif %}
                                  </td>
                                  <td>{{item.jurnalnya}}</td>
                                  <td>{{item.buku_ajarnya}}</td>
                                  <td>{{item.forum_ilmiahnya}}</td>
                                  <td>{{item.hkinya}}</td>
                                  <td>{{item.luaran_lainnya}}</td>
                                  <td>{{item.penyelenggara_forum_ilmiahnya}}</td>
                                  <td>{{item.penelitian_hibahnya}}</td>
                                  <td>{{item.total}}</td>
                                </tr>
                                {% set jurnalnya=jurnalnya+item.jurnalnya %}
                                {% set buku_ajarnya=buku_ajarnya+item.buku_ajarnya %}
                                {% set forum_ilmiahnya=forum_ilmiahnya+item.forum_ilmiahnya %}
                                {% set hkinya=hkinya+item.hkinya %}
                                {% set luaran_lainnya=luaran_lainnya+item.luaran_lainnya %}
                                {% set penyelenggara_forum_ilmiahnya=penyelenggara_forum_ilmiahnya+item.penyelenggara_forum_ilmiahnya %}
                                {% set penelitian_hibahnya=penelitian_hibahnya+item.penelitian_hibahnya %}
                                {% set totalnya=totalnya+item.total %}
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th>
                                <th>Total</th>
                                <th style="width: 10%">{{jurnalnya}}</th>
                                <th style="width: 10%">{{buku_ajarnya}}</th>
                                <th style="width: 10%">{{forum_ilmiahnya}}</th>
                                <th style="width: 10%">{{hkinya}}</th>
                                <th style="width: 10%">{{luaran_lainnya}}</th>
                                <th style="width: 10%">{{penyelenggara_forum_ilmiahnya}}</th>
                                <th style="width: 10%">{{penelitian_hibahnya}}</th>
                                <th style="width: 87px">{{totalnya}}</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  {# <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul> #}

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

{% if get_fakultas %}
$.get("{{base_url()}}pengguna/programstudijson/"+{{get_fakultas}}, function( data ) {
  data = $.parseJSON(data);
  var output='';
  for(var i=0;i<data.length;i++){
    output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  }
  $("#program_studi").empty();
  $("#program_studi").append(output);
  $("#program_studi").val({{get_prodi}});
});
{% endif %}

$("#search").submit( function(eventObj) {
      if($("#fakultas").val()!=""){
          // $('<input />').attr('type', 'hidden')
          //     .attr('name', "program_studi")
          //     .attr('value', "all")
          //     .appendTo('#search');
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_fakultas")
              .attr('value', $("#fakultas option:selected").text())
              .appendTo('#search');
      }
      if($("#program_studi").val()!=""){
          // $('<input />').attr('type', 'hidden')
          //     .attr('name', "program_studi")
          //     .attr('value', "all")
          //     .appendTo('#search');
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_prodi")
              .attr('value', $("#program_studi option:selected").text())
              .appendTo('#search');
      }
      return true;
  });

  $("#dari").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  }).on('changeDate', function (selected) {
          var minDate = new Date(selected.date.valueOf());
          $('#sampai').datepicker('setStartDate', minDate);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $("#sampai").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  });

  $('#pdf').attr('href','{{base_url()}}reports/luaran/pdf'+$.query);
  
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});

$(function () {
    // Create the chart
    Highcharts.chart('total_perfakultas', {
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.1)'
        },
        title: {
            text: {% if get_prodi!='all' and get_prodi!='' %} '5 dosen dengan luaran tertinggi di {{get_nama_fakultas}}' {% elseif get_prodi=='all' %} 'Total Luaran Prodi Fakultas {{get_nama_fakultas}}' {% else %}'Total Data Luaran Fakultas'{% endif %}
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: null
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
        },

        series: [{
            name: 'Fakultas',
            colorByPoint: true,
            data: [
            {% if get_prodi!='all' and get_prodi!='' %}
            {% for item in items|slice(0, 5) %}
            {
                name: '{{item.nama}}',
                y: {{item.total}}
            },
            {% endfor %}]
            {% else %}
            {% for item in items %}
            {
                name: '{{item.nama}}',
                y: {{item.total}}
            },
            {% endfor %}]
            {% endif %}
        }]
    });
});

$(function () {
    // Create the chart
    Highcharts.chart('total_peritem', {
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.1)'
        },
        title: {
            text: 'Total Data Per Jenis Luaran'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: null
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
        },
        series: [{
            name: 'Data Luaran',
            colorByPoint: true,
            data: [{
                name: 'Publikasi Jurnal',
                y: {{jurnalnya}}
            }, {
                name: 'Buku Ajar/Teks',
                y: {{buku_ajarnya}}
            }, {
                name: 'Pemakalah',
                y: {{forum_ilmiahnya}}
            }, {
                name: 'HKI',
                y: {{hkinya}}
            }, {
                name: 'Luaran Lain',
                y: {{luaran_lainnya}}
            }, {
                name: 'Penyelenggara',
                y: {{penyelenggara_forum_ilmiahnya}}
            },{
                name: 'Penelitian Mandiri',
                y: {{penelitian_hibahnya}}
            }]
        }]
    });
});
</script>
{% endblock %}