{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reporting <small>Semua Luaran</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
            <li>Reporting</li>
            <li class="active">Semua Luaran</li>
        </ol>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <div class="box bordernya">
            <div class="box-header with-border">
                <h3 class="box-title">Form Pencarian</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="/reports/monitoringluaran" id="search">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Jenis Penelitian</label>
                        <div class="col-md-4">
                            <select id="jenis_penelitian" class="form-control input-sm" name="jenis_penelitian">
                                <option value="">Semua Jenis Penelitian</option>
                                {% for jp in jenis_penelitian %}
                                    <option value="{{ jp.id }}">{{ jp.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="control-label col-sm-2">Program Studi</label>
                        <div class="col-md-4">
                            <select id="program_studi" class="form-control input-sm" name="program_studi">
                                <option value="">Semua Program Studi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Fakultas</label>
                        <div class="col-md-4">
                            <select id="fakultas" class="form-control input-sm" name="fakultas">
                                <option value="">Semua Fakultas</option>
                                {% for fk in fakultas %}
                                    <option value="{{ fk.id }}">{{ fk.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="control-label col-sm-2">Tahun Usulan</label>
                        <div class="col-md-4">
                            <select id="tahun_usulan" class="form-control input-sm" name="tahun_usulan">
                                <option value="">Semua Tahun</option>
                                {% for item in tahun_kegiatan %}
                                  <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Batch Penelitian</label>
                        <div class="col-md-4">
                            <select id="batch" class="form-control input-sm" name="batch">
                                <option value="">Semua Batch</option>
                                {% for batch in batch_lists %}
                                    <option value="{{ batch.id }}">{{ batch.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="control-label col-sm-2">Luaran Penelitian</label>
                        <div class="col-md-4">
                            <select class="form-control input-sm" name="luaran_penelitian">
                                <option value="wajib_tambahan">Wajib dan Tambahan</option>
                                <option value="wajib">Wajib</option>
                                <option value="tambahan">Tambahan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>

        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">List Reporting</h3>
            </div><!-- .box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="small-box small-box-uhamka bg-gray">
                            <div class="inner" id="total_luaran" style="height:300px;" ></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row mb-10">
                    <div class="col-sm-12">
                        <div class="box-tools settingnya">
                            <label class="labelnya">Tampil data:</label>
                            <div class="formnya">
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                </select>
                            </div>
                            <a href="" id="pdf" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Jenis Penelitian</th>
                                    <th>Target Luaran</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gp in group_penelitian.items %}
                                    <tr>
                                        <td style="width: 10px">{{ loop.index }}</td>
                                        <td>{{ gp.nama }}</td>
                                        <td>
                                            {% for tl in gp.report_target_luaran %}
                                                {{ tl.total }} {{ tl.nama }}
                                                <br />
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="/reports/monitoringluaran/detail?jenis_penelitian={{gp.jenis_penelitian}}&program_studi={{params.program_studi}}&fakultas={{params.fakultas}}&tahun_usulan={{params.tahun_usulan}}&batch={{params.batch}}&luaran_penelitian=wajib_tambahan" target="_blank" class="btn-sm btn btn-success"> <span class="fa fa-info"> </span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <th style="width: 10px">#</th>
                                <th>Jenis Penelitian</th>
                                <th>Target Luaran</th>
                                <th>Aksi</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <ul class="pagination pull-right">
                  {% set paging = paging_creator(group_penelitian.page,group_penelitian.total_pages) %}
                  {{ paging|raw }}
                </ul>
            </div>
        </div>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
    $(document).ready(function(){
        $( "#views" ).change(function() {
            var value = $("#views").val();
            window.location.href = $.query.set("views", value).set('page',1);
        });

        $(".paging").click(function(){
            paging = $(this).data("page");
            window.location.href = $.query.set("page", paging)
        })

        $( "#jenis_penelitian" ).change(function() {
            let jp = $("#jenis_penelitian").val();

            $.get("{{base_url()}}reports/monitoringluaran/tahunjson/"+jp, function( data ) {
                console.log("data Tahun : ",data)
                var output='';
                output+='<option value="">Pilih</option>';
                for(var i=0;i<data.length;i++){
                    output+='<option value="'+data[i]["tahun_kegiatan"]["id"]+'">'+data[i]["tahun_kegiatan"]["tahun"]+'</option>';
                }
                $("#tahun_usulan").empty();
                $("#tahun_usulan").append(output);
            });
        })

        $( "#fakultas" ).change(function() {
            fakultas = $("#fakultas").val();

            $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
                data = $.parseJSON(data);
                var output='';
                output+='<option value="">Pilih</option>';
                for(var i=0;i<data.length;i++){
                    output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
                }
                $("#program_studi").empty();
                $("#program_studi").append(output);
            });

        });

        $(function() {
            Highcharts.chart('total_luaran', {
                chart: {
                    type: 'column',
                    backgroundColor: 'rgba(255, 255, 255, 0.1)'
                },
                title: {
                    text: 'Total Data Luaran'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:f}'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
                },
                series: [{
                    name: 'Data Luaran',
                    colorByPoint: true,
                    data: [{
                            name: 'Luaran Wajib',
                            y: {{ group_penelitian.total_ptlw ? group_penelitian.total_ptlw : 0 }}
                        },
                        {
                            name: 'Luaran Tambahan',
                            y: {{ group_penelitian.total_ptlt ? group_penelitian.total_ptlt : 0 }}
                        }
                    ]
                }]
            });
        });
    });
</script>
{% endblock %}
