{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reporting <small>Semua Luaran</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
            <li>Reporting</li>
            <li class="active">Semua Luaran</li>
        </ol>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">List Reporting</h3>
            </div><!-- .box-header -->
            <div class="box-body">
                <div class="row mb-10">
                    <div class="col-sm-12">
                        <div class="box-tools settingnya">
                            <label class="labelnya">Tampil data:</label>
                            <div class="formnya">
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Luaran Penelitian</th>
                                    <th>Tercapai</th>
                                    <th>Belum Tercapai</th>
                                    <th>Jumlah</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gp in group_penelitian.report_target_luaran %}
                                    <tr>
                                        <td style="width: 10px">#</td>
                                        <td>{{ gp.total }} {{ gp.nama }}</td>
                                        <td>{{ gp.total_tercapai }}</td>
                                        <td>{{ gp.total_belum_tercapai }}</td>
                                        <td>{{ gp.total_tercapai + gp.total_belum_tercapai }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <th style="width: 10px">#</th>
                                <th>Luaran Penelitian</th>
                                <th>Tercapai</th>
                                <th>Belum Tercapai</th>
                                <th>Jumlah</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <ul class="pagination pull-right">
                </ul>

            </div>
        </div>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
    $(document).ready(function(){
        $( "#jenis_penelitian" ).change(function() {
            let jp = $("#jenis_penelitian").val();

            $.get("{{base_url()}}reports/monitoringluaran/tahunjson/"+jp, function( data ) {
                console.log("data Tahun : ",data)
                var output='';
                output+='<option value="">Pilih</option>';
                for(var i=0;i<data.length;i++){
                    output+='<option value="'+data[i]["tahun_kegiatan"]["id"]+'">'+data[i]["tahun_kegiatan"]["tahun"]+'</option>';
                }
                $("#tahun_usulan").empty();
                $("#tahun_usulan").append(output);
            });
        })

        $( "#fakultas" ).change(function() {
            fakultas = $("#fakultas").val();

            $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
                data = $.parseJSON(data);
                var output='';
                output+='<option value="">Pilih</option>';
                for(var i=0;i<data.length;i++){
                    output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
                }
                $("#program_studi").empty();
                $("#program_studi").append(output);
            });

        });
    });
</script>
{% endblock %}
