{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting <small>Penelitian</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Reporting</li>
        <li class="active">Penelitian</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_dari,get_sampai,get_fakultas,get_prodi,get_status,get_nama_fakultas,get_nama_prodi = request_get('dari'),request_get('sampai'), request_get('fakultas'), request_get('program_studi'),request_get('status'), request_get('nama_fakultas'), request_get('nama_prodi') %}
          <form class="form-horizontal" id="search">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Durasi</label> 
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="dari" name="dari" placeholder="" value="{{get_dari}}">
                </div>
                <div class="col-sm-1">
                  <span class="form-control" style="border:none;">-</span>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="sampai" name="sampai" placeholder="" value="{{get_sampai}}">
                </div>
              </div>
              {% if get_fakultas!="" %}
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="fakultas" name="fakultas">
                          <option value="">Semua Fakultas</option>
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              {% else %}
                <input type="hidden" name="fakultas" id="fakultas" value="">
              {% endif %}
              {% if get_prodi!="" and get_prodi!="all" %}
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="program_studi" name="program_studi">
                          <option value="all">Semua Program Studi</option>
                          {% for item in program_studi %}
                            <option value="{{item.id}}">{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              {% endif %}
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Status Proposal</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="status" name="status">
                          <option value="">Semua Status</option>
                          <option value="4" {{set_select('status',"4","4"==get_status)}}>Diterima</option>
                          <option value="12" {{set_select('status',"12","12"==get_status)}}>Ditolak</option>
                        </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>

        <div class="box bordernya">

          <div class="box-body">
            {% if not get_prodi %}
            <div class="row">
              <div class="col-lg-3"> 
               
              </div>

              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="total" style="height:300px;">

                  </div>
              </div>
              </div>  
              <!-- ./col -->
              <div class="col-lg-3"> 
               
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col-lg-6"> 
                <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="permonth" style="height:300px;">

                  </div>
              </div>
              </div>

              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="total" style="height:300px;">

                  </div>
              </div>
              </div>  
              <!-- ./col -->
            </div>
            {% endif %}
          </div>
  
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Reporting</h3> -  {% if get_nama_fakultas %} {{get_nama_fakultas}} - {{get_nama_prodi}}{% else %} Semua Fakultas {% endif %} {{get_dari|replace({'-':'/'})}} - {{get_sampai|replace({'-':'/'})}}
                  {% if get_nama_prodi %}
                  <div class="box-tools settingnya">   
                        <a href="{{base_url()}}reports/penelitian/?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{get_fakultas}}&program_studi=all&nama_fakultas={{get_nama_fakultas}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                  {% elseif get_nama_fakultas %}
                  <div class="box-tools settingnya">   
                        <a href="{{base_url()}}reports/penelitian/?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{get_fakultas}}&nama_fakultas={{get_nama_fakultas}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                  {% endif %}
            </div><!-- .box-header -->
            <div class="box-body"> 

                  <div class="row mb-10"> 
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Urutkan Berdasarkan:</label> 
                               <div class="formnya">  
                                    <select class="form-control input-sm" name="orderby" id="orderby">
                                        <option value="DESC" {{set_select('orderby',"DESC",orderby=="DESC")}}>Tertinggi</option>
                                        <option value="ASC" {{set_select('orderby',"ASC",orderby=="ASC")}}>Terendah</option>
                                    </select>
                                </div>   
                                {% if get_dari %}
                                <a href="" id="pdf" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                                {% endif %} 
                          </div> 
                      </div>  
                  </div> <!-- .row --> 

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px"></th>
                                <th></th>
                                {% for year,i in table %}
                                  <th colspan="{{i|length}}">{{year}}</th>
                                {% endfor %}
                                <th style="width: 87px"></th>
                              </tr> 
                              <tr>
                                <th style="width: 10px">#</th>
                                  {% if get_nama_prodi %}
                                      <th>Nama</th>
                                  {% elseif get_nama_fakultas %}
                                      <th>Program Studi</th>
                                  {% else %}
                                      <th>Fakultas</th>
                                  {% endif %}
                                {% for year in table %}
                                  {% for month in year %}
                                    <th>{{angkatofirstbulan(month)}}</th>
                                  {% endfor %}
                                {% endfor %}
                                <th>Total</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% set arr = [] %}
                                {% set total = 0 %}
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                    {% if get_prodi == "all" %}
                                      <a href="{{current_url()}}?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{item.id}}&program_studi={{item.program_studi_id}}&status={{get_status}}&nama_fakultas={{get_nama_fakultas}}&nama_prodi={{item.nama}}">{{item.nama}}</a>
                                    {% elseif get_prodi and get_prodi !="all" %}
                                      {{item.nama}}
                                    {% else %}
                                      <a href="{{current_url()}}?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{item.id}}&program_studi=all&status={{get_status}}&nama_fakultas={{item.nama}}">{{item.nama}}</a>
                                    {% endif %}
                                  </td>
                                  {% for keys,itex in item %}
                                    {% if "-" in keys %}
                                      {% set arr = arr|merge({(keys~''):(arr[keys]+itex)}) %}
                                      <td>{{itex}}</td>
                                    {% endif %}
                                  {% endfor %}
                                  {% set total = total+item.total %}
                                  <td>{{item.total}}</td>
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Total</th>
                                {% for tot in arr %}
                                <th>{{tot}}</th>
                                {% endfor %}
                                <th>{{total}}</th>
                            </tr>
                             {# <tr>
                                <th style="width: 10px">#</th>
                                <th>Fakultas</th>
                                {% for year in table %}
                                  {% for month in year %}
                                    <th>{{angkatofirstbulan(month)}}</th>
                                  {% endfor %}
                                {% endfor %}
                                <th>Total</th>
                            </tr> #}
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  {# <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul> #}

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Fakultas</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

{% if get_fakultas %}
$.get("{{base_url()}}pengguna/programstudijson/"+{{get_fakultas}}, function( data ) {
  data = $.parseJSON(data);
  var output='<option value="all">Semua Program Studi</option>';
  for(var i=0;i<data.length;i++){
    output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  }
  $("#program_studi").empty();
  $("#program_studi").append(output);
  $("#program_studi").val({{get_prodi}});
});
{% endif %}

$("#search").submit( function(eventObj) {
      if($("#fakultas").val()!=""){
          // $('<input />').attr('type', 'hidden')
          //     .attr('name', "program_studi")
          //     .attr('value', "all")
          //     .appendTo('#search');
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_fakultas")
              .attr('value', $("#fakultas option:selected").text())
              .appendTo('#search');
      }
      if($("#program_studi").val()!=""){
          // $('<input />').attr('type', 'hidden')
          //     .attr('name', "program_studi")
          //     .attr('value', "all")
          //     .appendTo('#search');
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_prodi")
              .attr('value', $("#program_studi option:selected").text())
              .appendTo('#search');
      }
      return true;
  });


  $("#dari").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  }).on('changeDate', function (selected) {
          var minDate = new Date(selected.date.valueOf());
          $('#sampai').datepicker('setStartDate', minDate);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });
  
  $("#sampai").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  });
  
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });

  $('#pdf').attr('href','{{base_url()}}reports/penelitian/pdf'+$.query);

});
{% if charts %}
$(function () {

    Highcharts.chart('total', {
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.1)'
        },
        title: {
            text: 'Total Penelitian {% if not get_prodi %} per Fakultas {% else %} {% for item in charts %} {{item.nama}} {% endfor %} {% endif %} Bulan {{angkatobulan(dari|split('-')[1]-1)}} {{dari|split('-')[0]}} - {{angkatobulan(sampai|split('-')[1]-1)}} {{sampai|split('-')[0]}}'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: null
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
        },

        series: [{
            name: 'Fakultas',
            colorByPoint: true,
            data: [
            {% if get_prodi!='all' and get_prodi!='' %}
            {% for item in items|slice(0, 5) %}
            {
                name: '{{item.nama}}',
                y: {{item.total}}
            },
            {% endfor %}]
            {% else %}
            {% for item in items %}
            {
                name: '{{item.nama}}',
                y: {{item.total}}
            },
            {% endfor %}]
            {% endif %}
        }]
    });
});

$(function () {
  Highcharts.chart('permonth', {
      chart: {
          type: 'line'
      },
      title: {
          text: 'Data Penelitian {% for item in charts %} {{item.nama}} {% endfor %} Bulan {{angkatobulan(dari|split('-')[1]-1)}} {{dari|split('-')[0]}} - {{angkatobulan(sampai|split('-')[1]-1)}} {{sampai|split('-')[0]}}'
      },
      xAxis: {
          categories: [{% for year in table %}{% for month in year %}'{{angkatofirstbulan(month)}}',{% endfor %}{% endfor %}]
      },
      yAxis: {
          title: {
              text: ''
          }
      },
      plotOptions: {
          line: {
              dataLabels: {
                  enabled: true
              },
              enableMouseTracking: false
          }
      },
      series: [
      {% for item in charts %}
      {
        name:'{{item.nama}}',
        data:[{% for keys,itex in item %}{% if "-" in keys %}{{itex}},{% endif %}{% endfor %}]
      },
      {% endfor %}
      ]
  });
});
{% endif %}

</script>
{% endblock %}