{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting <small>Hasil Review</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Reporting</li>
        <li class="active">Hasil Review Proposal</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_jenispenelitian,get_fakultas,get_prodi,get_tahun_kegiatan,get_batch = request_get('jenis_penelitian'),request_get('fakultas'),request_get('program_studi'),request_get('tahun_kegiatan'),request_get('batch') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Jenis Penelitian</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="jenis_penelitian" name="jenis_penelitian">
                          <option value="">Semua Jenis Penelitian</option>
                          {% for item in jenis_penelitian %}
                            <option value="{{item.id}}" {{set_select('jenis_penelitian',item.id,item.id==get_jenispenelitian)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="fakultas" name="fakultas">
                          <option value="">Semua Fakultas</option>
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="program_studi" name="program_studi">
                          <option value="">Semua Program Studi</option>
                        </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Tahun</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="tahun_kegiatan" name="tahun_kegiatan">
                          <option value="">Semua Tahun Kegiatan</option>
                          {% for item in tahun_kegiatan %}
                            <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                          {% endfor %}
                        </select>
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Batch</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="batch" name="batch">
                          <option value="">Semua Batch</option>
                          {% for item in batch_lists %}
                            <option value="{{item.id}}" {{set_select('batch',item.id,item.id==get_batch)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
                <input type="hidden" value="True" name="cari" />
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Reporting</h3>  Fakultas 
            </div><!-- .box-header --> 
            <div class="box-body"> 

                  <div class="row mb-10"> 
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">
   
                                <label class="labelnya">Tampil data:</label> 
                                <div class="formnya">  
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                    </select>
                                </div>  
                                <a href="" id="pdf" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a> 
                          </div> 
                      </div>  
                  </div> <!-- .row --> 

                  <div class="row">
                      <div class="col-sm-12 table-responsive" style="left:6px;">
                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="2">Rekomendasi Anggaran</th>
                                <th></th>
                                <th colspan="2">Pencairan Dana</th>
                              </tr> 
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Peneliti</th>
                                <th>Fakultas - Prodi</th>
                                <th>Jenis Penelitian</th>
                                <th>Judul Penelitian</th>
                                <th>Batch</th>
                                <th>Nilai</th>
                                <th>Anggaran</th>
                                <th>Reviewer 1</th>
                                <th>Reviewer 2</th>
                                <th>Dana Disetujui</th>
                                <th>Tahap 1</th>
                                <th>Tahap 2</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                    Ketua :<br>- {{item.dosen.nama_lengkap}}<br>
                                    {% if item.penelitian.anggota %}
                                    Anggota:<br>
                                    {% for ang in item.penelitian.anggota %}
                                    - {{ang.dosen.nama_lengkap}}<br>
                                    {% endfor %}
                                    {% endif %}
                                  </td>
                                  <td>
                                    Fakultas: {{item.dosen.fakultas.nama}}<br>
                                    Program Studi: {{item.dosen.program_studi.nama}}
                                  </td>
                                  <td>{{item.penelitian.jenis_penelitian.nama}}</td>
                                  <td>{{item.penelitian.judul}}</td>
                                  <td>{{item.penelitian.tahun_kegiatan.tahun}}<br>
                                      {{item.penelitian.batch.nama}}
                                  </td>
                                  <td>
                                    {% set nilai=0 %}
                                    {% for co in item.penelitian.penelitian_review_inselected %}
                                      {% for c in co.penelitian_nilai %}
                                        {% set nilai=nilai+c.nilai %}
                                      {% endfor %}
                                    {% endfor %}
                                    {{nilai}}
                                  </td>
                                  <td>{{item.penelitian.rp_total_biaya}}</td>
                                  <td>{{item.penelitian.penelitian_review_exselected[0].rp_rekomendasi}}</td>
                                  <td>{{item.penelitian.penelitian_review_exselected[1].rp_rekomendasi}}</td>
                                  <td>{{item.penelitian.penelitian_review_inselected[0].rp_rekomendasi}}</td>
                                  {% set dana1,dana2,hitung = 0,0,0 %}
                                  {% set hitung = item.dana * (item.penelitian.penelitian_review_inselected[0].rekomendasi) / 100 %}
                                  {% set hitung = (hitung / 100000)|round(0, 'ceil') %} {% set hitung = hitung * 100000 %}
                                  {% set dana1 = hitung %}
                                  {% set dana2 = item.penelitian.penelitian_review_inselected[0].rekomendasi-hitung %}
                                  <td>{{dana1}}</td>
                                  <td>{{dana2}}</td>
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th>
                                <th>Peneliti</th>
                                <th>Fakultas - Prodi</th>
                                <th>Jenis Penelitian</th>
                                <th>Judul Penelitian</th>
                                <th>Batch</th>
                                <th>Nilai</th>
                                <th>Anggaran</th>
                                <th>Reviewer 1</th>
                                <th>Reviewer 2</th>
                                <th>Dana Disetujui</th>
                                <th>Tahap 1</th>
                                <th>Tahap 2</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });

  $('#pdf').attr('href','{{base_url()}}reports/review/pdf'+$.query+"&views=1000000");

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });
  });

  // $("#jenis_penelitian").change(function(){
  //   jenis_penelitian = $("#jenis_penelitian").val();
  //   $.get("{{base_url()}}batchpenelitians/json/"+jenis_penelitian,function(data){
  //     data = $.parseJSON(data);
  //     var output='';
  //     output += '<option value="">Semua Tahun</option>';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["tahun"]["tahun"]+'</option>';
  //     }
  //     $("#tahun_kegiatan").empty();
  //     $("#tahun_kegiatan").append(output);
  //   });
  // });

  // $( "#tahun_kegiatan" ).change(function() {
  //   tahun_kegiatan = $("#tahun_kegiatan").val();

  //   $.get("{{base_url()}}batchs/json/"+tahun_kegiatan, function( data ) {
  //     data = $.parseJSON(data);
  //     var output='';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  //     }
  //     $("#batch").empty();
  //     $("#batch").append(output);
  //   });
  // });


  {% if get_fakultas %}
    $.get("{{base_url()}}pengguna/programstudijson/{{get_fakultas}}", function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
      $("#program_studi").val({{get_prodi}});
    });
  {% endif %}
  // {% if get_jenispenelitian %}
  //   $.get("{{base_url()}}batchpenelitians/json/{{get_jenispenelitian}}",function(data){
  //         data = $.parseJSON(data);
  //         var output='';
  //         output += '<option value="">Tahun</option>';
  //         for(var i=0;i<data.length;i++){
  //           output+='<option value="'+data[i]["id"]+'">'+data[i]["tahun"]["tahun"]+'</option>';
  //         }
  //         $("#tahun_kegiatan").empty();
  //         $("#tahun_kegiatan").append(output);
  //         $("#tahun_kegiatan").val({{get_tahun_kegiatan}});
  //   });
  // {% endif %}
  // {% if get_tahun_kegiatan %}
  //   $.get("{{base_url()}}batchs/json/{{get_tahun_kegiatan}}", function( data ) {
  //     data = $.parseJSON(data);
  //     var output='';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  //     }
  //     $("#batch").empty();
  //     $("#batch").append(output);
  //     $("#batch").val({{get_batch}});
  //   });
  // {% endif %}

});
</script>
{% endblock %}