{% extends 'template_nonlogin.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporting <small>Statistik Luaran</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Reporting</li>
        <li class="active">Statistik Luaran</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_dari,get_sampai,get_fakultas,get_prodi,get_nama_fakultas,get_nama_prodi = request_get('dari'),request_get('sampai'), request_get('fakultas'), request_get('program_studi'), request_get('nama_fakultas'), request_get('nama_prodi') %}
          <form class="form-horizontal" id="search" data-toggle="validator">
            <div class="box-body">
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="fakultas" name="fakultas">
                          <option value="">Semua Fakultas</option>
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-4">
                        <select class="form-control" id="program_studi" name="program_studi">
                        </select>
                </div>
                <input type="hidden" value="true" name="cari" />
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Durasi</label> 
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="dari" name="dari" placeholder="" value="{{get_dari}}" required>
                </div>
                <div class="col-sm-2">
                  <span class="form-control" style="border:none;text-align:center">-</span>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="sampai" name="sampai" placeholder="" value="{{get_sampai}}" required>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>

        <div class="box bordernya">

          <div class="box-body">
            <div class="row">
              <div class="col-lg-3"> 
               
              </div>

              <div class="col-lg-6"> 
               <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="permonth" style="height:300px;">

                  </div>
              </div>
              </div>  
              <!-- ./col -->
              <div class="col-lg-3"> 
               
              </div>
            </div>

          </div>
  
        </div>
        <!-- e:form search -->

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){
  $("#dari").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  }).on('changeDate', function (selected) {
          var minDate = new Date(selected.date.valueOf());
          $('#sampai').datepicker('setStartDate', minDate);
  });

  $("#search").submit( function(eventObj) {
      if($("#fakultas").val()!=""){
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_fakultas")
              .attr('value', $("#fakultas option:selected").text())
              .appendTo('#search');
      }
      if($("#program_studi").val()!=""){
          $('<input />').attr('type', 'hidden')
              .attr('name', "nama_prodi")
              .attr('value', $("#program_studi option:selected").text())
              .appendTo('#search');
      }
      return true;
  });

  $("#sampai").datepicker( {
      format: "mm-yyyy",
      startView: "months", 
      minViewMode: "months"
  });

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}api/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });
  });
  
  {% if get_fakultas %}
    $.get("{{base_url()}}pengguna/programstudijson/{{get_fakultas}}", function( data ) {
      data = $.parseJSON(data);
      var output='<option value="">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
      $("#program_studi").val({{get_prodi}});
    });
  {% endif %}

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
{% if items %}
$(function () {
  Highcharts.chart('permonth', {
      chart: {
          type: 'line'
      },
      title: {
          text: 'Statistik Luaran {% if get_nama_fakultas %} {{get_nama_fakultas}} - {{get_nama_prodi}} {% else %} Semua Fakultas {% endif %} {{get_dari|replace({'-':'/'})}} - {{get_sampai|replace({'-':'/'})}}'
      },
      xAxis: {
          categories: [{% for year in table %}{% for month in year %}'{{angkatofirstbulan(month)}}',{% endfor %}{% endfor %}]
      },
      yAxis: {
          title: {
              text: ''
          }
      },
      plotOptions: {
          line: {
              dataLabels: {
                  enabled: true
              },
              enableMouseTracking: false
          }
      },
      series: [
      {% for item in items %}
      {
        name:'{{item.type}}',
        data:[{% for keys,itex in item %}{% if "-" in keys %}{{itex}},{% endif %}{% endfor %}]
      },
      {% endfor %}
      ]
  });
});
{% endif %}

</script>
{% endblock %}