{% extends 'pengaturan/penelitian/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}penilaians/{{jenpen.jenis_penelitian.id}}">Penilaian</a></li>
<li class="active">Kriteria Penilaian</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-anggaran"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                      <div class="col-sm-1 pull-right"> 
                      <a href="{{base_url()}}penilaians/{{jenpen.jenis_penelitian.id}}" class="btn btn-primary btn-sm pull-right" style="height:30px;padding-top:5px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
                     </div>
                    <div class="col-sm-7 pull-right">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Kriteria</th>
                            <th>Indikator Penilaian</th>
                            <th>Bobot</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% set total_bobot = 0 %}
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.nama|nl2br}}
                              </td>
                              <td>
                                  {{item.indikator|nl2br}}
                              </td>
                              <td>
                                  {{item.bobot}}
                                  {% set total_bobot = total_bobot+item.bobot %}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}penilaiankriterias/delete/{{item.id}}/batchpenelitians/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
{#                          <tr> 
                            <th style="width: 10px">#</th>
                            <th>Kriteria</th>
                            <th>Indikator Penilaian</th>
                            <th>Bobot</th>
                            <th>Action</th>
                          </tr>  #}
                        </tr>
                        <tr> 
                          <th colspan="3">Total Bobot</th>
                          <th>{{total_bobot}}</th>
                          <th></th>
                        </tr> 
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
      <div class="modal fade" id="add-anggaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {{ form_open('penilaiankriterias/add/'~jenpen.id,'data-toggle="validator"') }}
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Tambah Kriteria Penilaian</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                      <div class="form-horizontal">
                          <div class="box-body"> 
                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Kriteria</label> 
                                <div class="col-sm-10">
                                  <textarea class="form-control" id="nama" name="nama" placeholder="Kriteria Penilaian" required rows="5"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Indikator Penilaian</label> 
                                <div class="col-sm-10">
                                  <textarea class="form-control" id="indikator" name="indikator" placeholder="Indikator Penilaian" required rows="5"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Bobot</label> 
                                <div class="col-sm-10">
                                  <input type="text" pattern="^[0-9]+$" class="form-control" data-remote="{{base_url()}}penilaiankriterias/is_valid/?penilaian={{jenpen.id}}" id="bobot" name="bobot" placeholder="bobot" required>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                          </div>
                          <!-- /.box-body --> 
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                    </div>
                </div>
            </div>
          </div>
          </form>
        </div>
      <!-- /.tab-content -->
      {% for item in items %}
        <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nama Target Luaran</h4>
                  </div>
                  {{ form_open('penilaiankriterias/edit/'~item.id,'data-toggle="validator"') }}
                  <div class="modal-body" id="validate_message">
                    <div class="form-horizontal">
                        <div class="box-body"> 
                          <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Kriteria</label> 
                            <div class="col-sm-10">
                              <textarea class="form-control" id="nama" name="nama" placeholder="Kriteria Penilaian" required rows="5">{{item.nama}}</textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Indikator Penilaian</label> 
                            <div class="col-sm-10">
                              <textarea class="form-control" id="indikator" name="indikator" placeholder="Indikator Penilaian" required rows="5">{{item.indikator}}</textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Bobot</label> 
                            <div class="col-sm-10">
                              <input type="text" pattern="^[0-9]+$" class="form-control" id="bobot" name="bobot" placeholder="bobot" required value="{{item.bobot}}" data-remote="{{base_url()}}penilaiankriterias/is_valid/?id={{item.id}}&penilaian={{jenpen.id}}">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="penilaian" value="{{jenpen.id}}">
                        <!-- /.box-body --> 
                    </div> 
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                      <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                  </div>
                  </form>
              </div>
          </div>
        </div>
        </div>
      {% endfor %}
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}