{% extends 'pengaturan/penelitian/index.twig' %}
{% block breadcrumb %}
<li class="active">Bobot Luaran</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}batasanggarans/{{jenpen.id}}">Batas Anggaran</a></li>
            <li><a href="{{base_url()}}janjiluarans/{{jenpen.id}}">Janji Luaran</a></li> 
            <li><a href="{{base_url()}}batchpenelitians/{{jenpen.id}}">Batch Penelitian</a></li> 
            <li><a href="{{base_url()}}targetluarans/{{jenpen.id}}">Target Luaran</a></li>
            <li><a href="{{base_url()}}keanggotaans/{{jenpen.id}}">Keanggotaan</a></li> 
            <li><a href="{{base_url()}}penilaians/{{jenpen.id}}">Penilaian</a></li>
            <li><a href="{{base_url()}}syaratpenelitians/{{jenpen.id}}">Syarat Penelitian</a></li>
            <li class="active"><a href="{{base_url()}}pengaturan/penelitian/bobotluarans/{{jenpen.id}}">Bobot Luaran</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobothasils/{{jenpen.id}}">Bobot Hasil</a></li>
            <a href="{{base_url()}}jenispenelitians/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-syarat"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Versi</th> 
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.nama}}
                              </td> 
                              <td>
                                  {{item.status_text}}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-syarat{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  {% if item.status ==0 %}
                                  <a href="#" data-href="{{base_url()}}pengaturan/penelitian/bobotluarans/edit/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                                  {% endif %}
                              </td> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Versi</th> 
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
    {% for item in items %}
    <div class="modal fade" id="edit-syarat{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{ form_open('pengaturan/penelitian/bobotluarans/edit/'~item.id, 'data-toggle="validator"') }}
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Syarat Penelitian</h4>
              </div>
                <div class="modal-body" id="validate_message">
                  <div class="form-horizontal">
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Nama Versi</label> 
                        <div class="col-sm-8">
                          <input type="hidden" name="jenis_penelitian" value="{{jenpen.id}}">
                          <input type="text" class="form-control" id="nama" name="nama" value="{{item.nama}}">
                        </div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Bobot Penilaian</label> 
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Publikasi Jurnal</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="jurnal" name="jurnal" disabled value="{{item.data1}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Buku Ajar</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="bukuajar" name="bukuajar" disabled value="{{item.data2}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Seminar/Simposium</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="seminar" name="seminar" disabled value="{{item.data3}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Invited Speaker</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="speaker" name="speaker" disabled value="{{item.data4}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Visiting Scientist</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="scientist" name="scientist" disabled value="{{item.data5}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Luaran Lainnya</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="luaran" name="luaran" disabled value="{{item.data6}}">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Jumlah</label> 
                        <div class="col-sm-4">
                          <input type="text" class="form-control" disabled id="total" name="total" value="100">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Status </label> 
                    <div class="col-sm-8">
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="status" value="1" {{set_radio('status', '1','1'==item.status)}}>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="status" id="status" value="0" {{set_radio('status', '0','0'==item.status)}}>
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>
                  </div>  
                </div>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                  <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
          </div>
      </div>
    </div>
    </form>
  </div> 
    {% endfor %}
    <div class="modal fade" id="add-syarat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('pengaturan/penelitian/bobotluarans/add/'~jenpen.id, 'data-toggle="validator" id="myForm"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Tambah Bobot Luaran</h4>
                </div>
                <div class="modal-body" id="validate_message">
                  <div class="form-horizontal">
                  <div class="box-body"> 
                      <div class="form-group">
                        <input type="hidden" name="jenis_penelitian" value="{{jenpen.id}}">
                        <label for="" class="col-sm-4 control-label">Nama Versi</label> 
                        <div class="col-sm-8">
                          <input type="text" class="form-control" required id="nama" name="nama">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Bobot Penilaian</label> 
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Publikasi Jurnal</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="1" name="1">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Buku Ajar</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="2" name="2">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Seminar/Simposium</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="3" name="3">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Invited Speaker</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="4" name="4">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Visiting Scientist</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="5" name="5">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Luaran Lainnya</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control bobot" required id="6" name="6">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Jumlah</label> 
                        <div class="col-sm-4">
                          <input type="number" class="form-control totalx" readonly id="totalx" name="total">
                          <input type="hidden" data-validate="true" class="form-control totalx" data-equals="100" id="totalx" name="total">
                        </div>
                        <div class="col-sm-4"></div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Status </label> 
                    <div class="col-sm-8">
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="status" disabled="" value="1" {{set_radio('status', '1')}}>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="status" id="status" checked="" value="0" {{set_radio('status', '0',True)}}>
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                </div>
            </div>
        </div>
      </div>
      </form>
    </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $('#myForm').validator({
    custom: {
      equals: function($el) {
        var matchValue = $el.data("equals"); // foo
        console.log($el.val()+" "+matchValue)
        if (parseInt($el.val()) !== parseInt(matchValue)) {
          return "Hey, that's not valid! It's gotta be " + matchValue
        }
      }
    }
  });

  $( ".bobot" ).each(function( index ) {
    $(this).keyup(function(){
      var count = 0;
      $( ".bobot" ).each(function( index ) {
          console.log(count);
          juml = parseInt($(this).val())
          juml = !isNaN(juml) ?  juml : 0;
          count+=juml
          $(".totalx").val(count);
      });
    })
  });

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}