{% extends 'template.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Luaran Penelitian
                <small>Pemakalah Forum Ilmiah</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li>
                    <a href="#">
                        Luaran Penelitian
                    </a>
                </li>
                <li class="active">Pemakalah Forum Ilmiah</li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">
            {% set error = validation_errors_array() %}

            {{ form_open_multipart('forumilmiahs/add','class="form-horizontal" id="jurnal"') }}
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Pemakalah Forum Ilmiah</h3>
                    <div class="box-tools settingnya">
                        <a href="{{base_url()}}forumilmiahs/" class="btn btn-primary btn-sm pull-left ml-20">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                            Kembali</a>
                    </div>
                </div>
                <!-- .box-header -->

                <div class="box-body">

                    <!-- s:Personil Dosen-->
                    <div class="box bordernya">
                        <div class="box-header with-border">
                            <h3 class="box-title">Personil Dosen</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">NIDN
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="" class="form-control" id="nidn" name="nidn" value="{{set_value('nidn',userinfo.nidn)}}" placeholder="NIDN" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">Nama Dosen
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="" class="form-control" id="nama" name="nama" value="{{set_value('nama',userinfo.nama_lengkap)}}" placeholder="Dosen" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-3 control-label">Program Studi
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="" class="form-control" id="program_studi" name="program_studi" value="{{set_value('program_studi',userinfo.program_studi.nama)}}" placeholder="Program Studi" disabled="disabled">
                                    </div>
                                    <input type="hidden" id="dosen" name="dosen" value="{{set_value(" dosen",userinfo.id)}}"="dosen",userinfo.id)}}""/>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- e:form search -->
                    </div>
                    <!-- e:Personil Dosen -->

                    <!-- s:Personil Dosen-->
                    <div class="box bordernya">
                        <div class="box-header with-border">
                            <h3 class="box-title">Data Pemakalah Forum Ilmiah</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Tahun Kegiatan
                                    </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="tahun">
                                            <option value="" {{ set_select('tahun', '', TRUE) }}>Pilih</option>
                                            {% for item in items_tahun %}
                                                <option value="{{ item.id }}" {{ set_select('tahun', item.id) }}>{{item.tahun}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="text-danger">{{error.tahun}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">Tingkat Forum Ilmiah</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="tingkat" name="tingkat">
                                            <option value="">- List Tingkat Forum Ilmiah -</option>
                                            <option value="1" {{set_select('tingkat',1)}}>Tingkat Internasional</option>
                                            <option value="2" {{set_select('tingkat',2)}}>Tingkat Nasional</option>
                                            <option value="3" {{set_select('tingkat',3)}}>Tingkat Regional</option>
                                        </select>
                                        <span class="text-danger">{{error.tingkat}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">Judul Makalah</label>
                                    <div class="col-sm-10">
                                        <input type="" class="form-control" id="judul" name="judul" value="{{set_value(" judul")}}"="judul")}}"" placeholder="Judul">
                                        <span class="text-danger">{{error.judul}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Abstrak
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="abstrak" rows="5">{{ set_value('abstrak') }}</textarea>
                                        <span class="text-danger">{{error.abstrak}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Nama Forum
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="" class="form-control" id="forum" name="forum" value="{{set_value(" forum")}}"="forum")}}"" placeholder="Nama Forum ">
                                        <span class="text-danger">{{error.forum}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Institusi Penyelenggara
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="" class="form-control" id="penyelenggara" name="penyelenggara" value="{{set_value(" penyelenggara")}}"="penyelenggara")}}"" placeholder="Institusi">
                                        <span class="text-danger">{{error.penyelenggara}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Waktu Pelaksanaan
                                    </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="reservationtime" name="waktu" value="{{set_value('waktu')}}" readonly='true'>
                                            <span class="text-danger">{{error.waktu}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="status">
                                            <option value="pemakalah_biasa" {{set_select('status','pemakalah_biasa')}}>
                                                Pemakalah Biasa
                                            </option>
                                            <option value="invited_speaker" {{set_select('status','invited_speaker')}}>
                                                Invited Speaker
                                            </option>
                                        </select>
                                        <span class="text-danger">{{error.status}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">
                                        Tempat Pelaksanaan
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="" class="form-control" id="tempat" name="tempat" value="{{set_value('tempat')}}" placeholder="Tempat">
                                        <span class="text-danger">{{error.tempat}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input type="hidden" class="form-control" id="pdf" placeholder="" readonly="readonly" name="pdf" value="{{ set_value('pdf',berkas) }}">
                                        <span id="warning" class="text-danger">{{error.pdf}}</span>
                                    </div>
                                </div>
                            </form>
                            {{ form_open_multipart('forumilmiahs/upload','class="form-horizontal" id="upload"') }}
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">
                                    Berkas
                                </label>

                                <div class="col-sm-10">
                                    <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                                    <div class="bootstrap-filestyle input-group">
                                        <input type="text" class="form-control " placeholder="" disabled="" id="filename">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="icondemo" class="btn btn-warning ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                                <span class="buttonText">Select File</span>
                                            </label>
                                            <button type="submit" class="btn btn-success" id="submit_upload">
                                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                                Uploads
                                            </button>
                                        </span>
                                    </div>
                                    <small>*Jurnal yang diterbitkan(Cover, Daftar isi dan Makalah penulis yang berafiliasi uhamka.</small><br>
                                    <small>*File dalam format .pdf dan maksimal 10MB.</small><br>
                                    <span id="" class="text-danger">{{error.file}}</span>
                                </div>
                                <!-- col-sm-10 -->

                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="progress">
                                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            <span class="percent"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-sm-10 -->
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- e:form search -->
                
                <div class="box-body">
                    <div class="box bordernya">
                        <div class="box-header with-border">
                            <h3 class="box-title">Anggota</h3>
                            <a href="#" id="add_anggota" class="btn btn-sm btn-danger pull-right"> <i class="fa fa-plus"> </i> Tambah Anggota </a>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>NIP</th>
                                                    <th>Dosen</th>
                                                    <th>Program Studi</th>
                                                    <th>Status</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dynamic_field">
                                                <tr id="rowss1">
                                                    <td style="width: 10px">1</td>
                                                    <td>
                                                        <input type="hidden" value="{{ user.id }}" name="anggota_add[1][dosen_id]">
                                                        <input type="hidden" value="{{ user.nidn }}" name="anggota_add[1][nidn_anggota]">
                                                        {{ user.nidn }}
                                                    </td>
                                                    <td>{{ user.nama }}</td>
                                                    <td>{{ user.program_studi.nama }}</td>
                                                    <td>
                                                        <select name="anggota_add[1][status_anggota]">
                                                            <option selected="selected" value="ketua">Ketua</option>
                                                            <option value="anggota">Anggota</option>
                                                        </select>
                                                    </td>
                                                    <td>Aksi</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>NIP</th>
                                                    <th>Dosen</th>
                                                    <th>Program Studi</th>
                                                    <th>Status</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- e:Personil Dosen -->

        </div>
        <!-- box_body -->

        <div class="box-footer tc">
            <button type="submit" class="btn btn-success" disabled="disabled" id="simpan_button">
                <i class="glyphicon glyphicon-floppy-disk"></i>
                Simpan</button>
            <a href="{{base_url()}}forumilmiahs/" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i>
                Cancel</a>
        </div>

    </div>
    <!-- .box box-primary -->
</form>
</section>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{{base_url()}}assets/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Page script -->
<script>
$(function() {
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY'});
});
$(document).ready(function() {
    $("#nidn").keyup(function() {
        nidn = $("#nidn").val();
        $.get("{{base_url()}}pengguna/json/" + nidn, function(data) {
            data = $.parseJSON(data);
            console.log(data);
            $("#dosen").val(data[0]["id"]);
            $("#nama").val(data[0]["nama"]);
            $("#program_studi").val(data[0]["program_studi"]["nama"]);
        });
    });

    $("input[name='file']").change(function() {
        var fileName = $(this).val().split('/').pop().split('\\').pop();
        $("#filename").val(fileName);
        $("#warning").empty('');
        $("#submit_upload").removeClass('disabled');
        if (parseInt($(this).context.files[0].size) > 10000000) {
            $("#warning").append('File Size more than 10 MB');
            $("#submit_upload").addClass('disabled');
        }
        bar.width('0%');
        percent.html('0%');
    });

    $("#jurnal").submit(function(e) {
        if ($("#submit_upload").hasClass('disabled')) {
            e.preventDefault();
        }
    });

    var bar = $('.bar');
    var percent = $('.percent');

    $("#upload").ajaxForm({
        beforeSubmit: function() {
            if ($("#submit_upload").hasClass('disabled')) {
                return false;
            }
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
            return true;
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        success: function(responseText, statusText, xhr, $form) {
            console.log(responseText);
            split = responseText.split(".");
            if (responseText.indexOf('attempting to upload is not allowed') > -1 || responseText.indexOf('You did not select a file to upload') > -1) {
                $("#pdf").val("");
                percent.html("File Gagal Upload");
                $("#warning").text("File yang di upload harus berformatkan pdf");
            } else {
                $("#warning").text("");
                percent.html("File Berhasil Upload");
                $("#pdf").val(responseText);
                $('#simpan_button').removeAttr('disabled')
            }

        }
    });
    
    var i=1;
    $('#add_anggota').click(function(){  
        event.preventDefault();
        i++;  
        $('#dynamic_field').append('<tr id="row'+i+'" class="dynamic-added">'
            +'<td style="width: 10px"></td>'
            +'<td>'
            +'<input type="hidden" class="form-control" data-row-id="'+i+'" id="dosen_id'+i+'" name="anggota_add['+i+'][dosen_id]">'
            +'<input type="text" class="form-control nidn_anggota" data-row-id="'+i+'" id="nidn_anggota'+i+'" name="anggota_add['+i+'][nidn_anggota]" placeholder="NIDN"></td>'
            +'<td><span id="dosen_anggota'+i+'">Dosen</span></td>'
            +'<td><span id="prodi_anggota'+i+'">Program Studi</span></td>'
            +'<td><select name="anggota_add['+i+'][status_anggota]"><option value="ketua">Ketua</option><option selected="selected" value="anggota">Anggota</option></select></td>'
            +'<td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td>'
        +'</tr>');  
    });
    
    $(document).on('click', '.btn_remove', function(){  
        var rowid = $(this).attr("id");   
        $('#row'+rowid+'').remove();  
    });
    
    $(document).on('keyup', ".nidn_anggota",function () {
        var nidn = $(this).val();
        var rowid = $(this).attr("data-row-id");
        $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
            data = $.parseJSON(data);
            if(data.length != 0){
                $("#dosen_id"+rowid).val(data[0]["id"]);
                $("#dosen_anggota"+rowid).html(data[0]["nama"]);
                $("#prodi_anggota"+rowid).html(data[0]["program_studi"]["nama"]);
            }else{
                $("#dosen_id"+rowid).val();
                $("#dosen_anggota"+rowid).html();
                $("#prodi_anggota"+rowid).html();
            }
        });
    });
})
</script>
{% endblock %}