{% extends 'pengaturan/akademik/index.twig' %}

{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}akademik/jabatanakademik/">Jabatan Akademik</a></li>
            <li><a href="{{base_url()}}akademik/jabatanfungsional/">Pangkat / Golongan Ruang</a></li>
            <li><a href="{{base_url()}}akademik/fakultas/">Fakultas</a></li>
            <li><a href="{{base_url()}}akademik/programstudi/">Program Studi</a></li>  
            <li class="active"><a href="{{base_url()}}akademik/bidangkeahlian/">Bidang Keahlian</a></li>
            <li ><a href="{{base_url()}}akademik/subbidangkeahlian/">Sub Bidang Keahlian</a></li>
    </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_4">
                <div class="bheader">
                      <h3 class="btitle">Bidang Keahlian</h3>
                </div>  

                  <!-- s:form search -->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Form Tambah Data</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  {{form_open('akademik/bidangkeahlian','class="form-horizontal"')}} 
                    <div class="box-body">
                      <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Bidang Keahlian</label> 
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="bidangkeahlian">
                            {% set error = validation_errors_array() %}
                            <span class="text-danger">{{error.bidangkeahlian}}</span>
                          </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-danger pull-right mr-10"> <i class="fa fa-plus"> </i> Tambah</button>
                    </div>
                    <!-- /.box-footer --> 
                    </form>
                </div>
                <!-- e:form search -->

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Bidang Keahlian</th>   
                            <th style="width:60px;">Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                        {% for item in items%}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.bidangkeahlian}}
                              </td>  
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}akademik/bidangkeahlian_delete/{{item.id}}" class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#confirm-delete" title="Delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                        {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th>#</th>
                            <th>Bidang Keahlian</th>  
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                  </table>   
                {% for item in items %}
                  <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  {{ form_open('akademik/bidangkeahlian_edit/'~item.id,'data-toggle="validator"') }}
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Edit Bidang Keahlian</h4>
                            </div>
                            <div class="modal-body" id="validate_message">
                              <div class="form-horizontal">
                                  <div class="box-body">  
                                      <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">Bidang Keahlian</label> 
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="bidangkeahlian" name="bidangkeahlian" required value="{{item.bidangkeahlian}}">
                                        </div>
                                      </div> 
                                  </div>
                              </div> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  </form>
                </div>
                {% endfor %}                
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

                <div class="clearfix"></div>   
            </div>
            <!-- e.4 --> 
      </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}