{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Penelitian <small>Luaran Lain</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li class="active">Luaran Lain</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

         <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,judul = request_get('tahun'),request_get('judul') %}
          <form action="{{base_url()}}luaranlains/" method="GET" class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Luaran</label> 
                <div class="col-sm-10">
                  <input type="" class="form-control" id="judul" name="judul" placeholder="Judul Luaran" value="{{judul}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tahun Kegiatan</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="tahun" name="tahun">
                          <option value="">Semua Tahun</option>
                          {% for item in tahun %}
                            <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==get_tahun) }}>{{item.tahun}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Status Validasi</label> 
                <div class="col-sm-10">
                        <select class="form-control" id="isvalidate" name="isvalidate">
                          <option value="">Semua</option>
                            <option value="2" {{ set_select('isvalidate', 2,2==isvalidate) }}>Sudah di validasi</option>
                            <option value="1" {{ set_select('isvalidate', 1,1==isvalidate) }}>Belum di validasi</option>
                            <option value="3" {{ set_select('isvalidate', 3,3==isvalidate) }}>Belum valid</option>
                        </select>
                </div>
              </div> 
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Luaran Lain</h3>

                  
            </div><!-- .box-header -->

            <div class="box-body">

                <div class="row mb-10"> 
                      <div class="col-sm-4">
                        {% if isaddedit() %}
                          <a href="{{base_url()}}luaranlains/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya"> 
                                <label class="labelnya">Tampil data:</label> 
                                <div class="formnya">  
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                    </select>
                                </div>  
                                <a href="{{base_url()}}luaranlains/pdf?tahun={{get_tahun}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a> 
                          </div> 
                      </div>  
                  </div> <!-- .row --> 

                   <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul Luaran</th> 
                                <th>Deskripsi</th>
                                <th>Status</th>
                                <th style="width: 20px;">Action</th>
                              </tr> 
                          </thead>
                          <tbody>
                              {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td> 
                                  <td> 
                                     <b>{{item.dosen.gelar_depan}} {{item.dosen.nama}}  {{item.dosen.gelar_belakang}}</b><br>
                                     NIDN : {{item.dosen.nidn}}
                                  </td>
                                   <td>
                                      Tahun: {{item.tahun_kegiatan.tahun}} <br>
                                          <a href="{{base_url()}}luaranlains/show/{{item.id}}">
                                          <b>{{item.judul}}</b></a><br>
                                          Jenis Luaran: {{item.jenis_luaran.nama}}
                                      
                                  </td>
                                  <td>
                                     {{item.deskripsi}}
                                  </td>
                                  <td> <span class="text-success">{{item.isvalidate_show}}</span> </td>
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td> 
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="6">
                                          <div class="row">
                                              <div class="col-sm-12"> 
                                                  <div class="pull-left">  
                                                      <a href="{{base_url()}}download?type=luaranlain&id={{item.id}}" class="btn-sm btn btn-primary" target="_blank"> <i class="glyphicon glyphicon-download"></i> Download Berkas</a>  
                                                      {% if item.isvalidate == '0' %}
                                                      {# <div class="pull-left form-group mr-10">
                                                        <form> 
                                                          <input type="file" id="filecount" multiple="multiple" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                                          <div class="bootstrap-filestyle input-group">
                                                              <span class="group-span-filestyle " tabindex="0">
                                                                  <label for="filecount" class="btn btn-success btn-sm">
                                                                      <span class="icon-span-filestyle glyphicon glyphicon-folder-close"></span> 
                                                                      <span class="buttonText">Upload Berkas</span>
                                                                  </label>
                                                              </span>
                                                          </div>
                                                        </form> 
                                                      </div> #}
                                                      {% endif %}
                                                      {% if isvalidasi() and item.isvalidate == '2' or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) and item.isvalidate == '2' %}
                                                          <a href="#" class="btn-sm btn btn-primary" data-validate="{{ item.isvalidate }}" data-alasan="{{ item.alasan }}" data-toggle="modal" data-target="#hasil-pengecekan"> Hasil Pengecekan</a>
                                                      {% endif %}
                                                        </div>
                                                         <div class="pull-right">
                                                            {% if (isaddedit() and item.isvalidate == '2') or (isaddedit() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                                            <a href="{{base_url()}}luaranlains/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
                                                            {% endif %}
                                                            {% if (isdelete() and item.isvalidate == '2') or (isdelete() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                                            <a href="#" data-href="{{base_url()}}luaranlains/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                                            {% endif %}
                                                            {% if isvalidasi() and item.isvalidate == '0' or isvalidasi() and item.isvalidate == '2' and roles(['operator']) == TRUE %}
                                                            <a href="#" data-href="{{base_url()}}luaranlains/validate/{{item.id}}" data-validate="{{ item.isvalidate }}" data-alasan="{{ item.alasan }}" class="btn-sm btn btn-info" data-toggle="modal" data-target="#confirm-validate">Validate</a>
                                                            {% endif %}
                                                            {% if (isaddedit() and item.isvalidate == '3' and item.dosen.id==userinfo.id )%}
                                                                 <a href="#" data-href="{{base_url()}}luaranlains/resubmit/{{item.id}}" class="btn-sm btn btn-info"  data-toggle="modal" data-target="#confirm-submit">Submit</a>
                                                            {% endif %}
                                                         </div>
                                              </div>
                                          </div> 
                                      </td>
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th>#</th>
                                <th>Nama Dosen</th>
                                <th>Judul Luaran</th> 
                                <th>Deskripsi</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->

        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}