{% extends 'template.twig' %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Pengabdian <small>Review Proposal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Pengabdian</li>
        <li>Review Proposal</li>
        <li class="active">Detail Penilaian Proposal</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">   

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Detail Penilaian Proposal</h3>
          <div class="box-tools settingnya">   
            <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
          </div>
        </div>
        <!-- /.box-header -->  
        <div class="box-body">   
          <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">  Identitas Pengabdi </h3>
            </div>
            <!-- /.box-header --> 
            <div class="box-body">

              <table class="table mb-0">  
                <tbody>
                  <tr> 
                    <td style="width:15%;"> 
                      NIDN :
                    </td>
                    <td>
                      {{dosen.nidn}}
                    </td> 
                  </tr> 
                  <tr> 
                    <td style="width:15%;"> 
                      Nama Pengabdi :
                    </td>
                    <td>
                      {{dosen.nama_lengkap}}
                    </td> 
                  </tr>
                  <tr> 
                    <td style="width:15%;"> 
                      Status Dosen :
                    </td>
                    <td>
                      {{dosen.status_dosen_text}}
                    </td> 
                  </tr>   
                  <tr> 
                    <td style="width:15%;"> 
                      Home Base :
                    </td>
                    <td>
                      {{dosen.jurusan}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Anggota Pengabdi : </td>
                    <td> 
                      {% for anggo in anggota %}
                        - {{anggo.dosen.gelar_depan}} {{anggo.dosen.nama}} {{anggo.dosen.gelar_belakang}}<br>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr> 
                    <td> 
                      Judul Pengabdian :
                    </td>
                    <td>
                      {{judul}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Batch Tahun : </td>
                    <td> {{batch.nama}} - {{batch.batch_pengabdian.tahun.tahun}} </td>
                  </tr>   
                  <tr> 
                    <td> 
                      Lokasi Pengabdian :
                    </td>
                    <td>
                      {{lokasi}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Lama Pengabdian : </td>
                    <td> {{lama}} Bulan </td>
                  </tr> 


                  <tr> 
                    <td> <h4>Biaya Pengabdian</h4>  </td>
                    <td> </td>
                  </tr> 
                  <tr> 
                    <td> Pagu Anggaran : </td>
                    <td> Rp {{anggaran.format_rupiah}},- </td>
                  </tr> 
                  <tr> 
                    <td> Yang Diusulkan : </td>
                    <td> Rp {{rp_total_biaya}},- </td>
                  </tr> 
                  <tr> 
                    <td> Rekomendasi : </td>
                    <td> Rp {{pengabdian_review_inselected.0.rp_rekomendasi}},- </td>
                  </tr> 

                </tbody>   
              </table>

            </div>
          </div>


          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Reviewer 1</a></li>
              <li><a href="#tab_2" data-toggle="tab">Reviewer 2</a></li> 
            </ul>
            <div class="tab-content">  

              <div class="tab-pane active" id="tab_1">  

                <div class="clearfix"></div> 

                <!-- s:11111111-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">  Identitas Penilai 1</h3> 
                  </div>
                  <!-- /.box-header -->
                  <!-- form start --> 
                  <div class="box-body"> 

                    <table class="table mb-0">
                      <tr> 
                        <td style="width:15%;"> 
                          Nama Dosen :
                        </td>
                        <td>
                          {{pengabdian_review_exselected.0.dosen.nama_lengkap}}
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Program Studi :
                        </td>
                        <td>
                          {{pengabdian_review_exselected.0.dosen.program_studi.nama}}
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Jabatan Akademik :
                        </td>
                        <td>
                          {{pengabdian_review_exselected.0.dosen.jabatan_akademik.nama}}
                        </td> 
                      </tr>
                      <tr>
                        <td>
                          Berkas Catatan Review :
                        </td>
                        <td>
                          <a href="{{base_url()}}uploads/pengabdianreview/{{pengabdian_review_exselected.0.berkas}}" id="berkas_step3" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Catatan Review </a>
                        </td>
                      </tr> 
                      <tr> 
                        <td> 
                          Rekomendasi :
                        </td>
                        <td>
                          Rp. {{pengabdian_review_exselected.0.rp_rekomendasi}},-
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Catatan Rekomendasi :
                        </td>
                        <td>
                          {{pengabdian_review_exselected.0.catatan_rekomendasi}}
                        </td> 
                      </tr>    

                    </table> 

                  </div>
                  <!-- /.box-body -->  
                </div>
                <!-- e:111111111 -->   

                <!-- s:tabel-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Kriteria Penilaian</h3>
                  </div>
                  <!-- /.box-header -->  
                  <!-- form start --> 
                  <div class="box-body">  

                    <table class="table table-bordered mb-0"> 
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <th style="width: 25%">Kriteria</th>
                          <th>Indikator Penilaian</th>
                          <th>Skor</th>
                          <th>Bobot</th> 
                          <th>Nilai (Skor x Bobot)</th>
                          <th>Catatan</th>
                        </tr> 
                      </thead>
                      <tbody>
                        {% set total_skor,total_nilai = 0,0 %}
                          {% for nilai in pengabdian_review_exselected.0.pengabdian_nilai%}
                          <tr>
                            <td> {{loop.index}}. </td>
                            <td> 
                              {{nilai.penilaian_kriteria.nama|nl2br}}
                            </td>
                            <td>
                              {{nilai.penilaian_kriteria.indikator|nl2br}}
                            </td>
                            <td> 
                              {% set total_skor=total_skor+nilai.skor %}
                              {{nilai.skor}}
                            </td> 
                            <td>
                              {{nilai.penilaian_kriteria.bobot}}
                            </td> 
                            <td>
                              {% set total_nilai=total_nilai+nilai.nilai %}
                              {{nilai.nilai}}
                            </td>
                            <td>
                              {{nilai.catatan}}
                            </td>
                          </tr> 
                          {% endfor %}
                          </tbody>  
                          <tfoot>
                            <tr> 
                              <th colspan="3">
                                Total
                              </th>
                              <th>
                                {{total_skor}}
                              </th>
                              <th>
                                100
                              </th>
                              <th>
                                {{total_nilai}}
                              </th>
                              <th></th>

                            </tr>
                          </tfoot>
                        </table>



                      </div>
                      <!-- /.box-body -->   
                    </div>
                    <!-- e:tabel -->     

                    <div class="box bordernya">
                      <div class="box-header with-border" style="text-align:center;">
                        {% if pengabdian_review_exselected.0.status==1 %}
                          <h3 class="box-title text-success" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.0.status_text}} </h3>
                        {% elseif pengabdian_review_exselected.0.status ==2 %}
                          <h3 class="box-title text-warning" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.0.status_text}} </h3>
                        {% elseif pengabdian_review_exselected.0.status==3 %}
                          <h3 class="box-title text-danger" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.0.status_text}} </h3>
                        {% endif %}
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body">  
                        {% if pengabdian_review_exselected.0.status==3 %}
                          <h4>Alasan Penolakan</h4>  
                          <p>
                            {{pengabdian_review_exselected.0.alasan|nl2br}}
                          </p> 
                        {% elseif pengabdian_review_exselected.0.status==2 %}
                          <h4>Saran Perbaikan</h4>  
                          <p>
                            {{pengabdian_review_exselected.0.saran|nl2br}}
                          </p>
                        {% endif %}

                      </div>
                      <!-- /.box-body -->   
                    </div>

                    <div class="clearfix"></div>   
                  </div>
                  <!-- e.1 -->

                  <div class="tab-pane" id="tab_2">
                    <div class="box bordernya">
                      <div class="box-header with-border">
                        <h3 class="box-title">Identitas Penilai 2</h3>
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body"> 

                        <table class="table mb-0">
                          <tr> 
                            <td style="width:15%;"> 
                              Nama Dosen :
                            </td>
                            <td>
                              {{pengabdian_review_exselected.1.dosen.nama_lengkap}}
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Program Studi :
                            </td>
                            <td>
                              {{pengabdian_review_exselected.1.dosen.program_studi.nama}}
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Jabatan Akademik :
                            </td>
                            <td>
                              {{pengabdian_review_exselected.1.dosen.jabatan_akademik.nama}}
                            </td> 
                          </tr>
                          <tr>
                            <td>
                              Berkas Catatan Review :
                            </td>
                            <td>
                              <a href="{{base_url()}}uploads/pengabdianreview/{{pengabdian_review_exselected.1.berkas}}" id="berkas_step3" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Catatan Review </a>
                            </td>
                          </tr>   
                          <tr> 
                            <td> 
                              Rekomendasi :
                            </td>
                            <td>
                              Rp. {{pengabdian_review_exselected.1.rp_rekomendasi}},-
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Catatan Rekomendasi :
                            </td>
                            <td>
                              {{pengabdian_review_exselected.1.catatan_rekomendasi}}
                            </td> 
                          </tr>    

                        </table> 

                      </div>
                      <!-- /.box-body -->   
                    </div>


                    <div class="box bordernya">
                      <div class="box-header with-border">
                        <h3 class="box-title">Kriteria Penilaian</h3>
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body">  

                        <table class="table table-bordered mb-0"> 
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th> 
                              <th style="width: 25%">Kriteria</th>
                              <th>Indikator Penilaian</th>
                              <th>Bobot(%)</th> 
                              <th>Skor</th>
                              <th>Nilai</th>
                            </tr> 
                          </thead>
                          <tbody>
                            {% set total_skor,total_nilai = 0,0 %}
                              {% for nilai in pengabdian_review_exselected.1.pengabdian_nilai%}
                              <tr>
                                <td> {{loop.index}}. </td>
                                <td> 
                                  {{nilai.penilaian_kriteria.nama|nl2br}}
                                </td>
                                <td>
                                  {{nilai.penilaian_kriteria.indikator|nl2br}}
                                </td>
                                <td>
                                  {{nilai.penilaian_kriteria.bobot}}
                                </td> 
                                <td> 
                                  {% set total_skor=total_skor+nilai.skor %}
                                    {{nilai.skor}}
                                  </td> 
                                  <td>
                                    {% set total_nilai=total_nilai+nilai.nilai %}
                                      {{nilai.nilai}}
                                    </td>
                                  </tr> 
                                {% endfor %}
                              </tbody>  
                              <tfoot>
                                <tr> 
                                  <th colspan="3">
                                    Total
                                  </th>
                                  <th>
                                    100
                                  </th>
                                  <th>
                                    {{total_skor}}
                                  </th>
                                  <th>
                                    {{total_nilai}}
                                  </th>

                                </tr>
                              </tfoot>
                            </table>



                          </div>
                          <!-- /.box-body -->   

                        </div>


                        <div class="box bordernya">
                          <div class="box-header with-border" style="text-align:center;">
                            {% if pengabdian_review_exselected.1.status==1 %}
                              <h3 class="box-title text-success" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.1.status_text}} </h3>
                            {% elseif pengabdian_review_exselected.1.status ==2 %}
                              <h3 class="box-title text-warning" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.1.status_text}} </h3>
                            {% elseif pengabdian_review_exselected.1.status==3 %}
                              <h3 class="box-title text-danger" style="font-weight: bold;font-size: 200%;"> {{pengabdian_review_exselected.1.status_text}} </h3>
                            {% endif %}
                          </div>
                          <!-- /.box-header -->  
                          <!-- form start --> 
                          <div class="box-body">  
                            {% if pengabdian_review_exselected.1.status==3 %}
                              <h4>Alasan Penolakan</h4>  
                              <p>
                                {{pengabdian_review_exselected.alasan|nl2br}}
                              </p> 
                            {% elseif pengabdian_review_exselected.1.status==2 %}
                              <h4>Saran Perbaikan</h4>  
                              <p>
                                {{pengabdian_review_exselected.1.saran|nl2br}}
                              </p>
                            {% endif %}

                          </div>
                          <!-- /.box-body -->   
                        </div>


                        <div class="clearfix"></div>   
                      </div>
                      <!-- e.2 --> 

                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- nav-tabs-custom --> 

                  <div class="box bordernya">
                    <div class="box-header with-border">
                      <h3 class="box-title">  Penilaian Akhir </h3>
                    </div>
                    <!-- /.box-header -->
                    {{ form_open('pengabdian/review/postpengabdianfinal','class="form-horizontal" data-toggle="validator"') }}
                    <div class="box-body">
                      <input type="hidden" name="id" value="{{id}}" />
                      <div class="form-group"> 
                        <label for="" class="col-sm-2 control-label">Hasil Reviewer</label>   
                        <div class="col-sm-10">  
                          <input type="" class="form-control" disabled value="{{pengabdian_review_inselected.0.status_text}}">
                        </div>
                      </div>
                      <div class="form-group"> 
                        <label for="" class="col-sm-2 control-label">Keputusan Akhir</label>   
                        <div class="col-sm-10">  
                          <select class="form-control" name="status" id="status" required>
                            <option> List Keputusan </option>
                            <option value="1"> Diterima </option>
                            <option value="2"> Diterima dengan Perbaikan </option>
                            <option value="3"> Ditolak </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group"> 
                        <label for="" class="col-sm-2 control-label">Anggaran yang disetujui</label>   
                        <div class="col-sm-10">  
                          <label>Rp. <span class="rekomendasi_show">0</span>,-</label>
                          <input type="" class="form-control" id="rekomendasix" name="rekomendasi" data-remote="{{base_url()}}pengabdians/step5_check_anggaran/?jenis_pengabdian={{jenis_pengabdian.id}}" pattern="^[0-9]+$" required>
                          <div class="help-block with-errors"></div> 
                        </div>
                      </div>
                    <div class="box-footer tc">  
                      <a href="#" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Batalkan Proses </a>
                      <a href="#" class="btn btn-success mr-10 next" data-toggle="modal" data-target="#confirmation">  Submit <i class="fa fa-floppy-o"> </i></a>
                      {# <div></div>                      #}

                    </div>
                    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center">
                          <div class="modal-content">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
                              <h4 class="modal-title" id="mySmallModalLabel">Submit Penilaian Akhir</h4> </div> 
                              <div class="modal-body" id="confirmation-message">
                                <div class="form-group" style="margin-bottom:15px;">
                                  <label for="" class="col-sm-12 control-label" style="text-align: center;">Apakah anda yakin ingin mesubmit penilaian akhir dengan rincian dibawah ini? 
                                    Keputusan tidak dapat diubah kembali</label>
                                  </div>
                                  <div class="form-group"> 
                                    <label for="" class="col-sm-2 control-label">Keputusan Akhir</label>   
                                    <div class="col-sm-10">  
                                      <input type="" class="form-control" id="show_status" readonly="">
                                    </div>
                                  </div>
                                  <div class="form-group"> 
                                    <label for="" class="col-sm-2 control-label">Anggaran Disetujui</label>   
                                    <div class="col-sm-10">  
                                      <input type="" class="form-control"id="show_anggaran" readonly>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn-success mr-10">  Konfirmasi <i class="fa fa-floppy-o"> </i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div><!-- box utama --> 


                </section>
                <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

              </div>
              <script type="text/javascript">
              $(document).ready(function(){
                $("#rekomendasix").keyup(function() {
                  var value = $(this).val();
                  value = parseInt(value);
                  $(".rekomendasi_show").text(value.formatMoney(0,',','.'));
                  $("#show_anggaran").val('Rp. '+value.formatMoney(0,',','.')+',-');
                });
                $("#status").change(function(){
                  $("#show_status").val($(this).find("option:selected").text());
                });
              });
              </script>
            {% endblock %}