{{ form_open('pengabdian/review/step1','class="form-horizontal moving" id="step1" data-toggle="validator"') }}
<div class="box-body">  

<!-- s:xxxxxxxxxxxx -->


      <!-- s:11111111-->
      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">  Identitas Pengabdi </h3>
          </div>
          <!-- /.box-header -->
          <!-- form start --> 
          <div class="box-body"> 

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">NIDN</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{dosen.nidn}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Nama Pengabdi</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
                  </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Status Dosen</label> 
                    <div class="col-sm-10">
                        <input type="" class="form-control" disabled id="" value="{{dosen.status_dosen_text}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Home Base</label> 
                    <div class="col-sm-10">
                        <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Anggota Pengabdi</label> 
                    <div class="col-sm-10">
                        <textarea class="form-control" disabled id="">{% for a in anggota %}{{a.dosen.nama_lengkap}}&#13;&#10;{% endfor %}</textarea>
                          
                    </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Judul Pengabdian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{ judul }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Lokasi Pengabdian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{lokasi}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Lama Pengabdian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{lama}} Bulan">
                  </div>
                </div>

                <h4>Biaya Pengabdian</h4> 
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Pagu Anggaran</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Rp {{anggaran.format_rupiah}},-">  
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Yang Diusulkan</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Rp {{rp_total_biaya}},-">  
                  </div>
                </div> 
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Rekomendasi</label> 
                  <div class="col-sm-10">
                      <label>Rp. <span id="rekomendasi_show">0</span>,-</label>
                      <input type="" class="form-control" id="rekomendasi" name="rekomendasi" data-remote="{{base_url()}}pengabdian/usulan/step5_check_anggaran/?jenis_pengabdian={{jenis_pengabdian.id}}" pattern="^[0-9]+$" required>
                      <div class="help-block with-errors"></div> 
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Catatan Rekomendasi</label> 
                  <div class="col-sm-10">
                      <textarea class="form-control" rows="5" id="" name="catatan_rekomendasi" required></textarea>
                      {# <textarea rows="5" class="form-control" name="catatan_rekomendasi"><textarea>   #}
                  </div>
                </div>   
                  
          </div>
          <!-- /.box-body -->  
      </div>
      <!-- e:111111111 -->    
      <input type="hidden" class="pengabdian_review" name="pengabdian_review">
      <input type="hidden" class="pengabdian_id" name="pengabdian" value="{{id}}">
      <!-- s:tabel-->
      <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">Kriteria Pengabdian</h3>
            </div>
            <!-- /.box-header -->  
            <!-- form start --> 
            <div class="box-body">  

                <table class="table table-bordered mb-0"> 
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <th style="width: 25%">Kriteria</th>
                          <th>Indikator Penilaian</th>
                          <th>Skor</th>
                          <th>Bobot</th> 
                          <th>Nilai (Skor x Bobot)</th>
                          <th>Catatan</th>
                        </tr> 
                    </thead>
                    <tbody>
                        {% for i in jenis_pengabdian.active_penilaian %}
                          <tr>
                              <td> {{loop.index}}. </td>
                              <td> 
                                  {{i.nama}}
                              </td>
                              <td>
                                  {{i.indikator|nl2br}}
                              </td>
                              <td> 
                                  <input type="hidden" name="penilaians[]" value="{{i.id}}">
                                  <input type="text" class="form-control skor" data-id="{{i.id}}" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
                                  <div class="help-block with-errors"></div>   
                              </td> 
                              <td>
                                  <span id="bobot{{i.id}}">{{i.bobot}}</span>
                              </td> 
                              <td>
                                  <input type="hidden" id="nilai_hidden{{i.id}}" name="nilai[]">
                                  <span class="nilai" id="nilai{{i.id}}"></span>
                              </td>
                              <td>
                                  <input type="text" id="nilai_catatan{{i.id}}" name="catatan[]">
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>  
                    <tfoot>
                          <tr> 
                              <th colspan="3">
                                  Total
                              </th>
                              <th>
                                  <span id="total_skor"></span>
                              </th>
                              <th>
                                  100
                              </th>
                              <th>
                                  <span id="total_nilai"></span>
                              </th>
                              <th></th>
                            
                          </tr>
                    </tfoot>
                </table>

                <br> 

                <b>Keterangan:</b> <br><br> 
<pre>1. Setiap kriteria diberi skor 1 s/d 7 (maks skor 7)
   1. ( 1 = Sangat buruk )
   2. ( 2 = buruk )
   3. ( 3 = Sangat kurang )
   4. ( 4 = kurang)
   5. ( 5 = cukup )
   6. ( 6 = baik )
   7. ( 7 = Sangat baik )

2. Passing Grade: 500


Proposal diterima jika total nilai maksimal =  Passing Grade, jika total nilai kurang maka proposal ditolak
</pre>


                
            </div>
            <!-- /.box-body -->   
      </div>
      <!-- e:tabel -->    

               
<!-- e:xxxxxxxxxxxx -->

</div>
<!-- /.box-body -->
<div class="box-footer tc">  
    <a href="#" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Batalkan Proses </a>
    <button type="submit" class="btn btn-success mr-10 next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#rekomendasi").keyup(function() {
    var value = $(this).val();
    value = parseInt(value);
    $("#rekomendasi_show").text(value.formatMoney(0,',','.'));
  });


  $( ".skor" ).keyup(function() {
      id = $(this).data("id");
      if(parseInt($(this).val())<0 || parseInt($(this).val())>7) $(this).val('');
      bobot = parseInt($("#bobot"+id).html());
      skor = parseInt($(this).val());
      nilai = bobot*skor;
      nilai = nilai.toFixed(2);
      nilai = isNaN(nilai)?0:nilai;
      $("#nilai"+id).text(nilai);
      $("#nilai_hidden"+id).val(nilai);
      var total_skor=0;
      $(".skor").each(function(index ){
          temp = parseInt($(this).val());
          temp = isNaN(temp)?0:temp;
          total_skor+=temp;
      });
      $("#total_skor").text(total_skor);

      var total_nilai=0;
      $(".nilai").each(function(index ){
          temp = parseFloat($(this).text());
          temp = isNaN(temp)?0:temp;
          total_nilai+=temp;
      });
      total_nilai = total_nilai.toFixed(2);
      $("#total_nilai").text(total_nilai);

  });

  $("#step1").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
          result= $.parseJSON(responseText);
          $(".pengabdian_review").val(result.id);
          var total_nilai = parseInt($("#total_nilai").text());
          var status = total_nilai<500?'Ditolak':'Diterima';
          $("#status").removeClass("text-success").removeClass("text-danger");
          if(status=="Diterima"){
            $("#status").addClass("text-success");
          }else{
            $("#status").addClass("text-danger");
          }
          $("#status").html(status);
          var box_status = "";
          if(total_nilai<500){
            box_status +='<input type="hidden" name="status" value="3">';
            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Pertimbangan Penolakan</label>';
            box_status +='<div class="col-sm-10">';
            box_status +='  <textarea class="form-control" rows="5" id="" name="alasan" required></textarea>';
            box_status +='</div>';
            box_status +='</div>';
          }else{
            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Status Penerimaan</label> ';
            box_status +='<div class="col-sm-10">';
            box_status +='  <select class="form-control" name="status" id="step2_status">';
            box_status +='    <option value="2"> Terima dengan perbaikan </option> ';
            box_status +='     <option value="1"> Terima tanpa perbaikan </option>  ';
            box_status +='   </select>';
            box_status +='</div>';
            box_status +='</div>   ';

            box_status +='<div class="form-group" id="form_saran">';
            box_status +='<label for="" class="col-sm-2 control-label">Pertimbangan Penerimaan</label> ';
            box_status +='<div class="col-sm-10">';
            box_status +='  <textarea class="form-control" rows="5" id="" name="saran" required></textarea>';
            box_status +='</div>';
            box_status +='</div>';
          }
          $("#isian").html(box_status);
          $("#step2_status").change(function(){
              if($(this).val()==1){
                $("#form_saran").empty();
              }else{
                saran_box = ""
                saran_box +='<label for="" class="col-sm-2 control-label">Saran Perbaikan</label> ';
                saran_box +='<div class="col-sm-10">';
                saran_box +='  <textarea class="form-control" rows="5" id="" name="saran" required></textarea>';
                saran_box +='</div>';
                $("#form_saran").append(saran_box);
              }
              $("#step2").validator('update');
              $("#step2").validator('validate');
          });
          $(".content-wrapper").height(current_height+500);
      }
  }); 
});
</script>