{{ form_open_multipart('pengabdian/review/step2','class="form-horizontal moving" id="step2" data-toggle="validator"') }}
<div class="box-body">  

<!-- s:xxxxxxxxxxxx -->  


        <div class="box bordernya">
              <div class="box-header with-border">
                <h3 class="box-title">Identitas Pengabdi</h3>
              </div>
              <!-- /.box-header -->  
              <!-- form start --> 
              <div class="box-body">

                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Nama Pengabdi </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
                        </div>
                      </div>  
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Judul Pengabdian</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{judul}}">
                        </div>
                      </div>  
                  
              </div>
              <!-- /.box-body -->   
        </div>

        <p>Dari hasil penilaian yang dilakukan oleh Tim Penilai (Reviewer) menyarankan / merekomendasikan bahwa judul pengabdian tersebut: </p>


        <div class="box bordernya">
              <div class="box-header with-border" style="text-align:center;">
                <span class="box-title" id="status" style="font-weight: bold;font-size: 200%;"></span>
              </div>
                <div class="alert alert-success fade" id="step2_notif">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> Berkas berhasil di upload!
                </div>
              
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"> Komentar Reviewer </label>
                  <div class="col-sm-10">
                    <input type="hidden" data-validate="true" class="pengabdian" name="upl_catatan_review_res" id="upl_catatan_review_res" required value="{{upl_catatan_review}}">
                    <input type="file" id="upl_catatan_review" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="upl_catatan_review" accept="application/pdf" data-id="2">
                    <div class="bootstrap-filestyle input-group">
                      <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{upl_catatan_review}}">
                      <span class="group-span-filestyle input-group-btn" tabindex="0">
                        <label for="upl_catatan_review" class="btn btn-warning ">
                          <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                          <span class="buttonText">Select File</span>
                        </label>
                        <a href="#" class="btn btn-success" id="upl_catatan_review_btn" data-url="{{base_url()}}pengabdian/review/uploadcatatanreview/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                      </span>
                    </div>
                    <span class="text-danger warning" id="warning2"></span>
                  </div>
                  <label for="" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <div class="progress">
                      <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        <span class="percent"></span>
                      </div>
                    </div>
                    <small>*File dalam format .pdf dan maksimal 10MB.</small><br>
                  </div>
                </div>
              <input type="hidden" class="pengabdian_review" name="pengabdian_review">
              <div class="box-body" id="isian">    
              </div>
              <!-- /.box-body -->   
        </div>
      
               
<!-- e:xxxxxxxxxxxx -->

</div>
<!-- /.box-body -->
<div class="box-footer tc">  
    <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a>
    <button type="submit" class="btn btn-success mr-10 next" >  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){

  $("#upl_catatan_review_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('100%');
    upload("upl_catatan_review",$(this).data("url"),$("#upl_catatan_review_res"),bar,percent);
    return event.preventDefault();
  });

  $("input[type='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    // $("#filename"+id).val(fileName);
    $(this).next().children().val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
      $(this).next().children().next().children().next().addClass('disabled');
    }else{
      $(this).next().children().next().children().next().removeClass('disabled');
    }
    var bar = $(this).parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('0%');
    percent.html('0%');
  });

  function upload(file,posturlfile,holder_result,bar,percent){
    var fd = new FormData();    
    fd.append( 'file', $("#"+file)[0].files[0] );
    // formData.append('myfile', $('#myfile')[0].files[0]);

    $.ajax({
      xhr: function() {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress", function(evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            percentComplete = parseInt(percentComplete * 100);
            console.log(percentComplete);
            bar.width(percentComplete+'%');
            percent.html(percentComplete+'%');
          }
        }, false);
        return xhr;
      },
      url: posturlfile,
      type: "POST",
      data: fd,
      processData: false,
      contentType: false,
      success: function(result) {
        $("#"+file).val('');
        holder_result.val(result);
        console.log(result);
        $("#step2").validator('update').validator('validate');

      }
    });
  }


  $("#step2").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
          result= $.parseJSON(responseText);
          $("#rekomendasi_step3").val("Rp. "+result.rp_rekomendasi+",-");
          $("#catatan_rekomendasi_step3").val(result.catatan_rekomendasi);
          $("#alasan_step3").val(result.alasan);
          $("#status_step3").val(result.status);
          $("#status_step3").removeClass("text-success").removeClass("text-danger");
          if(result.status=="2" || result.status=="1"){
            $("#status_step3").addClass("text-success");
          }else{
            $("#status_step3").addClass("text-danger");
          }
          $("#saran_step3").val(result.saran);
          var total_nilai=0;
          var total_skor=0
          for(var i = 0; i < result.pengabdian_nilai.length; i++) {
              var nilai = result.pengabdian_nilai[i];
              $("#skor_"+nilai.penilaian_kriteria+"_step3").text(nilai.skor);
              $("#nilai_"+nilai.penilaian_kriteria+"_step3").text(nilai.nilai);
              $("#catatan_"+nilai.penilaian_kriteria+"_step3").text(nilai.catatan);
              total_nilai+=parseFloat(nilai.nilai);
              total_skor+=parseInt(nilai.skor);
          }
          $("#total_skor_step3").text(total_skor.toFixed(2));
          $("#total_nilai_step3").text(total_nilai.toFixed(2));
          var box_status="";
          if(result.status==="3"){
            $("#status_step3").text("Ditolak");
            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Alasan Penolakan</label>';
            box_status +='<div class="col-sm-10">';
            box_status +='  <textarea class="form-control" rows="5" id="" disabled>'+result.alasan+'</textarea>';
            box_status +='</div>';
            box_status +='</div>';


          }else if(result.status==="2"){
            $("#status_step3").text("Diterima");
            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Status Penerimaan</label> ';
            box_status +='<div class="col-sm-10">';
            box_status +='  <select class="form-control" name="status" disabled>';
            box_status +='    <option value="2" selected> Terima dengan perbaikan </option> ';
            box_status +='   </select>';
            box_status +='</div>';
            box_status +='</div>   ';

            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Saran Perbaikan</label> ';
            box_status +='<div class="col-sm-10">';
            box_status +='  <textarea class="form-control" rows="5" id="" disabled name="saran">'+result.saran+'</textarea>';
            box_status +='</div>';
            box_status +='</div>';
          }else{
            $("#status_step3").text("Diterima");
            box_status +='<div class="form-group">';
            box_status +='<label for="" class="col-sm-2 control-label">Status Penerimaan</label> ';
            box_status +='<div class="col-sm-10">';
            box_status +='  <select class="form-control" name="status" disabled>';
            box_status +='     <option value="1" selected> Terima tanpa perbaikan </option>  ';
            box_status +='   </select>';
            box_status +='</div>';
            box_status +='</div>   ';
          }
          $("#isian_step3").html(box_status);
          $("#berkas_step3").attr("href", "{{base_url()}}uploads/pengabdianreview/"+result.berkas)
      }
  }); 
});
</script>