<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>BORANG MONITORING DAN EVALUASI LAPANGAN PENGABDIAN</h1>
  <!-- <div style="border: 1px solid #c1c1c1;"> -->
    <h2>Instrumen Monev</h2> 
    <hr>
    <table style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%">
      <tr style="background-color: #f1f1f1;"> 
        <td style="text-align: left;padding: 8px;width:35%;border-top: 1px solid #f4f4f4;">1. Program Pengabdian : </td>
        <td style="text-align: left;padding: 8px;width:63%;border-top: 1px solid #f4f4f4;">{{jenis_pengabdian.nama}}</td>
      </tr> 
      <tr style="background-color: #f1f1f1;"> 
        <td style="text-align: left;padding: 8px;width:35%;border-top: 1px solid #f4f4f4;">2. Tahun Pengabdian : </td>
        <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;">{{tahun_kegiatan.tahun}}</td>
      </tr> 
      <tr style="background-color: #f1f1f1;"> 
        <td style="text-align: left;padding: 8px;width:35%;border-top: 1px solid #f4f4f4;">3. Ketua : </td>
        <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;"></td>
      </tr>
        <tr> 
          <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;">Nama : </td>
          <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;">{{dosen.nama_lengkap}}</td>
        </tr>
        <tr> 
          <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;">Fakultas : </td>
          <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;">{{dosen.fakultas.nama}}</td>
        </tr>
        <tr> 
          <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;">Program Studi : </td>
          <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;">{{dosen.program_studi.nama}}</td>
        </tr> 
        <tr> 
          <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;">Bidang Keahlian : </td>
          <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;">{{monev.content.ketua_keahlian}}</td>
        </tr>
        <tr style="background-color: #f1f1f1;"> 
           <td> 4. Anggota : </td>
           <td> </td>
        </tr>
        {% for a in anggota %}
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Nama : </td>
           <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;"> {{a.dosen.nama_lengkap}} </td>
        </tr>
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Fakultas : </td>
           <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;"> {{a.dosen.fakultas.nama}} </td>
        </tr> 
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Program Studi : </td>
           <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4;"> {{a.dosen.program_studi.nama}} </td>
        </tr>
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4; {% if not loop.last %}border-bottom: 1px solid black;{% endif %}"> Bidang Keahlian : </td>
           <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4; {% if not loop.last %}border-bottom: 1px solid black;{% endif %}"> {{monev.content.anggota_keahlian[loop.index0]}} </td>
        </tr>
        {% endfor %}
        <tr style="background-color: #f1f1f1;"> 
           <td> 5. Judul Pengabdian : </td>
           <td> {{judul}} </td>
        </tr> 
        <tr style="background-color: #f1f1f1;"> 
           <td> 6. Bidang Ilmu : </td>
           <td> {{monev.content.bidang_ilmu}} </td>
        </tr> 
        <tr style="background-color: #f1f1f1;"> 
           <td> 7. Biaya Pengabdian : </td>
           <td> Rp. {{pengabdian_review_inselected.0.rp_rekomendasi}} </td>
        </tr>  
        <tr style="background-color: #f1f1f1;"> 
           <td> 8. Lokasi Pengabdian  </td>
           <td>  {{monev.content.lokasi}} </td>
        </tr> 
        <tr style="background-color: #f1f1f1;"> 
           <td>  </td>
           <td>  {{monev.content.lokasi_keterangan}} </td>
        </tr> 
        <tr style="background-color: #f1f1f1;"> 
           <td> 9. Cara Pemantauan : </td>
           <td> {{monev.content.cara_pemantauan}} </td>
        </tr>
        <tr style="background-color: #f1f1f1;"> 
           <td> </td>
           <td> {{monev.content.cara_pemantauan_keterangan}} </td>
        </tr>
        <tr style="background-color: #f1f1f1;"> 
           <td> 10. Pelaksanaan Pengabdian : </td>
           <td>  </td>
        </tr> 
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Tanggal Mulai : </td>
           <td> {{monev.content.tanggal_mulai}} </td>
        </tr> 
        <tr> 
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Tanggal Selesai : </td>
           <td> {{monev.content.tanggal_selesai}} </td>
        </tr> 
        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 11. Capaian Tahapan Pengabdian </td>
        </tr>
        <tr>
           <td colspan="2"  style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;"> Menurut Saudara telah berada pada tahap mana pengabdian Saudara saat ini? </td>
        </tr>
        <tr>
           <td  style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Pilih : </td>
           <td> {{monev.content.tahap_pengabdian}} </td>
        </tr>
        <tr>
           <td colspan="2"  style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;"> Menurut Saudara, sampai saat ini sudah berapa % capaian pengabdian Saudara? </td>
        </tr>
        <tr>
           <td  style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Jawaban : </td>
           <td> {{monev.content.capaian}} % </td>
        </tr>
        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 12. Kesesuaian pelaksanaan pengabdian </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Waktu Pengabdian : </td>
           <td> {{monev.content.pelaksanaan_pengabdian}} </td>
        </tr>
        {% if monev.content.pelaksanaan_pengabdian_alasan %}
        <tr style="background-color: #f1f1f1;">
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan : </td>
           <td> {{monev.content.pelaksanaan_pengabdian_alasan}} </td>
        </tr>
        {% endif %}
        {% if monev.content.pelaksanaan_pengabdian_alasannya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan Lainnya : </td>
           <td> {{monev.content.pelaksanaan_pengabdian_alasannya}} </td>
        </tr>
        {% endif %}
        {% if monev.content.pelaksanaan_pengabdian_penyelesainnya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Penyelesaian : </td>
           <td> {{monev.content.pelaksanaan_pengabdian_penyelesainnya}} </td>
        </tr>
        {% endif %}

        <tr style="background-color: #f1f1f1;">
           <td> 13. Kesesuaian Personalia </td>
           <td> </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Personalia : </td>
           <td> {{monev.content.kesesuaian_personalia}} </td>
        </tr>
        {% if monev.content.kesesuaian_personalia_alasan %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan : </td>
           <td> {{monev.content.kesesuaian_personalia_alasan}} </td>
        </tr>
        {% endif %}
        {% if monev.content.kesesuaian_personalia_alasannya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan Lainnya : </td>
           <td> {{monev.content.kesesuaian_personalia_alasannya}} </td>
        </tr>
        {% endif %}
        {% if kesesuaian_personalia_penyelesainnya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Penyelesaian : </td>
           <td> {{monev.content.kesesuaian_personalia_penyelesainnya}} </td>
        </tr>
        {% endif %}
        <tr style="background-color: #f1f1f1;">
           <td> 14. Kesesuaian Anggaran </td>
           <td> </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Anggaran : </td>
           <td> {{monev.content.kesesuaian_anggaran}} </td>
        </tr>
        {% if monev.content.kesesuaian_anggaran_alasan %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan : </td>
           <td> {{monev.content.kesesuaian_anggaran_alasan}} </td>
        </tr>
        {% endif %}
        {% if monev.content.kesesuaian_anggaran_alasannya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan Lainnya : </td>
           <td> {{monev.content.kesesuaian_anggaran_alasannya}} </td>
        </tr>
        {% endif %}
        {% if monev.content.kesesuaian_anggaran_penyelesainnya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Penyelesaian : </td>
           <td> {{monev.content.kesesuaian_anggaran_penyelesainnya}} </td>
        </tr>
        {% endif %}

        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 15. Kesesuaian Sarana dan Prasarana </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Sarana dan Prasarana : </td>
           <td> {{monev.content.kesesuaian_sarana}} </td>
        </tr>
        {% if monev.content.kesesuaian_sarana_alasan %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan : </td>
           <td> {{monev.content.kesesuaian_sarana_alasan}} </td>
        </tr>
        {% endif %}
        {% if monev.content.kesesuaian_sarana_alasannya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Alasan Lainnya : </td>
           <td> {{monev.content.kesesuaian_sarana_alasannya}} </td>
        </tr>
        {% endif %}
        {% if monev.content.kesesuaian_sarana_penyelesainnya %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Penyelesaian : </td>
           <td> {{monev.content.kesesuaian_sarana_penyelesainnya}} </td>
        </tr>
        {% endif %}

        <tr style="background-color: #f1f1f1;">
           <td> 16. Peran Lembaga Pengabdian </td>
           <td> </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Seleksi Proposal Pengabdian </td>
           <td> {{monev.content.seleksi_proposal}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Menyelenggarakan seminar proposal </td>
           <td> {{monev.content.menyelenggarakan_seminar}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Memantau pelaksanaan pengabdian </td>
           <td> {{monev.content.memantau_pelaksanaan}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Menyelenggarakan seminar hasil pengabdian </td>
           <td> {{monev.content.menyelenggarakan_seminar_hasil}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Pelayanan Lainnya </td>
           <td> {{monev.content.pelayanan_lainnya}} </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 17. Pelaksanaan kerjasama deengan instansi lain </td>
        </tr>
        {% for item in monev.content.instansi_nama %}
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Nama Instansi </td>
           <td> {{item}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;{% if not loop.last %}border-bottom: 1px solid black;{% endif %}"> Bentuk Kerjasama </td>
           <td style="text-align: left;padding: 8px;border-top: 1px solid #f4f4f4; {% if not loop.last %}border-bottom: 1px solid black;{% endif %}"> {{monev.content.instansi_kerjasama[loop.index0]}} </td>
        </tr>
        {% endfor %}

        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 18. Keterlibatan Pengabdian dengan Program Pendidikan/Stakeholder </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Program Pascasarjana </td>
           <td> {{monev.content.pascasarjana}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Sekolah </td>
           <td> {{monev.content.sekolah}} </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Jumlah mahasiswa yang terlibat dalam pengabdian </td>
           <td> {{monev.content.mahasiswa}} </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 19. Jumlah mahasiswa yang terlibat dalam pengabdian: </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> S1 : </td>
           <td> {{monev.content.jumlah_s1}} Orang </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> S2 : </td>
           <td> {{monev.content.jumlah_s2}} Orang </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> S3 : </td>
           <td> {{monev.content.jumlah_s3}} Orang </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 20. Kesesuaian Pelaksanaan dengan Usulan Pengabdian: </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Pilih: </td>
           <td> {{monev.content.kesesuaian_pelaksanaan}}<br>
                {{monev.content.kesesuaian_pelaksanaan_keterangan|nl2br}}
          </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 21. Masalah (Kendala/Hambatan): </td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Pilih: </td>
           <td> {{monev.content.kendala_hambatan}}<br>
                {{monev.content.kendala_hambatan_keterangan|nl2br}}
          </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td> 22. Penerapan Hasil Pengabdian: </td>
           <td> </td>
        </tr>
        <tr>
           <td colspan="2" style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;"> Menurut Anda, berapa lama lagi hasil pengabdian Anda dapat diterapkan:<br><br>
            {{monev.content.penerapan_hasil_pengabdian|nl2br}}
           </td>
        </tr>
        <tr>
           <td colspan="2" style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;">Pihak mana yang akan menerapkan hasil pengabdian ini:<br><br>
            {{monev.content.penerapan_pihak_pengabdian|nl2br}}
           </td>
        </tr>
        <tr>
           <td colspan="2" style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;">Hasil Pengabdian sebagai bahan pengajaran: {{monev.content.hasil_pengabdian_pengajaran}}<br><br>
            {{monev.content.hasil_pengabdian_pengajaran_keterangan|nl2br}}
           </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td colspan="2" style="text-align: left;padding: 8px;width:100%;border-top: 1px solid #f4f4f4;"> 23. Penilaian umum terhadap pengabdian ini: </td>
        </tr>
        <tr>
           <td colspan="2" style="text-align: left;padding: 8px;text-indent: 30px;width:100%;border-top: 1px solid #f4f4f4;"> {{monev.content.penilaian_umum|nl2br}} </td>
        </tr>

        <tr style="background-color: #f1f1f1;">
           <td> 24. Rekomendasi/Saran: </td>
           <td></td>
        </tr>
        <tr>
           <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Pilih: </td>
           <td> {{monev.content.rekomendasi_saran}}<br>
                {{monev.content.rekomendasi_saran_keterangan|nl2br}}
          </td>
        </tr>
      </table> 
</body>
</html>
