{% extends 'pengaturan/penelitian/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}isianpengesahans/">Isian Pengesahan</a></li>
            <li><a href="{{base_url()}}jenispenelitians/">Jenis Penelitian</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/targetluaranmasters/">Target Luaran Master</a></li>
            <li class="active"><a href="{{base_url()}}batchlists/">Batch Lists</a></li> 
            <li><a href="{{base_url()}}pengaturan/penelitian/pajaks/">Pajak</a></li> 
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left"  data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Nama Batch</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.nama}}
                              </td> 
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-jenis{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                  <a href="#" data-href="{{base_url()}}batchlists/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                              </td>
                                  <div class="modal fade" id="edit-jenis{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  {{ form_open('batchlists/edit/'~item.id) }}
                                  <div class="vertical-alignment-helper">
                                    <div class="modal-dialog vertical-align-center">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Edit Jenis Penelitian</h4>
                                            </div>
                                            <div class="modal-body" id="validate_message">
                                              <input type="hidden" id="jenis_penelitian" name="jenis_penelitian" value="{{item.id}}">
                                              <div class="form-horizontal">
                                                  <div class="box-body"> 
                                                      <div class="form-group">
                                                        <label for="" class="col-sm-3 control-label">Nama Batch</label> 
                                                        <div class="col-sm-9">
                                                          <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama Batch" required value="{{item.nama}}">
                                                        </div>
                                                      </div>
                                                  </div>
                                            </div>
                                          </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                                <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  </form>
                                </div> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Nama Batch</th> 
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>
              <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('batchlists/add/') }}
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center">
                      <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tambah Batch</h4>
                          </div>
                          <div class="modal-body" id="validate_message">
                            <div class="form-horizontal">
                            <div class="box-body"> 
                                <input type="hidden" id="dosen" name="dosen" value="{{item.dosen.id}}">
                                <div class="form-group">
                                  <label for="" class="col-sm-3 control-label">Nama Batch</label> 
                                  <div class="col-sm-9">
                                    <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama Batch" required>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                      </div>
                  </div>
                </div>
                </form>
              </div>
            <div class="clearfix">  
            </div>
      </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}