{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Notifikasi <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Notifikasi</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set tanggal_mulai,tanggal_selesai,get_menu = request_get('tanggal_mulai'),request_get('tanggal_selesai'),request_get('menu') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tanggal : </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control pull-right time" name="tanggal_mulai" placeholder="dari tanggal" value={{tanggal_mulai}}>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control pull-right time" name="tanggal_selesai" placeholder="sampai tanggal" value={{tanggal_selesai}}>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Menu :</label>
                <div class="col-sm-10">
                  <select class="form-control" name="menu">
                    <option value=0>Semua</option>
                    <option value="Luaran" {{set_select("menu","Luaran","Luaran"==get_menu)}}>Luaran</option>
                    <option value="Penelitian" {{set_select("menu","Penelitian","Penelitian"==get_menu)}}>Penelitian</option>
                    <option value="Surat kontrak" {{set_select("menu","Surat kontrak","Surat kontrak"==get_menu)}}>Surat kontrak</option>
                  </select>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Notifikasi</h3>
            </div><!-- .box-header -->
            {{ form_open('notif/markall/','data-toggle="validator"') }}
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-4">
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <label class="labelnya">Select all:</label>
                                <div class="formnya">
                                    <input type="checkbox" value="all" id="select_all" style="margin-top: 9px;">
                                </div>
                          </div>
                      </div>
                  </div> <!-- .row -->
                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 15%">Jenis</th>
                                <th>Notifikasi</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                                <th style="width: 5%;"></th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.jenis}}
                                  </td>
                                  <td>
                                      {{item.content}}
                                  </td>
                                  <td>
                                      {{item.created_at}}
                                  </td>
                                  <td>{% if not item.isread %} <a href="{{base_url()}}notif/mark/{{item.id}}" class="btn-success btn btn-sm default">Lewatkan</a>{% endif %}</td>
                                  <td align="center">
                                    {% if not item.isread %}
                                    <input type="checkbox" value="{{item.id}}" name="notif[]" data-id="{{item.id}}">
                                    {% endif %}
                                  </td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th style="width: 10px">#</th>
                               <th style="width: 15%">Jenis</th>
                               <th>Notifikasi</th>
                               <th>Tanggal</th>
                               <th>Action</th>
                               <th style="width: 5%"></th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->
                  <div class="pull-right" style="padding-top:10px;">
                    <button type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-floppy-disk"> </i> Lewatkan Semua</button><br>
                    <ul class="pagination pull-right">
                      {% set paging = paging_creator(page,total_pages) %}
                      {{ paging|raw }}
                    </ul>
                  </div>
            </div><!-- box_body -->
            </form>
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script>
$(document).ready(function(){

  $('.time').datepicker({
    timePicker: true, timePickerIncrement: 30,format:"yyyy-mm-dd", todayHighlight: false, forceParse: false});

  $('#select_all').click(function(event) {
      var state = this.checked; $(':checkbox').each(function() { this.checked = state; });
  });


  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
