{% extends 'pengaturan/penelitian/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}batasanggarans/{{jenpen.id}}">Batas Anggaran</a></li>
            <li class="active"><a href="{{base_url()}}janjiluarans/{{jenpen.id}}">Janji Luaran</a></li> 
            <li><a href="{{base_url()}}batchpenelitians/{{jenpen.id}}">Batch Penelitian</a></li> 
            <li><a href="{{base_url()}}targetluarans/{{jenpen.id}}">Target Luaran</a></li>
            <li><a href="{{base_url()}}keanggotaans/{{jenpen.id}}">Keanggotaan</a></li> 
            <li><a href="{{base_url()}}penilaians/{{jenpen.id}}">Penilaian</a></li>
            <li><a href="{{base_url()}}syaratpenelitians/{{jenpen.id}}">Syarat Penelitian</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobotluarans/{{jenpen.id}}">Bobot Luaran</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobothasils/{{jenpen.id}}">Bobot Hasil</a></li>
            <a href="{{base_url()}}jenispenelitians/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1"> 
            <div class="row mb-10"> 
                <div class="col-sm-4">
                    <a href="#" class="btn btn-sm btn-danger pull-left {{ items is empty ? '' : 'disabled' }} " data-toggle="modal" data-target="#add-janji-luaran"> <i class="fa fa-plus"> </i> Tambah Data </a>
                </div>
            </div> 
              <table width="99%" class="table table-bordered table-striped mb-0"> 
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Informasi</th>
                    <th>Action</th>
                  </tr> 
                </thead>
                <tbody>
                  {% for item in items %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ item.informasi|nl2br }}</td>
                      <td> 
                       <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                       <a href="#" data-href="{{base_url()}}pengaturan/penelitian/janjiluarans/delete/{{item.id}}/jenis_penelitian/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                       </td> 
                    </tr>
                    <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      {{ form_open('pengaturan/penelitian/janjiluarans/edit/'~item.id,'data-toggle="validator"') }}
                      <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Edit Target Luaran Master</h4>
                                </div>
                                <div class="modal-body" id="validate_message">
                                  <div class="form-horizontal">
                                    <div class="box-body"> 
                                        <input type="hidden" name="jenis_penelitian_id" value="{{jenpen.id}}">
                                        <div class="form-group">
                                          <label for="" class="col-sm-3 control-label">Informasi</label> 
                                          <div class="col-sm-9">
                                            <textarea class="form-control" rows="5" id="comment" name="informasi">{{item.informasi}}</textarea>
                                          </div>
                                        </div>
                                    </div>
                                  </div> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                    <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                </div>
                            </div>
                        </div>
                      </div>
                      </form>
                    </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="clearfix"></div>
      </div>
      <!-- /.tab-content -->
</div>

<div class="modal fade" id="add-janji-luaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 {{ form_open('pengaturan/penelitian/janjiluarans/add/','data-toggle="validator"') }}
 <div class="vertical-alignment-helper">
   <div class="modal-dialog vertical-align-center">
     <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Tambah Jenis Luaran</h4>
         </div>
         <div class="modal-body" id="validate_message">
           <div class="form-horizontal">
             <div class="box-body"> 
                 <input type="hidden" name="jenis_penelitian_id" value="{{jenpen.id}}">
                 <input type="hidden" id="dosen" name="dosen" value="">
                 <div class="form-group">
                   <label for="" class="col-sm-3 control-label">Informasi</label> 
                   <div class="col-sm-9">
                     <textarea class="form-control" rows="5" id="comment" name="informasi"></textarea>
                   </div>
                 </div>
             </div>
           </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
             <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
         </div>
     </div>
   </div>
 </div>
 </form>
</div>
{% endblock %}