{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Konfigurasi <small> Isian Pengesahan </small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Konfigurasi </a></li>
              <li>Penelitian</li>
              <li>Isian Pengesahan</li>
              <li class="active">Tambah Data</li> 
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 
              {% set error = validation_errors_array() %}

              {{ form_open('isianpengesahans/add','data-toggle="validator"') }}
              <div class="box box-warning">
                  <div class="box-header with-border">
                        <h3 class="box-title">Tambah </h3> 
                        <div class="box-tools settingnya">   
                              <a href="{{base_url()}}isianpengesahans/" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                        </div>
                  </div><!-- .box-header --> 
                  <div class="box-body">  

                          <div class="row">
                          <div class="col-sm-12">

                                  <!-- s:Personil Dosen-->
                                  <div class="box bordernya">
                                        <div class="box-header with-border">
                                          <h3 class="box-title"> Isian Pengesahan </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="form-horizontal">
                                            <div class="box-body"> 
                                                <input type="hidden" id="dosen" name="dosen" value="{{set_value('dosen')}}">
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label">NIDN</label> 
                                                  <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="nidn" name="nidn" placeholder="NIDN" value="{{set_value('nidn')}}" required data-remote="{{base_url()}}isianpengesahans/is_exist/">
                                                    <div class="help-block with-errors"></div>
                                                    <span class="text-danger">{{error.nidn}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Nama Lengkap </label> 
                                                  <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="nama" name="nama" readonly="readonly" value="{{set_value('nama')}}">
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Jabatan </label> 
                                                  <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="jabatan" name="jabatan" readonly="readonly" value="{{set_value('jabatan')}}">
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Status </label> 
                                                  <div class="col-sm-10">
                                                    <div class="radio">
                                                      <label>
                                                        <input type="radio" name="status" id="status" value="1" {{set_radio('status', '1', True)}}>
                                                        Aktif
                                                      </label>&nbsp&nbsp&nbsp&nbsp
                                                      <label>
                                                        <input type="radio" name="status" id="status" value="0" {{set_radio('status', '0')}}>
                                                        Tidak Aktif
                                                      </label><br>
                                                    </div>
                                                  </div>
 
                                                </div>  
                                                
                                            </div>
                                            <!-- /.box-body --> 
                                        </div> 
                                        <!-- e:form search -->  

                                    </div>
                                    <!-- e:Personil Dosen --> 
                            
                          </div>  
                        </div> <!-- .row --> 

                  </div><!-- box_body --> 
                  <div class="box-footer tc"> 
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                        <a href="{{base_url()}}isianpengesahans/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
                  </div>
              </div><!-- .box box-primary --> 
          </form>
          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script>
$(document).ready(function(){
  $( "#nidn" ).keyup(function() {
    nidn = $("#nidn").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        try{
          $("#dosen").val(data[0]["id"]);
          $("#nama").val(data[0]["nama"]);
          $("#jabatan").val(data[0]["jabatan_akademik"]["nama"]);
        }catch(err){

        }
    });
  }); 
})
</script>
{% endblock %}