{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
<a href="{{base_url()~'beranda/kontak/'}}">KONTAK</a>           
<a href="{{base_url()~'beranda/tautan/'}}">TAUTAN</a>            
{% endblock %}