{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
{{ validation_errors() }}

{{ form_open('beranda/kontak/') }}
  Kontak: <textarea rows="4" cols="50" name="isi">{{ set_value('isi',isi) }}</textarea>
</textarea>
  <br>
  <input type="submit" value="Simpan">
</form>
{% endblock %}