{% extends 'pengaturan/beranda/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li class="active"><a href="{{base_url()}}beranda/kontak">Kontak</a></li>
            <li><a href="{{base_url()}}beranda/tautan">Tautan</a></li> 
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="bheader">
                      <h3 class="btitle">Kontak</h3>
                </div> 

                 <!-- s:form search -->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Form Kontak</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  {{form_open('beranda/kontak','class="form-horizontal"')}}
                    <div class="box-body">
                          
                          <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Kontak</label> 
                              <div class="col-sm-10">
                                 <textarea class="form-control" rows="5" id="comment" name="isi">{{isi}}</textarea>
                              </div>
                          </div> 
                          
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-danger pull-right mr-10"> <i class="fa fa-plus"> </i> Save</button>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>
                <!-- e:form search -->


                <div class="clearfix"></div>   
            </div>
      </div>
      <!-- /.tab-content -->
</div>
{% endblock %}