{% extends 'pengaturan/beranda/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}beranda/kontak">Kontak</a></li>
            <li class="active"><a href="{{base_url()}}beranda/tautan">Tautan</a></li> 
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_2">
                <div class="bheader">
                      <h3 class="btitle">Tautan</h3>
                </div>  

                <!-- s:form search -->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Form Tambah Data</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  {{form_open_multipart('beranda/tautan','class="form-horizontal"')}}
                    <div class="box-body"> 

                          <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Nama Tautan</label> 
                              <div class="col-sm-10">
                                <input type="" class="form-control" id="" placeholder="" name="nama" value="{{set_value('nama')}}">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.nama}}</span>  
                              </div>
                          </div>

                          <div class="form-group">
                              <label for=" " class="col-sm-2 control-label">Isi Berita</label> 
                              <div class="col-sm-10">
                                <select class="form-control" id="type" name="type">
                                  <option> - Jenis Berita - </option>
                                    <option value=1>URL</option>
                                    <option value=0>FILE</option>
                                </select>
                              </div>
                          </div>

                          <div id="jenis">
                          </div>

                          <div class="form-group">
                            <label for=" " class="col-sm-2 control-label"></label> 
                              <div class="col-sm-10">
                                <span class="text-danger">{{error.url}}</span>  
                                <span class="text-danger">{{error.file}}</span>
                              </div>
                          </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-danger pull-right mr-10"> <i class="fa fa-plus"> </i> Tambah</button>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>
                <!-- e:form search -->

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Nama Tautan</th> 
                            <th>Berkas</th>
                            <th>URL</th> 
                            <th style="width:60px;">Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                        {% for item in items %}
                            <tr>
                              <td>{{loop.index}}.</td>
                              <td>
                                  <a href="">{{item.nama}}</a>
                              </td>  
                              <td>
                                  {% if item.type==0 %}
                                  <a href="{{base_url()}}uploads/tautans/{{item.berkas}}" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Download" target='_blank'> <i class="glyphicon glyphicon-download"></i> Download Berkas</a>
                                  {% endif %}
                              </td>
                              <td>
                                {% if item.type==1 %}
                                  <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                                {% endif %}
                              </td> 
                              <td> 
                                  <a href="#" data-href="{{base_url()}}beranda/tautan_delete/{{item.id}}" class="btn btn-sm btn-warning" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>  
                        {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th>#</th>
                            <th>Nama Tautan</th> 
                            <th>Berkas</th> 
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                  </table>   
              
                  {# <ul class="pagination pull-right">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                  </ul>   #}


                <div class="clearfix"></div>   
            </div>
            <!-- e.2 -->  
      </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#type" ).change(function() {
      var type = $("#type").val();
      var data = '';
      if(type==0){
        data +='<div class="form-group">';
        data +='<label for="" class="col-sm-2 control-label"> Berkas </label>';
        data +='<div class="col-sm-10">';
        data +='<input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file">';
        data +='<div class="bootstrap-filestyle input-group">';
        data +='<input type="text" class="form-control " placeholder="" disabled="" id="filename">'; 
        data +='<span class="group-span-filestyle input-group-btn" tabindex="0">';
        data +='<label for="icondemo" class="btn btn-warning ">';
        data +='<span class="icon-span-filestyle glyphicon glyphicon-file"></span>'; 
        data +='<span class="buttonText">Select File</span>';
        data +='</label>';
        data +='</span>';
        data +='</div>';
        data +='</div>'; 
        data +='</div>';
      }else{
        data +='<div class="form-group">';
        data +='<label for="" class="col-sm-2 control-label">URL</label>'; 
        data +='<div class="col-sm-10">';
        data +='<input type="" class="form-control" id="" placeholder="" name="url">';
        data +='</div>';
        data +='</div>';
      }
      $("#jenis").empty();
      $("#jenis").append(data);
      $("input[name='file']").change(function() {
        var fileName = $(this).val().split('/').pop().split('\\').pop();
        $("#filename").val(fileName);
      });
  });
});

</script>
{% endblock %}