{% extends 'template.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pengaturan <small> Penelitian</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{base_url()}}home/"><i class="fa fa-home"></i> Beranda </a></li>
                <li>Konfigurasi</li>
                <li> Peta Potensi Peneltian </a></li>
                <li class="active"> Detail </a></li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">

            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"> Peta Potensi Penelitian {{tahun.tahun}} </h3>
                </div><!-- .box-header -->

                <div class="box-body">
                    <div class="row mb-10"> 
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-sm btn-danger pull-left"  data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        </div>
                        <div class="col-sm-8">
                            <div class="box-tools settingnya"> 
                                <label class="labelnya">Tampil data:</label> 
                                <div class="formnya">  
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                    </select>
                                </div>   
                            </div> 
                        </div>  
                    </div>

                    <table width="99%" class="table table-bordered mb-0"> 
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Pendidikan Terakhir</th>
                                <th>Jabatan Akademik</th>
                                <th>Target Luaran Penelitian</th> 
                                <th>Action</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{loop.index+((page-1)*views)}}.</td>
                                    <td>
                                        {{item.syarat}}
                                    </td>
                                    <td>
                                        {{item.jabatan_akademik.nama}}
                                    </td>
                                    <td>
                                        {% for luaran in item.luaran_text %}
                                            {{luaran}}: {{item.jumlah[loop.index0]}}<br>
                                        {% endfor %}
                                    </td>
                                    <td> 
                                        <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-jenis{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                        <a href="#" data-href="{{base_url()}}pengaturan/petapotensi/petapotensidetail/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                                    </td>
                                    <div class="modal fade" id="edit-jenis{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        {{ form_open('pengaturan/petapotensi/petapotensidetail/edit/'~item.id) }}
                                        <div class="vertical-alignment-helper">
                                            <div class="modal-dialog vertical-align-center">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Peta Potensi Penelitian</h4>
                                                    </div>
                                                    <div class="modal-body" id="validate_message">
                                                        <input type="hidden" id="id" name="id" value="{{item.id}}">
                                                        <div class="form-horizontal">
                                                            <div class="box-body"> 
                                                              <div class="form-group">
                                                                    <label for="" class="col-sm-3 control-label">Pendidikan Terakhir</label> 
                                                                    <div class="col-sm-9">
                                                                      <select type="text" class="form-control" id="syarat" name="syarat" required>
                                                                            <option value="">--PILIH--</option>
                                                                            <option value="S1" {{set_select('syarat','S1','S1'==item.syarat)}}>S1</option>
                                                                            <option value="S2" {{set_select('syarat','S2','S2'==item.syarat)}}>S2</option>
                                                                            <option value="S3" {{set_select('syarat','S3','S3'==item.syarat)}}>S3</option>
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div class="form-group">
                                                                    <label for="" class="col-sm-3 control-label">Jabatan Akademis</label> 
                                                                    <div class="col-sm-9">
                                                                      <select type="text" class="form-control" id="jabatan_akademik" name="jabatan_akademik" required>
                                                                            <option value="">--PILIH--</option>
                                                                            {% for jab in jabatan_akademik %}
                                                                                <option value="{{jab.id}}" {{set_select('jabatan_akademik',jab.id,jab.id==item.jabatan_akademik.id)}}>{{jab.nama}}</option>
                                                                            {% endfor %}
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                              <div class="form-group">
                                                                    <label for="" class="col-sm-3 control-label">Target Luaran</label> 
                                                                    <div class="col-sm-9">
                                                                        <a href="#" class="btn btn-default tambahinstansi"> Tambah</a>
                                                                    </div>
                                                              </div>
                                                              <div class="form-group">
                                                                    {% for luaran in item.luaran %}
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <div class="col-sm-9">
                                                                                    <select name="target[]" class="form-control">
                                                                                        <option value="">--PILIH--</option>
                                                                                        <option value="1" {{set_select('target[]','1','1'==luaran)}}>Publikasi Jurnal - Internasional</option>
                                                                                        <option value="2" {{set_select('target[]','2','2'==luaran)}}>Publikasi Jurnal - Nasional Terakreditasi</option>
                                                                                        <option value="3" {{set_select('target[]','3','3'==luaran)}}>Publikasi Jurnal - Nasional Tidak Terakreditasi</option>
                                                                                        <option value="4" {{set_select('target[]','4','4'==luaran)}}>Buku Ajar/Teks</option>
                                                                                        <option value="5" {{set_select('target[]','5','5'==luaran)}}>Pemakalah Forum Ilmiah - Internasional</option>
                                                                                        <option value="6" {{set_select('target[]','6','6'==luaran)}}>Pemakalah Forum Ilmiah - Nasional</option>
                                                                                        <option value="7" {{set_select('target[]','7','7'==luaran)}}>Pemakalah Forum Ilmiah - Regional</option>
                                                                                        <option value="8" {{set_select('target[]','8','8'==luaran)}}>Hak Kekayaan Intelektual</option>
                                                                                        <option value="9" {{set_select('target[]','9','9'==luaran)}}>Luaran Lain</option>
                                                                                        <option value="10" {{set_select('target[]','10','10'==luaran)}}>Penyelenggara Forum Ilmiah</option>
                                                                                        <option value="11" {{set_select('target[]','11','11'==luaran)}}>Penelitian Mandiri</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-3">
                                                                                    <input type="number" class="form-control" name="jumlah[]" value="{{item.jumlah[loop.index0]}}" required>
                                                                                </div>
                                                                            </div>
                                                                            <button type="button" class="close close-div" aria-label="Close">
                                                                              <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                    {% endfor %}
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                                    <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div> 
                                </tr>
                            {% endfor %}
                        </tbody> 
                        <tfoot> 
                            <tr> 
                                <th style="width: 10px">#</th>
                                <th>Pendidikan Terakhir</th>
                                <th>Jabatan Akademik</th>
                                <th>Target Luaran Penelitian</th> 
                                <th>Action</th>
                            </tr> 
                        </tfoot> 
                    </table>   


            <ul class="pagination pull-right">
                {% for i in 1..total_pages %}
                    {% if page==i %}
                        <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                        <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('pengaturan/petapotensi/petapotensidetail/add/','id="add" data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Tambah Peta Potensi Penelitian</h4>
                            </div>
                            <div class="modal-body" id="validate_message">
                                <div class="form-horizontal">
                                    <div class="box-body"> 
                                      <input type="hidden" id="petapotensi" name="petapotensi" value="{{id}}">
                                      <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Pendidikan Terakhir</label> 
                                            <div class="col-sm-9">
                                              <select type="text" class="form-control" id="syarat" name="syarat" required>
                                                    <option value="">--PILIH--</option>
                                                    <option value="S1">S1</option>
                                                    <option value="S2">S2</option>
                                                    <option value="S3">S3</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Jabatan Akademis</label> 
                                            <div class="col-sm-9">
                                              <select type="text" class="form-control" id="jabatan_akademik" name="jabatan_akademik" required>
                                                    <option value="">--PILIH--</option>
                                                    {% for item in jabatan_akademik %}
                                                        <option value="{{item.id}}">{{item.nama}}</option>
                                                    {% endfor %}
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Target Luaran</label> 
                                            <div class="col-sm-9">
                                                <a href="#" class="btn btn-default tambahinstansi"> Tambah</a>
                                            </div>
                                      </div>
                                      <div class="form-group" id="formnya">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-9">
                                                        <select name="target[]" class="form-control" required>
                                                            <option value="">--PILIH--</option>
                                                            <option value="1">Publikasi Jurnal - Internasional</option>
                                                            <option value="2">Publikasi Jurnal - Nasional Terakreditasi</option>
                                                            <option value="3">Publikasi Jurnal - Nasional Tidak Terakreditasi</option>
                                                            <option value="4">Buku Ajar/Teks</option>
                                                            <option value="5">Pemakalah Forum Ilmiah - Internasional</option>
                                                            <option value="6">Pemakalah Forum Ilmiah - Nasional</option>
                                                            <option value="7">Pemakalah Forum Ilmiah - Regional</option>
                                                            <option value="8">Hak Kekayaan Intelektual</option>
                                                            <option value="9">Luaran Lain</option>
                                                            <option value="10">Penyelenggara Forum Ilmiah</option>
                                                            <option value="11">Penelitian Mandiri</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="number" class="form-control" name="jumlah[]" placeholder="" required data-minus="true">
                                                    </div>
                                                </div>
                                                <button type="button" class="close close-div" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix">  
            </div>
        </div><!-- box_body -->

    </div><!-- .box box-primary --> 

</section>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
    $(document).ready(function(){
        $('#add').validator({
            custom: {
                'minus': function($el) { 
                    // console.log($el.val());
                    if($el.val()<1)return true;
                    return false;
                }
            }
        });
        $( "#views" ).change(function() {
            var value = $("#views").val();
            window.location.href = $.query.set("views", value).set('page',1);
        });

        $(".paging").click(function(){
            paging = $(this).data("page");
            window.location.href = $.query.set("page", paging)
        });

        $(".tambahinstansi").click(function(){
            var text =  '<div class="col-sm-12">'
                        +'<div class="form-group">'
                        +'<div class="col-sm-9">'
                        +'<select name="target[]" class="form-control" required>'
                        +'<option value="">--PILIH--</option>'
                        +'<option value="1">Publikasi Jurnal - Internasional</option>'
                        +'<option value="2">Publikasi Jurnal - Nasional Terakreditasi</option>'
                        +'<option value="3">Publikasi Jurnal - Nasional Tidak Terakreditasi</option>'
                        +'<option value="4">Buku Ajar/Teks</option>'
                        +'<option value="5">Pemakalah Forum Ilmiah - Internasional</option>'
                        +'<option value="6">Pemakalah Forum Ilmiah - Nasional</option>'
                        +'<option value="7">Pemakalah Forum Ilmiah - Regional</option>'
                        +'<option value="8">Hak Kekayaan Intelektual</option>'
                        +'<option value="9">Luaran Lain</option>'
                        +'<option value="10">Penyelenggara Forum Ilmiah</option>'
                        +'<option value="11">Penelitian Mandiri</option>'
                        +'</select>'
                        +'</div>'
                        +'<div class="col-sm-3">'
                        +'<input type="number" class="form-control" name="jumlah[]" placeholder="" required data-minus="true">'
                        +'</div>'
                        +'</div>'
                        +'<button type="button" class="close close-div" aria-label="Close">'
                        +'<span aria-hidden="true">&times;</span>'
                        +'</button>'
                        +'</div>';
            var content = $(this).parent().parent().next();
            content.append(text);
            trigger();
            $("#add").validator('update');
        });
        trigger();
        function trigger(){
            $(".close").click(function(){
                var div = $(this).parent();
                div.remove();
                return false;
            });
        }
    });
</script>
{% endblock %}