{% extends 'pengaturan/repository/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}suratkontraks/repos/billboards"> Repository </a></li>
<li class="active">Billboard</li>
{% endblock %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="{{base_url()}}repos/billboards/">Billboard</a></li>
      <li><a href="{{base_url()}}repos/subjects/">Subject</a></li>
      <li><a href="{{base_url()}}repos/tahuns/">Year</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Judul</th>
              <th>URL</th>
              <th style="width:10%;">Status</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <!-- {{dump(item)}}<br> -->
              <tr>
                <td>{{loop.index+((page-1)*views)}}.</td>
                <td>
                  <a href="#" data-toggle="modal" data-target="#open_image{{item.id}}">{{item.judul}}</a>
                </td>
                <td>
                  {{item.url}}
                </td>
                <td>
                  {{item.status_text}}
                </td>
                <td>
                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                  <a href="#" data-href="{{base_url()}}repos/billboards/delete/{{item.id}}" class="btn btn-sm btn-danger" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                </td>
              </tr>
              <div class="modal fade" id="open_image{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center" style="width:50%;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body" id="validate_message">
                          <img src="{{base_url()}}uploads/billboard/{{item.image}}" style="max-height:250px;"/>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Tutup</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
              <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open_multipart('repos/billboards/update/'~ item.id,'data-toggle="validator"') }}
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center" style="width:50%;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Edit Billboard</h4>
                        </div>
                        <div class="modal-body" id="validate_message">
                          <div class="form-horizontal">
                            <div class="box-body">
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Judul</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" name="judul" value="{{item.judul}}" required>
                                  <div class="help-block with-errors"></div>
                                  <span class="text-danger">{{error.judul}}</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">URL</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control tanggal_hidden" name="url" value="{{item.url}}" required>
                                  <div class="help-block with-errors"></div>
                                  <span class="text-danger">{{error.url}}</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Deskripsi</label>
                                <div class="col-sm-8">
                                  <textarea class="form-control" name="deskripsi" rows="5" required>{{item.deskripsi|nl2br}}</textarea>
                                  <div class="help-block with-errors"></div>
                                  <span class="text-danger">{{error.url}}</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Image</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">
                                                Browse… <input type="file" id="imgInp" name="file" class="imgInp" required>
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                    <img src="{{base_url()}}uploads/billboard/{{item.image}}" style="max-width:450px;"/>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label"> Status </label>
                                <div class="col-sm-9">
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="status" id="status" value="1" {{set_radio('status',"1","1"==item.status)}}>
                                      Aktif
                                    </label>&nbsp&nbsp&nbsp&nbsp
                                    <label>
                                      <input type="radio" name="status" id="status" value="0" {{set_radio('status',"0","0"==item.status)}}>
                                      Tidak Aktif
                                    </label><br>
                                  </div>
                                </div>

                              </div>

                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Judul</th>
              <th>URL</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open_multipart('repos/billboards/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Billboard</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Judul</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="judul" value="{{set_value('judul')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.judul}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">URL</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control tanggal_hidden" name="url" value="{{set_value('url')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.url}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Deskripsi</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="deskripsi" rows="5" required>{{set_value('deskripsi')|nl2br}}</textarea>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.url}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Image</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Browse… <input type="file" id="imgInp" name="file" class="imgInp" required>
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='img-upload' style="max-width:450px;"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Status </label>
                    <div class="col-sm-9">
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="status" value="1" disabled>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="status" id="status" value="0" checked>
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script>
  var _URL = window.URL || window.webkitURL;
  $(document).ready(function(){
    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    });

  $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
      
    });
    function readURL(input,container) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                // console.log(e);
                container.attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(".imgInp").change(function(){
        readURL(this,$(this).parent().parent().parent().next());
    });   
  });
</script>
{% endblock %}
