{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small>Tambah Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
        <li class="active">List Dosen</li>
        <li class="active">Tambah Dosen</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_ketua_prodi,get_batch,get_nama = request_get('tahun'),request_get('ketua_prodi'),request_get('batch'),request_get('nama') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Fakultas : </label>
                <div class="col-sm-10">
                    <select class="form-control" name="fakultas" id="fakultas">
                      <option value="">Pilih Fakultas</option>
                      {% for item in fakultas %}
                          <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==fakultas_selected)}}>{{item.nama}}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Program Studi : </label>
                <div class="col-sm-10">
                    <select class="form-control" name="program_studi" id="program_studi">
                      {% for item in program_studi %}
                          <option value="{{item.id}}" {{set_select('program_studi',item.id,item.id==program_studi_selected)}}>{{item.nama}}</option>
                      {% endfor %}
                    </select>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label>
                <div class="col-sm-10">
                    <input type="" class="form-control" id="nama" name="nama" placeholder="" value="{{get_nama}}">
                </div>
              </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {{ form_open('akreditas/akreditasdosen/add_semua','data-toggle="validator"') }}
        <input type="hidden" name="akreditas" value={{id}} />
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Dosen</h3>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <label class="labelnya">Select all:</label>
                                <div class="formnya">
                                    <input type="checkbox" value="all" id="select_all" style="margin-top: 9px;">
                                </div>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 5%">#</th>
                                <th>Nama Dosen</th>
                                <th style="text-align: center;">Action</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.nama_lengkap}}<br>
                                      NIDN: {{item.nidn}}
                                  </td>
                                  <td align="center">
                                    <a href="{{base_url()}}akreditas/akreditasdosen/add_satuan/{{item.id}}?akreditas={{id}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-plus" data-toggle="tooltip" data-original-title="Detail"></i> </a>
                                  </td>
                                  <td align="center"><input type="checkbox" value="{{item.id}}" name="dosen[]" data-id="{{item.id}}"></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th>#</th>
                               <th>Nama Dosen</th>
                               <th style="width: 5%;text-align: center;">Action</th>
                               <th style="width: 2%"></th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

            </div><!-- box_body -->
            <div class="box-footer tc">
                  <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                  <a href="{{base_url()}}akreditas/akreditasdosen/{{id}}" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Batal</a>
            </div>
        </div><!-- .box box-primary -->

    </section>
</div>
<script>
$(document).ready(function(){
  $('#select_all').click(function(event) {
      var state = this.checked; $(':checkbox').each(function() { this.checked = state; });
  });

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
