{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small>List Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
        <li class="active">List Dosen</li>
        <li class="active">Akreditas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        {% include 'akreditas/panel_atas.twig' %}

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_ketua_prodi,get_batch = request_get('nama'),request_get('nidn'),request_get('batch') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">NIDN</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="nidn" name="nidn" placeholder="" value="{{get_ketua_prodi}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nama" name="nama" placeholder="" value="{{get_tahun}}">
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Dosen</h3>
                  <a href="{{base_url()}}akreditas/manageakreditas/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if true %}
                          <a href="{{base_url()}}akreditas/akreditasdosen/add/{{id}}" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}akreditas/akreditasdosen/pdf/{{akreditass.id}}?nomor={{get_nomor}}&tahun_penelitian={{get_tahun}}&batch={{get_batch}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Nama Dosen</th>
                                <th>Luaran</th>
                                <th>Penelitian</th>
                                <th style="width: 40px%">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.dosen.nama_lengkap}}<br>
                                      NIDN: {{item.dosen.nidn}}<br>
                                      Jabatan Akademik: {{item.dosen.jabatan_akademik.nama}}<br>
                                      Pendidikan: {{item.dosen.tingkat}}<br>
                                  </td>
                                  <td><a href="{{base_url()}}akreditas/akreditasdosen/listluaran/{{id}}?dosen={{item.dosen.id}}">{{item.total_luaran}}</a></td>
                                  <td><a href="{{base_url()}}akreditas/akreditasdosen/detailpenelitian/{{id}}?dosen={{item.dosen.id}}">{{item.total_penelitian}}</a></td>
                                  <td>
                                    <a href="#" data-href="{{base_url()}}akreditas/akreditasdosen/delete/{{item.id}}?akreditas={{id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                                  </td>
                                </tr>
                                <div class="modal fade" id="edit-jenis{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  {{ form_open('akreditas/manageakreditas/edit/'~ item.id,'data-toggle="validator"') }}
                                  <div class="vertical-alignment-helper">
                                    <div class="modal-dialog vertical-align-center">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit Akreditasi</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                          <div class="form-horizontal">
                                            <div class="box-body">
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Nama Ketua Prodi:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.dosen.nama_lengkap}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Fakultas:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.fakultas.nama}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Program Studi:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.program_studi.nama}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Tahun</label>
                                                <div class="col-sm-3">
                                                  <select class="form-control" name="tahun_dari" id="tahun_dari">
                                                    {% for ite in tahun %}
                                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_dari.id)}}>{{ite.tahun}}</option>
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                                <label for="" class="col-sm-1 control-label">-</label>
                                                <div class="col-sm-3">
                                                   <select class="form-control" name="tahun_sampai" id="tahun_sampai">
                                                    {% for ite in tahun %}
                                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_sampai.id)}}>{{ite.tahun}}</option>
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th>#</th>
                               <th>Nama Dosen</th>
                               <th>Luaran</th>
                               <th>Penelitian</th>
                               <th>Action</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  var data = {
      labels: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
      datasets: [
          {
              label: false,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              borderWidth: 1,
              hoverBackgroundColor: "rgba(255,99,132,0.4)",
              hoverBorderColor: "rgba(255,99,132,1)",
              data: [{% for item in akreditass.klasifikasi_anggota %} {{item}}, {% endfor %}],
          }
      ]
  };

  var color = ["#1abc9c","#27ae60","#2980b9","#8e44ad","#2c3e50","#f39c12"];

  Highcharts.chart('klasifikasi', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
    plotOptions: {
            bar: {
                stacking: 'normal'
            }
        },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in akreditass.klasifikasi_anggota %} {y:{{item}},color:color[{{loop.index}}]}, {% endfor %}]
    }]
});

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
