{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_ketua_prodi,get_batch,get_fakultas = request_get('tahun'),request_get('ketua_prodi'),request_get('batch'),request_get('ketua_prodi') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Ketua Prodi</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ketua_prodi" name="ketua_prodi" placeholder="Nama Ketua Prodi" value="{{get_ketua_prodi}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Program Studi : </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-6">
                      <select class="form-control" name="fakultas" id="fakultas">
                        <option value="">Semua Fakultas</option>
                        {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-control" name="program_studi" id="program_studi">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tahun Akreditasi</label>
                <div class="col-sm-10">
                  <select class="form-control" name="tahun" id="tahun">
                    <option value="">Pilih Tahun</option>
                    {% for item in tahun %}
                        <option value="{{item.tahun}}" {{set_select('tahun',item.id,item.id==tahun)}}>{{item.tahun}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Akreditasi</h3>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if userinfo.isketuaprodi==1 %}
                          <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-suratkontrak"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Nama Ketua Prodi</th>
                                <th>Fakultas-Prodi</th>
                                <th>Tahun</th>
                                <th style="width: 40px%">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.dosen.nama_lengkap}}<br>
                                      NIDN: {{item.dosen.nidn}}<br>
                                      Jabatan Akademik: {{item.dosen.jabatan_akademik.nama}}<br>
                                      Pendidikan: {{item.dosen.tingkat}}<br>
                                  </td>
                                  <td>
                                      {{item.fakultas.nama}} -
                                      {{item.program_studi.nama}}
                                  </td>
                                  <td> {{item.tahun_dari.tahun}} - {{item.tahun_sampai.tahun}}  </td>
                                  <td>
                                    <a href="{{base_url()}}akreditas/akreditasdosen/{{item.id}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-list-ul" data-toggle="tooltip" data-original-title="Detail"></i> </a>
                                    {% if userinfo.id==item.dosen.id %}
                                    <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-jenis{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                    <a href="#" data-href="{{base_url()}}akreditas/manageakreditas/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                                    {% endif %}
                                  </td>
                                </tr>
                                <div class="modal fade" id="edit-jenis{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  {{ form_open('akreditas/manageakreditas/edit/'~ item.id,'data-toggle="validator"') }}
                                  <div class="vertical-alignment-helper">
                                    <div class="modal-dialog vertical-align-center">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit Akreditasi</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                          <div class="form-horizontal">
                                            <div class="box-body">
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Nama Ketua Prodi:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.dosen.nama_lengkap}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Fakultas:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.fakultas.nama}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Program Studi:</label>
                                                <div class="col-sm-8">
                                                  <label class="control-label">{{item.program_studi.nama}}</label>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-4 control-label">Tahun</label>
                                                <div class="col-sm-3">
                                                  <select class="form-control" name="tahun_dari" id="tahun_dari">
                                                    {% for ite in tahun %}
                                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_dari.id)}}>{{ite.tahun}}</option>
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                                <label for="" class="col-sm-1 control-label">-</label>
                                                <div class="col-sm-3">
                                                   <select class="form-control" name="tahun_sampai" id="tahun_sampai">
                                                    {% for ite in tahun %}
                                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_sampai.id)}}>{{ite.tahun}}</option>
                                                    {% endfor %}
                                                  </select>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th>#</th>
                               <th>Nama Ketua Prodi</th>
                               <th>Fakultas-Prodi</th>
                               <th>Tahun</th>
                               <th>Action</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>

    <div class="modal fade" id="add-suratkontrak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('akreditas/manageakreditas/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Akreditasi</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Nama Ketua Prodi:</label>
                    <div class="col-sm-8">
                      <label class="control-label">{{userinfo.nama_lengkap}}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Fakultas:</label>
                    <div class="col-sm-8">
                      <label class="control-label">{{userinfo.fakultas.nama}}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Program Studi:</label>
                    <div class="col-sm-8">
                      <label class="control-label">{{userinfo.program_studi.nama}}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Tahun</label>
                    <div class="col-sm-3">
                      <select class="form-control" name="tahun_dari" id="tahun_dari" required>
                        <option value="">Pilih Tahun</option>
                        {% for item in tahun %}
                            <option value="{{item.id}}">{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <label for="" class="col-sm-1 control-label">-</label>
                    <div class="col-sm-3">
                       <select class="form-control" name="tahun_sampai" id="tahun_sampai" required>
                        <option value="">Pilih Tahun</option>
                        {% for item in tahun %}
                            <option value="{{item.id}}">{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){

  $('#tahun_dari').on('change', function () {
    var value = parseInt($(this).find("option:selected").text());
    // alert(value);
    $("#tahun_sampai > option").each(function() {
        if(this.text<value && this.text!=""){
          $(this).prop('disabled',true);
        }else{
          $(this).prop('disabled',false);
        }
        
        // alert(this.text + ' ' + this.value);
        // if(this.text)
    });
    // $('option[value=5]').prop('disabled', this.value === '2');
});

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='<option value="0">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
