{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Akreditas <small>List Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Akreditas</li>
        <li class="active">List Dosen</li>
        <li class="active">Akreditas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    <section class="content">
        {% include 'akreditas/panel_atas.twig' %}
        <!-- s:form search -->

        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Luaran - {{items.dosen.nama_lengkap}} - {{items.dosen.jabatan_akademik.nama}} - {{items.dosen.tingkat}}</h3>
                  <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">

                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 4%;">#</th>
                                <th>Jenis Luaran</th>
                                <th>Jumlah</th>
                                <th style="width: 5%;">Detail</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1.</td>
                              <td>Publikasi Jurnal</td>
                              {# {{dump(items.dosen)}} #}
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_jurnal %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailjurnal/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>2.</td>
                              <td>Buku Ajar</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_bukuajar %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailbukuajar/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>3.</td>
                              <td>Pemakalah Forum Ilmiah</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_forumilmiah %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailforumilmiah/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>4.</td>
                              <td>Hak Kekayaan Intelektual</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_hki %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailhki/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>5.</td>
                              <td>Luaran Lain</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_luaranlain %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailluaranlain/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>6.</td>
                              <td>Penyelenggara Forum Ilmiah</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_penyelenggaraforumilmiah %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailpforumilmiah/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                            <tr>
                              <td>7.</td>
                              <td>Penelitian Mandiri</td>
                              <td>
                                {% set counter = 0 %}
                                {% for key, item in items.total_penelitianhibah %}
                                    {% set counter = counter+item %}
                                {% endfor %}
                                {{counter}}
                              </td>
                              <td>{% if counter>0 %}<a class="btn btn-sm btn-info" href="{{base_url()}}akreditas/akreditasdosen/detailmandiri/{{id}}?dosen={{items.dosen.id}}">Detail</a>{% endif %}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                             <tr>
                                <th style="width: 10px">#</th>
                                <th>Jenis Luaran</th>
                                <th>Jumlah</th>
                                <th style="width: 40px">Detail</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  var data = {
      labels: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
      datasets: [
          {
              label: false,
              backgroundColor: "rgba(255,99,132,0.2)",
              borderColor: "rgba(255,99,132,1)",
              borderWidth: 1,
              hoverBackgroundColor: "rgba(255,99,132,0.4)",
              hoverBorderColor: "rgba(255,99,132,1)",
              data: [{% for item in akreditass.klasifikasi_anggota %} {{item}}, {% endfor %}],
          }
      ]
  };

  var color = ["#1abc9c","#27ae60","#2980b9","#8e44ad","#2c3e50","#f39c12"];

  Highcharts.chart('klasifikasi', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in akreditass.klasifikasi_anggota %} "{{keys}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
    plotOptions: {
            bar: {
                stacking: 'normal'
            }
        },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in akreditass.klasifikasi_anggota %} {y:{{item}},color:color[{{loop.index}}]}, {% endfor %}]
    }]
});


  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
