        <div class="row">
          {% if akreditass.tahun_range|length>=5 %}
            <div class="col-lg-2 col-md-offset-0"></div>
          {% endif %}
          <div class="col-lg-4 col-md-offset-0">
              <section class="">
                <div class="box bordernya" style="min-height:200px;">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="" class="col-sm-4">Fakultas</label>
                      <div class="col-sm-8">
                        {{akreditass.fakultas.nama}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Prodi</label>
                      <div class="col-sm-8">
                        {{akreditass.program_studi.nama}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Ka Prodi</label>
                      <div class="col-sm-8">
                        {{akreditass.dosen.nama_lengkap}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Tahun</label>
                      <div class="col-sm-8">
                        {{akreditass.tahun_dari.tahun}} - {{akreditass.tahun_sampai.tahun}}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4">Pendidikan</label>
                      <div class="col-sm-8">
                        S1 = {{akreditass.total_tingkat.S1}}<br>
                        S2 = {{akreditass.total_tingkat.S2}}<br>
                        S3 = {{akreditass.total_tingkat.S3}}
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </section>
          </div>
          <div class="col-lg-4  col-md-offset-0">
              <section class="">
                <div class="box bordernya" style="min-height:250px;" id="klasifikasi">
                </div>
              </section>
          </div>
          <div class="{% if akreditass.tahun_range|length>=5 %} col-lg-12 {% else %} col-lg-4 {% endif %}  col-md-offset-0">
              <section class="">
                <div class="box bordernya" style="min-height:200px;">
                  <table width="100%" class="table table-bordered table-striped mb-0" style="font-weight: 400; font-size: 13px;">
                      <thead>
                          <tr>
                            <th>Luaran</th>
                            {% for key,item in akreditass.tahun_range %}
                            <th>{{key}}</th>
                            {% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jurnal</td>
                          {% for item in akreditass.total_jurnal %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Prosiding</td>
                          {% for item in akreditass.total_forumilmiah %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Buku</td>
                          {% for item in akreditass.total_bukuajar %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>HKI</td>
                          {% for item in akreditass.total_hki %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Luaran Lain</td>
                          {% for item in akreditass.total_luaranlain %}
                          <td>{{item}}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Penelitian</td>
                          {% for key,item in akreditass.total_penelitian %}
                          {% set gabungan = item+akreditass.total_penelitianhibah[key] %}
                          <td>{{gabungan}}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                  </table>
                </div>
              </section>
          </div>
        </div>