{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Subject  
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
              <li>  Subject   </li> 
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 


              <div class="box"> 

                  <div class="box-body">  

                        Collection merupakan kumpulan data repository berdasarkan yang diinput pada SIMAKIP data otomatis terintegrasi ke repository ini:

                         <ul class="list_berita_1 akordion">
                              {% include "subject/menu-links.html" with {'items':items} only %}                        
                        </ul> 
                        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->



                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script type="text/javascript">

$(document).ready(function(){

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging);
  });

});

</script>
{% endblock %}