{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Subject 
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
              <li><a href="">Subject</a></li> 
            </ol> 
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">  


              <div class="box"> 

                  <div class="box-body">  

                        {% include  'search.twig' %}
                        
                        <ul class="list_berita_1"> 
                            {% for item in items %}
                              <li >
                                  {% set judulx = item.judul|lower|replace({'(':'',')':'','\'':'',',':''})|split(' ') %}
                                  {% set judulx = judulx[0]~'-'~judulx[1]~'-'~judulx[2]~'-'~judulx[3]~'-'~judulx[4]%}
                                  {% set judulx = judulx|replace({'--':'-','---':'-'})%}
                                  <h2><a href="{{base_url()}}collections/{{item.url}}/detail/{{item.id}}/{{judulx|url_encode }}">{{item.judul}}</a> </h2>
                                  <span class="author"> {{item.nama}}  - {{item.type}} - {{item.tahun}}</span>
                                  <div class="desc">
                                   {{item.judul}}
                                   </div>
                              </li>
                            {% endfor %} 
                        </ul>
                        <div class="tc">
                            <ul class="pagination pull-right">
                              {% set paging = paging_creator(page,total_pages) %}
                              {{ paging|raw }}
                            </ul>
                        </div>

                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script type="text/javascript">

$(document).ready(function(){

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging);
  });

});

</script>
{% endblock %}