{% for item in items %}
<li class="">
    {% if item.child %}
    <button class="ak" data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.id}}"><i class="fa  fa-chevron-down"></i></button>
    {% endif %}
    <h2><a href="{{base_url()}}subject/lists/{{item.id}}/{{item.nama}}">{{item.nama}} ({{item.total}})</a> </h2>  

    {% if item.child %}
    <ul id="collapse{{item.id}}" class="panel-collapse collapse">
        {% include "subject/menu-links.html" with {'items': item.child} %}
    </ul>
    {% endif %}
</li>
{% endfor %}