<form action="/penelitians/updateluaranwajib" id="edit_form_luaran_wajib" data-toggle="validator" method="post" accept-charset="utf-8">
<div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Luaran Wajib</h4>
        </div>
        <div class="modal-body" id="validate_message">
          <div class="form-horizontal">
              <div class="box-body"> 
                <div class="form-group">
                  <label class="col-sm-4 control-label">Kategori Luaran</label> 
                  <div class="col-sm-8">
                    <select class="form-control" id="edit_select_target_luaran_master__wajib" name="target_luaran_master">
                    <option value="">Pilih Kategori Luaran</option>
                    {% for luaran_master in target_luaran_master %}
                      <option {{ luaran_wajib.target_luaran_master_id == luaran_master.id ? 'selected' : '' }} value="{{ luaran_master.id }}">{{ luaran_master.nama }}</option> 
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <input type="hidden" value="{{ luaran_wajib.id }}" class="id" name="id">
                <input type="hidden" value="{{ luaran_wajib.penelitian_id }}" class="penelitian_id" name="penelitian_id">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Luaran</label> 
                  <div class="col-sm-8">
                    <select class="form-control" id="edit_select_luaran__wajib" name="target_luaran_sub">
                    <option value="">Pilih</option> 
                    {% for tlsub in target_luaran_sub_option %}
                      <option {{ tlsub.id == luaran_wajib.target_luaran_sub.id ? 'selected' : '' }} value="{{ tlsub.id }}">{{ tlsub.nama }}</option> 
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label id="edit_label_rencana_jurnal_wajib" class="col-sm-4 control-label">Rencana Jurnal</label> 
                  <div class="col-sm-8">
                    <textarea id="edit_rencana_jurnal__wajib_input" name="rencana_jurnal" class="form-control">{{ luaran_wajib.rencana_jurnal }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label id="edit_label_url_jurnal_wajib" class="col-sm-4 control-label">URL</label> 
                  <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{ luaran_wajib.url_jurnal }}" name="url_jurnal" placeholder="URL" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Status</label> 
                  <div class="col-sm-8">
                    <select class="form-control" id="edit_select_status__wajib" name="target_luaran_status">
                      <option value="">Pilih</option> 
                      {% for tlstatus in target_luaran_status_option %}
                        <option {{ tlstatus.id == luaran_wajib.target_luaran_status.id ? 'selected' : '' }} value="{{ tlstatus.id }}">{{ tlstatus.status }}</option> 
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Bukti Luaran</label> 
                  <div class="col-sm-8">
                    <label id="edit_bukti_luaran__wajib" class="control-label">{{ luaran_wajib.bukti_luaran }}</label>
                    <input type="hidden" class="form-control" value="{{ luaran_wajib.bukti_luaran }}" id="edit_bukti_luaran__wajib_input" name="bukti_luaran" placeholder="Bukti Luaran" required>
                  </div>
                </div>
              </div>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
          <button type="submit" id="edit_submit_luaran_wajib" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
        </div>
      </div>
  </div>
</div>
</form>

<script type="text/javascript">
  $(document).ready(function(){
    $('#edit_select_target_luaran_master__wajib').on('change', function() {
      var id_target_luaran_master = this.value;
      
      $.getJSON("/pengaturan/penelitian/targetluaranmasters/json/"+id_target_luaran_master,function(result){
          let data_select_luaran_wajib = result.target_luaran_sub.map ( result => {
            return '<option value="'+result.id+'">'+result.nama+'</option>'
          })
          
          var data_merge_luaran_wajib_edit = '<option value="">Pilih</option>'+data_select_luaran_wajib.join('');
          $("#edit_select_luaran__wajib").html(data_merge_luaran_wajib_edit);
          let data_select_status_wajib = result.target_luaran_status.map ( result => {
            return '<option value="'+result.id+'">'+result.status+'</option>'
          })
          
          var data_merge_status_wajib_edit = '<option value="">Pilih</option>'+data_select_status_wajib.join('');
          $("#edit_select_status__wajib").html(data_merge_status_wajib_edit);
          $('#edit_label_rencana_jurnal_wajib').html(result.catatan1 || 'Rencana Jurnal');
          $("#edit_bukti_luaran__wajib").html(result.catatan2)
          $("#edit_bukti_luaran__wajib_input").val(result.catatan2)
      });
    });
  
    
    $("#edit_form_luaran_wajib").submit(function(event){
    	event.preventDefault(); //prevent default action 
    	var post_url = $(this).attr("action"); //get form action url
    	var request_method = $(this).attr("method"); //get form GET/POST method
    	var form_data = $(this).serialize(); //Encode form elements for submission
    	
    	$.ajax({
    		url : post_url,
    		type: request_method,
    		data : form_data
    	}).done(function(response){
          $("[data-dismiss=modal]").trigger({ type: "click" });
    	});      
    });
  });
</script>