{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Peta Potensi <small>Penelitian Fakultas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Peta Potensi</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
           {% set get_dari,get_sampai,get_fakultas,get_prodi,get_nama_fakultas,get_nama_prodi,get_search = request_get('dari'),request_get('sampai'), request_get('fakultas'), request_get('program_studi'), request_get('nama_fakultas'), request_get('nama_prodi'), request_get('cari') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tahun</label> 
                <div class="col-sm-4">
                  <select name="dari" class="form-control" required>
                    <option value="">--Pilih Dari--</option>
                    {% for tahun in tahuns %}
                      <option value="{{tahun.tahun}}" {{set_select('dari',tahun.id,tahun.tahun==get_dari)}}>{{tahun.tahun}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-2">
                  <span class="form-control" style="border:none;text-align:center;">-</span>
                </div>
                <div class="col-sm-4">
                  <select name="sampai" class="form-control" required>
                    <option value="">--Pilih Sampai--</option>
                    {% for tahun in tahuns %}
                      <option value="{{tahun.tahun}}" {{set_select('sampai',tahun.id,tahun.tahun==get_sampai)}}>{{tahun.tahun}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label> 
                <div class="col-sm-4">
                        <input type="hidden" name="nama_fakultas" id="nama_fakultas">
                        <select class="form-control" id="fakultas" name="fakultas">
                          <option value="">Semua Fakultas</option>
                          {% for item in fakultas %}
                            <option value="{{item.id}}" {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                </div>
                {% if get_fakultas %}
                <label for="inputPassword3" class="col-sm-2 control-label">Program Studi</label> 
                <div class="col-sm-4">
                    <select class="form-control" id="program_studi" name="program_studi">
                      
                    </select>
                </div>
                {% endif %}
                <input type="hidden" value="true" name="cari" />
              </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
          </form>
          </div>
        </div>
        <!-- e:form search -->
        {% if get_search %}
          {% include 'petapotensi/panel_atas.twig' %}
        {% endif %}

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List {% if get_fakultas=='' %}Semua Fakultas{% else %}Fakultas {{get_nama_fakultas}}{% endif %}</h3>
                  <div class="box-tools settingnya">
                      <a href="{{base_url()}}petapotensi/petapotensipdf/downloadpotensi?dari={{get_dari}}&sampai={{get_sampai}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> Download Potensi </a>
                      <a href="{{base_url()}}petapotensi/petapotensipdf/downloadrealisasi?dari={{get_dari}}&sampai={{get_sampai}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> Download Realisasi </a>
                  </div>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Fakultas</th>
                                <th style="width: 20%">Potensi</th>
                                <th style="width: 20%">Realisasi</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {% if get_fakultas=="" %}
                                      <a href="{{current_url()}}?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{item.id}}&program_studi=all&nama_fakultas={{item.nama}}&cari=true">{{item.nama}}</a>
                                      {% else %}
                                      {{item.nama}}
                                      {% endif %}
                                  </td>
                                  {% set fakultasid,prodi = 0,0 %}
                                  {% if get_fakultas=="" %}
                                    {% set fakultasid,prodi = item.id,'all' %}
                                  {% else %}
                                    {% set fakultasid,proid = item.id,item.program_studi %}
                                  {% endif %}
                                  <td><a href="{{base_url()}}petapotensi/petapotensipdf/downloadpotensi?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{fakultasid}}&program_studi={{proid}}&nama_fakultas={{item.nama}}" class="btn btn-success" target="_blank">Download Potensi</a></td>
                                  <td><a href="{{base_url()}}petapotensi/petapotensipdf/downloadrealisasi?dari={{get_dari}}&sampai={{get_sampai}}&fakultas={{fakultasid}}&program_studi={{proid}}&nama_fakultas={{item.nama}}" class="btn btn-success" target="_blank">Download Realisasi</a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th>#</th>
                                <th>Fakultas</th>
                                <th>Potensi</th>
                                <th>Realisasi</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    <li class="active"><a class="paging" href="#" data-page="1">1</a></li>
                  </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });

    $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();
    $("#nama_fakultas").val($("#fakultas option:selected").text())
    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

  {% if get_fakultas %}
    $.get("{{base_url()}}pengguna/programstudijson/{{get_fakultas}}", function( data ) {
      data = $.parseJSON(data);
      var output='<option value="all">Semua Program Studi</option>';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
      $("#program_studi").val('{{get_prodi}}');
    });
  {% endif %}

});
</script>
{% endblock %}
