        <div class="row">
          <div class="col-lg-6 col-md-offset-0">
              <section class="">
                <div class="box bordernya">
                  <div class="box-header with-border" style="text-align:center;">
                    <h3 class="box-title">MAGISTER</h3>
                  </div>
                  <div  style="min-height:250px;" id="klasifikasimagister"></div>
                </div>
              </section>
          </div>
          <div class="col-lg-6 col-md-offset-0">
              <section class="">
                <div class="box bordernya">
                  <div class="box-header with-border" style="text-align:center;">
                    <h3 class="box-title">DOKTOR</h3>
                  </div>
                  <div  style="min-height:250px;" id="klasifikasidoktor"></div>
                </div>
              </section>
          </div>
          <div class="col-lg-12 col-md-offset-0">
               <section class="">
                <div class="box bordernya">
                  <div class="box-header with-border" style="text-align:center;">
                    <h3 class="box-title">Grafik Potensi Publikasi Ilmiah Universitas</h3>
                  </div>
                  <div  style="min-height:250px;" id="luaran"></div>
                </div>
              </section>
          </div>
        </div> 

<script type="text/javascript">
$(document).ready(function(){
  var color = ["#1abc9c","#27ae60","#2980b9","#8e44ad","#2c3e50","#f39c12"];

  Highcharts.chart('klasifikasimagister', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in attribute(klasifikasi, 'S2') %} "{{item.jabatan}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
     plotOptions: {
        bar: {
            dataLabels: {
                enabled: false
            }
        }
    },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in attribute(klasifikasi, 'S2') %} {y:{{item.jumlah}},color:color[{{item.index}}]}, {% endfor %}]
    }]
  });

  Highcharts.chart('klasifikasidoktor', {
    chart: {
        type: 'bar'
    },
    title: {
                text: ''
    },
    xAxis: {
        categories: [{% for keys,item in attribute(klasifikasi, 'S3') %} "{{item.jabatan}}", {% endfor %}],
        title: {
            text: null
        },
        labels : {
            enabled: false
        }
    },
    yAxis: {
        stackLabels: {
                    formatter: function() {
                        return this.axis.chart.xAxis[0].categories[this.x] + ': ' + this.total + ' Orang';
                    },
                    enabled: true,           
                    verticalAlign: 'top',     
                    align: 'left',
                    y: -5
                },
        allowDecimals: false,
        min: 0,
        title: {
            text: 'orang',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' orang'
    },
     plotOptions: {
        bar: {
            dataLabels: {
                enabled: false
            }
        }
    },
    legend: {
        enabled: false
    },
    credits: {
        enabled: false
    },
    series: [{
        data: [{% for item in attribute(klasifikasi, 'S3') %} {y:{{item.jumlah}},color:color[{{item.index}}]}, {% endfor %}]
    }]
  });

  Highcharts.chart('luaran', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [
            {% for key,item in target_total %}
            "{{attribute(luaran_key,key-1)}}",
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        allowDecimals: false,
        title: {
            text: 'Jumlah'
        }
    },
    plotOptions: {
        column: {
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
            }
        }
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
                this.point.y + ' ' + this.point.name.toLowerCase();
        }
    },
    series: [{
        name: 'Potensi',
        data: [{% for key,item in target_total %}{{item}},{% endfor %}]
    }, {
        name: 'Realisasi',
        data: [{% for key,item in target_total %}{{attribute(potensichart,key)}},{% endfor %}]
    }]
});

});
</script>