{% extends getUserInfo() ? "template.twig" : "template_nonlogin.twig" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        404 HALAMAN TIDAK ADA
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Login </a></li>
        <li class="active">404 HALAMAN TIDAK ADA</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>
                            Ooo..oo!</h1>
                        <h2>
                            404 Error</h2>
                        <div class="error-details">
                            Maaf, Halaman yang anda tuju tidak ditemukan!!
                        </div>
                    </div>
                </div>

        </div><!-- .box box-primary -->


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}
