{% extends 'template_nonlogin.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Password
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active"> Password </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        {% set error = validation_errors_array() %}
        {% set key = request_get('key') %}
        {{form_open('login/changepassword?key='~key|url_encode,'class="form-horizontal"')}}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Rubah Password </h3> 
            </div><!-- .box-header -->

            <div class="box-body"> 
                  {% if success %}
                      <div class="col-sm-12">
                                  <div class="alert alert-success fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong></strong> Password berhasil diubah, silahkan login dengan password baru!
                                  </div>
                      </div>
                  {% else %}
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="hidden" name="salt" value="{{salt}}">
                      {# <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Password Lama</label> 
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="oldpassword">
                          <span class="text-danger">{{error.oldpassword}}</span>
                        </div>
                      </div> #}
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Password Baru</label> 
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="password">
                          <span class="text-danger">{{error.password}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Konfirmasi Password</label> 
                        <div class="col-sm-9">
                          <input type="password" class="form-control" name="konfirmasi">
                          <span class="text-danger">{{error.konfirmasi}}</span>
                        </div>
                      </div>
                  {% endif %}
            </div><!-- box_body -->
            {% if not success %}
            <div class="box-footer tc"> 
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Rubah </button>
                  <a href="{{base_url()}}" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
            </div>
            {% endif %}
        </div><!-- .box box-primary --> 
    </form>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}