<!-- UHAMKA -->  
  
 
  <header class="main-header">

    <div class="header">
        <div class="logo_utama">
            <img src="{{base_url()}}assets/images/logo.png" alt="UHAMKA"> 
            <div class="logo_text"> Sistem Manajemen Kinerja Penelitian dan Pengabdian Masyarakat</div>
           
        </div><!-- logo_utama -->

        <img src="{{base_url()}}assets/images/head_bg.jpg" alt="Universitas Muhammadiyah Prof.Dr. Hamka">
    </div>


    <!-- Logo -->
    <a href="{{base_url()}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- <span class="logo-mini"><b>SIMA <br> KIP</b></span> -->
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SIMAKIP</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation"> 
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>   

        <a href="{{base_url()}}" class="logo-tambahan">
          <span class="logo-lg"><b>SIMAKIP</b></span>
        </a>
    </nav>
    
    

  </header>