<!-- UHAMKA -->


  <header class="main-header">

    <div class="header">
        <div class="logo_utama">
            <img src="{{base_url()}}assets/images/logo.png" alt="UHAMKA">
            <div class="logo_text"> Sistem Manajemen Kinerja Penelitian dan Pengabdian Masyarakat</div>
           
        </div><!-- logo_utama -->

        <img src="{{base_url()}}assets/images/head_bg.jpg" alt="Universitas Muhammadiyah Prof.Dr. Hamka">
    </div>


    <!-- Logo -->
    <a href="{{base_url()}}" class="logo">
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SIMAKIP</b></span>
    </a>
        <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <a href="index.php" class="logo-tambahan">
          <span class="logo-lg"><b>SIMAKIP</b></span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{{base_url()}}uploads/user_photo/{{userinfo.photo}}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li> -->

          <!-- Notifications Menu -->
          {% set notif = getNotif() %}
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              {% if notif.total>0 %}
              <span class="label label-warning">{{notif.total}}</span>
              {% endif %}
              Notifikasi
            </a>
            <ul class="dropdown-menu">
              <li class="header">Ada {{notif.total}} notifikasi yang belum dibaca</li>
              <li>
                <ul class="menu">
                  {% for item in notif.items %}
                  <li>
                    <a href="#" style="cursor:default;">
                      <i class="fa fa-users text-aqua"></i> {{item.content}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="footer"><a href="{{base_url()}}notif/">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <!-- <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <ul class="menu">
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li> -->
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{{base_url()}}uploads/user_photo/{{userinfo.photo}}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs"> {{userinfo.gelar_depan}} {{userinfo.nama}} {{userinfo.gelar_belakang}} - {% if userinfo.issuperadmin == 1%} SUPERADMIN {% else %} {{userinfo.akses.nama}} {% endif %}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{{base_url()}}uploads/user_photo/{{userinfo.photo}}" class="img-circle" alt="User Image">

                <p>
                  {{userinfo.gelar_depan}} {{userinfo.nama}} {{userinfo.gelar_belakang}}
                  <small>{{userinfo.jabatan_akademik.nama}}</small>
                  <small>NIDN: {{userinfo.nidn}}</small>
                </p>

              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                  <div class="btn-group">
                    <a href="{{base_url()}}pengguna/profile" class="btn bg-orange">Profil</a>
                    <a href="{{base_url()}}pengguna/changepassword/" class="btn bg-orange">Password</a>
                    <a href="{{base_url()}}login/clear/" class="btn bg-orange">Log Out</a>
                  </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>

    <!-- <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <a href="index.php" class="logo-tambahan">
          <span class="logo-lg"><b>SIMAKIP</b></span>
      </a>
      <div class="navbar-custom-menu" id="jam">
      </div>
    </nav> -->
  </header>
