<!-- UHAMKA -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UHAMKA - SIMAKIP</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{base_url()}}assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/font-awesome.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="{{base_url()}}assets/plugins/datatables/dataTables.bootstrap.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/uhamka.css">
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/skins/skin-uhamka.css">

    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/uhamka_add.css">
    <link rel="stylesheet" href="{{base_url()}}assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="{{base_url()}}assets/plugins/datepicker/datepicker3.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
        pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events:none;
    }
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }

    .penelitian-step fieldset {
        width: 100%;
        height: 100%;
        /*float:right;*/
        position:absolute;
    }

    .penelitian-step fieldset .moving{
        background-color: white;
    }
    /*/*Hide all except first fieldset*/
    .penelitian-step fieldset:not(:first-of-type) {
        display: none;
    }

    .datepicker { position: relative; z-index: 10000 !important; }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .bs-wizard > .bs-wizard-step3 {
        padding: 0;
        position: relative;
        width:calc(100%/3);
    }
    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47274213-3', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
