
<!-- jQuery 2.2.0 -->
<script src="{{base_url()}}assets/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="{{base_url()}}assets/plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="{{base_url()}}assets/plugins/jquery.query-object.js"></script>
<script src="{{base_url()}}assets/plugins/jquery.form.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{base_url()}}assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{base_url()}}assets/bootstrap/js/validator.min.js"></script>
<!-- AdminLTE App -->
<script src="{{base_url()}}assets/dist/js/app.min.js"></script>
<script>
  
  $(function () {
    $('.tblsort tbody').sortable({
      helper: fixWidthHelper,
      start: function(event, ui) {
        ui.item.startPos = ui.item.index();
      },
      stop: function(event, ui) {
        console.log("Start position: " + ui.item.startPos);
        console.log("New position: " + ui.item.index());
        $.post('/jenispenelitians/updposition', {
          old: ui.item.startPos,
          new: ui.item.index()
        }, function (data,status) {
            console.log(data);console.log(status);
        });
      }
    }).disableSelection();
  });

  function fixWidthHelper(e, ui) {
    ui.children().each(function () {
      $(this).width($(this).width());
    });
    return ui;
  }

$(document).ready(function(){
	display_ct();
  $('#confirm-delete').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });

  $('#confirm-submit').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });

  $('#hasil-pengecekan').on('show.bs.modal', function (e) {
      $(this).find('#alasan').html($(e.relatedTarget).data('alasan'));
      var validate = $(e.relatedTarget).data('validate');
      if(validate == 1 || validate == 0){
          $("#pengecekan1").prop("checked", true);
      }else{
          $("#pengecekan2").prop("checked",true);
      }
  })

  $('#confirm-validate').on('show.bs.modal', function(e) {
      $(this).find('#form-validate').attr('src',$(e.relatedTarget).data('href'));
      $(this).find('.btn-ok').click(function(){
        $('#confirm-validate').modal('hide');
        $('#loading-modal').modal('show');
        $.post($(e.relatedTarget).data('href'), $('#form-validate').serialize(), function (data) {
            location.reload();
        });
      });
  });

	$('#confirm-kunci').on('show.bs.modal', function(e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});

  $('#loading-modal').on('show.bs.modal', function(e) {
      $(this).find('.modal-dialog').css({width:'150px',
                 height:'auto',
                'max-height':'100%'});
  });

  $(':input[required]').data("required-error","Kolom tidak boleh kosong").data("pattern-error","Tidak sesuai format yang ditentukan");
});
function display_ct() {
	var strcount
	var x = new Date();
	$("#jam").html(x);
	tt=display_c();
}

function display_c(){
	var refresh=1000; // Refresh rate in milli seconds
	mytime=setTimeout('display_ct()',refresh)
}

$.fn.validator.Constructor.DEFAULTS.errors = {
  match: "",
  minlength: "",
  required: "Kolom tidak boleh kosong"
}


Number.prototype.formatMoney = function(c, d, t){
var n = this,
    c = isNaN(c = Math.abs(c)) ? 2 : c,
    d = d == undefined ? "." : d,
    t = t == undefined ? "," : t,
    s = n < 0 ? "-" : "",
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };
</script>
