{% extends 'template_nonlogin.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Beranda  
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li> 
        <li class="active">Pengumuman</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 

        <div class="box box-warning">
            <div class="box-header with-border"> 
                <h3 class="box-title">Pengumuman {{bulan_word}} {{tahuns}}</h3>
            
                <div class="box-tools settingnya"> 
                    <label class="labelnya">Arsip</label> 
                    <div class="formnya">
                        <select class="form-control input-sm" id="bulan" name="bulan">
                            <option value=1 {{set_select('bulan',1,1==bulan)}}>Januari</option>
                            <option value=2 {{set_select('bulan',2,2==bulan)}}>Februari</option>
                            <option value=3 {{set_select('bulan',3,3==bulan)}}>Maret</option>
                            <option value=4 {{set_select('bulan',4,4==bulan)}}>April</option>
                            <option value=5 {{set_select('bulan',5,5==bulan)}}>Mei</option>
                            <option value=6 {{set_select('bulan',6,6==bulan)}}>Juni</option>
                            <option value=7 {{set_select('bulan',7,7==bulan)}}>Juli</option>
                            <option value=8 {{set_select('bulan',8,8==bulan)}}>Agustus</option>
                            <option value=9 {{set_select('bulan',9,9==bulan)}}>September</option>
                            <option value=10 {{set_select('bulan',10,10==bulan)}}>Oktober</option>
                            <option value=11 {{set_select('bulan',11,11==bulan)}}>November</option>
                            <option value=12 {{set_select('bulan',12,12==bulan)}}>Desember</option>
                        </select> 
                    </div> 
                    <div class="formnya">   
                        <select class="form-control input-sm" id="tahun" name="tahun">
                          {% for item in tahun %}
                            <option value={{ item.tahun }}  {{ set_select('tahun', item.tahun,item.tahun==tahuns) }}>{{item.tahun}}</option>
                          {% endfor %}
                        </select>
                        </select>
                    </div> 
                    {# <button type="button" class="btn btn-primary btn-sm pull-left">Cari</button>  #}
                </div>  
                <!-- /.box-tools --> 
                 
            </div><!-- .box-header -->

            <div class="box-body"> 
                       <ol class="numberlist">
                        {% for new in news %}
                            <li><b>{{ new.title|e ~ "      ~" ~ new.created_at }}</b>
                            {% for meta in new.news_meta %}
                            <ul>
                              {% if meta.type==0 %}
                                <li >
                                    <a href="{{base_url()}}download/?type=pengumuman&id={{meta.id}}" target="_blank">
                                        {{ meta.body }} 
                                    </a>
                                </li>
                              {% else %}
                                  <li>                        
                                    <a href="{{meta.url}}" target="_blank">
                                        {{ meta.body }} 
                                    </a>
                                  </li>
                              {% endif %}
                            </li>
                          </ul>
                          {% endfor %}
                        {% endfor %}

                        </ol>  

 {#                        <ul class="pagination pull-right">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul> #}

            </div><!-- box_body -->

        </div><!-- .box box-primary -->   


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#bulan" ).change(function() {
      var value = $("#bulan").val();
      window.location.href = $.query.set("bulan", value);
  });
  $( "#tahun" ).change(function() {
      var value = $("#tahun").val();
      window.location.href = $.query.set("tahun", value);
  });
  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}