{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {% set error = validation_errors_array() %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengguna <small>Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Pengguna </li>
        <li class="active"> Tambah Data Dosen </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Tambah Data Dosen </h3>  
            </div><!-- .box-header -->

            <div class="box-body"> 
                     
                <!-- form start -->
                {{ form_open('login/register','class="form-horizontal"') }}
                 
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">NIDN* </label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" name="nidn" id="nidn" placeholder="NIDN" value="{{ set_value('nidn') }}">
                        <span class="text-danger">{{error.nidn}}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Nama Lengkap*</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="nama" name="nama" placeholder="Nama Lengkap" value="{{ set_value('nama') }}">
                        <span class="text-danger">{{error.nama}}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Gelar Akademik Depan</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="gelar_depan" name="gelar_depan" placeholder="Gelar Akademik Depan" value="{{ set_value('gelar_depan') }}">
                        <span class="text-danger">{{error.gelar_depan}}</span>
                      </div>
                    </div> 
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Gelar Akademik Belakang </label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="gelar_belakang" name="gelar_belakang" placeholder="Gelar Akademik Belakang " value="{{ set_value('gelar_belakang') }}">
                        <span class="text-danger">{{error.gelar_belakang}}</span>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Jenis Kelamin* </label> 
                      <div class="col-sm-9"> 
                            <div class="radio">
                              <label>
                                <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="L" {{set_radio('jenis_kelamin', 'L', True)}}>
                                Laki-Laki
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="P" {{set_radio('jenis_kelamin', 'P')}}>
                                Perempuan
                              </label><br>
                            </div> 
                      </div> 
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Pendidikan Terakhir* </label> 
                        <div class="col-sm-9">   
                              <div class="input-group">
                                  <select class="input-sm form-control" name="tingkat">
                                    <option value="" {{ set_select('jabatan_akademik', '') }}>Pilih</option>
                                    <option value="S1" {{ set_select('jabatan_akademik', 'S1', 'S1'==tingkat) }}>S1</option>
                                    <option value="S2" {{ set_select('jabatan_akademik', 'S2', 'S2'==tingkat) }}>S2</option>
                                    <option value="S3" {{ set_select('jabatan_akademik', 'S3', 'S3'==tingkat) }}>S3</option>
                                  </select>
                                  <span class="input-group-addon"> - </span>
                                  <input type="text" class="input-sm form-control" name="jurusan" value="{{ set_value('jurusan') }}">
                              </div>
                              <span class="text-danger">{{error.tingkat}}</span><br>
                              <span class="text-danger">{{error.jurusan}}</span>   
                        </div>
                    </div> 

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Jabatan Akademik*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="jabatan_akademik">
                          <option value="" {{ set_select('jabatan_akademik', '', TRUE) }}>Pilih</option>
                        {% for item in jab_ak %}
                          <option value={{ item.id }}  {{ set_select('jabatan_akademik', item.id) }}>{{item.nama}}</option>
                        {% endfor %}
                            </select>
                            <span class="text-danger">{{error.jabatan_akademik}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Pangkat / Golongan Ruang*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="jabatan_fungsional">
                            <option value="" {{ set_select('jabatan_fungsional', '', TRUE) }}>Pilih</option>
                            {% for item in jab_fu %}
                              <option value={{ item.id }}  {{ set_select('jabatan_fungsional', item.id) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                            <span class="text-danger">{{error.jabatan_fungsional}}</span>
                          </div>
                    </div>
                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Fakultas*</label> 
                          <div class="col-sm-9">
                            <select class="form-control"  name="fakultas" id="fakultas">
                            <option value="" {{ set_select('fakultas', '', TRUE) }}>Pilih</option>
                            {% for item in fak %}
                              <option value={{ item.id }}  {{ set_select('fakultas', item.id) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                            <span class="text-danger">{{error.faukltas}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Nama Program Studi*</label> 
                          <div class="col-sm-9">
                            <select class="form-control"  name="program_studi" id="program_studi">
                            <option value="" {{ set_select('program_studi', '', TRUE) }}>Pilih</option>
                            {% for item in pro_stu %}
                              <option value={{ item.id }}  {{ set_select('program_studi', item.id) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                            <span class="text-danger">{{error.program_studi}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Alamat Rumah</label> 
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Alamat" name="alamat">{{ set_value('alamat') }}</textarea>
                          </div>
                          <span class="text-danger">{{error.alamat}}</span>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> No. Telepon </label> 
                        <div class="col-sm-9">   
                              <input type="text" class="input-sm form-control mr-10 pull-left" style="width:20%;" name="prefix_telp" value="{{ set_value('prefix_telp') }}">  
                              <input type="text" class="input-sm form-control pull-left" style="width:40%;" name="telp" value="{{ set_value('telp') }}">
                              <span class="text-danger">{{error.telp}}</span>
                        </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">No. Handphone*</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="" placeholder="No. Hadphone" name="hp" value="{{ set_value('hp') }}">
                        <span class="text-danger">{{error.hp}}</span>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Email</label> 
                      <div class="col-sm-9">
                        <input type="Email" class="form-control" id="" placeholder="Email" name="surel" value="{{ set_value('surel') }}">
                        <span class="text-danger">{{error.surel}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Status Dosen*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="status_dosen">
                              <option value="" {{ set_select('status_dosen', '', TRUE) }}>Pilih</option>
                              <option value="1" {{ set_select('status_dosen', '1') }}>Tetap Persyarikatan</option>
                              <option value="2" {{ set_select('status_dosen', '2') }}>PNS</option>
                              <option value="3" {{ set_select('status_dosen', '3') }}>Dosen Tidak Tetap</option>
                            </select>
                            <span class="text-danger">{{error.status_dosen}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Status Data* </label> 
                      <div class="col-sm-9"> 
                            <div class="radio">
                              <label>
                                <input type="radio" name="status_data" value="1" {{set_radio('status_data', '1')}}>
                                Aktif
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="status_data" value="2" {{set_radio('status_data', '2')}}>
                                Non Aktif
                              </label>
                            </div> 
                      </div> 
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Hak Akses*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" id="jenishakakses1">
                              <option value="" {{ set_select('akses', '', TRUE) }}>Pilih</option>
                              <option value="nonlembaga">Non Lembaga</option>
                              <option value="lembaga">Lembaga</option>
                            </select>
                          </div>
                    </div>

                     <div class="form-group hide" id="form_akses2">
                          <label for="" class="col-sm-3 control-label"></label> 
                          <div class="col-sm-9">
                            <select class="form-control" id="jenishakakses2">
                              <option value="">Pilih</option>
                              <option value="lemlit">Lemlit</option>
                              <option value="lppm">Lppm</option>
                            </select>
                          </div>
                    </div>

                    <div class="form-group hide" id="form_akses">
                          <label for="" class="col-sm-3 control-label"></label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="akses" id="akses">
                            </select>
                            <span class="text-danger">{{error.akses}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Reviewer*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="reviewer">
                              <option value="0" {{ set_select('reviewer', '', TRUE) }}>Bukan Reviewer</option>
                              <option value="1" {{ set_select('reviewer', '') }}>Reviewer Lemlitbang</option>
                              <option value="2" {{ set_select('reviewer', '') }}>Reviewer LPPM</option>
                            </select>
                            <span class="text-danger">{{error.reviewer}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Ketua Prodi*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="ketuaprodi">
                              <option value="0" {{ set_select('ketuaprodi', '', TRUE) }}>Bukan Ketua Prodi</option>
                              <option value="1" {{ set_select('ketuaprodi', '') }}>Ketua Prodi</option>
                            </select>
                            <span class="text-danger">{{error.ketuaprodi}}</span>
                          </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Password*</label> 
                      <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="" placeholder="Password">
                        <span class="text-danger">{{error.password}}</span>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Konfirmasi Password*</label> 
                      <div class="col-sm-9">
                        <input type="password" name="konfirmasi" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">ID Scopus*</label> 
                      <div class="col-sm-9">
                        <input type="text" name="id_schopus" class="form-control" id="" placeholder="ID Schopus">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">ID Scholar*</label> 
                      <div class="col-sm-9">
                        <input type="text" name="id_scholar" class="form-control" id="" placeholder="ID Scholar">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">ID Sinta*</label> 
                      <div class="col-sm-9">
                        <input type="text" name="id_sinta" class="form-control" id="" placeholder="ID Sinta">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">ID Orchid*</label> 
                      <div class="col-sm-9">
                        <input type="text" name="id_orchid" class="form-control" id="" placeholder="ID Orchid">
                      </div>
                    </div>


                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Password Dikti</label>
                        <div class="col-sm-9">
                            <input type="text" name="passworddikti" class="form-control" id="" value="{{ set_value('passworddikti',passworddikti) }}" placeholder="Password Dikti">
                            <span class="text-danger">{{error.passworddikti}}</span>
                        </div>
                    </div>
                   
                
              <!-- e:form search --> 
                            
                   

            </div><!-- box_body -->
            <div class="box-footer tc"> 
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                  <a href="{{base_url}}pengguna/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
            </div>
            </form>  
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#jenishakakses1" ).change(function() {
    var jenishakakses1 = $(this).val();
    $("#akses").find('option').remove().end();
    if(jenishakakses1=="nonlembaga"){
      $("#form_akses2").addClass("hide");
      $("#form_akses").removeClass("hide");
      {% for a in aks %}
      $("#akses").append('<option value="{{a.id}}">{{a.nama}}</option>');
      {% endfor %}
    }else if(jenishakakses1=="lembaga"){
      $("#form_akses").addClass("hide");
      $("#form_akses2").removeClass("hide");
    }
  });

  $( "#jenishakakses2" ).change(function() {
    var jenishakakses2 = $(this).val();
    $("#akses").find('option').remove().end();
    if(jenishakakses2=="lppm"){
      $("#form_akses").removeClass("hide");
      {% for a in akslppm %}
      $("#akses").append('<option value="{{a.id}}">{{a.nama}}</option>');
      {% endfor %}
    }else if(jenishakakses2=="lemlit"){
      $("#form_akses").removeClass("hide");
      {% for a in akslemlit %}
      $("#akses").append('<option value="{{a.id}}">{{a.nama}}</option>');
      {% endfor %}
    }
  });

  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });
});
</script>
{% endblock %}