<!-- UHAMKA -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel">

        <div class="pull-left image">
            <img src="{{base_url()}}uploads/user_photo/{{userinfo.photo}}" class="img-circle" alt="User Image">
        </div>

        <div class="pull-left info">
           <div class="dropdown">
              <div class="namanya">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle btnlink"> {{userinfo.gelar_depan}} {{userinfo.nama}} {{userinfo.gelar_belakang}} <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li>  <a href="myprofil.php">Profil</a></li>
                    <li>  <a href="password.php">Password</a> </li>
                    <li>  <a href="{{base_url()}}login/clear">Log Out</a> </li>
                </ul>
              </div>
           </div>
           <div class="jabatannya"> {{userinfo.jabatan_akademik.nama}} </div>
           <div class="niknya"><b>NIDN:</b> {{userinfo.nidn}}</div>

        </div>

        <div class="clearfik"></div>



      </div> --><!-- .user-panel -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Main Menu</li>


        <li class="{{home}}"><a href="{{base_url()}}"><i class="fa fa-home"></i> <span>Beranda</span></a></li>

        <li class="{{profil}}"><a href="{{base_url()~'pengguna/indexlist'}}"><i class="fa fa-user"></i> <span>Profil</span></a></li>

        {% if roles(["Dosen","Ketua Lemlitbang","Sekretaris Lemlitbang","Operator Lemlitbang","Rektor","Wakil Rektor"]) %}
        <li class="treeview {{mk}}" >
          <a href="#"><i class="fa fa-line-chart"></i> <span> Luaran Penelitian </span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{mk1}}"><a href="{{base_url()~'jurnals/'}}">Publikasi Jurnal</a></li>
            <li class="{{mk2}}"><a href="{{base_url()~'bukuajars/'}}">Buku Ajar/Teks</a></li>
            <li class="{{mk3}}"><a href="{{base_url()~'forumilmiahs/'}}">Pemakalah Forum Ilmiah</a></li>
            <li class="{{mk4}}"><a href="{{base_url()~'hkis/'}}">Hak Kekayaan Intelektual</a></li>
            <li class="{{mk5}}"><a href="{{base_url()~'luaranlains/'}}">Luaran Lain</a></li>
            <li class="{{mk6}}"><a href="{{base_url()~'pforumilmiahs/'}}">Penyelenggara Forum Ilmiah</a></li>
            <li class="{{mk7}}"><a href="{{base_url()~'penelitianhibahs/'}}">Penelitian Mandiri</a></li>
            <li class="{{mk8}}"><a href="{{base_url()~'penelitiandiktis/'}}">Penelitian External</a></li>
          </ul>
        </li>
        {% endif %}
        {% if roles(["Dosen","Ketua LPPM","Sekretaris LPPM","Operator LPPM","Rektor","Wakil Rektor"]) %}
        <li class="treeview {{lp}}" >
          <a href="#"><i class="fa fa-line-chart"></i> <span> Luaran Pengabdian </span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{lp1}}"><a href="{{base_url()~'pengabdian/luaran/jurnals/'}}">Publikasi Jurnal</a></li>
            <li class="{{lp2}}"><a href="{{base_url()~'pengabdian/luaran/bukuajars/'}}">Buku Ajar/Teks</a></li>
            <li class="{{lp3}}"><a href="{{base_url()~'pengabdian/luaran/forumilmiahs/'}}">Pemakalah Forum Ilmiah</a></li>
            <li class="{{lp4}}"><a href="{{base_url()~'pengabdian/luaran/hkis/'}}">Hak Kekayaan Intelektual</a></li>
            <li class="{{lp5}}"><a href="{{base_url()~'pengabdian/luaran/luaranlains/'}}">Luaran Lain</a></li>
            <li class="{{lp6}}"><a href="{{base_url()~'pengabdian/luaran/pforumilmiahs/'}}">Penyelenggara Forum Ilmiah</a></li>
            <li class="{{lp7}}"><a href="{{base_url()~'pengabdian/luaran/penelitianhibahs/'}}">Pengabdian Mandiri</a></li>
          </ul>
        </li>
        {% endif %}

        {% if roles(["Dosen","Ketua Lemlitbang","Sekretaris Lemlitbang","Operator Lemlitbang","Keuangan","Rektor","Wakil Rektor"]) %}
        <li class="treeview {{mp}}">
          <a href="#"><i class="fa fa-tasks"></i> <span>Manajemen Penelitian</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{mp1}}"><a href="{{base_url()}}penelitians">Usulan Proposal Penelitian</a></li>
            {% if userinfo.isreviewer==1 or userinfo.isreviewer==3 or not role('Dosen') %}
            <li class="{{mp2}}"><a href="{{base_url()}}penelitiansreviews">Review Proposal</a></li>
            {% endif %}
            {% if not role('Dosen') %}
            <!-- <li class="{{mp7}}"><a href="{{base_url()}}penelitiansfinalreviews">Final Review</a></li> -->
            <li class="{{mp3}}"><a href="{{base_url()}}penelitianspemenangs">Pemenang Hibah</a></li>
            <li class="{{mp4}}"><a href="{{base_url()}}penelitianstertolaks">Penelitian Tertolak</a></li>
            {% endif %}
            <li class="{{mp5}}"><a href="{{base_url()}}penelitianslaporans">Laporan Penelitian</a></li>
            {% if roles(['Dosen',"Operator Lemlitbang",'Ketua Lemlitbang',"Sekretaris Lemlitbang"]) %}
              <li class="{{mp6}}"><a href="{{base_url()}}suratkontrak/"></i> <span>Surat Kontrak</span></a></li>
            {% endif %}
            {% if roles(['Ketua Lemlitbang',"Sekretaris Lemlitbang"]) %}
            <li class="{{mp7}}"><a href="{{base_url()}}penelitian/penelitiansacc"></i> <span>Penelitian ACC</span></a></li>
            {% endif %}
            <li class="treeview {{me}}">
              <a href="#"><span>Monitoring & Evaluasi</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{me1}}"><a href="{{base_url()}}monev/monevlists"></i> <span>List Penelitian</span></a></li>
                {% if userinfo.isreviewer==1 or userinfo.isreviewer==3 or not role('Dosen') %}
                <li class="{{me2}}"><a href="{{base_url()}}monev/monevreview"></i> <span>Review Hasil Penelitian</span></a></li>
                {% endif %}
              </ul>
            </li>
            {% if roles(['Ketua Lemlitbang',"Sekretaris Lemlitbang","Keuangan","Operator Lemlitbang"]) %}
            <li class="treeview {{pd}}" >
              <a href="#"><span> Pencairan Dana </span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{pd1}}"><a href="{{base_url()}}pencairandana/tahappertama">Tahap 1</a></li>
                <li class="{{pd2}}"><a href="{{base_url()}}pencairandana/tahapkedua">Tahap 2</a></li>
              </ul>
            </li>
          {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if roles(["Dosen","Ketua LPPM","Sekretaris LPPM","Operator LPPM","Rektor","Wakil Rektor"]) %}
        <li class="treeview {{mpe}}">
          <a href="#"><i class="fa fa-tasks"></i> <span>Manajemen Pengabdian</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{mpe1}}"><a href="{{base_url()}}pengabdian/usulan">Usulan Pengabdian</a></li>
            {% if userinfo.isreviewer==2 or userinfo.isreviewer==3 or not role('Dosen') %}
            <li class="{{mpe2}}"><a href="{{base_url()}}pengabdian/review">Review Proposal</a></li>
            {% endif %}
            {% if roles(['Ketua LPPM',"Sekretaris LPPM","Operator LPPM"]) %}
            <li class="{{mpe7}}"><a href="{{base_url()}}pengabdian/acclaporan"></i> <span>Pengabdian ACC</span></a></li>
            {% endif %}
            <li class="{{mpe3}}"><a href="{{base_url()}}pengabdian/laporan">Laporan Pengabdian</a></li>
            {% if roles(['Dosen',"Operator LPPM",'Ketua LPPM',"Sekretaris LPPM"]) %}
              <li class="{{mpe6}}"><a href="{{base_url()}}pengabdian/suratkontrak/"></i> <span>Surat Kontrak</span></a></li>
            {% endif %}
            <li class="treeview {{mpey}}">
              <a href="#"><span>Monitoring & Evaluasi</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{mpey1}}"><a href="{{base_url()}}pengabdian/monev/monevlists"></i> <span>List Pengabdian</span></a></li>
                {% if userinfo.isreviewer==2 or userinfo.isreviewer==3 or not role('Dosen') %}
                <li class="{{mpey2}}"><a href="{{base_url()}}pengabdian/monev/monevreview"></i> <span>Review Hasil Pengabdian</span></a></li>
                {% endif %}
              </ul>
            </li>
            {% if roles(['Ketua LPPM',"Sekretaris LPPM","Keuangan","Operator LPPM"]) %}
            <li class="treeview {{pde}}" >
              <a href="#"><span> Pencairan Dana </span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{pde1}}"><a href="{{base_url()}}pengabdian/pencairandana/tahappertama">Tahap 1</a></li>
                <li class="{{pde2}}"><a href="{{base_url()}}pengabdian/pencairandana/tahapkedua">Tahap 2</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        
        {% if not roles(["Operator LPPM", "Sekretaris LPPM","Ketua LPPM"]) %}
        <li class="{{notif}}"><a href="{{base_url()}}notif/"><i class="fa fa-bell-o"></i> <span> Notifikasi </span></a></li>
        {% endif %}

        {% if roles(['Rektor','Wakil Rektor','Ketua Lemlitbang',"Sekretaris Lemlitbang","Operator Lemlitbang"]) or userinfo.isketuaprodi==1  %}
        <li class="{{akreditas}}"><a href="{{base_url()}}akreditas/manageakreditas"><i class="fa fa-sitemap "></i> <span>Akreditasi</span></a></li>
        {% endif %}

        {% if roles(["Operator Lemlitbang"]) or userinfo.isketuaprodi==1  %}
        <li class="treeview {{r}}" id="reports_dashboards">
          <a href="{{base_url()}}reports/dashboard"><i class="fa fa-cog"></i> <span>Reporting</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            {% if roles(["Operator Lemlitbang"]) %}
            <li class="{{r1}}"><a href="{{base_url()}}reports/luaran">Luaran</a></li>
            <li class="{{r2}}"><a href="{{base_url()}}reports/growthluaran">Growth Luaran</a></li>
            <li class="{{r3}}"><a href="{{base_url()}}reports/penelitian">Penelitian</a></li>
            <li class="{{r4}}"><a href="{{base_url()}}reports/review">Hasil Review</a></li>
            <li class="{{r5}}"><a href="{{base_url()}}reports/laporanpenelitian">Laporan Penelitian</a></li>
            <li class="{{r6}}"><a href="{{base_url()}}reports/jenispenelitian">Jenis Penelitian</a></li>
            <li class="{{r7}}"><a href="{{base_url()}}reports/point">Point</a></li>
            <li class="{{r8}}"><a href="{{base_url()}}reports/monitoringluaran">Monitoring Luaran</a></li>
            <li class="{{r9}}"><a href="{{base_url()}}reports/monevdosen">Monev Dosen</a></li>
            {% endif %}
            {% if roles(["Operator Lemlitbang"]) or userinfo.isketuaprodi==1 %}
            <li class="{{r8}}"><a href="{{base_url()}}reports/penelitianprodi">Penelitian Prodi</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Ketua Lemlitbang","Rektor","Wakil Rektor"]) or userinfo.isketuaprodi==1 %}
            <li class="{{petapotensi}}"><a href="{{base_url()}}petapotensi/petapenelitian/"><i class="fa fa-map"></i> <span> Peta Potensi </span></a></li>
        {% endif %}

        {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Ketua Lemlitbang", "Operator LPPM", "Sekretaris LPPM","Ketua LPPM","Rektor","Wakil Rektor"]) %}

          {% if not isnotaddeditdeldosen() %}
          <li class="{{pengumuman}}"><a href="{{base_url()}}pengumuman/"><i class="fa fa-info"></i> <span> Pengumuman </span></a></li>
          {% endif %}

          <li class="{{pengguna}}"><a href="{{base_url()}}pengguna/"><i class="fa fa-users"></i> <span> Pengguna Dosen </span></a></li>

          {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Rektor","Wakil Rektor","Operator LPPM", "Sekretaris LPPM"]) %}
          <li class="{{logs}}"><a href="{{base_url()}}logs/"><i class="fa fa-clock-o"></i> <span> Log Aktivitas </span></a></li>
          {% endif %}
          {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Operator LPPM", "Sekretaris LPPM","Ketua LPPM","Rektor","Wakil Rektor"]) %}
          <li class="treeview {{p}}">
            <a href="#"><i class="fa fa-cog"></i> <span>konfigurasi</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Ketua Lemlitbang"]) %}
              <li class="{{p5}}"><a href="{{base_url()}}suratkontraks/surata">Surat Kontrak Penelitian</a></li>
              <li class="{{p1}}"><a href="{{base_url()}}kinerja/jenishki">Luaran Penelitian</a></li>
              <li class="{{p4}}"><a href="{{base_url()}}isianpengesahans">Penelitian</a></li>
              <li class="{{p2}}"><a href="{{base_url()}}akademik/jabatanakademik">Akademik</a></li>
              <li class="{{p6}}"><a href="{{base_url()}}points/pointluaran">Point</a></li>
              <li class="{{p7}}"><a href="{{base_url()}}repos/billboards">Repository</a></li>
              <li class="{{p8}}"><a href="{{base_url()}}pengaturan/petapotensi/petapotensitahun">Peta Potensi</a></li>
              {% endif %}
              {% if roles(["Operator LPPM", "Sekretaris LPPM","Ketua LPPM"]) %}
                <li class="{{p9}}"><a href="{{base_url()}}pengaturan/pengabdian/isianpengesahan/">Pengabdian</a></li>
                <li class="{{p10}}"><a href="{{base_url()}}suratkontraks/pengabdian/surata">Surat Kontrak Pengabdian</a></li>
              {% endif %}
              <li class="{{p3}}"><a href="{{base_url()}}beranda/kontak">Beranda</a></li>
              <!-- <li class="<?php echo $p2 ?>"><a href="{{base_url()}}penelitian/">Penelitian</a></li> -->

            </ul>
          </li>
          {% endif %}
        {% endif %}

      </ul>
      <!-- /.sidebar-menu -->

      <div class="sidebar-box">
          <b>Tautan Penting</b>
          <ul>
              {% for tautan in tautans %}
                {% if tautan.type==0 %}
                  <li> <a href="{{base_url()}}uploads/tautans/{{tautan.berkas}}" target="_blank">{{tautan.nama}}</a> </li>
                {% else %}
                  <li> <a href="{{tautan.url}}" target="_blank">{{tautan.nama}}</a> </li>
                {% endif %}
              {% endfor %}
          </ul>
      </div>

      <div class="sidebar-box">
          <b>UHAMKA</b>
          {{ get_kontak().isi }}
      </div>


    </section>
    <!-- /.sidebar -->
  </aside>
{% if not role('Dosen') %}
<script type="text/javascript">
  $(function(){
    $("#reports_dashboards").click(function(){
        window.location = "{{base_url()}}reports/dashboard";
    });
  });
</script>
{% endif %}