<!-- UHAMKA -->

<?php
      if($page=="home")        { $home="active"; }
  elseif($page=="profil")      { $profil="active"; }
?>

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- general form elements -->
      <div class="box box_sidebarnya">
        <div class="box-header with-border">
          <h3 class="box-title">Login</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {% if session.flashdata.error %}
          <div class="box-header with-border">
            {{session.flashdata.error}}
          </div>
        {% endif %}
        {% set bepass = request_get('bepas') %}
        <form role="form" action="{{ base_url() ~ 'login/auth' }}{% if bepass %}?bepas={{bepass}}{% endif %}" method="POST">
          <div class="box-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="" name="username" placeholder="User ID">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                <span class="input-group-btn">
                    <span style="padding: 0px 0px 0px 0px;" id="captcha_image"></span>
                    <a href="#" class="btn-sm btn btn-default refresh" id="refresh" style="color:#000;"><span class="glyphicon glyphicon-retweet" style="line-height: 23px;"></span></a>
                </span>
                    <input type="captcha" class="form-control" id="captcha" placeholder="" name="captcha" style="width:65px;">
                </div>
            </div>
            <div class=""><a href="{{base_url()}}login/forgotpassword/" style="color: #000000;">Lupa Password</a> </div>
          </div>
          <input type="hidden" class="captcha">
          <!-- /.box-body -->
          <div class="box-footer">
            <!-- <div class="checkbox pull-left">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div> -->
            <button type="submit" class="btn btn-warning btn-sm pull-right">Sign In</button>
            <!-- <div class="clearfik"> </div>
            <a href="" class="linknya">Lupa Password ?</a>   -->
          </div>

        </form>
      </div>
      <!-- /.box -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Main Menu</li>
        <li class="{{beranda}}"><a href="{{base_url()}}login/"><i class="fa fa-home"></i> <span>Beranda</span></a></li>
        <li class="{{profil}}"><a href="{{base_url()}}login/indexlistl"><i class="fa fa-user"></i> <span>Profil</span></a></li>
        <li class="treeview {{r}}" id="reports_dashboards">
          <a href="{{base_url()}}reports/dashboard"><i class="fa fa-cog"></i> <span>Reporting</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{r1}}"><a href="{{base_url()}}reports/statistikluaran">Statistik Luaran</a></li>
            <li class="{{r2}}"><a href="{{base_url()}}reports/dataluaran">Data Luaran</a></li>
            <li class="{{r3}}"><a href="{{base_url()}}reports/pendidikanterakhir">Pendidikan Terakhir</a></li>
            <li class="{{r4}}"><a href="{{base_url()}}reports/jabatanakademik">Jabatan Akademik</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->

      <div class="sidebar-box">
          <b>Tautan Penting</b>
          <ul>
              {% for tautan in tautans %}
                {% if tautan.type==0 %}
                  <li> <a href="{{base_url()}}uploads/tautans/{{tautan.berkas}}" target="_blank">{{tautan.nama}}</a> </li>
                {% else %}
                  <li> <a href="{{tautan.url}}" target="_blank">{{tautan.nama}}</a> </li>
                {% endif %}
              {% endfor %}
          </ul>
      </div>

      <div class="sidebar-box">
          <b>UHAMKA</b>
          {{ get_kontak().isi }}
      </div>


    </section>
    <!-- /.sidebar -->
  </aside>
  <script>
  $(document).ready(function(){
    captcha();
    $(".refresh").click(function(){
      console.log("waw");
      captcha();
    })
  });
  function captcha(){
    $.get("{{base_url()}}login/captcha_image", function( data ) {
      $("#captcha_image").empty();
      $("#captcha_image").append(data);
      // $("#captcha_image").append('<a href="#" class="btn-sm btn btn-default refresh" id="refresh"><span class="glyphicon glyphicon-retweet" style="line-height: 23px;"></span></a>');
    });
  }
  </script>
