<!-- REQUIRED JS SCRIPTS -->
{% include 'js.html' %}
{% set userinfo = getUserInfo() %}
{% set tautans = tautan() %}
{% include  'head.html' %}

<body class="hold-transition skin-uhamka sidebar-mini">
    <div class="wrapper">

        {% include 'header.html' %}

        {% include 'sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        {% block content %}{% endblock %}
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {% include 'footer.html' %}


        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body" id="delete_message">
                        <h3>Are you sure want to delete?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body" id="delete_message">
                        <h3>Are you sure want to submit?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-validate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" id="form-validate" class="form-horizontal" data-toggle="validator">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Validate</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Pengecekan</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline pull-left"><input type="radio" class="validity" value="1" checked="checked" required name="pengecekan">Terima</label>
                                    <label class="radio-inline pull-left"><input type="radio" class="invalidity" value="2" required name="pengecekan">Tolak</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Alasan</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="alasan" id="usulan_validate" disabled></textarea>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="usulan_submit" class="btn btn-info btn-ok">Validate</button>
                        {# <a class="btn btn-info btn-ok">Validate</a> #}
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <script>
        $(document).ready(function () {
            $(".validity").click(function () {
                var iddiv = $(this).data("id");
                $("#usulan_submit").removeClass('disabled');
                $("#usulan_validate").prop("disabled", true);
                $("#usulan_validate").attr("required", false);
            });
            $(".invalidity").click(function () {
                $("#usulan_validate").prop("disabled", false);
                $("#usulan_validate").attr("required", true);
            });
        });
    </script>
    <div class="modal fade" id="hasil-pengecekan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Hasil Pengecekan</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                        <form method="post" id="form-validate-view" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Pengecekan</label>
                                <div class="col-sm-10">
                                    <input type="radio" disabled id="pengecekan1" value="1" name="pengecekan">Terima
                                    <input type="radio" disabled id="pengecekan2" value="2" name="pengecekan">Tolak
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Alasan</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" disabled id="alasan" name="alasan"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-kunci" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body" id="validate_message">
                        <h3>Kunci perubahan?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-info btn-ok">Kunci</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body" id="message">
                        <h3>Validating...</h3>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
