<!-- REQUIRED JS SCRIPTS -->
{% include 'js.html' %}
{% set tautans = tautan() %}
{% include  'head_nonlogin.html' %}

<body class="hold-transition skin-uhamka sidebar-mini">

<div class="wrapper">  

      {% include 'header_nonlogin.html' %} 
      
      {% include 'sidebar_nonlogin.html' %} 

      <!-- Content Wrapper. Contains page content -->
      {% block content %}
      {% endblock %}
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include 'footer.html' %}  

      
      
      <div class="control-sidebar-bg"></div>  
</div>
<!-- ./wrapper --> 


</body>
