<a href="{{base_url()}}pengabdian/suratkontrak/surat1/{{item.id}}" class="btn btn-sm btn-info" title="Download PDF" target="_blank"> Surat Kontrak 1 </a>

{% if item.berkas!=""%} <a href="{{base_url()}}uploads/suratkontraks/{{item.berkas}}" class="btn btn-sm btn-info" title="Download PDF" target="_blank"> Surat Kontrak 1 Lengkap</a> {% endif %}

{% if item.is_laporan_done and item.isvalidate==1 and item.nomor %} 
<a href="{{base_url()}}pengabdian/suratkontrak/surat2/{{item.id}}" class="btn btn-sm btn-info" data-toggle="tooltip" title="Download Surat Kontrak 2" target="_blank"> Surat Kontrak 2 </a>
{% endif %}
{% if item.berkas and item.isvalidate==2 %} <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#hasilvalidasi{{item.id}}" title="Download PDF" target="_blank"> Hasil Validasi </a> {% endif %}
