{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Surat Kontrak <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Surat Kontrak</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_dosen,get_tahun,get_tahunkegiatan,get_nomor,get_judul,get_batch,get_status = request_get('dosen'),request_get('tahun_pengabdian'),request_get('tahun_kegiatan'),request_get('nomor'),request_get('judul'),request_get('batch'),request_get('status') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dosen" name="dosen" placeholder="Masukkan Nama Dosen" value="{{get_dosen}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">No Kontrak</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nomor" name="nomor" placeholder="Masukkan Nomor Kontrak" value="{{get_nomor}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="judul" name="judul" placeholder="Masukkan Judul Penelitian" value="{{get_judul}}">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tahun Pelaksanaan : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="tahun_pengabdian" id="tahun_pengabdian">
                        <option value="">Pilih</option>
                    {% for item in tahun %}
                        <option value="{{item.id}}" {{set_select('tahun_pengabdian',item.id,item.id==get_tahun)}}>{{item.tahun}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Penelitian : </label> 
                <div class="col-sm-10">
                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun %}
                          <option value="{{item.id}}" {{set_select('tahun_pengabdian',item.id,item.id==get_tahunkegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}">{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label>
                <div class="col-sm-10">
                      <select class="form-control" name="status" id="status">
                            <option value="">Semua</option>
                            <option value="1" {{set_select('status',item.id,item.id==get_status)}}>Belum Upload</option>
                            <option value="2" {{set_select('status',item.id,item.id==get_status)}}>Proses Validasi</option>
                            <option value="3" {{set_select('status',item.id,item.id==get_status)}}>Belum Valid</option>
                            <option value="4" {{set_select('status',item.id,item.id==get_status)}}>Valid</option>
                      </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Surat Kontrak</h3>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if role('Dosen') and aktivasi %}
                          <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-suratkontrak"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                        {% if not aktivasi %}
                          Konfigurasi Surat Kontrak Belum diaktifasi
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                {% if role("Operator LPPM") %}
                                  <a href="{{base_url()}}pengabdian/suratkontrak/pdf?nomor={{get_nomor}}&tahun_pengabdian={{get_tahun}}&batch={{get_batch}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                                {% endif %}
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 30%">Nama Dosen Pengusul</th>
                                <th style="width: 20px">Batch</th>
                                <th valign="middle" style="width: 40%">Judul Pengabdian</th>
                                <th style="width: 20px">Tahun</th>
                                <th style="width: 20px">No Kontrak</th>
                                <th style="width: 15%">Action</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.dosen.nama_lengkap}}<br>
                                      NIDN: {{item.dosen.nidn}}
                                      {# {{item.personil.nama_lengkap}} #}
                                  </td>
                                  <td>
                                      {{item.pengabdian.batch.batch_penelitian.tahun.tahun}} -
                                      {{item.pengabdian.batch.nama}}
                                  </td>
                                  {% set status = "" %}
                                  {% if item.status==0 %}
                                  {% set status = "Belum Upload" %}
                                  {% elseif item.status==1 %}
                                  {% set status = "Proses Validasi" %}
                                  {% elseif item.status==2 %}
                                  {% set status = "Belum Valid" %}
                                  {% elseif item.status==3 %}
                                  {% set status = "Valid" %}
                                  {% endif %}
                                  <td>
                                      {{item.pengabdian.judul}}<br>
                                      Status upload surat: {{status}}
                                  </td>
                                  <td> {{item.pengabdian.tahun_kegiatan.tahun}} </td>
                                  <td> {{item.nomor}} </td>
                                  <td>

                                      {% if ((item.status==0 or item.status==1 or item.status==2) and (role('Dosen') or role("Operator LPPM")) or (item.status==3 and role("Operator LPPM"))) %}
                                      {# <div class="col-sm-4"> #}
                                      <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#edititem{{item.id}}" title="Edit surat kontrak" target="_blank"> <i class="fa fa-pencil"></i> </a>&nbsp
                                      </div>
                                      {% endif %}
                                      {% if (item.status==0 or item.status==2) and role('Dosen') %}
                                        {# <div class="col-sm-4"> #}
                                        <a href="#" class="btn btn-sm btn-warning" data-toggle="modal" id="buttonuploadsuratkontrak{{item.id}}" data-target="#uploadsuratkontrak{{item.id}}"><i class="fa fa-upload"></i></a>&nbsp
                                        {# </div> #}
                                      {% endif %}
                                      {% if role('Dosen') or role("Operator LPPM") %}
                                        {# <div class="col-sm-4"> #}
                                        <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#inputnomor{{item.id}}"><i class="fa fa-calculator"></i></a>&nbsp
                                        {# </div> #}
                                      {% endif %}
                                      {# <div class="col-sm-5 pull-right"> #}

                                    {# </div> #}
                                  </td>
                                  <td><a class="btn btn-success btn-sm pull-right " role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a></td>
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="8">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <div class="pull-right">
                                                    {% include 'pengabdian/suratkontrak/dosen.twig' %}
                                                  </div>
                                                  <div class="pull-left">
                                                  {% include 'pengabdian/suratkontrak/operator.twig' %}
                                                  </div>
                                              </div>
                                          </div>
                                      </td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th style="width: 10px">#</th>
                               <th>Nama Dosen Pengusul</th>
                               <th>Batch</th>
                               <th>Judul Penelitian</th>
                               <th>Tahun</th>
                               <th>No Kontrak</th>
                               <th>Action</th>
                               <th></th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->

    </section>
    {% for item in items %}
      {% include 'pengabdian/suratkontrak/dosenpopup.twig' %}
      {% include 'pengabdian/suratkontrak/operatorpopup.twig' %}
    {% endfor %}

    <div class="modal fade" id="add-suratkontrak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('pengabdian/suratkontrak/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Surat Kontrak</h4>
            </div>
            <div class="modal-body" id="validate_message">
              {% if pengabdian|length == 0 %}
              <span class="col-sm-12 text-danger" style="display: inline-block; text-align: center"> Surat Kontrak 1 belum tersedia. Surat tersedia setelah Proposal diterima </span>
              {% endif %}
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Judul Penelitian</label>
                    <div class="col-sm-9">
                      <input type="hidden" name="pengabdian" value={{pengabdian[0].id}}>
                      <input type="text" class="form-control" readonly name="judul" value="{{pengabdian[0].judul}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Jumlah Anggaran </label>
                    <div class="col-sm-9">
                        <span>Rp {{format_rupiah(pengabdian[0].pengabdian_review_inselected[0].rekomendasi)}}</span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="hidden" id="total_biaya" value="{{pengabdian[0].pengabdian_review_inselected[0].rekomendasi}}">
                        <span>{{ angka_huruf(pengabdian[0].pengabdian_review_inselected[0].rekomendasi) }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Penarikan Dana</label>
                    <div class="col-sm-1 control-label">Rp.</div>
                    <div class="col-sm-7">
                      <input type="number" class="form-control dana" required name="dana" id="dana" data-id="" value="{{set_value('dana')}}" data-remote="{{base_url()}}pengabdian/suratkontrak/check_batasan/?pengabdian={{pengabdian[0].id}}">
                      <div class="help-block with-errors"></div>
                    </div>
                    {# <div class="col-sm-1 control-label">00%</div> #}
                    <span class="col-sm-3 text-info"></span>
                    <span class="col-sm-9 text-info">Maksimum Penarikan dana {{batasan.batasan}}% atau Rp. {{format_rupiah(hitung_persen(pengabdian[0].pengabdian_review_inselected[0].rekomendasi,batasan.batasan))}}</span>
                    <span class="col-sm-3 text-info"></span>
                    <span class="col-sm-9 text-info">Nilai Minimal penarikan dana adalah Rp.100.000,-</span>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Jumlah Sisa Dana </label>
                    <div class="col-sm-9">
                        Rp <span id="sisa"></span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <span id="sisa_eja"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Tanggal Mulai</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control pull-right time" name="tanggal_mulai" required value="{{set_value('tanggal_mulai')}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Tanggal Selesai</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control pull-right time"  name="tanggal_selesai" required value="{{set_value('tanggal_selesai')}}">
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/terbilang.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script>
$(document).ready(function(){
  $.fn.datepicker.defaults.language = 'id';
  $('.time').datepicker({
    orientation:"left bottom",timePicker: true, timePickerIncrement: 30, format: 'DD, dd/MM/yyyy', todayHighlight: false, forceParse: false});

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })

  $( ".dana" ).on('keyup change',function() {
    var id = $(this).data("id");
    console.log(id);
    var total_biaya=$("#total_biaya"+id).val();
    $hasil = total_biaya-$(this).val();
    $("#sisa"+id).html(toRp($hasil));
    $("#sisa_eja"+id).html(terbilang($hasil).toUpperCase());
  });

  function toRp(a,b,c,d,e){e=function(f){return f.split('').reverse().join('')};b=e(parseInt(a,10).toString());for(c=0,d='';c<b.length;c++){d+=b[c];if((c+1)%3===0&&c!==(b.length-1)){d+='.';}}return e(d)}

  var bar = $('.bar');
  var percent = $('.percent');

  $("input[name='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename"+id).val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
    }
    bar.width('0%');
    percent.html('0%');
  });

  $(".upload").ajaxForm({
    beforeSubmit:function(){
        console.log($(this));
        if($("#submit_upload").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      if(responseText.indexOf('.pdf') > -1){
        $("#warning").text("");
        percent.html("File Berhasil Upload");
        var json = $.parseJSON(responseText)
        console.log(json);
        $("#buttonuploadsuratkontrak"+json.id).remove();
        setInterval(function(){
            window.location.reload();
        },1000);

        $("#pdf").val(responseText);
      }else{
        $("#pdf").val("");
        percent.html("File Gagal Upload");
        $("#warning").text("File yang di upload harus berformatkan pdf");
      }
    }
  });
});
</script>
{% endblock %}
