{% if item.berkas and not item.isvalidate==1 and roles(["Operator LPPM","Sekretaris LPPM",'Ketua LPPM']) %} <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#validasisuratkontrak1{{item.id}}" title="" target="_blank"> Validasi Surat Kontrak 1 Lengkap </a> {% endif %}