{% if item.berkas and not item.isvalidate==1 %}
<div class="modal fade" id="validasisuratkontrak1{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  {{ form_open('pengabdian/suratkontrak/validate/' ~ item.id,'data-toggle="validator"') }}
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Validasi Surat Kontrak 1 Lengkap</h4>
        </div>
        <div class="modal-body" id="validate_message">
          <div class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="nomor" class="col-sm-2 control-label">Validasi</label>
                <div class="col-sm-10">
                  <div class="col-sm-9">
                          <label class="radio-inline pull-left"><input type="radio" id="valid{{item.id}}" class="valid" name="isvalid" value="1" required checked>Valid</label>
                          <label class="radio-inline pull-left"><input type="radio" id="invalid{{item.id}}" class="invalid" name="isvalid" value="2" required>Belum Valid</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="nomor" class="col-sm-2 control-label">Notes:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="note" id="note{{item.id}}" disabled rows="5"></textarea>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Validasi</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
$(document).ready(function(){
  $("#valid{{item.id}}").click(function(){
    $("#note{{item.id}}").prop("disabled",true);
    $("#note{{item.id}}").attr("required",false);
  });
  $("#invalid{{item.id}}").click(function(){
    $("#note{{item.id}}").prop("disabled",false);
    $("#note{{item.id}}").attr("required",true);
  });
});
</script>
{% endif %}
