<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
$( document ).ready(function() {
	var index=0;
    $('#add').click(function (e) {
    	e.preventDefault();
    	var type = $("#type").val();
    	var data = '';
    	if(type==0){
    		data = '<div id="field'+index+'"><input type="text" name="body_'+index+'"> FILE <input type="file" name="file_'+index+'" id="file"><button type="button" id="remove'+index+'"  class="removefield">-</button><input type="hidden" name="type_'+index+'" value=0 /></div>';
    	}else{
    		data = '<div id="field'+index+'"><input type="text" name="body_'+index+'"> URL <input type="text" name="url_'+index+'"><button type="button" id="remove'+index+'"  class="removefield">-</button><input type="hidden" name="type_'+index+'" value=1 /></div>';    		
    	}
    	$('#jenis').append(data);
    	index +=1;
    	$("#news_meta").val(index);
        $('.removefield').click(function(e){
            e.preventDefault();
            var fieldNum = this.id.replace("remove","");
            console.log(fieldNum)
            var fieldID = "#field" + fieldNum;
            $(this).remove();
            $(fieldID).remove();
        });
	});
});
</script>

{{ validation_errors() }}

{{ form_open_multipart('pengumuman/add') }}
  Judul: <input type="text" name="judul" value="{{ set_value('judul') }}"><br>
  Isi Berita:	<select id="type">
  					<option value=0>FILE</option>
  					<option value=1>URL</option>
  				</select>
  <input type="hidden" value=0 name="news_meta" id="news_meta"/>
  <button type="button" id="add" >ADD</button><br>

  <div id="jenis">

  </div>
  <br>
  <input type="submit" value="Simpan"> <a href="{{base_url()~'pengumuman/'}}">Batal</a>
</form>