{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
<a href="{{base_url()~'pengumuman/add'}}">Tambah</a>
<table style="width:100%">
  <tr>
    <td>No</td>
    <td>Pengumuman</td>
    <td>Tanggal Pengumuman</td> 
    <td>Akasi</td>
  </tr>
  {% for item in items %}
  <tr>
    <td></td>
    <td>{{item.title }}</td> 
    <td>{{item.created}}</td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}