{% extends 'template.twig' %}

{% block content %}
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Pengumuman
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
              <li class="active"> Tambah Data Pengumuman </li>
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">

              <div class="box box-warning">
                  <div class="box-header with-border">
                        <h3 class="box-title"> Tambah Data Pengumuman </h3>  
                  </div><!-- .box-header -->

                  <div class="box-body"> 

                      <div class="row">
                          <div class="col-sm-12">

                                <!-- s:Personil Dosen-->
                                <div class="box bordernya">
                                      <div class="box-header with-border">
                                        <h3 class="box-title">Form Tambah</h3>
                                      </div>
                                      <!-- /.box-header -->
                                      <!-- form start -->
                                      {{ form_open_multipart('pengumuman/edit/'~items.id,'class="form-horizontal"') }}
                                          <div class="box-body">
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Judul</label> 
                                                <div class="col-sm-9">
                                                  <input type="" class="form-control" id="" placeholder="Judul" name="judul" value="{{ items.title }}">
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                  <label for=" " class="col-sm-3 col-xs-12 control-label">Isi Berita</label> 
                                                  <div class="col-sm-8 col-xs-10">
                                                    <select class="form-control" id="type">
                                                      <option> - Jenis Berita - </option>
                                                        <option value=1>URL</option>
                                                        <option value=0>FILE</option>
                                                    </select>
                                                  </div>
                                                  <div class="col-sm-1 col-xs-2">
                                                      <button id="add" type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                                  </div>
                                              </div>
                                              <input type="hidden" value="{{items.news_meta|length + 1}}" name="news_meta" id="news_meta"/>
                                              <div id="jenis">
                                                {% for meta in items.news_meta %}
                                                  {% if meta.type==0 %}
                                                      <div id="field{{loop.index}}">
                                                              <div class="form-group sub-xs-mb-10">
                                                                      <label for=" " class="col-sm-3 control-label col-xs-12">Deskripsi File</label> 
                                                                      <div class="col-sm-5 col-xs-12">
                                                                        <input type="" class="form-control" id="" placeholder="Deskripsi File" name="body_{{loop.index}}" value="{{meta.body}}">
                                                                      </div>
                                                                      <input type="hidden" name="id_{{loop.index}}" id="id_{{loop.index}}" value="{{meta.id}}">
                                                                      <div class="col-sm-3 col-xs-10">
                                                                              <input type="file" name="file_{{loop.index}}" id="file{{loop.index}}" tabindex="-1" class="form-control" data-id="{{loop.index}}" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                                                              <div class="bootstrap-filestyle input-group">
                                                                                      <input type="text" id="filename_{{loop.index}}" class="form-control " placeholder="" disabled="" value="{{meta.path}}">
                                                                                      <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                                                              <label for="file{{loop.index}}" class="btn btn-warning ">
                                                                                                      <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                                                                      <span class="buttonText">Select File</span>
                                                                                              </label>
                                                                                      </span>
                                                                              </div> 
                                                                      </div><input type="hidden" name="type_{{loop.index}}" value=0 />
                                                                      <div class="col-sm-1 col-xs-2">
                                                                              <button type="button" class="btn btn-default removeButton removefield"  id="remove{{loop.index}}"  ><i class="fa fa-minus"></i></button>
                                                                      </div>
                                                              </div>
                                                      </div>
                                                  {% else %}
                                                      <div id="field{{loop.index}}">
                                                        <input type="hidden" name="id_{{loop.index}}" id="id_{{loop.index}}" value="{{meta.id}}">
                                                              <div class="form-group sub-xs-mb-10">
                                                                      <label for="inputPassword3" class="col-sm-3 col-xs-12 control-label">Deskripsi URL</label>
                                                                      <div class="col-sm-4 col-xs-12">
                                                                              <input type="" class="form-control" id="" placeholder="Deskripsi URL" name="body_{{loop.index}}" value="{{meta.body}}">
                                                                      </div>
                                                                      <div class="col-sm-4 col-xs-10"> 
                                                                              <input type="" class="form-control" id="" placeholder="URL" name="url_{{loop.index}}" value="{{meta.url|replace({'http://': ''})}}">
                                                                      </div>
                                                                      <input type="hidden" name="type_{{loop.index}}" value=1 />
                                                                      <div class="col-sm-1 col-xs-2">
                                                                              <button type="button" id="remove{{loop.index}}"  class="btn btn-default removeButton removefield"><i class="fa fa-minus"></i></button>
                                                                      </div>
                                                              </div>
                                                      </div>
                                                  {% endif %}
                                                {% endfor %}
                                              </div> 

                                          </div>
                                          <!-- /.box-body -->
                                      <div id="deleted">

                                      </div>

                                    <!-- e:form search --> 
                                  </div>
                                  <!-- e:Personil Dosen -->  
                              </div>
                      </div> 

                  </div><!-- box_body -->
                  <div class="box-footer tc"> 
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                        <a href="{{base_url()}}pengumuman/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
                  </div> 
                  </form> 
              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>

      <script>
$( document ).ready(function() {
  var index={{items.news_meta|length + 1}};
    $('#add').click(function (e) {
      e.preventDefault();
      var type = $("#type").val();
      var data = '';
      if(type==0){
          data = '<div id="field'+index+'"><div class="form-group sub-xs-mb-10">';
          data += '<label for=" " class="col-sm-3 control-label col-xs-12">Deskripsi File</label>'; 
          data += '<div class="col-sm-5 col-xs-12">';
          data += '<input type="" class="form-control" id="" placeholder="Deskripsi File" name="body_'+index+'">';
          data += '</div>';
          data += '<div class="col-sm-3 col-xs-10">';
          data += '<input type="file" name="file_'+index+'" id="file_'+index+'" data-id="'+index+'" tabindex="-1" class="form-control fileinput filecheck" style="position: absolute; clip: rect(0px 0px 0px 0px);">';
          data += '<div class="bootstrap-filestyle input-group">';
          data += '<input type="text" class="form-control " id="filename_'+index+'" placeholder="" disabled="">';
          data += '<span class="group-span-filestyle input-group-btn" tabindex="0">';
          data += '<label for="file_'+index+'" class="btn btn-warning ">';
          data += '<span class="icon-span-filestyle glyphicon glyphicon-file"></span> ';
          data += '<span class="buttonText">Select File</span>';
          data += '</label>';
          data += '</span>';
          data += '</div><span id="warning_'+index+'" class="text-danger"></span>';
          data += '</div><input type="hidden" name="type_'+index+'" value=0 />';
          data += '<div class="col-sm-1 col-xs-2">';
          data += '<button type="button" class="btn btn-default removeButton removefield"  id="remove'+index+'"  ><i class="fa fa-minus"></i></button>';
          data += '</div>';
          data += '</div></div>';
        // data = '<div id="field'+index+'"><input type="text" name="body_'+index+'"> FILE <input type="file" name="file_'+index+'" id="file"><button type="button" id="remove'+index+'"  class="removefield">-</button><input type="hidden" name="type_'+index+'" value=0 /></div>';
      }else{
        data = '<div id="field'+index+'"><div class="form-group sub-xs-mb-10">';
        data += '<label for="inputPassword3" class="col-sm-3 col-xs-12 control-label">Deskripsi URL</label>';
        data += '<div class="col-sm-4 col-xs-12">';
        data += '<input type="" class="form-control" id="" placeholder="Deskripsi URL" name="body_'+index+'">';
        data += '</div>';
        data += '<div class="col-sm-4 col-xs-10"> ';
        data += '<input type="" class="form-control" id="" placeholder="URL" name="url_'+index+'">';
        data += '<span class="text-warning">URL tanpa "http://"</span><span class="text-warning">  contoh: "www.google.com"</span></div>';
        data += '<div class="col-sm-1 col-xs-2">';
        data += '<button type="button" id="remove'+index+'"  class="btn btn-default removeButton removefield"><i class="fa fa-minus"></i></button>';
        data += '</div><input type="hidden" name="type_'+index+'" value=1 />';
        data += '</div></div>';
        // data = '<div id="field'+index+'"><input type="text" name="body_'+index+'"> URL <input type="text" name="url_'+index+'"><button type="button" id="remove'+index+'"  class="removefield">-</button><input type="hidden" name="type_'+index+'" value=1 /></div>';        
      }
      $('#jenis').append(data);
      index +=1;
      $("#news_meta").val(index);
      $('.removefield').click(function(e){
          e.preventDefault();
          var fieldNum = this.id.replace("remove","");
          var fieldID = "#field" + fieldNum;
          $(this).remove();
          $(fieldID).remove();
      });

      $("input[name^='file_']").change(function() {
        console.log("yayay");
        $("#filename_"+id).val("");
        var id = $(this).data("id");
        var fileName = $(this).val().split('/').pop().split('\\').pop();
        if(parseInt($(this).context.files[0].size)>5000000){
          $(this).val('');
          $("#warning_"+id).empty('');
          $("#warning_"+id).append('File Size more than 5 MB');
          return;
        }
        $("#warning_"+id).empty('');
        $("#filename_"+id).val(fileName);
      });
  });

  $('.removefield').click(function(e){
      e.preventDefault();
      var fieldNum = this.id.replace("remove","");
      var fieldID = "#field" + fieldNum;
      var deleted_value = $("#id_"+fieldNum).val();
      $("#deleted").append('<input type="hidden" name="deleted[]" value="'+deleted_value+'">');
      $(this).remove();
      $(fieldID).remove();
  });

  $("input[name^='file_']").change(function() {
    var id = $(this).data("id");
    $("#filename_"+id).val("");
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    if(parseInt($(this).context.files[0].size)>5000000){
      $(this).val('');
      $("#warning_"+id).empty('');
      $("#warning_"+id).append('File Size more than 5 MB');
      return;
    }
    $("#warning_"+id).empty('');
    $("#filename_"+id).val(fileName);
  });

  $("#formx").submit(function(e){
      for(var i=0;i<index;i++){
        try{
          console.log($("#file_"+i)[0].files);
          if(parseInt($("#file_"+i)[0].files.length)<1){
            console.log("gagal");
            $("#warning_"+i).empty('');
            $("#warning_"+i).append('Must not be empty');
            e.preventDefault();
          } 
        }catch(e){

        }

      }
  });

});
</script>
{% endblock %}