{% extends 'template.twig' %}

{% block content %}
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Pengumuman
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
              <li class="active"> Pengumuman </li>
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">

              <div class="box box-warning">
                  <div class="box-header with-border">
                        <h3 class="box-title"> Pengumuman </h3>  
                  </div><!-- .box-header -->

                  <div class="box-body">

                        <div class="row mb-10"> 
                            <div class="col-sm-4">
                                <a href="{{base_url()}}pengumuman/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                            </div>
                            <div class="col-sm-8">
                                <div class="box-tools settingnya"> 
                                      <label class="labelnya">Tahun Kegiatan:</label>
                                      <div class="formnya">  
                                        <select class="form-control input-sm" id="tahun" name="tahun">
                                          {% for item in tahun %}
                                            <option value={{ item.tahun }}  {{ set_select('tahun', item.tahun,item.tahun==tahuns) }}>{{item.tahun}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <label class="labelnya">Tampil data:</label> 
                                      <div class="formnya">  
                                        <select class="form-control input-sm" id="views">
                                            <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                            <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                            <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                            <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                        </select>
                                      </div>  
                                </div> 
                            </div>  
                        </div> <!-- .row --> 

                        <div class="row">
                            <div class="col-sm-12">

                            <table width="100%" class="table table-bordered table-striped mb-0"> 
                                <thead>
                                    <tr>
                                      <th style="width: 27px">#</th> 
                                      <th>Pengumuman</th>
                                      <th>Tanggal</th> 
                                      <th style="width: 55px">Action</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                  {% for item in items %}
                                      <tr>
                                        <td>{{loop.index+((page-1)*views)}}.</td> 
                                        <td> 
                                            {{item.title}} 
                                        </td> 
                                        <td>
                                            {{item.created_at|slice(0,4)}} 
                                        </td> 
                                        <td>
                                            <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                        </td> 
                                      </tr>
                                      <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                            <td colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        {% for new_meta in item.news_meta %} 
                                                          {% if new_meta.type==0 %}
                                                        <a href="{{base_url()}}uploads/pengumuman/{{new_meta.path}}" class="linknya" target="_blank">  &bull; {{new_meta.body}} </a>
                                                          {% else %}
                                                          <a href="{{new_meta.url}}" class="linknya" target="_blank">  &bull; {{new_meta.body}}
                                                          {% endif %}
                                                        {% endfor %}
                                                    </div>  
                                                    <div class="col-sm-4 tr">
                                                      <a href="{{base_url()}}pengumuman/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a> 
                                                      <a href="#" data-href="{{base_url()}}pengumuman/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                                    </div>  
                                                </div> 
                                            </td>
                                      </tr> 

                                   {% endfor %}
                                </tbody> 
                                <tfoot> 
                                  <tr>
                                      <th style="width: 10px">#</th> 
                                      <th>Pengumuman</th>
                                      <th style="width: 22%">Tanggal</th> 
                                      <th>Action</th>
                                    </tr> 
                                </tfoot> 
                            </table>   

                          </div><!-- col-sm-12 -->
                      </div> <!-- row -->
                        <ul class="pagination pull-right">
                          {% for i in 1..total_pages %}
                          {% if page==i %}
                          <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                          {% else %}
                          <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                          {% endif %}
                        {% endfor %}
                        </ul>

                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });
  $( "#tahun" ).change(function() {
      var value = $("#tahun").val();
      window.location.href = $.query.set("tahun", value).set('page',1);
  });
  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}

