{% extends 'pengaturan/suratkontrak/pengabdian/index.twig' %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="{{base_url()}}suratkontraks/pengabdian/surata/">Surat 1</a></li>
      <li class="active"><a href="{{base_url()}}suratkontraks/pengabdian/suratb/">Surat 2</a></li>
      <li><a href="{{base_url()}}suratkontraks/pengabdian/persetujuana/">Persetujuan 1</a></li>
      <li><a href="{{base_url()}}suratkontraks/pengabdian/persetujuanb/">Persetujuan 2</a></li>
      <li><a href="{{base_url()}}suratkontraks/pengabdian/batasandana/">Batasan Dana</a></li>
      <li><a href="{{base_url()}}suratkontraks/pengabdian/tembusans/">Tembusan</a></li>
      <li><a href="{{base_url()}}suratkontraks/pengabdian/formatnomor/">Format Nomor</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th>Versi Surat</th>
              <th style="width: 20%;">Status</th>
              <th style="width: 15%;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr>
                <td>{{loop.index+((page-1)*views)}}.</td>
                <td>
                  {{item.nama}}
                </td>
                <td>
                  {{item.status_text}}
                </td>
                <td>
                  <a href="{{base_url()}}suratkontraks/pengabdian/surata/preview/{{item.id}}" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-file-pdf-o" data-toggle="tooltip" data-original-title="Preview"></i></a>
                  {% if item.isvalidate==0 %}
                  <a href="#" data-href="{{base_url()}}suratkontraks/pengabdian/suratb/lock/{{item.id}}" class="btn btn-sm btn-info" data-toggle="modal" data-target="#confirm-kunci"><i class="fa fa-lock" data-toggle="tooltip" data-original-title="Lock"></i></a>
                  {% endif %}
                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                  {% if item.status==0 %}
                    <a href="#" data-href="{{base_url()}}suratkontraks/pengabdian/suratb/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                  {% endif %}
                </td>
              </tr>
              <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('suratkontraks/pengabdian/suratb/edit/'~item.id) }}
                <div class="vertical-alignment-helper">
                  <div class="{% if item.isvalidate==0 %} modal-dialog-lg {% else %} modal-dialog {% endif %} vertical-align-center">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit</h4>
                      </div>
                      <div class="modal-body" id="validate_message">
                        <div class="form-horizontal">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="" class="col-sm-1 control-label">Nama Versi</label>
                              <div class="col-sm-11">
                                <input type="text" class="form-control" name="nama" value="{{set_value('nama',item.nama)}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.nama}}</span>
                              </div>
                            </div>
                            {% if item.isvalidate==0 %}
                            <div class="form-group">
                              <label for="" class="col-sm-1 control-label">Kop Surat</label>
                              <div class="col-sm-11">
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="kop" id="kop" value="1"  {{set_radio('kop', '1', '1'==item.kop)}}>
                                    Aktif
                                  </label>&nbsp&nbsp&nbsp&nbsp
                                  <label>
                                    <input type="radio" name="kop" id="kop" value="0"  {{set_radio('kop', '0', '0'==item.kop)}}>
                                    Tidak Aktif
                                  </label><br>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-1 control-label">Isi Surat</label>
                              <div class="col-sm-11">
                                <textarea id="isi" name="isi" class="isi" rows="20" style="width:100%">{{set_value('isi',item.isi)}}</textarea>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.nama}}</span>
                              </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                              <label for="" class="col-sm-1 control-label"> Status </label>
                              <div class="col-sm-11">
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="status" id="status" value="1" {% if item.isvalidate==0 %} disabled {% else %} {{set_radio('status', '1', '1'==item.status)}} {% endif %}>
                                    Aktif
                                  </label>&nbsp&nbsp&nbsp&nbsp
                                  <label>
                                    <input type="radio" name="status" id="status" value="0" {% if item.isvalidate==0 %} checked {% else %} {{set_radio('status', '0','0'==item.status)}} {% endif %}>Tidak Aktif
                                  </label><br>
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-info btn-ok">Save</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Versi Surat</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('suratkontraks/pengabdian/suratb/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog-md vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Surat Kontrak 2</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Nama Versi</label>
                    <div class="col-sm-11">
                      <input type="text" class="form-control" name="nama" value="{{set_value('nama')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.nama}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Kop Surat</label>
                    <div class="col-sm-11">
                      <div class="radio">
                        <label>
                          <input type="radio" name="kop" id="kop" value="1" checked>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="kop" id="kop" value="0">
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-1 control-label">Isi Surat</label>
                    <div class="col-sm-11">
                      <textarea id="isi" name="isi" class="isi" rows="20" style="width:100%"></textarea>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.nama}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-1 control-label"> Status </label>
                    <div class="col-sm-11">
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="status" value="1" disabled>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="status" id="status" value="0" checked>
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script src="{{base_url()}}assets/plugins/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="{{base_url()}}assets/plugins/tinymce-simakip-plugin.js" type="text/javascript"></script>
<script>
  $(document).ready(function(){
    tinymce.init({
      selector:'.isi',
      height : "400px",
      plugins : "lists noneditable simakip lineheight",
      toolbar1: "undo redo | fontselect styleselect | bold italic | bullist numlist | alignleft aligncenter alignright alignjustify | outdent indent | fontsizeselect lineheightselect",
      toolbar2: "nokontrak formatsurat1 formatsurat2 namapengusul judul jmlanggaran ejaananggaran",
      toolbar3: "jmldana1 ejaandana1 jmldana2 ejaandana2 harimulai tanggalmulai bulanmulai",
      toolbar4: "tahunmulai ejatglmulai ejablnmulai ejathnmulai hariselesai tanggalselesai bulanselesai",
      toolbar5: "tahunselesai ejatglselesai ejablnselesai ejathnselesai tanggal bulan tahun",
      toolbar6: "peranketua namaketua peranmengetahui namamengetahui tembusan ejatanggal ejabulan ejatahun",
      font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Times New Roman=Times New Roman, Times, serif;Tahoma=Tahoma, Verdana, Segoe, sans-serif;BookmanOld=Bookman Old Style',
      // force_br_newlines : true,
      // force_p_newlines : false,
      // forced_root_block : false, // Needed for 3.x
      content_css : "{{base_url()}}/assets/dist/css/noneditable.css",
      noneditable_noneditable_class: "mceNonEditable",
      style_formats : [
              {title : 'Line spacing 8pt', selector : 'p,div,li', styles: {lineHeight: '8pt'}},
              {title : 'Line spacing 12pt', selector : 'p,div,li', styles: {lineHeight: '12pt'}},
              {title : 'Line spacing 18pt', selector : 'p,div,li', styles: {lineHeight: '18pt'}},
              {title : 'Line spacing 20pt', selector : 'p,div,li', styles: {lineHeight: '20pt'}},
              {title : 'Line spacing 24pt', selector : 'p,div,li', styles: {lineHeight: '24pt'}},
              {title : 'Line spacing 36pt', selector : 'p,div,li', styles: {lineHeight: '36pt'}}
      ]
    });

    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    })

  });
</script>
{% endblock %}
