{% extends 'pengaturan/penelitian/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li class="active"><a href="{{base_url()}}isianpengesahans/">Isian Pengesahan</a></li>
            <li><a href="{{base_url()}}jenispenelitians/">Jenis Penelitian</a></li> 
            <li><a href="{{base_url()}}pengaturan/penelitian/targetluaranmasters/">Target Luaran Master</a></li>
            <li><a href="{{base_url()}}batchlists/">Batch Lists</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/pajaks/">Pajak</a></li> 
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>NIDN</th> 
                            <th>Nama</th>
                            <th>Jabatan</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.dosen.nidn}}
                              </td> 
                              <td>
                                  {{item.dosen.nama}}
                              </td> 
                              <td>
                                  {{item.jabatan}}
                              </td> 
                              <td>
                                  {{item.status_text}}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                  {% if item.status==0 %}
                                  <a href="#" data-href="{{base_url()}}isianpengesahans/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                                  {% endif %}
                              </td> 
                            </tr>
                            <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              {{ form_open('isianpengesahans/edit/'~item.id) }}
                              <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                          <div class="form-horizontal">
                                              <div class="box-body"> 
                                                  <input type="hidden" id="dosen" name="dosen" value="{{item.dosen.id}}">
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label">NIDN</label> 
                                                    <div class="col-sm-10">
                                                      <input type="text" class="form-control" id="nidn" name="nidn" placeholder="NIDN" readonly="readonly"  value="{{item.dosen.nidn}}">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Nama Lengkap </label> 
                                                    <div class="col-sm-10">
                                                      <input type="text" class="form-control" id="nama" name="nama" readonly="readonly" value="{{item.dosen.nama}}">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Jabatan </label> 
                                                    <div class="col-sm-10">
                                                      <input type="text" class="form-control" id="jabatan" name="jabatan" value="{{item.jabatan}}">
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-2 control-label"> Status </label> 
                                                    <div class="col-sm-10">
                                                      <div class="radio">
                                                        <label>
                                                          <input type="radio" name="status" id="status" value="1" {{set_radio('status', '1', '1'==item.status)}}>
                                                          Aktif
                                                        </label>&nbsp&nbsp&nbsp&nbsp
                                                        <label>
                                                          <input type="radio" name="status" id="status" value="0" {{set_radio('status', '0','0'==item.status)}}>
                                                          Tidak Aktif
                                                        </label><br>
                                                      </div>
                                                    </div>
   
                                                  </div>  
                                                  
                                              </div>
                                              <!-- /.box-body --> 
                                          </div> 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-info btn-ok">Save</a>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              </form>
                            </div>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>NIDN</th> 
                            <th>Nama</th>
                            <th>Jabatan</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>
              <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('isianpengesahans/insert','data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center">
                      <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Tambah Isian Pengesah</h4>
                          </div>
                          <div class="modal-body" id="validate_message">
                              <div class="form-horizontal">
                                  <div class="box-body"> 
                                      <input type="hidden" id="dosen_add" name="dosen" value="{{set_value('dosen')}}">
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">NIDN</label> 
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="nidn_add" name="nidn" placeholder="NIDN" value="{{set_value('nidn')}}" required data-remote="{{base_url()}}isianpengesahans/is_exist/">
                                          <div class="help-block with-errors"></div>
                                          <span class="text-danger">{{error.nidn}}</span>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Nama Lengkap </label> 
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="nama_add" name="nama" readonly value="{{set_value('nama')}}">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Jabatan </label> 
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="jabatan_add" name="jabatan" value="{{set_value('jabatan')}}" placeholder="Jabatan">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label"> Status </label> 
                                        <div class="col-sm-10">
                                          <div class="radio">
                                            <label>
                                              <input type="radio" name="status" id="status" value="1" disabled>
                                              Aktif
                                            </label>&nbsp&nbsp&nbsp&nbsp
                                            <label>
                                              <input type="radio" name="status" id="status" value="0" checked>
                                              Tidak Aktif
                                            </label><br>
                                          </div>
                                        </div>

                                      </div>  
                                      
                                  </div>
                                  <!-- /.box-body --> 
                              </div> 
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                      </div>
                  </div>
                </div>
                </form>
              </div>
            <div class="clearfix">  
            </div>
      </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })

  $( "#nidn_add" ).keyup(function() {
    nidn = $("#nidn_add").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        try{
          $("#dosen_add").val(data[0]["id"]);
          $("#nama_add").val(data[0]["nama"]);
        }catch(err){

        }
    });
  });
});
</script>
{% endblock %}