{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Luaran Pengabdian <small>Penyelenggara Forum Ilmiah</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
      <li><a href="#"> Luaran Pengabdian </a></li>
      <li class="active">Tambah Data Penyelenggara Forum Ilmiah</li>
    </ol>
  </section>

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <section class="content"> 
          {% set error = validation_errors_array() %}
          {{ form_open_multipart('pengabdian/luaran/pforumilmiahs/edit/'~id,'class="form-horizontal"') }}

         <div class="box box-warning">
          <div class="box-header with-border">
                <h3 class="box-title">Tambah Data Penyelenggara Forum Ilmiah</h3> 
                <div class="box-tools settingnya">   
                      <a href="mk-forum.php" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                </div>
          </div><!-- .box-header --> 
          <div class="box-body">

                <div class="row">
                      <div class="col-sm-12"> 
                          <!-- s:Personil Dosen-->
                          <div class="box bordernya">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Personil Dosen</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                          <label for="" class="col-sm-3 control-label">NIDN </label> 
                                          <div class="col-sm-9">
                                            <input type="" class="form-control" id="nidn" name="nidn" value="{{set_value('nidn',dosen.nidn)}}" placeholder="NIDN" disabled>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-3 control-label">Nama Dosen </label> 
                                          <div class="col-sm-9">
                                            <input type="" class="form-control" id="nama" name="nama" value="{{set_value('nama',dosen.nama_lengkap)}}" placeholder="Dosen" disabled>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-3 control-label">Program Studi </label> 
                                          <div class="col-sm-9">
                                            <input type="" class="form-control" id="program_studi" name="program_studi" value="{{set_value('program_studi',dosen.program_studi.nama)}}" placeholder="Program Studi" disabled>
                                          </div>
                                          <input type="hidden" id="dosen" name="dosen" value="{{set_value("dosen",dosen.id)}}" />
                                        </div> 
                                    </div>
                                    <!-- /.box-body --> 
                                </div>
                              <!-- e:form search --> 
                            </div>
                            <!-- e:Personil Dosen --> 
                      </div>  
                </div> <!-- .row -->

                <div class="row">
                      <div class="col-sm-12">

                          <!-- s:Personil Dosen-->
                          <div class="box bordernya">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Data Penyelenggara Forum Ilmiah</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">

                                    <div class="box-body">
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Tahun Kegiatan </label> 
                                          <div class="col-sm-10">
                                              <select class="form-control" name="tahun">
                                                <option value="" {{ set_select('tahun', '', TRUE) }}>Pilih</option>
                                                {% for item in items_tahun %}
                                                  <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==tahun_kegiatan) }}>{{item.tahun}}</option>
                                                {% endfor %}
                                              </select>
                                              <span class="text-danger">{{error.tahun}}</span>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label">Tingkat Forum Ilmiah</label> 
                                          <div class="col-sm-10">
                                            <select class="form-control" id="tingkat" name="tingkat">
                                              <option value="">- List Tingkat Forum Ilmiah -</option>
                                              <option value=1 {{set_select('tingkat',1,1==tingkat)}}>Tingkat Internasional</option>
                                              <option value=2 {{set_select('tingkat',2,2==tingkat)}}>Tingkat Nasional</option> 
                                              <option value=3 {{set_select('tingkat',3,3==tingkat)}}>Tingkat Regional</option> 
                                            </select>
                                          </div>
                                        </div> 
                                         
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label">Nama Kegiatan :</label> 
                                          <div class="col-sm-10">
                                            <input type="" class="form-control" id="" placeholder="" name="nama" value="{{set_value('nama',nama)}}">
                                            <span class="text-danger">{{error.nama}}</span>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Unit Pelaksana : </label> 
                                          <div class="col-sm-10">
                                            <input type="" class="form-control" id="" placeholder="" name="unit" value="{{set_value('unit',unit)}}">
                                            <span class="text-danger">{{error.unit}}</span>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Mitra/Sponsorship </label> 
                                          <div class="col-sm-10">
                                            <input type="" class="form-control" id="" placeholder="" name="mitra" value="{{set_value('mitra',mitra)}}">
                                            <span class="text-danger">{{error.mitra}}</span>
                                          </div>
                                        </div>
                                        {# <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Skala Forum Ilmiah </label> 
                                          <div class="col-sm-10">
                                            <input type="" class="form-control" id="" placeholder="" name="skala" value="{{set_value('skala',skala)}}">
                                            <span class="text-danger">{{error.skala}}</span>
                                          </div> #}
                                        </div>

                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Waktu Pelaksanaan </label> 
                                           <div class="col-sm-10">
                                              <div class="input-group">
                                                <div class="input-group-addon">
                                                  <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="reservationtime" name="waktu" value="{{set_value('waktu',waktu)}}" readonly='true'>
                                                <span class="text-danger">{{error.waktu}}</span>
                                              </div>
                                          </div>
                                        </div>

                                        
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label"> Tempat Pelaksanaan </label> 
                                          <div class="col-sm-10">
                                            <input type="" class="form-control" id="" placeholder=" " name="tempat" value="{{set_value('tempat',tempat)}}">
                                            <span class="text-danger">{{error.tempat}}</span>
                                          </div>
                                        </div>

                                        {# <div class="form-group">
                                            <label for="" class="col-sm-2 control-label"> Berkas </label> 

                                            <div class="col-sm-10">  
                                                 <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file">
                                                 <div class="bootstrap-filestyle input-group">
                                                    <input type="text" class="form-control " placeholder="" disabled=""> 
                                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                      <label for="icondemo" class="btn btn-warning ">
                                                        <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                        <span class="buttonText">Select File</span>
                                                      </label>
                                                    </span>
                                                  </div>
  
                                            </div> <!-- col-sm-10 -->

                                        </div> #}
                                        
                                    </div>
                                    <!-- /.box-body --> 
                                </div> 
                                <!-- e:form search --> 

                                  

                            </div>
                            <!-- e:Personil Dosen -->
                        
                      </div> 
                </div>  <!-- .row -->

          </div><!-- box_body --> 
          <div class="box-footer tc"> 
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                <a href="{{base_url()}}pengabdian/luaran/pforumilmiahs/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
          </div>
      </div><!-- .box box-primary --> 

    </form>
  </section>
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{{base_url()}}assets/plugins/daterangepicker/daterangepicker.js"></script>
<script>
  $(function () { 
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY'});
  });
  $(document).ready(function(){
  $( "#nidn" ).keyup(function() {
      nidn = $("#nidn").val();
      $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
          data = $.parseJSON(data);
          console.log(data);
          $("#nama").val(data[0]["nama"]);
          $("#program_studi").val(data[0]["program_studi"]["nama"]);
          $("#dosen").val(data[0]["id"]);
      });
    }); 
  })
</script>
{% endblock %}
 