{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Penelitian <small>Review Usulan Proposal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Penelitian</li>
        <li class="active">Review Usulan Proposal</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              {% set dosen,judul,jenis_penelitians,batch_penelitian,get_tahun_kegiatan,get_hasil,get_status = request_get('dosen'),request_get('judul'),request_get('jenis_penelitian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('hasil'),request_get('status') %}
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Penelitian" value="{{judul}}">
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Penelitian : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_penelitian"  id="jenis_penelitian">
                        <option value="">Semua Jenis Penelitian</option>
                    {% for item in jenis_penelitian %}
                        <option value="{{item.id}}" {{set_select('jenis_penelitian',item.id,item.id==jenis_penelitians)}}>{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Penelitian : </label> 
                <div class="col-sm-10">

                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch_penelitian)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Hasil Review: </label>
                <div class="col-sm-10">
                  <select class="form-control" name="hasil">
                        <option value="">Semua</option>
                        <option value="1" {{set_select('hasil',"1","1"==get_hasil)}}>Diterima</option>
                        <option value="2" {{set_select('hasil',"2","2"==get_hasil)}}>Diterima Dengan Syarat</option>
                        <option value="3" {{set_select('hasil',"3","3"==get_hasil)}}>Ditolak</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status: </label>
                <div class="col-sm-10">
                  <select class="form-control" name="status">
                        <option value="">Semua</option>
                        <option value="2" {{set_select('status',"2","2"==get_status)}}>Hasil Akhir Reviewer</option>
                        <option value="1" {{set_select('status',"1","1"==get_status)}}>Hasil Akhir Lemlit</option>
                        <option value="3" {{set_select('status',"3","3"==get_status)}}>Proses Reviewer</option>
                  </select>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->


        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Review Proposal Penelitian</h3>
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label>
                      <div class="formnya">
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>
                      <div class="formnya">
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>
                      <label class="labelnya">Tampil data:</label>
                      <div class="formnya">
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option>
                          </select>
                      </div>
                      {% if userinfo.akses.nama=="Operator Lemlitbang"  or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang" %}
                      <a href="{{base_url()}}penelitiansreviews/download?dosen={{dosen}}&judul={{judul}}&jenis_penelitian={{jenis_penelitians}}&batch={{batch_penelitian}}&tahun_kegiatan={{get_tahun_kegiatan}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> </a>
                      {% endif %}
                  </div>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 40%">Data Usulan Penelitian</th>
                                <th style="width: 12%">Jenis Penelitian</th>
                                <th>Hasil Penilaian</th>
                                <th>Deadline Reviewer</th>
                                <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in penelitian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {# {{ dump(item) }} #}
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}
                                      <br><br>
                                      <a href="{{base_url()}}penelitians/detail/{{item.id}}">
                                          {{item.judul}}
                                      </a>
                                  </td>
                                  <td>
                                       {{item.jenis_penelitian.nama}}<br><br>
                                       {{item.batch.nama}} - {{item.batch.batch_penelitian.tahun.tahun}}
                                  </td>
                                  <td>
                                    {% set index = 1 %}
                                    {% for review in item.penelitian_review_exselected %}
                                      {% if (userinfo.id==review.dosen.id or role("Operator Lemlitbang") or userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
                                      <b>Reviewer {{index}}</b>:<br>
                                      {% set index = index+1 %}
                                      {{review.dosen.nama}}<br>
                                      Hasil: {{review.status_text}}<br>
                                      Anggaran yg disetujui: Rp. {{review.rp_rekomendasi}}
                                    {% endif %}
                                      <br>
                                    {% endfor %}
                                    {% if (role("Operator Lemlitbang") or userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") and item.penelitian_review_inselected|length == 1 and item.penelitian_review_inselected.0.catatan_rekomendasi != '' %}
                                      <b>Lemlit</b>:<br> {{item.penelitian_review_inselected.0.status_text}}<br>
                                      Anggaran: Rp. {{item.penelitian_review_inselected.0.rp_rekomendasi}}
                                    {% endif %}
                                  </td>
                                  {% set isreviewer,deadline,deadline_check,status = false, '',false,false %}
                                  {% for reviewer in item.penelitian_reviewer %}
                                    {% if reviewer.dosen==userinfo.id %}
                                      {% set isreviewer,deadline,deadline_check= true,reviewer.deadline,reviewer.deadline_check %}
                                      {% if reviewer.status==1 %}
                                        {% set status = true %}
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                  <td> <span class="text-danger">
                                    {% set index = 1 %}
                                    {% for reviewer in item.penelitian_reviewer %}
                                      {% if (userinfo.id==reviewer.dosen or role("Operator Lemlitbang") or userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
                                        Reviewer {{index}}:<br> {{reviewer.deadline}}
                                        {% set index = index+1 %}
                                      {% endif %}
                                      <br><br>
                                    {% endfor %}
                                  </span> </td>
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td>
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="8">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <div class="pull-left">
                                                  {% for reviewer in item.penelitian_reviewer %}
                                                    {% if reviewer.status==1 and (userinfo.id==reviewer.dosen or role("Operator Lemlitbang") or userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
                                                    <a href='{{base_url()}}penelitiansreviews/result/{{reviewer.penelitian}}/dosen/{{reviewer.dosen}}/{{loop.index}}' class="btn-sm btn bg-purple"> Hasil Review {{loop.index}} </a>
                                                    {% endif %}
                                                  {% endfor %}
                                                  {% if (role("Operator Lemlitbang") or userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") and item.penelitian_review_inselected|length == 1 and item.penelitian_review_inselected.0.catatan_rekomendasi != '' %}
                                                    <a href='{{base_url()}}penelitiansreviews/result/{{item.id}}/dosen/reviewer/hasil' class="btn-sm btn bg-purple"> Hasil Final Review</a>
                                                  {% endif %}
                                                </div>
                                                {% if isreviewer and deadline_check and not status %}
                                                   <div class="pull-right">
                                                      <a href="{{base_url()}}penelitiansreviews/penelitian/{{item.id}}" class="btn-sm btn btn-success">Review Penelitian</a>
                                                   </div>
                                                 {% elseif isreviewer and not deadline_check and not status %}
                                                  <div class="pull-right">

                                                      <span class="btn-sm btn btn-warning disabled">Jatuh Tempo</span>
                                                   </div>
                                                {% endif %}
                                                {% if item.penelitian_review_inselected|length == 1 and item.penelitian_review_inselected.0.catatan_rekomendasi == '' and item.status == 3 and (userinfo.akses.nama=='Rektor' or userinfo.akses.nama=='Wakil Rektor' or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
                                                  <div class="pull-right">
                                                      <a href="{{base_url()}}penelitiansreviews/penelitianfinal/{{item.id}}" class="btn-sm btn btn-success">Final Review</a>
                                                   </div>
                                                {% endif %}
                                              </div>
                                          </div>
                                      </td>
                                </tr>
                                {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                                <th>#</th>
                                <th>Nama Dosen</th>
                                <th>Jenis Penelitian</th>
                                <th>Hasil Penilaian</th>
                                <th>Deadline Reviewer</th>
                                <th>Action</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->



    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })

  // $("#jenis_penelitian").change(function(){
  //   jenis_penelitian = $("#jenis_penelitian").val();
  //   $.get("{{base_url()}}batchpenelitians/json/"+jenis_penelitian,function(data){
  //     data = $.parseJSON(data);
  //     var output='';
  //     output += '<option value="">Tahun</option>';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["tahun"]["tahun"]+'</option>';
  //     }
  //     $("#tahun_kegiatan").empty();
  //     $("#tahun_kegiatan").append(output);
  //   });
  // });

  // $( "#tahun_kegiatan" ).change(function() {
  //   tahun_kegiatan = $("#tahun_kegiatan").val();

  //   $.get("{{base_url()}}batchs/json/"+tahun_kegiatan, function( data ) {
  //     data = $.parseJSON(data);
  //     var output='';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  //     }
  //     $("#batch").empty();
  //     $("#batch").append(output);
  //   });

  // });
});
</script>
{% endblock %}
