{% extends 'template.twig' %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Penelitian <small>Review Proposal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Penelitian</li>
        <li>Review Proposal</li>
        <li class="active">Detail Penilaian Proposal</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">   

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Detail Penilaian Proposal</h3>
          <div class="box-tools settingnya">   
            <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
          </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-header -->
        <div class="box-body">
          <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">  Hasil Penilaian Akhir </h3>
            </div>
            <table class="table mb-0">  
              <tbody>
                <tr> 
                  <td style="width:15%;"> 
                    Keputusan akhir :
                  </td>
                  <td>
                    {{penelitian_review_inselected.0.status_text}}
                  </td> 
                </tr> 
                <tr> 
                  <td> 
                    Anggaran akhir yang disetujui :
                  </td>
                  <td>
                    {{penelitian_review_inselected.0.rp_rekomendasi}}
                  </td> 
                </tr>
                <tr> 
                  <td> 
                    Catatan penilaian akhir :
                  </td>
                  <td>
                    {{penelitian_review_inselected.0.catatan_rekomendasi}}
                  </td> 
                </tr>
              </tbody>   
            </table>
          </div>
        </div>  
        <div class="box-body">   
          <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">  Identitas Peneliti </h3>
            </div>
            <!-- /.box-header --> 
            <div class="box-body">

              <table class="table mb-0">  
                <tbody>
                  <tr> 
                    <td style="width:15%;"> 
                      NIDN :
                    </td>
                    <td>
                      {{dosen.nidn}}
                    </td> 
                  </tr> 
                  <tr> 
                    <td style="width:15%;"> 
                      Nama Peneliti :
                    </td>
                    <td>
                      {{dosen.nama_lengkap}}
                    </td> 
                  </tr>
                  <tr> 
                    <td style="width:15%;"> 
                      Status Dosen :
                    </td>
                    <td>
                      {{dosen.status_dosen_text}}
                    </td> 
                  </tr>   
                  <tr> 
                    <td style="width:15%;"> 
                      Home Base :
                    </td>
                    <td>
                      {{dosen.jurusan}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Anggota Peneliti : </td>
                    <td> 
                      {% for anggo in anggota %}
                        - {{anggo.dosen.gelar_depan}} {{anggo.dosen.nama}} {{anggo.dosen.gelar_belakang}}<br>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr> 
                    <td> 
                      Judul Penelitian :
                    </td>
                    <td>
                      {{judul}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Batch Tahun : </td>
                    <td> {{batch.nama}} - {{batch.batch_penelitian.tahun.tahun}} </td>
                  </tr>   
                  <tr> 
                    <td> 
                      Lokasi Penelitian :
                    </td>
                    <td>
                      {{lokasi}}
                    </td> 
                  </tr>
                  <tr> 
                    <td> Lama Penelitian : </td>
                    <td> {{lama}} Bulan </td>
                  </tr> 


                  <tr> 
                    <td> <h4>Biaya Penelitian</h4>  </td>
                    <td> </td>
                  </tr> 
                  <tr> 
                    <td> Pagu Anggaran : </td>
                    <td> Rp {{anggaran.format_rupiah}},- </td>
                  </tr> 
                  <tr> 
                    <td> Yang Diusulkan : </td>
                    <td> Rp {{rp_total_biaya}},- </td>
                  </tr> 
                  <tr> 
                    <td> Rekomendasi : </td>
                    <td> Rp {{hasil.rp_rekomendasi}},- </td>
                  </tr> 

                </tbody>   
              </table>

            </div>
          </div>


          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Reviewer 1</a></li>
              <li><a href="#tab_2" data-toggle="tab">Reviewer 2</a></li> 
            </ul>
            <div class="tab-content">  

              <div class="tab-pane active" id="tab_1">  

                <div class="clearfix"></div> 

                <!-- s:11111111-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">  Identitas Penilai 1</h3> 
                  </div>
                  <!-- /.box-header -->
                  <!-- form start --> 
                  <div class="box-body"> 

                    <table class="table mb-0">
                      <tr> 
                        <td style="width:15%;"> 
                          Nama Dosen :
                        </td>
                        <td>
                          {{penelitian_review_exselected.0.dosen.nama_lengkap}}
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Program Studi :
                        </td>
                        <td>
                          {{penelitian_review_exselected.0.dosen.program_studi.nama}}
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Jabatan Akademik :
                        </td>
                        <td>
                          {{penelitian_review_exselected.0.dosen.jabatan_akademik.nama}}
                        </td> 
                      </tr>
                      <tr> 
                        <td> 
                          Catatan Review :
                        </td>
                        <td>
                          {{penelitian_review_exselected.0.catatan_review}}
                        </td> 
                      </tr>
                      <tr>
                        <td>
                          Berkas Catatan Review :
                        </td>
                        <td>
                          <a href="{{base_url()}}uploads/penelitianreview/{{penelitian_review_exselected.0.berkas}}" id="berkas_step3" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Catatan Review </a>
                        </td>
                      </tr>   
                      <tr> 
                        <td> 
                          Rekomendasi :
                        </td>
                        <td>
                          Rp. {{penelitian_review_exselected.0.rp_rekomendasi}},-
                        </td> 
                      </tr>  
                      <tr> 
                        <td> 
                          Catatan Rekomendasi :
                        </td>
                        <td>
                          {{penelitian_review_exselected.0.catatan_rekomendasi}}
                        </td> 
                      </tr>    

                    </table> 

                  </div>
                  <!-- /.box-body -->  
                </div>
                <!-- e:111111111 -->   

                <!-- s:tabel-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Kriteria Penilaian</h3>
                  </div>
                  <!-- /.box-header -->  
                  <!-- form start --> 
                  <div class="box-body">  

                    <table class="table table-bordered mb-0"> 
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <th style="width: 25%">Kriteria</th>
                          <th>Indikator Penilaian</th>
                          <th>Bobot(%)</th> 
                          <th>Skor</th>
                          <th>Nilai</th>
                        </tr> 
                      </thead>
                      <tbody>
                        {% set total_skor,total_nilai = 0,0 %}
                          {% for nilai in penelitian_review_exselected.0.penelitian_nilai%}
                          <tr>
                            <td> {{loop.index}}. </td>
                            <td> 
                              {{nilai.penilaian_kriteria.nama|nl2br}}
                            </td>
                            <td>
                              {{nilai.penilaian_kriteria.indikator|nl2br}}
                            </td>
                            <td>
                              {{nilai.penilaian_kriteria.bobot}}
                            </td> 
                            <td> 
                              {% set total_skor=total_skor+nilai.skor %}
                                {{nilai.skor}}
                              </td> 
                              <td>
                                {% set total_nilai=total_nilai+nilai.nilai %}
                                  {{nilai.nilai}}
                                </td>
                              </tr> 
                            {% endfor %}
                          </tbody>  
                          <tfoot>
                            <tr> 
                              <th colspan="3">
                                Total
                              </th>
                              <th>
                                100
                              </th>
                              <th>
                                {{total_skor}}
                              </th>
                              <th>
                                {{total_nilai}}
                              </th>

                            </tr>
                          </tfoot>
                        </table>



                      </div>
                      <!-- /.box-body -->   
                    </div>
                    <!-- e:tabel -->     

                    <div class="box bordernya">
                      <div class="box-header with-border" style="text-align:center;">
                        {% if penelitian_review_exselected.0.status==1 %}
                          <h3 class="box-title text-success" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.0.status_text}} </h3>
                        {% elseif penelitian_review_exselected.0.status ==2 %}
                          <h3 class="box-title text-warning" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.0.status_text}} </h3>
                        {% elseif penelitian_review_exselected.0.status==3 %}
                          <h3 class="box-title text-danger" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.0.status_text}} </h3>
                        {% endif %}
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body">  
                        {% if penelitian_review_exselected.0.status==3 %}
                          <h4>Alasan Penolakan</h4>  
                          <p>
                            {{penelitian_review_exselected.0.alasan|nl2br}}
                          </p> 
                        {% elseif penelitian_review_exselected.0.status==2 %}
                          <h4>Saran Perbaikan</h4>  
                          <p>
                            {{penelitian_review_exselected.0.saran|nl2br}}
                          </p>
                        {% endif %}

                      </div>
                      <!-- /.box-body -->   
                    </div>

                    <div class="clearfix"></div>   
                  </div>
                  <!-- e.1 -->

                  <div class="tab-pane" id="tab_2">
                    <div class="box bordernya">
                      <div class="box-header with-border">
                        <h3 class="box-title">Identitas Penilai 2</h3>
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body"> 

                        <table class="table mb-0">
                          <tr> 
                            <td style="width:15%;"> 
                              Nama Dosen :
                            </td>
                            <td>
                              {{penelitian_review_exselected.1.dosen.nama_lengkap}}
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Program Studi :
                            </td>
                            <td>
                              {{penelitian_review_exselected.1.dosen.program_studi.nama}}
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Jabatan Akademik :
                            </td>
                            <td>
                              {{penelitian_review_exselected.1.dosen.jabatan_akademik.nama}}
                            </td> 
                          </tr>
                          <tr> 
                            <td> 
                              Catatan Review :
                            </td>
                            <td>
                              {{penelitian_review_exselected.1.catatan_review}}
                            </td> 
                          </tr>
                          <tr>
                            <td>
                              Berkas Catatan Review :
                            </td>
                            <td>
                              <a href="{{base_url()}}uploads/penelitianreview/{{penelitian_review_exselected.1.berkas}}" id="berkas_step3" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Catatan Review </a>
                            </td>
                          </tr>   
                          <tr> 
                            <td> 
                              Rekomendasi :
                            </td>
                            <td>
                              Rp. {{penelitian_review_exselected.1.rp_rekomendasi}},-
                            </td> 
                          </tr>  
                          <tr> 
                            <td> 
                              Catatan Rekomendasi :
                            </td>
                            <td>
                              {{penelitian_review_exselected.1.catatan_rekomendasi}}
                            </td> 
                          </tr>    

                        </table> 

                      </div>
                      <!-- /.box-body -->   
                    </div>


                    <div class="box bordernya">
                      <div class="box-header with-border">
                        <h3 class="box-title">Kriteria Penilaian</h3>
                      </div>
                      <!-- /.box-header -->  
                      <!-- form start --> 
                      <div class="box-body">  

                        <table class="table table-bordered mb-0"> 
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th> 
                              <th style="width: 25%">Kriteria</th>
                              <th>Indikator Penilaian</th>
                              <th>Bobot(%)</th> 
                              <th>Skor</th>
                              <th>Nilai</th>
                            </tr> 
                          </thead>
                          <tbody>
                            {% set total_skor,total_nilai = 0,0 %}
                              {% for nilai in penelitian_review_exselected.1.penelitian_nilai%}
                              <tr>
                                <td> {{loop.index}}. </td>
                                <td> 
                                  {{nilai.penilaian_kriteria.nama|nl2br}}
                                </td>
                                <td>
                                  {{nilai.penilaian_kriteria.indikator|nl2br}}
                                </td>
                                <td>
                                  {{nilai.penilaian_kriteria.bobot}}
                                </td> 
                                <td> 
                                  {% set total_skor=total_skor+nilai.skor %}
                                    {{nilai.skor}}
                                  </td> 
                                  <td>
                                    {% set total_nilai=total_nilai+nilai.nilai %}
                                      {{nilai.nilai}}
                                    </td>
                                  </tr> 
                                {% endfor %}
                              </tbody>  
                              <tfoot>
                                <tr> 
                                  <th colspan="3">
                                    Total
                                  </th>
                                  <th>
                                    100
                                  </th>
                                  <th>
                                    {{total_skor}}
                                  </th>
                                  <th>
                                    {{total_nilai}}
                                  </th>

                                </tr>
                              </tfoot>
                            </table>



                          </div>
                          <!-- /.box-body -->   

                        </div>


                        <div class="box bordernya">
                          <div class="box-header with-border" style="text-align:center;">
                            {% if penelitian_review_exselected.1.status==1 %}
                              <h3 class="box-title text-success" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.1.status_text}} </h3>
                            {% elseif penelitian_review_exselected.1.status ==2 %}
                              <h3 class="box-title text-warning" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.1.status_text}} </h3>
                            {% elseif penelitian_review_exselected.1.status==3 %}
                              <h3 class="box-title text-danger" style="font-weight: bold;font-size: 200%;"> {{penelitian_review_exselected.1.status_text}} </h3>
                            {% endif %}
                          </div>
                          <!-- /.box-header -->  
                          <!-- form start --> 
                          <div class="box-body">  
                            {% if penelitian_review_exselected.1.status==3 %}
                              <h4>Alasan Penolakan</h4>  
                              <p>
                                {{penelitian_review_exselected.alasan|nl2br}}
                              </p> 
                            {% elseif penelitian_review_exselected.1.status==2 %}
                              <h4>Saran Perbaikan</h4>  
                              <p>
                                {{penelitian_review_exselected.1.saran|nl2br}}
                              </p>
                            {% endif %}

                          </div>
                          <!-- /.box-body -->   
                        </div>


                        <div class="clearfix"></div>   
                      </div>
                      <!-- e.2 --> 

                    </div>
                    <!-- /.tab-content -->
                  </div>
                  <!-- nav-tabs-custom --> 


                </div><!-- box utama --> 


              </section>
              <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            </div>
            <script type="text/javascript">
            $(document).ready(function(){
              $("#rekomendasix").keyup(function() {
                var value = $(this).val();
                value = parseInt(value);
                $(".rekomendasi_show").text(value.formatMoney(0,',','.'));
                $("#show_anggaran").val('Rp. '+value.formatMoney(0,',','.')+',-');
              });
              $("#status").change(function(){
                $("#show_status").val($(this).find("option:selected").text());
              });
              $("#catatan_review").keyup(function() {
                $("#show_catatan_rekomendasi").val( $(this).val());
              });
            });
            </script>
          {% endblock %}