{{ form_open('penelitiansreviews/step3','class="form-horizontal moving" id="step3" data-toggle="validator"') }}
<div class="box-body">  
      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">  Identitas Peneliti </h3>
          </div>
          <!-- /.box-header -->
          <!-- form start --> 
          <div class="box-body"> 

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">NIDN</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{dosen.nidn}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Nama Peneliti</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
                  </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Status Dosen</label> 
                    <div class="col-sm-10">
                        <input type="" class="form-control" disabled id="" value="{{dosen.status_dosen_text}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Home Base</label> 
                    <div class="col-sm-10">
                        <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Anggota Peneliti</label> 
                    <div class="col-sm-10">
                        <textarea class="form-control" disabled id="">{% for a in anggota %}{{a.dosen.nama_lengkap}}&#13;&#10;{% endfor %}</textarea>
                    </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Judul Penelitian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{ judul }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Lokasi Penelitian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{lokasi}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Lama Penelitian</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{lama}} Bulan">
                  </div>
                </div>

                <h4>Biaya Penelitian</h4> 
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Pagu Anggaran</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Rp {{anggaran.format_rupiah}},-">  
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Yang Diusulkan</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Rp {{rp_total_biaya}},-">  
                  </div>
                </div> 
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Rekomendasi</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="rekomendasi_step3">  
                  </div>
                </div>  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Catatan Rekomendasi</label> 
                  <div class="col-sm-10">
                      <textarea class="form-control" disabled id="catatan_rekomendasi_step3"></textarea>
                  </div>
                </div> 
                  
          </div>
          <!-- /.box-body -->  
      </div>
      <!-- e:111111111 -->    


       <!-- s:tabel-->
      <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">Kriteria Penilaian</h3>
            </div>
            <!-- /.box-header -->  
            <!-- form start --> 
            <div class="box-body">  

                <table class="table table-bordered mb-0"> 
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <th style="width: 25%">Kriteria</th>
                          <th>Indikator Penilaian</th>
                          <th>Bobot(%)</th> 
                          <th>Skor</th>
                          <th>Nilai</th>
                        </tr> 
                    </thead>
                    <tbody>
                        {% for i in jenis_penelitian.active_penilaian %}
                          <tr>
                              <td> {{loop.index}}. </td>
                              <td> 
                                  {{i.nama}}
                              </td>
                              <td>
                                  {{i.indikator|nl2br}}
                              </td>
                              <td>
                                  {{i.bobot}}
                              </td> 
                              <td> 
                                  <span id="skor_{{i.id}}_step3"></span> 
                              </td> 
                              <td>
                                  <span id="nilai_{{i.id}}_step3"></span> 
                              </td>
                          </tr>
                        {% endfor %} 
                    </tbody>  
                    <tfoot>
                          <tr> 
                              <th colspan="3">
                                  Total
                              </th>
                              <th>
                                  100
                              </th>
                              <th>
                                  <span id="total_skor_step3"></span> 
                              </th>
                              <th>
                                  <span id="total_nilai_step3"></span> 
                              </th>
                            
                          </tr>
                    </tfoot>
                </table>

                
                
            </div>
            <!-- /.box-body -->   
      </div>
      <!-- e:tabel -->    


       <input type="hidden" class="penelitian_review" name="penelitian_review">
       <div class="box bordernya">
              <div class="box-header with-border">
                <h3 class="box-title">Identitas Peneliti</h3>
              </div>
              <!-- /.box-header -->  
              <!-- form start --> 
              <div class="box-body">

                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Nama Peneliti </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" disabled id="" value="{{dosen.nama}}">
                        </div>
                      </div>  
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Judul Penelitian</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{ judul }}">
                        </div>
                      </div>  
                  
              </div>
              <!-- /.box-body -->   
        </div>


        <p>Dari hasil penilaian yang dilakukan oleh Tim Penilai (Reviewer) menyarankan / merekomendasikan bahwa judul penelitian tersebut: </p>


        <div class="box bordernya">
              <div class="box-header with-border" style="text-align:center;">
                <span class="box-title" id="status_step3" style="font-weight: bold;font-size: 200%;"></span>
              </div>
              <!-- /.box-header -->  
              <!-- form start --> 
              <div class="box-body" id="isian_step3"> 
                  
              </div>
              <div>   
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Catatan Review</label> 
                  <div class="col-sm-10">
                      <a href="#" id="berkas_step3" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Catatan Review </a>
                  </div>
                </div>  
              </div>
              <!-- /.box-body -->   
        </div>
</div>
<!-- /.box-body -->
<div class="box-footer tc">  
    <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a>
    <a href="#" class="btn btn-success mr-10" data-toggle="modal" data-target="#konfirmasi">  Submit <i class="fa fa-arrow-right"> </i></a>
</div>
<div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-body" id="validate_message">
              <h3>Review yang sudah di submit tidak dapat di ubah. Anda yakin ingin melanjutkan?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info btn-ok">Yes</button>
            </div>
        </div>
    </div>
  </div>
</div>
</form>