<div class="modal fade modal-upload in" id="modal-dokumen{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Berkas Pencairan Dana</h4> </div>
          <div class="modal-body form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Nama Bank: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Cabang: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank_cabang}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Nomor Rekening: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank_rek}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Buku Tabungan: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {% if item.dosen.bank_photo %}
                      <a href="{{base_url()}}uploads/tabungan/{{item.dosen.bank_photo}}" target="_blank"><img src="{{base_url()}}uploads/tabungan/{{item.dosen.bank_photo}}" alt="Buku Tabungan" style="max-width:330px;"></a>
                      {% else %}
                        Belum Upload
                      {% endif %}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Nomor NPWP: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.npwp_nomor}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> NPWP: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {% if item.dosen.npwp_photo %}
                      <a href="{{base_url()}}uploads/npwp/{{item.dosen.npwp_photo}}" target="_blank"><img src="{{base_url()}}uploads/npwp/{{item.dosen.npwp_photo}}" alt="NPWP" style="max-width:330px;"></a>
                      }
                      {% else %}
                        Belum Upload
                      {% endif %}
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="tc">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Tutup</button>
                  </div>
          </div>
        </div>
    </div>
  </div>
</div>