{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pendidikan
                <small>Dosen</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                {# <li> Pendidikan </li> #}
                <li class="active">
                    Pendidikan Dosen
                </li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">
            <div class="box bordernya">
                <div class="box-header with-border">
                    <h3 class="box-title">Pengguna Dosen</h3>
                </div>
                <!-- /.box-header --> 
                <!-- form start --> 
                {{form_open('pengguna/add/'~res.id,  'class="form-horizontal"')}}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">NIDN</label>
                            <div class="col-sm-10"> 
                            {{res.nidn}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Nama Dosen</label>
                            <div class="col-sm-10">
                            {{res.nama_lengkap}}
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Pendidikan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="pendidikan" name="pendidikan" placeholder="Pendidikan" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Asal Pendidikan</label>
                            <div class="col-sm-10">
                                <input type=" " class="form-control" id="asalpendidikan" name="asalpendidikan" placeholder="Asal Pendidikan" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Tahun</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="tahun" name="tahun" placeholder="Tahun" value="">
                                <!--<select class="form-control input-sm" id="pendidikan" name="pendidikan">
                                    <option value="">Semua Pendidikan</option>
                                    <option value="S1" {{set_select('pendidikan','S1',get_pendidikan=='S1')}}>S1</option>
                                    <option value="S2" {{set_select('pendidikan','S2',get_pendidikan=='S2')}}>S2</option>
                                    <option value="S3" {{set_select('pendidikan','S3',get_pendidikan=='S3')}}>S3</option>
                                </select>-->
                            </div>
                        </div>
                         
                         
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    <button type="submit" class="btn btn-danger pull-right mr-10"> <i class="fa fa-plus"> </i> Tambah</button>
                     
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Dosen
                    </h3>
                </div>
                <!-- .box-header -->

                <div class="box-body">
                    {% if session.flashdata.success %}
                        <div class="alert alert-success fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong>
                            {{session.flashdata.success}}
                        </div>
                    {% endif %}
                    <div class="row mb-10"> 
                        <div class="col-sm-12">
                            <div class="box-tools settingnya">
                                <label class="labelnya">Hak Akses:</label>
                                <div class="formnya"></div>
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value="10" {{set_select('views',10,views==10)}}>10</option>
                                        <option value="25" {{set_select('views',25,views==25)}}>25</option>
                                        <option value="50" {{set_select('views',50,views==50)}}>50</option>
                                        <option value="100" {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                {# <a href="#" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF"> <i class="fa fa-file-pdf-o"></i> </a>  #}
                                {% set string_review = (reviewer|length == 2) ? "3" : review[0] %}
                                <a href="{{base_url()}}pengguna/pdf?akses={{akses}}&reviewer={{string_review}}&ketuaprodi={{ketuaprodi}}" class="btn btn-warning pull-right mr-10" data-toggle="tooltip" title="Export To PDF" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->


                    <div class="row">
                        <div class="col-sm-12">

                            <table width="99%" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">ID</th>
                                        <th style="width: 22%">Pendidikan</th>
                                        <th>Asal Pendidikan</th>
                                        <th>Tahun</th>
                                        <th style="width: 87px">Status</th>
                                        {% if res.operator %}
                                        <th style="width: 20px">Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in pendidikan %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.pendidikan}}</td>
                                            <td>{{item.asalpendidikan}}</td>
                                            <td>{{item.tahun}}</td>
                                            <td>{{item.status=='Verified'? 'Verified' : 'Not Verified'}}</td>
                                            {% if res.operator %}
                                            <td>
                                                {% if not isnotaddeditdeldosen() %}
                                                    <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}">
                                                        <i class="fa fa-fw fa-chevron-down"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% if res.operator %}
                                        <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                            <td colspan="8">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="pull-right">
                                                            {% if not item.status %} 
                                                            <a href="{{base_url()}}pengguna/verified/{{item.id}}/{{res.id}}" class="btn-sm btn btn-success">Verified</a>
                                                            {% endif %}
                                                            <a href="#" data-href="{{base_url()}}pengguna/deletePendidikan/{{item.id}}/{{res.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Pendidikan</th>
                                        <th>Asal Pendidikan</th>
                                        <th>Tahun</th>
                                        <th>Status</th>
                                        {% if res.operator %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- col-sm-12 -->
                    </div>
                    <!-- row -->

                    <ul class="pagination pull-right">
                        {% set paging = paging_creator(page,total_pages) %}
                        {{ paging|raw }}
                    </ul>
                </div>
                <!-- box_body -->

            </div>
            <!-- .box box-primary -->

        </section>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    </div>
    <script>
        $(document).ready(function () {
            $("#views").change(function () {
                var value = $("#views").val();
                window.location.href = $.query.set("views", value).set('page', 1);
            });

            // $( "#aksess" ).change(function() {
            //     var value = $("#aksess").val();
            //     window.location.href = $.query.set("akses", value).set('page',1);
            // });

            $(".paging").click(function () {
                paging = $(this).data("page");
                window.location.href = $.query.set("page", paging)
            })
        });
    </script>
{% endblock %}
