{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {% set error = validation_errors_array() %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengguna <small>Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Pengguna </li>
        <li class="active"> Edit Data Dosen </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Tambah Data Dosen </h3>  
            </div><!-- .box-header -->

            <div class="box-body"> 
                     
                <!-- form start -->
                {{ form_open('pengguna/editLPPM/'~id,'class="form-horizontal"') }}
                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Reviewer*</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="reviewer">
                              <option value="0" {{ set_select('reviewer', '0', '0'==isreviewer) }}>Bukan Reviewer</option>
                              <option value="1" {{ set_select('reviewer', '1', '1'==isreviewer) }}>Reviewer Lemlitbang</option>
                              <option value="2" {{ set_select('reviewer', '2', '2'==isreviewer) }}>Reviewer LPPM</option>
                              <option value="3" {{ set_select('reviewer', '3', '3'==isreviewer) }}>Reviewer LPPM & Reviewer Lemlitbang</option>
                            </select>
                            <span class="text-danger">{{error.reviewer}}</span>
                          </div>
                    </div>  
            </div><!-- box_body -->
            <div class="box-footer tc"> 
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                  <a href="{{base_url()}}pengguna/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
            </div>
            </form>  
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
</script>
{% endblock %}