{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {% set error = validation_errors_array() %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengguna <small>Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Pengguna </li>
        <li class="active"> Tambah Data Dosen </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Tambah Data Dosen </h3>  
            </div><!-- .box-header -->

            <div class="box-body"> 
                     
                <!-- form start -->
                {{ form_open('pengguna/editProfile/'~id,'class="form-horizontal"') }}
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">NIDN </label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" name="nidn" id="nidn" placeholder="NIDN"  readonly="readonly"  value="{{ set_value('nidn',nidn) }}">
                        <span class="text-danger">{{error.nidn}}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Nama Lengkap</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="nama" name="nama" placeholder="Nama Lengkap" value="{{ set_value('nama',nama) }}">
                        <span class="text-danger">{{error.nama}}</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Gelar Akademik Depan</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="gelar_depan" name="gelar_depan" placeholder="Gelar Akademik Depan" value="{{ set_value('gelar_depan',gelar_depan) }}">
                        <span class="text-danger">{{error.gelar_depan}}</span>
                      </div>
                    </div> 
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Gelar Akademik Belakang </label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="gelar_belakang" name="gelar_belakang" placeholder="Gelar Akademik Belakang " value="{{ set_value('gelar_belakang',gelar_belakang) }}">
                        <span class="text-danger">{{error.gelar_belakang}}</span>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Jenis Kelamin </label> 
                      <div class="col-sm-9"> 
                            <div class="radio">
                              <label>
                                <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="L" {{set_radio('jenis_kelamin', 'L', 'L'==jenis_kelamin)}}>
                                Laki-Laki
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="jenis_kelamin" id="jenis_kelamin" value="P" {{set_radio('jenis_kelamin', 'P', 'P'==jenis_kelamin)}}>
                                Perempuan
                              </label>
                            </div>
                            <span class="text-danger">{{error.jenis_kelamin}}</span> 
                      </div> 
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Pendidikan Terakhir </label> 
                        <div class="col-sm-9">   
                              <div class="input-group">
                                  <select class="input-sm form-control" disabled>
                                    <option value="" {{ set_select('jabatan_akademik', '') }}>Pilih</option>
                                    <option value="S1" {{ set_select('jabatan_akademik', 'S1', 'S1'==tingkat) }}>S1</option>
                                    <option value="S2" {{ set_select('jabatan_akademik', 'S2', 'S2'==tingkat) }}>S2</option>
                                    <option value="S3" {{ set_select('jabatan_akademik', 'S3', 'S3'==tingkat) }}>S3</option>
                                  </select>
                                  <input type="hidden" value="{{tingkat}}" name="tingkat">
                                  <span class="input-group-addon"> - </span>
                                  <input type="text" class="input-sm form-control" name="jurusan" value="{{ set_value('jurusan',jurusan|trim) }}">
                              </div>
                              <span class="text-danger">{{error.tingkat}}</span><br>
                              <span class="text-danger">{{error.jurusan}}</span>   
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Bidang Keahlian </label> 
                        <div class="col-sm-9">   
                              <div class="input-group">
                                  <select class="form-control input-sm" id="subbidangkeahlian" name="subbidangkeahlian">
                                <option value="">Pilih</option>
                                {% for item in sub_bk %}
                                  <option value={{item.id}} {{set_select('subbidangkeahlian',item.id,item.id==subbidangkeahlian)}} >{{item.bidangkeahlian.bidangkeahlian}} - {{item.subbidangkeahlian}}</option> 
                                {% endfor %}
                                </select>
                              </div>
                              <span class="text-danger">{{error.tingkat}}</span><br>   
                        </div>
                    </div> 

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Jabatan Akademik</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="jabatan_akademik" disabled>
                          <option value="" {{ set_select('jabatan_akademik', '') }}>Pilih</option>
                        {% for item in jab_ak %}
                          <option value={{ item.id }}  {{ set_select('jabatan_akademik', item.id,item.id==jabatan_akademik) }}>{{item.nama}}</option>
                        {% endfor %}
                            </select>
                            <input type="hidden" value="{{jabatan_akademik}}" name="jabatan_akademik">
                            <span class="text-danger">{{error.jabatan_akademik}}</span>
                          </div>
                          
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Pangkat / Golongan Ruang</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="jabatan_fungsional">
                            <option value="" {{ set_select('jabatan_fungsional', '', TRUE) }}>Pilih</option>
                            {% for item in jab_fu %}
                              <option value={{ item.id }}  {{ set_select('jabatan_fungsional', item.id, item.id==jabatan_fungsional) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                            {# <input type="hidden" value="{{jabatan_fungsional}}" name="jabatan_fungsional"> #}
                            <span class="text-danger">{{error.jabatan_fungsional}}</span>
                          </div>
                          
                    </div>
                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Fakultas</label> 
                          <div class="col-sm-9">
                            <select class="form-control"  name="fakultas" id="fakultas">
                            <option value="" {{ set_select('fakultas', '', TRUE) }}>Pilih</option>
                            {% for item in fak %}
                              <option value={{ item.id }}  {{ set_select('fakultas', item.id, item.id==fakultas) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                            <span class="text-danger">{{error.fakultas}}</span>
                          </div>
                          
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Nama Program Studi</label> 
                          <div class="col-sm-9">
                            <select class="form-control"  name="program_studi" id="program_studi">
                            <option value="" {{ set_select('program_studi', '', TRUE) }}>Pilih</option>
                            {% for item in pro_stu %}
                              <option value={{ item.id }}  {{ set_select('program_studi', item.id, item.id==program_studi) }}>{{item.nama}}</option>
                            {% endfor %}
                            </select>
                             <span class="text-danger">{{error.program_studi}}</span>
                          </div>
                         
                    </div>

                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Biografi</label> 
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Biografi" name="biografi">{{ set_value('biografi',biografi) }}</textarea>
                            <span class="text-danger">{{error.biografi}}</span>
                          </div> 
                    </div> 
                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Pendidikan Formal</label> 
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Pendidikan Formal" name="formaledu">{{ set_value('formaledu',formaledu) }}</textarea>
                            <span class="text-danger">{{error.formaledu}}</span>
                          </div>
                    </div>
                    <div class="form-group">
                          <label for="" class="col-sm-3 control-label">Alamat Rumah</label> 
                          <div class="col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Alamat" name="alamat">{{ set_value('alamat',alamat) }}</textarea>
                            <span class="text-danger">{{error.alamat}}</span>
                          </div>
                          
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> No. Telepon </label> 
                        <div class="col-sm-9">   
                              <input type="text" class="input-sm form-control mr-10 pull-left" style="width:20%;" name="prefix_telp" value="{{ set_value('prefix_telp',prefix_telp) }}">  
                              <input type="text" class="input-sm form-control pull-left" style="width:40%;" name="telp" value="{{ set_value('telp',post_telp) }}">
                        </div>
                        <span class="text-danger">{{error.telp}}</span>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">No. Hadphone</label> 
                      <div class="col-sm-9">
                        <input type="" class="form-control" id="" placeholder="No. Hadphone" name="hp" value="{{ set_value('hp',hp) }}">
                        <span class="text-danger">{{error.hp}}</span>
                      </div>
                      
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Email</label> 
                      <div class="col-sm-9">
                        <input type="Email" class="form-control" id="" placeholder="Email" name="surel" value="{{ set_value('surel',surel) }}">
                        <span class="text-danger">{{error.surel}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label"> Nama Bank </label> 
                      <div class="col-sm-9">   
                        <select class="form-control" name="bank">
                          <option value="" {{ set_select('bank', '') }}>Pilih</option>
                          <option value="Mandiri" {{ set_select('bank', 'Mandiri', 'Mandiri'==bank) }}>Mandiri</option>
                          <option value="BNI" {{ set_select('bank', 'BNI', 'BNI'==bank) }}>BNI</option>
                        </select>
                            <span class="text-danger">{{error.bank}}</span>
                      </div>
                    </div> 

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Cabang</label> 
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="" placeholder="Cabang" name="bank_cabang" value="{{ set_value('bank_cabang',bank_cabang) }}">
                        <span class="text-danger">{{error.bank_cabang}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Nomor Rekening</label> 
                      <div class="col-sm-9">
                        <input type="number" class="form-control" id="" placeholder="Nomor Rekening" name="bank_rek" value="{{ set_value('bank_rek',bank_rek) }}">
                        <span class="text-danger">{{error.bank_rek}}</span>
                      </div>
                    </div>

                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Foto Tabungan </label>
                    <div class="col-sm-9">
                      <input type="hidden" class="penelitian" name="bank_photo_res" id="bank_photo_res" value="{{bank_photo}}">
                      <input type="file" id="bank_photo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="bank_photo" accept="image/*" data-id="1">
                      <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{bank_photo}}">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="bank_photo" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                            <span class="buttonText">Select File</span>
                          </label>
                          <a href="#" class="btn btn-success" id="bank_photo_btn" data-url="{{base_url()}}pengguna/upload_tabungan/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                        </span>
                      </div>
                      <span class="text-danger warning" id="warning1"></span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                      <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          <span class="percent"></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nomor NPWP</label> 
                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="" placeholder="Nomor NPWP" name="npwp_nomor" value="{{ set_value('npwp_nomor',npwp_nomor) }}">
                      <span class="text-danger">{{error.npwp_nomor}}</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Foto NPWP </label>
                    <div class="col-sm-9">
                      <input type="hidden" class="penelitian" name="npwp_photo_res" id="npwp_photo_res" value="{{npwp_photo}}">
                      <input type="file" id="npwp_photo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="npwp_photo" accept="image/*" data-id="2">
                      <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{npwp_photo}}">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="npwp_photo" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                            <span class="buttonText">Select File</span>
                          </label>
                          <a href="#" class="btn btn-success" id="npwp_photo_btn" data-url="{{base_url()}}pengguna/upload_npwp/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                        </span>
                      </div>
                      <span class="text-danger warning" id="warning2"></span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                      <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          <span class="percent"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Link Scopus*</label> 
                    <div class="col-sm-9">
                      <input type="text" name="id_schopus" class="form-control" id="" value="{{ set_value('id_schopus',id_schopus) }}" placeholder="Link Schopus">
                      <label for="" class="control-label">Contoh: https://www.scopus.com/sourceid/27959</label>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Link Scholar*</label> 
                    <div class="col-sm-9">
                      <input type="text" name="id_scholar" class="form-control" id="" value="{{ set_value('id_scholar',id_scholar) }}" placeholder="Link Scholar">
                      <label for="" class="control-label">Contoh: https://scholar.google.com/citations?user=lQEVuHIAAAAJ&hl=en&oi=sra</label>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Link Sinta*</label> 
                    <div class="col-sm-9">
                      <input type="text" name="id_sinta" class="form-control" id="" value="{{ set_value('id_sinta',id_sinta) }}" placeholder="Link Sinta">
                      <label for="" class="control-label">Contoh: http://sinta.ristekbrin.go.id/authors/detail?id=6730026&view=overview</label> 
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Link Orchid*</label> 
                    <div class="col-sm-9">
                      <input type="text" name="id_orchid" class="form-control" id="" value="{{ set_value('id_orchid',id_orchid) }}" placeholder="Link Orchid">
                      <label for="" class="control-label">Contoh: https://orcid.org/0000-0002-1563-1214</label>
                    </div>
                  </div>


                <!-- e:form search -->
                            
                   

            </div><!-- box_body -->
            <div class="box-footer tc"> 
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                  <a href="{{base_url()}}pengguna/profile" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
            </div>
            </form>  
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#fakultas" ).change(function() {
    fakultas = $("#fakultas").val();

    $.get("{{base_url()}}pengguna/programstudijson/"+fakultas, function( data ) {
      data = $.parseJSON(data);
      var output='';
      for(var i=0;i<data.length;i++){
        output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
      }
      $("#program_studi").empty();
      $("#program_studi").append(output);
    });

  });

  $("#bank_photo_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("bank_photo",$(this).data("url"),$("#bank_photo_res"),bar,percent);
    return event.preventDefault();
  });

  $("#npwp_photo_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("npwp_photo",$(this).data("url"),$("#npwp_photo_res"),bar,percent);
    return event.preventDefault();
  });

  $("input[type='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    // $("#filename"+id).val(fileName);
    $(this).next().children().val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>1000000){
      $("#warning"+id).append('File Size more than 10 MB');
      $(this).next().children().next().children().next().addClass('disabled');
    }else{
      $(this).next().children().next().children().next().removeClass('disabled');
    }
    var bar = $(this).parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('0%');
    percent.html('0%');
  });


function upload(file,posturlfile,holder_result,bar,percent){
  var fd = new FormData();    
  fd.append( 'file', $("#"+file)[0].files[0] );
  // formData.append('myfile', $('#myfile')[0].files[0]);

  $.ajax({
    xhr: function() {
      var xhr = new window.XMLHttpRequest();
      xhr.upload.addEventListener("progress", function(evt) {
        if (evt.lengthComputable) {
          var percentComplete = evt.loaded / evt.total;
          percentComplete = parseInt(percentComplete * 100);
          console.log(percentComplete);
          bar.width(percentComplete+'%');
          percent.html(percentComplete+'%');
        }
      }, false);
      return xhr;
    },
    url: posturlfile,
    type: "POST",
    data: fd,
    processData: false,
    contentType: false,
    success: function(result) {
      $("#"+file).val('');
      holder_result.val(result);
      console.log(result);
    }
  });
}

});
</script>
{% endblock %}