{% extends 'template_nonlogin.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lupa Password
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active"> Reset Password </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        {% set error = validation_errors_array() %}
        {{form_open('login/forgotpassword','class="form-horizontal"')}}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Form Lupa Password </h3> 
            </div><!-- .box-header -->
            <div class="box-body"> 
                  {% if success %}
                      <div class="col-sm-12">
                                  <div class="alert alert-success fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong></strong> Link tahap selanjutnya untuk pengaturan ulang password, dikirimkan melalui email!
                                  </div>
                      </div>
                  {% else %}
                      <div class="col-sm-12">
                        {% if warn %}
                                  <div class="alert alert-warn fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong></strong> Link yang digunakan sudah expired!
                                  </div>
                          {% endif %}
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Email Terdaftar</label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" name="email">
                          <span class="text-danger">{{error.email}}</span>
                        </div>
                      </div>
                  {% endif %}
            </div><!-- box_body -->
            {% if not success %}
            <div class="box-footer tc"> 
                  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Submit </button>
                  <a href="{{base_url()}}" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
            </div> 
            {% endif %}
        </div><!-- .box box-primary --> 
    </form>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}