{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pengguna
                <small>Dosen</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                {# <li> Pengguna </li> #}
                <li class="active">
                    Pengguna Dosen
                </li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">
            <div class="box bordernya">
                <div class="box-header with-border">
                    <h3 class="box-title">Form Pencarian</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        {% set get_nidn,get_dosen,akses,reviewer,ketuaprodi,get_pendidikan,get_fakultas = request_get('nidn'),request_get('nama'),request_get('akses'),request_get('reviewer'),request_get('ketuaprodi'),request_get('pendidikan'),request_get('fakultas') %}
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">NIDN</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="nidn" name="nidn" placeholder="NIDN" value="{{get_nidn}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Nama Dosen</label>
                            <div class="col-sm-10">
                                <input type=" " class="form-control" id="nama" name="nama" placeholder="Dosen" value="{{get_dosen}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Pendidikan Terakhir</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" id="pendidikan" name="pendidikan">
                                    <option value="">Semua Pendidikan</option>
                                    <option value="S1" {{set_select('pendidikan','S1',get_pendidikan=='S1')}}>S1</option>
                                    <option value="S2" {{set_select('pendidikan','S2',get_pendidikan=='S2')}}>S2</option>
                                    <option value="S3" {{set_select('pendidikan','S3',get_pendidikan=='S3')}}>S3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Fakultas</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" id="fakultas" name="fakultas">
                                    <option value="">Semua Fakultas</option>
                                    {% for item in fakultas %}
                                        <option value={{item.id}} {{set_select('fakultas',item.id,item.id==get_fakultas)}}>{{item.nama}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Hak Akses</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" id="aksess" name="akses">
                                    <option value="">Semua Akses</option>
                                    <option value="Dosen" {{set_select('akses','Dosen',akses=='Dosen')}}>Dosen</option>
                                    <option value="Keuangan" {{set_select('akses','Keuangan',akses=='Keuangan')}}>Keuangan</option>
                                    <option value="Operator" {{set_select('akses','Operator',akses=='Operator')}}>Operator</option>
                                    <option value="Sekretaris" {{set_select('akses','Sekretaris',akses=='Sekretaris')}}>Sekretaris</option>
                                    <option value="Ketua" {{set_select('akses','Ketua',akses=='Ketua')}}>Ketua</option>
                                    <option value="Rektor" {{set_select('akses','Rektor',akses=='Rektor')}}>Rektor</option>
                                    <option value="Wakil Rektor" {{set_select('akses','Wakil Rektor',akses=='Wakil Rektor')}}>Wakil Rektor</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Status Reviewer</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="reviewer[]" value="1" {{set_checkbox('reviewer', reviewer, ("1"==reviewer or "3"==reviewer))}}>
                                        Reviewer Lemlitbang
                                    </label>
                                    <label style="padding-left:40px;">
                                        <input type="checkbox" name="reviewer[]" value="2" {{set_checkbox('reviewer', reviewer, ("2"==reviewer or "3"==reviewer))}}>
                                        Reviewer LPP
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Status Ketua Prodi</label>
                            <div class="col-sm-10">
                                <select class="form-control input-sm" id="ketuaprodi" name="ketuaprodi">
                                    <option value="">Semua</option>
                                    <option value="1" {{set_select('ketuaprodi',1,ketuaprodi==1)}}>Bukan Ketua Prodi</option>
                                    <option value="2" {{set_select('ketuaprodi',2,ketuaprodi==2)}}>Ketua Prodi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right mr-10">
                            <i class="glyphicon glyphicon-search"></i>
                            Cari</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Dosen
                    </h3>
                </div>
                <!-- .box-header -->

                <div class="box-body">
                    {% if session.flashdata.success %}
                        <div class="alert alert-success fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong>
                            {{session.flashdata.success}}
                        </div>
                    {% endif %}
                    <div class="row mb-10">
                        <div class="col-sm-4">
                            {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Ketua Lemlitbang"]) %}
                                <a href="{{base_url()}}login/register" class="btn btn-sm btn-danger pull-left">
                                    <i class="fa fa-plus"></i>
                                    Tambah Data
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-sm-8">
                            <div class="box-tools settingnya">
                                <label class="labelnya">Hak Akses:</label>
                                <div class="formnya"></div>
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value="10" {{set_select('views',10,views==10)}}>10</option>
                                        <option value="25" {{set_select('views',25,views==25)}}>25</option>
                                        <option value="50" {{set_select('views',50,views==50)}}>50</option>
                                        <option value="100" {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                {# <a href="#" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF"> <i class="fa fa-file-pdf-o"></i> </a>  #}
                                {% set string_review = (reviewer|length == 2) ? "3" : review[0] %}
                                <a href="{{base_url()}}pengguna/pdf?akses={{akses}}&reviewer={{string_review}}&ketuaprodi={{ketuaprodi}}" class="btn btn-warning pull-right mr-10" data-toggle="tooltip" title="Export To PDF" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->


                    <div class="row">
                        <div class="col-sm-12">

                            <table width="99%" class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th style="width: 22%">Dosen</th>
                                        <th>Jabatan Akademik</th>
                                        <th>Fakultas & Prodi</th>
                                        <th style="width: 87px">Hak Akses</th>
                                        <th style="width: 20px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>{{loop.index+((page-1)*views)}}.</td>
                                            <td>
                                                <a href="{{base_url()}}pengguna/show/{{item.id}}">
                                                    {{item.nama}}
                                                </a>
                                                <br>
                                                {{item.jenis_kelamin_show}}<br>
                                                NIDN :
                                                {{item.nidn}}

                                            </td>
                                            <td>
                                                {{item.jabatan_akademik.nama}}
                                                -
                                                {{item.tingkat}}
                                            </td>
                                            <td>
                                                {{item.fakultas.nama}}
                                                -
                                                {{item.program_studi.nama}}
                                            </td>
                                            <td>
                                                {{item.akses.nama}}
                                                {% if item.isreviewer == 3 %}
                                                    <br>Reviewer Lemlitbang
                                                    <br>Reviewer LPPM
                                                {% elseif item.isreviewer == 1 %}
                                                    <br>Reviewer Lemlitbang
                                                {% elseif item.isreviewer == 2 %}
                                                    <br>Reviewer LPPM
                                                {% endif %}
                                                {% if item.isketuaprodi %}
                                                    <br>Ketua Prodi
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if not isnotaddeditdeldosen() %}
                                                    <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}">
                                                        <i class="fa fa-fw fa-chevron-down"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                            <td colspan="8">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="pull-right">
                                                            <a href="{{base_url()}}pengguna/add/{{item.id}}" class="btn-sm btn btn-success">Pendidikan</a>
                                                            {% if roles(["Operator Lemlitbang", "Sekretaris Lemlitbang","Ketua Lemlitbang"]) %}
                                                                <a href="{{base_url()}}pengguna/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
                                                            {% else %}
                                                                <a href="{{base_url()}}pengguna/editLPPM/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
                                                            {% endif %}
                                                            <a href="#" data-href="{{base_url()}}pengguna/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Dosen</th>
                                        <th>Jabatan Akademik</th>
                                        <th>Fakultas</th>
                                        <th>Hak Akses</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- col-sm-12 -->
                    </div>
                    <!-- row -->

                    <ul class="pagination pull-right">
                        {% set paging = paging_creator(page,total_pages) %}
                        {{ paging|raw }}
                    </ul>
                </div>
                <!-- box_body -->

            </div>
            <!-- .box box-primary -->

        </section>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    </div>
    <script>
        $(document).ready(function () {
            $("#views").change(function () {
                var value = $("#views").val();
                window.location.href = $.query.set("views", value).set('page', 1);
            });

            // $( "#aksess" ).change(function() {
            //     var value = $("#aksess").val();
            //     window.location.href = $.query.set("akses", value).set('page',1);
            // });

            $(".paging").click(function () {
                paging = $(this).data("page");
                window.location.href = $.query.set("page", paging)
            })
        });
    </script>
{% endblock %}
