{% extends login ? "template.twig" : "template_nonlogin.twig" %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengguna <small>Dosen</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Pengguna </li>
        <li class="active"> Dosen </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
                <div class="box-header with-border">
                  <h3 class="box-title"></h3>
                </div><!-- .box-header -->

                <div class="box-body">

                  <div class="row">
                    <div class="col-md-12">

                     <!-- S:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                     <!-- Small boxes -->
             <div class="row">
              <div class="col-lg-4 col-xs-12">
                <!-- small box -->
                <div class="small-box small-box-uhamka bg-purple">
                  <div class="inner" style="text-align:center;">
                    <div class="s1">FAKULTAS</div>
                    <div class="s1">{{point_fakultas[0].fakultas}}</div>
                    <div style="padding:10 0 0 15;">
                      {% if point_fakultas[0].bintang>0 %}
                        {% for i in 1..point_fakultas[0].bintang %}
                          <img src="{{base_url()}}assets/images/star.png"/>
                        {% endfor %}
                      {% endif %}
                      {% if point_fakultas[0].setengah %}
                        <img src="{{base_url()}}assets/images/halfstar.png"/>
                      {% endif %}
                    </div>
                    <div class="s2" style="padding:15 0 0 15;">{{point_fakultas[0].total|round}}</div>
                  </div>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-12">
              <!-- small box -->
              <div class="small-box small-box-uhamka bg-green">
                <div class="inner" style="text-align:center;">
                  <div class="s1">PROGRAM STUDI</div>
                  <div class="s1">{{point_prostud[0].prostud}}</div>
                  <div style="padding:10 0 0 15;">
                    {% if point_prostud[0].bintang>0 %}
                      {% for i in 1..point_prostud[0].bintang %}
                        <img src="{{base_url()}}assets/images/star.png"/>
                      {% endfor %}
                    {% endif %}
                    {% if point_prostud[0].setengah %}
                      <img src="{{base_url()}}assets/images/halfstar.png"/>
                    {% endif %}
                  </div>
                  <div class="s2" style="padding:15 0 0 15;">{{point_prostud[0].total|round}}</div>
                </div>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box small-box-uhamka bg-maroon">
              <div class="inner" style="text-align:center;">
                <div class="s1">DOSEN</div>
                <div class="s1">{{point_dosen[0].nama}}</div>
                <div style="padding:10 0 0 15;">
                  {% if point_dosen[0].bintang>0 %}
                    {% for i in 1..point_dosen[0].bintang %}
                      <img src="{{base_url()}}assets/images/star.png"/>
                    {% endfor %}
                  {% endif %}
                  {% if point_dosen[0].setengah %}
                    <img src="{{base_url()}}assets/images/halfstar.png"/>
                  {% endif %}
                </div>
                <div class="s2" style="padding:15 0 0 15;">{{point_dosen[0].total}}</div>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->

      </div>

            <div class="row">

                  <div class="col-lg-4"> 
                   <div class="small-box small-box-uhamka bg-gray">
                    <div class="inner" id="jabatan_akademik" style="height:200px;">

                    </div>
                  </div>
                </div>  
                <!-- ./col -->
                <div class="col-lg-4"> 
                 <div class="small-box small-box-uhamka bg-gray">
                  <div class="inner" id="pendidikan_dosen" style="height:200px;">

                  </div>
                </div>
              </div>

              <div class="col-lg-4"> 
               <div class="small-box small-box-uhamka bg-gray">
                <div class="inner" id="pangkat" style="height:200px;">

                </div>
              </div>
            </div>

          </div>

      <div class="box bordernya">
        <div class="box-header with-border">
          <h3 class="box-title">Form Pencarian</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">NIDN</label> 
              <div class="col-sm-10">
                <input type="number" class="form-control" id="nidn"  name="nidn" placeholder="NIDN">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Nama Dosen</label> 
              <div class="col-sm-10">
               <input type=" " class="form-control" id="nama" name="nama" placeholder="Dosen">
              </div>
            </div> 
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>


      <div class="box box-warning">
        
        <div class="box-header with-border">
          <h3 class="box-title"> Dosen </h3>  
        </div>

        <div class="box-body">

         <div class="row mb-10"> 
{#           {% if login %}
            <div class="col-sm-4">
              <a href="{{base_url()}}login/register" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
            </div>
          {% endif %} #}
          <div class="col-sm-8 pull-right">
            <div class="box-tools settingnya"> 
              <label class="labelnya">Tampil data:</label> 
              <div class="formnya">  
                  <select class="form-control input-sm" id="views">
                      <option value=10 {{set_select('views',10,views==10)}}>10</option>
                      <option value=25 {{set_select('views',25,views==25)}}>25</option>
                      <option value=50 {{set_select('views',50,views==50)}}>50</option>
                      <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                  </select>
              </div>   
            </div> 
          </div>  
        </div>


        <div class="row">

          <div class="col-sm-12">

            <table width="99%" class="table table-bordered table-striped mb-0"> 
              <thead>
                <tr>
                  <th style="width: 10px">NIDN</th> 
                  <th style="width: 22%">Dosen</th>
                  <th>Jabatan Akademik</th>
                  <th>Fakultas</th>
                </tr> 
              </thead>
              <tbody>
                {% for item in items %}
                  <tr>
                    <td>{{item.nidn}}</td> 
                    <td> 
                      <a href="{{base_url()}}pengguna/show/{{item.id}}"> {{item.nama_lengkap}} </a> <br>
                    </td>
                    <td>
                      {{item.jabatan_akademik.nama}}
                    </td>
                    <td>
                      {{item.fakultas.nama}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody> 
              <tfoot> 
                <tr>
                  <th>NIDN</th> 
                  <th>Dosen</th>
                  <th>Jabatan Akademik</th>
                  <th>Fakultas</th>
                </tr> 
              </tfoot> 
            </table>   

          </div><!-- col-sm-12 -->
        </div> <!-- row -->

        <ul class="pagination pull-right">
          {% for i in 1..total_pages %}
          {% if page==i %}
          <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% else %}
          <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
        </ul>

      </div><!-- box_body -->

    </div><!-- .box box-primary --> 

  </section>
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/highchart/highcharts.js"></script>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('jabatan_akademik', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Jabatan Akademik'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            x: 10,
            y: 20
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: 'Jabatan Akademik',
            colorByPoint: true,
            data: {{jabatan_akademik|json_encode()|raw}}
          }]
        });
      });
  });
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('pendidikan_dosen', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Pendidikan Dosen'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            x: 0,
            y: 20
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: 'Brands',
            colorByPoint: true,
            data: {{jenjang_pendidikan|json_encode()|raw}}
          }]
        });
      });
  });
  $(function () {
    $(document).ready(function () {
        // Build the chart
        Highcharts.chart('pangkat', {
          chart: {
            backgroundColor:'rgba(255, 255, 255, 0.1)',
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop:25,
            marginLeft:20
          },
          credits: {
            enabled: false
          },
          title: {
            text: 'Pangkat/Golongan Ruang'
          },
          tooltip: {
            pointFormat: '<b>{point.y:f} Orang</b>'
          },
          legend: {
            align: 'right',
            layout: 'vertical',
            verticalAlign: 'top',
            itemStyle: {
                    width: 90 // or whatever
                  },
                  x: 10,
                  y: 20
                },
                plotOptions: {
                  pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                      enabled: false
                    },
                    showInLegend: true
                  }
                },
                series: [{
                  name: 'Brands',
                  colorByPoint: true,
                  data: {{jabatan_fungsional|json_encode()|raw}}
                }]
              });
      });
  });
</script>
{% endblock %}
