{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profil Saya
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Profil </li>
        <li class="active"> Detail </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">  


              <div class="box box-warning">
            <!-- <div class="box-tools settingnya">   
                  <a href="profil.php" class="btn btn-primary btn-sm pull-left mb-10"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div> -->
            <div class="clearfix"></div>

            <div class="box box-widget widget-user-2"> 
                    <div class="widget-user-header bg-aqua-active">
                          {{ form_open_multipart('pengguna/profile','id="upload_photo"') }}
                          <div class="pull-left">
                            <div class="form-group">
                              <div class="col-sm-12">
                                  <div class="widget-user-image">
                                        <img class="img-circle" src="{{base_url()}}uploads/user_photo/{{photo}}" alt=" {{nama}}">
                                  </div>
                                  <span class="text-danger">Foto ukuran 3x4</span>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-sm-12">
                                <input type="hidden" name="id" id="id" value="{{id}}"><br>
                                <input type="file" id="file" name="file" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                <div class="bootstrap-filestyle input-group">
                                    <span class="group-span-filestyle " tabindex="0">
                                        <label for="file" class="btn btn-default btn-sm">
                                            <span class="icon-span-filestyle glyphicon glyphicon-folder-close"></span>
                                            <span class="buttonText">Upload Photo</span>
                                        </label>
                                    </span>
                                </div>
                              </div>
                            </div>

                          </div>
                          </form>
                          <!-- /.widget-user-image -->
                          <div class="row">
                            <div class="col-lg-7 col-xs-7" style="text-align:left;">
                                <h3 class="widget-user-username" style="margin-left:10px;">{{gelar_depan}} {{nama}} {{gelar_belakang}}</h3>
                                <h5 class="widget-user-desc" style="margin-left:10px;">NIDN : {{nidn}}</h5>
                            </div>
                            <div class="col-lg-3 col-xs-3">
                              <!-- small box -->
                              <div>
                                <div class="inner" style="text-align:center;">
                                  <div class="s1">Point Sekarang</div>
                                  <div style="padding:10 0 0 15;">
                                    {% if point_dosen[0].bintang>0 %}
                                      {% for i in 1..point_dosen[0].bintang %}
                                        <img src="{{base_url()}}assets/images/star.png"/>
                                      {% endfor %}
                                    {% endif %}
                                    {% if point_dosen[0].setengah %}
                                      <img src="{{base_url()}}assets/images/halfstar.png"/>
                                    {% endif %}
                                  </div>
                                  <div class="s2" style="padding:15 0 0 15;">{{point_dosen[0].total}}</div>
                                </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                    </div>
                    <div class="box-footer">


                            <table width="100%" class="table table-striped">   
                                <tbody>
                                      <tr>
                                        <td>Gelar Akademik Depan :</td> <td> {{gelar_depan}} </td> 
                                      </tr>
                                      <tr>
                                        <td>Gelar Akademik Belakang :</td> <td> {{gelar_belakang}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Jenis Kelamin:</td> <td> {{jenis_kelamin_show}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Pendidikan Terakhir:</td> <td> {{jenjang_pendidikan}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Jabatan Akademik:</td> <td> {{jabatan_akademik.nama}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Pangkat /Golongan Ruang:</td> <td> {{jabatan_fungsional.nama}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Fakultas:</td> <td> {{fakultas.nama}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Program Studi :</td> <td> {{program_studi.nama}}  </td> 
                                      </tr> 
                                      <tr>
                                        <td> Biografi :</td> <td> {{biografi}}  </td> 
                                      </tr>
                                      
                                      <!--<tr>
                                        <td> Pendidikan :</td> <td>    </td> 
                                      </tr>-->
                                      
                                      <tr>
                                        <td> Bidang Keahlian :</td> <td> {{bidangkeahlian[0].bidangkeahlian}} , {{subbidangkeahlian.subbidangkeahlian}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Alamat Rumah:</td> <td> {{alamat}} </td> 
                                      </tr>
                                      <tr>
                                        <td> No. Tlp :</td> <td> {{telp}} </td> 
                                      </tr>
                                      <tr>
                                        <td> No. HP : </td> <td> {{hp}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Email :</td> <td> {{surel}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Password Dikti :</td> <td> {{passworddikti}}  </td>
                                      </tr>
                                      {% if bank_photo %}
                                      <tr>
                                        <td> Foto Tabungan :</td> <td> <a href="{{base_url()}}uploads/tabungan/{{bank_photo}}" target="_blank"><img style="max-width:200px;" src="{{base_url()}}uploads/tabungan/{{bank_photo}}" alt=" {{nama}}"> </a> </td>
                                      </tr>
                                      {% endif %}
                                      {% if npwp_photo %}
                                      <tr>
                                        <td> Foto NPWP :</td> <td> <a href="{{base_url()}}uploads/npwp/{{npwp_photo}}" target="_blank"> <img style="max-width:200px;" src="{{base_url()}}uploads/npwp/{{npwp_photo}}" alt=" {{nama}}"> </a> </td>
                                      </tr>
                                      {% endif %}
                                      <tr>
                                        <td> Link Scopus :</td> <td> {{id_schopus}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Link Scholar :</td> <td> {{id_scholar}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Link Sinta :</td> <td> {{id_sinta}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Link Orchid :</td> <td> {{id_orchid}} </td> 
                                      </tr>
                                </tbody>  
                            </table>  
                            <div class=""> 
                                  <a href="{{base_url()}}pengguna/editProfile/{{id}}" class="btn btn-success"><i class="fa fa-edit"> </i> Edit</a>   
                                  <a href="{{base_url()}}pengguna/add/{{id}}" class="btn btn-info"><i class="fa fa-plus"> </i> Update Pendidikan</a>   
                            </div>


                    </div>
            </div> 
        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<div class="modal fade bs-example-modal-sm" id="alert-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert-warning">
        <button type="button" class="close alert-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-warn" id="myModalLabel">Upload Foto Gagal</h4>
      </div>
      <div class="modal-body">
        <span class="text-warning">Ukuran foto tidak potrait, foto akan digunakan untuk keperluan dokumen<br> Dianjurkan untuk mengunggah foto yang sesuai dengan ukuran 3x4</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-warning" id="lanjut" data-dismiss="modal">Lanjut</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>
<script>
var _URL = window.URL || window.webkitURL;
$(document).ready(function(){
    $("#file").change(function(){
      var file, img;
      if ((file = this.files[0])) {
          img = new Image();
          img.onload = function () {
              var height = this.height/4;
              var width = this.width/3;
              if(height==width){
                $("#upload_photo").submit();
              }else{
                $('#alert-image').modal('show');
              }      
          };
          img.src = _URL.createObjectURL(file);
      }
    });
    $("#lanjut").click(function(){
      $("#upload_photo").submit();
    })
    $(document).on('click', '.alert-close', function() {
       $('#alert-image').modal('hide');
   })
});
</script>
{% endblock %}