{% extends getUserInfo() ? "template.twig" : "template_nonlogin.twig" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Profil Data Dosen
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li> Profil </li>
        <li class="active"> Detail </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">  

            <div class="box-tools settingnya">   
                  <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left mb-10"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div>
            <div class="clearfix"></div>

            <div class="box box-widget widget-user-2"> 
                    <div class="widget-user-header bg-purple">
                          <div class="widget-user-image">
                                <img class="img-circle" src="{{base_url()}}uploads/user_photo/{{photo}}" alt="{{nama}}">
                          </div>
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username">{{gelar_depan}} {{nama}} {{gelar_belakang}}</h3>
                          <h5 class="widget-user-desc">NIDN : {{nidn}}</h5>

                          <div class="clearfix"></div>
                    </div>
                    <div class="box-footer">


                            <table width="100%" class="table table-striped mb-0">   
                                <tbody>
                                      <tr>
                                        <td>Gelar Akademik Depan :</td> <td> {{gelar_depan}} </td> 
                                      </tr>
                                      <tr>
                                        <td>Gelar Akademik Belakang :</td> <td> {{gelar_belakang}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Jenis Kelamin:</td> <td> {{jenis_kelamin_show}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Pendidikan Terakhir:</td> <td> {{jenjang_pendidikan}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Jabatan Akademik:</td> <td> {{jabatan_akademik.nama}} </td> 
                                      </tr>
                                      <tr>
                                        <td> Pangkat / Golongan Ruang:</td> <td> {{jabatan_fungsional.nama}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Fakultas:</td> <td> {{fakultas.nama}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> Program Studi :</td> <td> {{program_studi.nama}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> ID Scopus :</td> <td> {{id_schopus}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> ID Scholar :</td> <td> {{id_scholar}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> ID Sinta :</td> <td> {{id_sinta}}  </td> 
                                      </tr>
                                      <tr>
                                        <td> ID Orchid :</td> <td> {{id_orchid}}  </td> 
                                      </tr>
                                </tbody>  
                            </table>   


                    </div>
            </div>

             <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Jurnal</a></li>
                  <li><a href="#tab_2" data-toggle="tab">Buku Ajar</a></li>
                  <li><a href="#tab_3" data-toggle="tab">Pemakalah Ilmiah</a></li>
                  <li><a href="#tab_4" data-toggle="tab">HKI</a></li>
                  <li><a href="#tab_5" data-toggle="tab">Luaran Lain</a></li>
                  <li><a href="#tab_6" data-toggle="tab">Forum Ilmiah</a></li>
                  <li><a href="#tab_7" data-toggle="tab">Penelitian Mandiri</a></li>

                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1"> 

                      <div class="bheader">
                            <h3 class="btitle">Publikasi Jurnal</h3>
                      </div> 

                      <table width="100%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 30%">Judul</th> 
                                <th>Penulis</th>
                                <th>Jurnal</th> 
                                <th>Berkas</th>
                              </tr> 
                          </thead>
                          <tbody>
                              {% for item in jurnal if item.isdelete=='0' and item.isvalidate=='1' %}
                                <tr>
                                  <td>{{loop.index}}.</td> 
                                  <td>
                                      Tahun: {{item.tahun_kegiatan.tahun}}<br>
                                      <a href="{{base_url()}}jurnals/show/{{item.id}}">{{item.judul}}</a>
                                  </td>
                                  <td> 
                                      - {{item.dosen.nama_lengkap}} <br>
                                      {% if item.personil %}
                                      - {{item.personil.nama_lengkap}}
                                      {% endif %}
                                  </td>
                                  <td>
                                      {{item.nama_jurnal}} <br>
                                      Jenis Publikasi: {{item.type_show}}<br>
                                      ISSN : {{item.issn}} <br>
                                      Volume : {{item.volume}} <br>
                                      Nomor : {{item.nomor}} <br>
                                      Halaman : {{item.halaman}} <br>
                                      URL:   {{item.url}}
                                  </td>   
                                  <td>
                                      <a href="{{base_url()}}download?type=jurnal&id={{item.id}}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Download PDF" target="_blank"> <i class="fa  fa-download"></i> </a>
                                  </td> 
                                </tr>
                              {% endfor %}
                             </tbody> 
                          <tfoot> 
                             <tr>
                                <th>#</th>
                                <th>Judul</th>
                                <th>Penulis</th>
                                <th>Jurnal</th> 
                                <th>Berkas</th>
                            </tr>
                          </tfoot> 
                      </table>   
                       {# <ul class="pagination tc">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul> #}
                        <div class="clearfix"></div>   
                  </div>
                  <!-- e.1 -->
                  <div class="tab-pane" id="tab_2">
                      <div class="bheader">
                            <h3 class="btitle">Buku Ajar/Buku Teks</h3>
                      </div> 
                      <table width="99%" class="table table-bordered table-striped mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Penulis</th>
                                <th>Judul</th>
                                <th>Penerbit</th>
                              </tr> 
                          </thead>
                          <tbody>
                              {% for item in buku_ajar if item.isdelete=='0' and item.isvalidate=='1' %}
                                <tr>
                                  <td>{{loop.index}}.</td> 
                                  <td> 
                                       {{gelar_depan}} {{nama}} {{gelar_belakang}}  <br>
                                      NIDN :  {{nidn}}

                                  </td>
                                  <td>
                                      Tahun: {{item.tahun_kegiatan.tahun}}<br>
                                      <a href="{{base_url()}}bukuajars/show/{{item.id}}">{{item.judul}}</a>
                                  </td>
                                  <td>
                                      Penerbit : {{item.penerbit}} <br>
                                      ISBN : {{item.isbn}} <br>
                                      Jml. Halaman : {{item.halaman}} 
                                  </td> 
                                </tr>
                              {% endfor %}
                          </tbody> 
                          <tfoot> 
                            <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Penulis</th>
                                <th>Judul</th>
                                <th>Penerbit</th>
                              </tr> 
                          </tfoot> 
                      </table>   
                      {# <ul class="pagination tc">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul> #} 
                          <div class="clearfix"></div>   
                  </div>
                  <!-- e.2 -->
                  <div class="tab-pane" id="tab_3">
                      <div class="bheader">
                            <h3 class="btitle">Pemakalah Forum Ilmiah</h3>
                      </div> 
                       <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul</th>
                                <th>Penyelenggara</th> 
                                <th>Berkas</th>
                              </tr> 
                          </thead>
                          <tbody>
                            {% for item in forum_ilmiah if item.isdelete=='0' and item.isvalidate=='1'  %}
                                <tr>
                                  <td>{{loop.index}}.</td> 
                                  <td> 
                                       {{gelar_depan}} {{nama}} {{gelar_belakang}}  <br>
                                      NIDN :  {{nidn}}

                                  </td>
                                  <td>
                                      Tingkat: {{item.type_show}} <br>
                                      Tahun: {{item.tahun_kegiatan.tahun}} <br>
                                      <a href="{{base_url()}}forumilmiahs/show/{{item.id}}">{{item.judul}}</a><br>
                                      Forum: {{item.forum}}
                                  </td>
                                  <td>
                                      Institusi: {{item.penyelenggara}}<br>
                                      Tanggal: {{item.waktu}}<br>
                                      Tempat: {{item.tempat}}
                                  </td> 
                                  <td>
                                      <a href="{{base_url()}}download?type=forumilmiah&id={{item.id}}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Download PDF" target="_blank"> <i class="fa  fa-download"></i> </a>
                                  </td> 
                                </tr>
                            {% endfor %}
                          </tbody> 
                          <tfoot> 
                            <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul</th>
                                <th>Penyelenggara</th> 
                                <th>Berkas</th>
                              </tr> 
                          </tfoot> 
                      </table>   
                       {# <ul class="pagination tc">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul>  #}
                          <div class="clearfix"></div>   
                  </div>
                  <!-- e.3 -->
                  <div class="tab-pane" id="tab_4"> 
                      <div class="bheader">
                            <h3 class="btitle">Hak Kekayaan Intelektual</h3>
                      </div>  

                          <table width="99%" class="table table-bordered mb-0"> 
                              <thead>
                                  <tr>
                                    <th style="width: 10px">#</th> 
                                    <th>Nama Dosen</th>
                                    <th>Judul</th>
                                    <th>Jenis HKI</th> 
                                    <th>Berkas</th>
                                  </tr> 
                              </thead>
                              <tbody>
                                  {% for item in hki if item.isdelete=='0' and item.isvalidate=='1' %}
                                    <tr>
                                      <td>1.</td> 
                                      <td> 
                                          {{gelar_depan}} {{nama}} {{gelar_belakang}}
                                      </td>
                                      <td>
                                          Tahun: {{item.tahun_kegiatan.tahun}}<br>
                                          <a href="{{base_url()}}hkis/show/{{item.id}}">{{item.judul}}</a>
                                      </td>
                                      <td>
                                         Jenis: {{item.jenis_hki.nama}}<br>
                                         No. Pendaftaran: {{item.pendaftaran}}<br>
                                         Status: {{item.status}}
                                      </td> 
                                      <td>
                                          <a href="{{base_url()}}download?type=hki&id={{item.id}}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="" data-original-title="Download PDF" target="_blank"> <i class="fa fa-download"></i> </a>    
                                      </td> 
                                    </tr>   
                                  {% endfor %}
                              </tbody> 
                              <tfoot> 
                                 <tr>
                                    <th>#</th> 
                                    <th>Nama Dosen</th>
                                    <th>Judul</th>
                                    <th>Jenis HKI</th> 
                                    <th>Berkas</th>
                                </tr>
                              </tfoot> 
                          </table>   

                  
                          {# <ul class="pagination pull-right">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                          </ul>  #}

                      <div class="clearfix"></div>   
                  </div>
                  <!-- e.4 -->
                  <div class="tab-pane" id="tab_5">
                      <div class="bheader">
                            <h3 class="btitle">Luaran Lain</h3>
                      </div>  
                       <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 22%">Nama Dosen</th>
                                <th>Judul Luaran</th> 
                                <th>Deskripsi</th> 
                                <th style="width: 20px;">Berkas</th>
                              </tr> 
                          </thead>
                          <tbody>
                            {% for item in luaran_lain if item.isdelete=='0' and item.isvalidate=='1' %}
                                <tr>
                                  <td>{{loop.index}}.</td> 
                                  <td> 
                                     {{gelar_depan}} {{nama}} {{gelar_belakang}}<br>
                                     NIDN : {{nidn}}
                                  </td>
                                   <td>
                                      Tahun: {{item.tahun_kegiatan.tahun}} <br>
                                          <a href="{{base_url()}}luaranlains/show/{{item.id}}">
                                          {{item.judul}}</a><br>
                                          Jenis Luaran: {{item.jenis_luaran.nama}}
                                  </td>
                                  <td>
                                     {{item.deskripsi}}
                                  </td> 
                                  <td>
                                      <a href="{{base_url()}}download?type=luaranlain&id={{item.id}}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="" data-original-title="Download PDF" target="_blank"> <i class="fa fa-download"></i> </a>

                                  </td> 
                                </tr> 
                            {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th>#</th>
                                <th>Nama Dosen</th>
                                <th>Judul Luaran</th> 
                                <th>Deskripsi</th> 
                                <th>Berkas</th>
                            </tr>
                          </tfoot> 
                      </table>    

                      {# <ul class="pagination pull-right">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>   #}

                      <div class="clearfix"></div>   
                  </div>
                  <!-- e.5 -->
                  <div class="tab-pane" id="tab_6">
                      <div class="bheader">
                            <h3 class="btitle">Penyelenggara Forum Ilmiah</h3>
                      </div>  


                        <table width="99%" class="table table-bordered mb-0"> 
                            <thead>
                                <tr>
                                  <th style="width: 10px">#</th> 
                                  <th>Nama Kegiatan</th>
                                  <th>Pelaksana dan Mitra</th>
                                  <th>Pelaksanaan</th>
                                </tr> 
                            </thead>
                            <tbody>
                                  {% for item in penyelenggara_forum_ilmiah if item.isdelete=='0' and item.isvalidate=='1'  %}
                                  <tr>
                                    <td>{{loop.index}}.</td> 
                                    <td> 
                                      Tahun: {{item.tahun_kegiatan.tahun}} <br>
                                      <a href="{{base_url()}}pforumilmiahs/show/{{item.id}}">{{item.nama}} </a><br>
                                      {{item.tingkat_text}} 
                                    </td>
                                    <td>
                                       Unit Pelaksana : {{item.unit}} <br>
                                       Mitra / Sponsorship : {{item.mitra}}
                                    </td>
                                    <td>
                                        Tgl. : {{item.waktu}} <br>
                                        Tempat : {{item.tempat}}
                                    </td> 
                                  </tr> 
                                {% endfor %}
                            </tbody> 
                            <tfoot> 
                               <tr>
                                  <th style="width: 10px">#</th> 
                                  <th>Nama Kegiatan</th>
                                  <th>Pelaksana dan Mitra</th>
                                  <th>Pelaksanaan</th>
                              </tr>
                            </tfoot> 
                        </table>    

                        {# <ul class="pagination pull-right">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul>  #}

                      <div class="clearfix"></div>   
                  </div>
                  <!--e.6 -->
                  <div class="tab-pane" id="tab_7">
                      <div class="bheader">
                            <h3 class="btitle">Penelitian Mandiri</h3>
                      </div>  
                       <table width="100%" class="table table-bordered table-striped"> 
                            <thead>
                                <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Nama Dosen</th>
                                  <th>Judul Penelitian </th>
                                  <th>Tahun<!--  Pelaksanaan --></th>
                                  <th>Lokasi<!--  Penelitian --></th>
                                  <th>Berkas<!--  Penelitian --></th>
                                </tr> 
                            </thead>
                            <tbody> 
                              {% for item in penelitian_hibah if item.isdelete=='0' and item.isvalidate=='1'  %}
                                <tr>
                                  <td>{{loop.index}}.</td>
                                  <td>
                                      {{gelar_depan}} {{nama}} {{gelar_belakang}} <br>
                                      NIDN: {{nidn}}
                                  </td>
                                  <td> 
                                      <a href="{{base_url()}}penelitianhibahs/show/{{item.id}}">{{item.judul}}</a><br>
                                      Anggaran: Rp. {{item.rp_anggaran}},-<br>
                                      Sumber Dana: {{item.sumber}}
                                  </td>
                                  <td> 
                                      {{item.tahun.tahun}}
                                  </td>
                                  <td>
                                      {{item.lokasi}}
                                  </td>
                                  <td>
                                      <a href="{{base_url()}}download?type=penelitianhibah&id={{item.id}}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="" data-original-title="Download PDF" target="_blank"> <i class="fa fa-download"></i> </a>

                                  </td> 
                                </tr>  
                              {% endfor %}
                              </tbody> 
                              <tfoot> 
                                 <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nama Dosen</th>
                                    <th>Judul Penelitian </th>
                                    <th>Tahun Pelaksanaan</th>
                                    <th>Lokasi Penelitian</th>
                                    <th>Berkas<!--  Penelitian --></th>
                                </tr>
                              </tfoot> 
                          </table>
                          {# <ul class="pagination tc">
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul>  #}
                        <div class="clearfix"></div>   
                  </div>
                  <!-- e.7 -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- nav-tabs-custom -->

        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}