{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengaturan <small> Surat Kontrak</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{base_url()}}home/"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Konfigurasi</li>
        <li><a href="{{base_url()}}suratkontraks/pengabdian/surata"> Surat Kontrak </a></li>
        {% block breadcrumb %}
        {% endblock %}
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Surat Kontrak </h3>

                  <h4 class="box-title pull-right"><b><b></h4>
            </div><!-- .box-header -->

            <div class="box-body">

                        <!-- Small boxes -->
                        <!-- /.row -->
                        {% block tab %}

                        {% endblock %}
                        <!-- nav-tabs-custom -->

            </div><!-- box_body -->

        </div><!-- .box box-primary -->

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}
