{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pencairan Dana <small>Proses Pencairan Dana Tahap 1</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Pencairan Dana</li>
        <li>Tahap 1</li>
        <li class="active">Approve</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 
      {{ form_open('pencairandana/tahappertama/approval_bulk_submit/','class="form-horizontal" data-toggle="validator"') }}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Approval Pencairan Dana</h3> 
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body"> 
            <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 15%">Nama</th>
                                <th>Identitas Penelitian</th>
                                <th style="width: 20%">Nominal</th>
                                <th style="width: 20%">Pph</th>
                                <th style="width: 20%">Pencairan Tahap 1</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in penelitian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td> {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}} </td>
                                  <td> 
                                      {{item.judul}}<br>
                                      {{item.jenis_penelitian.nama}}<br>
                                      {{item.batch.nama}} - {{item.tahun_kegiatan.tahun}}
                                  </td>
                                  <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.dana)}},- </td>
                                  <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.pajak_hitung)}},-</td>
                                  <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.dana-item.pencairan_dana_tahap2.pajak_hitung)}},-</td>
                                </tr>
                                <input type="hidden" name="penelitian[]" value="{{item.id}}" />
                                {% endfor %}
                          </tbody>  
                      </table>    
            </div>
        </div>
      <div class="box-footer tc">  
          <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Batal </a>
          <a href="#" class="btn btn-success mr-10" data-toggle="modal" data-target="#konfirmasi">  Approve <i class="fa fa-arrow-right"> </i></a>
      </div>
      <div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                  <div class="modal-body" id="validate_message">
                    <h3>Apakah anda yakin untuk Approve Pencairan Dana penelitian?</h3>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                      <button type="submit" class="btn btn-info btn-ok">Ya</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </form>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>
</script>
{% endblock %}
