<div aria-labelledby="mySmallModalLabel" class="modal fade modal-status" id="modal-status{{item.id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">Status Monitoring & Evaluasi Pengabdian</h4>
                </div>
                <div class="modal-body tc form-horizontal">
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Pelaksanaan :</label>
                        <div class="col-sm-9">
                            {% if item.monev.waktu and item.monev.lokasi %}
                                Sudah
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Dokumen 70% :</label>
                        <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_berkas}}
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Borang :</label>
                        <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_borang}}
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Reviewer :</label>
                        <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_reviewer}}
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Proses Review :</label>
                        <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_review}}
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-3 control-label" for="">Monev Ditutup :</label>
                        <div class="col-sm-9">
                            {% if item.batch.is_monevfinish %}
                                Sudah
                            {% else %}
                                Belum
                            {% endif %}
                        </div>
                    </div>
                    <div class="tc">
                        <a class="btn btn-success btn-ok" data-dismiss="modal" href="#">
                            <i class="fa fa-check"></i>
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="mySmallModalLabel" class="modal fade modal-upload in" id="modal-pelaksanaan{{item.id}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="mySmallModalLabel">Pelaksanaan</h4>
                </div>
                <div class="modal-body">
                    {{form_open('pengabdian/monev/monevlists/pelaksanaan','class="form-horizontal" data-toggle="validator"')}}
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-4 control-label" for="">Nama Pengusul :
                        </label>
                        <div class="col-sm-8 radio-inline">{{item.dosen.nama_lengkap}}</div>
                    </div>
                    <div class="form-group" style="margin-bottom:15px;">
                        <label class="col-sm-4 control-label">Judul Pengabdian :
                        </label>
                        <div class="col-sm-8 radio-inline">{{item.judul}}</div>
                    </div>
                    <input type="hidden" name="pengabdian" id="pengabdian" value="{{item.id}}">

                    {% if item.monev.lokasi and item.monev.waktu %}
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="col-sm-4 control-label" for="">Waktu Kegiatan :</label>
                            <div class="col-sm-8 radio-inline">{{item.monev.waktu}}</div>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="col-sm-4 control-label" for="">Lokasi :</label>
                            <div class="col-sm-8 radio-inline">{{item.monev.lokasi}}</div>
                        </div>
                        <div class="tc">
                            <a class="btn btn-success btn-ok" data-dismiss="modal" href="#">
                                <i class="fa fa-check"></i>
                                OK
                            </a>
                        </div>
                    {% else %}
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="col-sm-4 control-label" for="">Waktu Kegiatan :</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right waktupelaksanaan" name="waktu" value="{{set_value('waktu')}}" readonly='true'>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="col-sm-4 control-label" for="">Lokasi :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="lokasi" value="{{set_value('waktu')}}">
                            </div>
                        </div>

                        <div class="tc">
                            <button class="btn btn-danger" data-dismiss="modal" type="cancel">Cancel</button>
                            <button class="btn btn-success" id="submit" type="submit">Kirim</button>
                        </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div></div><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script><script src="{{base_url()}}assets/plugins/daterangepicker/daterangepicker.js"></script><script>
$(function () { // Date range picker with time picker
    $('.waktupelaksanaan').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY hh:mm A'});
});</script>
