{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Pengabdian <small>Proposal Pengabdian Pemenang</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Pengabdian</li>
        <li class="active">Proposal Pengabdian Pemenang</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              {% set dosen,judul,jenis_pengabdians,batch_penelitian,get_tahun_kegiatan,get_hasil,get_status = request_get('dosen'),request_get('judul'),request_get('jenis_pengabdian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('hasil'),request_get('status') %}
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Pengabdian : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Pengabdian" value="{{judul}}">
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Pengabdian : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_pengabdian"  id="jenis_pengabdian">
                        <option value="">Semua Jenis Pengabdian</option>
                    {% for item in jenis_pengabdian %}
                        <option value="{{item.id}}" {{set_select('jenis_pengabdian',item.id,item.id==jenis_pengabdians)}}>{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Pengabdian : </label> 
                <div class="col-sm-10">

                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch_penelitian)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="status">
                        <option value="">Semua</option>
                        <option value="1" {{set_select('status',"1","1"==get_status)}}>Berkas 70%</option>
                        <option value="2" {{set_select('status',"2","2"==get_status)}}>Borang</option>
                        <option value="3" {{set_select('status',"3","3"==get_status)}}>Reviewer</option>
                        <option value="4" {{set_select('status',"4","4"==get_status)}}>Proses Review</option>
                  </select>
                </div>
              </div> 

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->


        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Monitoring & Evaluasi Pengabdian</h3> 
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>   
                      <div class="formnya">  
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>   
                      <label class="labelnya">Tampil data:</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                          </select>
                      </div>
                      {% if roles(["Operator LPPM","Sekretaris LPPM","Ketua LPPM"]) %}
                      <a href="{{base_url()}}pengabdian/monev/monevlists/download?dosen={{dosen}}&judul={{judul}}&jenis_pengabdian={{jenis_pengabdians}}&batch={{batch_penelitian}}&tahun_kegiatan={{get_tahun_kegiatan}}&status={{get_status}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> </a>
                      {% endif %}
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body">   

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 45%">Data Pengabdian</th>
                                <th>Pengabdi</th>
                                {% if roles(["Operator LPPM","Sekretaris LPPM","Ketua LPPM"]) %}
                                <th style="width: 12%">Reviewer</th>
                                {% endif %}
                                <th>Action</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in pengabdian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>{{item.judul}}<br><br>
                                      Jenis Pengabdian: {{item.jenis_pengabdian.nama}}<br>
                                      Batch Pengabdian: {{item.batch.nama}} - {{item.batch.batch_penelitian.tahun.tahun}}<br>
                                      Dana Disetujui:   Rp. {{item.pengabdian_review_inselected[0].rp_rekomendasi}},-
                                  </td>
                                  <td>  
                                      {# {{ dump(item) }} #}
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}
                                  </td>
                                  {% if roles(["Operator LPPM","Sekretaris LPPM","Ketua LPPM"]) %}
                                  <td>
                                      {% for reviewer in item.monev_reviewer %}
                                          Reviewer {{loop.index}}: {{reviewer.dosen.nama_lengkap}}<br>
                                      {% endfor %}
                                  </td>
                                  {% endif %}
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td> 
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="7">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <div class="pull-left">
                                                  <a href='#' class="btn-sm btn bg-yellow" data-toggle="modal" data-target="#modal-status{{item.id}}"> Status </a>
                                                  {% include 'pengabdian/monev/hidden-status.twig' %}
                                                  {% if userinfo.id==item.dosen.id and item.monev.hasilreview!=1 and not item.batch.is_monevfinish %} 
                                                    {% include 'pengabdian/monev/hidden-dokumen.twig' %}
                                                    <a href='#' class="btn-sm btn bg-green" data-toggle="modal" data-target="#modal-dokumen{{item.id}}"> Dokumen 70% </a>
                                                    <a href='{{base_url()}}pengabdian/monev/monevborang/{{item.id}}' class="btn-sm btn bg-purple"> Isi Borang </a>
                                                    <a href='#' class="btn-sm btn bg-green" data-toggle="modal" data-target="#modal-pelaksanaan{{item.id}}"> Pelaksanaan </a>
                                                  {% else %}
                                                    {% if item.monev.berkas %}
                                                      <a href='{{base_url()}}uploads/borang/{{item.monev.berkas}}' class="btn-sm btn bg-green" target="_blank"> Download Dokumen 70% </a>
                                                    {% endif %}
                                                    {% if item.monev.borang %}
                                                      <a href='{{base_url()}}pengabdian/monev/monevborang/view/{{item.id}}' class="btn-sm btn bg-purple"> View Borang </a>
                                                    {% endif %}
                                                    {% if item.monev.lokasi and item.monev.waktu %}
                                                    <a href='#' class="btn-sm btn bg-green" data-toggle="modal" data-target="#modal-pelaksanaan{{item.id}}"> Pelaksanaan </a>
                                                    {% endif %}
                                                  {% endif %}
                                                </div>
                                                <div class="pull-right">
                                                    {% if role("Operator LPPM") and item.monev.hasilreview != 1 %} 
                                                    <a href='{{base_url()}}pengabdian/monev/monevlists/reviewer/{{item.id}}' class="btn-sm btn bg-purple"> Reviewer </a>
                                                    {% endif %}
                                                    {% if item.monev.hasilreview == 1 %}
                                                    <a href='{{base_url()}}pengabdian/monev/monevreview/resultsakhir/{{item.id}}' class="btn-sm btn bg-purple"> Hasil Akhir </a>
                                                    {% endif %}
                                                </div>
                                              </div>
                                          </div>
                                      </td>
                                </tr>
                                {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 25%">Data Pengabdian</th>
                                <th>Pengabdi</th>
                                {% if roles(["Operator LPPM","Sekretaris LPPM","Ketua LPPM"]) %}
                                <th style="width: 12%">Reviewer</th>
                                {% endif %}
                                <th>Action</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
 <script type="text/javascript">
$(document).ready(function(){
  var bar = $('.bar');
  var percent = $('.percent');

  $("input[name='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename"+id).val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
    }
    bar.width('0%');
    percent.html('0%');
  });


  $(".upload").ajaxForm({
    beforeSubmit:function(){
        console.log($(this));
        var id = $(this).data('id');
        if($("#submit_upload"+id).hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      if(responseText.indexOf('.pdf') > -1){
        $("#warning").text("");
        percent.html("File Berhasil Upload");
        var json = $.parseJSON(responseText)
        console.log(json);
        $("#buttonuploadsuratkontrak"+json.id).remove();
        setInterval(function(){
            window.location.reload();
        },1000);

        $("#pdf").val(responseText);
      }else{
        $("#pdf").val("");
        percent.html("File Gagal Upload");
        $("#warning").text("File yang di upload harus berformatkan pdf");
      }
    }
  });
});
</script>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}