<div class="tab-pane active" id="tab_1">  
  <a href="{{base_url()}}pengabdian/monev/monevreview/instrumen_monev/{{monev.pengabdian}}/dosen/{{monev.dosen}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank"> <i class="fa fa-file-pdf-o"> </i> Download Lembar Penilaian</a>
        <div class="clearfix"></div> 

        <!-- s:11111111-->
        <div class="box bordernya">
            <div class="box-header with-border">
                <h3 class="box-title">  BORANG MONITORING DAN EVALUASI LAPANGAN PENGABDIAN</h3>
            </div>

            <div class="box-body"> 

                  <table class="table mb-0">
                      <tr> 
                         <td style="width:25%;">1. Program Pengabdian : </td>
                         <td> {{jenis_pengabdian.nama}}  </td>
                      </tr> 

                      <tr> 
                         <td> 2. Tahun Pengabdian : </td>
                         <td> {{tahun_kegiatan.tahun}} </td>
                      </tr>

                      <tr> 
                         <td> 3. Ketua : </td>
                         <td> </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Nama : </td>
                         <td> {{dosen.nama_lengkap}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Fakultas : </td>
                         <td> {{dosen.fakultas.nama}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Program Studi : </td>
                         <td> {{dosen.program_studi.nama}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Bidang Keahlian : </td>
                         <td> {{monev.content.ketua_keahlian}} </td>
                      </tr>

                      <tr> 
                         <td> 4. Anggota Peneliti : </td>
                         <td> </td>
                      </tr>
                      {% for a in anggota %}
                      <tr> 
                         <td class="padding-left-m"> Nama : </td>
                         <td> {{a.dosen.nama_lengkap}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Fakultas : </td>
                         <td> {{a.dosen.fakultas.nama}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Program Studi : </td>
                         <td> {{a.dosen.program_studi.nama}} </td>
                      </tr>
                      <tr {% if not loop.last %}style="border-bottom: 2px solid #000;" {% endif %}> 
                         <td class="padding-left-m"> Bidang Keahlian : </td>
                         <td> {{monev.content.anggota_keahlian[loop.index0]}} </td>
                      </tr>
                      {% endfor %}
                      

                      <tr> 
                         <td> 5. Judul Pengabdian : </td>
                         <td> {{judul}} </td>
                      </tr> 
                      <tr> 
                         <td> 6. Bidang Ilmu : </td>
                         <td> {{monev.content.bidang_ilmu}} </td>
                      </tr> 
                      <tr> 
                         <td> 7. Biaya Pengabdian : </td>
                         <td> Rp. {{pengabdian_review_inselected.0.rp_rekomendasi}} </td>
                      </tr>  
                      <tr> 
                         <td> 8. Lokasi Pengabdian  </td>
                         <td>  {{monev.content.lokasi}} </td>
                      </tr> 
                      <tr> 
                         <td>  </td>
                         <td>  {{monev.content.lokasi_keterangan}} </td>
                      </tr> 
                      <tr> 
                         <td> 9. Cara Pemantauan : </td>
                         <td> {{monev.content.cara_pemantauan}} </td>
                      </tr>
                      <tr> 
                         <td> </td>
                         <td> {{monev.content.cara_pemantauan_keterangan}} </td>
                      </tr>

                      <tr> 
                         <td> 10. Pelaksanaan Pengabdian : </td>
                         <td>  </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Tanggal Mulai : </td>
                         <td> {{monev.content.tanggal_mulai}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Tanggal Selesai : </td>
                         <td> {{monev.content.tanggal_selesai}} </td>
                      </tr> 

                      <tr>
                         <td colspan="2"> 11. Capaian Tahapan Pengabdian </td>
                      </tr>
                      <tr>
                         <td colspan="2"  class="padding-left-m"> Menurut Saudara telah berada pada tahap mana pengabdian Saudara saat ini? </td>
                      </tr>
                      <tr>
                         <td  class="padding-left-m"> Pilih : </td>
                         <td> {{monev.content.tahap_pengabdian}} </td>
                      </tr>
                      <tr>
                         <td colspan="2"  class="padding-left-m"> Menurut Saudara, sampai saat ini sudah berapa % capaian pengabdian Saudara? </td>
                      </tr>
                      <tr>
                         <td  class="padding-left-m"> Jawaban : </td>
                         <td> {{monev.content.capaian}} % </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 12. Kesesuaian pelaksanaan pengabdian </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Waktu Peneltian : </td>
                         <td> {{monev.content.pelaksanaan_pengabdian}} </td>
                      </tr>
                      {% if monev.content.pelaksanaan_pengabdian_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.pelaksanaan_pengabdian_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.pelaksanaan_pengabdian_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.pelaksanaan_pengabdian_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.pelaksanaan_pengabdian_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.pelaksanaan_pengabdian_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 13. Kesesuaian Personalia </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Personalia : </td>
                         <td> {{monev.content.kesesuaian_personalia}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_personalia_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_personalia_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_personalia_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_personalia_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_personalia_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_personalia_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 14. Kesesuaian Anggaran </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Anggaran : </td>
                         <td> {{monev.content.kesesuaian_anggaran}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_anggaran_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_anggaran_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_anggaran_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_anggaran_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_anggaran_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_anggaran_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td colspan="2"> 15. Kesesuaian Sarana dan Prasarana </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Sarana dan Prasarana : </td>
                         <td> {{monev.content.kesesuaian_sarana}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_sarana_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_sarana_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_sarana_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_sarana_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_sarana_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_sarana_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 16. Peran Lembaga Pengabdian </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Seleksi Proposal Pengabdian </td>
                         <td> {{monev.content.seleksi_proposal}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Menyelenggarakan seminar proposal </td>
                         <td> {{monev.content.menyelenggarakan_seminar}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Memantau pelaksanaan pengabdian </td>
                         <td> {{monev.content.memantau_pelaksanaan}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Menyelenggarakan seminar hasil pengabdian </td>
                         <td> {{monev.content.menyelenggarakan_seminar_hasil}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pelayanan Lainnya </td>
                         <td> {{monev.content.pelayanan_lainnya}} </td>
                      </tr>

                      <tr>
                         <td> 17. Pelaksanaan kerjasama deengan instansi lain </td>
                         <td> </td>
                      </tr>
                      {% for item in monev.content.instansi_nama %}
                      <tr>
                         <td class="padding-left-m"> Nama Instansi </td>
                         <td> {{item}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Bentuk Kerjasama </td>
                         <td> {{monev.content.instansi_kerjasama[loop.index0]}} </td>
                      </tr>
                      {% endfor %}

                      <tr>
                         <td colspan="2"> 18. Keterlibatan Pengabdian dengan Program Pendidikan/Stakeholder </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Program Pascasarjana </td>
                         <td> {{monev.content.pascasarjana}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Sekolah </td>
                         <td> {{monev.content.sekolah}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Jumlah mahasiswa yang terlibat dalam pengabdian </td>
                         <td> {{monev.content.mahasiswa}} </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 19. Jumlah mahasiswa yang terlibat dalam pengabdian: </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S1 : </td>
                         <td> {{monev.content.jumlah_s1}} Orang </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S2 : </td>
                         <td> {{monev.content.jumlah_s2}} Orang </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S3 : </td>
                         <td> {{monev.content.jumlah_s3}} Orang </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 20. Kesesuaian Pelaksanaan dengan Usulan Pengabdian: </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.kesesuaian_pelaksanaan}}<br>
                              {{monev.content.kesesuaian_pelaksanaan_keterangan|nl2br}}
                        </td>
                      </tr>

                      <tr>
                         <td> 21. Masalah (Kendala/Hambatan): </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.kendala_hambatan}}<br>
                              {{monev.content.kendala_hambatan_keterangan|nl2br}}
                        </td>
                      </tr>

                      <tr>
                         <td> 22. Penerapan Hasil Pengabdian: </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m"> Menurut Anda, berapa lama lagi hasil pengabdian Anda dapat diterapkan:<br><br>
                          {{monev.content.penerapan_hasil_pengabdian|nl2br}}
                         </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m">Pihak mana yang akan menerapkan hasil pengabdian ini:<br><br>
                          {{monev.content.penerapan_pihak_pengabdian|nl2br}}
                         </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m">Hasil Pengabdian sebagai bahan pengajaran: {{monev.content.hasil_pengabdian_pengajaran}}<br><br>
                          {{monev.content.hasil_pengabdian_pengajaran_keterangan|nl2br}}
                         </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 23. Penilaian umum terhadap pengabdian ini: </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m"> {{monev.content.penilaian_umum|nl2br}} </td>
                      </tr>

                      <tr>
                         <td> 24. Rekomendasi/Saran: </td>
                         <td></td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.rekomendasi_saran}}<br>
                              {{monev.content.rekomendasi_saran_keterangan|nl2br}}
                        </td>
                      </tr>
                  </table> 
                    
            </div>
            <!-- /.box-body -->  
        </div>
    <div class="clearfix"></div>   
</div>