<div class="tab-pane" id="tab_2">
    <a href="{{base_url()}}pengabdian/monev/monevreview/luaran_pengabdian/{{id}}/dosen/{{monev.dosen}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank">
        <i class="fa fa-file-pdf-o"></i>
        Download Lembar Penilaian</a>
    <div class="clearfix"></div>

    <!-- s:11111111-->
    <div class="box bordernya">
        <div class="box-header with-border">
            <h3 class="box-title">
                BORANG MONITORING DAN EVALUASI LAPANGAN PENGABDIAN BERBASIS KOMPETENSI
            </h3>
        </div>

        <div class="box-body">

            <table class="table mb-0">
                <tr>
                    <td style="width:25%;">
                        Judul Pengabdian :
                    </td>
                    <td>
                        {{judul}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ketua Pengabdi :
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="padding-left-m">
                        Nama :
                    </td>
                    <td>
                        {{dosen.nama_lengkap}}
                    </td>
                </tr>
                <tr>
                    <td class="padding-left-m">
                        NIDN :
                    </td>
                    <td>
                        {{dosen.nidn}}
                    </td>
                </tr>
                <tr>
                    <td class="padding-left-m">
                        Jabatan Fungsional :
                    </td>
                    <td>
                        {{dosen.jabatan_fungsional.nama}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Program Studi :
                    </td>
                    <td>
                        {{dosen.program_studi.nama}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Anggota Pengabdi :
                    </td>
                    <td>
                        {{anggota|length}}
                        Orang
                    </td>
                </tr>
                <tr>
                    <td>
                        Lama Pengabdian :
                    </td>
                    <td>
                        {{lama}}
                        Hari
                    </td>
                </tr>
                <tr>
                    <td>Biaya yang Disetujui :
                    </td>
                    <td>
                        Rp.
                        {{pengabdian_review_inselected.0.rp_rekomendasi}}
                    </td>
                </tr>
            </table>


            <div class="box bordernya">
                <div class="box-header with-border">
                    <h3 class="box-title">Kriteria Penilaian</h3>
                </div>
                <div class="box-body">

                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th style="width: 10px">No</th>
                                <th style="width: 25%" colspan="2">Komponen Penilaian</th>
                                <th>Keterangan</th>
                                <th>Bobot(%)</th>
                                <th style="width: 5%">Skor</th>
                                <th>Nilai</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="4">1</td>
                                <td rowspan="4">Publikasi Ilmiah</td>
                                <td>Tidak Terakreditasi</td>
                                <td>{{monev_nilai_luaran.content.publikasi_jurnal_tidak_terakreditasi}}</td>
                                <td rowspan="4">{{jenis_pengabdian.bobot_luaran_aktif.data1}}</td>
                                <td rowspan="4">{{monev_nilai_luaran.skor[0]}}</td>
                                <td rowspan="4">{{monev_nilai_luaran.nilai[0]}}</td>
                            </tr>
                            <tr>
                                <td>Nasional Terakreditasi</td>
                                <td>{{monev_nilai_luaran.content.publikasi_jurnal_nasional_terakreditasi}}</td>
                            </tr>
                            <tr>
                                <td>Internasional</td>
                                <td>{{monev_nilai_luaran.content.publikasi_jurnal_internasional}}</td>
                            </tr>
                            <tr>
                                <td>Internasional Bereputasi</td>
                                <td>{{monev_nilai_luaran.content.publikasi_jurnal_internasional_bereputasi}}</td>
                            </tr>
                            <tr>
                                <td rowspan="2">2</td>
                                <td rowspan="2">Publikasi Media Masa</td>
                                <td>Internasional</td>
                                <td>{{monev_nilai_luaran.content.publikasi_media_masa_internasional}}</td>
                                <td rowspan="2">{{jenis_pengabdian.bobot_luaran_aktif.data2}}</td>
                                <td rowspan="2">{{monev_nilai_luaran.skor[1]}}</td>
                                <td rowspan="2">{{monev_nilai_luaran.nilai[1]}}</td>
                            </tr>
                            <tr>
                                <td>Nasional</td>
                                <td>{{monev_nilai_luaran.content.publikasi_media_masa_nasional}}</td>
                            </tr>


                            <tr>
                                <td>3</td>
                                <td colspan="2">Buku</td>
                                <td>{{monev_nilai_luaran.content.buku}}</td>
                                <td>{{jenis_pengabdian.bobot_luaran_aktif.data3}}</td>
                                <td>{{monev_nilai_luaran.skor[2]}}</td>
                                <td>{{monev_nilai_luaran.nilai[2]}}</td>
                            </tr>
                            <tr>
                                <td rowspan="3">4</td>
                                <td rowspan="3">Pembicara Pada Pertemuan Ilmiah</td>
                                <td>Ilmiah</td>
                                <td>{{monev_nilai_luaran.content.forum_ilmiah}}</td>
                                <td rowspan="3">{{jenis_pengabdian.bobot_luaran_aktif.data4}}</td>
                                <td rowspan="3">{{monev_nilai_luaran.skor[3]}}</td>
                                <td rowspan="3">{{monev_nilai_luaran.nilai[3]}}</td>
                            </tr>
                            <tr>
                                <td>Internasional</td>
                                <td>{{monev_nilai_luaran.content.forum_internasional}}</td>
                            </tr>
                            <tr>
                                <td>Nasional</td>
                                <td>{{monev_nilai_luaran.content.forum_nasional}}</td>
                            </tr>
                            <tr>
                                <td rowspan="3">5</td>
                                <td rowspan="3">Sebagai Invited Speaker</td>
                                <td>Internasional</td>
                                <td>{{monev_nilai_luaran.content.speaker_internasional}}</td>
                                <td rowspan="3">{{jenis_pengabdian.bobot_luaran_aktif.data5}}</td>
                                <td rowspan="3">{{monev_nilai_luaran.skor[4]}}</td>
                                <td rowspan="3">{{monev_nilai_luaran.nilai[4]}}</td>
                            </tr>
                            <tr>
                                <td>Nasional</td>
                                <td>{{monev_nilai_luaran.content.speaker_nasional}}</td>
                            </tr>
                            <tr>
                                <td>Regional</td>
                                <td>{{monev_nilai_luaran.content.speaker_regional}}</td>
                            </tr>

                            <tr>
                                <td rowspan="10">6</td>
                                <td rowspan="10">Capaian Luaran Lainnya</td>
                                <td>HKI</td>
                                <td>{{monev_nilai_luaran.content.luaran_hki}}</td>
                                <td rowspan="10">{{jenis_pengabdian.bobot_luaran_aktif.data6}}</td>
                                <td rowspan="10">{{monev_nilai_luaran.skor[5]}}</td>
                                <td rowspan="10">{{monev_nilai_luaran.nilai[5]}}</td>
                            </tr>
                            <tr>
                                <td>Tak Tepat Guna</td>
                                <td>{{monev_nilai_luaran.content.luaran_taktepat}}</td>
                            </tr>
                            <tr>
                                <td>Model</td>
                                <td>{{monev_nilai_luaran.content.luaran_model}}</td>
                            </tr>
                            <tr>
                                <td>Purwarupa</td>
                                <td>{{monev_nilai_luaran.content.luaran_purwarupa}}</td>
                            </tr>
                            <tr>
                                <td>Karya Design</td>
                                <td>{{monev_nilai_luaran.content.luaran_karyadesign}}</td>
                            </tr>
                            <tr>
                                <td>Rekayasa Sosial</td>
                                <td>{{monev_nilai_luaran.content.luaran_sosial}}</td>
                            </tr>
                            <tr>
                                <td>Produk Terstandarisasi</td>
                                <td>{{monev_nilai_luaran.content.luaran_terstandarisasi}}</td>
                            </tr>
                            <tr>
                                <td>Produk Tersertivikasi</td>
                                <td>{{monev_nilai_luaran.content.luaran_tesertivikasi}}</td>
                            </tr>
                            <tr>
                                <td>Wirausaha Baru Mandiri</td>
                                <td>{{monev_nilai_luaran.content.luaran_wirausaha}}</td>
                            </tr>
                            <tr>
                                <td>Mitra Badan Hukum</td>
                                <td>{{monev_nilai_luaran.content.luaran_mitra}}</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td colspan="3">Video</td>
                                <td>{{jenis_pengabdian.bobot_luaran_aktif.data7}}</td>
                                <td>{{monev_nilai_luaran.skor[7]}}</td>
                                <td>{{monev_nilai_luaran.nilai[7]}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    Total
                                </th>
                                <th>
                                    100%
                                </th>
                                <th>
                                    <span id="total_skor">{{monev_nilai_luaran.total_skor}}</span>
                                </th>
                                <th>
                                    <span id="total_nilai">{{monev_nilai_luaran.total_nilai}}</span>
                                </th>

                            </tr>
                        </tfoot>
                    </table>
                    <br><br>
                    <div class="form-group">
                        <label for="" class="col-sm-12">Komentar Penilai</label>
                        <div class="col-sm-12">
                            <textarea rows="5" class="form-control" readonly name="komentar_penilai_step2" placeholder="Komentar Penilai">{{monev_nilai_luaran.komentar}}</textarea>
                        </div>
                        <!-- col-sm-10 -->
                    </div>

                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
</div>
