<div class="tab-pane" id="tab_3">  
  <a href="{{base_url()}}pengabdian/monev/monevreview/proses_pengabdian/{{id}}/dosen/{{monev.dosen}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank"> <i class="fa fa-file-pdf-o"> </i> Download Lembar Penilaian</a>
        <div class="clearfix"></div> 

        <!-- s:11111111-->
        <div class="box bordernya">
            <div class="box-header with-border">
                <h3 class="box-title">  BORANG MONITORING DAN EVALUASI LAPANGAN PENGABDIAN BERBASIS KOMPETENSI </h3>
            </div>

            <div class="box-body"> 

                  <table class="table mb-0">
                      <tr> 
                         <td style="width:25%;"> Judul Pengabdian : </td>
                         <td> {{judul}} </td>
                      </tr> 
                      <tr> 
                         <td> Ketua : </td>
                         <td> </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Nama : </td>
                         <td> {{dosen.nama_lengkap}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> NIDN : </td>
                         <td> {{dosen.nidn}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Jabatan Fungsional : </td>
                         <td> {{dosen.jabatan_fungsional.nama}} </td>
                      </tr>
                      <tr> 
                         <td> Program Studi : </td>
                         <td> {{dosen.program_studi.nama}} </td>
                      </tr>
                      <tr> 
                         <td> Anggota : </td>
                         <td> {{anggota|length}} Orang </td>
                      </tr>
                      <tr> 
                         <td> Lama Pengabdian : </td>
                         <td> {{lama}}  Hari </td>
                      </tr> 
                      <tr> 
                         <td>Biaya yang Disetujui : </td>
                         <td> Rp. {{pengabdian_review_inselected.0.rp_rekomendasi}}  </td>
                      </tr> 
                  </table> 


                  <div class="box bordernya">
            <div class="box-header with-border">
              <h3 class="box-title">Kriteria Penilaian</h3>
            </div>
            <!-- /.box-header -->  
            <!-- form start --> 
            <div class="box-body">  

                <table class="table table-bordered mb-0"> 
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th> 
                          <th style="width: 25%">Kriteria</th>
                          <th>Indikator Penilaian</th>
                          <th>Bobot(%)</th> 
                          <th>Skor</th>
                          <th>Nilai</th>
                        </tr> 
                    </thead>
                    <tbody>
                        {% for i in jenis_pengabdian.active_bobothasil %}
                          <tr>
                              <td> {{loop.index}}. </td>
                              <td> 
                                  {{i.nama}}
                              </td>
                              <td>
                                  {{i.indikator|nl2br}}
                              </td>
                              <td>
                                  <span id="bobotstep3{{i.id}}">{{i.bobot}}</span>
                              </td> 
                              <td> 
                                  {{monev_nilai_hasil.skor[loop.index0]}} 
                              </td> 
                              <td>
                                  {{monev_nilai_hasil.nilai[loop.index0]}}
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>  
                    <tfoot>
                          <tr> 
                              <th colspan="3">
                                  Total
                              </th>
                              <th>
                                  100
                              </th>
                              <th>
                                  <span id="total_skorstep3">{{monev_nilai_hasil.total_skor}}</span>
                              </th>
                              <th>
                                  <span id="total_nilaistep3">{{monev_nilai_hasil.total_nilai}}</span>
                              </th>
                            
                          </tr>
                    </tfoot>
                </table>

                <br><br>
                <div class="form-group">  
                  <label for="" class="col-sm-12">Komentar Penilai</label> 
                  <div class="col-sm-12">  
                    <textarea rows="5"  class="form-control" readonly name="komentar_penilai_step3" placeholder="Komentar Penilai" >{{monev_nilai_hasil.komentar}}</textarea>
                  </div> <!-- col-sm-10 -->
                </div>


                
            </div>
            <!-- /.box-body -->   
      </div>

            </div>
            <!-- /.box-body -->  
        </div>
    <div class="clearfix"></div>   
</div>