{% extends 'template.twig' %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Pengabdian <small>Publikasi Jurnal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Luaran Pengabdian</li>
        <li>Publikasi Jurnal Intrnational</li>
        <li class="active">Tambah Data</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 
      {% set error = validation_errors_array() %}

        {{ form_open_multipart('pengabdian/luaran/jurnals/edit/'~ id,'class="form-horizontal" id="jurnal"') }}
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Tambah Data Publikasi Jurnal</h3> 
            <div class="box-tools settingnya">   
              <a href="{{base_url()}}pengabdian/luaran/jurnals/" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div>
          </div><!-- .box-header --> 
          <div class="box-body">

            <div class="row">
              <div class="col-sm-6">

                <!-- s:Personil Dosen-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Personil Penulis</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">NIDN </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="nidn_dosen" name="nidn_dosen" placeholder="NIDN"  value="{{ set_value('nidn_dosen',dosen.nidn) }}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Nama Dosen </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="nama_dosen" name="nama_dosen" placeholder="Dosen" value="{{ set_value('nama_dosen',dosen.nama_lengkap) }}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Program Studi </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="program_studi_dosen" name="program_studi_dosen" placeholder="Program Studi" value="{{ set_value('program_studi_dosen',dosen.program_studi.nama) }}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Keanggotaan</label> 
                        <div class="col-sm-9">
                          <select id="keanggotaan_dosen" name="keanggotaan_dosen" class="form-control">
                            <option value="1" {{set_select("keanggotaan_dosen","1","1"==keanggotaan_dosen)}}>Ketua</option>
                            <option value="2" {{set_select("keanggotaan_dosen","2","2"==keanggotaan_dosen)}}>Anggota</option> 
                          </select>
                          <input type="hidden" id="dosen" name="dosen" value="{{set_value("dosen",dosen.id)}}" />
                        </div>
                      </div> 
                    </div>
                    <!-- /.box-body --> 
                  </div> 
                  <!-- e:form search --> 
                </div>
                <!-- e:Personil Dosen -->

              </div>
              <div class="col-sm-6">

                <!-- s:Personil non Dosen-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Personil Penulis</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">NIDN </label> 
                        <div class="col-sm-8">
                          <input type="" class="form-control" id="nidn_nondosen" name="nidn_nondosen" placeholder="" value="{{ set_value('nidn_nondosen',personil.nidn) }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Nama Personil </label> 
                        <div class="col-sm-8">
                          <input type="" class="form-control" id="nama_nondosen" name="nama_nondosen" placeholder="" value="{{ set_value('institusi_nondosen',personil.nama) }}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Program Studi </label> 
                        <div class="col-sm-8">
                          <input type="" class="form-control" id="program_studi_nondosen" name="program_studi_nondosen" placeholder="" value="{{ set_value('program_studi_nondosen',personil.program_studi.nama) }}" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Keanggotaan</label> 
                        <div class="col-sm-8">
                          <select class="form-control" id="keanggotaan_nondosen" name="keanggotaan_nondosen">
                            <option value="1" {{set_select("keanggotaan_nondosen","1","1"==keanggotaan_nondosen)}}>Ketua</option>
                            <option value="2" {{set_select("keanggotaan_nondosen","2","2"==keanggotaan_nondosen)}}>Anggota</option> 
                          </select>
                          <input type="hidden" id="anggota" name="anggota" value="{{set_value("dosen",personil.id)}}" />
                        </div>
                      </div> 
                    </div>
                    <!-- /.box-body --> 
                  </div> 
                  <!-- e:form search --> 
                </div>
                <!-- e:Personil non Dosen -->

              </div> 

            </div> <!-- .row -->

            <div class="row">
              <div class="col-sm-12">

                <!-- s:Personil Dosen-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Data Publikasi Jurnal</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Tahun Kegiatan </label> 
                        <div class="col-sm-10">
                            <select class="form-control" name="tahun">
                              <option value="" {{ set_select('tahun', '', TRUE) }}>Pilih</option>
                              {% for item in items_tahun %}
                                <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==tahun_kegiatan) }}>{{item.tahun}}</option>
                              {% endfor %}
                            </select>
                            <span class="text-danger">{{error.tahun}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Jenis Publikasi</label> 
                        <div class="col-sm-10">
                          <select class="form-control" id="jenis" name="jenis">
                            <option value=0>- List Jenis Publikasi -</option>
                            <option value=1 {{set_select("jenis",1,1==type)}}>International</option>
                            <option value=2 {{set_select("jenis",2,2==type)}}>Nasional Terakreditasi</option> 
                            <option value=3 {{set_select("jenis",3,3==type)}}>Nasional Tidak Terakreditasi</option> 
                          </select>
                        </div>
                      </div> 
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Judul</label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="Judul"  name="judul" value="{{ set_value('judul',judul) }}">
                          <span class="text-danger">{{error.judul}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Nama Jurnal </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="Nama Jurnal" name="nama_jurnal" value="{{ set_value('nama_jurnal',nama_jurnal) }}">
                          <span class="text-danger">{{error.nama_jurnal}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Abstrak </label>
                        <div class="col-sm-10">
                          <textarea class="form-control" name="abstrak" rows="5">{{ set_value('abstrak',abstrak) }}</textarea>
                          <span class="text-danger">{{error.abstrak}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> ISSN </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="ISSN" name="issn" value="{{ set_value('issn',issn) }}">
                          <span class="text-danger">{{error.issn}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Volume </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="Volume" name="volume" value="{{ set_value('volume',volume) }}">
                          <span class="text-danger">{{error.volume}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Nomor </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="Nomor" name="nomor" value="{{ set_value('nomor',nomor) }}">
                          <span class="text-danger">{{error.nomor}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Halaman </label> 
                        <div class="col-sm-10">  

                          <div class="input-group">
                            <input type="text" class="input-sm form-control" name="halaman_mulai" value="{{ set_value('halaman_mulai',halaman_mulai) }}">
                            <span class="input-group-addon"> s/d </span>
                            <input type="text" class="input-sm form-control" name="halaman_akhir" value="{{ set_value('halaman_akhir',halaman_akhir) }}">
                            <span class="text-danger">{{error.halaman}}</span>
                          </div>  

                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> URL </label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="URL" name="url" value="{{ set_value('url',url) }}">
                          <span class="text-danger">{{error.url}}</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> </label> 
                        <div class="col-sm-10">
                          <input type="hidden" class="form-control" id="pdf" placeholder=""  readonly name="pdf" value="{{ set_value('pdf',berkas) }}">
                          <span id="warning" class="text-danger">{{error.pdf}}</span>
                        </div>
                      </div>
                      </form>
                      {{ form_open_multipart('pengabdian/luaran/jurnals/upload','class="form-horizontal" id="upload"') }}
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label"> Berkas </label> 

                        <div class="col-sm-10">  
                          <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                          <div class="bootstrap-filestyle input-group">
                            <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{ set_value('pdf',berkas) }}">
                            <span class="group-span-filestyle input-group-btn" tabindex="0">
                              <label for="icondemo" class="btn btn-warning ">
                                <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                <span class="buttonText">Select File</span>
                              </label>
                              <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button> 
                            </span>
                          </div>
                          <small>*Jurnal yang diterbitkan(Cover, Daftar isi dan Makalah penulis yang berafiliasi uhamka.</small><br>
                          <small>*File dalam format .pdf dan maksimal 10MB.</small><br>
                          <span class="text-danger">{{error.file}}</span>
                        </div> <!-- col-sm-10 -->

                      </div>
                      <div class="form-group"> 
                        <label for="" class="col-sm-2 control-label"></label>   
                        <div class="col-sm-10">  
                          <div class="progress">
                            <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="width:0%">
                              <span class="percent"></span>
                            </div>
                          </div>
                        </div> <!-- col-sm-10 -->
                      </div>
                    </form>
                    </div>
                    <!-- /.box-body --> 
                  </div> 
                  <!-- e:form search --> 



                </div>
                <!-- e:Personil Dosen -->

              </div> 
            </div>  <!-- .row -->

          </div><!-- box_body --> 
          <div class="box-footer tc"> 
            <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
            <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</button>   
          </div>
        </div><!-- .box box-primary --> 
      </form>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

  </div>
  <script>
    $(document).ready(function(){
  // $( "#nidn_dosen" ).keyup(function() {
  //   nidn = $("#nidn_dosen").val();
  //   $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
  //       data = $.parseJSON(data);
  //       console.log(data);
  //       $("#nama_dosen").val(data[0]["nama"]);
  //       $("#program_studi_dosen").val(data[0]["program_studi"]["nama"]);
  //       $("#dosen").val(data[0]["id"]);
  //   });
  // });

  $( "#nidn_nondosen" ).keyup(function() {
    nidn = $("#nidn_nondosen").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
      data = $.parseJSON(data);
      console.log(data);
      $("#anggota").val(data[0]["id"]);
      $("#nama_nondosen").val(data[0]["nama"]);
      $("#program_studi_nondosen").val(data[0]["program_studi"]["nama"]);
    });
  });
  $("input[name='file']").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename").val(fileName);
    $("#warning").empty('');
    $("#submit_upload").removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning").append('File Size more than 10 MB');
      $("#submit_upload").addClass('disabled');
    }
    bar.width('0%');
    percent.html('0%');
  });

  $("#jurnal").submit(function(e){
    if($("#submit_upload").hasClass('disabled')){
      e.preventDefault();
    }
  });

  var bar = $('.bar');
  var percent = $('.percent');

  $("#upload").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      if(responseText.indexOf('attempting to upload is not allowed') > -1 || responseText.indexOf('You did not select a file to upload')> -1){
        $("#pdf").val("");
        percent.html("File Gagal Upload");
        $("#warning").text("File yang di upload harus berformatkan pdf");
      }else{
        $("#warning").text("");
        percent.html("File Berhasil Upload");
        $("#pdf").val(responseText);
      }
    }
  });
})
  </script>
{% endblock %}