{% extends login ? "template.twig" : "template_nonlogin.twig" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Pengabdian <small>Publikasi Jurnal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Luaran Pengabdian</li>
        <li>Publikasi Jurnal</li>
        <li class="active">Detail</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Detail Publikasi Jurnal</h3> 
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body"> 



                  <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Personil Penulis</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Nama Dosen: </td>
                                <td> {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}} </td>
                            </tr>
                            <tr>
                                <td> NIDN: </td>
                                <td> {{item.dosen.nidn}} </td>
                            </tr>
                            <tr>
                                <td> Program Studi: </td>
                                <td> {{item.dosen.program_studi.nama}} </td>
                            </tr>
                            <tr>
                                <td> Keanggotaan: </td>
                                <td> {{item.keanggotaan_dosen_show}} </td>
                            </tr>
                      </tbody>  
                  </table>   

                  <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Personil Penulis</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Nama Lenkap &amp; Gelar: </td>
                                <td> {{item.personil.gelar_depan}} {{item.personil.nama}} {{item.personil.gelar_belakang}} </td>
                            </tr>
                            <tr>
                                <td> NIDN: </td>
                                <td> {{item.personil.nidn}} </td>
                            </tr>
                            <tr>
                                <td> Program Studi: </td>
                                <td> {{item.personil.program_studi.nama}} </td>
                            </tr>
                            <tr>
                                <td> Keanggotaan: </td>
                                <td> {{item.keanggotaan_nondosen_show}} </td>
                            </tr>
                      </tbody>  
                  </table>   

                  <table width="100%" class="table table-bordered table-striped"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Data Publikasi Jurnal</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr> 
                                <td> Jenis Publikasi :</td> <td> {{item.type_show}} </td>  
                            </tr>
                            <tr>
                                <td> Judul: </td>
                                <td> {{item.judul}} </td>
                            </tr>
                            <tr>
                                <td> Nama Jurnal: </td>
                                <td> {{item.nama_jurnal}} </td>
                            </tr> 
                            <tr>
                                <td> Abstrak: </td>
                                <td> {{item.abstrak|nl2br}} </td>
                            </tr> 
                            <tr> 
                                <td> ISSN :</td> <td> {{item.issn}} </td>  
                            </tr>
                            <tr>
                                <td> Volume :</td> <td> {{item.volume}} </td>  
                            </tr>
                            <tr>
                                 <td> Nomor :</td> <td> {{item.nomor}} </td>
                            </tr>  
                            <tr> 
                                <td>Halaman :</td> <td>{{item.halaman}}</td> 
                            </tr>  
                            <tr>    
                                <td>URL : </td> <td><a href="">{{item.url}}</a></td>
                            </tr>   
                            <tr>    
                                <td>Tahun Kegiatan : </td> <td>{{item.tahun_kegiatan.tahun}}</td>
                            </tr> 
                            <tr>
                                <td>Berkas :</td> <td>  <a href="{{base_url()}}download?type=jurnal&jenis=pengabdian&id={{item.id}}" target="_blank" class="btn btn-sm bg-olive" data-toggle="tooltip" title="Download PDF"> <i class="fa fa-file-pdf-o"> </i> Download </a>  </td>
                            </tr>
                      </tbody>  
                  </table>   

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}
