{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 
              {% set error = validation_errors_array() %}

              {{ form_open_multipart('importir/') }}
              <div class="box box-warning">
                  <div class="box-body">  

                          <div class="row">
                          <div class="col-sm-12">
                                  <!-- s:Personil Dosen-->
                                  <div class="box bordernya">
                                        <div class="box-header with-border">
                                          <h3 class="box-title">Import Dosen from CSV </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <input type="hidden" name="hidden" value="hidden" />
                                        <div class="form-horizontal" action="mk-buku.php">
                                            <div class="box-body"> 
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Dosen CSV </label> 
                                                  <div class="col-sm-10">  
                                                     <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file">
                                                     <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " id="filename" placeholder="" disabled=""> 
                                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                          <label for="icondemo" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                            <span class="buttonText">Select File</span>
                                                          </label>
                                                        </span>
                                                      </div> 
                                                      {{error.file}}
                                                  </div> <!-- col-sm-10 -->

                                                </div>
                                            </div>
                                            <!-- /.box-body --> 
                                        </div> 
                                        <!-- e:form search -->  

                                    </div>
                                    <!-- e:Personil Dosen --> 
                            
                          </div>  
                        </div> <!-- .row --> 

                  </div><!-- box_body --> 
                  <div class="box-footer tc"> 
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Import</button>
                  </div>
              </div><!-- .box box-primary --> 
          </form>
          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
      <script>
$(document).ready(function(){
  $("input[name='file']").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename").val(fileName);
  });
})
</script>
{% endblock %}