{% extends 'pengaturan/pengabdian/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}pengaturan/pengabdian/batchpengabdians/{{jenpen.jenis_penelitian.id}}">Batch Pengabdian</a></li>
<li class="active">Batch</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-anggaran"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                      <div class="col-sm-1 pull-right"> 
                      <a href="{{base_url()}}pengaturan/pengabdian/batchpengabdian/{{jenpen.jenis_penelitian.id}}" class="btn btn-primary btn-sm pull-right" style="height:30px;padding-top:5px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
                     </div>
                    <div class="col-sm-7 pull-right">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Tahun</th>
                            <th>Batch</th>
                            <th>Periode</th>
                            <th>Deadline Review</th>
                            <th>Pengumuman Review</th>
                            <th>Review Monev</th>
                            <th>Deadline Monev</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td> {{item.batch_penelitian.tahun.tahun}} </td>
                              <td>
                                  {{item.nama}}
                              </td>
                              <td>
                                  {{item.start}} - {{item.finish}}
                              </td>
                              <td>
                                  {{item.deadline_review}}
                              </td>
                              <td>
                                  {{item.review}}
                              </td>
                              <td>
                                {{item.monev_start}}
                              </td>
                              <td>
                                {{item.monev_finish}}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}pengaturan/pengabdian/batchs/delete/{{item.id}}/batchpenelitians/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                            <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            {{ form_open('pengaturan/pengabdian/batchs/edit/'~item.id,'data-toggle="validator"') }}
                            <div class="vertical-alignment-helper">
                              <div class="modal-dialog vertical-align-center">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Durasi Batch Pengabdian</h4>
                                      </div>
                                      <div class="modal-body" id="validate_message">
                                        <div class="form-horizontal">
                                            <div class="box-body"> 
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Batch</label> 
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="nama" name="nama" required>
                                                      {% for itemx in batch_lists %}
                                                        <option value="{{itemx.id}}"  {{set_select('views',itemx.nama,item.nama==itemx.nama)}}> {{itemx.nama}} </option>
                                                      {% endfor %}
                                                    </select>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label"> Waktu Periode </label> 
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                      <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                      </div>
                                                      <input type="text" class="form-control pull-right reservationtime" name="tanggal" value="{{item.start}} - {{item.finish}}">
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label"> Deadline Review</label> 
                                                <div class="col-sm-9">
                                                  <div class="input-group">
                                                    <div class="input-group-addon">
                                                      <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input type="text" class="form-control review" name="deadline_review" value="{{item.deadline_review}}" >
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label"> Pengumuman Review</label> 
                                                <div class="col-sm-9">
                                                  <div class="input-group">
                                                    <div class="input-group-addon">
                                                      <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input type="text" class="form-control review" name="review" value="{{item.review}}" >
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label"> Review Monev </label> 
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                      <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                      </div>
                                                      <input type="text" class="form-control pull-right review" id="" required name="tanggalmonev" readonly='true' value="{{item.monev_start}}">
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label"> Deadline Monev </label> 
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                      <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                      </div>
                                                      <input type="text" class="form-control pull-right review" id="" required name="tanggalmonevfinish" readonly='true' value="{{item.monev_finish}}">
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <input type="hidden" name="batch_penelitian" value="{{jenpen.id}}">
                                            <!-- /.box-body --> 
                                        </div> 
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            </form>
                          </div>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Tahun</th>
                            <th>Batch</th>
                            <th>Periode</th>
                            <th>Deadline Review</th>
                            <th>Pengumuman Review</th>
                            <th>Review Monev</th>
                            <th>Deadline Monev</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
      <div class="modal fade" id="add-anggaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {{ form_open('pengaturan/pengabdian/batchs/add/'~jenpen.id,'data-toggle="validator" autocomplete="off"') }}
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Tambah Durasi Batch Pengabdian</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                      <div class="form-horizontal">
                          <div class="box-body"> 
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Batch</label> 
                                <div class="col-sm-9">
                                  <select class="form-control" id="nama" name="nama" required>
                                    {% for item in batch_lists %}
                                      <option value="{{item.id}}"> {{item.nama}} </option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label"> Waktu Periode </label> 
                                <div class="col-sm-9">
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                      </div>
                                      <input type="text" class="form-control pull-right reservationtime" id="" name="tanggal" required>
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label"> Deadline Review</label> 
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right review" name="deadline_review" required>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label"> Pengumuman Review</label> 
                                <div class="col-sm-9">
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right review" name="review" required>
                                  </div>
                                </div>
                              </div>
                             <div class="form-group">
                              <label for="" class="col-sm-3 control-label"> Review Monev </label> 
                              <div class="col-sm-9">
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right review" id="" required name="tanggalmonev" readonly='true' value="{{item.monev_start}}">
                                  </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label"> Deadline Monev </label> 
                              <div class="col-sm-9">
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right review" id="" required name="tanggalmonevfinish" readonly='true' value="{{item.monev_finish}}">
                                  </div>
                              </div>
                            </div>
                              
                          </div>
                          <!-- /.box-body --> 
                      </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                    </div>
                </div>
            </div>
          </div>
          </form>
        </div>
      <!-- /.tab-content -->
</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{{base_url()}}assets/plugins/daterangepicker/daterangepicker.js"></script>
<script>
  $(function () { 
    //Date range picker with time picker
    $(".review").datepicker( {
      format: "dd/mm/yyyy"
     });
    $('.reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY'});
  });
</script>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}