<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% set get_dari,get_sampai,get_fakultas,get_prodi,get_nama_fakultas,get_nama_prodi,get_search = request_get('dari'),request_get('sampai'), request_get('fakultas'), request_get('program_studi'), request_get('nama_fakultas'), request_get('nama_prodi'), request_get('cari') %}
<h1 style="text-align:center;">PETA POTENSI PUBLIKASI</h1>
<h3 style="text-align:center;"> Data {% if get_prodi %} Program Studi Fakultas {{get_nama_fakultas}} {% elseif not get_prodi and get_fakultas %} {{get_nama_fakultas}} {% else %} Semua Fakultas {% endif %} </h3>
<h3 style="text-align:center;"> {% if get_dari!=get_sampai %} {{get_dari}} - {{get_sampai}} {% else %} {{get_dari}} {% endif %} </h3>

{% for key,itemtarget in target_total %}
<table>
<tr>
 <th style="width:80%;"><h4>{{attribute(luaran_key,key-1)}}</h4></th>
 {% if loop.first %}<th style="width:20%;text-align:right;">{{download}}</th>{% endif %}
</tr>
</table>
<table style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%">
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">No.</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:68%;">Nama</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:27%;">Pendidikan - Jabatan</th>
  </tr>
  {% set no = 1 %}
  {% for item in items if attribute(item,key) < itemtarget and  searchpetapotensi(item,key,syarat_total)%}
  <tr {% if no is odd %}style="background-color: #f2f2f2;"{% endif %}>
    <td style="text-align: left;padding: 8px;">{{no}}</td>
    <td style="text-align: left;padding: 8px;"><h4>{{item.nama}} - {{item.nidn}}</h4><br>Program Studi {{item.program_studi}}</td>
    {% set tingkat = item.jenjang_pendidikan|split(' - ') %}
    <td style="text-align: left;padding: 8px;">{{tingkat[0]}} - {{item.jabatan_akademik}}</td>
  </tr>
  {% set no = no+1 %}
  {% endfor %}
</table>
<br><br>
{% endfor %}

<br><br><br><br><br><br><br><br>
<table>
<tr>
  <th style="width:70%;"></th>
  <th>
<h4></h4>
</th>
</tr>
</table>
</body>
</html>
