{% extends 'template.twig' %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Pengabdian <small>Luaran Lain</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Pengabdian </a></li>
        <li class="active">Tambah Luaran Lain</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
      {% set error = validation_errors_array() %}
        {{ form_open_multipart('pengabdian/luaran/luaranlains/edit/'~id,'class="form-horizontal" id="jurnal"') }}
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Tambah Data Luaran Lain</h3> 
            <div class="box-tools settingnya">   
              <a href="{{base_url()}}pengabdian/luaran/luaranlains/" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div>
          </div><!-- .box-header --> 
          <div class="box-body">  

            <div class="row">
              <div class="col-sm-12">

                <!-- s:Personil Dosen-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Personil Dosen</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">NIDN </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="nidn" name="nidn" value="{{set_value('nidn',dosen.nidn)}}" placeholder="NIDN" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Nama Dosen </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="nama" name="nama" value="{{set_value('nama',dosen.nama_lengkap)}}" placeholder="Dosen" disabled>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Program Studi </label> 
                        <div class="col-sm-9">
                          <input type="" class="form-control" id="program_studi" name="program_studi" value="{{set_value('program_studi',dosen.program_studi.nama)}}" placeholder="Program Studi" disabled>
                        </div>
                        <input type="hidden" id="dosen" name="dosen" value="{{set_value("dosen",dosen.id)}}" />
                      </div> 
                    </div>
                    <!-- /.box-body --> 
                  </div>
                  <!-- e:form search --> 
                </div>
                <!-- e:Personil Dosen -->

              </div>


              <div class="col-sm-12">

                <!-- s:Personil Dosen-->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Data Luaran Lain</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <div class="form-horizontal"> 

                    <div class="box-body">
                     <div class="form-group">
                      <label for="" class="col-sm-2 control-label"> Tahun Kegiatan </label> 
                      <div class="col-sm-10">
                        <select class="form-control" name="tahun">
                          <option value="" {{ set_select('tahun', '', TRUE) }}>Pilih</option>
                          {% for item in items_tahun %}
                            <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==tahun_kegiatan) }}>{{item.tahun}}</option>
                          {% endfor %}
                        </select>
                        <span class="text-danger">{{error.tahun}}</span>
                      </div>
                    </div> 
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Judul Luaran</label> 
                      <div class="col-sm-10">
                        <input type="" class="form-control" id="" placeholder="Judul" name="judul" value="{{set_value('judul',judul)}}">
                        <span class="text-danger">{{error.judul}}</span>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Jenis Luaran</label> 
                      <div class="col-sm-10">
                        <select class="form-control" name="jenis">
                          <option value="" {{ set_select('jenis', '', TRUE) }}>Pilih</option>
                          {% for item in items_luaran %}
                            <option value={{ item.id }}  {{ set_select('jenis', item.id,jenis==item.id) }}>{{item.nama}}</option>
                          {% endfor %}
                        </select>
                        <span class="text-danger">{{error.jenis}}</span>
                      </div>
                    </div> 


                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label"> Deskripsi </label> 
                      <div class="col-sm-10">
                       <textarea class="form-control" rows="5" id="comment" name="deskripsi">{{set_value('deskripsi',deskripsi)}}</textarea>
                       <span class="text-danger">{{error.deskripsi}}</span>
                     </div>
                   </div>


                   <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> </label> 
                    <div class="col-sm-10">
                      <input type="hidden" class="form-control" id="pdf" placeholder=""  readonly name="pdf" value="{{ set_value('pdf',berkas) }}">
                      <span  id="warning" class="text-danger">{{error.pdf}}</span>
                    </div>
                  </div>
                </form>
                {{ form_open_multipart('pengabdian/luaran/luaranlains/upload','class="form-horizontal" id="upload"') }}
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"> Berkas </label> 

                  <div class="col-sm-10">  
                    <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                    <div class="bootstrap-filestyle input-group">
                      <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{ set_value('pdf',berkas) }}">
                      <span class="group-span-filestyle input-group-btn" tabindex="0">
                        <label for="icondemo" class="btn btn-warning ">
                          <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                          <span class="buttonText">Select File</span>
                        </label>
                        <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button> 
                      </span>
                    </div>
                    <small>*File dalam format .pdf dan maksimal 10MB.</small><br>
                    <span  class="text-danger">{{error.file}}</span>
                  </div> <!-- col-sm-10 -->

                </div>
                <div class="form-group"> 
                  <label for="" class="col-sm-2 control-label"></label>   
                  <div class="col-sm-10">  
                    <div class="progress">
                      <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                      <span class="percent"></span>
                    </div>
                  </div>
                </div> <!-- col-sm-10 -->
              </div>
            </form>
          </div>
          <!-- /.box-body --> 
        </div> 
        <!-- e:form search --> 


      </div>
      <!-- e:Personil Dosen -->

    </div> 
  </div>  <!-- .row -->

</div><!-- box_body --> 
<div class="box-footer tc"> 
  <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
  <a href="{{base_url()}}pengabdian/luaran/luaranlains/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
</div>
</div><!-- .box box-primary -->  
</form>
</section>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
  $(document).ready(function(){
    $( "#nidn" ).keyup(function() {
      nidn = $("#nidn").val();
      $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        console.log(data);
        $("#nama").val(data[0]["nama"]);
        $("#program_studi").val(data[0]["program_studi"]["nama"]);
        $("#dosen").val(data[0]["id"]);
      });
    });
    $("input[name='file']").change(function() {
      var fileName = $(this).val().split('/').pop().split('\\').pop();
      $("#filename").val(fileName);
      $("#warning").empty('');
      $("#submit_upload").removeClass('disabled');
      if(parseInt($(this).context.files[0].size)>10000000){
        $("#warning").append('File Size more than 10 MB');
        $("#submit_upload").addClass('disabled');
      }
      bar.width('0%');
      percent.html('0%');
    });

    $("#jurnal").submit(function(e){
      if($("#submit_upload").hasClass('disabled')){
        e.preventDefault();
      }
    });

  var bar = $('.bar');
  var percent = $('.percent');

  $("#upload").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      if(responseText.indexOf('attempting to upload is not allowed') > -1 || responseText.indexOf('You did not select a file to upload')> -1){
        $("#pdf").val("");
        percent.html("File Gagal Upload");
        $("#warning").text("File yang di upload harus berformatkan pdf");
      }else{
        $("#warning").text("");
        percent.html("File Berhasil Upload");
        $("#pdf").val(responseText);
      }
    }
  });
  })
</script>

{% endblock %}
