{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Pengabdian <small>ACC Laporan</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Pengabdian</li>Acc Laporan</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        {% set dosen,judul,jenis_pengabdians,batch_pengabdian,get_tahun_kegiatan = request_get('dosen'),request_get('judul'),request_get('jenis_pengabdian'),request_get('batch_pengabdian'),request_get('tahun_kegiatan') %}
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Peneliti : </label> 
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Pengabdian : </label> 
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Pengabdian">
                </div>
              </div>
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Pengabdian : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_pengabdian" id="jenis_pengabdian">
                        <option value="">Semua Jenis Pengabdian</option>
                    {% for item in jenis_pengabdian %}
                        <option value="{{item.id}}">{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Pengabdian : </label> 
                <div class="col-sm-10">

                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}">{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}">{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="status">
                        <option value="">Semua</option>
                        <option value="1">Sudah ACC</option>
                        <option value="2">Belum ACC</option>
                  </select>
                </div>
              </div> 

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Usulan Proposal Pengabdian</h3> 
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>   
                      <div class="formnya">  
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>   
                      <label class="labelnya">Tampil data:</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                          </select>
                      </div>
                      {# {% if userinfo.akses.nama=="Operator Lemlitbang"  or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang" %}
                      <a href="{{base_url()}}pengabdianspemenangs/download?dosen={{dosen}}&judul={{judul}}&=jenis_pengabdian={{jenis_pengabdians}}&batch={{batch_pengabdian}}&tahun_kegiatan={{get_tahun_kegiatan}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> </a>
                      {% endif %} #}
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body">   

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th>Peneliti</th>
                                <th style="width: 45%">Judul Pengabdian</th>
                                <th style="width: 12%">Hasil Review</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in pengabdian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}
                                  </td>
                                  <td>  
                                      {{item.judul}}<br><br>
                                      Jenis Pengabdian: {{item.jenis_pengabdian.nama}}<br>
                                      Batch Pengabdian: {{item.batch.nama}} - {{item.batch.batch_penelitian.tahun.tahun}}<br>
                                  </td>
                                  <td>
                                      Hasil: {{item.status_text}}<br>
                                      Anggaran Disetujui:   Rp. {{item.rp_total_biaya}},-
                                  </td>
                                  <td>
                                    {% if item.acc==0 %}
                                      Belum ACC
                                    {% else %}
                                      Sudah ACC
                                    {% endif %}
                                  </td>
                                  <td>
                                    {% if item.acc == 0 and roles(["Operator LPPM",'Ketua LPPM',"Sekretaris LPPM"])%}
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="modal" data-target="#modal-acc{{item.id}}" title="ACC"><i class="fa fa-check"></i></a>
                                    {% endif %}
                                  </td> 
                                </tr>
                                <div class="modal fade modal-konfirmasi" id="modal-acc{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style=" top: 50%;left: 50%;transform: translate(-50%, -50%);background: rgba(0, 0, 0, 0);">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-content"> 
                                          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
                                          <h4 class="modal-title" id="mySmallModalLabel">Konfirmasi ACC Laporan</h4> </div> 
                                          <div class="modal-body tc">
                                              <p>
                                                  <b>Peneliti :</b> {{item.dosen.nama_lengkap}}
                                              </p>
                                              <p>
                                                  <b>Judul Pengabdian :</b> {{item.judul}}
                                              </p>

                                              <div class="tc">
                                                <a href="{{base_url()}}pengabdian/acclaporan/acc/{{item.id}}" class="btn btn-success btn-ok" ><i class="fa fa-check"></i> ACC</a>
                                                <a href="#" type="button" class="btn btn-default"  data-dismiss="modal"><i class="fa fa-times"></i> Batal</a>
                                              </div>
                                          </div> 
                                        </div>
                                    </div>
                                  </div>
                                </div>
                               {#  <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="7">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <div class="pull-left">
                                                  <a href='#' class="btn-sm btn bg-yellow" data-toggle="modal" data-target="#modal-status{{item.id}}"> Status </a>
                                                  {% include 'monev/hidden-status.twig' %}
                                                  {% if role('Dosen') and userinfo.dosen.id==item.dosen.id %} 
                                                  <a href='#' class="btn-sm btn bg-green" data-toggle="modal" data-target="#modal-dokumen{{item.id}}"> Dokumen 70% </a>
                                                  {% include 'monev/hidden-dokumen.twig' %}
                                                  <a href='{{base_url()}}monev/monevborang/{{item.id}}' class="btn-sm btn bg-purple"> Borang </a>
                                                  {% elseif item.monev.berkas %}
                                                  <a href='{{base_url()}}uploads/borang/{{item.monev.berkas}}' class="btn-sm btn bg-green" data-toggle="modal" data-target="#modal-dokumen{{item.id}}"> Download Dokumen 70% </a>
                                                  {% endif %}
                                                </div>
                                              </div>
                                          </div>
                                      </td>
                                </tr> #}
                                {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th> 
                                <th>Peneliti</th>
                                <th style="width: 45%">Judul Pengabdian</th>
                                <th style="width: 12%">Hasil Review</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}