{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Beranda
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li class="active">Here</li>
            </ol>
        </section>
        <section class="content">
            <div class="nav-tabs-custom">

                {% block tab %}{% endblock %}
            </div>

        </section>

    </div>
    <script>
        $(document).ready(function () {
            $("#tahun").change(function () {
                var value = $("#tahun").val();
                window.location.href = $.query.set("tahun", value);
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            $("#bulan").change(function () {
                var value = $("#bulan").val();
                window.location.href = $.query.set("bulan", value);
            });
            $("#tahunp").change(function () {
                var value = $("#tahunp").val();
                window.location.href = $.query.set("tahunp", value);
            });
            $(".paging").click(function () {
                paging = $(this).data("page");
                window.location.href = $.query.set("page", paging)
            })
        });
        // Cookies
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            } else 
                var expires = "";
            


            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') 
                    c = c.substring(1, c.length);
                


                if (c.indexOf(nameEQ) == 0) 
                    return c.substring(nameEQ.length, c.length);
                


            }
            return null;
        }
    </script>
{% endblock %}
