{% extends 'home/index.twig' %}

{% block tab %}

    <ul class="nav nav-tabs">
        {% if roles(["Dosen", "Operator Lemlitbang", "Sekretaris Lemlitbang", "Ketua Lemlitbang"]) %}
            <li>
                <a href="{{base_url()}}home/">Dashboard Penelitian</a>
            </li>
        {% endif %}
        {% if roles(["Dosen", "Operator LPPM", "Sekretaris LPPM", "Ketua LPPM"]) %}
            <li class="active">
                <a href="{{base_url()}}home/tab3">Dashboard Pengabdian</a>
            </li>
        {% endif %}
        
        {% if roles(["Dosen"]) %}
            <li>
                <a href="{{base_url()}}home/tab4">Luaran Penelitian</a>
            </li>
        {% endif %}

        <li>
            <a href="{{base_url()}}home/tab2">Pengumuman</a>
        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="tab_3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Data
                        {{tahun.tahun}}</h3>

                    <div class="box-tools settingnya">
                        <label class="labelnya">Tahun</label>
                        <div class="formnya">
                            <select class="form-control input-sm" id="tahun" name="tahun">
                                {% for item in tahund %}
                                    <option value={{ item.id }} {{ set_select('tahun', item.id,item.id==tahunds.id) }}>{{item.tahun}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if not isviewall()%}
                            <a href="{{base_url()}}home/pdfpengabdian" class="btn btn-primary btn-sm pull-left ml-20" target="_blank">Download Laporan Kinerja</a>
                        {% endif %}
                    </div>
                </div>

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-3">

                            <div class="small-box small-box-uhamka bg-gray">
                                <div class="inner">
                                    <div class="s1">Pengabdian</div>
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Status</th>
                                            <th>jml</th>
                                        </tr>
                                        <tr>
                                            <td>1.</td>
                                            <td>Jumlah Proposal</td>
                                            <td>
                                                {{pengabdian3+pengabdian4+pengabdian12+pengabdian1+pengabdian2+pengabdian7+pengabdian9+pengabdian10|default(0)}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Proses Review</td>
                                            <td>
                                                {{pengabdian3|default(0)}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>Proposal Diterima</td>
                                            <td>
                                                {{pengabdian4|default(0)}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Proposal Ditolak</td>
                                            <td>
                                                {{pengabdian12|default(0)}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-lg-4 col-xs-6">
                                    <div class="small-box small-box-uhamka bg-purple">
                                        <div class="inner">
                                            <h3>{{pengabdianjurnal1|default(0)}}</h3>
                                            <div class="s1">Publikasi Jurnal</div>
                                            <div class="s2">Internasional</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/jurnals/?type=1" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-6">
                                    <div class="small-box small-box-uhamka bg-green">
                                        <div class="inner">
                                            <h3>{{pengabdianjurnal2|default(0)}}</h3>
                                            <div class="s1">Publikasi Jurnal</div>
                                            <div class="s2">Nasional Terakreditasi</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/jurnals/?type=2" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-12">
                                    <div class="small-box small-box-uhamka bg-maroon">
                                        <div class="inner">
                                            <h3>{{pengabdianjurnal3|default(0)}}</h3>
                                            <div class="s1">Publikasi Jurnal</div>
                                            <div class="s2">Nasional Tidak Terakreditasi</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/jurnals/?type=3" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-4">

                                    <div class="small-box small-box-uhamka bg-red">
                                        <div class="inner">
                                            <h3>{{pengabdianhki|default(0)}}</h3>
                                            <div class="s1">Hak Kekayaan Intelektual</div>
                                            <div class="s2">Data Hak Kekayaan Intelektual</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/hkis/#" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>

                                </div>

                                <div class="col-xs-4">

                                    <div class="small-box small-box-uhamka bg-blue">
                                        <div class="inner">
                                            <h3>{{pengabdianforum_ilmiah|default(0)}}</h3>
                                            <div class="s1">Pemakalah Forum Ilmiah</div>
                                            <div class="s2">Data Pemakalah Forum Ilmiah</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/forumilmiahs/" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="small-box small-box-uhamka bg-light-blue">
                                        <div class="inner">
                                            <h3>{{pengabdian_hibah|default(0)}}</h3>
                                            <div class="s1">Pengabdian Mandiri</div>
                                            <div class="s2">Data Pengabdian Mandiri</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/penelitianhibahs/" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-lg-3 col-xs-6">

                                    <div class="small-box small-box-uhamka bg-fuchsia-active bg-aqua-active">
                                        <div class="inner">
                                            <h3>{{pengabdianbuku_ajar|default(0)}}</h3>
                                            <div class="s1">Buku Ajar/Teks</div>
                                            <div class="s2">Data Buku Ajar/Teks</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/bukuajars/" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6">

                                    <div class="small-box small-box-uhamka bg-aqua-active">
                                        <div class="inner">
                                            <h3>{{pengabdianluaran_lain|default(0)}}</h3>
                                            <div class="s1">Luaran Lain</div>
                                            <div class="s2">Data Luaran Lain</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/luaranlains/" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xs-12">

                                    <div class="small-box small-box-uhamka bg-yellow">
                                        <div class="inner">
                                            <h3>{{ pengabdianpforum_ilmiah|default(0) }}</h3>
                                            <div class="s1">Penyelenggara Forum Ilmiah</div>
                                            <div class="s2">Data Penyelenggara Forum Ilmiah</div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/pforumilmiahs" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
