{% extends 'home/index.twig' %}

{% block tab %}

    <ul class="nav nav-tabs">
        {% if roles(["Dosen", "Operator Lemlitbang", "Sekretaris Lemlitbang", "Ketua Lemlitbang"]) %}
            <li>
                <a href="{{base_url()}}home/">Dashboard Penelitian</a>
            </li>
        {% endif %}
        {% if roles(["Dosen", "Operator LPPM", "Sekretaris LPPM", "Ketua LPPM"]) %}
            <li>
                <a href="{{base_url()}}home/tab3">Dashboard Pengabdian</a>
            </li>
        {% endif %}
        
        {% if roles(["Dosen", "Operator Lemlitbang", "Sekretaris Lemlitbang", "Ketua Lemlitbang"]) %}
            <li class="active">
                <a href="{{base_url()}}home/tab4">Luaran Penelitian</a>
            </li>
        {% endif %}

        <li>
            <a href="{{base_url()}}home/tab2">Pengumuman</a>
        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="tab_3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Data
                        {{tahun.tahun}}</h3>

                    <div class="box-tools settingnya">
                        <label class="labelnya">Tahun</label>
                        <div class="formnya">
                            <select class="form-control input-sm" id="tahun" name="tahun">
                                {% for item in tahund %}
                                    <option value={{ item.id }} {{ set_select('tahun', item.id,item.id==tahunds.id) }}>{{item.tahun}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-lg-4 col-xs-6">
                                    <div class="small-box small-box-uhamka bg-purple">
                                        <div class="inner">
                                            <h3>Rp {{Penelitian_internalsum|default(0)}}</h3>
                                            <div class="s1">{{penelitian4|default(0)}} Penelitian Internal</div>
                                            <div class="s2"></div>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-6">
                                    <div class="small-box small-box-uhamka bg-blue">
                                        <div class="inner">
                                            <h3>Rp {{Penelitian_nasionalsum|default(0)}}</h3>
                                            <div class="s1">{{Penelitian_nasional|default(0)}} Penelitian Nasional</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-xs-4">

                                    <div class="small-box small-box-uhamka bg-red"> 
                                        <div class="inner">
                                            <h3>Rp {{Penelitian_internasionalsum|default(0)}}</h3>
                                            <div class="s1">{{Penelitian_internasional|default(0)}} Penelitian Internasional</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                    </div>

                                </div>
                                

                            </div>

                            <div class="row">

                                
<div class="col-lg-4 col-xs-6">
                                    <div class="small-box small-box-uhamka bg-green">
                                        <div class="inner">
                                            <h3>Rp {{Penelitian_mandirisum|default(0)}}</h3>
                                            <div class="s1">{{Penelitian_mandiri|default(0)}} Penelitian Mandiri</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xs-12">
                                    <div class="small-box small-box-uhamka bg-maroon">  
                                        <div class="inner">
                                            <h3>Rp {{Penelitian_BRINsum|default(0)}}</h3>
                                            <div class="s1">{{Penelitian_BRIN|default(0)}} Publikasi Kementrian BRIN</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div> 
                                    </div>
                                </div>
                                <!--<div class="col-xs-4">

                                    <div class="small-box small-box-uhamka bg-blue">
                                        <div class="inner">
                                            <h3>{{pengabdianforum_ilmiah|default(0)}}</h3>
                                            <div class="s1">Pemakalah LPDP</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div> 
                                    </div>
                                </div>--> 


                            </div>


                            <div class="row"> 
                                <div class="col-lg-6 col-xs-12">

                                    <div class="small-box small-box-uhamka bg-yellow">
                                        <div class="inner">
                                            <h3>{{ totalanggaran|default(0) }}</h3>
                                            <div class="s1">Total Dana Penelitian</div> 
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-file-pdf-o" style="margin-top:10px"></i>
                                        </div>
                                        <a href="{{base_url()}}pengabdian/luaran/pforumilmiahs" class="small-box-footer">
                                            More info
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
