<footer class="main-footer"> 
    Copyright &copy; 2017 UHAMKA. All Rights Reserved. 
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.1
    </div>
</footer>

<div class="control-sidebar-bg"></div> 