<!-- UHAMKA -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='og:image' content='{{base_url()}}assets/images/uhamka.png'>
    <meta name='og:description' content='{{type}} - {{judul}}'>
    <title>UHAMKA - Data Object of Publication </title>
   
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{base_url()}}assets/bootstrap/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/font-awesome.css"> 

    <!-- DataTables -->
    <link rel="stylesheet" href="{{base_url()}}assets/plugins/datatables/dataTables.bootstrap.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/uhamka.css">
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/skins/skin-uhamka.css">
    
    <link rel="stylesheet" href="{{base_url()}}assets/dist/css/uhamka_add.css"> 


    {% include 'js.html' %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>