
<!-- jQuery 2.2.0 -->
<script src="{{base_url()}}assets/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{base_url()}}assets/plugins/jquery.query-object.js"></script>

<script src="{{base_url()}}assets/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{{base_url()}}assets/dist/js/app.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47274213-4', 'auto');
  ga('send', 'pageview');

</script>
