
                        <div class="box box-solid bg-gray color-palette">
                            
                            <div class="box-body">      
                      
                                <div class="lead mb-10">Search Data</div>  
                                {% set get_letter = get_request('letter') %}
                                <div class="alpa btn-toolbar mb-10"> 
                                  <div class="btn-group btn-group-sm">
                                    {% if get_letter==90 %}
                                    <button class="btn btn-default letter active" data-letter='90'>0-9</button>
                                    {% else %}
                                    <button class="btn btn-default letter" data-letter='90'>0-9</button>
                                    {% endif %}
                                    {% for letter in 'a'..'z' %}
                                    {% if get_letter==letter %}
                                    <button class="btn btn-default letter active" data-letter='{{letter}}'>{{letter|upper}}</button>
                                    {% else %}
                                    <button class="btn btn-default letter" data-letter='{{letter}}'>{{letter|upper}}</button>
                                    {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>  
                                     
                                  <div class="row"> 

                                      <div class="col-md-6">

                                          <form class="form-horizontal mb-10">
                                          
                                          <div class="input-group input-group-sm">
                                              {% set key = get_request('key') %}
                                              <input type="text" class="form-control" name="key" value="{{key}}">
                                              <span class="input-group-btn"> 
                                                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-caret-down"></span></button>
                                                  <button type="submit" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i> </button>
                                                  <!-- s:menu --> 
                                                  <div class="radiolist dropdown-menu"> 
                                                    <div class="form-group input-group-sm">
                                                        <div class="radio">
                                                          <label> 
                                                            <input type="radio" name="searchby" id="optionsRadios1" value="title" checked="">
                                                            Title
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="searchby" id="optionsRadios2" value="year">
                                                            Year
                                                          </label>
                                                        </div>  
                                                        <div class="divider"></div> 

                                                        <div class="radio">
                                                          <label> 
                                                            <input type="radio" name="order" id="optionsRadios4" value="desc" checked="">
                                                              Latest
                                                          </label>
                                                        </div> 
                                                         <div class="radio">
                                                          <label>
                                                            <input type="radio" name="order" id="optionsRadios5" value="asc">
                                                              Oldest
                                                          </label>
                                                        </div>
                                                        <div class="divider"></div> 

                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios6" value=5 checked="">
                                                            5
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios7" value=10>
                                                            10
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios8" value=20>
                                                            20
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios9" value=40>
                                                            40
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios10" value=60>
                                                            60
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios11" value=80>
                                                            80
                                                          </label>
                                                        </div> 
                                                        <div class="radio">
                                                          <label>
                                                            <input type="radio" name="views" id="optionsRadios12" value=100>
                                                            100
                                                          </label>
                                                        </div> 
                                                  </div>
                                                </div><!-- dropdown-menu -->

                                                <!-- s:menu -->
                                            </span>
                                        </div>   
                                        </form>
                                        

                                      </div><!-- col-md-6 .col-md-offset-6 -->

                                  </div><!-- row --> 

                            </div>
                            <!-- /.box-body -->
                        </div>

                        <p class="text-muted">
                            <h4>Hasil pencarian <b>{% if key %} {{key}} {% else %} {{type}} {% endif %}</b>, {{total}} hasil ditemukan</h4> 
                            <hr>
                        </p>


<script type="text/javascript">

$(document).ready(function(){

  $(".letter").click(function(){
      paging = $(this).data("letter");
      window.location.href = $.query.set("letter", paging);
  });
});

</script>