<!DOCTYPE html>

<!-- <?php $page="collection";?> -->
<!-- REQUIRED JS SCRIPTS -->
{# <?php include "_head.php";?> #}

{% include  'head.html' %}

<body class="hold-transition skin-uhamka layout-boxed sidebar-mini">

<div class="wrapper">  

      {# <?php include "_header.php";?>  #}
      {% include 'header.html' %}
      
      {# <?php include "_sidebar.php";?>  #}
      {% include 'sidebar.html' %} 


      {% block content %}
      {% endblock %}
      <!-- Main Footer -->
      {# <?php include "_footer.php";?> #}  
      {% include 'footer.html' %} 
      
      <div class="control-sidebar-bg"></div>  
</div>
<!-- ./wrapper --> 

</body>
</html>