{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Log Aktivitas <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li class="active">Log Aktivitas</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set nidn,nama,tanggal_mulai,tanggal_selesai,aksi,menu = request_get('nidn'),request_get('nama'),request_get('tanggal_mulai'),request_get('tanggal_selesai'),request_get('aksi'),request_get('menu') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">NIDN</label> 
                  <div class="col-sm-10">
                   <input type=" " class="form-control" id="nidn" name="nidn" placeholder="Dosen" value="{{nidn}}">
                  </div>
                </div> 
              <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Nama Dosen</label> 
                  <div class="col-sm-10">
                   <input type=" " class="form-control" id="nama" name="nama" placeholder="Dosen" value="{{nama}}">
                  </div>
                </div> 
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tanggal : </label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control pull-right time" name="tanggal_mulai" placeholder="dari tanggal" value={{tanggal_mulai}}>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control pull-right time" name="tanggal_selesai" placeholder="sampai tanggal" value={{tanggal_selesai}}>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Aksi :</label>
                <div class="col-sm-10">
                  <select class="form-control" name="aksi">
                    <option value="">Semua</option>
                    <option value="insert" {{set_select('aksi','insert','insert'==aksi)}}>Tambah</option>
                    <option value="edit" {{set_select('aksi','edit','edit'==aksi)}}>Ubah</option>
                    <option value="delete" {{set_select('aksi','delete','delete'==aksi)}}>Hapus</option>
                    <option value="validate" {{set_select('aksi','delete','delete'==aksi)}}>Validasi</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Menu :</label>
                <div class="col-sm-10">
                  <select class="form-control" name="menu">
                    <option value=''>Semua</option>
                    <option value="1" {{set_select('aksi','1','1'==menu)}}>Profile Pribadi</option>
                    <option value="2" {{set_select('aksi','2','2'==menu)}}>Kinerja/Luaran</option>
                    <option value="4" {{set_select('aksi','4','4'==menu)}}>Penelitian</option>
                    <option value="9" {{set_select('aksi','9','9'==menu)}}>Pengabdian</option>
                    <option value="3" {{set_select('aksi','3','3'==menu)}}>Pengguna Dosen</option>
                    <option value="5" {{set_select('aksi','5','5'==menu)}}>Surat Kontrak</option>
                    <option value="6" {{set_select('aksi','6','6'==menu)}}>Pengumuman</option>
                    <option value="7" {{set_select('aksi','7','7'==menu)}}>Konfigurasi</option>
                  </select>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Notifikasi</h3>
            </div><!-- .box-header -->
            {{ form_open('notif/markall/','data-toggle="validator"') }}
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-4">
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <label class="labelnya">Select all:</label>
                                <div class="formnya">
                                    <input type="checkbox" value="all" id="select_all" style="margin-top: 9px;">
                                </div>
                          </div>
                      </div>
                  </div> <!-- .row -->
                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 15%">Nama Dosen</th>
                                <th>Menu</th>
                                <th>Aksi</th>
                                <th>Aktivitas</th>
                                <th>Tanggal</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.dosen.nama}}
                                  </td>
                                  <td>{{item.menu_text}}</td>
                                  <td>{{item.aksi_text}}</td>
                                  <td>
                                      {{item.content}}
                                  </td>
                                  <td>
                                      {{item.created_at}}
                                  </td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th style="width: 10px">#</th>
                                <th style="width: 15%">Nama Dosen</th>
                                <th>Menu</th>
                                <th>Aksi</th>
                                <th>Aktivitas</th>
                                <th>Tanggal</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->
                  <div class="pull-right" style="padding-top:10px;">
                    <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>
                  </div>
            </div><!-- box_body -->
            </form>
        </div><!-- .box box-primary -->

    </section>
</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script>
$(document).ready(function(){

  $('.time').datepicker({
    timePicker: true, timePickerIncrement: 30,format:"yyyy-mm-dd", todayHighlight: false, forceParse: false});

  $('#select_all').click(function(event) {
      var state = this.checked; $(':checkbox').each(function() { this.checked = state; });
  });


  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
