{% extends 'template.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pengaturan <small> Peta Potensi Penelitian</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{base_url()}}home/"><i class="fa fa-home"></i> Beranda </a></li>
                <li>Konfigurasi</li>
                <li class="active"> Peta Potensi Penelitian </a></li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">

            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"> Peta Potensi Penelitian </h3>

                    <h4 class="box-title pull-right"><b>{% if jenpen.jenis_penelitian.nama %}{{jenpen.jenis_penelitian.nama ~ ' - '}}{% endif %}{{jenpen.nama}}{{jenpen.tahun.tahun}}<b></h4>
                </div><!-- .box-header -->

                <div class="box-body">
                    <div class="row mb-10"> 
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-sm btn-danger pull-left"  data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        </div>
                        <div class="col-sm-8">
                            <div class="box-tools settingnya"> 
                                <label class="labelnya">Tampil data:</label> 
                                <div class="formnya">  
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                    </select>
                                </div>   
                            </div> 
                        </div>  
                    </div>

                    <table width="99%" class="table table-bordered mb-0"> 
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Tahun</th> 
                                <th>Action</th>
                            </tr> 
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{loop.index+((page-1)*views)}}.</td>
                                    <td>
                                        {{item.tahun.tahun}}
                                    </td>
                                    <td> 
                                        <a href="{{base_url()}}pengaturan/petapotensi/petapotensidetail/{{item.id}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-book" data-toggle="tooltip" data-original-title="Detail"></i> </a>
                                        <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-jenis{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                        <a href="#" data-href="{{base_url()}}pengaturan/petapotensi/petapotensitahun/delete/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                                    </td>
                                    <div class="modal fade" id="edit-jenis{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        {{ form_open('pengaturan/petapotensi/petapotensitahun/edit/'~item.id,'data-toggle="validator"') }}
                                        <div class="vertical-alignment-helper">
                                            <div class="modal-dialog vertical-align-center">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Peta Potensi Penelitian</h4>
                                                    </div>
                                                    <div class="modal-body" id="validate_message">
                                                        <input type="hidden" id="id" name="id" value="{{item.id}}">
                                                        <div class="form-horizontal">
                                                            <div class="box-body"> 
                                                                <div class="form-group">
                                                                    <label for="" class="col-sm-3 control-label">Tahun</label> 
                                                                    <div class="col-sm-9">
                                                                      <select type="text" class="form-control" id="tahun" name="tahun" required data-remote="{{base_url()}}pengaturan/petapotensi/petapotensitahun/validator">
                                                                            <option value="">--PILIH--</option>
                                                                            {% for tah in tahuns %}
                                                                            <option value="{{tah.id}}">{{tah.tahun}}</option>
                                                                            {% endfor %}
                                                                      </select>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                                    <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div> 
                                </tr>
                            {% endfor %}
                            </tbody> 
                            <tfoot> 
                                <tr> 
                                    <th style="width: 10px">#</th>
                                    <th>Tahun</th>
                                    <th>Action</th>
                                </tr> 
                            </tr>
                        </tfoot> 
                    </table>   


            <ul class="pagination pull-right">
                {% for i in 1..total_pages %}
                    {% if page==i %}
                        <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                        <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('pengaturan/petapotensi/petapotensitahun/add/','data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Tambah Peta Potensi Penelitian</h4>
                            </div>
                            <div class="modal-body" id="validate_message">
                                <div class="form-horizontal">
                                    <div class="box-body"> 
                                        <input type="hidden" id="dosen" name="dosen" value="{{item.dosen.id}}">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Tahun</label> 
                                            <div class="col-sm-9">
                                                <select type="text" class="form-control" id="tahun" name="tahun" required data-remote="{{base_url()}}pengaturan/petapotensi/petapotensitahun/validator">
                                                    <option value="">--PILIH--</option>
                                                    {% for tah in tahuns %}
                                                    <option value="{{tah.id}}">{{tah.tahun}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix">  
            </div>
        </div><!-- box_body -->

    </div><!-- .box box-primary --> 

</section>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
    $(document).ready(function(){
        $( "#views" ).change(function() {
            var value = $("#views").val();
            window.location.href = $.query.set("views", value).set('page',1);
        });

        $(".paging").click(function(){
            paging = $(this).data("page");
            window.location.href = $.query.set("page", paging)
        })
    });
</script>
{% endblock %}