{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Penelitian <small> Usulan Proposal Penelitian </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Penelitian</li>
        <li>Usulan Proposal Penelitian</li>
        <li class="active">Detail Proposal Penelitian</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">   
        
          <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Detail Usulan Proposal Penelitian</h3>
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                </div>
                <!-- /.box-header -->  
                <div class="box-body">   
                <!-- s:xxxxxxxxxxxx --> 


                           <!-- s:11111111-->
                            <div class="box bordernya">
                                <div class="box-header with-border">
                                  <h3 class="box-title">  Identitas Dosen Pengusul </h3>
                                </div>
                                <!-- /.box-header --> 
                                <div class="box-body">

                                        <table class="table mb-0">  
                                          <tbody>
                                                <tr> 
                                                    <td style="width:20%;"> 
                                                       NIDN:
                                                    </td>
                                                    <td>
                                                      {{dosen.nidn}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Nama Dosen :
                                                    </td>
                                                    <td>
                                                       {{dosen.gelar_depan}} {{dosen.nama}} {{dosen.gelar_belakang}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Program Studi :
                                                    </td>
                                                    <td>
                                                       {{dosen.program_studi.nama}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Jabatan Akademis :
                                                    </td>
                                                    <td>
                                                       {{dosen.jabatan_akademik.nama}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Peran :
                                                    </td>
                                                    <td>
                                                       Ketua Peneliti
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                         Tahun Pelaksanaan :
                                                    </td>
                                                    <td>
                                                        {{tahun_kegiatan.tahun}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Batch Usulan :
                                                    </td>
                                                    <td>
                                                       {{batch.nama}} - {{batch.batch_penelitian.tahun.tahun}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                         Berkas Proposal:
                                                    </td>
                                                    <td>
                                                        {% if berkas %}
                                                        <a href="{{base_url()}}download?type=penelitian&id={{id}}&no=1" target="_blank" class="btn-sm btn btn-primary"> <i class="fa fa-file-pdf-o"> </i> Download Proposal Penelitian</a>
                                                        {% endif %}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Berkas Perbaikan :
                                                    </td>
                                                    <td>
                                                        {% if berkas_perbaikan %}
                                                        <a href="{{base_url()}}download?type=penelitian&id={{id}}&no=2" target="_blank" class="btn-sm btn btn-primary"> <i class="fa fa-file-pdf-o"> </i> Download Proposal Penelitian</a>
                                                        {% else %}
                                                        -
                                                        {% endif %}
                                                  
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Status Proposal :
                                                    </td>
                                                    <td>
                                                        {{status_text}}
                                                    </td> 
                                                </tr>  
                                          </tbody>   
                                      </table>
                                          
                                </div>
                                <!-- /.box-body -->  
                            </div>
                            <!-- e:111111111 -->    


                        <!-- S:TABING -->
                        <div class="nav-tabs-custom">
                              <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Identitas Usulan</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Atribut Usulan </a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Anggota Peneliti</a></li>
                                    <li><a href="#tab_4" data-toggle="tab">Biaya Usulan</a></li> 
                              </ul>
                              <div class="tab-content">  

                                    <div class="tab-pane active" id="tab_1">

                                         <table class="table mb-0">
                                            <tr> 
                                               <td style="width:12%;">  Judul : </td>
                                               <td> {{judul|upper}} </td>
                                            </tr>  
                                            <tr> 
                                               <td>  Abstrak : </td>
                                               <td>   
                                                  {{abstrak|nl2br}}
                                               </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Keyword : </td>
                                               <td>  {{keyword}}  </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Surel : </td>
                                               <td>  {{dosen.surel}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  No. HP : </td>
                                               <td>  {{dosen.hp}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Lokasi Penelitian : </td>
                                               <td>  {{lokasi}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Home Base : </td>
                                               <td>  {{dosen.program_studi.nama}} </td>
                                            </tr>  
                                        </table> 


                                        <div class="clearfix"></div>   
                                    </div>
                                    <!-- e:tab_1 -->

                                    <div class="tab-pane" id="tab_2"> 
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div style="background:#cc2327; padding: 20px; color:#fff;">
                                                        <h4>Luaran Wajib</h4>
                                                        <p>{{ luaran_wajib.target_luaran_sub.nama }}</p>
                                                        <p>{{ luaran_wajib.target_luaran_status.status }}</p>
                                                        <p>{{ luaran_wajib.rencana_jurnal }}</p>
                                                        <p>{{ luaran_wajib.url_jurnal }}</p>
                                                        <p>{{ luaran_wajib.bukti_luaran }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div style="background:#3E62DF; padding: 20px; color:#fff;">
                                                        <h4>Luaran Tambahan</h4>
                                                        <p>{{ luaran_tambahan.target_luaran_sub.nama }}</p>
                                                        <p>{{ luaran_tambahan.target_luaran_status.status }}</p>
                                                        <p>{{ luaran_tambahan.rencana_jurnal }}</p>
                                                        <p>{{ luaran_tambahan.url_jurnal }}</p>
                                                        <p>{{ luaran_tambahan.bukti_luaran }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- e:tab_2 -->

                                    <div class="tab-pane" id="tab_3">  

                                         <table class="table table-bordered mb-0">
                                          <thead>
                                                <tr>
                                                  <th style="width: 10px">#</th>
                                                  <th>NIDN</th>
                                                  <th style="width: 25%">Nama Dosen</th>
                                                  <th>Program Studi </th>
                                                  <th>Pendidikan Terakhir</th> 
                                                  <th>Jabatan Akademik</th>
                                                  <th>Status</th>
                                                </tr> 
                                          </thead>
                                          <tbody>
                                                {% for item in anggota %}
                                                <tr> 
                                                   <td> {{loop.index}}.  </td>
                                                   <td> {{item.dosen.nidn}} </td>
                                                   <td> {{item.dosen.nama_lengkap}} </td>
                                                   <td> {{item.dosen.program_studi.nama}} </td>
                                                   <td> {{item.dosen.jenjang_pendidikan}}  </td>
                                                   <td> {{item.dosen.jabatan_akademik.nama}} </td>
                                                   <td> 
                                                    {% if item.konfirmasi==0 %}
                                                    <span class="text-warning">Belum Konfirmasi</span>
                                                    {% elseif item.konfirmasi ==1 %}
                                                    <span class="text-success">Menyetujui</span>
                                                    {% else %}
                                                    <span class="text-danger">Menolak</span>
                                                    {% endif %}
                                                   </td>
                                                </tr>
                                                {% endfor %}
                                          </tbody> 
                                        </table> 
                                        <hr>
                                        <table class="table table-bordered mb-0"> 
                                            <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th> 
                                                    <th>NIM</th>  
                                                    <th style="width: 25%">Nama Mahasiswa</th>
                                                    <th>Program Studi</th>
                                                </tr> 
                                            </thead>
                                            <tbody>
                                                {% for item in anggotamhs %}
                                                <tr> 
                                                   <td> {{loop.index}}.  </td>
                                                   <td> {{item.mahasiswa.nim}} </td>
                                                   <td> {{item.mahasiswa.nama}} </td>
                                                   <td> {{item.mahasiswa.program_studi}} </td> 
                                                </tr>
                                                {% endfor %}
                                          </tbody>   
                                        </table> 

                                        <div class="clearfix"></div>   
                                    </div>
                                    <!-- e:tab_1 -->

                                    <div class="tab-pane" id="tab_4">  

                                        <table class="table mb-0">
                                            <tr> 
                                               <td style="width:30%;">  Total biaya yang diusulkan : </td>
                                               <td> Rp {{rp_total_biaya}},- </td>
                                            </tr>   

                                            <tr> 
                                               <td> <h4><b>Biaya Mandiri</b></h4>  </td>
                                               <td> </td>
                                            </tr> 
                                            <tr> 
                                               <td> Biaya Pribadi : </td>
                                               <td>  Rp {{rp_mandiri_biaya_total}},- </td>
                                            </tr> 
                                             <tr> 
                                               <td> Biaya dari instansi lain : </td>
                                               <td> Rp {{rp_mandiri_biaya_instansi}},- </td>
                                            </tr>  

                                            <tr> 
                                               <td> <h4><b>Isian Pengesahan</b></h4>  </td>
                                               <td> </td>
                                            </tr> 
                                            <tr> 
                                               <td> Kota Usulan  : </td>
                                               <td>  {{lokasi}}  </td>
                                            </tr> 
                                             <tr> 
                                               <td>  Jabatan yang Mengetahui  : </td>
                                               <td>  DEKAN </td>
                                            </tr> 
                                            <tr> 
                                               <td>  NIDN yang Mengetahui : </td>
                                               <td> {{dosen_mengetahui.nidn}}  </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Nama yang Mengetahui : </td>
                                               <td>   {{dosen_mengetahui.nama_lengkap}} </td>
                                            </tr> 
                                            <tr> 
                                               <td> NIDN yang Menyetujui  : </td>
                                               <td>  {{dosen_menyetujui.nidn}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Nama yang Menyetujui : </td>
                                               <td>  {{dosen_menyetujui.nama_lengkap}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Jabatan yang Menyetujui : </td>
                                               <td>  {{dosen_menyetujui.jabatan_pengesah.jabatan}} </td>
                                            </tr>   
                                        </table>  

                                        <div class="clearfix"></div>   
                                    </div>
                                     <!-- e:tab_2 -->
                                    
                              </div>
                              <!-- /.tab-content -->
                        </div>
                        <!-- E:TABING -->

                            
                               
                <!-- e:xxxxxxxxxxxx --> 
                </div>
                <!-- /.box-body --> 
          </div><!-- box utama --> 
        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}