{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Penelitian <small>Usulan Proposal Penelitian</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Penelitian</li>
        <li class="active">Usulan Proposal Penelitian</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">


        <!-- s:tabel jenis penelitian -->
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Penelitian</h3>  
            </div><!-- .box-header --> 
            <div class="box-body">   

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>   
                                <th>Jenis Penelitian</th>
                                <th>Keterangan</th>
                                {% if role('Dosen') %}
                                <th>Buat Penelitian</th> 
                                {% endif %}
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in jenis_penelitian %}
                                <tr>
                                    <td>{{loop.index}}.</td>
                                    <td> {{item.nama}}   </td>
                                    {% if item.active_batch is null %}
                                    <td> Tidak Tersedia </td>
                                    {% if role('Dosen') %}
                                    <td>  <a href="#" class="btn btn-sm btn-success pull-left disabled"> <i class="fa fa-plus"> </i> Tambah Penelitian </a>  </td>
                                    {% endif %}
                                    {% else %}
                                    <td> Tersedia </td>
                                    {% if role('Dosen') %}
                                    <td>  <a href="{{base_url()}}penelitians/add/jenis_penelitian/{{item.id}}/batch/{{item.active_batch.id}}" class="btn btn-sm btn-success pull-left"> <i class="fa fa-plus"> </i> Tambah Penelitian </a>  </td>
                                    {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %} 
                          </tbody>  
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row --> 

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 
  
        <!-- e:tabel jenis penelitian -->

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          
          <form class="form-horizontal">
            <div class="box-body">
                {% set dosen,judul,jenis_penelitians,batch,get_tahun_kegiatan,status = request_get('dosen'),request_get('judul'),request_get('jenis_penelitian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('status') %}
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label> 
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian : </label> 
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Penelitian" value="{{judul}}">
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Penelitian : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_penelitian" id="jenis_penelitian">
                        <option value="">Semua Jenis Penelitian</option>
                    {% for item in jenis_penelitian %}
                        <option value="{{item.id}}" {{set_select('jenis_penelitian',item.id,item.id==jenis_penelitians)}}>{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Penelitian : </label> 
                <div class="col-sm-10">

                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="status">
                        <option value="">Semua</option>
                        <option value="1" {{set_select('status',"1","1"==status)}}>Belum Submit</option>
                        <option value="2" {{set_select('status',"2","2"==status)}}>Proses Pengecekan</option>
                        <option value="3" {{set_select('status',"3","3"==status)}}>Proses Review</option>
                        <option value="7" {{set_select('status',"7","7"==status)}}>Proses Pengecekan Perbaikan</option>
                        <option value="9" {{set_select('status',"9","9"==status)}}>Perbaikan Belum Valid</option>
                        <option value="10" {{set_select('status',"10","10"==status)}}>Belum Valid</option>
                        <option value="11" {{set_select('status',"11","11"==status)}}>Diterima Dengan Perbaikan</option>
                        <option value="4" {{set_select('status',"4","4"==status)}}>Diterima</option>
                        <option value="12" {{set_select('status',"12","12"==status)}}>Ditolak</option>
                        <option value="3" {{set_select('status',"3","3"==status)}}>Belum</option>
                  </select>
                </div>
              </div> 

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Usulan Proposal Penelitian</h3> 
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>   
                      <div class="formnya">  
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>   
                      <label class="labelnya">Tampil data:</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                          </select>
                      </div>
                      {% if userinfo.akses.nama=="Operator Lemlitbang"  or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang" %}
                      <a href="{{base_url()}}penelitians/download?dosen={{dosen}}&judul={{judul}}&jenis_penelitian={{jenis_penelitians}}&batch={{batch}}&tahun_kegiatan={{get_tahun_kegiatan}}&status={{status}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> </a>
                      {% endif %}
                  </div>

            </div><!-- .box-header --> 
            <div class="box-body">   

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 25%">Nama Dosen</th>
                                <th>Judul Penelitian</th>
                                <th style="width: 12%">Jenis Penelitian</th>
                                <th style="width: 13%">Batch Penelitian</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in penelitian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>  
                                      {# {{ dump(item) }} #}
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}

                                      {% for anggotamhs in item.anggotamhs %}
                                      Anggota Mahasiswa {{loop.index}}: {{anggotamhs.mahasiswa.nama}} <br>
                                      {% endfor %}
                                  </td>
                                  <td>
                                      <a href="{{base_url()}}penelitians/detail/{{item.id}}">
                                          {{item.judul}}
                                      </a>
                                  </td>
                                  <td> 
                                       {{item.jenis_penelitian.nama}}
                                  </td>
                                  <td>
                                      {{item.batch.nama}} - {{item.batch.batch_penelitian.tahun.tahun}}
                                  </td>
                                  <td> <span class="text-danger">{{item.status_text}}</span> </td>
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td> 
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="7">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  {% include 'penelitian/usulan/status1.twig' %}
                                                  {% include 'penelitian/usulan/status2.twig' %}
                                                  {% include 'penelitian/usulan/status4.twig' %}
                                                  {% include 'penelitian/usulan/status10.twig' %}
                                                  {% include 'penelitian/usulan/status11.twig' %}
                                              </div>
                                          </div> 
                                      </td>
                                </tr>
                                {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th>#</th> 
                                <th>Nama Dosen</th>
                                <th>Judul Penelitian</th>
                                <th>Jenis Penelitian</th>
                                <th>Batch Penelitian</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                  </ul>

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })

  $('.confirm-submit').on('show.bs.modal', function(e) {
      if (!$(this).find('.disabled')){
        return;
      }
      // console.log($(this).find('.disabled'));
      else $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });


  $('.modal-konfirmasi').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });

  // $("#jenis_penelitian").change(function(){
  //   jenis_penelitian = $("#jenis_penelitian").val();
  //   $.get("{{base_url()}}batchpenelitians/json/"+jenis_penelitian,function(data){
  //     data = $.parseJSON(data);
  //     var output='';
  //     output += '<option value="">Tahun</option>';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["tahun"]["tahun"]+'</option>';
  //     }
  //     $("#tahun_kegiatan").empty();
  //     $("#tahun_kegiatan").append(output);
  //   });
  // });

  // $( "#tahun_kegiatan" ).change(function() {
  //   tahun_kegiatan = $("#tahun_kegiatan").val();

  //   $.get("{{base_url()}}batchs/json/"+tahun_kegiatan, function( data ) {
  //     data = $.parseJSON(data);
  //     var output='';
  //     for(var i=0;i<data.length;i++){
  //       output+='<option value="'+data[i]["id"]+'">'+data[i]["nama"]+'</option>';
  //     }
  //     $("#batch").empty();
  //     $("#batch").append(output);
  //   });

  // });
});
</script>
{% endblock %}