{% if (item.status=='11' or item.status=='9') and role('Dosen') and item.dosen.id==userinfo.id %}
<div class="pull-left">
    <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-perbaikan{{item.id}}"> Upload Perbaikan </a>
</div>
<div class="pull-left">
  &nbsp;
</div>
<div class="modal fade modal-upload in" id="modal-perbaikan{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Upload Perbaikan</h4> </div>
          <div class="modal-body">

              {{ form_open_multipart('penelitians/perbaikan','class="form-horizontal formx" data-id="'~item.id~'"') }}
                  <div class="form-group">

                    <label for="" class="col-sm-2 control-label"> Berkas </label>
                    <div class="col-sm-10">
                       <input type="hidden" class="penelitian" name="penelitian" value="{{item.id}}">
                       <input type="file" id="icondemo" data-id="{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                       <div class="bootstrap-filestyle input-group">
                          <input type="text" class="form-control " placeholder="" id="filename{{item.id}}" readonly="">
                          <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label for="icondemo" class="btn btn-warning ">
                              <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                              <span class="buttonText">Select File</span>
                            </label>
                          </span>
                        </div>
                        <small>*Ukuran maksimum file 5mb</small><br>
                        <span id="warning{{item.id}}" class="text-danger"></span>
                    </div> <!-- col-sm-10 -->
                  </div>
                  <div class="tc">
                    <button type="submit" class="btn btn-success disabled" id="submit_upload{{item.id}}">Upload</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                  </div>

              </form>

          </div>
        </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
$(document).ready(function(){
  $("input[name='file']").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    var id = $(this).data('id');
    $("#filename"+id).val(fileName);
    $("#warning"+id).empty('');
    $("#submit_upload"+id).removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>5000000){
      $("#warning"+id).append('File Size more than 5 MB');
      $("#submit_upload"+id).addClass('disabled');
    }
  });
  $(".formx").submit(function(e){
      console.log("waw");
      var id = $(this).data('id');
      if($("#submit_upload"+id).hasClass('disabled')){
        e.preventDefault();
      }
  });
});
 </script>
{% endif %}
{% if (item.status=="11" or item.status=="9") and role("Operator Lemlitbang") %}
 <div class="pull-right" style="margin-right: 10px;">
    <a href="#" data-href="{{base_url()}}penelitians/tolak/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-tolak">Tolak Penelitian</a>
 </div>
 <div class="modal fade" id="confirm-tolak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-body" id="validate_message">
              <h3>Anda yakin untuk menolak Penelitian?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-info btn-ok">Tolak</a>
            </div>
        </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
$(document).ready(function(){
  $('#confirm-tolak').on('show.bs.modal', function(e) {
      $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
});
 </script>
{% endif %}
{% if (item.status=="7") and userinfo.akses.nama=="Operator Lemlitbang" %}
<div class="pull-left">
    <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-cek{{item.id}}"> Pengecekan Proposal </a>
</div>
<div class="modal fade modal-cek modal-pengecekan" id="modal-cek{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Validasi Perbaikan Penelitian</h4>
          </div>
            <div class="modal-body tc">
                  <!-- form start -->
                  {{form_open('penelitians/validasi_perbaikan','class="form-horizontal" data-toggle="validator"')}}
                        <div class="form-group" style="margin-bottom:15px;">
                          <label for="inputEmail3" class="col-sm-4 control-label">Berkas Original :</label>
                          <div class="col-sm-8">
                             <a href="{{base_url()}}download?type=penelitian&id={{item.id}}&no=1" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Berkas Proposal </a>
                          </div>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                          <label for="inputPassword3" class="col-sm-4 control-label">Berkas Perbaikan :</label>
                          <div class="col-sm-8">
                               <a href="{{base_url()}}download?type=penelitian&id={{item.id}}&no=2" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Berkas Perbaikan </a>
                          </div>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                          <label for="inputEmail3" class="col-sm-4 control-label">Pengecekan :</label>
                          <div class="col-sm-8">
                                  <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="valid" name="isvalid" value="1" required checked>Terima</label>
                                  <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="invalid" name="isvalid" value="0" required>Tolak</label>
                          </div>
                        </div>
                        <input type="hidden" name="penelitian" id="penelitian" value="{{item.id}}">
                        <div class="form-group" style="margin-bottom:15px;">
                          <label for="inputPassword3" class="col-sm-4 control-label">Alasan :</label>
                          <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="alasan{{item.id}}" name="alasan" disabled></textarea>
                          </div>
                        </div>

                        <div class="tc">
                          <button type="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          <button type="submit" id="submit" class="btn btn-success">Kirim</button>
                        </div>

                  </form>
            </div> <!-- .modal-body -->
        </div>
    </div>
  </div>
</div>
{% endif %}
