{% set isanggota,anggotaid,konfirmasi = false,0,false %}
{% for anggota in item.anggota %}
  {% if anggota.anggota==userinfo.id %} {% set isanggota,anggotaid,konfirmasi= true, anggota.id, (anggota.konfirmasi==1 or anggota.konfirmasi==2) %} {% endif %}
{% endfor %}
{% if (item.status=='1' or item.status=='10') and isanggota == true and konfirmasi== false %}
<div class="pull-left">  
    <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-konfirmasi{{item.id}}"> Konfirmasi Anggota </a>    
</div>
<div class="pull-left"> 
  &nbsp;
</div>
<div class="modal fade modal-konfirmasi" id="modal-konfirmasi{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-content"> 
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title" id="mySmallModalLabel">Konfirmasi Anggota</h4> </div> 
          <div class="modal-body tc">  
                <a href="{{base_url()}}penelitians/konfirmasi/{{anggotaid}}/1" class="btn btn-success btn-ok" ><i class="fa fa-check"></i> Terima</a>
                <a href="{{base_url()}}penelitians/konfirmasi/{{anggotaid}}/0" type="button" class="btn btn-danger"><i class="fa fa-times"></i> Tolak</a> 
          </div> 
        </div>
    </div>
  </div>
</div>
{% endif %}
{% if (item.status=="1" and item.dosen.id==userinfo.id) %}
 <div class="pull-right"> 
    <a href="{{base_url()}}penelitians/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
    <a href="#" data-href="{{base_url()}}penelitians/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
    <a href="#" data-href="{{base_url()}}penelitians/submit/{{item.id}}" class="btn-sm btn btn-success" data-toggle="modal" data-target="#modal-submit{{item.id}}">Submit</a>
 </div>
 <div class="modal fade confirm-submit" id="modal-submit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content"> 
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title" id="mySmallModalLabel">Submit Proposal Penelitian</h4> </div> 
          <div class="modal-body tc">
                <p>
                    Apakah anda yakin ingin submit proposal penelitian? <br>
                    Proposal penelitian tidak bisa di ubah stelah di submit. <br>
                    Dosen Anggota penelitian harus sudah konfirmasi: 
                </p>
                <p> 
                   {% set disabled,css='false','success' %}
                   {% for anggota in item.anggota %}
                    {% if anggota.konfirmasi==0 or anggota.konfirmasi==2 %} {% set disabled,css='true','warning'  %} {% endif %}
                    {{loop.index}}. {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}} 
                    <i class="text-{{css}}">{{anggota.konfirmasi_text}}</i><br>
                    {% endfor %}<br>
                </p>
                {% if disabled=='true' %}
                <a disabled="disabled" class="btn btn-success btn-ok disabled"><i class="fa fa-check"></i> Ya</a>
                {% else %}
                <a class="btn btn-success btn-ok"><i class="fa fa-check"></i> Ya</a>
                {% endif %}
                <button type="button" class="btn btn-danger"  data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button> 
          </div> 
        </div>
    </div>
  </div>
</div>
{% endif %}