{% if (item.status=="1" or item.status=="10" or item.status=="2") and role("Operator Lemlitbang") %}
<div class="pull-left">
    {% if userinfo.akses.nama=="Operator Lemlitbang" %}
     <a href="#" data-href="{{base_url()}}penelitians/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
    {% endif %}
    <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-cek{{item.id}}"> Pengecekan Proposal </a>
</div>
<div class="modal fade modal-cek modal-pengecekan" id="modal-cek{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          	<h4 class="modal-title" id="mySmallModalLabel">Validasi Proposal Penelitian</h4>
      	  </div>
	          <div class="modal-body tc">

	                <!-- form start -->
	                {{form_open('penelitians/validasi','class="form-horizontal" data-toggle="validator"')}}
	                      <div class="form-group" style="margin-bottom:15px;">
	                        <label for="inputEmail3" class="col-sm-3 control-label">Pengecekan :</label>
	                        <div class="col-sm-9">
	                                <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="valid" name="isvalid" value="1" required checked>Valid</label>
	                                <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="invalid" name="isvalid" value="0" required>Belum Valid</label>
	                        </div>
	                      </div>
	                      <input type="hidden" name="penelitian" id="penelitian" value="{{item.id}}">
	                      <div class="form-group" style="margin-bottom:15px;">
	                        <label for="inputPassword3" class="col-sm-3 control-label">Alasan :</label>
	                        <div class="col-sm-9">
	                          <textarea class="form-control" rows="3" id="alasan{{item.id}}" name="alasan" disabled></textarea>
	                        </div>
	                      </div>

	                      <div class="tc">
	                        <button type="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
	                        <button type="submit" id="submit" class="btn btn-success">Kirim</button>
	                      </div>

	                </form>
	          </div> <!-- .modal-body -->
        </div>
    </div>
  </div>
</div>
{% endif %}
{% if item.status=="3" and (userinfo.akses.nama=="Operator Lemlitbang"  or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
 <div class="pull-right">
   {% if userinfo.akses.nama=="Operator Lemlitbang" %}
    <a href="#" data-href="{{base_url()}}penelitians/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
   {% endif %}
    <a href="{{base_url()}}penelitians/pilih_reviewer/{{item.id}}" class="btn-sm btn btn-success">Pilih Reviewer</a>
 </div>
{% endif %}
<script>
$(document).ready(function(){
	$(".valid").click(function(){
		var iddiv = $(this).data("id");
		$("#submit").removeClass('disabled');
		$("#alasan"+iddiv).prop("disabled",true);
		$("#alasan"+iddiv).attr("required",false);
	});
	$(".invalid").click(function(){
		var iddiv = $(this).data("id");
		$("#alasan"+iddiv).prop("disabled",false);
		$("#alasan"+iddiv).attr("required",true);
	});
});
</script>
