{% if item.status=='10' or item.status=='9' or (item.status=='7' and item.alasan!="") %}
<div class="pull-left">
    <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-hasil{{item.id}}"> Hasil Pengecekan </a>
</div>
<div class="modal fade modal-hasil_pengecekan" id="modal-hasil{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Hasil Pengecekan Proposal</h4> </div>
          <div class="modal-body">
                <p>
                    <b>Hasil Pengecekan :</b> <br>
                    Belum Valid
                </p>
                <p>
                    <b>Alasan :</b> <br>
                    {{item.alasan|nl2br}}
                </p>
                <div class="tc">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="pull-left">
  &nbsp;
</div>
{% endif %}
{% if item.status=="10" and item.dosen.id==userinfo.id %}
 <div class="pull-right">
    <a href="{{base_url()}}penelitians/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
    <a href="#" data-href="{{base_url()}}penelitians/submit/{{item.id}}" class="btn-sm btn btn-success" data-toggle="modal" data-target="#modal-submit{{item.id}}">Submit</a>
 </div>
 <div class="modal fade confirm-submit" id="modal-submit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Submit Proposal Penelitian</h4> </div>
          <div class="modal-body tc">
                <p>
                    Apakah anda yakin ingin submit proposal penelitian? <br>
                    Proposal penelitian tidak bisa di ubah stelah di submit. <br>
                    Dosen Anggota penelitian harus sudah konfirmasi:
                </p>
                <p>
                   {% set disabled='false' %}
                   {% for anggota in item.anggota %}
                    {% if anggota.konfirmasi==0 %} {% set disabled='true' %} {% endif %}
                    {{loop.index}}. {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}} <i class="text-success">{{anggota.konfirmasi_text}}</i><br>
                    {% endfor %}<br>
                </p>
                {% if disabled=='true' %}
                <a disabled="disabled" class="btn btn-success btn-ok disabled"><i class="fa fa-check"></i> Ya</a>
                {% else %}
                <a class="btn btn-success btn-ok"><i class="fa fa-check"></i> Ya</a>
                {% endif %}
                <button type="button" class="btn btn-danger"  data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
          </div>
        </div>
    </div>
  </div>
</div>
{% endif %}
