{{ form_open('penelitians/step7','class="form-horizontal moving" id="step7" data-toggle="validator"') }}
<div class="box-body">  
     

          <!-- s: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->  

            <!-- s:11111111-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title">  </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body"> 
                       <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Judul</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="judul_step7">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Abstrak</label> 
                          <div class="col-sm-10">
                            <textarea class="form-control" rows="5" disabled id="abstrak_step7"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Keyword</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="keyword_step7">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Email</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="dosen_surel_step7">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">No HP</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="dosen_hp_step7">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Lokasi Penelitian</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="lokasi_step7">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Home Base</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="dosen_program_studi_step7">
                          </div>
                        </div> 
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:111111111 -->    


            <!-- s:222-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Identitas Dosen Pengusul </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body">   
                      <input type="hidden" class="penelitian_id" id="penelitian_step7" name="penelitian">
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">NIDN</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="dosen_nidn_step7">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Nama Dosen</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="dosen_nama_step7">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Program Studi</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="dosen_program_studi2_step7">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Jabatan Akademis</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="dosen_jabatan_akademik_step7">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Peran</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="Ketua Peneliti">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Tahun Pelaksanaan</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="tahun_step7">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Batch Usulan</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="batch_step7">
                        </div>
                      </div>  
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:222 -->   


            <!-- s:333-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Atribut Luaran Penelitian </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body"> 
                    
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Luaran Wajib</label> 
                      <div class="col-sm-10">
                        <div style="height:120px">
                          <ul id="list-luaran-wajib-step7"></ul>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">Luaran Tambahan</label> 
                      <div class="col-sm-10">
                        <div style="height:120px">
                          <ul id="list-luaran-tambahan-step7"></ul>
                        </div>
                      </div>
                    </div> 
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:333 -->   

            <!-- s:444-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Anggota Peneliti Dosen </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body">   

                    <table class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th> 
                            <th style="width: 25%">Nama Dosen</th>
                            <th>Program Studi</th>
                            <th>Jabatan Akademik</th>  
                          </tr> 
                      </thead>
                      <tbody id="tbody_step7">

                      </tbody>  
                  </table>   
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:444-->   

            <!-- s:444-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Anggota Peneliti Mahasiswa </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body">   

                    <table class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th> 
                            <th>NIM</th>  
                            <th style="width: 25%">Nama Mahasiswa</th>
                            <th>Program Studi</th>
                          </tr> 
                      </thead>
                      <tbody id="tbody2_step7">

                      </tbody>  
                  </table>   
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:444-->  

            <!-- s:555-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Biaya Usulan </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body"> 

                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Total biaya yang diusulkan</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="total_biaya_step7">
                          </div>
                        </div>

                        <br><h4 class="">Biaya Mandiri</h4>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Biaya Pribadi</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="mandiri_total_biaya_step7" >
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Biaya dari instansi lain</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="mandiri_biaya_instansi_step7" >
                          </div>
                        </div>

                        <br><h4 class="">Isian Pengesahan</h4>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Kota usulan</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="lokasi_pengusulan_step7" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Jabatan yang mengetahui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="dosen_mengetahui_jabatan_fungsi_step7" value="Dekan" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">NIDN yang mengetahui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" disabled id="dosen_mengetahui_nidn_step7" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Nama yang mengetahui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" id="dosen_mengetahui_nama_step7" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">NIDN yang menyetujui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" id="dosen_menyetujui_nidn_step7" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Nama yang menyetujui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" id="dosen_menyetujui_nama_step7" disabled>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Jabatan yang menyetujui</label> 
                          <div class="col-sm-10">
                              <input type="" class="form-control" id="dosen_menyetujui_jabatan_fungsi_step7" disabled>
                          </div>
                        </div> 
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:555 -->   

            <!-- s:666-->
            <div class="box bordernya">
                <div class="box-header with-border">
                  <h3 class="box-title"> Berkas Proposal  </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start --> 
                <div class="box-body"> 

                   <a href="#" id="berkas_step7" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Berkas Proposal </a>  </td>  
                    
                </div>
                <!-- /.box-body -->  
            </div>
            <!-- e:666-->  
             
          <!-- e: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  --> 

</div>
<div class="box-footer tc"> 
  <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
  <button type="submit" class="btn btn-success">  Selesai <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">

</script>