{{ form_open('penelitians/step2','class="form-horizontal moving" id="step2" data-toggle="validator"') }}
<div class="box-body">  

    <!-- s:Personil Dosen-->
    <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Identitas Dosen Usulan</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          
              <div class="box-body">
                 
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">NIDN</label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.nidn}}">
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Nama Dosen</label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.gelar_depan}} {{userinfo.nama}} {{userinfo.gelar_belakang}}">
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Program Studi </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.program_studi.nama}}">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Jabatan Akademis </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.jabatan_akademik.nama}}">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Peran </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Ketua Peneliti">
                    </div>
                  </div> 
                  <input type="hidden" class="penelitian_id" name="penelitian">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Tahun Pelaksanaan </label> 
                    <div class="col-sm-10"> 
                        <select class="form-control" name="tahun" required>
                          <option value="">-List Tahun Pelaksanaan-</option>
                          {% for item in tahun %}
                            <option value="{{item.id}}" {{set_select("tahun",item.id,item.id==penelitian.tahun_kegiatan.id)}}>{{item.tahun}}</option>
                          {% endfor %}
                        </select> 
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Batch Usulan </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" placeholder="Batch 1 - 2016" value="{{batch_data.batch_penelitian.tahun.tahun}}{{penelitian.batch.batch_penelitian.tahun.tahun}} - {{batch_data.batch_lists.nama}}{{penelitian.batch.batch_lists.nama}}">
                    </div>
                  </div> 

                  
              </div>
              <!-- /.box-body --> 
        
          <!-- e:form search -->  

      </div>
      <!-- e:Personil Dosen -->  

</div>
<!-- /.box-body -->
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <button type="submit" class="btn btn-success next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#step2").ajaxForm(function() { 
      // e.preventDefault();
  }); 
});
</script>