{{ form_open_multipart('penelitians/step6','class="form-horizontal moving" id="step6"') }}
<div class="box-body">  

      <!-- s:Personil Dosen-->
      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start --> 
          <div class="box-body"> 
                <div class="alert alert-success fade" id="step6_notif">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> Berkas berhasil di upload!
                </div>
                <div class="form-group"> 
                  <input type="hidden" class="penelitian_id" id="penelitian_step6" name="penelitian">
                  <label for="" class="col-sm-2 control-label"> Berkas proposal penelitian </label>   
                  <div class="col-sm-10">  
                     <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                     <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename" required>
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="icondemo" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                            <span class="buttonText">Select File</span>
                          </label>
                        </span>
                      </div>
                      <small>*File yang diunggah harus dengan format .pdf dan maksimum 10mb</small><br>
                      <span id="warning" class="text-danger"></span>
                  </div> <!-- col-sm-10 -->
                </div>
                <div class="form-group"> 
                  <label for="" class="col-sm-2 control-label"></label>   
                  <div class="col-sm-10">  
                    <div class="progress">
                      <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        <span class="sr-only percent"></span>
                      </div>
                    </div>
                  </div> <!-- col-sm-10 -->
                </div>
          </div>

          <div class="box-footer tc"> 
            <button type="submit" class="btn btn-success disabled" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button>  
          </div>
          <!-- /.box-body -->  
          <!-- e:form search -->  
      </div>
      <!-- e:Personil Dosen -->  

</div>
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <a href="#" class="btn btn-success next {% if addmode %} disabled {% endif %}" id="step6_next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></a>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    var bar = $('.bar');
    var percent = $('.percent');


  $("input[name='file']").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename").val(fileName);
    $("#warning").empty('');
    $("#submit_upload").removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning").append('File Size more than 10 MB');
      $("#submit_upload").addClass('disabled');
    }
    var percentVal = '0%';
    bar.width(percentVal);
    percent.html(percentVal);
  });

  $("#step6_next").click(function(){
    populateStep7();
  });

  $("#step6").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      populateStep7();
      $("#step6_notif").addClass("in");
      $("#step6_next").removeClass('disabled');
    }
  });

  function populateStep7(){
    var penelitian = $("#penelitian_step6").val();
    $.getJSON("{{base_url()}}penelitians/json/"+penelitian,function(result){
      console.log(result);
        $("#tbody_step7").empty();
        var data="";
        for(var i= 0; i<result.anggota.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result.anggota[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result.anggota[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result.anggota[i].dosen.jabatan_akademik.nama+'</td>';
          data += '</tr>';
        }
        $("#tbody_step7").append(data);
        
        $("#tbody2_step7").empty();
        var data2="";
        for(var i= 0; i<result.anggotamhs.length;i++){
          data2 += '<tr>';
          data2 += '<td>'+(i+1)+'</td>';
          data2 += '<td>'+result.anggotamhs[i].mahasiswa.nim+'</td>';
          data2 += '<td>'+result.anggotamhs[i].mahasiswa.nama+'</td>';
          data2 += '<td>'+result.anggotamhs[i].mahasiswa.program_studi+'</td>';
          data2 += '</tr>';
        }
        $("#tbody2_step7").append(data2);

        $("#judul_step7").val(result.judul);
        $("#abstrak_step7").val(result.abstrak);
        $("#keyword_step7").val(result.keyword);
        $("#dosen_surel_step7").val(result.dosen.surel);
        $("#dosen_hp_step7").val(result.dosen.hp);
        $("#lokasi_step7").val(result.lokasi);
        $("#dosen_program_studi_step7").val(result.dosen.program_studi.nama);

        $("#dosen_nidn_step7").val(result.dosen.nidn);
        $("#dosen_nama_step7").val(result.dosen.nama_lengkap);
        $("#dosen_program_studi2_step7").val(result.dosen.program_studi.nama);
        $("#dosen_jabatan_akademik_step7").val(result.dosen.jabatan_akademik.nama);
        $("#tahun_step7").val(result.tahun_kegiatan.tahun);
        $("#batch_step7").val(result.batch.batch_penelitian.tahun.tahun+" - "+result.batch.nama);
        
        if(result.luaran_wajib){
          var luaran_wajib_step7 = '<li>'+result.luaran_wajib.target_luaran_sub.nama+'</li>'
          luaran_wajib_step7 += '<li>'+result.luaran_wajib.rencana_jurnal+'</li>'
          luaran_wajib_step7 += '<li>'+result.luaran_wajib.url_jurnal+'</li>'
          luaran_wajib_step7 += '<li>'+result.luaran_wajib.target_luaran_status.status+'</li>'
          luaran_wajib_step7 += '<li>'+result.luaran_wajib.bukti_luaran+'</li>'
        }
        
        $("#list-luaran-wajib-step7").html(luaran_wajib_step7)
        
        if(result.luaran_tambahan){
          var luaran_tambahan_step7 = '<li>'+result.luaran_tambahan.target_luaran_sub.nama+'</li>'
          luaran_tambahan_step7 += '<li>'+result.luaran_tambahan.rencana_jurnal+'</li>'
          luaran_tambahan_step7 += '<li>'+result.luaran_tambahan.url_jurnal+'</li>'
          luaran_tambahan_step7 += '<li>'+result.luaran_tambahan.target_luaran_status.status+'</li>'
          luaran_tambahan_step7 += '<li>'+result.luaran_tambahan.bukti_luaran+'</li>'
        }

        $("#list-luaran-tambahan-step7").html(luaran_tambahan_step7)        

        $("#total_biaya_step7").val("Rp. "+result.rp_total_biaya+",-");
        $("#mandiri_total_biaya_step7").val("Rp. "+result.rp_mandiri_biaya_total+",-");
        $("#mandiri_biaya_instansi_step7").val("Rp. "+result.rp_mandiri_biaya_instansi+",-");
        $("#lokasi_pengusulan_step7").val(result.lokasi);
        if(result.dosen_mengetahui){
          // $("#dosen_mengetahui_jabatan_fungsi_step7").val(result.dosen_mengetahui.jabatan_fungsional.nama);
          $("#dosen_mengetahui_nidn_step7").val(result.dosen_mengetahui.nidn);
          $("#dosen_mengetahui_nama_step7").val(result.dosen_mengetahui.nama_lengkap);
        }
        if(result.dosen_menyetujui){
          $("#dosen_menyetujui_nama_step7").val(result.dosen_menyetujui.nama_lengkap);
          $("#dosen_menyetujui_nidn_step7").val(result.dosen_menyetujui.nidn);
          $("#dosen_menyetujui_jabatan_fungsi_step7").val(result.dosen_menyetujui.jabatan_pengesah.jabatan);
        }
        $("#berkas_step7").attr("href", "{{base_url()}}uploads/penelitians/"+result.berkas)
    });
  }
});
</script>