{{ form_open('penelitians/step1','class="form-horizontal moving" id="step1" data-toggle="validator"') }}
<div class="box-body">  

                <!-- s:Personil Dosen-->
                <div class="box bordernya">
                      <div class="box-header with-border">
                        <h3 class="box-title">Identitas Usulan</h3>
                      </div>
                      <!-- /.box-header -->
                      <!-- form start -->
                          <div class="box-body">
                               <input type="hidden" class="penelitian_id" name="penelitian" value="{{penelitian.id}}">
                               <input type="hidden" name="jenis_penelitian" value="{{jenis_penelitian}}{{penelitian.jenis_penelitian}}" required>
                               <input type="hidden" name="batch" value="{{batch}}{{penelitian.batch.id}}" required>
                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Judul</label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" name="judul" placeholder="Judul" required autocomplete="off" value="{{penelitian.judul}}">
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Abstrak</label> 
                                <div class="col-sm-10">
                                  <textarea class="form-control" rows="3" name="abstrak" placeholder="" required autocomplete="off" >{{penelitian.abstrak}}</textarea>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label"> Keyword </label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" id="" name="keyword" placeholder="Keyword" required autocomplete="off" value="{{penelitian.keyword}}">
                                </div>
                              </div> 

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label"> Lokasi Penelitian </label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" id="" name="lokasi" placeholder="Lokasi Penelitian" required autocomplete="off" value="{{penelitian.lokasi}}">
                                </div>
                              </div> 

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label"> Email </label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" disabled id="" name="email" value="{{userinfo.surel}}" required>
                                </div>
                              </div> 

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label"> No HP </label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" disabled id="" name="no" value="{{userinfo.hp}}" required>
                                </div>
                              </div> 

                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label"> Home Base </label> 
                                <div class="col-sm-10">
                                  <input type="" class="form-control" disabled id="" name="fakultas" value="{{userinfo.program_studi.nama}}" required>
                                </div>
                              </div> 

                              
                          </div>
                          <!-- /.box-body --> 
                     
                      <!-- e:form search -->  

                  </div>
                  <!-- e:Personil Dosen -->  

</div>

<div class="box-footer tc">  
    <button type="submit" class="btn btn-success mr-10 next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#step1").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
        result= $.parseJSON(responseText);
          $(".penelitian_id").val(result.id);
          $("#step5_lokasi").val(result.lokasi);
          $("#nidn_anggota").attr('data-remote','{{base_url()}}penelitians/checkanggota/?jenis_penelitian={{jenis_penelitian}}{{penelitian.jenis_penelitian}}&penelitian='+result.id);
          $(".nim").attr('data-remote','{{base_url()}}penelitians/checkanggotamhs/?jenis_penelitian={{jenis_penelitian}}{{penelitian.jenis_penelitian}}&penelitian='+result.id);
          // console.log('{{base_url()}}penelitians/checkanggota/?jenis_penelitian={{jenis_penelitian}}&penelitian='+result.id);
          console.log($("#nidn_anggota").data('waw'));
      }
  }); 
});
</script>