<div class="form-horizontal moving">
<div class="box-body" id="body-anggota">  

    <!-- s:Personil Dosen-->
    <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Tambah Anggota Dosen</h3>
          </div>
          <!-- /.box-header -->
          {{ form_open('penelitians/step4','class="form-horizontal" id="step4" data-toggle="validator"') }}
          <div class="form-horizontal" action="">
          <!-- form start --> 

          <div class="box-body">  

                
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">NIDN</label> 
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="hidden" id="id_anggota" name="anggota" value="" required>
                      <input type="hidden" class="penelitian_id" id="penelitian" name="penelitian" value="{{penelitian.id}}">
                      <input type="text" class="form-control" name="nidn" value="" id="nidn_anggota">
                      <span class="input-group-btn">
                        <button type="button" id="search" class="btn btn-info btn-flat">Cari</button>
                      </span>
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div> 
                 <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Nama Dosen </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="nama_step4" placeholder="">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Program Studi </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="programstudi_step4" placeholder="">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Jenjang Pendidikan </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="jenjang_step4" placeholder="">
                    </div>
                  </div> 


                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Jabatan Akademik </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="jatabanakademik_step4" placeholder="">
                    </div>
                  </div>
                  <input type="hidden" name="peran" value="1" required>

{#                   <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Peran Personil </label> 
                    <div class="col-sm-10">
                        <select class="form-control" name="peran">
                              <option value="1">Dosen</option>
                              <option value="2">Reviewer</option> 
                        </select>
                    </div>
                  </div>   #}  
                
              </div>
              <!-- /.box-body -->  
              <div class="box-footer tc">  
                <button type="submit" class="btn btn-danger" id="submit_anggota"> <i class="fa fa-plus"> </i> Tambah </button>
              </div>
              <!-- /.box-footer -->
          </div> 
              </form>
              <!-- e:form search -->  
      </div>
      <!-- e:Personil Dosen -->  




    <!-- s:syarat-->
    <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Catatan</h3>
          </div>
          <!-- /.box-header --> 
          
          <!-- form start --> 
          <div class="box-body"> 

              {{notes|nl2br}}

          </div>
          <!-- /.box-body -->   
          
    </div>
    <!-- e:syarat -->   

    <!-- s:tabel-->
    <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Anggota Dosen</h3>
          </div>
          <!-- /.box-header -->  
          <!-- form start --> 
          <div class="box-body"> 



              <table class="table table-bordered mb-0"> 
                  <thead>
                      <tr>
                        <th style="width: 10px">#</th> 
                        <th style="width: 25%">Nama Dosen</th>
                        <th>NIDN</th>
                        <th>Program Studi</th>
                        <th>Jabatan Akademik</th> 
                        <th>Action</th>
                      </tr> 
                  </thead>
                  <tbody id="tbody">

                  </tbody>  
              </table>   

               
              
          </div>
          <!-- /.box-body -->   
    </div>
    <!-- e:tabel -->   

  <!-- s:form add anggota -->  
  {{ form_open('penelitians/step4anggotamhs','class="form-horizontal" id="step4anggotamhs" data-toggle="validator"') }}
  <div class="form-horizontal" action=""> 
    <input type="hidden" class="penelitian_id" id="penelitian" name="penelitian" value="{{penelitian.id}}">
    <div class="box bordernya">
      <div class="box-header with-border">
          <h3 class="box-title">Anggota Mahasiswa</h3>
          <button type="submit" class="btn btn-sm btn-danger pull-right" id="submit_anggotamhs"  > <i class="fa fa-plus"> </i> Tambah Anggota</button>
          <a href="#" id="add_anggota" style="display:none;" class="btn btn-sm btn-danger pull-right"> <i class="fa fa-plus"> </i> Tambah Anggota </a>
      </div>
      <div class="form-horizontal">
          <div class="box-body">
              <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th style="width: 10px">#</th>
                          <th>Nama</th>
                          <th>NIM</th>
                          <th>Jurusan/Program Studi</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody id="dynamic_field">
                      <tr id="rowss1"> 
                          <td style="width: 10px">1</td>
                          <td>
                              <input type="text" class="form-control nama" data-row-id="'+i+'" id="nama'+i+'" name="nama" placeholder="Nama">
                          </td>
                          <td><input type="text" class="form-control nim" data-row-id="'+i+'" id="nim'+i+'" name="nim" placeholder="NIM"></td>
                          <td><input type="text" class="form-control program_studi" data-row-id="'+i+'" id="program_studi'+i+'" name="program_studi" placeholder="Program Studi"></td> 
                          <td><button type="reset" name="remove"   class="btn btn-danger btn_remove"><i class="fa fa-close"></i></button></td>
                      </tr>
                  </tbody> 
              </table>
          </div>
      </div>
    </div> 
  </div> 
  </form>
  <!-- e:form add anggota -->  



</div>
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <a href="#" class="btn btn-success next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></a>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#search").click(function(){
      $("#id_anggota").val("");
      $("#nama_step4").val("");
      $("#programstudi_step4").val("");
      $("#jenjang_step4").val("");
      $("#jatabanakademik_step4").val("");
      var nidn = $("#nidn_anggota").val();
      $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
      data = $.parseJSON(data);
      console.log(data);
      try{
        $("#id_anggota").val(data[0]["id"]);
        $("#nama_step4").val(data[0]["nama_lengkap"]);
        $("#programstudi_step4").val(data[0]["program_studi"]["nama"]);
        $("#jenjang_step4").val(data[0]["jenjang_pendidikan"]);
        $("#jatabanakademik_step4").val(data[0]["jabatan_akademik"]["nama"]);
      }catch(error){}
  });
  });
 


  $("#step4anggotamhs").ajaxForm({//console.log('wkwk2');
    beforeSubmit:function(){//console.log('wkwk1');
        if($("#submit_anggotamhs").hasClass('disabled')){//console.log('wkwk3');
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      //console.log("mantul");
      refreshTableMhs();
      refreshTable();
    }
  });
  $("#step4").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_anggota").hasClass('disabled')){
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      refreshTable();
      refreshTableMhs();
    }
  });
  function refreshTableMhs(){
    $("#tbody").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/step4_anggotamhs/"+penelitian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].mahasiswa.nama+'</td>';
          data += '<td>'+result[i].mahasiswa.nim+'</td>';
          data += '<td>'+result[i].mahasiswa.program_studi+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggotamhs" data-link="{{base_url()}}penelitians/step4_hapusmhs/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        data += '<tr id="row'+i+'" class="dynamic-added">'
        +'<td style="width: 10px"></td>'
        +'<td>'
          +'<input type="text" class="form-control nama" data-row-id="'+i+'" id="nama'+i+'" name="nama" placeholder="Nama"></td>'
        +'<td><input type="text" class="form-control nim" data-row-id="'+i+'" id="nim'+i+'" name="nim" placeholder="NIM"></td>'
        +'<td><input type="text" class="form-control program_studi" data-row-id="'+i+'" id="program_studi'+i+'" name="program_studi" placeholder="Program Studi"></td>'
        +'<td><button type="reset" name="remove" id="'+i+'" class="btn btn-danger btn_remove"><i class="fa fa-close"></i></button></td>'
        +'</tr>';

        $("#dynamic_field").html(data);
        $(".hapus_anggotamhs").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTableMhs();
          });
        });
        //current_height= $("#body-anggota").height();
        //$(".content-wrapper").height(current_height+450);
    });
  }
  function refreshTable(){
    $("#tbody").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/step4_anggota/"+penelitian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}penelitians/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
        current_height= $("#body-anggota").height();
        $(".content-wrapper").height(current_height+450);
    });
  }
})
</script>