{{ form_open('penelitians/step3','class="form-horizontal moving" id="step3" data-toggle="validator" role="form" data-disable="false" ') }}
<div class="box-body">  
  <div class="container" style="padding-top: 30px;">
    <div class="jumbotron" style="background-color: bisque;">
      <h4>Luaran yang harus dihasilkan adalah : </h4>      
      <p><strong>{{ janji_luaran.informasi|nl2br }}</strong></p>
    </div>  
  </div>  
  <div class="box bordernya">
      <div class="box-header with-border">
        <h3 class="box-title">Atribut Luaran Penelitian</h3>
      </div>          
      <div class="box-body"> 
          <input type="hidden" class="penelitian_id" name="penelitian" value="{{penelitian.id}}">
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"><h4><strong>Luaran Wajib</strong></h4></label> 
              <div class="col-sm-9"><h4>
                <a href="#" class="btn btn-primary confirmation {{ penelitian.luaran_wajib ? 'disabled' : '' }}" title="Toggle" data-toggle="modal" id="modal-add-luaran-wajib" data-target="#add-luaran-wajib"><i class="fa fa-plus"></i></a>
              </h4></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-3 control-label">&nbsp;</label> 
              <div class="col-sm-9"> 
              <div style="height:120px">
                <ul id="list-luaran-wajib">
                    {% if penelitian.luaran_wajib %}
                      <li>{{ penelitian.luaran_wajib.target_luaran_sub.nama }}</li>
                      <li>{{ penelitian.luaran_wajib.target_luaran_status.status }}</li>
                      <li>{{ penelitian.luaran_wajib.rencana_jurnal }}</li>
                      <li>{{ penelitian.luaran_wajib.bukti_luaran }}</li>
                      <li>{{ penelitian.luaran_wajib.url_jurnal }}</li>
                    {% endif %}
                </ul>
                <div id="list-luaran-wajib-edit-box">
                {% if penelitian.luaran_wajib %}
                  <a href="#" class="btn btn-warning confirmation edit-luaran-wajib" title="Toggle" data-toggle="modal" data-id="{{ penelitian.id }}" data-target="#edit-luaran-wajib"><i class="fa fa-pencil"></i></a>
                {% endif %}
                </div>
              </div>
              </div>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-3 control-label"><h4><strong>Luaran Tambahan</strong></h4></label> 
              <div class="col-sm-9"> <h4>
                <a href="#" class="btn btn-primary confirmation {{ penelitian.luaran_tambahan ? 'disabled' : '' }}" title="Toggle" data-toggle="modal" id="modal-add-luaran-tambahan" data-target="#add-luaran-tambahan"><i class="fa fa-plus"></i></a>
              </h4></div>
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-12">
              <label class="col-sm-3 control-label">&nbsp;</label> 
              <div class="col-sm-9"> 
              <div style="height:120px">
                <ul id="list-luaran-tambahan">
                  {% if penelitian.luaran_tambahan %}
                    <li>{{ penelitian.luaran_tambahan.target_luaran_sub.nama }}</li>
                    <li>{{ penelitian.luaran_tambahan.target_luaran_status.status }}</li>
                    <li>{{ penelitian.luaran_tambahan.rencana_jurnal }}</li>
                    <li>{{ penelitian.luaran_tambahan.bukti_luaran }}</li>
                    <li>{{ penelitian.luaran_tambahan.url_jurnal }}</li>
                  {% endif %}
                </ul>
                <div id="list-luaran-tambahan-edit-box">
                {% if penelitian.luaran_tambahan %}
                  <a href="#" class="btn btn-warning confirmation edit-luaran-tambahan" title="Toggle" data-toggle="modal" data-id="{{ penelitian.id }}" data-target="#edit-luaran-tambahan"><i class="fa fa-pencil"></i></a>
                {% endif %}
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <button type="submit" id="submit_step3" class="{{ penelitian.luaran_tambahan ? '' : 'disabled' }} {{ penelitian.luaran_wajib ? '' : 'disabled' }} btn btn-success next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>

<div class="modal fade" id="add-luaran-wajib" tabindex="-1" role="dialog"  aria-hidden="true">
  <form action="/penelitians/addluaranwajib" id="form_luaran_wajib" data-toggle="validator" method="post" accept-charset="utf-8">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Isi Luaran Wajib</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                  <div class="box-body"> 
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Kategori Luaran</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_target_luaran_master__wajib" name="target_luaran_master">
                          <option value="">Pilih Kategori Luaran</option> 
                          {% for luaran_master in target_luaran_master %}
                            <option value="{{ luaran_master.id }}">{{ luaran_master.nama }}</option> 
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <input type="hidden" class="penelitian_id" name="penelitian">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Luaran</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_luaran__wajib" name="target_luaran_sub">
                          <option value="">-------</option> 
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="label_rencana_jurnal_wajib" class="col-sm-4 control-label">Rencana Jurnal</label> 
                      <div class="col-sm-8">
                        <label id="rencana_jurnal__wajib" class="control-label"></label> 
                        <textarea id="rencana_jurnal__wajib_input" name="rencana_jurnal" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="label_url_jurnal_wajib" class="col-sm-4 control-label">URL</label> 
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="url_jurnal" placeholder="URL" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Status</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_status__wajib" name="target_luaran_status">
                          <option value="">-------</option> 
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Bukti Luaran</label> 
                      <div class="col-sm-8">
                        <label id="bukti_luaran__wajib" class="control-label"></label>
                        <input type="hidden" class="form-control" id="bukti_luaran__wajib_input" name="bukti_luaran" placeholder="Bukti Luaran" required>
                      </div>
                    </div>
                  </div>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" id="submit_luaran_wajib" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>


<div class="modal fade" id="add-luaran-tambahan" tabindex="-1" role="dialog"  aria-hidden="true">
  <form action="/penelitians/addluarantambahan" id="form_luaran_tambahan" data-toggle="validator" method="post" accept-charset="utf-8">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Isi Luaran Tambahan</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                  <div class="box-body"> 
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Kategori Luaran</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_target_luaran_master__tambahan" name="target_luaran_master">
                        <option value="">Pilih Kategori Luaran</option>
                        {% for luaran_master in target_luaran_master %}
                          <option value="{{ luaran_master.id }}">{{ luaran_master.nama }}</option> 
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                      <input type="hidden" class="penelitian_id" name="penelitian">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Luaran</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_luaran__tambahan" name="target_luaran_sub">
                          <option value="">-------</option>  
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="label_rencana_jurnal_tambahan" class="col-sm-4 control-label">Rencana Jurnal</label> 
                      <div class="col-sm-8">
                        <textarea id="rencana_jurnal__tambahan_input" name="rencana_jurnal" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label id="label_url_jurnal_tambahan" class="col-sm-4 control-label">URL</label> 
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="url_jurnal" placeholder="URL" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Status</label> 
                      <div class="col-sm-8">
                        <select class="form-control" id="select_status__tambahan" name="target_luaran_status">
                          <option value="">-------</option>  
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Bukti Luaran</label> 
                      <div class="col-sm-8">
                        <label id="bukti_luaran__tambahan" class="control-label"></label>
                        <input type="hidden" class="form-control" id="bukti_luaran__tambahan_input" name="bukti_luaran" placeholder="Bukti Luaran" required>
                      </div>
                    </div>
                  </div>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" id="submit_luaran_tambahan" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="edit-luaran-wajib" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="hasil-data-edit-luaran-wajib"></div>
</div>

<div class="modal fade" id="edit-luaran-tambahan" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="hasil-data-edit-luaran-tambahan"></div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  $('#step3').validator()

  $('#select_target_luaran_master__wajib').on('change', function() {
    var id_target_luaran_master = this.value;
    
    $.getJSON("{{base_url()}}pengaturan/penelitian/targetluaranmasters/json/"+id_target_luaran_master,function(result){
        let data_select_luaran_wajib = result.target_luaran_sub.map ( result => {
          return '<option value="'+result.id+'">'+result.nama+'</option>'
        })
        
        var data_merge_luaran_wajib = '<option value="">Pilih</option>'+data_select_luaran_wajib.join('');
        $("#select_luaran__wajib").html(data_merge_luaran_wajib);
        let data_select_status_wajib = result.target_luaran_status.map ( result => {
          return '<option value="'+result.id+'">'+result.status+'</option>'
        })
        
        var data_merge_status_wajib = '<option value="">Pilih</option>'+data_select_status_wajib.join('');
        $("#select_status__wajib").html(data_merge_status_wajib);
        $('#label_rencana_jurnal_wajib').html(result.catatan1);
        $("#bukti_luaran__wajib").html(result.catatan2)
        $("#bukti_luaran__wajib_input").val(result.catatan2)
    });
  });
  
  $("#form_luaran_wajib").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_luaran_wajib").hasClass('disabled')){
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      refreshListLuaranWaJib(false);
      if($("#submit_step3").hasClass('disabled')){
        $("#submit_step3").removeClass('disabled')
      }
      $("#submit_step3").removeClass('disabled')
      $('#add-luaran-wajib').modal('hide');
    }
  });
  
  function refreshListLuaranWaJib(isEdit){
    $('#modal-add-luaran-wajib').addClass('disabled');
    $("#list-luaran-wajib").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/luaranwajibbypenelitian/"+penelitian, function(result){
        let data_res_luaran_wajib = result.map ( res => {
          return '<li>'+res.target_luaran_sub.nama+'</li>'
                    +'<li>'+res.target_luaran_status.status+'</li>'
                    +'<li>'+res.rencana_jurnal+'</li>'
                    +'<li>'+res.bukti_luaran+'</li>'
                    +'<li>'+res.url_jurnal+'</li>'
        });
        $("#list-luaran-wajib").append(data_res_luaran_wajib);
        if(!isEdit){
          $("#list-luaran-wajib-edit-box").append('<a href="#" class="btn btn-warning confirmation edit-luaran-wajib" title="Toggle" data-toggle="modal" data-id="'+penelitian+'" data-target="#edit-luaran-wajib"><i class="fa fa-pencil"></i></a>');
        }
    });
  }
  
  $('#select_target_luaran_master__tambahan').on('change', function() {
    var id_target_luaran_master = this.value;

    $.getJSON("{{base_url()}}pengaturan/penelitian/targetluaranmasters/json/"+id_target_luaran_master,function(result){
        let data_select_luaran_tambahan = result.target_luaran_sub.map ( result => {
          return '<option value="'+result.id+'">'+result.nama+'</option>'
        })
        var data_merge_luaran_tambahan = '<option value="">Pilih</option>'+data_select_luaran_tambahan.join('');
        $("#select_luaran__tambahan").html(data_merge_luaran_tambahan);
        let data_select_status_tambahan = result.target_luaran_status.map ( result => {
          return '<option value="'+result.id+'">'+result.status+'</option>'
        })
        var data_merge_status_tambahan = '<option value="">Pilih</option>'+data_select_status_tambahan.join('');
        $("#select_status__tambahan").html(data_merge_status_tambahan);
        $('#label_rencana_jurnal_tambahan').html(result.catatan1);
        $("#bukti_luaran__tambahan").html(result.catatan2)
        $("#bukti_luaran__tambahan_input").val(result.catatan2)
    });
  });

  $("#form_luaran_tambahan").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_luaran_tambahan").hasClass('disabled')){
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      refreshListLuarantambahan(false);
      $("#submit_step3").removeClass('disabled')
      $('#add-luaran-tambahan').modal('hide');
    }
  });

  function refreshListLuarantambahan(isEdit){
    $('#modal-add-luaran-tambahan').addClass('disabled');
    $("#list-luaran-tambahan").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/luarantambahanbypenelitian/"+penelitian, function(result){
        let data_res_luaran_tambahan = result.map ( res => {
            return '<li>'+res.target_luaran_sub.nama+'</li>'
                      +'<li>'+res.target_luaran_status.status+'</li>'
                      +'<li>'+res.rencana_jurnal+'</li>'
                      +'<li>'+res.bukti_luaran+'</li>'
                      +'<li>'+res.url_jurnal+'</li>'
        });
        $("#list-luaran-tambahan").append(data_res_luaran_tambahan);
        if(!isEdit){
          $("#list-luaran-tambahan-edit-box").append('<a href="#" class="btn btn-warning confirmation edit-luaran-tambahan" data-id="'+penelitian+'" title="Toggle" data-toggle="modal" data-target="#edit-luaran-tambahan"><i class="fa fa-pencil"></i></a>');
        }
    });
  }
  
  var currIndex= $("#target_luaran > *").length;
  $("#tambahinstansi").click(function(){
    if (currIndex>=3){
        $("#tambahinstansi").addClass("disabled");
    }
  label = "Target Luaran Penelitian";
  if (currIndex >=1){
    label ="";
  }
  currIndex++;
  var content = '   <div class="col-sm-12" style="padding-top: 10px;">'
                +'      <label for="" class="col-sm-3 control-label">'+label+'</label> '
                +'      <div class="col-sm-9"> '
                +'          <select class="form-control" name="targets[]" required>'
                +'            {% for item in target_luaran %}'
                +'                <option value="{{item.id}}"> {{item.nama}} </option> '
                +'            {% endfor %}'
                +'          </select> '
                +'      </div>'
                +'      <button type="button" class="close close-div" style="padding: 16px 12px 0px 0px;" aria-label="Close">'
                +'        <span aria-hidden="true">&times;</span>'
                +'      </button>'
                +'    </div>';
      $("#target_luaran").append(content);
      var current_height= $("#step4").height();
      $(".content-wrapper").height(current_height+400);
      
      trigger();
      return false;
  });

  trigger();
  function trigger(){
    $(".close").click(function(){
      var div = $(this).parent();
      div.remove();
      $("#step4").validator('update');
      currIndex = $("#target_luaran > *").length;
      if (currIndex < 4){
         $("#tambahinstansi").removeClass("disabled");
      }
      return false;
    });
  }

  $("#satuan").change(function(){
    var satuan = $("#satuan").val();
    $('#lama').empty();
    if(satuan=="bulan"){
      var items = ["6","7","8","9","10","11","12"];
      $.each(items, function (i, item) {
          $('#lama').append($('<option>', { 
              value: item,
              text : item 
          }));
      });
    }else{
      var items = ["1","2"];
      $.each(items, function (i, item) {
          $('#lama').append($('<option>', { 
              value: item,
              text : item 
          }));
      });
    }
  });

  var checker = setInterval(function(){
    var satuan = $("#satuan").val();
    if(satuan=="bulan"){
      var lama = parseInt($("#lama").val());
      if(lama<6 || lama>12){
        $('#lama').empty();
        var items = ["6","7","8","9","10","11","12"];
        $.each(items, function (i, item) {
            $('#lama').append($('<option>', { 
                value: item,
                text : item 
            }));
        });
      }
    }
  }, 500);
  
  $("#step3").ajaxForm({
    beforeSubmit :function(arr, $form, option){

    },
    success:function() { 
    $("#tbody").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/step4_anggota/"+penelitian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}penelitians/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
    });
  }});
  
  function refreshTable(){
    $("#tbody").empty();
    var penelitian = $("#penelitian").val();
    $.getJSON("{{base_url()}}penelitians/step4_anggota/"+penelitian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}penelitians/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
        current_height= $("#body-anggota").height();
        $(".content-wrapper").height(current_height+350);
    });
  }
  
  $('#edit-luaran-wajib').on('show.bs.modal', function(e) {
    var idx = $(e.relatedTarget).data('id')
    $.ajax({
       type : 'post',
       url : '/penelitians/luaranwajibeditform',
       data :  {id: idx},
       success : function(data){
        $('.hasil-data-edit-luaran-wajib').html(data);
       }
     })
  });
 
  $('#edit-luaran-wajib').on('hidden.bs.modal', function () {
    refreshListLuaranWaJib(true)
    $('.hasil-data-edit-luaran-wajib').html('');
  });
  
  $('#edit-luaran-tambahan').on('show.bs.modal', function(e) {
  var idxx = $(e.relatedTarget).data('id')
  $.ajax({
     type : 'post',
     url : '/penelitians/luarantambahaneditform',
     data :  {id: idxx},
     success : function(data){
      $('.hasil-data-edit-luaran-tambahan').html(data);
     }
   })
  });

  $('#edit-luaran-tambahan').on('hidden.bs.modal', function () {
    $('.hasil-data-edit-luaran-tambahan').html('');
    refreshListLuarantambahan(true)
    $('#edit-luaran-tambahan').removeAttr("style");
  });


});
</script>