<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENNSI</h1>
  <!-- <div style="border: 1px solid #c1c1c1;"> -->
    <h2>Luaran Penelitian</h2> 
    <hr>
    <table style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%">
	      <tr style="background-color: #f1f1f1;"> 
	         <td style="text-align: left;padding: 8px;width:35%;border-top: 1px solid #f4f4f4;"> Judul Penelitian : </td>
	         <td style="text-align: left;padding: 8px;width:63%;border-top: 1px solid #f4f4f4;"> {{judul}} </td>
	      </tr> 
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Ketua Peneliti : </td>
	         <td> </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Nama : </td>
	         <td> {{dosen.nama_lengkap}} </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> NIDN : </td>
	         <td> {{dosen.nidn}} </td>
	      </tr> 
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Jabatan Fungsional : </td>
	         <td> {{dosen.jabatan_fungsional.nama}} </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Program Studi : </td>
	         <td> {{dosen.program_studi.nama}} </td>
	      </tr>
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Anggota Peneliti : </td>
	         <td> {{anggota|length}} Orang </td>
	      </tr>
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Lama Penelitian : </td>
	         <td> {{lama}}  Hari </td>
	      </tr> 
	      <tr style="background-color: #f1f1f1;"> 
	         <td>Biaya yang Disetujui : </td>
	         <td> Rp. {{penelitian_review_inselected.0.rp_rekomendasi}}  </td>
	      </tr> 
  	</table>

  	<br><br>
  	  <h2 class="box-title">Kriteria Penilaian</h2>
  	  <hr>
      <table style="border: 1px solid #cecece;width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
	    <thead>
	      <tr>
	        <th style="width: 30px;background-color: #f1f1f1;font-size:10px;">No</th> 
	        <th style="width: 30%;background-color: #f1f1f1;" colspan="2">Komponen Penilaian</th>
	        <th style="background-color: #f1f1f1;"></th>
	        <th style="background-color: #f1f1f1;">Keterangan</th>
	        <th style="background-color: #f1f1f1;">Bobot(%)</th> 
	        <th style="width: 14%;background-color: #f1f1f1;">Skor</th>
	        <th style="background-color: #f1f1f1;">Nilai</th>
	      </tr> 
	    </thead>
	    <tbody>
	      <tr>
	        <td rowspan="3" style="width: 30px;border: 1px solid #cecece;">1</td>
	        <td rowspan="3" style="width: 30%;border: 1px solid #cecece;">Publikasi Ilmiah</td>
	        <td style="border: 1px solid #cecece;">Internasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.publikasi_ilmiah_internasional}}</td>
	        <td rowspan="3"  style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data1}}</td>
	        <td rowspan="3"  style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[0]}}</td>
	        <td rowspan="3"  style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[0]}}</td>
	      </tr>
	      <tr>
	        <td  style="border: 1px solid #cecece;">Nasional</td>
	        <td  style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.publikasi_ilmiah_nasional}}</td>
	      </tr>
	      <tr>
	        <td  style="border: 1px solid #cecece;">Nasional ber-ISSN</td>
	        <td  style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.publikasi_ilmiah_nasionalberissn}}</td>
	      </tr>
	      <tr>
	        <td  style="border: 1px solid #cecece;">2</td>
	        <td colspan="2"  style="border: 1px solid #cecece;">Buku</td>
	        <td  style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.buku}}</td>
	        <td  style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data2}}</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[1]}}</td>
	        <td  style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[1]}}</td>
	      </tr>
	      <tr>
	        <td rowspan="3"  style="border: 1px solid #cecece;">3</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">Pembicara Pada Pertemuan Ilmiah</td>
	        <td style="border: 1px solid #cecece;">Ilmiah</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.forum_ilmiah}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data3}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[2]}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[2]}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Internasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.forum_internasional}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Nasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.forum_nasional}}</td>
	      </tr>
	      <tr>
	        <td rowspan="3" style="border: 1px solid #cecece;">4</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">Sebagai Invited Speaker</td>
	        <td style="border: 1px solid #cecece;">Internasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.speaker_internasional}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data4}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[3]}}</td>
	        <td rowspan="3" style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[3]}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Nasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.speaker_nasional}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Regional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.speaker_regional}}</td>
	      </tr>
	      <tr>
	        <td rowspan="2" style="border: 1px solid #cecece;">5</td>
	        <td rowspan="2" style="border: 1px solid #cecece;">Undangan Sebagai Visiting Scientist</td>
	        <td style="border: 1px solid #cecece;">Internasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.visiting_internasional}}</td>
	        <td rowspan="2" style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data5}}</td>
	        <td rowspan="2" style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[4]}}</td>
	        <td rowspan="2" style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[4]}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Nasional</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.visiting_nasional}}</td>
	      </tr>
	      <tr>
	        <td rowspan="6" style="border: 1px solid #cecece;">6</td>
	        <td rowspan="6" style="border: 1px solid #cecece;">Capaian Luaran Lainnya</td>
	        <td style="border: 1px solid #cecece;">HKI</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_hki}}</td>
	        <td rowspan="6" style="border: 1px solid #cecece;">{{jenis_penelitian.bobot_luaran_aktif.data6}}</td>
	        <td rowspan="6" style="border: 1px solid #cecece;">{{monev_nilai_luaran.skor[5]}}</td>
	        <td rowspan="6" style="border: 1px solid #cecece;">{{monev_nilai_luaran.nilai[5]}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Tak Tepat Guna</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_taktepat}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Rekayasa Sosial</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_sosial}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Jejaring Kerjasama</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_kerjasama}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Penghargaan</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_penghargaan}}</td>
	      </tr>
	      <tr>
	        <td style="border: 1px solid #cecece;">Luaran Lainnya</td>
	        <td style="border: 1px solid #cecece;">{{monev_nilai_luaran.content.luaran_lainnya}}</td>
	      </tr>
	    </tbody> 
	    <tfoot>
	      <tr> 
	        <th colspan="4" style="border: 1px solid #cecece;">
	          Total
	        </th>
	        <th style="border: 1px solid #cecece;">
	          100%
	        </th>
	        <th style="border: 1px solid #cecece;">
	          <span id="total_skor">{{monev_nilai_luaran.total_skor}}</span>
	        </th>
	        <th style="border: 1px solid #cecece;">
	          <span id="total_nilai">{{monev_nilai_luaran.total_nilai}}</span>
	        </th>
	      </tr>
	    </tfoot>
	  </table>
	  <br><br>
	  <div>Keterangan:</div>
	  <div>{{monev_nilai_luaran.komentar|nl2br}}</div>
</body>
</html>