<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENNSI</h1>
  <!-- <div style="border: 1px solid #c1c1c1;"> -->
    <h2>Proses Penelitian</h2> 
    <hr>
    <table style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%">
	      <tr style="background-color: #f1f1f1;"> 
	         <td style="text-align: left;padding: 8px;width:35%;border-top: 1px solid #f4f4f4;"> Judul Penelitian : </td>
	         <td style="text-align: left;padding: 8px;width:63%;border-top: 1px solid #f4f4f4;"> {{judul}} </td>
	      </tr> 
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Ketua Peneliti : </td>
	         <td> </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Nama : </td>
	         <td> {{dosen.nama_lengkap}} </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> NIDN : </td>
	         <td> {{dosen.nidn}} </td>
	      </tr> 
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Jabatan Fungsional : </td>
	         <td> {{dosen.jabatan_fungsional.nama}} </td>
	      </tr>
	      <tr> 
	         <td style="text-align: left;padding: 8px;text-indent: 30px;width:35%;border-top: 1px solid #f4f4f4;"> Program Studi : </td>
	         <td> {{dosen.program_studi.nama}} </td>
	      </tr>
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Anggota Peneliti : </td>
	         <td> {{anggota|length}} Orang </td>
	      </tr>
	      <tr style="background-color: #f1f1f1;"> 
	         <td> Lama Penelitian : </td>
	         <td> {{lama}}  Hari </td>
	      </tr> 
	      <tr style="background-color: #f1f1f1;"> 
	         <td>Biaya yang Disetujui : </td>
	         <td> Rp. {{penelitian_review_inselected.0.rp_rekomendasi}}  </td>
	      </tr> 
  	</table>

  	<br><br>
  	  <h2 class="box-title">Kriteria Penilaian</h2>
  	  <hr>
      <table style="border: 1px solid #cecece;width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
	    <thead>
	      <tr>
	        <th style="width: 30px;background-color: #f1f1f1;font-size:10px;">No</th> 
	        <th style="width: 30%;background-color: #f1f1f1;" colspan="2">Kriteria</th>
	        <th style="width: 30%;background-color: #f1f1f1;">Indikator Penilaian</th>
	        <th style="background-color: #f1f1f1;">Bobot(%)</th> 
	        <th style="width: 40px;background-color: #f1f1f1;">Skor</th>
	        <th style="width: 40px;background-color: #f1f1f1;">Nilai</th>
	      </tr> 
	    </thead>
	    <tbody>
            {% for i in jenis_penelitian.active_bobothasil %}
              <tr>
                  <td style="width: 30px;border: 1px solid #cecece;"> {{loop.index}}. </td>
                  <td style="width: 30%;border: 1px solid #cecece;"> 
                      {{i.nama}}
                  </td>
                  <td style="width: 30%;border: 1px solid #cecece;">
                      {{i.indikator|nl2br}}
                  </td>
                  <td style="border: 1px solid #cecece;">
                      <span id="bobotstep3{{i.id}}">{{i.bobot}}</span>
                  </td> 
                  <td style="width: 40px;border: 1px solid #cecece;"> 
                      {{monev_nilai_hasil.skor[loop.index0]}} 
                  </td> 
                  <td style="width: 40px;border: 1px solid #cecece;">
                      {{monev_nilai_hasil.nilai[loop.index0]}}
                  </td>
              </tr>
            {% endfor %}
        </tbody> 
	    <tfoot>
	      <tr> 
	        <th colspan="3" style="border: 1px solid #cecece;">
	          Total
	        </th>
	        <th style="border: 1px solid #cecece;">
	          100%
	        </th>
	        <th style="border: 1px solid #cecece;">
	          <span id="total_skor">{{monev_nilai_luaran.total_skor}}</span>
	        </th>
	        <th style="border: 1px solid #cecece;">
	          <span id="total_nilai">{{monev_nilai_luaran.total_nilai}}</span>
	        </th>
	      </tr>
	    </tfoot>
	  </table>
	  <br><br>
	  <div>Keterangan:</div>
	  <div>{{monev_nilai_luaran.komentar|nl2br}}</div>
</body>
</html>