{% extends login ? "template.twig" : "template_nonlogin.twig" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Kinerja <small>Penyelenggara Forum Ilmiah</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li>Tambah Data Penyelenggara Forum Ilmiah</li>
        <li class="active"> Detail </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Detail Penyelenggara Forum Ilmiah</h3> 
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body"> 



                  <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Personil Dosen</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Nama Dosen: </td>
                                <td> {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}</td>
                            </tr>
                            <tr>
                                <td> NIDN: </td>
                                <td> {{item.dosen.nidn}} </td>
                            </tr>
                            <tr>
                                <td> Program Studi: </td>
                                <td> {{item.dosen.program_studi.nama}} </td>
                            </tr> 
                      </tbody>  
                  </table>     

                  <table width="100%" class="table table-bordered table-striped"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Data Penyelenggara Forum Ilmiah</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td> Nama Kegiatan: </td>
                                <td> {{item.nama}} </td>
                            </tr>
                            <tr>
                                <td> Unit Pelaksana: </td>
                                <td> {{item.unit}} </td>
                            </tr> 
                            <tr> 
                                <td> Mitra / Sponsorship :</td> <td> {{item.mitra}} </td>  
                            </tr>
                            <tr>
                                <td> Tanggal :</td> <td> {{item.waktu}} </td>  
                            </tr>
                            <tr>
                                 <td> Tempat :</td> <td> {{item.tempat}} </td>
                            </tr>  
                            <tr>
                                 <td> Tahun Kegiatan :</td> <td> {{item.tahun_kegiatan.tahun}} </td>
                            </tr>  
                      </tbody>  
                  </table>   

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}