{% extends 'pengaturan/penelitian/index.twig' %}
{% block breadcrumb %}
<li class="active">Syarat Penelitian</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}batasanggarans/{{jenpen.id}}">Batas Anggaran</a></li>
            <li><a href="{{base_url()}}janjiluarans/{{jenpen.id}}">Janji Luaran</a></li> 
            <li><a href="{{base_url()}}batchpenelitians/{{jenpen.id}}">Batch Penelitian</a></li> 
            <li><a href="{{base_url()}}targetluarans/{{jenpen.id}}">Target Luaran</a></li>
            <li><a href="{{base_url()}}keanggotaans/{{jenpen.id}}">Keanggotaan</a></li> 
            <li><a href="{{base_url()}}penilaians/{{jenpen.id}}">Penilaian</a></li>
            <li class="active"><a href="{{base_url()}}syaratpenelitians/{{jenpen.id}}">Syarat Penelitian</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobotluarans/{{jenpen.id}}">Bobot Luaran</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobothasils/{{jenpen.id}}">Bobot Hasil</a></li>
            <a href="{{base_url()}}jenispenelitians/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-syarat"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Pendidikan Terakhir</th> 
                            <th>Jabatan Akademik</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.syarat}}
                              </td> 
                              <td>
                                  {{item.jabatan_akademik.nama}}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-syarat{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}syaratpenelitians/delete/{{item.id}}/jenis_penelitian/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Syarat</th> 
                            <th>Jabatan Akademik</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
    {% for item in items %}
    <div class="modal fade" id="edit-syarat{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{ form_open('syaratpenelitians/edit/'~item.id) }}
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Syarat Penelitian</h4>
              </div>
              <div class="modal-body" id="validate_message">
                <input type="hidden" id="jenis_penelitian" name="jenis_penelitian" value="{{item.id}}">
                <div class="form-horizontal">
                <div class="box-body"> 
                        <input type="hidden" id="dosen" name="dosen" value="{{item.dosen.id}}">
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Pendidikan Terakhir</label> 
                          <div class="col-sm-8">
                          <select type="text" class="form-control" id="syarat" name="syarat">
                            <option value="S1" {{set_select('syarat','S1','S1'==item.syarat)}}>S1</option>
                            <option value="S2" {{set_select('syarat','S2','S2'==item.syarat)}}>S2</option>
                            <option value="S3" {{set_select('syarat','S3','S3'==item.syarat)}}>S3</option>
                          </select>
                          </div>
                        </div>
                </div>
                    <!-- /.box-body --> 
                <div class="box-body"> 
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Jabatan Akademik</label> 
                      <div class="col-sm-8">
                        <select type="text" class="form-control" id="jabatan_akademik" name="jabatan_akademik">
                          {% for ja in jabatan_akademik %}
                            <option value="{{ja.id}}" {{set_select('jabatan_akademik',ja.id,ja.id==item.jabatan_akademik.id)}}>{{ja.nama}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                </div>
              </div>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                  <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
          </div>
      </div>
    </div>
    </form>
  </div> 
    {% endfor %}
    <div class="modal fade" id="add-syarat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('syaratpenelitians/add/'~jenpen.id) }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Tambah Syarat Penelitian</h4>
                </div>
                <div class="modal-body" id="validate_message">
                  <div class="form-horizontal">
                  <div class="box-body"> 
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Pendidikan Terakhir</label> 
                      <div class="col-sm-8">
                      <select type="text" class="form-control" id="syarat" name="syarat">
                        <option value="S1">S1</option>
                        <option value="S2">S2</option>
                        <option value="S3">S3</option>
                      </select>
                      </div>
                    </div>
                  </div>
                      <!-- /.box-body --> 
                  <div class="box-body"> 
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Jabatan Akademik</label> 
                        <div class="col-sm-8">
                          <select type="text" class="form-control" id="jabatan_akademik" name="jabatan_akademik">
                            {% for item in jabatan_akademik %}
                              <option value="{{item.id}}">{{item.nama}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                </div>
            </div>
        </div>
      </div>
      </form>
    </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}