{% extends 'monev/borang/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}monev/monevborang/view/{{id}}">Proses Penelitian</a></li>
            <li class="active"><a href="{{base_url()}}monev/monevborang/luaranview/{{id}}">Luaran Penelitian</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_2">
            <div class="row">
                <div class="col-md-6">
                    <div style="background:#cc2327; padding: 20px; color:#fff;">
                        <h4>Luaran Wajib</h4>
                        <p>{{ penelitian.luaran_wajib.target_luaran_sub.nama }}</p>
                        <p>{{ penelitian.luaran_wajib.target_luaran_status.status }}</p>
                        <p>{{ penelitian.luaran_wajib.rencana_jurnal }}</p>
                        <p>{{ penelitian.luaran_wajib.url_jurnal }}</p>
                        <p>{{ penelitian.luaran_wajib.bukti_luaran }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="background:#3E62DF; padding: 20px; color:#fff;">
                        <h4>Luaran Tambahan</h4>
                        <p>{{ penelitian.luaran_tambahan.target_luaran_sub.nama }}</p>
                        <p>{{ penelitian.luaran_tambahan.target_luaran_status.status }}</p>
                        <p>{{ penelitian.luaran_tambahan.rencana_jurnal }}</p>
                        <p>{{ penelitian.luaran_tambahan.url_jurnal }}</p>
                        <p>{{ penelitian.luaran_tambahan.bukti_luaran }}</p>
                    </div>
                </div>
            </div>
            <br />

            <a href="{{base_url()}}monev/monevborang/downloadluaranpenelitian/{{id}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank"> <i class="fa fa-file-pdf-o"> </i> Download Luaran Penelitian</a>
            <div class="clearfix"></div>
                {% include 'monev/borang_view/luaran/publikasi_ilmiah.twig' %}
                {% include 'monev/borang_view/luaran/buku_ajar.twig' %}
                {% include 'monev/borang_view/luaran/forum_ilmiah.twig' %}
                {% include 'monev/borang_view/luaran/invited_speaker.twig' %}
                {% include 'monev/borang_view/luaran/visiting_scientist.twig' %}
                {% include 'monev/borang_view/luaran/luaran_lainnya.twig' %}
            </div>
      </div>
</div>
<div class="box-footer tc">
  <a href="{{base_url()}}monev/monevlists" class="btn btn-success mr-10"> <i class="glyphicon glyphicon-floppy-disk"> </i> Selesai </a>
</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script>
$(document).ready(function(){
  $.fn.datepicker.defaults.language = 'id';
  $('.tanggal').datepicker({
    orientation:"left bottom",timePicker: true, timePickerIncrement: 30, format: 'dd/MM/yyyy', todayHighlight: false, forceParse: false});

  var bar = $('.bar');
  var percent = $('.percent');

  $("input[name='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename"+id).val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
    }
    bar.width('0%');
    percent.html('0%');
  });


  $(".upload").ajaxForm({
    beforeSubmit:function(){
        console.log($(this));
        var id = $(this).data('id');
        if($("#submit_upload"+id).hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar.width(percentVal);
        percent.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal);
        percent.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      if(responseText.indexOf('.pdf') > -1){
        $("#warning").text("");
        percent.html("File Berhasil Upload");
        var json = $.parseJSON(responseText)
        console.log(json);
        $("#buttonuploadsuratkontrak"+json.id).remove();
        setInterval(function(){
            window.location.reload();
        },1000);

        $("#pdf").val(responseText);
      }else{
        $("#pdf").val("");
        percent.html("File Gagal Upload");
        $("#warning").text("File yang di upload harus berformatkan pdf");
      }
    }
  });
});
</script>
{% endblock %}
