{% extends 'monev/borang_view/index.twig' %}
{% block tab %}
{{ form_open('monev/monevborang/insert','class="form-horizontal moving" id="step1" data-toggle="validator"') }} 
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li class="active"><a href="{{base_url()}}monev/monevborang/view/{{id}}">Proses Penelitian</a></li>
            <li><a href="{{base_url()}}monev/monevborang/luaranview/{{id}}">Luaran Penelitian</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active form-horizontal" id="tab_1">
        <a href="{{base_url()}}monev/monevborang/downloadborang/{{id}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank"> <i class="fa fa-file-pdf-o"> </i> Download Borang</a>
        <div class="clearfix"></div> 
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box-body">    
          <div class="form-group">
            <input type="hidden" class="form-control" name="penelitian" value="{{id}}">
            <label for="" class="col-sm-3 control-label text-left">1. Program Penelitian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{jenis_penelitian.nama}}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">2. Tahun Penelitian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{tahun_kegiatan.tahun}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">3. Ketua Peneliti</label> 
            <label for="" class="col-sm-3 control-label left">a. Nama</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
            </div>
            <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.fakultas.nama}}">
            </div>
            <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
            </div>
            <label for="" class="col-sm-3 control-label left">d. Bidang Keahlian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled name="ketua_keahlian" value="{{monev.content.ketua_keahlian}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">4. Anggota Peneliti</label>
            {% for a in anggota %}
              <label for="" class="col-sm-3 control-label left">a. Nama</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.nama_lengkap}}">
              </div>
              <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.fakultas.nama}}">
              </div>
              <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.program_studi.nama}}">
              </div>
              <label for="" class="col-sm-3 control-label left">d. Bidang Keahlian</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled name="anggota_keahlian[]" value="{{monev.content.anggota_keahlian[loop.index0]}}">
              </div>
              <div class="col-sm-12">
                <hr width="98%">
              </div>

            {% endfor %}
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">5. Judul Penelitian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{ judul }}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">6. Bidang Ilmu</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" id="" name="bidang_ilmu" disabled value="{{monev.content.bidang_ilmu}}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">7. Biaya Penelitian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{penelitian_review_inselected.0.rp_rekomendasi}}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">8. Lokasi Penelitian</label> 
            <div class="col-sm-9 parentwithchild">
              <input type="" class="form-control" disabled id="" value="{{lokasi}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">9. Pelaksanaan Penelitian</label> 
            <label for="" class="col-sm-3 control-label left">a. Tanggal Mulai</label> 
            <div class="col-sm-9">
              <input type="" class="form-control tanggalan" disabled name="tanggal_mulai" value="{{monev.content.tanggal_mulai}}">
            </div>
            <label for="" class="col-sm-3 control-label left">b. Tanggal Selesai</label> 
            <div class="col-sm-9">
              <input type="" class="form-control tanggalan" disabled name="tanggal_selesai" value="{{monev.content.tanggal_selesai}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">10. Capaian Tahap Penelitian</label> 
            <div class="col-sm-12 left">a. Menurut Saudara telah berada pada tahap mana penelitian Saudara saat ini?</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <select class="form-control" disabled name="tahap_penelitian">
                <option value="">-Pilih-</option>
                <option value="Tahap persiapan" {{set_select('tahap_penelitian','Tahap persiapan','Tahap persiapan'==monev.content.tahap_penelitian)}}>Tahap persiapan</option>
                <option value="Pelaksanaan penelitian" {{set_select('tahap_penelitian','Pelaksanaan penelitian','Pelaksanaan penelitian'==monev.content.tahap_penelitian)}}>Pelaksanaan penelitian</option>
                <option value="Pengolahan/analisis data" {{set_select('tahap_penelitian','Pengolahan/analisis data','Pengolahan/analisis data'==monev.content.tahap_penelitian)}}>Pengolahan/analisis data</option>
                <option value="Penulisan laporan" {{set_select('tahap_penelitian','Penulisan laporan','Penulisan laporan'==monev.content.tahap_penelitian)}}>Penulisan laporan</option>
              </select>
            </div>
            <div class="col-sm-12 left">b. Menurut Saudara, sampai saat ini sudah berapa % capaian penelitian Saudara?</div>
            <label for="" class="col-sm-3 control-label left">Jawaban :</label> 
            <div class="col-sm-9">
              <div class=" input-group">
              <input type="number" class="form-control" disabled name="capaian" value="{{monev.content.capaian}}"><span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">11. Kesesuaian Pelaksanaan Penelitian</label> 
            <div class="col-sm-12 left">a. Waktu Penelitian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline hide"><input type="radio" disabled name="pelaksanaan_penelitian" value="Sesuai" {{set_radio('pelaksanaan_penelitian', 'Sesuai', 'Sesuai'==monev.content.pelaksanaan_penelitian)}}>Sesuai</label>
              <label class="radio-inline hide"><input type="radio" disabled name="pelaksanaan_penelitian" value="Tidak Sesuai" {{set_radio('pelaksanaan_penelitian', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.pelaksanaan_penelitian)}}>Tidak Sesuai</label>
              {{monev.content.pelaksanaan_penelitian}}
            </div>
            <div class="col-sm-12 left pelaksanaan_penelitian hide">b. Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian hide">Pilih :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian hide">
              <select class="form-control pelaksanaan_penelitian hide" disabled name="pelaksanaan_penelitian_alasan">
                <option value="">-Pilih-</option>
                <option value="Pencairan dana penelitian terlambat" {{set_select('pelaksanaan_penelitian_alasan','Pencairan dana penelitian terlambat',monev.content.pelaksanaan_penelitian_alasan=='Pencairan dana penelitian terlambat')}}>Pencairan dana penelitian terlambat</option>
                <option value="Pemesanan bahan dan/atau alat lama"{{set_select('pelaksanaan_penelitian_alasan','Pemesanan bahan dan/atau alat lama',monev.content.pelaksanaan_penelitian_alasan=='Pemesanan bahan dan/atau alat lama')}}>Pemesanan bahan dan/atau alat lama</option>
                <option value="Sumber data/informasi sulit/lama diakses/didapat"{{set_select('pelaksanaan_penelitian_alasan','Sumber data/informasi sulit/lama diakses/didapat',monev.content.pelaksanaan_penelitian_alasan=='Sumber data/informasi sulit/lama diakses/didapat')}}>Sumber data/informasi sulit/lama diakses/didapat</option>
                <option value="Lainnya (sebutkan)" {{set_select('pelaksanaan_penelitian_alasan','Lainnya (sebutkan)',monev.content.pelaksanaan_penelitian_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>{# {{set_select('','',monev.content.=='')}} #}
            </div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian_alasan hide">Alasan Lainnya :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian_alasan hide">
              <textarea rows="5"  class="form-control pelaksanaan_penelitian_alasan hide" name="pelaksanaan_penelitian_alasannya" disabled >{{monev.content.pelaksanaan_penelitian_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian hide">Penyelesainnya :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian hide">
              <textarea rows="5" class="form-control pelaksanaan_penelitian hide" disabled name="pelaksanaan_penelitian_penyelesainnya">{{monev.content.pelaksanaan_penelitian_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">12. Kesesuaian Metode atau Rancangan Penelitian</label> 
            <div class="col-sm-12 left">a. Metode atau Rancangan Penelitian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9 left">
              <label class="radio-inline hide"><input type="radio" disabled name="rancangan_penelitian" value="Sesuai" {{set_radio('rancangan_penelitian', 'Sesuai', 'Sesuai'==monev.content.rancangan_penelitian)}}>Sesuai</label>
              <label class="radio-inline hide"><input type="radio" disabled name="rancangan_penelitian" value="Tidak Sesuai" {{set_radio('rancangan_penelitian', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.rancangan_penelitian)}}>Tidak Sesuai</label>
              {{monev.content.rancangan_penelitian}}
            </div>
            <div class="col-sm-12 left rancangan_penelitian hide">b. Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left rancangan_penelitian hide">Pilih :</label> 
            <div class="col-sm-9 rancangan_penelitian hide">
              <select class="form-control rancangan_penelitian hide" disabled name="rancangan_penelitian_alasan">
                <option value="">-Pilih-</option>
                <option value="Ketersediaan bahan dan/atau alat" {{set_select('rancangan_penelitian_alasan','Ketersediaan bahan dan/atau alat',monev.content.rancangan_penelitian_alasan=='Ketersediaan bahan dan/atau alat')}}>Ketersediaan bahan dan/atau alat</option>
                <option value="Kesulitan memperoleh data/informasi" {{set_select('rancangan_penelitian_alasan','Kesulitan memperoleh data/informasi',monev.content.rancangan_penelitian_alasan=='Kesulitan memperoleh data/informasi')}}>Kesulitan memperoleh data/informasi</option>
                <option value="Teknik/metode baru yang lebih baik" {{set_select('rancangan_penelitian_alasan','Teknik/metode baru yang lebih baik',monev.content.rancangan_penelitian_alasan=='Teknik/metode baru yang lebih baik')}}>Teknik/metode baru yang lebih baik</option>
                <option value="Kepustakaan terbaru" {{set_select('rancangan_penelitian_alasan','Kepustakaan terbaru',monev.content.rancangan_penelitian_alasan=='Kepustakaan terbaru')}}>Kepustakaan terbaru</option>
                <option value="Lainnya (sebutkan)" {{set_select('rancangan_penelitian_alasan','Lainnya (sebutkan)',monev.content.rancangan_penelitian_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left rancangan_penelitian_alasan hide">Alasan Lainnya :</label> 
            <div class="col-sm-9 rancangan_penelitian_alasan hide">
              <textarea rows="5" disabled class="form-control rancangan_penelitian_alasan hide" name="rancangan_penelitian_alasannya">{{monev.content.rancangan_penelitian_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left rancangan_penelitian hide">Penyelesainnya :</label> 
            <div class="col-sm-9 rancangan_penelitian hide">
              <textarea rows="5" disabled class="form-control rancangan_penelitian hide" name="rancangan_penelitian_penyelesainnya">{{monev.content.rancangan_penelitian_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">13. Kesesuaian Personalia</label> 
            <div class="col-sm-12 left">a. Personalia</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_personalia" value="Sesuai" {{set_radio('kesesuaian_personalia', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_personalia)}}>Sesuai</label>
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_personalia" value="Tidak Sesuai" {{set_radio('kesesuaian_personalia', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_personalia)}}>Tidak Sesuai</label>
              {{monev.content.kesesuaian_personalia}}
            </div>
            <div class="col-sm-12 left hide kesesuaian_personalia">b. Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia">
              <select class="form-control hide kesesuaian_personalia" disabled name="kesesuaian_personalia_alasan">
                <option value="">-Pilih-</option>
                <option value="Melanjutkan studi ke luar negeri" {{set_select('kesesuaian_personalia_alasan','Melanjutkan studi ke luar negeri',monev.content.kesesuaian_personalia_alasan=='Melanjutkan studi ke luar negeri')}}>Melanjutkan studi ke luar negeri</option>
                <option value="Pindah tempat kerja" {{set_select('kesesuaian_personalia_alasan','Pindah tempat kerja',monev.content.kesesuaian_personalia_alasan=='Pindah tempat kerja')}}>Pindah tempat kerja</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_personalia_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_personalia_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia_alasan">Alasan Lainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia_alasan">
              <textarea rows="5" class="form-control hide kesesuaian_personalia_alasan" disabled name="kesesuaian_personalia_alasannya">{{monev.content.kesesuaian_personalia_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia">
              <textarea rows="5" class="form-control hide kesesuaian_personalia" disabled name="kesesuaian_personalia_penyelesainnya">{{monev.content.kesesuaian_personalia_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">14. Kesesuaian Anggaran</label>
            <div class="col-sm-12 left">a. Anggaran</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_anggaran" value="Sesuai" {{set_radio('kesesuaian_anggaran', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_anggaran)}}>Sesuai</label>
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_anggaran" value="Tidak Sesuai" {{set_radio('kesesuaian_anggaran', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_anggaran)}}>Tidak Sesuai</label>
              {{monev.content.kesesuaian_anggaran}}
            </div>
            <div class="col-sm-12 left hide kesesuaian_anggaran">b. Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran">
              <select class="form-control hide kesesuaian_anggaran" disabled name="kesesuaian_anggaran_alasan">
                <option value="">-Pilih-</option>
                <option value="Kenaikan harga bahan dan/atau alat" {{set_select('kesesuaian_anggaran_alasan','Kenaikan harga bahan dan/atau alat',monev.content.kesesuaian_anggaran_alasan=='Kenaikan harga bahan dan/atau alat')}}>Kenaikan harga bahan dan/atau alat</option>
                <option value="Adanya potongan pajak" {{set_select('kesesuaian_anggaran_alasan','Adanya potongan pajak',monev.content.kesesuaian_anggaran_alasan=='Adanya potongan pajak')}}>Adanya potongan pajak</option>
                <option value="Biaya yang disetujui tidak sesuai dengan yang diusulkan" {{set_select('kesesuaian_anggaran_alasan','Biaya yang disetujui tidak sesuai dengan yang diusulkan',monev.content.kesesuaian_anggaran_alasan=='Biaya yang disetujui tidak sesuai dengan yang diusulkan')}}>Biaya yang disetujui tidak sesuai dengan yang diusulkan</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_anggaran_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_anggaran_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran_alasan">Alasan Lainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran_alasan">
              <textarea rows="5" disabled class="form-control hide kesesuaian_anggaran_alasan" name="kesesuaian_anggaran_alasannya">{{monev.content.kesesuaian_anggaran_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran">
              <textarea rows="5" disabled class="form-control hide kesesuaian_anggaran" name="kesesuaian_anggaran_penyelesainnya">{{monev.content.kesesuaian_anggaran_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">15. Kesesuaian Sarana dan Prasarana</label>
            <div class="col-sm-12 left">a. Sarana dan Prasarana</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_sarana" value="Sesuai" {{set_radio('kesesuaian_sarana', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_sarana)}}>Sesuai</label>
              <label class="radio-inline hide"><input type="radio" disabled name="kesesuaian_sarana" value="Tidak Sesuai" {{set_radio('kesesuaian_sarana', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_sarana)}}>Tidak Sesuai</label>
              {{monev.content.kesesuaian_sarana}}
            </div>
            <div class="col-sm-12 left hide kesesuaian_sarana">b. Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_sarana">
              <select class="form-control hide kesesuaian_sarana" disabled name="kesesuaian_sarana_alasan">
                <option value="">-Pilih-</option>
                <option value="Suku cadang alat tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Suku cadang alat tidak tersedia di dalam negeri',monev.content.kesesuaian_sarana_alasan=='Suku cadang alat tidak tersedia di dalam negeri')}}>Suku cadang alat tidak tersedia di dalam negeri</option>
                <option value="Bahan penelitian tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Bahan penelitian tidak tersedia di dalam negeri',monev.content.kesesuaian_sarana_alasan=='Bahan penelitian tidak tersedia di dalam negeri')}}>Bahan penelitian tidak tersedia di dalam negeri</option>
                <option value="Listrik tidak stabil" {{set_select('kesesuaian_sarana_alasan','Listrik tidak stabil',monev.content.kesesuaian_sarana_alasan=='Listrik tidak stabil')}}>Listrik tidak stabil</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_sarana_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_sarana_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left kesesuaian_sarana_alasan hide">Alasan Lainnya :</label> 
            <div class="col-sm-9 kesesuaian_sarana_alasan hide">
              <textarea rows="5" disabled class="form-control kesesuaian_sarana_alasan hide"  name="kesesuaian_sarana_alasannya">{{monev.content.kesesuaian_sarana_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_sarana">
              <textarea rows="5" disabled class="form-control hide kesesuaian_sarana" name="kesesuaian_sarana_penyelesainnya">{{monev.content.kesesuaian_sarana_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">16. Peran Lembaga Penelitian</label>
            <div class="col-sm-12 left">a. Seleksi Proposal Penelitian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              {{monev.content.seleksi_proposal}}
            </div>
            <div class="col-sm-12 left">b. Menyelenggarakan Seminar Proposal</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              {{monev.content.menyelenggarakan_seminar}}
            </div>
            <div class="col-sm-12 left">c. Memantau Pelaksanaan Penelitian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              {{monev.content.memantau_pelaksanaan}}
            </div>
            <div class="col-sm-12 left">d. Menyelenggarakan seminar hasil penelitian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              {{monev.content.menyelenggarakan_seminar_hasil}}
            </div>
            <label for="" class="col-sm-12 control-label left">e. Pelayanan Lainnya</label> 
            <div class="col-sm-12" style="padding-left:31px;">
              {{monev.content.pelayanan_lainnya}}
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">17. Pelaksanaan Kerjasama dengan instansi lain</label>
            <div class="col-sm-12" id="instansi">
              {% for item in monev.content.instansi_nama %}
                <div class="col-sm-12 parentwithchild">
                  <label for="" class="col-sm-3 control-label left" style="margin-top:15px;padding-left: 0px;">a. Nama Instansi :</label> 
                  <div class="col-sm-9">
                    <input type="" class="form-control" disabled  name="instansi_nama[]" value="{{item}}">
                  </div>
                  <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                  <label for="" class="col-sm-3 control-label left" style="padding-left:0px;text-align: left;">b. Bentuk Kerjasama :</label> 
                  <div class="col-sm-9">
                    <input type="" class="form-control" disabled name="instansi_kerjasama[]" value="{{monev.content.instansi_kerjasama[loop.index0]}}">
                  </div>
                  </div>
                </div>
              {% else %}
              <div class="col-sm-12 parentwithchild">
                <label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" disabled  name="instansi_nama[]" value="">
                </div>
                <label for="" class="col-sm-3 control-label left">b. Bentuk Kerjasama :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" disabled name="instansi_kerjasama[]" value="">
                </div>
              </div>
              <div class="col-sm-12 parentwithchild">
                <div class="col-sm-12">
                  <hr width="98%">
                </div>
                <label for="" class="col-sm-3 control-label left">a. Nama Instansi :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" disabled name="instansi_nama[]" value="">
                </div>
                <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                  <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Bentuk Kerjasama :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" disabled name="instansi_kerjasama[]" value="">
                </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
</div>
</form>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function(){
  $('.tanggalan').datepicker({ format: 'dd-mm-yyyy'});
  $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button):enabled:visible';
  $("#tambahinstansi").click(function(){
      var content = '<div class="col-sm-12 parentwithchild"><div class="col-sm-12"><hr width="98%"></div><label for="" class="col-sm-3 control-label left">a. Nama Instansi :</label> <div class="col-sm-9"><input type="" class="form-control" name="instansi_nama[]" disabled value=""></div><label for="" class="col-sm-3 control-label left">b. Bentuk Kerjasama :</label> <div class="col-sm-9"><input type="" class="form-control" disabled name="instansi_kerjasama[]" value=""></div><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
      $("#instansi").append(content);
      var current_height= $("#step1").height();
      $(".content-wrapper").height(current_height+400);
      $("#step1").validator('update');
      trigger();
      return false;
  });
  trigger();
  function trigger(){
    $(".close").click(function(){
      var div = $(this).parent();
      div.remove();
      $("#step1").validator('update');
      return false;
    });
  }
      $('input[type=radio][name=pelaksanaan_penelitian]').change(function() {
        if (this.value == 'Sesuai') {
            $(".pelaksanaan_penelitian").addClass("hide");
            $('select[name=pelaksanaan_penelitian_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".pelaksanaan_penelitian").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=pelaksanaan_penelitian_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".pelaksanaan_penelitian_alasan").removeClass("hide");
        }else{
          $(".pelaksanaan_penelitian_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=rancangan_penelitian]').change(function() {
        if (this.value == 'Sesuai') {
            $(".rancangan_penelitian").addClass("hide");
            $('select[name=rancangan_penelitian_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".rancangan_penelitian").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=rancangan_penelitian_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".rancangan_penelitian_alasan").removeClass("hide");
        }else{
          $(".rancangan_penelitian_alasan").addClass("hide");
          var current_height= $("#step1").height();
          $(".content-wrapper").height(current_height+400);
        }
    });

    $('input[type=radio][name=kesesuaian_personalia]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_personalia").addClass("hide");
            $('select[name=kesesuaian_personalia_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_personalia").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_personalia_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_personalia_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_personalia_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_anggaran]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_anggaran").addClass("hide");
            $('select[name=kesesuaian_anggaran_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_anggaran").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_anggaran_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_anggaran_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_anggaran_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_sarana]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_sarana").addClass("hide");
            $('select[name=kesesuaian_sarana_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_sarana").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_sarana_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_sarana_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_sarana_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][checked]').trigger('change');
    $('option[selected]').trigger('change');
});
</script>
{% endblock %}