{% extends login ? "template.twig" : "template_nonlogin.twig" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Kinerja <small>Pemakalah Forum Ilmiah</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Pengabdian </a></li>
        <li>Pemakalah Forum Ilmiah</li>
        <li class="active">Detail</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Detail Pemakalah Forum Ilmiah</h3> 
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
            </div><!-- .box-header -->

            <div class="box-body"> 

                  <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Personil Dosen</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Nama Dosen: </td>
                                <td> {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}} </td>
                            </tr>
                            <tr>
                                <td> NIDN: </td>
                                <td> {{item.dosen.nidn}} </td>
                            </tr>
                            <tr>
                                <td> Program Studi: </td>
                                <td> {{item.dosen.program_studi.nama}} </td>
                            </tr> 
                      </tbody>  
                  </table>    
                              
                   <table width="100%" class="table table-bordered table-striped"> 
                      <thead>
                          <tr>
                            <th colspan="2"><b>Data Pemakalah Forum Ilmiah</b></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td> Tingkat Forum Ilmiah: </td>
                                <td> {{item.type_show}} </td>
                            </tr>
                            <tr>
                                <td> Judul Makalah: </td>
                                <td> {{item.judul}} </td>
                            </tr>
                            <tr>
                                <td> Abstrak: </td>
                                <td> {{item.abstrak|nl2br}} </td>
                            </tr> 
                            <tr>
                                <td> Nama Forum:</td> <td> {{item.forum}} </td>  
                            </tr>  
                            <tr> 
                                <td> Institusi Penyelenggara :</td> <td>  {{item.penyelenggara}} </td>  
                            </tr>
                            <tr> 
                                <td> Waktu Pelaksanaan :</td> <td> {{item.waktu}} </td> 
                            </tr>  
                            <tr> 
                                <td> Tempat Pelaksanaan :</td> <td> {{item.tempat}} </td> 
                            </tr>  
                             <tr> 
                                <td> Status :</td> <td> {{item.statusShow}} </td> 
                            </tr>  
                            <tr> 
                                <td> Tahun Kegiatan :</td> <td> {{item.tahun_kegiatan.tahun}} </td> 
                            </tr> 
                            <tr>
                                <td>Berkas :</td> <td>  <a href="{{base_url()}}?type=forumilmiah&jenis=pengabdian&id={{item.id}}" class="btn btn-sm bg-olive" data-toggle="tooltip" title="Download PDF"> <i class="fa fa-file-pdf-o"> </i> Download </a>  </td>
                            </tr>
                      </tbody>  
                  </table>      
                  
            </div><!-- box_body --> 

        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}