{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Collections 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
        <li>  Collections  </li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 


        <div class="box"> 

            <div class="box-body">  

                  Collection merupakan kumpulan data Publication berdasarkan yang diinput pada SIMAKIP data otomatis terintegrasi ke Publication ini:

                   <ul class="list_berita_1">  
                        <li >
                            <h2><a href="{{base_url()}}collections/jurnal">Publikasi Jurnal</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/bukuajar">Buku Ajar/Teks</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/forumilmiah">Pemakalah Forum Ilmiah</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/hki">Hak Kekayaan Intelektual</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/luaranlain">Luaran Lain</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/penelitianmandiri">Penelitian Mandiri</a> </h2> 
                        </li> 
                         <li >
                            <h2><a href="{{base_url()}}collections/penelitianinternal">Penelitian Internal</a> </h2> 
                        </li> 
                  </ul>

            </div><!-- box_body -->

        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>
{% endblock %}