{% extends 'template.twig' %}

{% block content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Search 
            </h1> 
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">  

              <div class="box"> 

                  <div class="box-body">  

                        <!-- s:search --> 
                         <div class="box box-solid bg-gray color-palette">
                            
                            <div class="box-body">      
                      
                             <!--  <div class="lead mb-10">Advance Search</div>    -->

                              <form action="" class="form-horizontal m-30">
                              {% set title,author,url,subject = get_request('title'),get_request('author'),get_request('url'),get_request('subject') %}
                              <div class="input-group input-group-sm mb-5"> 
                                  <input type="text" name="title" class="form-control" value="{{title}}">
                                  <span class="input-group-btn">  
                                      <button type="button" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i> </button> 
                                  </span>
                              </div>   

                              <div><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">advance search</a></div>

                             <!-- form start --> 
                             <div id="collapse1" class="panel-collapse collapse"> <br>
                               

                            
                             <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Title : </label> 
                              <div class="col-sm-10">
                                <input type="text" name="title" value="{{title}}" class="form-control" id="" placeholder="Title">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Author : </label> 
                              <div class="col-sm-10">
                                <input type="" name="author" value="{{author}}" class="form-control" id="" placeholder="Author">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Collection : </label> 
                              <div class="col-sm-10">
                                <select class="form-control" name="url">
                                      <option value="">All Collection</option>
                                      <option value="jurnal" {{set_select('url','jurnal','jurnal'==url)}}>Publikasi Jurnal</option>
                                      <option value="bukuajar" {{set_select('url','bukuajar','bukuajar'==url)}}>Buku Ajar/Teks</option>
                                      <option value="forumilmiah" {{set_select('url','forumilmiah','forumilmiah'==url)}}>Pemakalah Forum Ilmiah</option>
                                      <option value="hki" {{set_select('url','hki','hki'==url)}}>Hak Kekayaan Intelektual</option>
                                      <option value="luaranlain" {{set_select('url','luaranlain','luaranlain'==url)}}>Luaran Lain</option>
                                      <option value="penelitianmandiri" {{set_select('url','penelitianmandiri','penelitianmandiri'==url)}}>Penelitian Mandiri</option>
                                      <option value="penelitianinternal" {{set_select('url','penelitianinternal','penelitianinternal'==url)}}>Penelitian Internal</option>
                                </select>
                              </div>
                            </div> 

                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Subject : </label> 
                              <div class="col-sm-10">
                                <select class="form-control" name="subject">
                                    <option value="">Semua Subject</option>
                                        {% include "subject/option.html" with {'items':subjects,'iterate':0,'selected':subject} only %}
                                    <option></option>
                                </select>
                              </div>
                            </div> 

                           {#  <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Issue Date : </label> 
                              <div class="col-sm-10">
                                <select class="form-control">
                                      <option>Issue Date 1</option>
                                      <option>Issue Date 2</option> 
                                </select>
                              </div>
                            </div>  #}
                            
                            <div class="tc">
                              <button type="submit" class="btn btn-primary mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
                              <button type="cancel" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
                            
                            </div>
                           

                             </div><!--collapse1-->



                            </form> 

                            </div>
                            <!-- /.box-body -->
                        </div>

                        <p class="text-muted">
                            <h4>Hasil pencarian <b>"item"</b>, {{total}} hasil ditemukan</h4> 
                            <hr>
                        </p>

                        <!-- e:search -->
                        
                        <ul class="list_berita_1"> 
                            {% for item in items %}
                              <li >
                                  {% set judulx = item.judul|split(' ') %}
                                  {% set judulx = judulx[0]~'-'~judulx[1]~'-'~judulx[2]~'-'~judulx[3]~'-'~judulx[4]%}
                                  <h2><a href="{{base_url()}}collections/{{item.url}}/detail/{{item.id}}/{{judulx|url_encode }}">{{item.judul}}</a> </h2>
                                  <span class="author"> {{item.nama}}  - {{item.type}} - {{item.tahun}}</span>
                                  <div class="desc">
                                   {{item.judul}}
                                   </div>
                              </li>
                            {% endfor %} 
                        </ul>
                        <div class="tc">
                            <ul class="pagination pull-right">
                              {% set paging = paging_creator(page,total_pages) %}
                              {{ paging|raw }}
                            </ul>
                        </div>

                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script type="text/javascript">

$(document).ready(function(){

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging);
  });

});

</script>
{% endblock %}