<!-- UHAMKA -->   
 
  <header class="main-header">

    <div class="header">
        <div class="logo_utama">
            <img src="{{base_url()}}assets/images/logo.png" alt="UHAMKA"> 
            <div class="logo_text"> 
                <b>Digital Object Of Publications</b>`
            </div>

        </div><!-- logo_utama -->

        <img src="{{base_url()}}assets/images/head_bg.jpg" alt="Universitas Muhammadiyah Prof.Dr. Hamka">
    </div> 

    <!-- Logo -->
    <a href="{{base_url()}}" class="logo"> 
      <span class="logo-lg"><b>Publication</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation"> 
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>   

        <a href="{{base_url()}}" class="logo-tambahan">
          <span class="logo-lg"><b>Repository</b></span>
        </a> 
        
        {{ form_open('search','method="GET"') }}
        <div class="input-group input-group-sm searchdepan">
            <input type="text" name="title" class="form-control">
            <span class="input-group-btn"> 
               <button type="submit" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i> </button>
            </span>
        </div>
        </form>
                        
      
        
    </nav> 

  </header>