{% extends 'template.twig' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->               
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Home 
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
        
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">


        <div class="box">
            <div class="box-body">
              
              <div id="carousel-example-generic" class="carousel slide slidebanneruhamka" data-ride="carousel">
                  <ol class="carousel-indicators">
                        {% for item in billboard %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{loop.index-1}}" class="{% if loop.index==1 %}active{% endif %}"></li>
                        {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                        {% for item in billboard %}
                          <div class="item {% if loop.index==1 %}active{% endif %}">
                              <a href="http://{{item.url}}" target="_blank">
                              <img src="{{url_assets}}{{item.image}}" alt="First slide">
                              </a>
                                <div class="desc">
                                  <b>{{item.judul}}</b>
                                  {{item.deskripsi|nl2br}} 
                                </div>
                            </div>
                        {% endfor %}
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                  </a>
            </div>

            </div><!-- box-body -->
        </div><!-- box -->


        <div class="box">
            <div class="box-header with-border">
                  <h3 class="box-title">Recently Added</h3> 
                 
            </div><!-- .box-header -->

            <div class="box-body">  

            <ul class="list_berita_1"> 
                {% for item in items %}
                  <li >
                      {% set judulx = item.judul|lower|replace({'(':'',')':'','\'':'',',':''})|split(' ') %}
                      {% set judulx = judulx[0]~'-'~judulx[1]~'-'~judulx[2]~'-'~judulx[3]~'-'~judulx[4]%}
                      <h2><a href="{{base_url()}}collections/{{item.url}}/detail/{{item.id}}/{{judulx|url_encode }}">{{item.judul}}</a> </h2>
                      <div class="desc">
                       {{item.abstrak[:160]}}
                       </div>
                       {% if item.url in ["penelitianinternal","forumilmiah","jurnal"] %}
                          <span class="author"> {{item.nama}}  in {{item.name}} ({{item.tahun}})</span>
                       {% else %}
                          <span class="author"> {{item.nama}}  - {{item.type}} - {{item.tahun}}</span>
                       {% endif %}
                      <span class="pdf"><a href="{{download_url}}/?type={{item.url}}&id={{item.id}}" target="_blank">Download Pdf (<span>{% set size = checkfilesize(item.url,item.id) %}{{size}}</span>)</a> >> <a href="{{base_url()}}collections/{{item.url}}/detail/{{item.id}}/{{judulx|url_encode }}">View Article</a></span>
                  </li>
                {% endfor %} 
            </ul>
            <div class="tc">
                <ul class="pagination">
                  {% if total_pages %}
                  {% for i in 1..5 %}
                  {% if page==i %}
                  <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% else %}
                  <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </ul>
            </div>

            </div><!-- box_body -->

        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

$(document).ready(function(){

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging);
  });

});

</script>
{% endblock %}