<!-- UHAMKA -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"> 

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Browse</li> 
        <li class="{{col}}"><a href="{{base_url()}}collections"> <span>Collections</span></a></li>  
        <li class="{{sub}}"><a href="{{base_url()}}subject"> <span>Subject</span></a></li> 
        <li class="{{yea}}"><a href="{{base_url()}}year"> <span>Year</span></a></li>  
        <li class="{{aut}}"><a href="{{base_url()}}author"> <span>Author</span></a></li> 
        <li class="{{tit}}"><a href="{{base_url()}}title"> <span>Title</span></a></li>    
      </ul>
      <!-- /.sidebar-menu --> 


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Author</li>
        {% for item in most_count_dosen().items %}
        <li class=""><a href="{{base_url()}}author/lists/{{item.id}}/{{item.nama|url_encode}}"> <span>{{item.nama}} ({{item.total}})</span></a></li>   
        {% endfor %}
        <li class=""><a href="{{base_url()}}author"> <span>View More...</span></a></li>    
      </ul>
      <!-- /.sidebar-menu -->  

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Subject</li>
        {% for item in most_count_subject() %}
        <li class=""><a href="{{base_url()}}subject/lists/{{item.subject.id}}/{{item.subject.nama}}"> <span>{{item.subject.nama}} ({{item.total}})</span></a></li>  
        {% endfor %}
        <li class=""><a href="{{base_url()}}subject"> <span>View More...</span></a></li>    
      </ul>
      <!-- /.sidebar-menu --> 

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Data Issued</li> 
       {% for item in tahun_kegiatan_range() %}
        <li class=""><a href="{{base_url()}}yearissued/lists/{{item.dari}}/{{item.sampai}}"> <span>{{item.dari}} - {{item.sampai}} ({{item.total}})</span></a></li>   
        {% endfor %}
        <li class=""><a href="{{base_url()}}yearissued"> <span>View More...</span></a></li>    
      </ul>
      <!-- /.sidebar-menu --> 

      <div class="sidebar-box">
          <b>UHAMKA</b>
          Jl. Limau 2. Kebayoran Baru, Jakarta Selatan <br>
          Telp: +62(021)7394451 <br>
          Email: info@uhamka.ac.id
      </div>


    </section>
    <!-- /.sidebar -->
  </aside>