{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Year
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
              <li><a href="#"> Year </a></li>
              
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 


              <div class="box"> 

                  <div class="box-body">  

                        Collection merupakan kumpulan data repository berdasarkan yang diinput pada SIMAKIP data otomatis terintegrasi ke repository ini:

                         <ul class="list_berita_1">
                              {% for item in items %}  
                              <li >
                                  <h2><a href="{{base_url()}}year/lists/{{item.id}}/{{item.tahun}}">{{item.tahun}}</a> </h2> 
                              </li>  
                              {% endfor %}
                        </ul>

                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
{% endblock %}