{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Penelitian <small>Penelitian Mandiri</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li class="active">Penelitian Mandiri</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_judul,get_isvalidate = request_get('tahun'),request_get('judul'),request_get('isvalidate') %}
          <form action="{{base_url()}}penelitianhibahs/" method="GET" class="form-horizontal">
            <input type="hidden" name="views" value="{{views}}" />
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="judul" name="judul" id="inputEmail3" placeholder="Judul Penelitian" value="{{get_judul}}">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Tahun Kegiatan</label>
                <div class="col-sm-10">
                        <select class="form-control" id="tahun" name="tahun">
                          <option value="">Semua Tahun</option>
                          {% for item in tahun %}
                            <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==get_tahun) }}>{{item.tahun}}</option>
                          {% endfor %}
                        </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Status Validasi</label>
                <div class="col-sm-10">
                        <select class="form-control" id="isvalidate" name="isvalidate">
                          <option value="">Semua</option>
                            <option value="2" {{ set_select('isvalidate', 2,2==get_isvalidate) }}>Sudah di validasi</option>
                            <option value="1" {{ set_select('isvalidate', 1,1==get_isvalidate) }}>Belum di validasi</option>
                            <option value="3" {{ set_select('isvalidate', 3,3==get_isvalidate) }}>Belum valid</option>

                        </select>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Penelitian Mandiri</h3>
            </div><!-- .box-header -->

            <div class="box-body">
                   <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if isaddedit() %}
                          <a href="{{base_url()}}penelitianhibahs/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}penelitianhibahs/pdf?tahun={{get_tahun}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th style="width: 25%">Nama Dosen</th>
                          <th>Judul Penelitian </th>
                          <th>Anggaran</th>
                          <th>Sumber Dana</th>
                          <th>Tahun<!--  Pelaksanaan --></th>
                          <th>Lokasi<!--  Penelitian --></th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                        <tr>
                          <td>{{loop.index+((page-1)*views)}}.</td>
                          <td>
                              {{item.dosen.gelar_depan}} {{item.dosen.nama}}  {{item.dosen.gelar_belakang}}<br>
                              NIDN: {{item.dosen.nidn}}
                          </td>
                          <td>
                              <a href="{{base_url()}}penelitianhibahs/show/{{item.id}}">{{item.judul}} </a><br>
                              {# Anggaran: Rp. {{item.rp_anggaran}},-<br>
                              Sumber Dana: {{item.sumber}} #}
                          </td>
                          <td>Rp. {{item.rp_anggaran}},- </td>
                          <td>{{item.sumber}}</td>
                          <td>
                              {{item.tahun.tahun}}
                          </td>
                          <td>
                              {{item.lokasi}}
                          </td>
                          <td> <span class="text-danger">{{item.isvalidate_show}}</span> </td>
                          <td>
                              <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                          </td>
                        </tr>
                        <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                              <td colspan="9">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <div class="pull-left">
                                            <a href="{{base_url()}}download?type=penelitianhibah&id={{item.id}}" class="btn-sm btn btn-primary" target="_blank"> <i class="glyphicon glyphicon-download"></i> Download Berkas</a>
                                            {% if isvalidasi() and item.isvalidate == '2' or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) and item.isvalidate == '2' %}
                                                <a href="#" class="btn-sm btn btn-primary" data-validate="{{ item.isvalidate }}" data-alasan="{{ item.alasan }}" data-toggle="modal" data-target="#hasil-pengecekan"> Hasil Pengecekan</a>
                                            {% endif %}
                                        </div>
                                         <div class="pull-right">
                                            {% if (isaddedit() and item.isvalidate == '2') or (isaddedit() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                            <a href="{{base_url()}}penelitianhibahs/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
                                            {% endif %}
                                            {% if (isdelete() and item.isvalidate == '2') or (isdelete() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                            <a href="#" data-href="{{base_url()}}penelitianhibahs/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                            {% endif %}
                                            {% if isvalidasi() and item.isvalidate == '0' or isvalidasi() and item.isvalidate == '2' and roles(['operator']) == TRUE   %}
                                            <a href="#" data-href="{{base_url()}}penelitianhibahs/validate/{{item.id}}"  class="btn-sm btn btn-info" data-toggle="modal" data-target="#confirm-validate">Validate</a>
                                            {% endif %}
                                            {% if (isaddedit() and item.isvalidate == '3' and item.dosen.id==userinfo.id )%}
                                               <a href="#" data-href="{{base_url()}}penelitianhibahs/resubmit/{{item.id}}" class="btn-sm btn btn-info"  data-toggle="modal" data-target="#confirm-submit">Submit</a>
                                           {% endif %}
                                         </div>
                                      </div>
                                  </div>
                              </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                         <tr>
                            <th style="width: 10px">#</th>
                            <th>Nama Dosen</th>
                            <th>Judul Penelitian </th>
                            <th>Anggaran</th>
                            <th>Sumber Dana</th>
                            <th>Tahun</th>
                            <th>Lokasi</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>

                      </tfoot>
                  </table>

                <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->

        </div><!-- .box box-primary -->


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}
