{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
<a href="{{base_url()~'kinerja/jenishki/'}}">JENIS HKI</a>           
<a href="{{base_url()~'kinerja/jenisluaran/'}}">JENIS LUARAN</a>            
<a href="{{base_url()~'kinerja/tahunkegiatan/'}}">TAHUN KEGIATAN</a>
{% endblock %}