{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
{{ validation_errors() }}

{{ form_open('kinerja/jenishki/') }}
  Jenis HKI: <input type="text" name="nama" value=""><br>
  <br>
  <input type="submit" value="Tambah">
</form>
<table style="width:100%">
  <tr>
    <td>No</td>
    <td>Jenis HKI</td> 
    <td>Aksi</td>
  </tr>
  {% for item in items %}
  <tr>
    <td></td>
    <td>{{item.nama}}</td> 
    <td>{{item.aksi|raw}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}