{% extends 'template.twig' %}

{% block content %}
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++<br>
{{ validation_errors() }}

{{ form_open('kinerja/tahunkegiatan/') }}
  Tahun Kegiatan: <input type="text" name="tahun" value=""><br>
  <br>
  <input type="submit" value="Tambah">
</form>
<table style="width:100%">
  <tr>
    <td>No</td>
    <td>Tahun Kegiatan</td> 
    <td>Aksi</td>
  </tr>
  {% for item in items %}
  <tr>
    <td></td>
    <td>{{item.tahun}}</td> 
    <td>{{item.aksi|raw}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}