{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengaturan <small>Luaran Penelitian</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Konfigurasi </a></li>
        <li class="active"> Luaran Penelitian </li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title"> Luaran Penilitian </h3>

                  
            </div><!-- .box-header -->

            <div class="box-body">

                        <!-- Small boxes -->
                        <!-- /.row -->
                        {% block tab %}

                        {% endblock %}
                        <!-- nav-tabs-custom -->

            </div><!-- box_body -->

        </div><!-- .box box-primary --> 

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}