{% extends 'pengaturan/kinerja/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li class="active"><a href="{{base_url()}}kinerja/jenishki/">Jenis HKI</a></li>
            <li><a href="{{base_url()}}kinerja/jenisluaran">Jenis Luaran</a></li>
            <li><a href="{{base_url()}}kinerja/tahunkegiatan">Tahun Kegiatan</a></li>
            <li><a href="{{base_url()}}kinerja/sumberdana">Sumber Dana</a></li>  
            {#<li><a href="{{base_url()}}kinerja/subsumberdana">Sub Sumber Dana</a></li>#}
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="bheader">
                      <h3 class="btitle">Jenis HKI</h3>
                </div> 

                 <!-- s:form search -->
                <div class="box bordernya">
                  <div class="box-header with-border">
                    <h3 class="box-title">Form Tambah Data HKI</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  {{ form_open('kinerja/jenishki','class="form-horizontal"') }}
                    <div class="box-body">
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Jenis HKI</label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" id="" placeholder="" name="nama">
                          {% set error = validation_errors_array() %}
                          <span class="text-danger">{{error.nama}}</span>
                        </div>
                      </div> 
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-danger pull-right mr-10"> <i class="fa fa-plus"> </i> Tambah</button>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>
                <!-- e:form search -->

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Judul HKI</th> 
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in jenis_hki %}
                            <tr>
                              <td>{{loop.index}}.</td>
                              <td>
                                  {{item.nama}}
                              </td> 
                              <td> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}kinerja/jenis_hki/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr> 
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th>#</th>
                            <th>Judul HKI</th> 
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   
                {% for item in jenis_hki %}
                  <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  {{ form_open('kinerja/jenishki_edit/'~item.id,'data-toggle="validator"') }}
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Edit Jenis HKI</h4>
                            </div>
                            <div class="modal-body" id="validate_message">
                              <div class="form-horizontal">
                                  <div class="box-body"> 
                                      <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">Jenis HKI</label> 
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" id="nama" name="nama" required value="{{item.nama}}">
                                        </div>
                                      </div> 
                                  </div>
                              </div> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  </form>
                </div>
                {% endfor %}
              
                  {# <ul class="pagination pull-right">
                    <li class="active"><a href="#">1</a></li>
                  </ul> #}
              </div>

            <div class="clearfix">  
            </div>
      </div>
      <!-- /.tab-content -->
</div>
{% endblock %}