{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Penelitian <small>Penelitian External</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li class="active">Tambah Penelitian External</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Tambah Data Penelitian External</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_judul,get_isvalidate = request_get('tahun'),request_get('judul'),request_get('isvalidate') %}
          {{ form_open_multipart('penelitiandiktis/add','class="form-horizontal" id="jurnal"') }}
            <input type="hidden" name="views" value="{{views}}" />
            <div class="box-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="box bordernya">
                        <div class="box-header with-border">
                          <h3 class="box-title">Data Penelitian External</h3>
                        </div>
                        <div class="form-horizontal">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Sumber Dana</label>
                              <div class="col-sm-4">
                                <select class="form-control input-sm" id="sumberdana" name="pendanaan_penelitian">
                                <option value="">Pilih</option>
                                {% for item in sumberdana %}
                                  <option value={{item.id}}>{{item.sumberdana}}</option> 
                                {% endfor %}
                                </select>
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.pendanaan_penelitian}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label">Tahun Usulan</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="tahun_usulan" placeholder="Tahun Usulan">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.tahun_usulan}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Sub Sumber Dana</label>
                              {#<div class="col-sm-4">
                                <select id="subsumberdana" class="form-control input-sm" name="pendanaan_penelitian2">
                                  <option value="">Pilih</option>
                                  <!--<option>APBN</option>
                                  <option>LPDP</option>
                                  <option>International</option>-->
                                </select>
                              </div>#}
                              <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" name="pendanaan_penelitian2" placeholder="Sub Sumber Dana">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.pendanaan_penelitian2}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label">Tahun Pelaksanaan</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="tahun_pelaksanaan" placeholder="Tahun Pelaksanaan">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.tahun_pelaksanaan}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Nama Skema Penelitian</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="skema_penelitian" placeholder="Nama Skema Penelitian">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.skema_penelitian}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Judul Penelitian</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="skema_penelitian2" placeholder="Judul Penelitian">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.skema_penelitian2}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Nominal Penelitian</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" name="nominal_penelitian" placeholder="Nominal Penelitian">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.nominal_penelitian}}</span>   
                              </div>
                            </div>
                            {#<div class="form-group">
                              <label for="" class="col-sm-2 control-label">Kategori Penelitian</label>
                              <div class="col-sm-10">
                                <select class="form-control input-sm" name="kat_penelitian">
                                  <option value="">Pilih</option>
                                  <option value="internasional">Internasional</option>
                                  <option value="nasional">Nasional</option>
                                </select>
                              </div>
                            </div>#}
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Lama Penelitian</label>
                              <div class="col-sm-4">
                                <select class="form-control input-sm" name="lama_penelitian">
                                  <option value="">Pilih</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.lama_penelitian}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label">Tahun Ke</label>
                              <div class="col-sm-4">
                                <select class="form-control input-sm" name="tahun_ke">
                                  <option value="">Pilih</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </div>
                            </div>
                            <h4><strong>Revenue Penelitian</strong></h4>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Produk</label>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" name="produk" placeholder="Produk">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.produk}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label">Omzet</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="omzet" placeholder="Omzet">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.omzet}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Perusahaan</label>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" name="perusahaan" placeholder="Perusahaan">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.perusahaan}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label">Revenue</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="revenue" placeholder="Revenue">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.revenue}}</span>   
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Mitra</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="mitra" placeholder="Mitra">
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.mitra}}</span>   
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Abstrak</label>
                              <div class="col-sm-10">
                                <textarea class="form-control" name="abstrak"></textarea>
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.abstrak}}</span>   
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label"> Laporan Penelitian </label>
                              <div class="col-sm-10">
                                <input type="hidden" class="penelitian" name="laporan_penelitian_res" id="laporan_penelitian_res">
                                <input type="file" id="laporan_penelitian" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian" accept="application/pdf" data-id="1">
                                <div class="bootstrap-filestyle input-group">
                                  <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian}}">
                                  <span class="group-span-filestyle input-group-btn" tabindex="0">
                                    <label for="laporan_penelitian" class="btn btn-warning ">
                                      <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                      <span class="buttonText">Select File</span>
                                    </label>
                                    <a href="#" class="btn btn-success" id="laporan_penelitian_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                                  </span>
                                </div>
                                <span class="text-danger warning" id="warning1"></span>
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.laporan_penelitian_res}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label"></label>
                              <div class="col-sm-10">
                                <div class="progress">
                                  <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    <span class="percent"></span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label"> Laporan Penelitian Tercapai</label>
                              <div class="col-sm-10">
                                <input type="hidden" class="penelitian" name="laporan_penelitian_tercapai_res" id="laporan_penelitian_tercapai_res">
                                <input type="file" id="laporan_penelitian_tercapai" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian_tercapai" accept="application/pdf" data-id="1">
                                <div class="bootstrap-filestyle input-group">
                                  <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian_tercapai}}">
                                  <span class="group-span-filestyle input-group-btn" tabindex="0">
                                    <label for="laporan_penelitian_tercapai" class="btn btn-warning ">
                                      <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                      <span class="buttonText">Select File</span>
                                    </label>
                                    <a href="#" class="btn btn-success" id="laporan_penelitian_tercapai_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian_tercapai/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                                  </span>
                                </div>
                                <span class="text-danger warning" id="warning1"></span>
                                {% set error = validation_errors_array() %}
                                <span class="text-danger">{{error.laporan_penelitian_tercapai_res}}</span>   
                              </div>
                              <label for="" class="col-sm-2 control-label"></label>
                              <div class="col-sm-10">
                                <div class="progress">
                                  <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    <span class="percent"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.box-body -->
                        </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="box bordernya">
                    <div class="box-header with-border">
                      <h3 class="box-title">Anggota</h3>
                      <a href="#" id="add_anggota" class="btn btn-sm btn-danger pull-right"> <i class="fa fa-plus"> </i> Tambah Anggota </a>
                    </div>
                    <div class="form-horizontal">
                      <div class="box-body">
                        <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>NIP</th>
                              <th>Dosen</th>
                              <th>Program Studi</th>
                              <th>Status</th>
                              <th>Aksi</th>
                            </tr>
                          </thead>
                          <tbody id="dynamic_field">
                            <tr id="rowss1">
                              <td style="width: 10px">1</td>
                              <td>
                                <input type="hidden" value="{{ user.id }}" name="anggota_add[1][dosen_id]">
                                <input type="hidden" value="{{ user.nidn }}" name="anggota_add[1][nidn_anggota]">
                                {{ user.nidn }}
                              </td>
                              <td>{{ user.nama }}</td>
                              <td>{{ user.program_studi.nama }}</td>
                              <td>
                                <select name="anggota_add[1][status_anggota]">
                                  <option selected="selected" value="ketua">Ketua</option>
                                  <option value="anggota">Anggota</option>
                                </select>
                              </td>
                              <td>Aksi</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>NIP</th>
                              <th>Dosen</th>
                              <th>Program Studi</th>
                              <th>Status</th>
                              <th>Aksi</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan
            </button></div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $("#laporan_penelitian_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("laporan_penelitian",$(this).data("url"),$("#laporan_penelitian_res"),bar,percent);
    return event.preventDefault();
  });

  $("#laporan_penelitian_tercapai_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("laporan_penelitian_tercapai",$(this).data("url"),$("#laporan_penelitian_tercapai_res"),bar,percent);
    return event.preventDefault();
  });

  $("input[type='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    // $("#filename"+id).val(fileName);
    $(this).next().children().val(fileName);
    $("#warning"+id).empty('');
    console.log("fak",parseInt($(this).context.files[0].size));
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
      $(this).next().children().next().children().next().addClass('disabled');
    }else{
      $(this).next().children().next().children().next().removeClass('disabled');
    }
    var bar = $(this).parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('0%');
    percent.html('0%');
  });

  function upload(file,posturlfile,holder_result,bar,percent){
    var fd = new FormData();
    fd.append( 'file', $("#"+file)[0].files[0] );
    // formData.append('myfile', $('#myfile')[0].files[0]);

    $.ajax({
      xhr: function() {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress", function(evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            percentComplete = parseInt(percentComplete * 100);
            console.log(percentComplete);
            bar.width(percentComplete+'%');
            percent.html(percentComplete+'%');
          }
        }, false);
        return xhr;
      },
      url: posturlfile,
      type: "POST",
      data: fd,
      processData: false,
      contentType: false,
      success: function(result) {
        $("#"+file).val('');
        holder_result.val(result);
        console.log(result);
      }
    });
  }

  var i=1;
  $('#add_anggota').click(function(){
    event.preventDefault();
    i++;
    $('#dynamic_field').append('<tr id="row'+i+'" class="dynamic-added">'
      +'<td style="width: 10px"></td>'
      +'<td>'
        +'<input type="hidden" class="form-control" data-row-id="'+i+'" id="dosen_id'+i+'" name="dosen_id[]">'
        +'<input type="text" class="form-control nidn_anggota" data-row-id="'+i+'" id="nidn_anggota'+i+'" name="nidn_anggota[]" placeholder="NIDN"></td>'
      +'<td><span id="dosen_anggota'+i+'">Dosen</span></td>'
      +'<td><span id="prodi_anggota'+i+'">Program Studi</span></td>'
      +'<td><select name="status_anggota[]"><option value="ketua">Ketua</option><option selected="selected" value="anggota">Anggota</option></select></td>'
      +'<td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></td>'
      +'</tr>');
  });

  $('#sumberdana').change(function() { 
    event.preventDefault(); 
    refreshsub();
  }); 
  function refreshsub(){
    $("#subsumberdana").empty();
    var sumberdana = $("#sumberdana").val();
    console.log("awww",sumberdana);
    $.getJSON("{{base_url()}}penelitiandiktis/subsumberdana/"+sumberdana,function(result){
      console.log("result",result);
        var data = "";
        for(var i= 0; i<result.length;i++){ 
          data += '<option>'+result[i].subsumberdana+'</option>'; 
        } 
        $("#subsumberdana").html(data); 
    });
  }

  $(document).on('keyup', ".nidn_anggota",function () {
     var nidn = $(this).val();
     var rowid = $(this).attr("data-row-id");
     $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
       data = $.parseJSON(data);
       if(data.length != 0){
         $("#dosen_id"+rowid).val(data[0]["id"]);
         $("#dosen_anggota"+rowid).html(data[0]["nama"]);
         $("#prodi_anggota"+rowid).html(data[0]["program_studi"]["nama"]);
       }else{
         $("#dosen_id"+rowid).val();
         $("#dosen_anggota"+rowid).html();
         $("#prodi_anggota"+rowid).html();
       }
     });
   });

  $(document).on('click', '.btn_remove', function(){
    var rowid = $(this).attr("id");
    $('#row'+rowid+'').remove();
  });

});
</script>
{% endblock %}
