{% extends 'template.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Luaran Penelitian
                <small>Penelitian External</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li>
                    <a href="#">
                        Luaran Penelitian
                    </a>
                </li>
                <li class="active">Tambah Penelitian External</li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">

            <!-- s:form search -->
            <div class="box bordernya">
                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Penelitian External</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {% set get_tahun,
                get_judul,
                get_isvalidate = request_get('tahun'),
                request_get('judul'),
                request_get('isvalidate') %}
                {{ form_open_multipart('penelitiandiktis/edit/'~id,'class="form-horizontal" id="jurnal"') }}
                <input type="hidden" name="views" value="{{views}}"/>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box bordernya">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Data Penelitian External</h3>
                                </div>
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Pendanaan Penelitian</label>
                                            <div class="col-sm-4">
                                                <select class="form-control input-sm" id="sumberdana" name="pendanaan_penelitian">
                                                    <option value="">Pilih</option>
                                                    {% for item in sumberdana %}
                                                    <option value={{item.id}} selected="{{ pendanaan_penelitian == item.sumberdana ? 'selected' : '' }}">{{item.sumberdana}}</option> 
                                                    {% endfor %}
                                                    <!--<option selected="{{ pendanaan_penelitian == 'APBN' ? 'selected' : '' }}">APBN</option>
                                                    <option selected="{{ pendanaan_penelitian == 'LPDP' ? 'selected' : '' }}">LPDP</option>
                                                    <option selected="{{ pendanaan_penelitian == 'International' ? 'selected' : '' }}">International</option>-->
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-2 control-label">Tahun Usulan</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" name="tahun_usulan" value="{{set_value('tahun_usulan', tahun_usulan)}}" placeholder="Tahun Usulan">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Pendanaan Penelitian</label>
                                            <div class="col-sm-4">
                                                <select  id="subsumberdana" class="form-control input-sm" name="pendanaan_penelitian2">
                                                    <option value="">Pilih</option>
                                                    {% for item in sumberdana %}
                                                    <option selected="{{ pendanaan_penelitian == item.subsumberdana ? 'selected' : '' }}">{{item.subsumberdana}}</option> 
                                                    {% endfor %}
                                                    <!--<option selected="{{ pendanaan_penelitian2 == 'APBN' ? 'selected' : '' }}">APBN</option>
                                                    <option selected="{{ pendanaan_penelitian2 == 'LPDP' ? 'selected' : '' }}">LPDP</option>
                                                    <option selected="{{ pendanaan_penelitian2 == 'International' ? 'selected' : '' }}">International</option>-->
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-2 control-label">Tahun Pelaksanaan</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" name="tahun_pelaksanaan" value="{{set_value('tahun_pelaksanaan', tahun_pelaksanaan)}}" placeholder="Tahun Pelaksanaan">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Nama Skema Penelitian</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="skema_penelitian" value="{{set_value('skema_penelitian', skema_penelitian)}}" placeholder="Nama Skema Penelitian">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Judul Penelitian</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="skema_penelitian2" value="{{set_value('skema_penelitian2', skema_penelitian2)}}" placeholder="Judul Penelitian">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Lama Penelitian</label>
                                            <div class="col-sm-4">
                                                <select class="form-control input-sm" name="lama_penelitian">
                                                    <option value="">Pilih</option>
                                                    <option selected="{{ lama_penelitian == '1' ? 'selected' : '' }}">1</option>
                                                    <option selected="{{ lama_penelitian == '2' ? 'selected' : '' }}">2</option>
                                                    <option selected="{{ lama_penelitian == '3' ? 'selected' : '' }}">3</option>
                                                    <option selected="{{ lama_penelitian == '4' ? 'selected' : '' }}">4</option>
                                                    <option selected="{{ lama_penelitian == '5' ? 'selected' : '' }}">5</option>
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-2 control-label">Tahun Ke</label>
                                            <div class="col-sm-4">
                                                <select class="form-control input-sm" name="tahun_ke">
                                                    <option value="">Pilih</option>
                                                    <option selected="{{ tahun_ke == '1' ? 'selected' : '' }}">1</option>
                                                    <option selected="{{ tahun_ke == '2' ? 'selected' : '' }}">2</option>
                                                    <option selected="{{ tahun_ke == '3' ? 'selected' : '' }}">3</option>
                                                    <option selected="{{ tahun_ke == '4' ? 'selected' : '' }}">4</option>
                                                    <option selected="{{ tahun_ke == '5' ? 'selected' : '' }}">5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h4>
                                            <strong>Revenue Penelitian</strong>
                                        </h4>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Produk</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" value="{{set_value('produk', produk)}}" name="produk" placeholder="Produk">
                                            </div>
                                            <label for="" class="col-sm-2 control-label">Omzet</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" value="{{set_value('omzet', omzet)}}" name="omzet" placeholder="Omzet">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Perusahaan</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" value="{{set_value('perusahaan', perusahaan)}}" name="perusahaan" placeholder="Perusahaan">
                                            </div>
                                            <label for="" class="col-sm-2 control-label">Revenue</label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control" value="{{set_value('revenue', revenue)}}" name="revenue" placeholder="Revenue">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">Mitra</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="{{set_value('mitra', mitra)}}" name="mitra" placeholder="Mitra">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="" class="col-sm-2 control-label">Abstrak</label>
                                          <div class="col-sm-10">
                                            <textarea class="form-control" name="abstrak">{{abstrak}}</textarea>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">
                                                Laporan Penelitian
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="hidden" class="penelitian" name="laporan_penelitian_res" id="laporan_penelitian_res" value="{{laporan_penelitian}}">
                                                <input type="file" id="laporan_penelitian" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian" accept="image/*" data-id="1">
                                                <div class="bootstrap-filestyle input-group">
                                                    <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian}}">
                                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                        <label for="laporan_penelitian" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                                            <span class="buttonText">Select File</span>
                                                        </label>
                                                        <a href="#" class="btn btn-success" id="laporan_penelitian_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian/">
                                                            <i class="glyphicon glyphicon-floppy-disk"></i>
                                                            Uploads
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="text-danger warning" id="warning1"></span>
                                            </div>
                                            <label for="" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        <span class="percent"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-2 control-label">
                                                Laporan Penelitian Tercapai</label>
                                            <div class="col-sm-10">
                                                <input type="hidden" class="penelitian" name="laporan_penelitian_tercapai_res" id="laporan_penelitian_tercapai_res" value="{{laporan_penelitian_tercapai}}">
                                                <input type="file" id="laporan_penelitian_tercapai" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian_tercapai" accept="image/*" data-id="1">
                                                <div class="bootstrap-filestyle input-group">
                                                    <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian_tercapai}}">
                                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                        <label for="laporan_penelitian_tercapai" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                                            <span class="buttonText">Select File</span>
                                                        </label>
                                                        <a href="#" class="btn btn-success" id="laporan_penelitian_tercapai_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian_tercapai/">
                                                            <i class="glyphicon glyphicon-floppy-disk"></i>
                                                            Uploads
                                                        </a>
                                                    </span>
                                                </div>
                                                <span class="text-danger warning" id="warning1"></span>
                                            </div>
                                            <label for="" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        <span class="percent"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box bordernya">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Anggota</h3>
                                    <a href="#" id="add_anggota" class="btn btn-sm btn-danger pull-right">
                                        <i class="fa fa-plus"></i>
                                        Tambah Anggota
                                    </a>
                                </div>
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>NIP</th>
                                                    <th>Dosen</th>
                                                    <th>Program Studi</th>
                                                    <th>Status</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody id="dynamic_field">
                                                {% for anggota in penelitian_dikti_anggota %}
                                                    {% if anggota.status == 'ketua' %}
                                                        <tr id="rowss{{loop.index}}">
                                                            <td style="width: 10px">{{ loop.index }}</td>
                                                            <td>{{ anggota.dosen.nidn }}</td>
                                                            <td>{{ anggota.dosen.nama }}</td>
                                                            <td>{{ anggota.dosen.program_studi.nama }}</td>
                                                            <td>{{ anggota.status }}</td>
                                                            <td>
                                                                {% if (roles(["Operator Lemlitbang","Sekretaris Lemlitbang","Ketua Lemlitbang"])) %}
                                                                    <a
                                                                        href="#"
                                                                        data-row-ss-id="rowss{{loop.index}}"
                                                                        data-anggota-id-ss="{{ anggota.id }}"
                                                                        data-penelitian-dikti-id-ss="{{ anggota.penelitian_dikti }}"
                                                                        data-dosen-id-ss="{{ anggota.dosen.id }}"
                                                                        data-nidn-ss="{{ anggota.dosen.nidn }}"
                                                                        data-status-ss="{{ anggota.status }}"
                                                                        class="btn btn-sm btn-warning btn_edit_ss">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a href="#" data-anggota-id-ss="{{ anggota.id }}" class="btn btn-sm btn-danger btn_remove_ss">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr id="rowss{{loop.index}}">
                                                            <td style="width: 10px">{{ loop.index }}</td>
                                                            <td>{{ anggota.dosen.nidn }}</td>
                                                            <td>{{ anggota.dosen.nama }}</td>
                                                            <td>{{ anggota.dosen.program_studi.nama }}</td>
                                                            <td>{{ anggota.status }}</td>
                                                            <td>
                                                                <a
                                                                    href="#"
                                                                    data-row-ss-id="rowss{{loop.index}}"
                                                                    data-anggota-id-ss="{{ anggota.id }}"
                                                                    data-penelitian-dikti-id-ss="{{ anggota.penelitian_dikti }}"
                                                                    data-dosen-id-ss="{{ anggota.dosen.id }}"
                                                                    data-nidn-ss="{{ anggota.dosen.nidn }}"
                                                                    data-status-ss="{{ anggota.status }}"
                                                                    class="btn btn-sm btn-warning btn_edit_ss">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a href="#" data-anggota-id-ss="{{ anggota.id }}" class="btn btn-sm btn-danger btn_remove_ss">
                                                                    <i class="fa fa-remove"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>NIP</th>
                                                    <th>Dosen</th>
                                                    <th>Program Studi</th>
                                                    <th>Status</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>Cancel</button>
                    <button type="submit" class="btn btn-success btn-ok">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Simpan
                    </button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>
                {{session.flashdata.success}}
            </div>
        {% endif %}
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
    $(document).ready(function() {
        $("#laporan_penelitian_btn").click(function() {
            var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
            var percent = bar.children('.percent');
            console.log(percent);
            bar.width('100%');
            upload("laporan_penelitian", $(this).data("url"), $("#laporan_penelitian_res"), bar, percent);
            return event.preventDefault();
        });

        $("#laporan_penelitian_tercapai_btn").click(function() {
            var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
            var percent = bar.children('.percent');
            console.log(percent);
            bar.width('100%');
            upload("laporan_penelitian_tercapai", $(this).data("url"), $("#laporan_penelitian_tercapai_res"), bar, percent);
            return event.preventDefault();
        });

        $("input[type='file']").change(function() {
            var id = $(this).data('id');
            console.log(id);
            var fileName = $(this).val().split('/').pop().split('\\').pop();
            // $("#filename"+id).val(fileName);
            $(this).next().children().val(fileName);
            $("#warning" + id).empty('');
            if (parseInt($(this).context.files[0].size) > 1000000) {
                $("#warning" + id).append('File Size more than 10 MB');
                $(this).next().children().next().children().next().addClass('disabled');
            } else {
                $(this).next().children().next().children().next().removeClass('disabled');
            }
            var bar = $(this).parent().next().next().children().children('.bar');
            var percent = bar.children('.percent');
            bar.width('0%');
            percent.html('0%');
        });

        $('#sumberdana').change(function() { 
            event.preventDefault(); 
            refreshsub();
        }); 
        function refreshsub(){
            $("#subsumberdana").empty();
            var sumberdana = $("#sumberdana").val();
            console.log("awww",sumberdana);
            $.getJSON("{{base_url()}}penelitiandiktis/subsumberdana/"+sumberdana,function(result){
            console.log("result",result);
                var data = "";
                for(var i= 0; i<result.length;i++){ 
                data += '<option>'+result[i].subsumberdana+'</option>'; 
                } 
                $("#subsumberdana").html(data); 
            });
        }

        function upload(file, posturlfile, holder_result, bar, percent) {
            var fd = new FormData();
            fd.append('file', $("#" + file)[0].files[0]);
            // formData.append('myfile', $('#myfile')[0].files[0]);

            $.ajax({
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            console.log(percentComplete);
                            bar.width(percentComplete + '%');
                            percent.html(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                url: posturlfile,
                type: "POST",
                data: fd,
                processData: false,
                contentType: false,
                success: function(result) {
                    $("#" + file).val('');
                    holder_result.val(result);
                    console.log(result);
                }
            });
        }

        var i = 1;
        $('#add_anggota').click(function() {
            event.preventDefault();
            i++;
            $('#dynamic_field').append(
                '<tr id="row' + i + '" class="dynamic-added"><td style="width: 10px"></td><td><input type="hidden" class="form-control" data-row-id="' + i + '" id="dosen_id' + i + '" name="anggota_add[' + i + '][dosen_id]"><input type="text" class="form-control nid' +
                'n_anggota" data-row-id="' + i + '" id="nidn_anggota' + i + '" name="anggota_add[' + i + '][nidn_anggota]" placeholder="NIDN"></td><td><span id="dosen_anggota' + i + '">Dosen</span></td><td><span id="prodi_anggota' + i + '">Program Studi</span></td>' +
                '<td><select name="anggota_add[' + i + '][status_anggota]"><option value="ketua">Ketua</option><option selected="selected" value="anggota">Anggota</option></select></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn' +
                '_remove">X</button></td></tr>'
            );
        });

        $(document).on('click', '.btn_remove', function() {
            var rowid = $(this).attr("id");
            $('#row' + rowid + '').remove();
        });

        $(document).on('keyup', ".nidn_anggota", function() {
            var nidn = $(this).val();
            var rowid = $(this).attr("data-row-id");
            $.get("{{base_url()}}pengguna/json/" + nidn, function(data) {
                data = $.parseJSON(data);
                if (data.length != 0) {
                    $("#dosen_id" + rowid).val(data[0]["id"]);
                    $("#dosen_anggota" + rowid).html(data[0]["nama"]);
                    $("#prodi_anggota" + rowid).html(data[0]["program_studi"]["nama"]);
                } else {
                    $("#dosen_id" + rowid).val();
                    $("#dosen_anggota" + rowid).html();
                    $("#prodi_anggota" + rowid).html();
                }
            });
        });

        $(document).on('keyup', ".nidn_anggota_ss", function() {
            var nidn_ss = $(this).val();
            var rowid_ss = $(this).attr("data-row-id-input");
            $.get("{{base_url()}}pengguna/json/" + nidn_ss, function(data) {
                data = $.parseJSON(data);
                if (data.length != 0) {
                    $("#dosen_id_input" + rowid_ss).attr('value', data[0]["id"]);
                    $("#" + rowid_ss + " td").eq(2).html(data[0]["nama"])
                    $("#" + rowid_ss + " td").eq(3).html(data[0]["program_studi"]["nama"]);
                }
            });
        });

        $(document).on('click', '.btn_edit_ss', function() {
            event.preventDefault();
            var rowss_id = $(this).attr("data-row-ss-id");
            var dosen_id_ss = $(this).attr("data-dosen-id-ss");
            var penlitian_dikti_id_ss = $(this).attr("data-penelitian-dikti-id-ss");
            var nidn_ss = $(this).attr("data-nidn-ss");
            var status_ss = $(this).attr("data-status-ss");
            var anggota_id_ss = $(this).attr("data-anggota-id-ss");

            $("#" + rowss_id + " td").eq(4).html(
                '<select name="anggota[' + anggota_id_ss + '][status_anggota]"><option value="ketua">Ketua</option><option selected="selected" value="anggota">Anggota</option></select>'
            )
            $("#" + rowss_id + " td").eq(5).html(
                '<a href="#" data-row-ss-id="' + rowss_id + '" data-anggota-id-ss="' + anggota_id_ss + '" data-penelitian-dikti-id-ss="' + penlitian_dikti_id_ss + '" data-dosen-id-ss="' + dosen_id_ss + '" data-nidn-ss="' + nidn_ss + '" data-status-ss="' +
                status_ss + '" class="btn btn-sm btn-info btn_cancel">Cancel</a>'
            );
            $("#" + rowss_id + " td").eq(1).html(
                '<input type="hidden" name="anggota[' + anggota_id_ss + '][anggota_id]" value="' + anggota_id_ss + '"><input type="hidden" name="anggota[' + anggota_id_ss + '][penelitian_dikti_id]" value="' + penlitian_dikti_id_ss + '"><input type="hidden" name="an' +
                'ggota[' + anggota_id_ss + '][dosen_id]" id="dosen_id_input' + rowss_id + '" value="' + dosen_id_ss + '"><input type="text" data-row-id-input="' + rowss_id + '" class="nidn_anggota_ss" name="anggota[' + anggota_id_ss + '][nidn_anggota]" value="' +
                nidn_ss + '">'
            )
        });

        $(document).on('click', '.btn_cancel', function() {
            event.preventDefault();

            var rowss_id = $(this).attr("data-row-ss-id");
            var dosen_id_ss = $(this).attr("data-dosen-id-ss");
            var penlitian_dikti_id_ss = $(this).attr("data-penelitian-dikti-id-ss");
            var nidn_ss = $(this).attr("data-nidn-ss");
            var status_ss = $(this).attr("data-status-ss");
            var anggota_id_ss = $(this).attr("data-anggota-id-ss");

            $("#" + rowss_id + " td").eq(4).html(status_ss)
            $("#" + rowss_id + " td").eq(5).html(
                '<a href="#" data-row-ss-id="' + rowss_id + '" data-anggota-id-ss="' + anggota_id_ss + '" data-penelitian-dikti-id-ss="' + penlitian_dikti_id_ss + '" data-dosen-id-ss="' + dosen_id_ss + '" data-nidn-ss="' + nidn_ss + '" data-status-ss="' +
                status_ss + '" class="btn btn-sm btn-warning btn_edit_ss"> <i class="fa fa-pencil"></i> </a>&nbsp;<a href="#" data-anggota-id-ss="' + anggota_id_ss + '" class="btn btn-sm btn-danger"> <i class="fa fa-remove"></i> </a>'
            );
            $("#" + rowss_id + " td").eq(1).html(nidn_ss)
        });

        $(document).on('click', '.btn_remove_ss', function(event) {
            event.preventDefault();
            var anggota_id = $(this).attr("data-anggota-id-ss");
            $.ajax({
                url: '{{base_url()}}penelitiandiktis/deleteanggota',
                method: "POST",
                data: {
                    "anggota_id": anggota_id
                },
                type: 'json',
                success: function(data) {
                    // console.log(data)
                    location.reload()
                }
            });
        });

    });
</script>
{% endblock %}
