{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Penelitian <small>Penelitian External</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li class="active">Penelitian Mandiri</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Input</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_judul,get_isvalidate = request_get('tahun'),request_get('judul'),request_get('isvalidate') %}
          <form action="{{base_url()}}penelitiandiktis/" method="GET" class="form-horizontal">
            <input type="hidden" name="views" value="{{views}}" />
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Pendanaan Penelitian</label>
                <div class="col-sm-4">
                  <select class="form-control input-sm" name="pendanaan_penelitian">
                    <option value="">Pilih</option>
                    <option>APBN</option>
                    <option>LPDP</option>
                    <option>International</option>
                  </select>
                </div>
                <label for="" class="col-sm-2 control-label">Tahun Usulan</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="tahun_usulan" placeholder="Tahun Usulan">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Pendanaan Penelitian</label>
                <div class="col-sm-4">
                  <select class="form-control input-sm" name="pendanaan_penelitian2">
                    <option value="">Pilih</option>
                    <option>APBN</option>
                    <option>LPDP</option>
                    <option>International</option>
                  </select>
                </div>
                <label for="" class="col-sm-2 control-label">Tahun Pelaksanaan</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="tahun_pelaksanaan" placeholder="Tahun Pelaksanaan">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Skema Penelitian</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="skema_penelitian" placeholder="Nama Skema Penelitian">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Skema Penelitian</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="skema_penelitian2" placeholder="Nama Skema Penelitian">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Lama Penelitian</label>
                <div class="col-sm-4">
                  <select class="form-control input-sm" name="lama_penelitian">
                    <option value="">Pilih</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <label for="" class="col-sm-2 control-label">Tahun Ke</label>
                <div class="col-sm-4">
                  <select class="form-control input-sm" name="tahun_ke">
                    <option value="">Pilih</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <h4><strong>Revenue Penelitian</strong></h4>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Produk</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="produk" placeholder="Produk">
                </div>
                <label for="" class="col-sm-2 control-label">Omzet</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="omzet" placeholder="Omzet">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Perusahaan</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="perusahaan" placeholder="Perusahaan">
                </div>
                <label for="" class="col-sm-2 control-label">Revenue</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="revenue" placeholder="Revenue">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Mitra</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="mitra" placeholder="Mitra">
                </div>
              </div>
             
              <div class="form-group">
                <label for="" class="col-sm-2 control-label"> Laporan Penelitian </label>
                <div class="col-sm-10">
                  <input type="hidden" class="penelitian" name="laporan_penelitian_res" id="laporan_penelitian_res">
                  <input type="file" id="laporan_penelitian" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian" accept="image/*" data-id="1">
                  <div class="bootstrap-filestyle input-group">
                    <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian}}">
                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                      <label for="laporan_penelitian" class="btn btn-warning ">
                        <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                        <span class="buttonText">Select File</span>
                      </label>
                      <a href="#" class="btn btn-success" id="laporan_penelitian_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                    </span>
                  </div>
                  <span class="text-danger warning" id="warning1"></span>
                </div>
                <label for="" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <div class="progress">
                    <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                      <span class="percent"></span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="" class="col-sm-2 control-label"> Laporan Penelitian Tercapai</label>
                <div class="col-sm-10">
                  <input type="hidden" class="penelitian" name="laporan_penelitian_tercapai_res" id="laporan_penelitian_tercapai_res">
                  <input type="file" id="laporan_penelitian_tercapai" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_penelitian_tercapai" accept="image/*" data-id="1">
                  <div class="bootstrap-filestyle input-group">
                    <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{laporan_penelitian_tercapai}}">
                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                      <label for="laporan_penelitian_tercapai" class="btn btn-warning ">
                        <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                        <span class="buttonText">Select File</span>
                      </label>
                      <a href="#" class="btn btn-success" id="laporan_penelitian_tercapai_btn" data-url="{{base_url()}}penelitiandiktis/upload_laporan_penelitian_tercapai/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                    </span>
                  </div>
                  <span class="text-danger warning" id="warning1"></span>
                </div>
                <label for="" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <div class="progress">
                    <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:0%">
                      <span class="percent"></span>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- /.box-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan
            </button></div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Penelitian Mandiri</h3>
            </div><!-- .box-header -->

            <div class="box-body">
                   <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if isaddedit() %}
                          <a href="{{base_url()}}penelitiandiktis/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}penelitiandiktis/pdf?tahun={{get_tahun}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th style="width: 25%">Nama Dosen</th>
                          <th>Judul Penelitian </th>
                          <th>Anggaran</th>
                          <th>Sumber Dana</th>
                          <th>Tahun<!--  Pelaksanaan --></th>
                          <th>Lokasi<!--  Penelitian --></th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                        <tr>
                          <td>{{loop.index+((page-1)*views)}}.</td>
                          <td>
                              {{item.dosen.gelar_depan}} {{item.dosen.nama}}  {{item.dosen.gelar_belakang}}<br>
                              NIDN: {{item.dosen.nidn}}
                          </td>
                          <td>
                              <a href="{{base_url()}}penelitiandiktis/show/{{item.id}}">{{item.judul}} </a><br>
                              {# Anggaran: Rp. {{item.rp_anggaran}},-<br>
                              Sumber Dana: {{item.sumber}} #}
                          </td>
                          <td>Rp. {{item.rp_anggaran}},- </td>
                          <td>{{item.sumber}}</td>
                          <td>
                              {{item.tahun.tahun}}
                          </td>
                          <td>
                              {{item.lokasi}}
                          </td>
                          <td> <span class="text-danger">{{item.isvalidate_show}}</span> </td>
                          <td>
                              <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                          </td>
                        </tr>
                        <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                              <td colspan="9">
                                  <div class="row">
                                      <div class="col-sm-12">
                                        <div class="pull-left">
                                            <a href="{{base_url()}}download?type=penelitianhibah&id={{item.id}}" class="btn-sm btn btn-primary" target="_blank"> <i class="glyphicon glyphicon-download"></i> Download Berkas</a>
                                            {% if isvalidasi() and item.isvalidate == '2' or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) and item.isvalidate == '2' %}
                                                <a href="#" class="btn-sm btn btn-primary" data-validate="{{ item.isvalidate }}" data-alasan="{{ item.alasan }}" data-toggle="modal" data-target="#hasil-pengecekan"> Hasil Pengecekan</a>
                                            {% endif %}
                                        </div>
                                         <div class="pull-right">
                                            {% if (isaddedit() and item.isvalidate == '2') or (isaddedit() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                            <a href="{{base_url()}}penelitiandiktis/edit/{{item.id}}" class="btn-sm btn btn-warning">Edit</a>
                                            {% endif %}
                                            {% if (isdelete() and item.isvalidate == '2') or (isdelete() and item.isvalidate == '3') or roles(["Operator Lemlitbang","Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                            <a href="#" data-href="{{base_url()}}penelitiandiktis/delete/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                            {% endif %}
                                            {% if isvalidasi() and item.isvalidate == '0' or isvalidasi() and item.isvalidate == '2' and roles(['operator']) == TRUE   %}
                                            <a href="#" data-href="{{base_url()}}penelitiandiktis/validate/{{item.id}}"  class="btn-sm btn btn-info" data-toggle="modal" data-target="#confirm-validate">Validate</a>
                                            {% endif %}
                                            {% if (isaddedit() and item.isvalidate == '3' and item.dosen.id==userinfo.id )%}
                                               <a href="#" data-href="{{base_url()}}penelitiandiktis/resubmit/{{item.id}}" class="btn-sm btn btn-info"  data-toggle="modal" data-target="#confirm-submit">Submit</a>
                                           {% endif %}
                                         </div>
                                      </div>
                                  </div>
                              </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                         <tr>
                            <th style="width: 10px">#</th>
                            <th>Nama Dosen</th>
                            <th>Judul Penelitian </th>
                            <th>Anggaran</th>
                            <th>Sumber Dana</th>
                            <th>Tahun</th>
                            <th>Lokasi</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>

                      </tfoot>
                  </table>

                <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->

        </div><!-- .box box-primary -->


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
  
  $("#laporan_penelitian_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("laporan_penelitian",$(this).data("url"),$("#laporan_penelitian_res"),bar,percent);
    return event.preventDefault();
  });
  
  $("#laporan_penelitian_tercapai_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    upload("laporan_penelitian_tercapai",$(this).data("url"),$("#laporan_penelitian_tercapai_res"),bar,percent);
    return event.preventDefault();
  });
  
  $("input[type='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    // $("#filename"+id).val(fileName);
    $(this).next().children().val(fileName);
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>1000000){
      $("#warning"+id).append('File Size more than 10 MB');
      $(this).next().children().next().children().next().addClass('disabled');
    }else{
      $(this).next().children().next().children().next().removeClass('disabled');
    }
    var bar = $(this).parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('0%');
    percent.html('0%');
  });
  
  function upload(file,posturlfile,holder_result,bar,percent){
      var fd = new FormData();    
      fd.append( 'file', $("#"+file)[0].files[0] );
      // formData.append('myfile', $('#myfile')[0].files[0]);

      $.ajax({
        xhr: function() {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function(evt) {
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
              percentComplete = parseInt(percentComplete * 100);
              console.log(percentComplete);
              bar.width(percentComplete+'%');
              percent.html(percentComplete+'%');
            }
          }, false);
          return xhr;
        },
        url: posturlfile,
        type: "POST",
        data: fd,
        processData: false,
        contentType: false,
        success: function(result) {
          $("#"+file).val('');
          holder_result.val(result);
          console.log(result);
        }
      });
    }

});
</script>
{% endblock %}
