{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Luaran Penelitian <small>Penelitian External</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li><a href="#"> Luaran Penelitian </a></li>
        <li class="active">Penelitian External</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Penelitian External</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_judul,get_isvalidate = request_get('tahun'),request_get('judul'),request_get('isvalidate') %}
          <form action="{{base_url()}}penelitiandiktis/" method="GET" class="form-horizontal">
            <input type="hidden" name="views" value="{{views}}" />
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="judul_penelitian" placeholder="Judul Penelitian">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Tahun Kegiatan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="tahun_kegiatan" placeholder="Tahun Kegiatan">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status Validasi</label>
                <div class="col-sm-10">
                  <select class="form-control input-sm" name="status_validasi">
                    <option value="">Pilih</option>
                  </select>
                </div>
              </div>
              
            </div>
            <!-- /.box-body -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-search"> </i> Cari
            </button></div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Penelitian External</h3>
            </div><!-- .box-header -->

            <div class="box-body">
                   <div class="row mb-10">
                      <div class="col-sm-4">
                        {% if isaddedit() %}
                          <a href="{{base_url()}}penelitiandiktis/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                        {% endif %}
                      </div>
                      <div class="col-sm-8">
                          <div class="box-tools settingnya">
                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <a href="{{base_url()}}penelitiandiktis/pdf?tahun={{get_tahun}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <table id="jstablecontroler" width="100%" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Nama Skema</th>
                          <th>Judul Penelitian</th>
                          <th>Lama Penelitian</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                        <tr>
                          <td style="width: 10px">{{ loop.index }}</td>
                          <td>{{ item.skema_penelitian }}</td>
                          <td>Judul Penelitian</td>
                          <td>{{ item.lama_penelitian }}</td>
                          <td>
                            <a href="{{base_url()}}penelitiandiktis/edit/{{item.id}}" class="btn btn-sm btn-warning confirmation"> <i class="fa fa-pencil"></i> </a>
                            <a href="{{base_url()}}penelitiandiktis/delete/{{item.id}}" class="btn btn-sm btn-danger" title="Delete"> <i class="fa fa-trash"></i> </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                         <tr>
                           <th style="width: 10px">#</th>
                           <th>Nama Skema</th>
                           <th>Judul Penelitian</th>
                           <th>Lama Penelitian</th>
                           <th>Action</th>
                        </tr>

                      </tfoot>
                  </table>

                <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->

        </div><!-- .box box-primary -->


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
  
});
</script>
{% endblock %}
