<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENNSI</h1>
  <!-- <div style="border: 1px solid #c1c1c1;"> -->
<h2>Luaran Lain Penelitian</h2> 
<hr>

<h3 class="box-title"> Publikasi Ilmiah </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:48%;">Jurnal</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:47%;">Judul</th>
  </tr> 
  {% for item in items1 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.jurnal}}</span><br>
          {{item.content.klasifikasi}}<br>
          {{item.content.impact}}
      </td> 
      <td>
          <span class="text-success">{{item.content.judul}}</span><br>
          {{item.content.status}}
      </td>
    </tr>
  {% endfor %}
</table>   
<br><br>

<hr>

<h3 class="box-title"> Buku Ajar </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:45%;">Judul</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:30%;">Penulis</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:20%;">Penerbit</th>
  </tr> 
  {% for item in items2 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.judul}}</span><br>
          {{item.content.isbn}}
      </td> 
      <td>
          {{item.content.penulis}}
      </td>
      <td>
          {{item.content.penerbit}}
      </td>
    </tr>
  {% endfor %}
</table>  

<br><br>
<hr>

<h3 class="box-title"> Pembicara pada Pertemuan Ilmiah (Seminar/Simposium) </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:55%;">Pertemuan Ilmiah</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:40%;">Judul Makalah</th>
  </tr> 
  {% for item in items3 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.pertemuan}}</span><br>
          {{item.content.klasifikasi}}<br>
          {{item.content.tempat}}, {{item.content.tanggal}}
      </td> 
      <td>
          <span class="text-success">{{item.content.judul}}</span><br>
          {{item.content.status}}
      </td>
    </tr>
  {% endfor %}
</table> 

<br><br>
<hr>

<h3 class="box-title"> Sebagai Invited Speaker </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:45%;">Kegiatan</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:30%;">Judul Makalah</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:20%;">Penulis</th>
  </tr> 
  {% for item in items4 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.klasifikasi}}</span><br>
          {{item.content.penyelenggara}}<br>
          {{item.content.tempat}}<br>
          {{item.content.tanggal}}
      </td> 
      <td>
          <span class="text-success">{{item.content.judul}}</span><br>
          {{item.content.status}}
      </td>
      <td>
        {{item.content.penulis}}
      </td>
    </tr>
  {% endfor %}
</table> 

<br><br>
<hr>

<h3 class="box-title"> Undangan Sebagai Visiting Scientist pada Perguruan Tinggi Lain </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:45%;">Pengundang</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:30%;">Lama Kegiatan</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:20%;">Kegiatan</th>
  </tr> 
  {% for item in items5 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.pengundang}}</span><br>
          {{item.content.klasifikasi}}
      </td> 
      <td>
          {{item.content.lama}}
      </td>
      <td>
          {{item.content.judul}}
      </td>
    </tr>
  {% endfor %}
</table> 

<br><br>
<hr>

<h3 class="box-title"> Capaian Luaran Lainnya </h3>
<table  style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="200%"> 
  <tr>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:5%;">#</th>
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:55%;">Jenis Luaran</th> 
    <th style="background-color: #778899;color: white;text-align: left;padding: 8px;width:40%;">Uraian</th>
  </tr> 
  {% for item in items6 %}
    <tr {% if loop.index is odd %}style="background-color: #f2f2f2;"{% endif %}>
      <td>{{loop.index+((page-1)*views)}}.</td>
      <td>
          <span class="text-success">{{item.content.klasifikasi}}</span>
      </td> 
      <td>
          {{item.content.judul}}
      </td>
    </tr>
  {% endfor %}
</table> 

            {# {% include 'monev/borang_view/luaran/visiting_scientist.twig' %} #}
            {# {% include 'monev/borang_view/luaran/luaran_lainnya.twig' %} #}
</body>
</html>
