{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
               Manajemen Penelitian <small>Laporan Penelitian</small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
              <li>Manajemen Penelitian</li>
              <li>Laporan Penelitian</li>
              <li class="active">Tambah Laporan</li> 
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 
              {% set error = validation_errors_array() %}

              {{ form_open_multipart('penelitianslaporans/insert','id="jurnal"') }}
              <div class="box box-warning">
                  <div class="box-header with-border">
                        <h3 class="box-title">Tambah Laporan Penelitian</h3> 
                        <div class="box-tools settingnya">   
                              <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                        </div>
                  </div><!-- .box-header --> 
                  <div class="box-body">  

                          <div class="row">
                          <div class="col-sm-12">                                    
                                  <!-- s:Personil Dosen-->
                                  <div class="box bordernya">
                                        <div class="box-header with-border">
                                          <h3 class="box-title"> Laporan Penelitian </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="form-horizontal" action="javascript:history.back()">
                                            <div class="box-body"> 
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label">NIDN</label> 
                                                  <div class="col-sm-10">
                                                    <input type="" readonly class="form-control" id="nidn" name="nidn" placeholder="NIDN" value="{{userinfo.nidn}}">
                                                    <span class="text-danger">{{error.nidn}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Nama Peneliti </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" id="nama" name="nama" readonly value="{{userinfo.nama}}" placeholder="Nama">
                                                    <span class="text-danger">{{error.nama}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Judul Penelitian </label> 
                                                  <div class="col-sm-10">
                                                    <select type="" class="form-control" id="judul" name="judul" value="{{set_value('halaman')}}" required>
                                                      <option value="">Pilih</option>
                                                      {% for item in penelitian %}
                                                        <option value="{{item.id}}">{{item.judul}}</option>
                                                      {% endfor %}
                                                    </select>
                                                    <span class="text-danger">{{error.halaman}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Abstrak </label>
                                                  <div class="col-sm-10">
                                                    <textarea class="form-control" name="abstrak" rows="5">
                                              
                                                    </textarea>
                                                    <span class="text-danger">{{error.abstrak}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Jenis Penelitian </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" readonly id="jenis" name="jenis" value="{{set_value('penerbit')}}" placeholder="">
                                                    <span class="text-danger">{{error.penerbit}}</span>
                                                  </div>
                                                </div>  
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Batch Penelitian </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" readonly id="batch" name="batch" value="{{set_value('penerbit')}}" placeholder="">
                                                    <span class="text-danger">{{error.penerbit}}</span>
                                                  </div>
                                                </div>
                                                <input type="hidden" class="form-control" id="penelitian_laporan" placeholder=""  readonly name="penelitian_laporan" value="{{ set_value('laporan') }}">
                                                <input type="hidden" class="form-control" id="penelitian_artikel" placeholder=""  readonly name="penelitian_artikel" value="{{ set_value('artikel') }}">
                                                <input type="hidden" class="form-control" id="penelitian_laporan_luaran_tambahan" placeholder=""  readonly name="penelitian_laporan_luaran_tambahan" value="{{ set_value('laporan_luaran_tambahan') }}">
                                                </form>
                                                {{ form_open_multipart('penelitianslaporans/upload_laporan','class="form-horizontal" id="upload_laporan"') }}
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Laporan Penelitian </label> 
                                                  <div class="col-sm-10">  
                                                     <input type="file" id="laporan_file" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_file" accept="application/pdf" required>
                                                     <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " id="nama_laporan" placeholder="" required disabled=""> 
                                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                          <label for="laporan_file" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                            <span class="buttonText">Select File</span>
                                                          </label>
                                                          <button type="submit" class="btn btn-success" id="submit_upload_laporan"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button> 
                                                        </span>
                                                      </div>
                                                      <small>*File yang diunggah harus dengan format .pdf dan maksimum 10mb</small><br>
                                                      <span id="warning_laporan" class="text-danger">{{error.file}}</span>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                <div class="form-group"> 
                                                  <label for="" class="col-sm-2 control-label"></label>   
                                                  <div class="col-sm-10">  
                                                    <div class="progress">
                                                      <div class="progress-bar bar bar1" role="progressbar" aria-valuenow="70"
                                                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        <span class="percent percent1"></span>
                                                      </div>
                                                    </div>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                </form>
                                                {{ form_open_multipart('penelitianslaporans/upload_artikel','class="form-horizontal" id="upload_artikel"') }}
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Luaran Penelitian </label> 
                                                  <div class="col-sm-10">  
                                                     <input type="file" id="artikel_file" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="artikel_file" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required>
                                                     <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " id="nama_artikel" placeholder="" required disabled=""> 
                                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                          <label for="artikel_file" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                            <span class="buttonText">Select File</span>
                                                          </label>
                                                          <button type="submit" class="btn btn-success" id="submit_upload_artikel"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button> 
                                                        </span>
                                                      </div> 
                                                      <small>*File yang diunggah harus dengan format .doc atau .docx dan maksimum 10mb</small><br>
                                                      <span id="warning_artikel" class="text-danger">{{error.file}}</span>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                <div class="form-group"> 
                                                  <label for="" class="col-sm-2 control-label"></label>   
                                                  <div class="col-sm-10">  
                                                    <div class="progress">
                                                      <div class="progress-bar bar bar2" role="progressbar" aria-valuenow="70"
                                                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        <span class="percent percent2"></span>
                                                      </div>
                                                    </div>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                </form>
                                                {{ form_open_multipart('penelitianslaporans/upload_laporan_luaran_tambahan','class="form-horizontal" id="upload_laporan_luaran_tambahan"') }}
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Laporan Luaran Tambahan </label> 
                                                  <div class="col-sm-10">  
                                                     <input type="file" id="laporan_file_luaran_tambahan" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="laporan_file_luaran_tambahan" accept="application/pdf" required>
                                                     <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " id="nama_laporan_luaran_tambahan" placeholder="" required disabled=""> 
                                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                          <label for="laporan_file_luaran_tambahan" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                            <span class="buttonText">Select File</span>
                                                          </label>
                                                          <button type="submit" class="btn btn-success" id="submit_upload_laporan_luaran_tambahan"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button> 
                                                        </span>
                                                      </div>
                                                      <small>*File yang diunggah harus dengan format .pdf dan maksimum 10mb</small><br>
                                                      <span id="warning_laporan_luaran_tambahan" class="text-danger">{{error.file}}</span>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                <div class="form-group"> 
                                                  <label for="" class="col-sm-2 control-label"></label>   
                                                  <div class="col-sm-10">  
                                                    <div class="progress">
                                                      <div class="progress-bar bar bar3" role="progressbar" aria-valuenow="70"
                                                      aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        <span class="percent percent3"></span>
                                                      </div>
                                                    </div>
                                                  </div> <!-- col-sm-10 -->
                                                </div>
                                                </form>
                                            </div>
                                            <!-- /.box-body --> 
                                        </div> 
                                        <!-- e:form search -->  

                                    </div>
                                    <!-- e:Personil Dosen --> 
                            
                          </div>  
                        </div> <!-- .row --> 

                  </div><!-- box_body --> 
                  <div class="box-footer tc"> 
                        <button type="submit" class="btn btn-success disabled" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                        <a href="{{base_url()}}penelitianslaporans/" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</a>   
                  </div>
              </div><!-- .box box-primary --> 
          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script>
$(document).ready(function(){
  $( "#nidn" ).keyup(function() {
    nidn = $("#nidn").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        console.log(data);
        $("#dosen").val(data[0]["id"]);
        $("#nama").val(data[0]["nama"]);
        $("#program_studi").val(data[0]["program_studi"]["nama"]);
    });
  });

  var artikel = true;
  var laporan = true;
  var laporan_luaran_tambahan = true;

  // $("#artikel_file").change(function() {
  //   var fileName = $(this).val().split('/').pop().split('\\').pop();
  //   $("#nama_artikel").val(fileName);
  // });

  $("#laporan_file").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#nama_laporan").val(fileName);
  });

  $("#artikel_file").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#nama_artikel").val(fileName);
    $("#warning_artikel").empty('');
    if(artikel && laporan) $("#submit_upload_artikel").removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>10000000){
       $("#nama_artikel").val('');
      $("#warning_artikel").append('File Size more than 10MB');
      $("#submit_upload_artikel").addClass('disabled');
      artikel =false;
    }
  });

  $("#laporan_file").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#nama_laporan").val(fileName);
    $("#warning_laporan").empty('');
    if(artikel && laporan) $("#submit_upload_laporan").removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#nama_laporan").val('');
      $("#warning_laporan").append('File Size more than 10 MB');
      $("#submit_upload_laporan").addClass('disabled');
      artikel =false;
    }
  });
  
  $("#laporan_file_luaran_tambahan").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#nama_laporan_luaran_tambahan").val(fileName);
    $("#warning_laporan_luaran_tambahan").empty('');
    if(artikel && laporan && laporan_luaran_tambahan) $("#submit_upload_laporan_luaran_tambahan").removeClass('disabled');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#nama_laporan_luaran_tambahan").val('');
      $("#warning_laporan_luaran_tambahan").append('File Size more than 10 MB');
      $("#submit_upload_laporan_luaran_tambahan").addClass('disabled');
      artikel =false;
    }
  });

  var bar1 = $('.bar1');
  var percent1 = $('.percent1');
  var bar2 = $('.bar2');
  var percent2 = $('.percent2');
  var bar3 = $('.bar3');
  var percent3 = $('.percent3');

  $("#upload_laporan").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload_laporan").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar1.width(percentVal);
        percent1.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar1.width(percentVal);
        percent1.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      percent1.html("File Berhasil Upload");
      $("#penelitian_laporan").val(responseText);
    }
  });

  $("#upload_artikel").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload_artikel").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar2.width(percentVal);
        percent2.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar2.width(percentVal);
        percent2.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      percent2.html("File Berhasil Upload");
      $("#penelitian_artikel").val(responseText);
    }
  });
  
  $("#upload_laporan_luaran_tambahan").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_upload_laporan_luaran_tambahan").hasClass('disabled')){
          return false;
        }
        var percentVal = '0%';
        bar3.width(percentVal);
        percent3.html(percentVal);
        return true;
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar3.width(percentVal);
        percent3.html(percentVal);
    },
    success:function(responseText, statusText, xhr, $form){
      console.log(responseText);
      percent3.html("File Berhasil Upload");
      $("#penelitian_laporan_luaran_tambahan").val(responseText);
    }
  });

  $("#jurnal").submit(function(e){
    if($("#submit_upload").hasClass('disabled')){
      e.preventDefault();
    }
  });

  $("#judul").change(function(){
        $.getJSON("{{base_url()}}penelitianslaporans/jsonpenelitian/"+$("#judul").val(),function(result){
          $("#jenis").val(result.jenis_penelitian.nama);
          $("#batch").val(result.batch.batch_penelitian.tahun.tahun+" - "+result.batch.nama);
    });
  });
  setInterval(function(){
    if($("#judul").val() && $('#penelitian_laporan').val() && $('#penelitian_artikel').val()){
      $("#submit_upload").removeClass('disabled')
    }else{
      $("#submit_upload").addClass('disabled')
    }
  
  }, 1000);
})
</script>
{% endblock %}
