{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Penelitian <small>Laporan Penelitian</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Penelitian</li>
        <li class="active">Laporan Penelitian</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              {% set dosen,judul,jenis_penelitians,batch_penelitian,get_tahun_kegiatan,get_hasil,get_status = request_get('dosen'),request_get('judul'),request_get('jenis_penelitian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('hasil'),request_get('status') %}
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Penelitian" value="{{judul}}">
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Penelitian : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_penelitian"  id="jenis_penelitian">
                        <option value="">Semua Jenis Penelitian</option>
                    {% for item in jenis_penelitian %}
                        <option value="{{item.id}}" {{set_select('jenis_penelitian',item.id,item.id==jenis_penelitians)}}>{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Penelitian : </label>
                <div class="col-sm-10">

                  <div class="row">
                    <div class="col-sm-6">
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch_penelitian)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="status">
                        <option value="">Semua</option>
                        <option value="5" {{set_select('status',"5","5"==get_status)}}>Proses Pengecekan</option>
                        <option value="1" {{set_select('status',"1","1"==get_status)}}>Valid</option>
                        <option value="2" {{set_select('status',"2","2"==get_status)}}>Belum Valid</option>
                        <option value="3" {{set_select('status',"3","3"==get_status)}}>Menunggu Pengecekan Perbaikan</option>
                  </select>
                </div>
              </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->


        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Laporan Penelitian</h3>
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label>
                      <div class="formnya">
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>
                      <div class="formnya">
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>
                      <label class="labelnya">Tampil data:</label>
                      <div class="formnya">
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option>
                          </select>
                      </div>
                  </div>
            </div><!-- .box-header -->
            <div class="box-body">
                    <div class="row mb-10">
                        <div class="col-sm-4">
                          {% if role("Dosen") %}
                            <a href="{{base_url()}}penelitianslaporans/add" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
                          {% endif %}
                        </div>
                    </div> <!-- .row -->
                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th style="width: 25%">Nama Dosen</th>
                                <th>Judul Penelitian</th>
                                <th style="width: 12%">Jenis Penelitian</th>
                                <th style="width: 13%">Batch Penelitian</th>
                                <th style="width: 13%">Status</th>
                                <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in penelitian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {# {{ dump(item) }} #}
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}
                                      
                                      {% for anggotamhs in item.anggotamhs %}
                                      Anggota Mahasiswa {{loop.index}}: {{anggotamhs.mahasiswa.nama}} <br>
                                      {% endfor %}
                                  </td>
                                  <td>
                                      <a href="{{base_url()}}penelitians/detail/{{item.id}}">
                                          {{item.judul}}
                                      </a>
                                  </td>
                                  <td>
                                       {{item.jenis_penelitian.nama}}
                                  </td>
                                  <td>
                                      {{item.batch.batch_penelitian.tahun.tahun}} - {{item.batch.nama}}
                                  </td>
                                  <td>
                                      {{item.penelitian_laporan.status_text|raw}}
                                  </td>
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td>
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="7">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  {% if item.penelitian_laporan.status==1 or item.penelitian_laporan.status==0 or item.penelitian_laporan.status==2 or item.penelitian_laporan.status==3 %}
                                                  <div class="pull-right">
                                                      <a href="{{base_url()}}download?type=penelitianlaporan&id={{item.penelitian_laporan.id}}&nomor=1" target="_blank" class="btn-sm btn btn-success"> <span class="fa fa-file-pdf-o"> </span> Hasil Penelitian</a>
                                                      <a href="{{base_url()}}download?type=penelitianlaporan&id={{item.penelitian_laporan.id}}&nomor=2" target="_blank" class="btn-sm btn btn-success"> <span class="fa fa-file-word-o"> </span> Luaran Penelitian</a>
                                                    {% if item.penelitian_laporan.laporan_luaran_tambahan is not null %}
                                                      <a href="{{base_url()}}download?type=penelitianlaporan&id={{item.penelitian_laporan.id}}&nomor=3" target="_blank" class="btn-sm btn btn-success"> <span class="fa fa-file-word-o"> </span> Luaran Penelitian Tambahan</a>
                                                    {% endif %}
                                                   </div>
                                                  {% endif %}
                                                  {% if (item.penelitian_laporan.status==0 or item.penelitian_laporan.status==3) and (userinfo.akses.nama=="Operator Lemlitbang" or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang") %}
                                                  <div class="pull-left">
                                                      <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-cek{{item.id}}"> Pengecekan Laporan Penelitian </a>
                                                  </div>
                                                  <div class="modal fade modal-cek modal-pengecekan" id="modal-cek{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                          <div class="modal-content">
                                                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                              <h4 class="modal-title" id="mySmallModalLabel">Validasi Laporan Penelitian</h4>
                                                            </div>
                                                              <div class="modal-body tc">
                                                                    <!-- form start -->
                                                                    {{form_open('penelitianslaporans/validasi_laporan','class="form-horizontal" data-toggle="validator"')}}
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputEmail3" class="col-sm-4 control-label">Laporan Penelitian:</label>
                                                                            <div class="col-sm-8">
                                                                               <a href="{{base_url()}}uploads/penelitian_laporan/{{item.penelitian_laporan.laporan}}" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Laporan Penelitian </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputPassword3" class="col-sm-4 control-label">Laporan Luaran Wajib :</label>
                                                                            <div class="col-sm-8">
                                                                                 <a href="{{base_url()}}uploads/penelitian_artikel/{{item.penelitian_laporan.artikel}}" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Luaran Penelitian </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputPassword3" class="col-sm-4 control-label">Laporan Luaran Tambahan :</label>
                                                                            <div class="col-sm-8">
                                                                                 <a href="{{base_url()}}uploads/penelitian_laporan_luaran_tambahan/{{item.penelitian_laporan.laporan_luaran_tambahan}}" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Luaran Tambahan </a>
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputEmail3" class="col-sm-4 control-label">Pengecekan :</label>
                                                                            <div class="col-sm-8">
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="valid" name="isvalid" value="1" required checked>Terima</label>
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="invalid" name="isvalid" value="0" required>Tolak</label>
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputEmail3" class="col-sm-4 control-label">Pengecekan Luaran Wajib :</label>
                                                                            <div class="col-sm-8">
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="valid" name="isvalid_luaran_wajib" value="1" required checked>Tercapai</label>
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="invalid" name="isvalid_luaran_wajib" value="0" required>Tidak Tercapai</label>
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputEmail3" class="col-sm-4 control-label">Pengecekan Luaran Tambahan :</label>
                                                                            <div class="col-sm-8">
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="valid" name="isvalid_luaran_tambahan" value="1" required checked>Tercapai</label>
                                                                                    <label class="radio-inline pull-left"><input type="radio" data-id="{{item.id}}" class="invalid" name="isvalid_luaran_tambahan" value="0" required>Tidak Tercapai</label>
                                                                            </div>
                                                                          </div>
                                                                          <input type="hidden" name="laporan" id="laporan" value="{{item.penelitian_laporan.id}}">
                                                                          <div class="form-group" style="margin-bottom:15px;">
                                                                            <label for="inputPassword3" class="col-sm-4 control-label">Alasan :</label>
                                                                            <div class="col-sm-8">
                                                                              <textarea class="form-control" rows="3" id="alasan{{item.id}}" name="alasan" disabled></textarea>
                                                                            </div>
                                                                          </div>

                                                                          <div class="tc">
                                                                            <button type="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                                            <button type="submit" id="submit" class="btn btn-success">Kirim</button>
                                                                          </div>

                                                                    </form>
                                                              </div> <!-- .modal-body -->
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  {% elseif userinfo.id==item.dosen.id and (item.penelitian_laporan.status==0 or item.penelitian_laporan.status==2) %}
                                                  <div class="pull-right">
                                                      <a href="{{base_url}}penelitianslaporans/edit/{{item.penelitian_laporan.id}}" class="btn-sm btn btn-warning"> <span class="fa fa-pencil"> </span> Edit </a>
                                                      {% if item.penelitian_laporan.status==0 %}
                                                      <a href="#" data-href="{{base_url}}penelitianslaporans/delete/{{item.penelitian_laporan.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete"> <span class="fa fa-trash"> </span> Delete </a>
                                                      {% endif %}
                                                  </div>
                                                      {% if (userinfo.id==item.dosen.id and item.penelitian_laporan.status==2) or item.penelitian_laporan.status==3 %}
                                                      <div class="pull-left">
                                                            <a href="#" class="btn-sm btn bg-purple" data-toggle="modal" data-target="#modal-hasil{{item.id}}"> Hasil Pengecekan </a>
                                                        </div>
                                                        <div class="modal fade modal-hasil_pengecekan" id="modal-hasil{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                                          <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-content">
                                                                  <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                  <h4 class="modal-title" id="mySmallModalLabel">Hasil Pengecekan Proposal</h4> </div>
                                                                  <div class="modal-body">
                                                                        <p>
                                                                            <b>Hasil Pengecekan :</b> <br>
                                                                            Belum Valid
                                                                        </p>
                                                                        <p>
                                                                            <b>Alasan :</b> <br>
                                                                            {{item.penelitian_laporan.alasan|nl2br}}
                                                                        </p>
                                                                        <div class="tc">
                                                                          <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                                                                        </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      {% endif %}
                                                  {% endif %}
                                              </div>
                                          </div>
                                      </td>
                                </tr>
                                {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                                <th>#</th>
                                <th>Nama Dosen</th>
                                <th>Judul Penelitian</th>
                                <th>Jenis Penelitian</th>
                                <th>Batch Penelitian</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                          </tfoot>
                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body -->
        </div><!-- .box box-primary -->



    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

});
</script>
<script>
$(document).ready(function(){
  $(".valid").click(function(){
    var iddiv = $(this).data("id");
    $("#submit").removeClass('disabled');
    $("#alasan"+iddiv).prop("disabled",true);
    $("#alasan"+iddiv).attr("required",false);
  });
  $(".invalid").click(function(){
    var iddiv = $(this).data("id");
    $("#alasan"+iddiv).prop("disabled",false);
    $("#alasan"+iddiv).attr("required",true);
  });
});
</script>
{% endblock %}
