<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title"> Capaian Luaran Lainnya </h3>
    </div>
    <div class="box-body"> 
                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Jenis Luaran</th> 
                            <th>Uraian</th>
                            <th style="width: 20%">Action</th>
                          </tr> 
                      </thead>
                      {# {{dump(items1)}} #}
                      <tbody>
                            {% for item in items6 %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  <span class="text-success">{{item.content.klasifikasi}}</span>
                              </td> 
                              <td>
                                  {{item.content.judul}}
                              </td>
                              <td>
                                  {% if item.berkas %}
                                  <a href="{{base_url()}}download?type=borangluaran&id={{item.id}}" class="btn btn-sm btn-success" target="_blank"> <i class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></i> </a>
                                  {% endif %}
                              </td> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Jenis Luaran</th> 
                            <th>Uraian</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   
              </div>
	</div>
 </div>
</div>