{% extends 'pengaturan/repository/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}suratkontraks/repos/tahuns"> Repository </a></li>
<li class="active">Tahun</li>
{% endblock %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="{{base_url()}}repos/billboards/">Billboard</a></li>
      <li><a href="{{base_url()}}repos/subjects/">Subject</a></li>
      <li class="active"><a href="{{base_url()}}repos/tahuns/">Year</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Tahun</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
              <tr>
                <td style="width: 10px">{{loop.index+((page-1)*views)}}.</td>
                <td>
                  {{item.tahun_dari.tahun}} - {{item.tahun_sampai.tahun}}
                </td>
                <td>
                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                  <a href="#" data-href="{{base_url()}}repos/tahuns/delete/{{item.id}}" class="btn btn-sm btn-danger" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                </td>
              </tr>
              <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('repos/tahuns/update/'~ item.id,'data-toggle="validator"') }}
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center" style="width:50%;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Edit Subject</h4>
                        </div>
                        <div class="modal-body" id="validate_message">
                          <div class="form-horizontal">
                            <div class="box-body">
                              <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Tahun</label>
                                <div class="col-sm-4">
                                  <select class="form-control" name="tahun_dari" id="tahun_dari" required>
                                    <option value="">Pilih Tahun</option>
                                    {% for ite in tahun %}
                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_dari.id)}}>{{ite.tahun}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <label for="" class="col-sm-1 control-label">-</label>
                                <div class="col-sm-4">
                                   <select class="form-control" name="tahun_sampai" id="tahun_sampai" required>
                                    <option value="">Pilih Tahun</option>
                                    {% for ite in tahun %}
                                        <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_sampai.id)}}>{{ite.tahun}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Tahun</th>
              <th style="width:10%;">Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open_multipart('repos/tahuns/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Tahun</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Tahun</label>
                    <div class="col-sm-4">
                      <select class="form-control" name="tahun_dari" id="tahun_dari" required>
                        <option value="">Pilih Tahun</option>
                        {% for ite in tahun %}
                            <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_dari.id)}}>{{ite.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <label for="" class="col-sm-1 control-label">-</label>
                    <div class="col-sm-4">
                       <select class="form-control" name="tahun_sampai" id="tahun_sampai" required>
                        <option value="">Pilih Tahun</option>
                        {% for ite in tahun %}
                            <option value="{{ite.id}}" {{set_select('tahun_dari',ite.id,ite.id == item.tahun_sampai.id)}}>{{ite.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script>
  $(document).ready(function(){

    $('#tahun_dari').on('change', function () {
        var value = parseInt($(this).find("option:selected").text());
        // alert(value);
        $("#tahun_sampai > option").each(function() {
            if(this.text<value && this.text!=""){
              $(this).prop('disabled',true);
            }else{
              $(this).prop('disabled',false);
            }
            
            // alert(this.text + ' ' + this.value);
            // if(this.text)
        });
        // $('option[value=5]').prop('disabled', this.value === '2');
    });

    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    });
  });
</script>
{% endblock %}
