<div class="modal fade modal-upload in" id="confirm-confirm{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          </form>
          {{ form_open('pencairandana/tahapkedua/confirm/'~item.id,'class="form-horizontal" data-toggle="validator"') }}
            <div class="modal-body" id="validate_message">
              <h3>Apakah anda yakin untuk Konfirmasi Transfer untuk penelitian:</h3>
              <br>
              <span>{{item.judul}}</span>
              <br>
              <div class="form-group" style="padding-top:10px;">
                 <label for="" class="col-sm-4 control-label"> Tanggal Transfer: </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control tanggalan" name="tanggal_konfirm" readonly required>
                </div>
              </div>
              <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-info btn-ok">Ya</a>
            </div>
          <form>
        </div>
    </div>
  </div>
</div>