{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pencairan Dana <small>Proses Pencairan Dana Tahap 2</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Pencairan Dana</li>
        <li>Tahap 2</li>
        <li class="active">Proses1</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content"> 
      {{ form_open('pencairandana/tahapkedua/proses_submit/'~item.id,'class="form-horizontal" data-toggle="validator"') }}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Memproses Pencairan Dana</h3> 
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body"> 



                  <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <thead>
                          <tr>
                            <th colspan="2"></th> 
                          </tr> 
                      </thead>
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Nama Peneliti: </td>
                                <td> {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}} </td>
                            </tr>
                            <tr>
                                <td> Judul Penelitian: </td>
                                <td> {{item.judul}} </td>
                            </tr>
                            <tr>
                                <td> Jenis Penelitian: </td>
                                <td> {{item.jenis_penelitian.nama}} </td>
                            </tr>
                            <tr>
                                <td> Batch: </td>
                                <td> {{item.batch.nama}} - {{item.tahun_kegiatan.tahun}} </td>
                            </tr>
                            <tr>
                                <td> Rekening Tujuan : </td>
                                <td> <a href="#" class="btn btn-info" data-toggle="modal" data-target="#modal-bank{{item.id}}">Rekening</a> </td>
                            </tr>
                            <tr>
                                <td> NPWP: </td>
                                <td> <a href="#" class="btn btn-info" data-toggle="modal" data-target="#modal-npwp{{item.id}}">NPWP</a> </td>
                            </tr>
                      </tbody>  
                  </table>   

                 <table width="99%" class="table table-bordered mb-0"> 
                    <thead>
                        <tr>
                          <th style="width: 70%">Item</th> 
                          <th style="width: 30%">Nilai</th>
                        </tr> 
                    </thead>
                    <tbody>
                          <tr>
                            <td> Dana Disetujui </td>
                            <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.dana)}},- </td>
                          </tr>
                          <tr>
                            <td> Pph({{item.pencairan_dana_tahap2.pajak}}%) </td>
                            <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.pajak_hitung)}},- </td>
                          </tr>
                          <tr>
                            <td> Total Pencairan </td>
                            <td> Rp. {{format_rupiah(item.pencairan_dana_tahap2.dana-item.pencairan_dana_tahap2.pajak_hitung)}},- </td>
                          </tr>
                    </tbody> 
                </table> 

                 <table width="100%" class="table table-bordered table-striped mb-10"> 
                      <tbody>
                            <tr>
                                <td style="width:20%;"> Tanggal Transfer: </td>
                                <td> <input type="" class="form-control tanggalan" readonly required name="tanggal" value=""> </td>
                            </tr>
                      </tbody>  
                  </table>   

            </div>
        </div>
      <div class="box-footer tc">  
          <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Batal </a>
          <a href="#" class="btn btn-success mr-10" data-toggle="modal" data-target="#konfirmasi">  Submit <i class="fa fa-arrow-right"> </i></a>
      </div>
      <div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                  <div class="modal-body" id="validate_message">
                    <h3>Apakah anda yakin untuk Memproses Pencairan Dana penelitian:?</h3>
                    <br>
                    <h2>{{item.judul}}</h2>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                      <button type="submit" class="btn btn-info btn-ok">Ya</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </form>
    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>
<div class="modal fade modal-upload in" id="modal-bank{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Berkas Pencairan Dana</h4> </div>
          <div class="modal-body form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Nama Bank: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Cabang: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank_cabang}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Nomor Rekening: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.bank_rek}}
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> Buku Tabungan: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      <a href="{{base_url()}}uploads/tabungan/{{item.dosen.bank_photo}}" target="_blank"><img src="{{base_url()}}uploads/tabungan/{{item.dosen.bank_photo}}" alt="Buku Tabungan" style="max-width:330px;"></a>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="tc">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Tutup</button>
                  </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="modal fade modal-upload in" id="modal-npwp{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Berkas Pencairan Dana</h4> </div>
          <div class="modal-body form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Nomor NPWP: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      {{item.dosen.npwp_nomor}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> NPWP: </label>
                    <div class="col-sm-8" style="padding-top:7px;">
                      <a href="{{base_url()}}uploads/npwp/{{item.dosen.npwp_photo}}" target="_blank"><img src="{{base_url()}}uploads/npwp/{{item.dosen.npwp_photo}}" alt="Buku Tabungan" style="max-width:330px;"></a>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="tc">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Tutup</button>
                  </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $.fn.datepicker.defaults.language = 'id';
  $('.tanggalan').datepicker({
    orientation:"left bottom",timePicker: true, timePickerIncrement: 30, format: 'dd/mm/yyyy', todayHighlight: false, forceParse: false,
      startDate: new Date()});
});
</script>
{% endblock %}
