{% extends 'pengaturan/pengabdian/index.twig' %}
{% block breadcrumb %}
<li> <a href="{{base_url()}}pengaturan/pengabdian/keanggotaans/{{jenpen.id}}">{{jenpen.nama}}</a></li><li class="active">Keanggotaan</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}pengaturan/pengabdian/batasanggarans/{{jenpen.id}}">Batas Anggaran</a></li>
            <li><a href="{{base_url()}}pengaturan/pengabdian/targetluarans/{{jenpen.id}}">Target Luaran</a></li>
            <li class="active"><a href="{{base_url()}}pengaturan/pengabdian/keanggotaans/{{jenpen.id}}">Keanggotaan</a></li> 
            <li><a href="{{base_url()}}pengaturan/pengabdian/penilaians/{{jenpen.id}}">Penilaian</a></li>
            <li><a href="{{base_url()}}pengaturan/pengabdian/bobotluarans/{{jenpen.id}}">Bobot Luaran</a></li>
            <li><a href="{{base_url()}}pengaturan/pengabdian/bobothasils/{{jenpen.id}}">Bobot Hasil</a></li>
            
            <a href="{{base_url()}}pengaturan/pengabdian/jenispengabdian/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
            {{ form_open('pengaturan/pengabdian/keanggotaans/edit/'~items.id,'data-toggle="validator"') }}    
            {% if session.flashdata.success %}
                <div class="alert alert-success fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> {{session.flashdata.success}}
                </div>
            {% endif %}
                <div class="form-horizontal">
                    <div class="box-body"> 
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Jumlah Maksimum Anggota</label> 
                          <div class="col-sm-10">
                            <input type="text" pattern="^[0-9]+$" class="form-control" id="anggota" name="anggota" placeholder="Jumlah Maksimum Anggota" required value="{{items.anggota}}">
                          </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="jenis_penelitian" value="{{jenpen.id}}">
                <div class="form-horizontal">
                    <div class="box-body"> 
                        <div class="form-group">
                          <label for="" class="col-sm-2 control-label">Notes</label> 
                          <div class="col-sm-10">
                            <textarea class="form-control" id="notes" name="notes" placeholder="Notes" rows="7" required>{{items.notes}}</textarea>
                          </div>
                        </div>
                    </div>
                    <!-- /.box-body --> 
                </div> 
              
                <div class="box-footer tc"> 
                      <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>  
                </div>
              </div>
        </form>
            <div class="clearfix">  
            </div>
      </div>
      <!-- /.tab-content -->
</div>
{% endblock %}