{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
             Author
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
              <li> Author </a></li> 
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">  


              <div class="box"> 

                  <div class="box-body">  

                     {% include  'search.twig' %}
                     
                        <ul class="list_berita_1">
                            {% for item in items %}
                              <li >
                                  <h2><a href="{{base_url()}}author/lists/{{item.id}}/{{item.nama|url_encode}}">{{item.nama}} ({{item.total}})</a> </h2>
                              </li>
                            {% endfor %}
                        </ul>
                        <div class="tc">
                            <ul class="pagination">
                              {% if total_pages %}
                              {% for i in 1..total_pages %}
                              {% if page==i %}
                              <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                              {% else %}
                              <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                              {% endif %}
                              {% endfor %}
                              {% endif %}
                            </ul>
                        </div>

                  </div><!-- box_body -->

              </div><!-- .box box-primary --> 

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
      <script type="text/javascript">

$(document).ready(function(){

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging);
  });

});

</script>
{% endblock %}