{% extends 'pengaturan/repository/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}repos/subjects"> Repository </a></li>
<li class="active">Subject</li>
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pengaturan <small>Repository</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Pengaturan</li>
        <li>Repository</li>
        <li>Subject ({{parent.nama}})</li>
        <li class="active">Tambah</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">
        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_tahun,get_ketua_prodi,get_batch = request_get('tahun'),request_get('ketua_prodi'),request_get('batch') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Pilih Data : </label>
                <div class="col-sm-10">
                    <select class="form-control" name="jenis" id="jenis" required>
                      <option value="">Pilih Jenis</option>
                      <option value="1" {{set_select('jenis','1',jenis=='1')}}>Publikasi Jurnal</option>
                      <option value="2" {{set_select('jenis','2',jenis=='2')}}>Buku Ajar</option>
                      <option value="3" {{set_select('jenis','3',jenis=='3')}}>Pemakalah</option>
                      <option value="4" {{set_select('jenis','4',jenis=='4')}}>HKI</option>
                      <option value="5" {{set_select('jenis','5',jenis=='5')}}>Luaran Lain</option>
                      <option value="6" {{set_select('jenis','6',jenis=='6')}}>Penelitian Mandiri</option>
                      <option value="7" {{set_select('jenis','7',jenis=='7')}}>Penelitian Internal</option>
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul : </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="judul" value="{{judul}}">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->
        {{ form_open('repos/subjects/add_semua/'~subject,'data-toggle="validator"') }}
        <input type="hidden" name="type" value={{jenis}} />
        <input type="hidden" name="subject" value={{subject}} />
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">List Data</h3>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row mb-10">
                      <div class="col-sm-12">
                          <div class="box-tools settingnya">

                                <label class="labelnya">Tampil data:</label>
                                <div class="formnya">
                                    <select class="form-control input-sm" id="views">
                                        <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                        <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                        <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                        <option value=100 {{set_select('views',100,views==100)}}>100</option>
                                    </select>
                                </div>
                                <label class="labelnya">Select all:</label>
                                <div class="formnya">
                                    <input type="checkbox" value="all" id="select_all" style="margin-top: 9px;">
                                </div>
                          </div>
                      </div>
                  </div> <!-- .row -->

                  <div class="row">
                      <div class="col-sm-12">
                      <table width="100%" class="table table-bordered table-striped mb-0">
                          <thead>
                              <tr>
                                <th style="width: 5%">#</th>
                                <th>Judul</th>
                                <th style="text-align: center;">Action</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody>
                                {% for item in items %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>
                                      {{item.judul}}
                                  </td>
                                  <td align="center">
                                    <a href="{{base_url()}}repos/subjects/add_satuan/{{item.id}}?subject={{subject}}&type={{jenis}}&judul={{item.judul}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-plus" data-toggle="tooltip" data-original-title="Detail"></i> </a>
                                  </td>
                                  <td align="center"><input type="checkbox" value="{{item.id}}" name="data[]" data-id="{{item.id}}"><input type="hidden" value="{{item.judul}}" name="judul[{{item.id}}]" data-id="{{item.judul}}"></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                             <tr>
                               <th>#</th>
                               <th>Judul</th>
                               <th style="width: 5%;text-align: center;">Action</th>
                               <th style="width: 2%"></th>
                            </tr>
                          </tfoot>
                      </table>
                      <br>
                      <div class="row mb-10">
                      <div class="col-sm-12">
                        <div class="box-tools settingnya">
                            <button type="submit" class="btn btn-success" id="submit_upload"><i class="glyphicon glyphicon-floppy-disk"> </i> Tambah Checklist</button>
                        </div>
                      </div>
                      </div> <!-- .row -->
                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>

            </div><!-- box_body -->
            <div class="box-footer tc">
                  <a href="{{base_url()}}repos/subjects/assign/{{subject}}" class="btn btn-danger"> <i class="glyphicon glyphicon-floppy-disk"> </i>  Selesai</a>
            </div>
        </div><!-- .box box-primary -->

    </section>
</div>
<script>
$(document).ready(function(){
  $('#select_all').click(function(event) {
      var state = this.checked; $(':checkbox').each(function() { this.checked = state; });
  });

  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}
