{% extends 'pengaturan/repository/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}repos/subjects"> Repository </a></li>
<li>Subject ({{parent.nama}})</li>
<li class="active">Detail</li>
{% endblock %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="{{base_url()}}repos/billboards/">Billboard</a></li>
      <li class="active"><a href="{{base_url()}}repos/subjects/">Subject</a></li>
      <li><a href="{{base_url()}}repos/years/">Tahun</a></li>
    </ul>
    <div class="tab-content">

        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {% set get_jenis,get_judul = request_get('jenis'),request_get('judul') %}
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Pilih Data : </label>
                <div class="col-sm-10">
                    <select class="form-control" name="jenis" id="jenis" required>
                      <option value="">Pilih Jenis</option>
                      <option value="1" {{set_select('jenis','1',get_jenis=='1')}}>Publikasi Jurnal</option>
                      <option value="2" {{set_select('jenis','2',get_jenis=='2')}}>Buku Ajar</option>
                      <option value="3" {{set_select('jenis','3',get_jenis=='3')}}>Pemakalah</option>
                      <option value="4" {{set_select('jenis','4',get_jenis=='4')}}>HKI</option>
                      <option value="5" {{set_select('jenis','5',get_jenis=='5')}}>Luaran Lain</option>
                      <option value="6" {{set_select('jenis','6',get_jenis=='6')}}>Penelitian Mandiri</option>
                      <option value="7" {{set_select('jenis','7',get_jenis=='7')}}>Penelitian Internal</option>
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul : </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="judul" value="{{get_judul}}">
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>

      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="{{base_url()}}repos/subjects/add_data/{{subject}}" class="btn btn-sm btn-danger pull-left"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            <div class="box-tools settingnya">   
                  <a href="{{base_url()}}repos/subjects/?id={{parent.parent}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div>
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 5%">#</th>
              <th style="width:20%;">Tipe Data</th>
              <th>Judul</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
            <!-- {{dump(item)}}<br> -->
              <tr>
                <td>{{loop.index+((page-1)*views)}}.</td>
                <td>
                  {{item.type_text}}
                </td>
                <td>
                  {{item.judul}}
                </td>
                <td>
                  <a href="#" data-href="{{base_url()}}repos/subjects/delete_data/{{item.id}}" class="btn btn-sm btn-danger" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Tipe Data</th>
              <th>Judul</th>
              <th style="width:10%;">Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open_multipart('repos/subjects/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Subject</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nama</label>
                    <div class="col-sm-8">
                      <input type="hidden" name="parent" value="{{parent}}">
                      <input type="text" class="form-control" name="nama" value="{{set_value('nama')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.nama}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Deskripsi</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="deskripsi" value="{{set_value('deskripsi')}}" rows=4 required> </textarea>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.deskripsi}}</span>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script>
  $(document).ready(function(){
    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    });
  });
</script>
{% endblock %}
