{% extends 'pengaturan/repository/index.twig' %}
{% block breadcrumb %}
<li><a href="{{base_url()}}repos/subjects"> Repository </a></li>
<li class="active">Subject</li>
{% endblock %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="{{base_url()}}repos/billboards/">Billboard</a></li>
      <li class="active"><a href="{{base_url()}}repos/subjects/">Subject</a></li>
      <li><a href="{{base_url()}}repos/tahuns/">Year</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            {% if parent %}
            <div class="box-tools settingnya">   
                  <a href="{{base_url()}}repos/subjects/?id={{parent.parent}}" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
            </div>
            {% endif %}
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Nama</th>
              <th>Deskripsi</th>
              <th style="width:15%;">Jumlah Data</th>
              <th style="width:10%;">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}
              <tr>
                <td>{{loop.index+((page-1)*views)}}.</td>
                <td>
                  <a href="{{base_url()}}repos/subjects/?id={{item.id}}">{{item.nama}}</a>
                </td>
                <td>
                  {{item.deskripsi}}
                </td>
                <td>
                  {{item.total}}
                </td>
                <td>
                  <a href="{{base_url()}}repos/subjects/assign/{{item.id}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-list-ul" data-toggle="tooltip" data-original-title="Detail"></i> </a>
                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                  <a href="#" data-href="{{base_url()}}repos/subjects/delete/{{item.id}}" class="btn btn-sm btn-danger" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                </td>
              </tr>
              <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('repos/subjects/update/'~ item.id,'data-toggle="validator"') }}
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center" style="width:50%;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Edit Subject</h4>
                        </div>
                        <div class="modal-body" id="validate_message">
                          <div class="form-horizontal">
                            <div class="box-body">
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Nama</label>
                                <div class="col-sm-8">
                                  <input type="hidden" name="parent" value="{{item.parent}}">
                                  <input type="text" class="form-control" name="nama" value="{{item.nama}}" required>
                                  <div class="help-block with-errors"></div>
                                  <span class="text-danger">{{error.nama}}</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Deskripsi</label>
                                <div class="col-sm-8">
                                  <textarea class="form-control" name="deskripsi" rows=4 required>{{item.deskripsi}}</textarea>
                                  <div class="help-block with-errors"></div>
                                  <span class="text-danger">{{error.deskripsi}}</span>
                                </div>
                              </div>
                            </div>
                            <!-- /.box-body -->
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Nama</th>
              <th>Deskripsi</th>
              <th style="width:15%;">Jumlah Data</th>                   
              <th style="width:10%;">Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open_multipart('repos/subjects/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Subject</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nama</label>
                    <div class="col-sm-8">
                      <input type="hidden" name="parent" value="{{parent.id}}">
                      <input type="text" class="form-control" name="nama" value="{{set_value('nama')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.nama}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Deskripsi</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="deskripsi" value="{{set_value('deskripsi')}}" rows=4 required> </textarea>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.deskripsi}}</span>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script>
  $(document).ready(function(){
    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    });
  });
</script>
{% endblock %}
