<div class="tab-pane active" id="tab_1">  
  <a href="{{base_url()}}monev/monevreview/instrumen_monev/{{monev.penelitian}}/dosen/{{monev.dosen}}" class="btn-sm btn btn-primary pull-right mb-10" target="_blank"> <i class="fa fa-file-pdf-o"> </i> Download Lembar Penilaian</a>
        <div class="clearfix"></div> 

        <!-- s:11111111-->
        <div class="box bordernya">
            <div class="box-header with-border">
                <h3 class="box-title">  BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENSI </h3>
            </div>

            <div class="box-body"> 

                  <table class="table mb-0">
                      <tr> 
                         <td style="width:25%;">1. Program Penelitian : </td>
                         <td> {{jenis_penelitian.nama}}  </td>
                      </tr> 

                      <tr> 
                         <td> 2. Tahun Penelitian : </td>
                         <td> {{tahun_kegiatan.tahun}} </td>
                      </tr>

                      <tr> 
                         <td> 3. Ketua Peneliti : </td>
                         <td> </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Nama : </td>
                         <td> {{dosen.nama_lengkap}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Fakultas : </td>
                         <td> {{dosen.fakultas.nama}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Program Studi : </td>
                         <td> {{dosen.program_studi.nama}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Bidang Keahlian : </td>
                         <td> {{monev.content.ketua_keahlian}} </td>
                      </tr>

                      <tr> 
                         <td> 4. Anggota Peneliti : </td>
                         <td> </td>
                      </tr>
                      {% for a in anggota %}
                      <tr> 
                         <td class="padding-left-m"> Nama : </td>
                         <td> {{a.dosen.nama_lengkap}} </td>
                      </tr>
                      <tr> 
                         <td class="padding-left-m"> Fakultas : </td>
                         <td> {{a.dosen.fakultas.nama}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Program Studi : </td>
                         <td> {{a.dosen.program_studi.nama}} </td>
                      </tr>
                      <tr {% if not loop.last %}style="border-bottom: 2px solid #000;" {% endif %}> 
                         <td class="padding-left-m"> Bidang Keahlian : </td>
                         <td> {{monev.content.anggota_keahlian[loop.index0]}} </td>
                      </tr>
                      {% endfor %}
                      

                      <tr> 
                         <td> 5. Judul Penelitian : </td>
                         <td> {{judul}} </td>
                      </tr> 
                      <tr> 
                         <td> 6. Bidang Ilmu : </td>
                         <td> {{monev.content.bidang_ilmu}} </td>
                      </tr> 
                      <tr> 
                         <td> 7. Biaya Penelitian : </td>
                         <td> Rp. {{penelitian_review_inselected.0.rp_rekomendasi}} </td>
                      </tr>  
                      <tr> 
                         <td> 8. Lokasi Penelitian  </td>
                         <td>  {{monev.content.lokasi}} </td>
                      </tr> 
                      <tr> 
                         <td> 9. Cara Pemantauan : </td>
                         <td> {{monev.content.cara_pemantauan}} </td>
                      </tr>

                      <tr> 
                         <td> 10. Pelaksanaan Penelitian : </td>
                         <td>  </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Tanggal Mulai : </td>
                         <td> {{monev.content.tanggal_mulai}} </td>
                      </tr> 
                      <tr> 
                         <td class="padding-left-m"> Tanggal Selesai : </td>
                         <td> {{monev.content.tanggal_selesai}} </td>
                      </tr> 

                      <tr>
                         <td colspan="2"> 11. Capaian Tahapan Penelitian </td>
                      </tr>
                      <tr>
                         <td colspan="2"  class="padding-left-m"> Menurut Saudara telah berada pada tahap mana penelitian Saudara saat ini? </td>
                      </tr>
                      <tr>
                         <td  class="padding-left-m"> Pilih : </td>
                         <td> {{monev.content.tahap_penelitian}} </td>
                      </tr>
                      <tr>
                         <td colspan="2"  class="padding-left-m"> Menurut Saudara, sampai saat ini sudah berapa % capaian penelitian Saudara? </td>
                      </tr>
                      <tr>
                         <td  class="padding-left-m"> Jawaban : </td>
                         <td> {{monev.content.capaian}} % </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 12. Kesesuaian pelaksanaan penelitian </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Waktu Peneltian : </td>
                         <td> {{monev.content.pelaksanaan_penelitian}} </td>
                      </tr>
                      {% if monev.content.pelaksanaan_penelitian_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.pelaksanaan_penelitian_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.pelaksanaan_penelitian_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.pelaksanaan_penelitian_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.pelaksanaan_penelitian_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.pelaksanaan_penelitian_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td colspan="2"> 13. Kesesuaian Metode atau Rancangan Penelitian </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Metode atau Rancangan Peneltian : </td>
                         <td> {{monev.content.rancangan_penelitian}} </td>
                      </tr>
                      {% if monev.content.rancangan_penelitian_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.rancangan_penelitian_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.rancangan_penelitian_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.rancangan_penelitian_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.rancangan_penelitian_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.rancangan_penelitian_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 14. Kesesuaian Personalia </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Personalia : </td>
                         <td> {{monev.content.kesesuaian_personalia}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_personalia_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_personalia_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_personalia_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_personalia_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_personalia_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_personalia_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 15. Kesesuaian Anggaran </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Anggaran : </td>
                         <td> {{monev.content.kesesuaian_anggaran}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_anggaran_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_anggaran_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_anggaran_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_anggaran_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_anggaran_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_anggaran_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td colspan="2"> 16. Kesesuaian Sarana dan Prasarana </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Sarana dan Prasarana : </td>
                         <td> {{monev.content.kesesuaian_sarana}} </td>
                      </tr>
                      {% if monev.content.kesesuaian_sarana_alasan %}
                      <tr>
                         <td class="padding-left-m"> Alasan : </td>
                         <td> {{monev.content.kesesuaian_sarana_alasan}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_sarana_alasannya %}
                      <tr>
                         <td class="padding-left-m"> Alasan Lainnya : </td>
                         <td> {{monev.content.kesesuaian_sarana_alasannya}} </td>
                      </tr>
                      {% endif %}
                      {% if monev.content.kesesuaian_sarana_penyelesainnya %}
                      <tr>
                         <td class="padding-left-m"> Penyelesaian : </td>
                         <td> {{monev.content.kesesuaian_sarana_penyelesainnya}} </td>
                      </tr>
                      {% endif %}

                      <tr>
                         <td> 17. Peran Lembaga Penelitian </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Seleksi Proposal Penelitian </td>
                         <td> {{monev.content.seleksi_proposal}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Menyelenggarakan seminar proposal </td>
                         <td> {{monev.content.menyelenggarakan_seminar}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Memantau pelaksanaan penelitian </td>
                         <td> {{monev.content.memantau_pelaksanaan}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Menyelenggarakan seminar hasil penelitian </td>
                         <td> {{monev.content.menyelenggarakan_seminar_hasil}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pelayanan Lainnya </td>
                         <td> {{monev.content.pelayanan_lainnya}} </td>
                      </tr>

                      <tr>
                         <td> 18. Pelaksanaan kerjasama deengan instansi lain </td>
                         <td> </td>
                      </tr>
                      {% for item in monev.content.instansi_nama %}
                      <tr>
                         <td class="padding-left-m"> Nama Instansi </td>
                         <td> {{item}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Bentuk Kerjasama </td>
                         <td> {{monev.content.instansi_kerjasama[loop.index0]}} </td>
                      </tr>
                      {% endfor %}

                      <tr>
                         <td colspan="2"> 19. Keterlibatan Penelitian dengan Program Pendidikan/Stakeholder </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Program Pascasarjana </td>
                         <td> {{monev.content.pascasarjana}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Sekolah </td>
                         <td> {{monev.content.sekolah}} </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Jumlah mahasiswa yang terlibat dalam penelitian </td>
                         <td> {{monev.content.mahasiswa}} </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 20. Jumlah mahasiswa yang terlibat dalam penelitian: </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S1 : </td>
                         <td> {{monev.content.jumlah_s1}} Orang </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S2 : </td>
                         <td> {{monev.content.jumlah_s2}} Orang </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> S3 : </td>
                         <td> {{monev.content.jumlah_s3}} Orang </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 21. Kesesuaian Pelaksanaan dengan Usulan Penelitian: </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.kesesuaian_pelaksanaan}}<br>
                              {{monev.content.kesesuaian_pelaksanaan_keterangan|nl2br}}
                        </td>
                      </tr>

                      <tr>
                         <td> 22. Masalah (Kendala/Hambatan): </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.kendala_hambatan}}<br>
                              {{monev.content.kendala_hambatan_keterangan|nl2br}}
                        </td>
                      </tr>

                      <tr>
                         <td> 23. Penerapan Hasil Penelitian: </td>
                         <td> </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m"> Menurut Anda, berapa lama lagi hasil penelitian Anda dapat diterapkan:<br><br>
                          {{monev.content.penerapan_hasil_penelitian|nl2br}}
                         </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m">Pihak mana yang akan menerapkan hasil penelitian ini:<br><br>
                          {{monev.content.penerapan_pihak_penelitian|nl2br}}
                         </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m">Hasil Penelitian sebagai bahan pengajaran: {{monev.content.hasil_penelitian_pengajaran}}<br><br>
                          {{monev.content.hasil_penelitian_pengajaran_keterangan|nl2br}}
                         </td>
                      </tr>

                      <tr>
                         <td colspan="2"> 24. Penilaian umum terhadap penelitian ini: </td>
                      </tr>
                      <tr>
                         <td colspan="2" class="padding-left-m"> {{monev.content.penilaian_umum|nl2br}} </td>
                      </tr>

                      <tr>
                         <td> 25. Rekomendasi/Saran: </td>
                         <td></td>
                      </tr>
                      <tr>
                         <td class="padding-left-m"> Pilih: </td>
                         <td> {{monev.content.rekomendasi_saran}}<br>
                              {{monev.content.rekomendasi_saran_keterangan|nl2br}}
                        </td>
                      </tr>
                  </table> 
                    
            </div>
            <!-- /.box-body -->  
        </div>
    <div class="clearfix"></div>   
</div>