{% extends 'pengaturan/penelitian/index.twig' %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}isianpengesahans/">Isian Pengesahan</a></li>
            <li><a href="{{base_url()}}jenispenelitians/">Jenis Penelitian</a></li>
            <li class="active"><a href="{{base_url()}}pengaturan/penelitian/targetluaranmasters/">Target Luaran Master</a></li>
            <li><a href="{{base_url()}}batchlists/">Batch Lists</a></li> 
            <li><a href="{{base_url()}}pengaturan/pajak/">Pajak</a></li> 
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-anggaran"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Target Luaran</th>
                            <th>Nama Luaran</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.nama}}
                              </td>
                              <td>
                                  {% for nama_luaran in item.target_luaran_sub %}
                                    {{ nama_luaran.nama }} {{ "<br />" }}
                                  {% endfor %}
                              </td>
                              <td>
                                  {% for status_luaran in item.target_luaran_status %}
                                    {{ status_luaran.status }} {{ "<br />" }}
                                  {% endfor %}
                              </td>
                              <td> 
                                  <a href="#" class="btn btn-sm btn-primary confirmation subnamaluaran" data-append="fst{{item.id}}" data-sub="formsubtarget{{item.id}}" title="Toggle" data-toggle="modal" data-target="#sub-toggle{{item.id}}"> <i class="fa fa-list"></i> </a>
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}pengaturan/penelitian/targetluaranmasters/delete/{{item.id}}/jenis_penelitian/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                            <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            {{ form_open('pengaturan/penelitian/targetluaranmasters/edit/'~item.id,'data-toggle="validator"') }}
                            <div class="vertical-alignment-helper">
                              <div class="modal-dialog vertical-align-center">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Target Luaran Master</h4>
                                      </div>
                                      <div class="modal-body" id="validate_message">
                                        <div class="form-horizontal">
                                            <div class="box-body"> 
                                                <div class="form-group">
                                                  <label for="" class="col-sm-4 control-label">Nama Target Luaran Master</label> 
                                                  <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="nama" name="nama" placeholder="Batas Anggaran" required value="{{item.nama}}">
                                                  </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body --> 
                                        </div> 
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                          <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            </form>
                          </div>
                              <div class="modal fade" id="sub-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <form action="/pengaturan/penelitian/targetluaranmasters/sub/{{item.id}}" data-toggle="validator" class="formsubtarget{{item.id}}" method="post" accept-charset="utf-8" novalidate="true">
                                <div class="vertical-alignment-helper fst{{item.id}}">
                                  <div class="modal-dialog vertical-align-center">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Pengisian Master Luaran Penelitian</h4>
                                          </div>
                                          <div class="modal-body" id="validate_message">
                                            <div class="form-horizontal">
                                                <div class="box-body"> 
                                                    <div class="form-group">
                                                      <label for="" class="col-sm-4 control-label">Nama Target Luaran Master</label> 
                                                      <div class="col-sm-8">
                                                        <input type="text" readonly="readonly" class="form-control" id="nama" name="nama" placeholder="Nama Target Luaran" required value="{{item.nama}}">
                                                        <input type="hidden" readonly="readonly" class="form-control" id="_id" name="_id" required value="{{item.id}}">
                                                      </div>
                                                    </div>
                                                    
                                                    {% if item.target_luaran_sub is empty %}
                                                    <div class="form-group">
                                                      <label for="" class="col-sm-4 control-label">Nama Luaran</label> 
                                                        <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="{{ nama_luaran.nama }}" name="nama_luaran[{{ nama_luaran.id }}]" placeholder="Nama Luaran" required>
                                                      </div>
                                                      <a href="#" onclick="add_nama_luaran({{item.id}})" class="btn btn-primary col-sm-1"> + </a>
                                                    </div>
                                                    {% endif %}
                                                    
                                                    {% for nama_luaran in item.target_luaran_sub %}
                                                    <div class="form-group" id="row_nama_luaran_server{{ nama_luaran.id }}{{ loop.index }}">
                                                        {% if loop.first %}
                                                          <label for="" class="col-sm-4 control-label">Nama Luaran</label> 
                                                          <div class="col-sm-6">
                                                        {% else %}
                                                          <label for="" class="col-sm-4 control-label">&nbsp;</label> 
                                                          <div class="col-sm-7">
                                                        {% endif %}
                                                            <input type="hidden" class="form-control" value="{{ nama_luaran.id }}" name="nama_luaran_id[{{ nama_luaran.id }}]" placeholder="Nama Luaran" required>
                                                            <input type="text" class="form-control" value="{{ nama_luaran.nama }}" name="nama_luaran[{{ nama_luaran.id }}]" placeholder="Nama Luaran" required>
                                                          </div>
                                                        {% if loop.index0 > 0 %}
                                                          <div class="col-sm-1">
                                                            <button type="button" data-target-luaran-master-id="{{ nama_luaran.id }}" data-loop="{{ loop.index }}" class="removeNamaLuaranServer close close-div" style="padding: 10px 12px 0px 0px;" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                        {% endif %}
                                                      {% if loop.first %}
                                                            <a href="#" onclick="add_nama_luaran({{item.id}})" class="btn btn-primary col-sm-1"> + </a>
                                                      {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                    
                                                    <div class="nama_luaran" id="nama_luaran{{item.id}}"></div>
                                                    <div class="form-group">
                                                      <label for="" class="col-sm-4 control-label">Catatan</label> 
                                                      <div class="col-sm-8">
                                                        <textarea class="form-control" rows="3" placeholder="Catatan" name="catatan1">{{item.catatan1}}</textarea>
                                                      </div>
                                                    </div>
                                                    
                                                    {% if item.target_luaran_status is empty %}
                                                    <div class="form-group">
                                                      <label for="" class="col-sm-4 control-label">Status</label> 
                                                      <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="{{ status_luaran.status }}" name="status_luaran[{{ status_luaran.id }}]" placeholder="Status" required>
                                                      </div>
                                                      <a href="#" onclick="add_status_luaran({{item.id}})" class="btn btn-primary col-sm-1"> + </a>
                                                    </div>
                                                    {% endif %}
                                                    
                                                    {% for status_luaran in item.target_luaran_status %}
                                                    <div class="form-group">
                                                      {% if loop.first %}
                                                        <label for="" class="col-sm-4 control-label">Status</label> 
                                                        <div class="col-sm-6">
                                                      {% else %}
                                                        <label for="" class="col-sm-4 control-label">&nbsp;</label> 
                                                        <div class="col-sm-7">
                                                      {% endif %}
                                                          <input type="hidden" class="form-control" value="{{ status_luaran.id }}" name="status_luaran_id[{{ status_luaran.id }}]" placeholder="Status" required>
                                                          <input type="text" class="form-control" value="{{ status_luaran.status }}" name="status_luaran[{{ status_luaran.id }}]" placeholder="Status" required>
                                                        </div>
                                                      {% if loop.index0 > 0 %}
                                                        <div class="col-sm-1">
                                                          <button type="button" data-target-luaran-master-id="{{ status_luaran.id }}" data-loop="{{ loop.index }}" class="removeStatusServer close close-div" style="padding: 10px 12px 0px 0px;" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                      {% endif %}
                                                      {% if loop.first %}
                                                        <a href="#" onclick="add_status_luaran({{item.id}})" class="btn btn-primary col-sm-1"> + </a>
                                                      {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                    
                                                    <div class="status_luaran" id="status_luaran{{item.id}}"></div>
                                                    <div class="form-group">
                                                      <label for="" class="col-sm-4 control-label">Catatan</label> 
                                                      <div class="col-sm-8">
                                                        <textarea class="form-control" rows="3" placeholder="Catatan" name="catatan2">{{item.catatan2}}</textarea>
                                                      </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-body --> 
                                            </div> 
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                </form>
                              </div>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Target Luaran</th>
                            <th>Nama Luaran</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
      <div class="modal fade" id="add-anggaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {{ form_open('pengaturan/penelitian/targetluaranmasters/add/','data-toggle="validator"') }}
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Tambah Target Luaran Master</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                      <div class="form-horizontal">
                          <div class="box-body"> 
                              <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Nama Target Luaran Master</label> 
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama Target Luaran Master" required>
                                </div>
                              </div>
                          </div>
                          <!-- /.box-body --> 
                      </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                    </div>
                </div>
            </div>
          </div>
          </form>
        </div>
      <!-- /.tab-content -->
</div>
<script>
  function removeStatus(id_target_luaran, index){
    $('#row_status_luaran'+id_target_luaran+index).remove();
  }

  function removeNamaLuaran(id_target_luaran, index){
    $('#row_nama_luaran'+id_target_luaran+index).remove();
  }

  var currIndexLamaran = $(".nama_luaran > *").length;
  function add_nama_luaran(id_target_luaran){
      var content = '<div class="form-group" id="row_nama_luaran'+id_target_luaran+currIndexLamaran+'">'
                    +'<label for="" class="col-sm-4 control-label">&nbsp;</label>'
                    +'<div class="col-sm-7">'
                    +'<input type="text" class="form-control" name="nama_luaran[]" placeholder="Nama Luaran" required>'
                    +'</div>'
                    +'<div class="col-sm-1">'
                    +'<button type="button" onclick="removeNamaLuaran('+id_target_luaran+','+currIndexLamaran+')" class="close close-div" style="padding: 10px 12px 0px 0px;" aria-label="Close">'
                    +'<span aria-hidden="true">&times;</span>'
                    +'</button>'
                    +'</div>'
                    +'</div>'
      currIndexLamaran++ 
      $(`#nama_luaran${id_target_luaran}`).append(content);
  }

  var currIndexStatus = $(".status_luaran > *").length;
  function add_status_luaran(id_target_luaran){
      var content = '<div class="form-group" id="row_status_luaran'+id_target_luaran+currIndexStatus+'">'
                    +'<label for="" class="col-sm-4 control-label">&nbsp;</label>'
                    +'<div class="col-sm-7">'
                    +'<input type="text" class="form-control" name="status_luaran[]" placeholder="Status" required>'
                    +'</div>'
                    +'<div class="col-sm-1">'
                    +'<button type="button" onclick="removeStatus('+id_target_luaran+','+currIndexStatus+')" class="close close-div" style="padding: 10px 12px 0px 0px;" aria-label="Close">'
                    +'<span aria-hidden="true">&times;</span>'
                    +'</button>'
                    +'</div>'
                    +'</div>'
      currIndexStatus++ 
      $(`#status_luaran${id_target_luaran}`).append(content);
  }

  $(document).ready(function(){
    $( "#views" ).change(function() {
        var value = $("#views").val();
        window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
        paging = $(this).data("page");
        window.location.href = $.query.set("page", paging)
    })

    $( ".subnamaluaran" ).click(function() {
      let idform = $(this).attr("data-sub");
      let dataappend = $(this).attr("data-append");
      
      $("."+idform).append($( "."+dataappend ))
    });
    
    $( ".removeNamaLuaranServer" ).click(function() {
      let targetmasterid = $(this).attr("data-target-luaran-master-id");
      let loop = $(this).attr("data-loop");
      
      $('#row_nama_luaran_server'+targetmasterid+loop).remove();
      
      $.ajax({
        type: "POST",
        url: "/pengaturan/penelitian/targetluaranmasters/deleteluaransub",
        dataType: "json",
        data: {id: targetmasterid},
        success : function(data){
          if(data.code == 200){
            window.location.reload()
          }
        }
      });
    });
    
    $( ".removeStatusServer" ).click(function() {
      let targetmasterid = $(this).attr("data-target-luaran-master-id");
      let loop = $(this).attr("data-loop");
      
      $('#row_status_server'+targetmasterid+loop).remove();
      
      $.ajax({
        type: "POST",
        url: "/pengaturan/penelitian/targetluaranmasters/deleteluaranstatus",
        dataType: "json",
        data: {id: targetmasterid},
        success : function(data){
          if(data.code == 200){
            window.location.reload()
          }
        }
      });
    });
    
  });
</script>
{% endblock %}