{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Monitoring Evaluasi
                <small>
                    Borang</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{{base_url()}}home/">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li>Monitoring Evaluasi</li>
                <li>
                    <a href="{{base_url()}}pengabdian/monev/lists">
                        List Pengabdian
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Borang
                    </a>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">

            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Borang
                    </h3>
                    <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
                    <h4 class="box-title pull-right">
                        <b>
                            {% if jenpen.jenis_penelitian.nama %}
                                {{jenpen.jenis_penelitian.nama ~ ' - '}}
                            {% endif %}
                            {{jenpen.nama}}{{jenpen.tahun.tahun}}<b></h4>
                        </div>
                        <!-- .box-header -->

                        <div class="box-body">

                            <!-- Small boxes -->
                            <!-- /.row -->{% block tab %}

                        {% endblock %}
                            <!-- nav-tabs-custom -->

                        </div>
                        <!-- box_body -->

                    </div>
                    <!-- .box box-primary -->

                </section>
                <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

            </div>
        {% endblock %}
