{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Review Monev
                <small>Proses Review</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li>Review Monev</li>
                <li class="active">Proses Review</li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content" style="min-height:800px;">


            <ul class="row bs-wizard progressbar" style="list-style-type: none;">

                <li class="col-xs-1 bs-wizard-step bs-wizard-step3 complete_ active">
                    <div class="text-center bs-wizard-stepnum">Step 1</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">
                        Instrumen Monev
                    </div>
                </li>

                <li
                    class="col-xs-1 bs-wizard-step bs-wizard-step3 disabled">
                    <!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 2</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">
                        Luaran Pengabdian
                    </div>
                </li>

                <li
                    class="col-xs-1 bs-wizard-step bs-wizard-step3 disabled">
                    <!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 3</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">
                        Proses Pengabdian
                    </div>
                </li>

            </ul>


            <!-- s:form search -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" id="title_top">Proses Review</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal penelitian-step">
                    <fieldset data-title="Instrumen Monev">
                        {% include 'pengabdian/monev/review/step1.twig' %}
                    </fieldset>

                    <fieldset data-title="Luaran Pengabdian">
                        {% include 'pengabdian/monev/review/step2.twig' %}
                    </fieldset>

                    <fieldset data-title="Proses Pengabdian">
                        {% include 'pengabdian/monev/review/step3.twig' %}
                    </fieldset>
                    <!-- /.box-footer -->
                </div>
            </div>
            <!-- e:form search -->


        </section>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    </div>

    <script type="text/javascript">
        $(document).ready(function () { // jQuery time
            var current_fs,
                next_fs,
                previous_fs; // fieldsets
            var left,
                opacity,
                scale; // fieldset properties which we will animate
            var animating; // flag to prevent quick multi-click glitches

            current_height = $("#step1").height();
            $(".content-wrapper").height(current_height + 300);

            $(".next").click(function () {
                if ($(this).hasClass("disabled")) 
                    return false;
                
                if (animating) 
                    return false;
                
                animating = true;

                current_fs = $(this).parent().parent().parent();
                next_fs = $(this).parent().parent().parent().next();

                // activate next step on progressbar using the index of next_fs
                $(".progressbar li").eq($("fieldset").index(current_fs)).addClass("complete").removeClass("active").delay(500).queue(function (next) {
                    $(".progressbar li").eq($("fieldset").index(next_fs)).addClass("active").delay(500).queue(function (next) {
                        $(this).removeClass("disabled");
                        next();
                    });
                    next();
                });

                $("#title_top").html(next_fs.data("title"));
                // show the next fieldset
                next_fs.show();
                // hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        // as the opacity of current_fs reduces to 0 - stored in "now"
                        // 1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        // 2. bring next_fs from the right(50%)
                        left = (now * 90) + "%";
                        // 3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                            'transform': 'scale(' + scale + ')'
                        });
                        next_fs.css({'left': left, 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                        current_height = next_fs.children().height();
                        $(".content-wrapper").height(current_height + 300);
                    },
                    // this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".previous").click(function () {
                if (animating) 
                    return false;
                
                animating = true;

                current_fs = $(this).parent().parent().parent();
                previous_fs = $(this).parent().parent().parent().prev();

                // de-activate current step on progressbar
                $(".progressbar li").eq($("fieldset").index(current_fs)).addClass("disabled").removeClass("active").delay(500).queue(function (next) {
                    $(".progressbar li").eq($("fieldset").index(previous_fs)).addClass("active").delay(500).queue(function (next) {
                        $(this).removeClass("complete");
                        next();
                    });
                    next();
                });
                $("#title_top").html(previous_fs.data("title"));
                // show the previous fieldset
                previous_fs.show();
                // hide the current fieldset with style
                current_fs.animate({
                    opacity: 0
                }, {
                    step: function (now, mx) {
                        // as the opacity of current_fs reduces to 0 - stored in "now"
                        // 1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        // 2. take current_fs to the right(50%) - from 0%
                        left = ((1 - now) * 50) + "%";
                        // 3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({'left': left});
                        previous_fs.css({
                            'transform': 'scale(' + scale + ')',
                            'opacity': opacity
                        });
                    },
                    duration: 800,
                    complete: function () {
                        current_fs.hide();
                        animating = false;
                        current_height = previous_fs.children().height();
                        $(".content-wrapper").height(current_height + 300);
                    },
                    // this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".submit").click(function () {
                return false;
            })

        });
    </script>
{% endblock %}
