{{ form_open('pengabdian/monev/monevreview/step1','class="form-horizontal moving" id="step1" data-toggle="validator"') }} {#  #}
<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">  Instrumen Monev </h3>
    </div>
    <div class="box-body"> 

      <div class="form-group">
        <input type="hidden" class="form-control" name="pengabdian" value="{{id}}">
        <label for="" class="col-sm-3 control-label text-left">1. Program Pengabdian</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{jenis_pengabdian.nama}}">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label text-left">2. Tahun Pengabdian</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{tahun_kegiatan.tahun}}">
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">3. Ketua</label> 
        <label for="" class="col-sm-3 control-label left">a. Nama</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
        </div>
        <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{dosen.fakultas.nama}}">
        </div>
        <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
        </div>
        <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
        <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">d. Bidang Keahlian</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" readonly name="ketua_keahlian" value="{{monev.content.ketua_keahlian}}">
        </div>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">4. Anggota Pengabdi</label>
        {% for a in anggota %}
          <label for="" class="col-sm-3 control-label left">a. Nama</label> 
          <div class="col-sm-9">
            <input type="" class="form-control" disabled id="" value="{{a.dosen.nama_lengkap}}">
          </div>
          <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
          <div class="col-sm-9">
            <input type="" class="form-control" disabled id="" value="{{a.dosen.fakultas.nama}}">
          </div>
          <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
          <div class="col-sm-9">
            <input type="" class="form-control" disabled id="" value="{{a.dosen.program_studi.nama}}">
          </div>
          <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
          <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">d. Bidang Keahlian</label> 
          <div class="col-sm-9">
            <input type="" class="form-control" readonly name="anggota_keahlian[]" value="{{monev.content.anggota_keahlian[loop.index0]}}">
          </div>
          </div>
          <div class="col-sm-12">
            <hr width="98%">
          </div>

        {% endfor %}
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label text-left">5. Judul Pengabdian</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{ judul }}">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label text-left">6. Biaya Pengabdian</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" disabled id="" value="{{pengabdian_review_inselected.0.rp_rekomendasi}}">
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">7. Pelaksanaan Pengabdian</label> 
        <label for="" class="col-sm-3 control-label left">a. Tanggal Mulai</label> 
        <div class="col-sm-9">
          <input type="" class="form-control tanggalans" readonly name="tanggal_mulai" value="{{monev.content.tanggal_mulai}}">
        </div>
        <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
          <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Tanggal Selesai</label> 
        <div class="col-sm-9">
          <input type="" class="form-control tanggalans" readonly name="tanggal_selesai" value="{{monev.content.tanggal_selesai}}">
        </div>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">8. Capaian Tahap Pengabdian</label> 
        <div class="col-sm-12 left">a. Menurut Saudara telah berada pada tahap mana pengabdian Saudara saat ini?</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <select class="form-control" required name="tahap_pengabdian">
            <option value="">-Pilih-</option>
            <option value="Tahap persiapan" {{set_select('tahap_pengabdian','Tahap persiapan','Tahap persiapan'==step1.content.tahap_pengabdian)}}>Tahap persiapan</option>
            <option value="Pelaksanaan pengabdian" {{set_select('tahap_pengabdian','Pelaksanaan pengabdian','Pelaksanaan pengabdian'==step1.content.tahap_pengabdian)}}>Pelaksanaan pengabdian</option>
            <option value="Pengolahan data" {{set_select('tahap_pengabdian','Pengolahan data','Pengolahan data'==step1.content.tahap_pengabdian)}}>Pengolahan data</option>
            <option value="Penulisan laporan" {{set_select('tahap_pengabdian','Penulisan laporan','Penulisan laporan'==step1.content.tahap_pengabdian)}}>Penulisan laporan</option>
          </select>
        </div>
        <div class="col-sm-12 left">b. Menurut Saudara, sampai saat ini sudah berapa % capaian pengabdian Saudara?</div>
        <label for="" class="col-sm-3 control-label left">Jawaban :</label> 
        <div class="col-sm-9">
          <div class=" input-group">
          <input type="number" class="form-control" name="capaian" value="{{monev.content.capaian}}"><span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">9. Kesesuaian Pelaksanaan Pengabdian</label> 
        <div class="col-sm-12 left">Waktu Pengabdian</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="pelaksanaan_pengabdian" value="Sesuai" {{set_radio('pelaksanaan_pengabdian', 'Sesuai', 'Sesuai'==step1.content.pelaksanaan_pengabdian)}}>Sesuai</label>
          <label class="radio-inline"><input type="radio" required name="pelaksanaan_pengabdian" value="Tidak Sesuai" {{set_radio('pelaksanaan_pengabdian', 'Tidak Sesuai', 'Tidak Sesuai'==step1.content.pelaksanaan_pengabdian)}}>Tidak Sesuai</label>
        </div>
        <div class="col-sm-12 left pelaksanaan_pengabdian hide">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
        <label for="" class="col-sm-3 control-label left pelaksanaan_pengabdian hide">Pilih :</label> 
        <div class="col-sm-9 pelaksanaan_pengabdian hide">
          <select class="form-control pelaksanaan_pengabdian hide" required name="pelaksanaan_pengabdian_alasan">
            <option value="">-Pilih-</option>
            <option value="Pencairan dana pengabdian terlambat" {{set_select('pelaksanaan_pengabdian_alasan','Pencairan dana pengabdian terlambat',step1.content.pelaksanaan_pengabdian_alasan=='Pencairan dana pengabdian terlambat')}}>Pencairan dana pengabdian terlambat</option>
                <option value="Pemesanan bahan dan/atau alat lama"{{set_select('pelaksanaan_pengabdian_alasan','Pemesanan bahan dan/atau alat lama',step1.content.pelaksanaan_pengabdian_alasan=='Pemesanan bahan dan/atau alat lama')}}>Pemesanan bahan dan/atau alat lama</option>
                <option value="Sumber data/informasi sulit/lama diakses/didapat"{{set_select('pelaksanaan_pengabdian_alasan','Sumber data/informasi sulit/lama diakses/didapat',step1.content.pelaksanaan_pengabdian_alasan=='Sumber data/informasi sulit/lama diakses/didapat')}}>Sumber data/informasi sulit/lama diakses/didapat</option>
                <option value="Lainnya (sebutkan)" {{set_select('pelaksanaan_pengabdian_alasan','Lainnya (sebutkan)',step1.content.pelaksanaan_pengabdian_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
        </div>
        <label for="" class="col-sm-3 control-label left pelaksanaan_pengabdian_alasan hide">Alasan Lainnya :</label> 
        <div class="col-sm-9 pelaksanaan_pengabdian_alasan hide">
          <textarea rows="5"  class="form-control pelaksanaan_pengabdian_alasan hide" name="pelaksanaan_pengabdian_alasannya" required >{{step1.content.pelaksanaan_pengabdian_alasannya}}</textarea>
        </div>
        <label for="" class="col-sm-3 control-label left pelaksanaan_pengabdian hide">Penyelesainnya :</label> 
        <div class="col-sm-9 pelaksanaan_pengabdian hide">
          <textarea rows="5" class="form-control pelaksanaan_pengabdian hide" required name="pelaksanaan_pengabdian_penyelesainnya">{{step1.content.pelaksanaan_pengabdian_penyelesainnya}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">10. Kesesuaian Personalia</label> 
        <div class="col-sm-12 left">Personalia</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="kesesuaian_personalia" value="Sesuai" {{set_radio('kesesuaian_personalia', 'Sesuai', 'Sesuai'==step1.content.kesesuaian_personalia)}}>Sesuai</label>
          <label class="radio-inline"><input type="radio" required name="kesesuaian_personalia" value="Tidak Sesuai" {{set_radio('kesesuaian_personalia', 'Tidak Sesuai', 'Tidak Sesuai'==step1.content.kesesuaian_personalia)}}>Tidak Sesuai</label>
        </div>
        <div class="col-sm-12 left hide kesesuaian_personalia">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Pilih :</label> 
        <div class="col-sm-9 hide kesesuaian_personalia">
          <select class="form-control hide kesesuaian_personalia" name="kesesuaian_personalia_alasan">
            <option value="">-Pilih-</option>
            <option value="Melanjutkan studi ke luar negeri" {{set_select('kesesuaian_personalia_alasan','Melanjutkan studi ke luar negeri',step1.content.kesesuaian_personalia_alasan=='Melanjutkan studi ke luar negeri')}}>Melanjutkan studi ke luar negeri</option>
            <option value="Pindah tempat kerja" {{set_select('kesesuaian_personalia_alasan','Pindah tempat kerja',step1.content.kesesuaian_personalia_alasan=='Pindah tempat kerja')}}>Pindah tempat kerja</option>
            <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_personalia_alasan','Lainnya (sebutkan)',step1.content.kesesuaian_personalia_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
        </div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia_alasan">Alasan Lainnya :</label> 
        <div class="col-sm-9 hide kesesuaian_personalia_alasan">
          <textarea rows="5" class="form-control hide kesesuaian_personalia_alasan" name="kesesuaian_personalia_alasannya">{{step1.content.kesesuaian_personalia_alasannya}}</textarea>
        </div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Penyelesainnya :</label> 
        <div class="col-sm-9 hide kesesuaian_personalia">
          <textarea rows="5" class="form-control hide kesesuaian_personalia" name="kesesuaian_personalia_penyelesainnya">{{step1.content.kesesuaian_personalia_penyelesainnya}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">11. Kesesuaian Anggaran</label>
        <div class="col-sm-12 left">Anggaran</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="kesesuaian_anggaran" value="Sesuai" {{set_radio('kesesuaian_anggaran', 'Sesuai', 'Sesuai'==step1.content.kesesuaian_anggaran)}}>Sesuai</label>
          <label class="radio-inline"><input type="radio" required name="kesesuaian_anggaran" value="Tidak Sesuai" {{set_radio('kesesuaian_anggaran', 'Tidak Sesuai', 'Tidak Sesuai'==step1.content.kesesuaian_anggaran)}}>Tidak Sesuai</label>
        </div>
        <div class="col-sm-12 left hide kesesuaian_anggaran">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Pilih :</label> 
        <div class="col-sm-9 hide kesesuaian_anggaran">
          <select class="form-control hide kesesuaian_anggaran" required name="kesesuaian_anggaran_alasan">
            <option value="">-Pilih-</option>
            <option value="Kenaikan harga bahan dan/atau alat" {{set_select('kesesuaian_anggaran_alasan','Kenaikan harga bahan dan/atau alat',step1.content.kesesuaian_anggaran_alasan=='Kenaikan harga bahan dan/atau alat')}}>Kenaikan harga bahan dan/atau alat</option>
                <option value="Adanya potongan pajak" {{set_select('kesesuaian_anggaran_alasan','Adanya potongan pajak',step1.content.kesesuaian_anggaran_alasan=='Adanya potongan pajak')}}>Adanya potongan pajak</option>
                <option value="Biaya yang disetujui tidak sesuai dengan yang diusulkan" {{set_select('kesesuaian_anggaran_alasan','Biaya yang disetujui tidak sesuai dengan yang diusulkan',step1.content.kesesuaian_anggaran_alasan=='Biaya yang disetujui tidak sesuai dengan yang diusulkan')}}>Biaya yang disetujui tidak sesuai dengan yang diusulkan</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_anggaran_alasan','Lainnya (sebutkan)',step1.content.kesesuaian_anggaran_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
        </div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran_alasan">Alasan Lainnya :</label> 
        <div class="col-sm-9 hide kesesuaian_anggaran_alasan">
          <textarea rows="5" required class="form-control hide kesesuaian_anggaran_alasan" name="kesesuaian_anggaran_alasannya">{{step1.content.kesesuaian_anggaran_alasannya}}</textarea>
        </div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Penyelesainnya :</label> 
        <div class="col-sm-9 hide kesesuaian_anggaran">
          <textarea rows="5" required class="form-control hide kesesuaian_anggaran" name="kesesuaian_anggaran_penyelesainnya">{{step1.content.kesesuaian_anggaran_penyelesainnya}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">12. Kesesuaian Sarana dan Prasarana</label>
        <div class="col-sm-12 left">Sarana dan Prasarana</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="kesesuaian_sarana" value="Sesuai" {{set_radio('kesesuaian_sarana', 'Sesuai', 'Sesuai'==step1.content.kesesuaian_sarana)}}>Sesuai</label>
          <label class="radio-inline"><input type="radio" required name="kesesuaian_sarana" value="Tidak Sesuai" {{set_radio('kesesuaian_sarana', 'Tidak Sesuai', 'Tidak Sesuai'==step1.content.kesesuaian_sarana)}}>Tidak Sesuai</label>
        </div>
        <div class="col-sm-12 left hide kesesuaian_sarana">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Pilih :</label> 
        <div class="col-sm-9 hide kesesuaian_sarana">
          <select class="form-control hide kesesuaian_sarana" required name="kesesuaian_sarana_alasan">
            <option value="">-Pilih-</option>
            <option value="Suku cadang alat tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Suku cadang alat tidak tersedia di dalam negeri',step1.content.kesesuaian_sarana_alasan=='Suku cadang alat tidak tersedia di dalam negeri')}}>Suku cadang alat tidak tersedia di dalam negeri</option>
            <option value="Bahan pengabdian tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Bahan pengabdian tidak tersedia di dalam negeri',step1.content.kesesuaian_sarana_alasan=='Bahan pengabdian tidak tersedia di dalam negeri')}}>Bahan pengabdian tidak tersedia di dalam negeri</option>
            <option value="Listrik tidak stabil" {{set_select('kesesuaian_sarana_alasan','Listrik tidak stabil',step1.content.kesesuaian_sarana_alasan=='Listrik tidak stabil')}}>Listrik tidak stabil</option>
            <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_sarana_alasan','Lainnya (sebutkan)',step1.content.kesesuaian_sarana_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
        </div>
        <label for="" class="col-sm-3 control-label left kesesuaian_sarana_alasan hide">Alasan Lainnya :</label> 
        <div class="col-sm-9 kesesuaian_sarana_alasan hide">
          <textarea rows="5" required class="form-control kesesuaian_sarana_alasan hide"  name="kesesuaian_sarana_alasannya">{{step1.content.kesesuaian_sarana_alasannya}}</textarea>
        </div>
        <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Penyelesainnya :</label> 
        <div class="col-sm-9 hide kesesuaian_sarana">
          <textarea rows="5" required class="form-control hide kesesuaian_sarana" name="kesesuaian_sarana_penyelesainnya">{{step1.content.kesesuaian_sarana_penyelesainnya}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">13. Peran Lembaga Pengabdian</label>
        <div class="col-sm-12 left">a. Seleksi Proposal Pengabdian</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" name="seleksi_proposal" value="Ya" {{set_radio('seleksi_proposal','Ya',step1.content.seleksi_proposal=='Ya')}}>Ya</label>
          <label class="radio-inline"><input type="radio" name="seleksi_proposal" value="Tidak" {{set_radio('seleksi_proposal','Tidak',step1.content.seleksi_proposal=='Tidak')}}>Tidak</label>
        </div>
        <div class="col-sm-12 left">b. Menyelenggarakan Seminar Proposal</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar" value="Ya" {{set_radio('menyelenggarakan_seminar','Ya',step1.content.menyelenggarakan_seminar=='Ya')}}>Ya</label>
          <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar" value="Tidak" {{set_radio('menyelenggarakan_seminar','Tidak',step1.content.menyelenggarakan_seminar=='Tidak')}}>Tidak</label>
        </div>
        <div class="col-sm-12 left">c. Memantau Pelaksanaan Pengabdian</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" name="memantau_pelaksanaan" value="Ya" {{set_radio('memantau_pelaksanaan','Ya',step1.content.memantau_pelaksanaan=='Ya')}}>Ya</label>
          <label class="radio-inline"><input type="radio" name="memantau_pelaksanaan" value="Tidak" {{set_radio('memantau_pelaksanaan','Tidak',step1.content.memantau_pelaksanaan=='Tidak')}}>Tidak</label>
        </div>
        <div class="col-sm-12 left">d. Menyelenggarakan seminar hasil pengabdian</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar_hasil" value="Ya" {{set_radio('menyelenggarakan_seminar_hasil','Ya',step1.content.menyelenggarakan_seminar_hasil=='Ya')}}>Ya</label>
          <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar_hasil" value="Tidak" {{set_radio('menyelenggarakan_seminar_hasil','Tidak',step1.content.menyelenggarakan_seminar_hasil=='Tidak')}}>Tidak</label>
        </div>
        <label for="" class="col-sm-3 control-label left">e. Pelayanan Lainnya</label> 
        <div class="col-sm-9">
          <input type="" class="form-control" name="pelayanan_lainnya" value="{{step1.content.pelayanan_lainnya}}">
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">14. Pelaksanaan Kerjasama dengan instansi lain</label>
        <div class="col-sm-12" id="instansi">
          {% for item in monev.content.instansi_nama %}
            <div class="col-sm-12 parentwithchild">
              <label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" required  name="instansi_nama[]" value="{{item}}">
              </div>
              <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
              <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Bentuk Kerjasama :</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" required name="instansi_kerjasama[]" value="{{monev.content.instansi_kerjasama[loop.index0]}}">
              </div>
              </div>
              <button type="button" class="close close-div" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
              <div class="col-sm-12 parentwithchild">
                <label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" required  name="instansi_nama[]" value="">
                </div>
                <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Bentuk Kerjasama :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" required name="instansi_kerjasama[]" value="">
                </div>
                </div>
                <button type="button" class="close close-div" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          {% endfor %}
        </div>
        <div class="col-sm-12">
          <a href="#" id="tambahinstansi" class="btn btn-default pull-right"> Tambah Instansi</a>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">15. Keterlibatan Pengabdian dengan Program Pendidikan/Stakeholder</label> 
        <div class="col-sm-12 left">a. Program Pascasarjana</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="pascasarjana" value="Ada" {{set_radio('pascasarjana','Ada',step1.content.pascasarjana=='Ada')}}>Ada</label>
          <label class="radio-inline"><input type="radio" required name="pascasarjana" value="Tidak" {{set_radio('pascasarjana','Tidak',step1.content.pascasarjana=='Tidak')}}>Tidak</label>
        </div>
        <div class="col-sm-12 left">b. Sekolah</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="sekolah" value="Ada" {{set_radio('sekolah','Ada',step1.content.sekolah=='Ada')}}>Ada</label>
          <label class="radio-inline"><input type="radio" required name="sekolah" value="Tidak" {{set_radio('sekolah','Tidak',step1.content.sekolah=='Tidak')}}>Tidak</label>
        </div>
        <div class="col-sm-12 left">c. Mahasiswa</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" required name="mahasiswa" value="Ada" {{set_radio('mahasiswa','Ada',step1.content.mahasiswa=='Ada')}}>Ada</label>
          <label class="radio-inline"><input type="radio" required name="mahasiswa" value="Tidak" {{set_radio('mahasiswa','Tidak',step1.content.mahasiswa=='Tidak')}}>Tidak</label>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">16. Jumlah Mahasiswa yang Terlibat Dalam Pengabdian</label>
        <label for="" class="col-sm-3 control-label left">a. Mahasiswa S1 :</label> 
        <div class="col-sm-9">
          <input type="number" class="form-control mahasiswa" name="jumlah_s1" min="0" value="{{step1.content.jumlah_s1}}">
        </div>
          <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Mahasiswa S2 :</label> 
        <div class="col-sm-9">
          <input type="number" class="form-control mahasiswa" name="jumlah_s2" min="0" value="{{step1.content.jumlah_s2}}">
        </div>
        <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
          <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">c. Mahasiswa S3 :</label> 
        <div class="col-sm-9">
          <input type="number" class="form-control mahasiswa" name="jumlah_s3" min="0" value="{{step1.content.jumlah_s3}}">
        </div>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">17. Kesesuaian Pelaksanaan dengan Usulan Pengabdian</label>
        <div class="col-sm-12"></div>
        <label for="" class="col-sm-3 control-label left">pilih :</label> 
        <div class="col-sm-9 parentwithchild">
          <select class="form-control" required="" name="kesesuaian_pelaksanaan">
            <option value="">-Pilih-</option>
            <option value="Seluruhnya sesuai" {{set_select('kesesuaian_pelaksanaan','Seluruhnya sesuai',step1.content.kesesuaian_pelaksanaan=='Seluruhnya sesuai')}}>Seluruhnya sesuai</option>
            <option value="Sebagian sesuai" {{set_select('kesesuaian_pelaksanaan','Sebagian sesuai',step1.content.kesesuaian_pelaksanaan=='Sebagian sesuai')}}>Sebagian sesuai</option>
            <option value="Tidak sesuai dilaksanakan" {{set_select('kesesuaian_pelaksanaan','Tidak sesuai dilaksanakan',step1.content.kesesuaian_pelaksanaan=='Tidak sesuai dilaksanakan')}}>Tidak sesuai dilaksanakan</option>
          </select>
          <textarea rows="5" required class="form-control kesesuaian_pelaksanaan hide" name="kesesuaian_pelaksanaan_keterangan" placeholder="Keterangan">{{step1.content.kesesuaian_pelaksanaan_keterangan}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">18. Masalah (Kendala/Hambatan)</label>
        <div class="col-sm-12"></div>
        <label for="" class="col-sm-3 control-label left">pilih :</label> 
        <div class="col-sm-9 parentwithchild">
          <select required class="form-control" name="kendala_hambatan">
            <option value="">-Pilih-</option>
            <option value="Pencairan dana pengabdian terlambat" {{set_select('kendala_hambatan','Pencairan dana pengabdian terlambat',step1.content.kendala_hambatan=='Pencairan dana pengabdian terlambat')}}>Pencairan dana pengabdian terlambat</option>
            <option value="Suku cadang alat tidak tersedia di dalam negeri" {{set_select('kendala_hambatan','Suku cadang alat tidak tersedia di dalam negeri',step1.content.kendala_hambatan=='Suku cadang alat tidak tersedia di dalam negeri')}}>Suku cadang alat tidak tersedia di dalam negeri</option>
            <option value="Bahan pengabdian tidak tersedia di dalam negeri" {{set_select('kendala_hambatan','Bahan pengabdian tidak tersedia di dalam negeri',step1.content.kendala_hambatan=='Bahan pengabdian tidak tersedia di dalam negeri')}}>Bahan pengabdian tidak tersedia di dalam negeri</option>
            <option value="Pemesanan bahan dan/atau alat lama" {{set_select('kendala_hambatan','Pemesanan bahan dan/atau alat lama',step1.content.kendala_hambatan=='Pemesanan bahan dan/atau alat lama')}}>Pemesanan bahan dan/atau alat lama</option>
            <option value="Kesulitan memperoleh data/informasi" {{set_select('kendala_hambatan','Kesulitan memperoleh data/informasi',step1.content.kendala_hambatan=='Kesulitan memperoleh data/informasi')}}>Kesulitan memperoleh data/informasi</option>
            <option value="Kenaikan harga bahan dan/atau alat" {{set_select('kendala_hambatan','Kenaikan harga bahan dan/atau alat',step1.content.kendala_hambatan=='Kenaikan harga bahan dan/atau alat')}}>Kenaikan harga bahan dan/atau alat</option>
            <option value="Adanya potongan pajak" {{set_select('kendala_hambatan','Adanya potongan pajak',step1.content.kendala_hambatan=='Adanya potongan pajak')}}>Adanya potongan pajak</option>
            <option value="Lainnya (sebutkan)" {{set_select('kendala_hambatan','Lainnya (sebutkan)',step1.content.kendala_hambatan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
          <textarea required rows="5" class="form-control kendala_hambatan hide" name="kendala_hambatan_keterangan" placeholder="Keterangan">{{step1.content.kendala_hambatan_keterangan}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">19. Penerapan Hasil Pengabdian</label> 
        <div class="col-sm-12 left"> Menurut Anda, Berapa lama lagi hasil pengabdian Anda dapat diterapkan</div>
        <div class="col-sm-12">
          <textarea rows="5" class="form-control" name="penerapan_hasil_pengabdian" placeholder="">{{step1.content.penerapan_hasil_pengabdian}}</textarea>
        </div>
        <div class="col-sm-12 left"> Pihak mana yang akan menerapkan hasil pengabdian ini</div>
        <div class="col-sm-12">
          <textarea rows="5" class="form-control" name="penerapan_pihak_pengabdian" placeholder="">{{step1.content.penerapan_pihak_pengabdian}}</textarea>
        </div>
        <div class="col-sm-12 left"> Hasil Pengabdian sebagai bahan pengajaran</div>
        <label for="" class="col-sm-3 control-label left">Pilih :</label> 
        <div class="col-sm-9">
          <label class="radio-inline"><input type="radio" name="hasil_pengabdian_pengajaran" value="Ya, pada mata kuliah/mata pelajaran" {{set_radio('hasil_pengabdian_pengajaran','Ya, pada mata kuliah/mata pelajaran',step1.content.hasil_pengabdian_pengajaran=='Ya, pada mata kuliah/mata pelajaran')}}>Ya, pada mata kuliah/mata pelajaran</label>
          <label class="radio-inline"><input type="radio" name="hasil_pengabdian_pengajaran" value="Tidak, karena" {{set_radio('hasil_pengabdian_pengajaran','Tidak, karena',step1.content.hasil_pengabdian_pengajaran=='Tidak, karena')}}>Tidak, karena</label>
        </div>
        <div class="col-sm-12">
          <textarea rows="5" class="form-control"  name="hasil_pengabdian_pengajaran_keterangan" value="">{{step1.content.hasil_pengabdian_pengajaran_keterangan}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-12 control-label text-left">20. Penilaian umum terhadap pengabdian ini:</label> 
        <div class="col-sm-12">
          <textarea rows="5" class="form-control" name="penilaian_umum" required>{{step1.content.penilaian_umum}}</textarea>
        </div>
      </div>
      <div class="form-group parentwithchild">
        <label for="" class="col-sm-12 control-label text-left">21. Rekomendasi/Saran</label> 
        <label for="" class="col-sm-3 control-label left">a. pilih :</label> 
        <div class="col-sm-9 parentwithchild">
          <select class="form-control" name="rekomendasi_saran" required>
            <option value="">-Pilih-</option>
            <option value="Pengabdian selesai" {{set_select('rekomendasi_saran','Pengabdian selesai',step1.content.rekomendasi_saran=='Pengabdian selesai')}}>Pengabdian selesai</option>
            <option value="Pengabdian dilanjutkan" {{set_select('rekomendasi_saran','Pengabdian dilanjutkan',step1.content.rekomendasi_saran=='Pengabdian dilanjutkan')}}>Pengabdian dilanjutkan</option>
            <option value="Pengabdian dilanjutkan untuk pengabdian unggulan/terobosan" {{set_select('rekomendasi_saran','Pengabdian dilanjutkan untuk pengabdian unggulan/terobosan',step1.content.rekomendasi_saran=='Pengabdian dilanjutkan untuk pengabdian unggulan/terobosan')}}>Pengabdian dilanjutkan untuk pengabdian unggulan/terobosan</option>
            <option value="Pengabdian tidak dilanjutkan" {{set_select('rekomendasi_saran','Pengabdian tidak dilanjutkan',step1.content.rekomendasi_saran=='Pengabdian tidak dilanjutkan')}}>Pengabdian tidak dilanjutkan</option>
            <option value="Lainnya (sebutkan)" {{set_select('rekomendasi_saran','Lainnya (sebutkan)',step1.content.rekomendasi_saran=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
          </select>
          <textarea rows="5" required class="form-control hide rekomendasi_saran"  name="rekomendasi_saran_keterangan" placeholder="Keterangan">{{step1.content.rekomendasi_saran_keterangan}}</textarea>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="box-footer tc">  
  <a href="#" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Batalkan Proses </a>
  <button type="submit" class="btn btn-success mr-10 next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button):enabled:visible';

    $('input[type=radio][name=pelaksanaan_pengabdian]').change(function() {
        if (this.value == 'Sesuai') {
            $(".pelaksanaan_pengabdian").addClass("hide");
            $('select[name=pelaksanaan_pengabdian_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".pelaksanaan_pengabdian").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=pelaksanaan_pengabdian_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".pelaksanaan_pengabdian_alasan").removeClass("hide");
        }else{
          $(".pelaksanaan_pengabdian_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=rancangan_pengabdian]').change(function() {
        if (this.value == 'Sesuai') {
            $(".rancangan_pengabdian").addClass("hide");
            $('select[name=rancangan_pengabdian_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".rancangan_pengabdian").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=rancangan_pengabdian_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".rancangan_pengabdian_alasan").removeClass("hide");
        }else{
          $(".rancangan_pengabdian_alasan").addClass("hide");
          var current_height= $("#step1").height();
          $(".content-wrapper").height(current_height+400);
        }
    });

    $('input[type=radio][name=kesesuaian_personalia]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_personalia").addClass("hide");
            $('select[name=kesesuaian_personalia_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_personalia").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_personalia_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_personalia_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_personalia_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_anggaran]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_anggaran").addClass("hide");
            $('select[name=kesesuaian_anggaran_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_anggaran").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_anggaran_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_anggaran_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_anggaran_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_sarana]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_sarana").addClass("hide");
            $('select[name=kesesuaian_sarana_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_sarana").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_sarana_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_sarana_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_sarana_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_pelaksanaan]').on('change', function() {
        if (this.value == 'Tidak sesuai dilaksanakan') {
            $(".kesesuaian_pelaksanaan").removeClass("hide");
        }else{
          $(".kesesuaian_pelaksanaan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kendala_hambatan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kendala_hambatan").removeClass("hide");
        }else{
          $(".kendala_hambatan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=rekomendasi_saran]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".rekomendasi_saran").removeClass("hide");
        }else{
          $(".rekomendasi_saran").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('input[type=radio][name=mahasiswa]').change(function() {
        if (this.value == 'Ada') {
            $(".mahasiswa").prop('disabled', false);;
        }
        else if (this.value == 'Tidak') {
          $(".mahasiswa").prop('disabled', true);;
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $("#tambahinstansi").click(function(){
        var content = '<div class="col-sm-12 parentwithchild"><label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> <div class="col-sm-9"><input type="" class="form-control" name="instansi_nama[]" required value=""></div><label for="" class="col-sm-3 control-label left">b. Bentuk Kerjasama :</label> <div class="col-sm-9"><input type="" class="form-control" required name="instansi_kerjasama[]" value=""></div><button type="button" class="close close-div" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
        $("#instansi").append(content);
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
        trigger();
        return false;
    });
    trigger();
    function trigger(){
      $(".close").click(function(){
        var div = $(this).parent();
        console.log("waw");
        div.remove();
        return false;
      });
    }

    $('input[type=radio][checked]').trigger('change');
    $('option[selected]').trigger('change');

    $.fn.datepicker.defaults.language = 'id';
    $('.tanggalan').datepicker({
      orientation:"left bottom",timePicker: true, timePickerIncrement: 30, format: 'dd/mm/yyyy', todayHighlight: false, forceParse: false});
    
    $("#step1").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
        $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button)';
        $("#step2").validator('update');
        $("#step2").validator('validate');
      }
    }); 
  });
</script>
