{{ form_open('pengabdian/monev/monevreview/step2','class="form-horizontal moving" id="step2" data-toggle="validator"') }}
<div class="box-body">  

  <!-- s:xxxxxxxxxxxx -->  


          <div class="box bordernya">
              <div class="box-header with-border">
                <h3 class="box-title">BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENSI</h3>
              </div>
              <!-- /.box-header -->  
              <!-- form start --> 
              <div class="box-body">

                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label text-left">Judul Pengabdian</label> 
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" name="pengabdian" value="{{id}}">
                            <input type="hidden" class="form-control" name="bobot_luaran" value="{{jenis_pengabdian.bobot_luaran_aktif.id}}">
                            <input type="" class="form-control" disabled id="" value="{{judul}}">
                        </div>
                      </div>  
                      <div class="form-group parentwithchild">
                        <label for="" class="col-sm-12 control-label text-left">Ketua Peneliti</label> 
                        <label for="" class="col-sm-2 control-label left">Nama</label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
                        </div>
                        <label for="" class="col-sm-2 control-label left">NIDN</label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" disabled id="" value="{{dosen.nidn}}">
                        </div>
                        <label for="" class="col-sm-2 control-label left">Pangkat/Golongan Ruang</label> 
                        <div class="col-sm-10">
                          <input type="" class="form-control" disabled id="" value="{{dosen.jabatan_fungsional.nama}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label text-left">Program Studi</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label text-left">Anggota Peneliti</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{anggota|length}} Orang">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label text-left">Lama Pengabdian</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{lama}} bulan">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label text-left">Biaya yang Disetujui</label> 
                        <div class="col-sm-10">
                            <input type="" class="form-control" disabled id="" value="{{pengabdian_review_inselected.0.rp_rekomendasi}}">
                        </div>
                      </div>
              </div>
              <!-- /.box-body -->   
        </div>

  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">Kriteria Penilaian</h3>
    </div>
    <!-- /.box-header -->  
    <!-- form start --> 
    <div class="box-body">  
      <table class="table table-bordered mb-0"> 
        <thead>
          <tr>
            <th style="width: 10px">No</th> 
            <th style="width: 25%" colspan="2">Komponen Penilaian</th>
            <th colspan="6">Keterangan</th>
            <th>Bobot(%)</th> 
            <th style="width: 5%">Skor</th>
            <th>Nilai</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td rowspan="5"</td>
            <td rowspan="5">Publikasi Ilmiah</td>
            <td></td>
            <td>Tidak Ada</td>
            <td>Draft</td>
            <td>Submitted</td>
            <td>Reviewed</td>
            <td>Accepted</td>
            <td>Published</td>
            <td rowspan="5" style="text-align:center" valign="center">
              <span id="bobot1">{{jenis_pengabdian.bobot_luaran_aktif.data1}}</span>
            </td>
            <td rowspan="5" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="1">
              <input type="text" class="form-control skor" data-id="1" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="5" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden1" name="nilai[]">
              <span class="nilai" id="nilai1"></span>
            </td>
          </tr>
          <tr>
            <td>Tidak Terakreditasi</td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Submitted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Reviewed"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Accepted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_tidak_terakreditasi" value="Published"></td>
          </tr>
          <tr>
            <td>Nasional Terakreditasi</td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Submitted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Reviewed"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Accepted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_nasional_terakreditasi" value="Published"></td>
          </tr>
          <tr>
            <td>Internasional</td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Submitted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Reviewed"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Accepted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional" value="Published"></td>
          </tr>
          <tr>
            <td>Internasional Bereputasi</td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Submitted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Reviewed"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Accepted"></td>
            <td style="text-align:center"><input type="radio" required name="publikasi_jurnal_internasional_bereputasi" value="Published"></td>
          </tr>

          <tr>
            <td rowspan="3">2</td>
            <td rowspan="3">Publikasi Media Masa</td>
            <td></td>
            <td colspan="2">Tidak Ada</td>
            <td colspan="2">Draft</td>
            <td colspan="2">Terbit</td>
            
            <td rowspan="3" style="text-align:center" valign="center">
              <span id="bobot2">{{jenis_pengabdian.bobot_luaran_aktif.data2}}</span>
            </td>
            <td rowspan="3" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="2">
              <input type="text" class="form-control skor" data-id="2" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="3" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden2" name="nilai[]">
              <span class="nilai" id="nilai2"></span>
            </td>
          </tr>
          <tr>
            <td>Internasional</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_internasional" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_internasional" value="Draft"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_internasional" value="Terbit"></td>
          </tr>
          <tr>
            <td>Nasional</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_nasional" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_nasional" value="Draft"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="publikasi_media_masa_nasional" value="Terbit"></td>
          </tr>



          <tr>
            <td rowspan="2">3</td>
            <td colspan="2" rowspan="2">Buku Ajar</td>
            <td colspan="2">Tidak Ada</td>
            <td>Draft</td>
            <td colspan="2">Diproses Penerbit</td>
            <td>Sudah Terbit</td>
            <td rowspan="2" style="text-align:center" valign="center">
              <span id="bobot3">{{jenis_pengabdian.bobot_luaran_aktif.data3}}</span>
            </td>
            <td rowspan="2" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="3">
              <input type="text" class="form-control skor" data-id="3" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="2" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden3" name="nilai[]">
              <span class="nilai" id="nilai3"></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center"><input type="radio" required name="buku" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="buku" value="Draft"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="buku" value="Diproses Penerbit"></td>
            <td style="text-align:center"><input type="radio" required name="buku" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td rowspan="4">4</td>
            <td rowspan="4">Pembicara Pada Pertemuan Ilmiah (Seminar/Simposium)</td>
            <td></td>
            <td colspan="2">Tidak Ada</td>
            <td colspan="2">Terdaftar</td>
            <td colspan="2">Telah Diikuti</td>
            <td rowspan="4" style="text-align:center" valign="center">
              <span id="bobot4">{{jenis_pengabdian.bobot_luaran_aktif.data4}}</span>
            </td>
            <td rowspan="4" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="4">
              <input type="text" class="form-control skor" data-id="4" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="4" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden4" name="nilai[]">
              <span class="nilai" id="nilai4"></span>
            </td>
          </tr>
          <tr>
            <td>Ilmiah</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_ilmiah" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_ilmiah" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_ilmiah" value="Telah Diikuti"></td>
          </tr>
          <tr>
            <td>Internasional</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_internasional" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_internasional" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_internasional" value="Telah Diikuti"></td>
          </tr>
          <tr>
            <td>Nasional</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_nasional" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_nasional" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="forum_nasional" value="Telah Diikuti"></td>
          </tr>
          <tr>
            <td rowspan="4">5</td>
            <td rowspan="4">Sebagai Invited Speaker</td>
            <td></td>
            <td colspan="2">Tidak Ada</td>
            <td>Draft</td>
            <td>Terdaftar</td>
            <td colspan="2">Sudah Dilaksanakan</td>
            <td rowspan="4" style="text-align:center" valign="center">
              <span id="bobot5">{{jenis_pengabdian.bobot_luaran_aktif.data5}}</span>
            </td>
            <td rowspan="4" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="5">
              <input type="text" class="form-control skor" data-id="5" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="4" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden5" name="nilai[]">
              <span class="nilai" id="nilai5"></span>
            </td>
          </tr>
          <tr>
            <td>Internasional</td>
            <td  colspan="2" style="text-align:center"><input type="radio" required name="speaker_internasional" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_internasional" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_internasional" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="speaker_internasional" value="Sudah Dilaksanakan"></td>
          </tr>
          <tr>
            <td>Nasional</td>
            <td  colspan="2" style="text-align:center"><input type="radio" required name="speaker_nasional" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_nasional" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_nasional" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="speaker_nasional" value="Sudah Dilaksanakan"></td>
          </tr>
          <tr>
            <td>Regional</td>
            <td  colspan="2" style="text-align:center"><input type="radio" required name="speaker_regional" value="Tidak ada"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_regional" value="Draft"></td>
            <td style="text-align:center"><input type="radio" required name="speaker_regional" value="Terdaftar"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="speaker_regional" value="Sudah Dilaksanakan"></td>
          </tr>
          <tr>
            <td rowspan="11">6</td>
            <td rowspan="11">Capaian Luaran Lainnya</td>
            <td></td>
            <td colspan="2">Tidak Ada</td>
            <td colspan="2">Belum Terbit</td>
            <td colspan="2">Sudah Terbit</td>
            <td rowspan="11" style="text-align:center" valign="center">
              <span id="bobot6">{{jenis_pengabdian.bobot_luaran_aktif.data6}}</span>
            </td>
            <td rowspan="11" style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="6">
              <input type="text" class="form-control skor" data-id="6" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td rowspan="11" style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden6" name="nilai[]">
              <span class="nilai" id="nilai6"></span>
            </td>
          </tr>
          <tr>
            <td>HKI</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_hki" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_hki" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_hki" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Tak Tepat Guna</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_taktepat" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_taktepat" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_taktepat" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Model</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_model" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_model" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_model" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Purwarupa</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_purwarupa" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_purwarupa" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_purwarupa" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Karya Design</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_karyadesign" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_karyadesign" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_karyadesign" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Rekayasa Sosial</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_sosial" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_sosial" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_sosial" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Produk Terstandarisasi</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_terstandarisasi" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_terstandarisasi" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_terstandarisasi" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Produk Tersertivikasi</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_tesertivikasi" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_tesertivikasi" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_tesertivikasi" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Wirausaha Baru Mandiri</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_wirausaha" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_wirausaha" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_wirausaha" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td>Mitra Badan Hukum</td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_mitra" value="Tidak ada"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_mitra" value="Belum Terbit"></td>
            <td colspan="2" style="text-align:center"><input type="radio" required name="luaran_mitra" value="Sudah Terbit"></td>
          </tr>
          <tr>
            <td >7</td>
            <td colspan="8">Video</td>
            <td style="text-align:center" valign="center">
              <span id="bobot7">{{jenis_pengabdian.bobot_luaran_aktif.data7}}</span>
            </td>
            <td style="text-align:center" valign="center">
              <input type="hidden" name="penilaians[]" value="7">
              <input type="text" class="form-control skor" data-id="7" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
              <div class="help-block with-errors"></div>   
            </td>
            <td style="text-align:center" valign="center">
              <input type="hidden" id="nilai_hidden7" name="nilai[]">
              <span class="nilai" id="nilai7"></span>
            </td>
          </tr>
        </tbody>  
        <tfoot>
          <tr> 
            <th colspan="9">
              Total
            </th>
            <th>
              100%
            </th>
            <th>
              <span id="total_skor"></span>
            </th>
            <th>
              <span id="total_nilai"></span>
            </th>

          </tr>
        </tfoot>
      </table>
      <br><br>
      <div class="form-group">  
        <label for="" class="col-sm-12">Komentar Penilai</label> 
        <div class="col-sm-12">  
          <textarea rows="5"  class="form-control" required name="komentar_penilai_step2" placeholder="Komentar Penilai" ></textarea>
        </div> <!-- col-sm-10 -->
      </div>
    

    {{notes.string|nl2br}}
    </div>
    <!-- /.box-body -->   
  </div>


  <!-- e:xxxxxxxxxxxx -->

</div>
<div class="box-footer tc">  
  <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a>
  <button type="submit" class="btn btn-success mr-10 next" >  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
  $( ".skor" ).keyup(function() {
      id = $(this).data("id");
      if(parseInt($(this).val())<0 || parseInt($(this).val())>7) $(this).val('');
      bobot = parseInt($("#bobot"+id).html());
      skor = parseInt($(this).val());
      nilai = bobot*skor/100;
      nilai = nilai.toFixed(2);
      nilai = isNaN(nilai)?0:nilai;
      $("#nilai"+id).text(nilai);
      $("#nilai_hidden"+id).val(nilai);
      var total_skor=0;
      $(".skor").each(function(index ){
          temp = parseInt($(this).val());
          temp = isNaN(temp)?0:temp;
          total_skor+=temp;
      });
      $("#total_skor").text(total_skor);

      var total_nilai=0;
      $(".nilai").each(function(index ){
          temp = parseFloat($(this).text());
          temp = isNaN(temp)?0:temp;
          total_nilai+=temp;
      });
      total_nilai = total_nilai.toFixed(2);
      $("#total_nilai").text(total_nilai);
      console.log(skor+" "+bobot+" "+nilai);
  });

    $('td').click(function() {
        var $cell = $(this);
        var nama = $cell.children('input').attr("name");
        $cell.children('input:radio').prop('checked',true).trigger('change');

    });
    $("#step2").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
        $("#step3").validator('update');
        $("#step3").validator('validate');
      }
    }); 
  });
</script>