{{ form_open('pengabdian/monev/monevreview/step3','class="form-horizontal moving" id="step3" data-toggle="validator"') }}
<div class="box-body">

    <!-- s:xxxxxxxxxxxx -->


    <!-- s:11111111-->
        <div class="box bordernya"> <div class="box-header with-border">
            <h3 class="box-title">BORANG MONITORING DAN EVALUASI LAPANGAN PENELITIAN BERBASIS KOMPETENSI</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">

            <div class="form-group">
                <label for="" class="col-sm-2 control-label text-left">Judul pengabdian</label>
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="pengabdian" value="{{id}}">
                    <input type="hidden" class="form-control" name="bobot_hasil" value="{{jenis_pengabdian.bobot_hasil_aktif.id}}">
                    <input type="" class="form-control" disabled id="" value="{{judul}}">
                </div>
            </div>
            <div class="form-group parentwithchild">
                <label for="" class="col-sm-12 control-label text-left">Ketua</label>
                <label for="" class="col-sm-2 control-label left">Nama</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
                </div>
                <label for="" class="col-sm-2 control-label left">NIDN</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{dosen.nidn}}">
                </div>
                <label for="" class="col-sm-2 control-label left">Pangkat/Golongan Ruang</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{dosen.jabatan_fungsional.nama}}">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label text-left">Program Studi</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label text-left">Anggota Peneliti</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{anggota|length}} Orang">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label text-left">Lama pengabdian</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{lama}} bulan">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label text-left">Biaya yang Disetujui</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" disabled id="" value="{{pengabdian_review_inselected.0.rp_rekomendasi}}">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="box bordernya">
        <div class="box-header with-border">
            <h3 class="box-title">Kriteria Penilaian</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="width: 25%">Kriteria</th>
                        <th>Indikator Penilaian</th>
                        <th>Bobot(%)</th>
                        <th>Skor</th>
                        <th>Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in jenis_pengabdian.active_bobothasil %}
                        <tr>
                            <td>
                                {{loop.index}}.
                            </td>
                            <td>
                                {{i.nama}}
                            </td>
                            <td>
                                {{i.indikator|nl2br}}
                            </td>
                            <td>
                                <span id="bobotstep3{{i.id}}">{{i.bobot}}</span>
                            </td>
                            <td>
                                <input type="hidden" name="penilaians[]" value="{{i.id}}">
                                <input type="text" class="form-control skorstep3" data-id="{{i.id}}" pattern="^[1-7]$" name="skors[]" required placeholder="" data-pattern-error="Skor harus 1-7">
                                <div class="help-block with-errors"></div>
                            </td>
                            <td>
                                <input type="hidden" id="nilai_hiddenstep3{{i.id}}" name="nilai[]">
                                <span class="nilaistep3" id="nilaistep3{{i.id}}"></span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            Total
                        </th>
                        <th>
                            100
                        </th>
                        <th>
                            <span id="total_skorstep3"></span>
                        </th>
                        <th>
                            <span id="total_nilaistep3"></span>
                        </th>

                    </tr>
                </tfoot>
            </table>

            <br><br>
            <div class="form-group">
                <label for="" class="col-sm-12">Komentar Penilai</label>
                <div class="col-sm-12">
                    <textarea rows="5" class="form-control" required name="komentar_penilai_step3" placeholder="Komentar Penilai"></textarea>
                </div>
                <!-- col-sm-10 -->
            </div>
            <br>

            <b>Keterangan:</b>
            <br><br>
            Setiap kriteria diberi skor 1 s/d 7 (maks skor 7)
            <br>
            1. ( 1 = Sangat buruk )
            <br>
            2. ( 2 = buruk )
            <br>
            3. ( 3 = Sangat kurang )
            <br>
            4. ( 4 = kurang)
            <br>
            5. ( 5 = cukup )
            <br>
            6. ( 6 = baik )
            <br>
            7. ( 7 = Sangat baik )
            <br>
            <br>


        </div>
        <!-- /.box-body -->
    </div>
    <!-- e:tabel -->


    <!-- e:xxxxxxxxxxxx -->

</div>
<!-- /.box-body -->
<div class="box-footer tc">
    <a href="#" class="btn btn-default previous">
        <i class="fa fa-arrow-left"></i>
        Proses Sebelumnya
    </a>
    <a href="#" class="btn btn-success mr-10" data-toggle="modal" data-target="#konfirmasi">
        Submit
        <i class="fa fa-arrow-right"></i>
    </a>
</div>
<div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body" id="validate_message">
                    <h3>Review yang sudah di submit tidak dapat di ubah. Anda yakin ingin melanjutkan?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info btn-ok">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div></form><script type="text/javascript">
$(document).ready(function () {

    $(".skorstep3").keyup(function () {
        id = $(this).data("id");
        if (parseInt($(this).val()) < 0 || parseInt($(this).val()) > 7) 
            $(this).val('');
        

        bobot = parseInt($("#bobotstep3" + id).html());
        skor = parseInt($(this).val());
        nilai = bobot * skor / 100;
        nilai = nilai.toFixed(2);
        nilai = isNaN(nilai) ? 0 : nilai;
        $("#nilaistep3" + id).text(nilai);
        $("#nilai_hiddenstep3" + id).val(nilai);
        var total_skor = 0;
        $(".skorstep3").each(function (index) {
            temp = parseInt($(this).val());
            temp = isNaN(temp) ? 0 : temp;
            total_skor += temp;
        });
        $("#total_skorstep3").text(total_skor);

        var total_nilai = 0;
        $(".nilaistep3").each(function (index) {
            temp = parseFloat($(this).text());
            temp = isNaN(temp) ? 0 : temp;
            total_nilai += temp;
        });
        total_nilai = total_nilai.toFixed(2);
        $("#total_nilaistep3").text(total_nilai);

    });
});</script>
