{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
               Luaran Pengabdian <small>Buku Ajar / Buku Teks</small>
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
              <li>Luaran Pengabdian</li>
              <li>Buku Ajar / Teks</li>
              <li class="active">Tambah Data</li> 
            </ol>
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content"> 
              {% set error = validation_errors_array() %}

              {{ form_open_multipart('pengabdian/luaran/bukuajars/edit/'~id) }}
              <div class="box box-warning">
                  <div class="box-header with-border">
                        <h3 class="box-title">Tambah Data Buku Ajar / Buku Teks</h3> 
                        <div class="box-tools settingnya">   
                              <a href="mk-buku.php" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                        </div>
                  </div><!-- .box-header --> 
                  <div class="box-body">  

                          <div class="row">
                          <div class="col-sm-12">

                                <!-- s:Personil Dosen-->
                                <div class="box bordernya">
                                      <div class="box-header with-border">
                                        <h3 class="box-title">Personil Dosen</h3>
                                      </div>
                                      <!-- /.box-header -->
                                      <!-- form start -->
                                      <div class="form-horizontal">
                                          <div class="box-body">
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">NIDN </label> 
                                                <div class="col-sm-9">
                                                  <input type="" class="form-control" id="nidn" name="nidn" value="{{set_value('nidn',dosen.nidn)}}" placeholder="NIDN" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Nama Dosen </label> 
                                                <div class="col-sm-9">
                                                  <input type="" class="form-control" id="nama" name="nama" value="{{set_value('nama',dosen.nama_lengkap)}}" placeholder="Dosen" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Program Studi </label> 
                                                <div class="col-sm-9">
                                                  <input type="" class="form-control" id="program_studi" name="program_studi" value="{{set_value('program_studi',dosen.program_studi.nama)}}" placeholder="Program Studi" disabled>
                                                </div>
                                                <input type="hidden" id="dosen" name="dosen" value="{{set_value("dosen",dosen.id)}}" />
                                              </div> 
                                          </div>
                                          <!-- /.box-body --> 
                                      </div> 
                                    <!-- e:form search --> 
                                  </div>
                                  <!-- e:Personil Dosen --> 
                                    
                                  <!-- s:Personil Dosen-->
                                  <div class="box bordernya">
                                        <div class="box-header with-border">
                                          <h3 class="box-title">Data Publikasi Jurnal</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="form-horizontal" action="mk-buku.php">
                                            <div class="box-body">
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Tahun Kegiatan </label> 
                                                  <div class="col-sm-10">
                                                      <select class="form-control" name="tahun">
                                                        <option value="" {{ set_select('tahun', '', TRUE) }}>Pilih</option>
                                                        {% for item in items_tahun %}
                                                          <option value={{ item.id }}  {{ set_select('tahun', item.id,item.id==tahun_kegiatan) }}>{{item.tahun}}</option>
                                                        {% endfor %}
                                                      </select>
                                                      <span class="text-danger">{{error.tahun}}</span>
                                                  </div>
                                                </div> 
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label">Judul</label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" id="judul" name="judul" placeholder="Judul" value="{{set_value('judul',judul)}}">
                                                    <span class="text-danger">{{error.judul}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> ISBN </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" id="isbn" name="isbn" value="{{set_value('isbn',isbn)}}" placeholder="ISBN">
                                                    <span class="text-danger">{{error.isbn}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Jml. Halaman </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" id="halaman" name="halaman" value="{{set_value('halaman',halaman)}}" placeholder="Jml. Halaman">
                                                    <span class="text-danger">{{error.halaman}}</span>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Penerbit </label> 
                                                  <div class="col-sm-10">
                                                    <input type="" class="form-control" id="penerbit" name="penerbit" value="{{set_value('penerbit',penerbit)}}" placeholder="Penerbit">
                                                    <span class="text-danger">{{error.penerbit}}</span>
                                                  </div>
                                                </div>
                                                {# <div class="form-group">
                                                  <label for="" class="col-sm-2 control-label"> Berkas </label> 
                                                  <div class="col-sm-10">  
                                                     <input type="file" id="icondemo" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf">
                                                     <div class="bootstrap-filestyle input-group">
                                                        <input type="text" class="form-control " id="filename" placeholder="" disabled="" value={{set_value('test',berkas)}}> 
                                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                                          <label for="icondemo" class="btn btn-warning ">
                                                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span> 
                                                            <span class="buttonText">Select File</span>
                                                          </label>
                                                        </span>
                                                      </div> 
                                                  </div> <!-- col-sm-10 -->

                                                </div>   #}
                                                
                                            </div>
                                            <!-- /.box-body --> 
                                        </div> 
                                        <!-- e:form search -->  

                                    </div>
                                    <!-- e:Personil Dosen --> 
                            
                          </div>  
                        </div> <!-- .row --> 

                  </div><!-- box_body --> 
                  <div class="box-footer tc"> 
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</button>
                        <button type="cancel" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"> </i>  Cancel</button>   
                  </div>
              </div><!-- .box box-primary --> 
          </form>
          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<script>
$(document).ready(function(){
  $( "#nidn" ).keyup(function() {
    nidn = $("#nidn").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        console.log(data);
        $("#nama").val(data[0]["nama"]);
        $("#program_studi").val(data[0]["program_studi"]["nama"]);
        $("#dosen").val(data[0]["id"]);
    });
  });

  $("input[name='file']").change(function() {
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    $("#filename").val(fileName);
  });
})
</script>
{% endblock %}