{% extends 'template.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
            Collection Penelitian Internal
            </h1>
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
              <li><a href="{{base_url()}}collections">Collections</a></li> 
              <li><a href="{{base_url()}}collections/penelitianinternal">Penelitian Internal</a></li>
              <li> Detail </li>
            </ol> 
          </section>

          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
          <section class="content">  

               
            <div class="row">
              <div class="col-md-3">  

                    <!-- box download -->
                    <div class="box">
                        <div class="box-body box-profile imagecover">
                          <img class="profile-user-img img-responsive" src="{{base_url()}}assets/images/pdf.jpeg" alt="Cover picture">  
                    <div class="foll"> 
                        <ul class="social">
                            <li> <a href="#" data-category="Navigasi Bawah" id="facebook" data-action="Facebook" data-label="Share List">
                                <img src="{{base_url()}}assets/images/icon-fb.png" alt="follow facebook">
                                </a>
                            </li>
                            <li> {# <a href="#" data-category="Navigasi Bawah" data-action="Twitter" data-label="Share List">
                                <img src="{{base_url()}}assets/images/icon-tw.png" alt="follow twitter">
                                </a> #}
                                {% set judulx = judul|lower|replace({'(':'',')':'','\'':'',',':''})|split(' ') %}
                                {% set judulx = judulx[0]~' '~judulx[1]~' '~judulx[2]~' '~judulx[3]~' '~judulx[4]%}
                                <a href="http://twitter.com/intent/tweet?status={{type~ '-' ~judulx|url_encode}}&url={{current_url()|url_encode}}" onclick="return popitup('http://twitter.com/intent/tweet?status={{type}} - {{judulx}} {{current_url()}}')" class="twitter-share-button" data-show-count="false"><img src="{{base_url()}}assets/images/icon-tw.png" alt="follow twitter"></a>
                            </li>
                           <li> <a href="https://plus.google.com/share?url={{current_url()|url_encode}}"  onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" data-category="Navigasi Bawah" data-action="G+" data-label="Share List">
                                <img src="{{base_url()}}assets/images/icon-g.png" alt="follow g+">
                                </a>
                            </li>
                            <li> <a href="https://www.linkedin.com/shareArticle?mini=true&url={{current_url()|url_encode}}&title={{judulx}}
&summary={{type~' - '~judulx}}&source=dop" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=200,width=450');return false;"  data-category="Navigasi Bawah" data-action="G+" data-label="Share List">
                                <img src="{{base_url()}}assets/images/icon-ln.png" alt="follow g+">
                                </a>
                            </li>
                            {# <li> <a href="#" data-category="Navigasi Bawah" data-action="Instagram" data-label="Share List">
                                <img src="{{base_url()}}assets/images/icon-instagram.png" alt="follow instagram">
                                </a> #}
                            </li>
                        </ul>  
                    </div>
                          <a href="{{download_url}}?type=penelitianlaporan&id={{penelitian_laporan.id}}&no=1" target="_blank" class="btn-sm btn btn-primary  btn-block"> <i class="fa fa-file-pdf-o"> </i> Download Result</a><br>
                          <a href="{{download_url}}?type=penelitianlaporan&id={{penelitian_laporan.id}}&no=2" target="_blank" class="btn-sm btn btn-primary  btn-block"> <i class="fa fa-file-pdf-o"> </i> Download Article</a><br>
                          
                          <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                              <b> dc.Collection</b> <div class=""> Penelitian Internal </div>
                            </li>
                            <li class="list-group-item">
                              <b>dc.Author </b> <div class="">{{dosen.nama_lengkap}}<br>
                                              {% for item in anggota %}
                                               {{item.dosen.nama_lengkap}}<br>
                                              {% endfor %}
                            </div>
                            </li>
                            <li class="list-group-item">
                              {% set updated_at = updated_at|split(' ')[0] %}
                              {% set updated_at = updated_at|split('-') %}
                              {% set updated_at = updated_at[2]~'/'~updated_at[1]~'/'~updated_at[0] %}
                              <b>dc.Publication.Date</b> <div class="">{{updated_at}}</div>
                            </li>
                          </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- box download -->

              </div> <!-- col-md-3 -->
              <div class="col-md-9">  

                    <!-- box desc -->
                    
                    <div class="box">
                        <div class="box-header with-border">
                          <h2 class=" ">{{judul|upper}}</h2>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body"> 
                          <strong> dc.Subject </strong> 
                          <p class="text-muted">{% if subject %}{% for sub in subject %} {{sub.nama}} {% if not loop.last %}>{% endif %} {% endfor %}{% else %}-{% endif %}</p> 

                          <strong> dc.Keyword  </strong> 
                          <p class="text-muted">{{keyword}}</p>

                          <strong> dc.Abstrak  </strong> 
                          <p class="text-muted">{{abstrak|nl2br}}</p> 

                          <strong> dc.Budget </strong> 
                          <p class="text-muted">Rp {{rp_total_biaya}},-</p>  

                          <strong> dc.URI  </strong> 
                          <p class="text-muted"> <a href="{{current_url()}}">{{current_url()}}</a> </p> 

                          <strong> dc.Year </strong> 
                          <p class="text-muted"> {{tahun_kegiatan.tahun}}  </p>   
                          
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <!-- box desc -->

              </div> <!-- col-md-8 -->
            </div>  
                  
              

          </section>
          <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

      </div>
      <!-- /.content-wrapper -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({appId: '817440701745454', status: true, cookie: true,
xfbml: true});
};
(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
</script>
<script>
document.getElementById('facebook').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '{{current_url()}}'
  }, function(response){});
}
</script>
<script language="javascript" type="text/javascript">
function popitup(url) {
  var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
  var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

  var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
  var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

  var left = ((width / 2)-(450/2)) + dualScreenLeft;
  var top = ((height / 2)-(200/2)) + dualScreenTop;
  newwindow=window.open(url,'name','height=200,width=450,top='+top+',left='+left);
  if (window.focus) {newwindow.focus()}
  return false;
}
</script>
{% endblock %}