<div class="modal fade modal-upload in" id="modal-dokumen{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Form Upload Dokumen 70%</h4> </div>
          <div class="modal-body">

              {{ form_open_multipart('monev/monevlists/upload_dokumen/'~item.id,'class="form-horizontal formx upload" data-id="'~item.id~'"') }}
                  {% if item.monev.berkas %}
                  <div class="form-group">
                     <label for="" class="col-sm-4 control-label"> File Dokumen 70%: </label>
                    <div class="col-sm-8">
                      <a href="{{base_url()}}uploads/borang/{{item.monev.berkas}}" class="btn btn-sm btn-danger" target="_blank"><span class="fa fa-file-pdf-o"></span></a>
                    </div>
                  </div>
                  {% endif %}
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Berkas </label>

                    <div class="col-sm-8">
                      <input type="hidden" class="penelitian" name="penelitian" value="{{item.id}}">
                      <input type="file" id="icondemo{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf" data-id="{{item.id}}">
                      <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename{{item.id}}">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="icondemo{{item.id}}" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                            <span class="buttonText">Select File</span>
                          </label>

                          <button type="submit" class="btn btn-success" id="submit_upload{{item.id}}"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button>
                        </span>
                      </div>
                      <span class="text-danger warning" id="warning{{item.id}}"></span>
                    </div> <!-- col-sm-10 -->

                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                      <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          <span class="percent"></span>
                        </div>
                      </div>
                    </div> <!-- col-sm-10 -->
                  </div>
                  <br>
                  <br>
                  {# <div class="form-group">
                    <label for="" class="col-sm-4 control-label"> Berkas </label>
                    <div class="col-sm-8">
                       <input type="hidden" class="penelitian" name="penelitian" value="{{item.id}}">
                       <input type="file" id="file{{item.id}}" data-id="{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf" id="file{{item.id}}">
                       <div class="bootstrap-filestyle input-group">
                          <input type="text" class="form-control " placeholder="" id="filename{{item.id}}" readonly="">
                          <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label for="file{{item.id}}" class="btn btn-warning ">
                              <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                              <span class="buttonText">Select File</span>
                            </label>
                          </span>
                        </div>
                        <small>*Ukuran maksimum file 10mb</small><br>
                        <span id="warning{{item.id}}" class="text-danger"></span>
                    </div> <!-- col-sm-10 -->
                  </div> #}
                  <div class="tc">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Tutup</button>
                  </div>

              </form>

          </div>
        </div>
    </div>
  </div>
</div>