<div class="modal fade modal-status" id="modal-status{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-content"> 
          <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title" id="mySmallModalLabel">Status Monitoring & Evaluasi Penelitian</h4> </div> 
          <div class="modal-body tc form-horizontal">
          		<div class="form-group" style="margin-bottom:15px;">
                    <label for="" class="col-sm-3 control-label">Dokumen 70% :</label>
                    <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_berkas}}
                            {% else %}
                                Belum
                            {% endif %}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:15px;">
                    <label for="" class="col-sm-3 control-label">Borang :</label>
                    <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_borang}}
                            {% else %}
                                Belum
                            {% endif %}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:15px;">
                    <label for="" class="col-sm-3 control-label">Reviewer :</label>
                    <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_reviewer}}
                            {% else %}
                                Belum
                            {% endif %}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:15px;">
                    <label for="" class="col-sm-3 control-label">Proses Review :</label>
                    <div class="col-sm-9">
                            {% if item.monev %}
                                {{item.monev.status_review}}
                            {% else %}
                                Belum
                            {% endif %}
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:15px;">
                    <label for="" class="col-sm-3 control-label">Monev Ditutup :</label>
                    <div class="col-sm-9">
                            {% if item.batch.is_monevfinish %}
                                Sudah 
                            {% else %}
                                Belum
                            {% endif %}
                    </div>
                </div>
                <div class="tc">
                	<a href="#" class="btn btn-success btn-ok" data-dismiss="modal"><i class="fa fa-check"></i> OK </a>
            	</div>
          </div> 
        </div>
    </div>
  </div>
</div>