{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Monitoring & Evaluasi <small> Review Hasil Penelitian </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Monitoring & Evaluasi</li>
        <li class="active">Review Hasil Penelitian</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form Pencarian</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
                {% set dosen,judul,jenis_penelitians,batch_penelitian,get_tahun_kegiatan,get_hasil,get_status = request_get('dosen'),request_get('judul'),request_get('jenis_penelitian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('hasil'),request_get('status') %}
               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama Dosen : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Judul Penelitian : </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" id="" name="judul" placeholder="Judul Penelitian" value="{{judul}}">
                </div>
              </div>

               <div class="form-group">
                <label for="" class="col-sm-2 control-label">Jenis Penelitian : </label>
                <div class="col-sm-10">
                  <select class="form-control" name="jenis_penelitian"  id="jenis_penelitian">
                        <option value="">Semua Jenis Penelitian</option>
                    {% for item in jenis_penelitian %}
                        <option value="{{item.id}}" {{set_select('jenis_penelitian',item.id,item.id==jenis_penelitians)}}>{{item.nama}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Batch Penelitian : </label> 
                <div class="col-sm-10">

                  <div class="row"> 
                    <div class="col-sm-6"> 
                      <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                        <option value="">Semua Tahun</option>
                        {% for item in tahun_kegiatan %}
                          <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-6"> 
                      <select class="form-control" name="batch" id="batch">
                        <option value=""> Semua Batch </option>
                        {% for item in batch_lists %}
                          <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch_penelitian)}}>{{item.nama}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Status : </label> 
                <div class="col-sm-10">
                  <select class="form-control" name="status" id="status">
                        <option value="">Semua</option>
                        <option value="1" {{set_select('status',"1","1"==get_status)}}>Proses Review</option>
                        <option value="2" {{set_select('status',"2","2"==get_status)}}>Review Selesai</option>
                  </select>
                </div>
              </div> 

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="cancel" class="btn btn-default pull-right"> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>
              <button type="submit" class="btn btn-primary pull-right mr-10"> <i class="glyphicon glyphicon-search"> </i> Cari</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->


        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Review Hasil Penelitian</h3> 
                  <div class="box-tools settingnya">
                      <label class="labelnya">Urutkan :</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" name="orderby" id="orderby">
                              <option value="id" {{set_select('orderby',"id",orderby=="id")}}>Pembuatan</option>
                              <option value="status" {{set_select('orderby',"status",orderby=="status")}}>Status</option>
                          </select>
                      </div>   
                      <div class="formnya">  
                          <select class="form-control input-sm" name="to" id="to">
                              <option value="ASC" {{set_select('to',"ASC",to=="ASC")}}>A-Z</option>
                              <option value="DESC" {{set_select('to',"DESC",to=="DESC")}}>Z-A</option>
                          </select>
                      </div>   
                      <label class="labelnya">Tampil data:</label> 
                      <div class="formnya">  
                          <select class="form-control input-sm" id="views">
                              <option value=10 {{set_select('views',10,views==10)}}>10</option>
                              <option value=25 {{set_select('views',25,views==25)}}>25</option>
                              <option value=50 {{set_select('views',50,views==50)}}>50</option>
                              <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                          </select>
                      </div>
                      {# {% if userinfo.akses.nama=="Operator Lemlitbang"  or userinfo.akses.nama=="Sekretaris Lemlitbang" or userinfo.akses.nama=="Ketua Lemlitbang" %}
                      <a href="{{base_url()}}penelitianspemenangs/download?dosen={{dosen}}&judul={{judul}}&=jenis_penelitian={{jenis_penelitians}}&batch={{batch_penelitian}}&tahun_kegiatan={{get_tahun_kegiatan}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank"> <i class="fa fa-file-excel-o"></i> </a>
                      {% endif %} #}
                  </div>
            </div><!-- .box-header --> 
            <div class="box-body">   

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0"> 
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 45%">Data Penelitian</th>
                                <th>Peneliti</th>
                                <th style="width: 12%">Reviewer</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr> 
                          </thead>
                          <tbody>
                                {% for item in penelitian %}
                                <tr>
                                  <td>{{loop.index+((page-1)*views)}}.</td>
                                  <td>{{item.judul}}<br><br>
                                      Jenis Penelitian: {{item.jenis_penelitian.nama}}<br>
                                      Batch Penelitian: {{item.batch.nama}} - {{item.batch.batch_penelitian.tahun.tahun}}<br>
                                      Dana Disetujui:   Rp. {{item.penelitian_review_inselected.0.rp_rekomendasi}},-
                                  </td>
                                  <td>  
                                      {# {{ dump(item) }} #}
                                      Ketua:  {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}<br>
                                      {% for anggota in item.anggota %}
                                      Anggota {{loop.index}}: {{anggota.dosen.gelar_depan}} {{anggota.dosen.nama}}  {{anggota.dosen.gelar_belakang}}<br>
                                      {% endfor %}
                                  </td>
                                  <td>
                                      {% for reviewer in item.monev_reviewer %}
                                          Reviewer {{loop.index}}: {{reviewer.dosen.nama_lengkap}}<br>
                                      {% endfor %}
                                  </td>
                                  <td>
                                      {% if item.monev.hasilreview==1 %}
                                        Sudah Review
                                      {% elseif not item.batch.is_monevactive %}
                                        Proses Review Belum Mulai
                                      {% else %}
                                        Proses Review
                                      {% endif %}
                                  </td>
                                  <td>
                                      <a class="btn btn-success btn-sm" role="button" data-toggle="collapse" title="Manage" href="#bodyedit{{item.id}}"><i class="fa fa-fw fa-chevron-down"></i></a>
                                  </td> 
                                </tr>
                                <tr class="bagianedit collapse" id="bodyedit{{item.id}}">
                                      <td colspan="7">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                <div class="pull-left">
                                                   {% if item.monev.berkas %}
                                                    <a href='{{base_url()}}uploads/borang/{{item.monev.berkas}}' class="btn-sm btn bg-green" target="_blank"> Download Dokumen 70% </a>
                                                    {% endif %}
                                                    {% if item.monev.borang %}
                                                      <a href='{{base_url()}}monev/monevborang/view/{{item.id}}' class="btn-sm btn bg-green"> View Borang </a>
                                                    {% endif %}
                                                    {% if item.monev.hasilreview == 1 and roles(["Operator Lemlitbang",'Rektor','Wakil Rektor',"Sekretaris Lemlitbang",'Ketua Lemlitbang']) %}
                                                    <a href='{{base_url()}}monev/monevreview/resultsakhir/{{item.id}}' class="btn-sm btn bg-purple"> Hasil Akhir </a>
                                                    {% endif %}
                                                </div>
                                                <div class="pull-right">
                                                    {% set isreviewer,status = false,false %}
                                                    {% for reviewer in item.monev_reviewer %}
                                                      {% if reviewer.dosen.id==userinfo.id %}
                                                        {# {% set isreviewer,deadline,deadline_check= true,reviewer.deadline,reviewer.deadline_check %} #}
                                                        {% set isreviewer = true %}
                                                        {% if reviewer.status==1 %}
                                                          {% set status = true %}
                                                        {% endif %}
                                                      {% endif %}
                                                    {% endfor %}
                                                    {% if isreviewer and not status and item.batch.is_monevactive %}
                                                    <a href='{{base_url()}}monev/monevreview/review/{{item.id}}' class="btn-sm btn bg-purple"> Review Penelitian </a>
                                                    {% endif %}
                                                    {% for reviewer in item.monev_reviewer %}
                                                      {% if reviewer.status==1 and (userinfo.id==reviewer.dosen.id or roles(["Operator Lemlitbang",'Rektor','Wakil Rektor',"Sekretaris Lemlitbang",'Ketua Lemlitbang'])) %}
                                                      <a href='{{base_url()}}monev/monevreview/results/{{reviewer.penelitian}}/dosen/{{reviewer.dosen.id}}/{{loop.index}}' class="btn-sm btn bg-purple"> Hasil Review {{loop.index}} </a>
                                                      {% endif %}
                                                    {% endfor %}
                                                </div>
                                              </div>
                                          </div>
                                      </td>
                                </tr>
                                {% endfor %}
                          </tbody> 
                          <tfoot> 
                             <tr>
                                <th style="width: 10px">#</th> 
                                <th style="width: 25%">Data Penelitian</th>
                                <th>Peneliti</th>
                                <th style="width: 12%">Reviewer</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                          </tfoot> 
                      </table>   

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->

                  <ul class="pagination pull-right">
                  {% set paging = paging_creator(page,total_pages) %}
                  {{ paging|raw }}
                </ul>

            </div><!-- box_body --> 
        </div><!-- .box box-primary --> 

        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value);
  });

  $( "#orderby" ).change(function() {
      var value = $("#orderby").val();
      window.location.href = $.query.set("orderby", value);
  });

  $( "#to" ).change(function() {
      var value = $("#to").val();
      window.location.href = $.query.set("to", value);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  });
});
</script>
{% endblock %}