{% extends 'pengaturan/pengabdian/index.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{base_url()}}pengaturan/pengabdian/keanggotaans/{{jenpen.id}}">{{jenpen.nama}}</a>
    </li>
    <li class="active">Keanggotaan</li>
{% endblock %}
{% block tab %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li>
                <a href="{{base_url()}}pengaturan/pengabdian/isianpengesahan/">Isian Pengesahan</a>
            </li>
            <li>
                <a href="{{base_url()}}pengaturan/pengabdian/jenispengabdian/">Jenis Pengabdian</a>
            </li>
            <li>
                <a href="{{base_url()}}pengaturan/pengabdian/batchlistspengabdian/">Batch Lists</a>
            </li>
            <li>
                <a href="{{base_url()}}pengaturan/pengabdian/batchpengabdian/">Batch Pengabdian</a>
            </li>
            <li>
                <a href="{{base_url()}}iptek/">Iptek</a>
            </li>
            <li>
                <a href="{{base_url()}}mitra/">Mitra</a>
            </li>
            <li class="active">
                <a href="{{base_url()}}pengaturan/pengabdian/catatans">Catatan Penilaian</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                {{ form_open('pengaturan/pengabdian/catatans/edit/'~items.id,'data-toggle="validator"') }}
                {% if session.flashdata.success %}
                    <div class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        {{session.flashdata.success}}
                    </div>
                {% endif %}
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="notes" name="notes" placeholder="Notes" rows="7" required>{{item.string}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer tc">
                    <button type="submit" class="btn btn-success">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Simpan</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <!-- /.tab-content -->
</div>{% endblock %}
