<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">  Buku Ajar </h3>
    </div>
    <div class="box-body"> 
      <table width="99%" class="table table-bordered mb-0"> 
            <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Judul</th> 
                  <th>Penulis</th>
                  <th>Penerbit</th>
                  <th style="width: 20%">Action</th>
                </tr> 
            </thead>
            {# {{dump(items1)}} #}
            <tbody>
                  {% for item in items2 %}
                  <tr>
                    <td>{{loop.index+((page-1)*views)}}.</td>
                    <td>
                        <span class="text-success">{{item.content.judul}}</span><br>
                        {{item.content.isbn}}
                    </td> 
                    <td>
                        {{item.content.penulis}}
                    </td>
                    <td>
                        {{item.content.penerbit}}<br>
                        {{item.content.status}}
                    </td>
                    <td>
                        {% if item.berkas %}
                        <a href="{{base_url()}}download?type=borangluaranpengabdian&id={{item.id}}" class="btn btn-sm btn-success" target="_blank"> <i class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></i> </a>
                        {% endif %}
                    </td> 
                  </tr>
                  {% endfor %}
            </tbody> 
            <tfoot> 
                <tr> 
                  <th style="width: 10px">#</th>
                  <th>Judul</th> 
                  <th>Penulis</th>
                  <th>Penerbit</th>
                  <th>Action</th>
                </tr> 
              </tr>
            </tfoot> 
      </table>   
    </div>
	</div>
</div>