<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title"> Publikasi Media Masa </h3>
    </div>
    <div class="box-body"> 
      <table width="99%" class="table table-bordered mb-0"> 
        <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Media Masa</th> 
              <th>Judul</th>
              <th style="width: 20%">Action</th>
            </tr> 
        </thead>
        <tbody>
          {% for item in items5 %}
          <tr>
            <td>{{loop.index+((page-1)*views)}}.</td>
            <td>
                <span class="text-success">{{item.content.media_masa}}</span><br>
                {{item.content.klasifikasi}}<br>
                <a href="http://{{item.content.url}}" target="_blank">{{item.content.url}}</a>
            </td> 
            <td>
                <span class="text-success">{{item.content.judul}}</span><br>
                {{item.content.status}}
            </td>
            <td>
                {% if item.berkas %}
                <a href="{{base_url()}}download?type=borangluaranpengabdian&id={{item.id}}" class="btn btn-sm btn-success" target="_blank"> <i class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></i> </a>
                {% endif %}
            </td> 
          </tr>
          {% endfor %}
        </tbody> 
        <tfoot> 
            <tr> 
              <th style="width: 10px">#</th>
              <th>Media Masa</th> 
              <th>Judul</th>
              <th>Action</th>
            </tr> 
          </tr>
        </tfoot> 
      </table>   
    </div>
  </div>
</div>