<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title"> Video </h3>
    </div>
    <div class="box-body"> 
      <table width="99%" class="table table-bordered mb-0"> 
            <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Judul Video</th> 
                  <th>URL</th>
                  <th style="width: 20%">Action</th>
                </tr> 
            </thead>
            {# {{dump(items1)}} #}
            <tbody>
                  {% for item in items7 %}
                  <tr>
                    <td>{{loop.index+((page-1)*views)}}.</td>
                    <td>
                        <span class="text-success">{{item.content.judul}}</span>
                    </td> 
                    <td>
                        <a href="{{item.content.url}}" target="_blank">{{item.content.url}}</a>
                    </td>
                    <td>
                      
                    </td> 
                  </tr>
                  {% endfor %}
            </tbody> 
            <tfoot> 
                <tr> 
                  <th style="width: 10px">#</th>
                  <th>Judul Video</th> 
                  <th>URL</th>
                  <th style="width: 20%">Action</th>
                </tr> 
              </tr>
            </tfoot> 
      </table>   
    </div>
	</div>
</div>