{% extends 'pengaturan/point/index.twig' %}
{% block tab %}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li><a href="{{base_url()}}points/pointluaran/">Point Luaran</a></li>
      <li><a href="{{base_url()}}points/pointpenelitian/">Point Penelitian</a></li>
      <li><a href="{{base_url()}}points/klasifikasiluaran/">Klasifikasi Luaran</a></li>
      <li class="active"><a href="{{base_url()}}points/klasifikasipenelitian/">Klasifikasi Penelitian</a></li>
      <li><a href="{{base_url()}}points/klasifikasitotal/">Klasifikasi Total</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="row mb-10">
          <div class="col-sm-4">
            <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-jenis"> <i class="fa fa-plus"> </i> Tambah Data </a>
          </div>
          <div class="col-sm-8">
            <div class="box-tools settingnya">
              <label class="labelnya">Tampil data:</label>
              <div class="formnya">
                <select class="form-control input-sm" id="views">
                  <option value=10 {{set_select('views',10,views==10)}}>10</option>
                  <option value=25 {{set_select('views',25,views==25)}}>25</option>
                  <option value=50 {{set_select('views',50,views==50)}}>50</option>
                  <option value=100 {{set_select('views',100,views==100)}}>100</option>
                </select>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

        <table width="99%" class="table table-bordered mb-0">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Versi</th>
              <th>Good</th>
              <th>Very Good</th>
              <th>Excelent</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for key,item in items %}
            <!-- {{dump(item)}}<br> -->
              <tr>
                <td>{{loop.index+((page-1)*views)}}.</td>
                <td>
                  {{key|raw}}
                </td>
                {% for i in item.point %}
                <td>
                  {{i.ketua}} - {{i.anggota}}
                </td>
                {% endfor %}
                <td>
                  {{item.status_text}}
                </td>
                <td>
                  <a href="#" class="btn btn-sm btn-warning confirmation hide" title="Toggle" data-toggle="modal" data-target="#confirm-toggle{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                  {% if item.status == 0 %}
                  <a href="{{ base_url() }}points/klasifikasipenelitian/active/{{ item.versi }}" class="btn btn-sm btn-warning confirmation" title="Toggle" > Active </a>
                  <a href="#" data-href="{{base_url()}}points/klasifikasipenelitian/delete/{{item.versi}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete"> <span class="fa fa-trash"> </span></a>
                  {% endif %}
                </td>
              </tr>
              <div class="modal fade" id="confirm-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('points/klasifikasipenelitian/update/','data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center" style="width:50%;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tambah Point Klasifikasi Luaran</h4>
                      </div>
                      <div class="modal-body" id="validate_message">
                        <div class="form-horizontal">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Nama Versi</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" name="versi" value="{{item.versi}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.versi}}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Tanggal</label>
                              <div class="col-sm-8">
                                <input type="hidden" class="form-control" name="tanggal" value="{{item.tanggal}}" required>
                                <span class="form-control tanggal" style="padding-top:5px;"></span>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.tanggal}}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label"></label>
                              <div class="col-sm-4">
                                Min
                              </div>
                              <div class="col-sm-4">
                                Max
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Good</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="good_ketua" value="{{item.point[0].ketua}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.good_ketua}}</span>
                              </div>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="good_anggota" value="{{item.point[0].anggota}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.good_anggota}}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Very Good</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="very_good_ketua" value="{{item.point[1].ketua}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.very_good_ketua}}</span>
                              </div>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="very_good_anggota" value="{{item.point[1].anggota}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.very_good_anggota}}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Excelent</label>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="excelent_ketua" value="{{item.point[2].ketua}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.excelent_ketua}}</span>
                              </div>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" name="excelent_anggota" value="{{item.point[2].anggota}}" required>
                                <div class="help-block with-errors"></div>
                                <span class="text-danger">{{error.excelent_anggota}}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label"> Status </label>
                              <div class="col-sm-9">
                                <div class="radio">
                                  <label>
                                    <input {% if item.status == 1 %} checked {% endif %} type="radio" name="status" id="status" value="1">
                                    Aktif
                                  </label>&nbsp&nbsp&nbsp&nbsp
                                  <label>
                                    <input type="radio" name="status" id="status" value="0" {% if item.status == 0 %} checked {% endif %}>
                                    Tidak Aktif
                                  </label><br>
                                </div>
                              </div>

                            </div>

                          </div>
                          <!-- /.box-body -->
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
              </div>
              {% endfor %}
            </tbody>
            <tfoot>
             <tr>
              <th style="width: 10px">#</th>
              <th>Versi</th>
               <th>Good</th>
               <th>Very Good</th>
               <th>Excelent</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </tr>
        </tfoot>
      </table>


      <ul class="pagination pull-right">
        {% for i in 1..total_pages %}
          {% if page==i %}
            <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
            {% else %}
            <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="modal fade" id="add-jenis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      {{ form_open('points/klasifikasipenelitian/insert','data-toggle="validator"') }}
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="width:50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Tambah Point Klasifikas Luaran</h4>
            </div>
            <div class="modal-body" id="validate_message">
              <div class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nama Versi</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="versi" value="{{set_value('versi')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.versi}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Tanggal</label>
                    <div class="col-sm-8">
                      <input type="hidden" class="form-control tanggal_hidden" name="tanggal" value="{{set_value('tanggal')}}" required>
                      <span class="form-control tanggal" style="padding-top:5px;"></span>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.tanggal}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                      Min
                    </div>
                    <div class="col-sm-4">
                      Max
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Good</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="good_ketua" value="{{set_value('good_ketua')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.good_ketua}}</span>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="good_anggota" value="{{set_value('good_anggota')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.good_anggota}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Very Good</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="very_good_ketua" value="{{set_value('very_good_ketua')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.very_good_ketua}}</span>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="very_good_anggota" value="{{set_value('very_good_anggota')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.very_good_anggota}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Excelent</label>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="excelent_ketua" value="{{set_value('excelent_ketua')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.excelent_ketua}}</span>
                    </div>
                    <div class="col-sm-4">
                      <input type="number" class="form-control" name="excelent_anggota" value="{{set_value('excelent_anggota')}}" required>
                      <div class="help-block with-errors"></div>
                      <span class="text-danger">{{error.excelent_anggota}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Status </label>
                    <div class="col-sm-9">
                      <div class="radio">
                        <label>
                          <input type="radio" name="status" id="status" value="1" disabled>
                          Aktif
                        </label>&nbsp&nbsp&nbsp&nbsp
                        <label>
                          <input type="radio" name="status" id="status" value="0" checked>
                          Tidak Aktif
                        </label><br>
                      </div>
                    </div>

                  </div>

                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="clearfix">
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<script>
  $(document).ready(function(){
    $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
    });

    $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
    })

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd='0'+dd
    }
    if(mm<10) {
        mmx='0'+mm
    }
    today = yyyy+'-'+mmx+'-'+dd;
    $(".tanggal_hidden").val(today);
    $(".tanggal").append(today);
    // $(".tanggal").append(dd+" "+month(mm-1)+" "+yyyy);

    function month(m){
      var month=["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
      return month[m];
    }
  });
</script>
{% endblock %}
