{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Pengabdian <small> Usulan Proposal Pengabdian </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Pengabdian</li>
        <li>Usulan Proposal Pengabdian</li>
        <li class="active">Detail Proposal Pengabdian</li> 
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">   
        
          <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Detail Usulan Proposal Pengabdian</h3>
                  <div class="box-tools settingnya">   
                        <a href="javascript:history.back()" class="btn btn-primary btn-sm pull-left ml-20"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a> 
                  </div>
                </div>
                <!-- /.box-header -->  
                <div class="box-body">   
                <!-- s:xxxxxxxxxxxx --> 


                           <!-- s:11111111-->
                            <div class="box bordernya">
                                <div class="box-header with-border">
                                  <h3 class="box-title">  Identitas Dosen Pengusul </h3>
                                </div>
                                <!-- /.box-header --> 
                                <div class="box-body">

                                        <table class="table mb-0">  
                                          <tbody>
                                                <tr> 
                                                    <td style="width:20%;"> 
                                                       NIDN:
                                                    </td>
                                                    <td>
                                                      {{dosen.nidn}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Nama Dosen :
                                                    </td>
                                                    <td>
                                                       {{dosen.gelar_depan}} {{dosen.nama}} {{dosen.gelar_belakang}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Program Studi :
                                                    </td>
                                                    <td>
                                                       {{dosen.program_studi.nama}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Jabatan Akademis :
                                                    </td>
                                                    <td>
                                                       {{dosen.jabatan_akademik.nama}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Peran :
                                                    </td>
                                                    <td>
                                                       Ketua Pengabdi:
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                         Tahun Pelaksanaan :
                                                    </td>
                                                    <td>
                                                        {{tahun_kegiatan.tahun}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Batch Usulan :
                                                    </td>
                                                    <td>
                                                       {{batch.nama}} - {{batch.batch_penelitian.tahun.tahun}}
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                         Berkas:
                                                    </td>
                                                    <td>
                                                        <a href="{{base_url()}}uploads/pengabdian/{{berkas}}" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Berkas Proposal </a><br><br>
                                                        <a href="{{base_url()}}uploads/pengabdian/{{berkas_surat}}" target="_blank" class="btn btn-sm btn-success pull-left"> <i class="fa fa-arrow-down"> </i> Download Surat Mitra </a>
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Berkas Perbaikan :
                                                    </td>
                                                    <td>
                                                        {% if berkas_perbaikan %}
                                                        <a href="{{base_url()}}download?type=pengabdian&id={{id}}&no=2" target="_blank" class="btn-sm btn btn-primary"> <i class="fa fa-file-pdf-o"> </i> Download Proposal Pengabdian</a>
                                                        {% else %}
                                                        -
                                                        {% endif %}
                                                  
                                                    </td> 
                                                </tr>  
                                                <tr> 
                                                    <td> 
                                                        Status Proposal :
                                                    </td>
                                                    <td>
                                                        {{status_text}}
                                                    </td> 
                                                </tr>  
                                          </tbody>   
                                      </table>
                                          
                                </div>
                                <!-- /.box-body -->  
                            </div>
                            <!-- e:111111111 -->    


                        <!-- S:TABING -->
                        <div class="nav-tabs-custom">
                              <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Identitas Usulan</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Atribut Usulan </a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Anggota Pengabdi</a></li>
                                    <li><a href="#tab_4" data-toggle="tab">Biaya Usulan</a></li> 
                              </ul>
                              <div class="tab-content">  

                                    <div class="tab-pane active" id="tab_1">

                                         <table class="table mb-0">
                                            <tr> 
                                               <td style="width:20%;">  Judul : </td>
                                               <td> {{judul|upper}} </td>
                                            </tr>  
                                            <tr> 
                                               <td>  Abstrak : </td>
                                               <td>   
                                                  {{abstrak|nl2br}}
                                               </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Keyword : </td>
                                               <td>  {{keyword}}  </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Surel : </td>
                                               <td>  {{dosen.surel}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  No. HP : </td>
                                               <td>  {{dosen.hp}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Lokasi Pengabdian : </td>
                                               <td>  {{lokasi}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Home Base : </td>
                                               <td>  {{dosen.program_studi.nama}} </td>
                                            </tr>  
                                        </table> 


                                        <div class="clearfix"></div>   
                                    </div>
                                    <!-- e:tab_1 -->

                                    <div class="tab-pane" id="tab_2">   

                                         <table class="table mb-0">
                                            <tr> 
                                               <td style="width:20%;"> Target Luaran Pengabdian : </td>
                                               <td> {% for tar in target %}
                                                        {{tar.nama}}<br>
                                                    {% endfor %}
                                               </td>
                                            </tr>  
                                            <tr> 
                                               <td> Lama Pengabdian : </td>
                                               <td>  
                                                    {{lama}} Bulan
                                               </td>
                                            </tr>  
                                        </table>  

                                        <div class="clearfix"></div>   
                                    </div>
                                    <!-- e:tab_2 -->

                                    <div class="tab-pane" id="tab_3">  

                                         <table class="table table-bordered mb-0">
                                          <thead>
                                                <tr>
                                                  <th style="width: 10px">#</th>
                                                  <th>NIDN</th>
                                                  <th style="width: 25%">Nama Dosen</th>
                                                  <th>Program Studi </th>
                                                  <th>Pendidikan Terakhir</th> 
                                                  <th>Jabatan Akademik</th>
                                                  <th>Status</th>
                                                </tr> 
                                          </thead>
                                          <tbody>
                                                {% for item in anggota %}
                                                <tr> 
                                                   <td> {{loop.index}}.  </td>
                                                   <td> {{item.dosen.nidn}} </td>
                                                   <td> {{item.dosen.nama_lengkap}} </td>
                                                   <td> {{item.dosen.program_studi.nama}} </td>
                                                   <td> {{item.dosen.jenjang_pendidikan}}  </td>
                                                   <td> {{item.dosen.jabatan_akademik.nama}} </td>
                                                   <td> 
                                                    {% if item.konfirmasi==0 %}
                                                    <span class="text-warning">Belum Konfirmasi</span>
                                                    {% elseif item.konfirmasi ==1 %}
                                                    <span class="text-success">Menyetujui</span>
                                                    {% else %}
                                                    <span class="text-danger">Menolak</span>
                                                    {% endif %}
                                                   </td>
                                                </tr>
                                                {% endfor %}
                                          </tbody> 
                                           
                                        </table> 
                                        <br><br>
                                        <table class="table mb-0">
                                            <tr> 
                                               <td style="width:20%;"> Anggota Mahasiswa : </td>
                                               <td> {% for tar in anggota_mahasiswa %}
                                                        - {{tar}}<br>
                                                    {% endfor %}
                                               </td>
                                            </tr>  
                                            <tr> 
                                               <td> Anggota Alumni : </td>
                                               <td>  
                                                    {% for tar in anggota_alumni %}
                                                        - {{tar}}<br>
                                                    {% endfor %}
                                               </td>
                                            </tr>  
                                            <tr> 
                                               <td> Anggota Staff Pendukung : </td>
                                               <td>  
                                                    {% for tar in anggota_staff %}
                                                        - {{tar}}<br>
                                                    {% endfor %}
                                               </td>
                                            </tr> 
                                        </table>  
                                        <div class="clearfix"></div>   
                                    </div>
                                    <!-- e:tab_1 -->

                                    <div class="tab-pane" id="tab_4">  

                                        <table class="table mb-0">
                                            <tr> 
                                               <td style="width:30%;">  Total biaya yang diusulkan : </td>
                                               <td> Rp {{rp_total_biaya}},- </td>
                                            </tr>   

                                            <tr> 
                                               <td> <h4><b>Biaya Mandiri</b></h4>  </td>
                                               <td> </td>
                                            </tr> 
                                            <tr> 
                                               <td> Biaya Pribadi : </td>
                                               <td>  Rp {{rp_mandiri_biaya_total}},- </td>
                                            </tr> 
                                             <tr> 
                                               <td> Biaya dari instansi lain : </td>
                                               <td> Rp {{rp_mandiri_biaya_instansi}},- </td>
                                            </tr>  

                                            <tr> 
                                               <td> <h4><b>Isian Pengesahan</b></h4>  </td>
                                               <td> </td>
                                            </tr> 
                                            <tr> 
                                               <td> Kota Usulan  : </td>
                                               <td>  {{lokasi}}  </td>
                                            </tr> 
                                             <tr> 
                                               <td>  Jabatan yang Mengetahui  : </td>
                                               <td>  DEKAN </td>
                                            </tr> 
                                            <tr> 
                                               <td>  NIDN yang Mengetahui : </td>
                                               <td> {{dosen_mengetahui.nidn}}  </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Nama yang Mengetahui : </td>
                                               <td>   {{dosen_mengetahui.nama_lengkap}} </td>
                                            </tr> 
                                            <tr> 
                                               <td> NIDN yang Menyetujui  : </td>
                                               <td>  {{dosen_menyetujui.nidn}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Nama yang Menyetujui : </td>
                                               <td>  {{dosen_menyetujui.nama_lengkap}} </td>
                                            </tr> 
                                            <tr> 
                                               <td>  Jabatan yang Menyetujui : </td>
                                               <td>  {{dosen_menyetujui.jabatan_pengesah_pengabdian.jabatan}} </td>
                                            </tr>   
                                        </table>  

                                        <div class="clearfix"></div>   
                                    </div>
                                     <!-- e:tab_2 -->
                                    
                              </div>
                              <!-- /.tab-content -->
                        </div>
                        <!-- E:TABING -->

                            
                               
                <!-- e:xxxxxxxxxxxx --> 
                </div>
                <!-- /.box-body --> 
          </div><!-- box utama --> 
        

    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% endblock %}