{% extends 'template.twig' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manajemen Pengabdian <small>Pilih Reviewer</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Beranda </a></li>
        <li>Manajemen Pengabdian</li>
        <li class="active">Pilih Reviewer</li>
      </ol>
    </section>

    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <section class="content">

        <!-- s:form search -->
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Pilih Reviewer</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          {{form_open('pengabdian/usulan/add_reviewer/','class="form-horizontal"  data-toggle="validator"')}}
          <form class="form-horizontal">
            <div class="box-body">


              <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                          <h3 class="box-title">Pencarian Dosen</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                         {# <div class="form-group">
                            <label for="" class="col-sm-2 control-label"> Waktu Deadline </label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                  </div>
                                  <input type="text" class="form-control pull-right" {% if reviewer[0].deadline %} disabled {% endif %} id="reservationtime" name="deadline" required value="{{batch.deadline_review|replace({'/': '-'})}}">
                                  {% if reviewer[0].deadline %}
                                    <input type="hidden" value="{{reviewer[0].deadline}}" name="deadline" >
                                  {% endif %}
                                </div>
                            </div>
                          </div> #}
                        <input type="hidden" {% if reviewer[0].deadline %} disabled {% endif %}name="deadline" value="{{batch.deadline_review|replace({'/': '-'})}}">
                        {% if reviewer[0].deadline %}
                          <input type="hidden" value="{{reviewer[0].deadline}}" name="deadline" >
                        {% endif %}

                        <div class="form-group">
                              <label for="" class="col-sm-2 control-label">NIDN : </label>
                              <div class="col-sm-10">
                                  <div class="input-group input-group-sm">
                                        <input type="hidden" id="pengabdian" name="pengabdian" value="{{pengabdian}}">
                                        <input type="hidden" id="dosen" name="dosen" required>
                                        <select id="nidn" name="nidn" class="form-control" required data-remote="{{base_url()}}pengabdian/usulan/verify_reviewer/?pengabdian={{pengabdian}}">
                                           <option value=""> Pilih Reviewer </option>
                                           {% for item in dosen %}
                                              <option value="{{item.nidn}}">{{item.nidn}} - {{item.nama_lengkap}} </option>
                                           {% endfor %}
                                        </select>
                                        {# <input type="text" class="form-control" id="nidn"> #}
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-warning btn-flat" id="search"><span class="fa fa-search"> </span></button>
                                        </span>
                                  </div>
                                  <div class="help-block with-errors"></div>
                              </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
              </div>
              <!-- /.box -->

             <table width="99%" class="table table-bordered mb-0">
                   <thead>
                      <tr>
                        <th colspan="2"> Hasil Pencarian </th>
                      </tr>
                  </thead>
                  <tbody>
                        <tr>
                            <td style="width: 20%"> Nama Dosen : </td>
                            <td id="nama_dosen"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"> Program Studi  : </td>
                            <td id="program_studi"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"> Jenjang Pendidikan : </td>
                            <td id="jenjang_pendidikan"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"> Jabatan Akademik : </td>
                            <td id="jabatan_akademik"></td>
                        </tr>
                  </tbody>
              </table>



            </div>
            <!-- /.box-body -->
            <div class="box-footer tc">
              <button type="submit" class="btn btn-success  mr-10"> <i class="fa fa-plus"> </i> Tambah</button>
              {# <a type="cancel" class="btn btn-default  "> <i class="glyphicon glyphicon-remove"> </i> Cancel</button>  #}
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- e:form search -->

        {# <h4>Deadline Reviewer: <b>{{reviewer[0].deadline}}</b></h4> #}
        <div class="box box-warning">
            <div class="box-header with-border">
                  <h3 class="box-title">Tabel Dosen Reviewer</h3>
            </div><!-- .box-header -->
            <div class="box-body">

                  <div class="row">
                      <div class="col-sm-12">

                      <table width="99%" class="table table-bordered mb-0">
                          <thead>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Nama Dosen</th>
                                <th>Program Studi</th>
                                <th>Jabatan Akademik</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for item in reviewer %}
                                <tr>
                                    <td>{{loop.index}}.</td>
                                    <td>
                                        {{item.dosen.gelar_depan}} {{item.dosen.nama}} {{item.dosen.gelar_belakang}}
                                    </td>
                                    <td>
                                        {{item.dosen.program_studi.nama}}
                                    </td>
                                    <td>
                                       {{item.dosen.jabatan_akademik.nama}}
                                    </td>
                                    <td>
                                       {{item.status_text}}
                                    </td>
                                    <td align="center">
                                        {# <a href="#" class="btn-sm btn btn-warning" data-toggle="modal" data-target="#edit-toggle{{item.id}}">Edit</a> #}
                                        <a href="#" data-href="{{base_url()}}pengabdian/usulan/delete_reviewer/{{item.id}}" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                    </td>
                                    <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    {{ form_open('pengabdian/usulan/edit_reviewer/'~item.id,'data-toggle="validator"') }}
                                    <div class="vertical-alignment-helper">
                                      <div class="modal-dialog vertical-align-center">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Ubah Deadline</h4>
                                              </div>
                                              <div class="modal-body" id="validate_message">
                                                <div class="form-horizontal">
                                                    <div class="box-body">
                                                        <div class="form-group">
                                                          <label for="" class="col-sm-3 control-label">Deadline</label>
                                                          <div class="col-sm-9">
                                                              <input type="text" class="form-control pull-right deadlinetime" name="deadline" required value="{{reviewer[0].deadline}}">
                                                          </div>
                                                        </div>
                                                        <input type="hidden" name="jenis_penelitian" value="{{jenpen.id}}">

                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                                                  <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    </form>
                                </tr>
                              {% endfor %}
                          </tbody>

                      </table>

                    </div><!-- col-sm-12 -->
                </div> <!-- row -->



            </div><!-- box_body -->

            <div class="box-footer tc">
                  <a href="{{base_url()}}pengabdian/usulan/" class="btn btn-danger mr-10"><i class="glyphicon glyphicon-remove"> </i> Batal</a>
                  <a href="{{base_url()}}pengabdian/usulan/konfirm_reviewer/?pengabdian={{pengabdian}}" class="btn btn-success mr-10 disabled" id="selesai"><i class="glyphicon glyphicon-ok"> </i> Selesai</a>
            </div>
        </div><!-- .box box-primary -->



    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function(){
    //Date range picker with time picker
    $('#reservationtime').datepicker({ format: 'dd-mm-yyyy'});
    $('.deadlinetime').datepicker({ format: 'yyyy-mm-dd'});
    $("#nidn").change(function(){
      $("#nama_dosen").html("");
      $("#program_studi").html("");
      $("#jenjang_pendidikan").html("");
      $("#jabatan_akademik").html("");
      var nidn = $("#nidn").val();
      $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
          data = $.parseJSON(data);
          console.log(data);
          try{
            $("#dosen").val(data[0]["id"]);
            $("#nama_dosen").html(data[0]["nama_lengkap"]);
            $("#program_studi").html(data[0]["program_studi"]["nama"]);
            $("#jenjang_pendidikan").html(data[0]["jenjang_pendidikan"]);
            $("#jabatan_akademik").html(data[0]["jabatan_akademik"]["nama"]);
          }catch(error){}
      });
    });

    var length = {{ reviewer|length }};

    if(length==2){
      $("#selesai").removeClass("disabled");
    }
});
</script>
{% endblock %}
