{% if item.status=="4" or item.status=="12" or item.status=="11" or item.status=='9' or item.status=="7" %}
 <div class="pull-right">
	{% for reviewer in item.pengabdian_review if reviewer.isselected==1 %}
	<a href='{{base_url()}}pengabdian/review/result/{{reviewer.pengabdian}}/dosen/reviewer/hasil' class="btn-sm btn bg-purple"> Hasil Review</a>
	{% endfor %}
 </div>
{% endif %}
<script>
$(document).ready(function(){

});
</script>
