{# {{ form_open('usulan/pengabdian/step3','class="form-horizontal moving" id="step3" data-toggle="validator"') }}  #}
<div>
<div class="box-body" id="step3_body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">  Anggota Pengusul </h3>
    </div>
    <div class="box-body"> 

     	{{notes|nl2br}}

     	<div class="col-sm-12">
            <hr width="98%">
      </div>
      {{ form_open('pengabdian/usulan/step3','class="form-horizontal" id="step3" data-toggle="validator"') }}
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">NIDN</label> 
        <div class="col-sm-10">
          <div class="input-group">
            <input type="hidden" id="id_anggota" name="anggota" value="" required>
            <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian" value="{{pengabdian.id}}">
            <input type="text" class="form-control" name="nidn" value="" id="nidn_anggota">
            <span class="input-group-btn">
              <button type="button" id="search" class="btn btn-info btn-flat">Cari</button>
            </span>
          </div>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
          <label for="" class="col-sm-2 control-label"> Nama Dosen </label> 
          <div class="col-sm-10">
            <input type="" class="form-control" disabled id="nama_step4" placeholder="">
          </div>
      </div> 
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Program Studi </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="programstudi_step4" placeholder="">
        </div>
      </div> 
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Jenjang Pendidikan </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="jenjang_step4" placeholder="">
        </div>
      </div> 
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Jabatan Akademik </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="jatabanakademik_step4" placeholder="">
        </div>
      </div>
      <input type="hidden" name="peran" value="1" required>
      <div class="form-group">
        <label for="" class="col-sm-3 control-label text-left"></label> 
        <div class="col-sm-9">
            <button type="submit" class="btn btn-danger" id="submit_anggota"> <i class="fa fa-plus"> </i> Tambah </button>
        </div>
      </div>
      </form>

      <div class="col-sm-12">
            <hr width="98%">
          </div>

      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Anggota Pengabdian</h3>
          </div>
          <!-- /.box-header -->  
          <!-- form start --> 
          <div class="box-body"> 



              <table class="table table-bordered mb-0"> 
                  <thead>
                      <tr>
                        <th style="width: 10px">#</th> 
                        <th style="width: 25%">Nama Dosen</th>
                        <th>NIDN</th>
                        <th>Program Studi</th>
                        <th>Jabatan Akademik</th> 
                        <th>Action</th>
                      </tr> 
                  </thead>
                  <tbody id="tbody">

                  </tbody>  
              </table>   

               
              
          </div>
          <!-- /.box-body -->   
    </div>
    <div class="col-sm-12">
      <hr width="98%">
    </div>
        
      <div class="box-body"> 
      {{ form_open('pengabdian/usulan/step3_2','class="form-horizontal" id="step3_2" data-toggle="validator"') }}
        <div class="box-header with-border">
          <h3 class="box-title">  Anggota Mahasiswa </h3>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="" class="col-sm-3 control-label"> Jumlah </label> 
            <div class="col-sm-9"> 
                <input type="hidden" class="pengabdian_id" name="pengabdian" value="{{pengabdian.id}}">
                <input type="" class="form-control" readonly id="anggota_mahasiswa_count" name="anggota_mahasiswa" value="{% if pengabdian.anggota_mahasiswa|length > 0 %} {{pengabdian.anggota_mahasiswa|length}} {% else %} 0 {% endif %}" required>
            </div>
          </div>
        </div>
        <div class="form-group" id="anggota_mahasiswa">
          {% for item in pengabdian.anggota_mahasiswa %}
          <div class="col-sm-12" style="padding-top: 10px;">
          <label for="" class="col-sm-3 control-label"> {% if loop.index==1 %}Nama Mahasiswa{% endif %} </label>
          <div class="col-sm-9">
              <input type="" class="form-control" id="" name="anggota_mahasiswa_nama[]" value="{{item}}" data-focus="false" required>
          </div>
          <button type="button" class="close close-div" data-id="anggota_mahasiswa" style="padding: 16px 12px 0px 0px;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label"></label> 
            <div class="col-sm-9">
              <a href="#" id="tambahanggotamahasiswa" class="btn btn-default"> Tambah </a>
          </div>
        </div>  

        <div class="col-sm-12">
          <hr width="98%">
        </div>

        <div class="box-header with-border">
          <h3 class="box-title">  Anggota Alumni </h3>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="" class="col-sm-3 control-label"> Jumlah </label> 
            <div class="col-sm-9"> 
                <input type="" class="form-control" readonly id="anggota_alumni_count" name="anggota_alumni" value="{% if pengabdian.anggota_alumni|length > 0 %} {{pengabdian.anggota_alumni|length}} {% else %} 0 {% endif %}" required>
            </div>
          </div>
        </div>
        <div class="form-group" id="anggota_alumni">
          {% for item in pengabdian.anggota_alumni %}
          <div class="col-sm-12" style="padding-top: 10px;">
          <label for="" class="col-sm-3 control-label"> {% if loop.index==1 %}Nama Alumni{% endif %} </label>
          <div class="col-sm-9">
              <input type="" class="form-control" id="" name="anggota_alumni_nama[]" value="{{item}}" data-focus="false" required>
          </div>
          <button type="button" class="close close-div" data-id="anggota_alumni" style="padding: 16px 12px 0px 0px;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label"></label> 
            <div class="col-sm-9">
              <a href="#" id="tambahanggotaalumni" class="btn btn-default"> Tambah </a>
          </div>
        </div>  

        
        <div class="col-sm-12">
          <hr width="98%">
        </div>

        <div class="box-header with-border">
          <h3 class="box-title">  Anggota Staff Pendukung </h3>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="" class="col-sm-3 control-label"> Jumlah </label> 
            <div class="col-sm-9"> 
                <input type="" class="form-control" readonly id="anggota_staff_count" name="anggota_staff" value="{% if pengabdian.anggota_staff|length > 0 %} {{pengabdian.anggota_staff|length}} {% else %} 0 {% endif %}" required>
            </div>
          </div>
        </div>
        <div class="form-group" id="anggota_staff">
          {% for item in pengabdian.anggota_staff %}
          <div class="col-sm-12" style="padding-top: 10px;">
          <label for="" class="col-sm-3 control-label"> {% if loop.index==1 %}Nama Staff Pendukung{% endif %} </label>
          <div class="col-sm-9">
              <input type="" class="form-control" id="" name="anggota_staff_nama[]" value="{{item}}" data-focus="false" required>
          </div>
          <button type="button" class="close close-div" data-id="anggota_staff" style="padding: 16px 12px 0px 0px;" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label"></label> 
            <div class="col-sm-9">
              <a href="#" id="tambahanggotastaff" class="btn btn-default"> Tambah </a>
          </div>
        </div> 
        <input type="submit" id="submit-form" class="hidden disabled" />
        </form> 
      </div>

    </div>
  </div>
</div>

<div class="box-footer tc">  
  <a href="#" class="btn btn-default previous"> <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a>
  {# <button type="submit" class="btn btn-success mr-10 next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button> #}
  <label class="btn btn-success mr-10 next" for="submit-form" id="submit-form-trigger" tabindex="0"> Proses Selanjutnya <i class="fa fa-arrow-right"> </i></label>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  var anggota_mahasiswa_count = {% if pengabdian.anggota_mahasiswa|length > 0 %} {{pengabdian.anggota_mahasiswa|length}} {% else %} 0 {% endif %};
  var anggota_alumni_count = {% if pengabdian.anggota_alumni|length > 0 %} {{pengabdian.anggota_alumni|length}} {% else %} 0 {% endif %};
  var anggota_staff_count = {% if pengabdian.anggota_staff|length > 0 %} {{pengabdian.anggota_staff|length}} {% else %} 0 {% endif %};

  setInterval(function(){
    if(!$("#submit-form").hasClass("disabled")){
      $("#submit-form-trigger").removeClass("disabled");
    }else{
      $("#submit-form-trigger").addClass("disabled");
    }
  }, 500);


  $("#tambahanggotamahasiswa").click(function(){
    var title="";
    if(anggota_mahasiswa_count==0){
      title="Nama Mahasiswa";
    }else{
      title="";
    }

    var content = '  <div class="col-sm-12" style="padding-top: 10px;">'
               +'   <label for="" class="col-sm-3 control-label"> '+title+' </label>'
               +'   <div class="col-sm-9">'
               +'       <input type="" class="form-control" id="" name="anggota_mahasiswa_nama[]" value="" data-focus="false" required>'
               +'   </div>'
               +'   <button type="button" class="close close-div" data-id="anggota_mahasiswa" style="padding: 16px 12px 0px 0px;" aria-label="Close">'
               +'       <span aria-hidden="true">&times;</span>'
               +'   </button>'
               +' </div>';
    $("#anggota_mahasiswa").append(content);
    var current_height= $("#step3_body").height();
    $(".content-wrapper").height(current_height+400);
    $("#step3_2").validator('update');
    anggota_mahasiswa_count++;
    $("#anggota_mahasiswa_count").val(anggota_mahasiswa_count);
    $("#step3_2").validator('validate');
    return false;
  });

  $('#anggota_mahasiswa').on('click', '.close', function() {
     var id = $(this).data("id");
      if(id="anggota_mahasiswa"){
        anggota_mahasiswa_count--;
      }
      var div = $(this).parent();
      div.remove();
      $("#step3_2").validator('update');
      $("#step3_2").validator('validate');
      $("#anggota_mahasiswa_count").val(anggota_mahasiswa_count);
  });

  $("#tambahanggotaalumni").click(function(){
    var title="";
    if(anggota_alumni_count==0){
      title="Nama Alumni";
    }else{
      title="";
    }

    var content = '  <div class="col-sm-12" style="padding-top: 10px;">'
               +'   <label for="" class="col-sm-3 control-label"> '+title+' </label>'
               +'   <div class="col-sm-9">'
               +'       <input type="" class="form-control" id="" name="anggota_alumni_nama[]" value="" data-focus="false" required>'
               +'   </div>'
               +'   <button type="button" class="close close-div" data-id="anggota_alumni" style="padding: 16px 12px 0px 0px;" aria-label="Close">'
               +'       <span aria-hidden="true">&times;</span>'
               +'   </button>'
               +' </div>';
    $("#anggota_alumni").append(content);
    var current_height= $("#step3_body").height();
    $(".content-wrapper").height(current_height+400);
    $("#step3_2").validator('update');
    $("#step3_2").validator('validate');
    anggota_alumni_count++;
    $("#anggota_alumni_count").val(anggota_alumni_count);
    return false;
  });
  
  $('#anggota_alumni').on('click', '.close', function() {
     var id = $(this).data("id");
      var div = $(this).parent();
      anggota_alumni_count--;
      div.remove();
      $("#step3_2").validator('update');
      $("#step3_2").validator('validate');
      $("#anggota_alumni_count").val(anggota_alumni_count);
  });

  $("#tambahanggotastaff").click(function(){
    var title="";
    if(anggota_staff_count==0){
      title="Nama Staff Pendukung";
    }else{
      title="";
    }

    var content = '  <div class="col-sm-12" style="padding-top: 10px;">'
               +'   <label for="" class="col-sm-3 control-label"> '+title+' </label>'
               +'   <div class="col-sm-9">'
               +'       <input type="" class="form-control" id="" name="anggota_staff_nama[]" value="" data-focus="false" required>'
               +'   </div>'
               +'   <button type="button" class="close close-div btn btn-outline-danger" data-id="anggota_staff" style="padding: 16px 12px 0px 0px;" aria-label="Close">'
               +'       <span aria-hidden="true">&times;</span>'
               +'   </button>'
               +' </div>';
    $("#anggota_staff").append(content);
    var current_height= $("#step3_body").height();
    $(".content-wrapper").height(current_height+400);
    $("#step3_2").validator('update');
    $("#step3_2").validator('validate');
    anggota_staff_count++;
    $("#anggota_staff_count").val(anggota_staff_count);
    return false;
  });
  
  $('#anggota_staff').on('click', '.close', function() {
     var id = $(this).data("id");
      var div = $(this).parent();
      anggota_staff_count--;
      div.remove();
      $("#step3_2").validator('update');
      $("#step3_2").validator('validate');
      $("#anggota_staff_count").val(anggota_staff_count);
  });

  $("#step3_2").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_anggota").hasClass('disabled')){
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      result= $.parseJSON(responseText);
      refreshTable(result.pengabdian);
    }
  });

  $('#nidn_anggota').on('keydown', function(e) {
      if( e.which == 8 || e.which == 46 ){
          $("#id_anggota").val("");
          $("#nama_step4").val("");
          $("#programstudi_step4").val("");
          $("#jenjang_step4").val("");
          $("#jatabanakademik_step4").val("");
      }
  });



  $("#search").click(function(){
      $("#id_anggota").val("");
      $("#nama_step4").val("");
      $("#programstudi_step4").val("");
      $("#jenjang_step4").val("");
      $("#jatabanakademik_step4").val("");
      var nidn = $("#nidn_anggota").val();
      $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
      data = $.parseJSON(data);
      try{
        $("#id_anggota").val(data[0]["id"]);
        $("#nama_step4").val(data[0]["nama_lengkap"]);
        $("#programstudi_step4").val(data[0]["program_studi"]["nama"]);
        $("#jenjang_step4").val(data[0]["jenjang_pendidikan"]);
        $("#jatabanakademik_step4").val(data[0]["jabatan_akademik"]["nama"]);
      }catch(error){}
  });
  });

  $("#step3").ajaxForm({
    beforeSubmit:function(){
        if($("#submit_anggota").hasClass('disabled')){
          return false;
        }
        return true;
    },
    success: function(responseText, statusText, xhr, $form){
      result= $.parseJSON(responseText);
      $("#nidn_anggota").val("");
      refreshTable(result.pengabdian);
      $("#step3").validator('validate');
    }
  });

  function refreshTable(zxc){
    $("#tbody").empty();
    var pengabdian = $("#pengabdian").val();
    $.getJSON("{{base_url()}}pengabdian/usulan/step4_anggota/"+pengabdian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}pengabdian/usulan/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
        current_height1= $("#step3").height();
        current_height2= $("#step3_2").height();
        $(".content-wrapper").height(current_height1+current_height2+850);
    });
  }
})
</script>
