{{ form_open('pengabdian/usulan/step1','class="form-horizontal moving" id="step1" data-toggle="validator"') }} {#  #}
<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title">  Identitas Usulan </h3>
    </div>
    <div class="box-body"> 
      <input type="hidden" class="pengabdian_id" name="pengabdian" value="{{pengabdian.id}}">
      <input type="hidden" name="jenis_pengabdian" value="{{jenis_pengabdian}}{{pengabdian.jenis_pengabdian}}" required>
      <input type="hidden" name="batch" value="{{batch}}{{pengabdian.batch.id}}" required>
       <div class="form-group">
        <label for="" class="col-sm-2 control-label">Judul</label> 
        <div class="col-sm-10">
          <input type="" class="form-control" name="judul" placeholder="Judul" required autocomplete="off" value="{{pengabdian.judul}}">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Abstrak</label> 
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" name="abstrak" placeholder="" required autocomplete="off" >{{pengabdian.abstrak}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Keyword </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" id="" name="keyword" placeholder="Keyword" required autocomplete="off" value="{{pengabdian.keyword}}">
        </div>
      </div> 
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Lokasi Pengabdian </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" id="" name="lokasi" placeholder="Lokasi Penelitian" required autocomplete="off" value="{{pengabdian.lokasi}}">
        </div>
      </div> 
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Sumber Daya Iptek </label> 
        <div class="col-sm-10"> 
            <select class="form-control" name="iptek" required>
              <option value="">-List Sumber Daya Iptek-</option>
              {% for item in iptek %}
                <option value="{{item.id}}" {{set_select("iptek",item.id,item.id==pengabdian.iptek)}}>{{item.nama}}</option>
              {% endfor %}
            </select> 
        </div>
      </div> 

      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Jenis Mitra </label> 
        <div class="col-sm-10"> 
            <select class="form-control" name="mitra" required>
              <option value="">-List Jenis Mitra-</option>
              {% for item in mitra %}
                <option value="{{item.id}}" {{set_select("mitra",item.id,item.id==pengabdian.mitra)}}>{{item.nama}}</option>
              {% endfor %}
            </select> 
        </div>
      </div> 

    <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Email </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="" name="email" value="{{userinfo.surel}}">
        </div>
      </div> 

      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> No HP </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="" name="no" value="{{userinfo.hp}}">
        </div>
      </div> 

      <div class="form-group">
        <label for="" class="col-sm-2 control-label"> Home Base </label> 
        <div class="col-sm-10">
          <input type="" class="form-control" disabled id="" name="fakultas" value="{{userinfo.program_studi.nama}}">
        </div>
      </div> 
    </div>
  </div>
</div>
<div class="box-footer tc">  
  <a href="{{base_url()}}pengabdian/usulan" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Batalkan Proses </a>
  <button type="submit" class="btn btn-success mr-10 next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#step1").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
        result= $.parseJSON(responseText);
          $(".pengabdian_id").val(result.id);
          $("#step5_lokasi").val(result.lokasi);
          $("#nidn_anggota").attr('data-remote','{{base_url()}}pengabdian/usulan/checkanggota/?jenis_pengabdian={{jenis_pengabdian}}{{pengabdian.jenis_pengabdian}}&pengabdian='+result.id);
          // console.log('{{base_url()}}penelitians/checkanggota/?jenis_penelitian={{jenis_penelitian}}&penelitian='+result.id);
          console.log($("#nidn_anggota").data('waw'));
      }
  });
});
</script>
