{{ form_open('pengabdian/usulan/step4','class="form-horizontal moving" id="step4" data-toggle="validator"') }}
<div
    class="box-body">

    <!-- s:Personil Dosen-->
    <div class="box bordernya">
        <div class="box-header with-border">
            <h3 class="box-title">Atribut Usulan</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <div class="box-body">
            <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian" value="{{pengabdian.id}}">
            <div class="form-group" id="target_luaran">
                {% if pengabdian.target %}
                    {% for target in pengabdian.target %}
                        <div class="col-sm-12" {% if loop.index!=1 %} style="padding-top: 10px;" {% endif %}>
                            <label for="" class="col-sm-3 control-label">
                                {% if loop.index==1 %}
                                    Luaran Wajib
                                {% elseif loop.index==(target_luaran|length)+1 %}
                                    Luaran Tambahan
                                {% endif %}
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="target[]" required>
                                    {% if loop.index<=target_luaran|length %}
                                        {% for item in target_luaran %}
                                            <option value="{{item.nama}}" {{set_select('target',item.nama,item.nama==target.nama)}}>
                                                {{item.nama}}
                                            </option>
                                        {% endfor %}
                                    {% else %}
                                        {% for item in target_luaran_tambahan %}
                                            <option value="{{item.nama}}" {{set_select('target',item.nama,item.nama==target.nama)}}>
                                                {{item.nama}}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                {% if loop.index<=target_luaran|length %}
                                    <input type="hidden" name="jenis[]" value="wajib"/>
                                {% else %}
                                    <input type="hidden" name="jenis[]" value="tambahan"/>
                                {% endif %}
                            </div>
                            {% if loop.index>=2 %}
                                <button type="button" class="close close-div" style="padding: 16px 12px 0px 0px;" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for item in target_luaran %}
                        <div class="col-sm-12" {% if loop.index!=1 %} style="padding-top: 10px;" {% endif %}>
                            <label for="" class="col-sm-3 control-label">
                                {% if loop.index==1 %}
                                    Luaran Wajib
                                {% endif %}
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="target[]" required>
                                    <option value="{{item.nama}}">
                                        {{item.nama}}
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="jenis[]" value="wajib"/>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <a href="#" id="tambahinstansi" class="btn btn-default">
                        Luaran Tambahan
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-3 control-label">
                    Lama Pengabdian
                </label>
                <div class="col-sm-9">

                    <div class="input-group">
                        <select class="form-control" name="lama" id="lama" required value="{{pengabdian.lama}}">
                            <option value="3" {{set_select('lama',"3","3"==lama)}}>3</option>
                            <option value="4" {{set_select('lama',"4","4"==lama)}}>4</option>
                            <option value="5" {{set_select('lama',"5","5"==lama)}}>5</option>
                            <option value="6" {{set_select('lama',"6","6"==lama)}}>6</option>
                        </select>
                        <span class="input-group-addon">
                            -
                        </span>
                        <select class="form-control" name="satuan" id="satuan">
                            <option value="bulan" {{set_select('satuan',"Bulan",True)}}>
                                Bulan
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->

        <!-- e:form search -->

    </div>
    <!-- e:Personil Dosen -->

</div>
<div class="box-footer tc">
    <a href="#" class="btn btn-default mr-10 previous">
        <i class="fa fa-arrow-left"></i>
        Proses Sebelumnya
    </a>
    <button type="submit" id="submit_waktu" class="btn btn-success next">
        Proses Selanjutnya
        <i class="fa fa-arrow-right"></i>
    </button>
</div></form><script type="text/javascript">
$(document).ready(function () {
    var currIndex = $("#target_luaran > *").length;
    var target_wajib = {{ target_luaran|length }};
    $("#tambahinstansi").click(function () {
        if (currIndex >= (2 + target_wajib)) {
            $("#tambahinstansi").addClass("disabled");
        }
        label = "Luaran Tambahan";
        if (currIndex >= (1 + target_wajib)) {
            label = "";
        }
        currIndex++;
        var content = '<div class="col-sm-12" style="padding-top: 10px;">' 
        + '      <label for="" class="col-sm-3 control-label">' + label + '</label> ' 
        + '      <div class="col-sm-9"> '
        + '     <input type="hidden" name="jenis[]" value="tambahan" />'
        + '          <select class="form-control" name="target[]" required>' 
        + '             {% for item in target_luaran_tambahan %}' 
        + '                <option value="  {{ item.nama }}">   {{ item.nama }}</option> ' 
        + '            {% endfor %}' 
        + '          </select> '
        + '      </div>' 
        + '      <button type="button" class="close close-div" style="padding: 16px 12px 0px 0px;" aria-label="Close">' 
        + '        <span aria-hidden="true">&times;</span>' 
        + '      </button>' 
        + '    </div>';
        $("#target_luaran").append(content);
        var current_height = $("#step5").height();
        $(".content-wrapper").height(current_height + 400);
        $("#step5").validator('update');
        trigger();
        return false;
    });

    trigger();
    function trigger() {
        $(".close").click(function () {
            var div = $(this).parent();
            div.remove();
            $("#step4").validator('update');
            currIndex = $("#target_luaran > *").length;
            if (currIndex < 4) {
                $("#tambahinstansi").removeClass("disabled");
            }
            return false;
        });
    }

    $("#step4").ajaxForm({
        beforeSubmit: function (arr, $form, option) {}
    });

});</script>
