{{ form_open('pengabdian/usulan/step5','class="form-horizontal moving" id="step5" data-toggle="validator"') }}
<div class="box-body">  

      <!-- s:Personil Dosen-->
      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start --> 
          <div class="box-body"> 

                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Total biaya yang diusulkan</label> 
                  <div class="col-sm-10">
                      <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian">
                      <label>Rp. <span id="total_biaya_show">{{pengabdian.rp_total_biaya}}</span>,-</label>
                      <input type="" id="total_biaya" name="total_biaya"  required class="form-control"  pattern="^[0-9]+$" id="total_biaya" data-remote="{{base_url()}}pengabdian/usulan/step5_check_anggaran/?jenis_pengabdian={{jenis_pengabdian}}{{pengabdian.jenis_pengabdian}}" value="{{pengabdian.total_biaya}}">
                      <div class="help-block with-errors"></div>
                  </div>
                  <label for="" class="col-sm-2 text-warning" style="text-align: right;">Batas Biaya</label> 
                  <div class="col-sm-10 text-warning">
                      <span >Rp. {{batas_anggaran.format_rupiah}},-</span>
                  </div>
                </div>


                <br><h4 class="">Biaya Mandiri</h4>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Biaya Pribadi</label> 
                  <div class="col-sm-10">
                      <label>Rp. <span id="mandiri_total_biaya_show">{{pengabdian.rp_mandiri_biaya_total}}</span>,-</label>
                      <input type="" id="mandiri_total_biaya" name="mandiri_total_biaya" class="form-control"  pattern="^[0-9]+$"  id="" placeholder=" " required value="{{pengabdian.mandiri_total_biaya}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Biaya dari instansi lain</label> 
                  <div class="col-sm-10">
                      <label>Rp. <span id="mandiri_biaya_instansi_show">{{pengabdian.rp_mandiri_biaya_instansi}}</span>,-</label>
                      <input type="" id="mandiri_biaya_instansi" name="mandiri_biaya_instansi" class="form-control"  pattern="^[0-9]+$"  id="" placeholder=" " value="{{pengabdian.mandiri_biaya_instansi}}">
                  </div>
                </div>

                <br><h4 class="">Isian Pengesahan</h4>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Kota usulan</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" id="step5_lokasi" disabled placeholder="" value="{{pengabdian.lokasi}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Jabatan yang mengetahui</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" id="dosen_mengetahui_jabatan" disabled placeholder="" value="DEKAN">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">NIDN yang mengetahui</label> 
                  <div class="col-sm-10">
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="nidn_mengetahui" required value="{{pengabdian.dosen_mengetahui.nidn}}">
                            <span class="input-group-btn">
                              <button id="search-mengetahui" type="button" class="btn btn-info btn-flat">cari</button>
                            </span>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Nama yang mengetahui</label> 
                  <div class="col-sm-10">
                      <input type="hidden" name="dosen_mengetahui" id="dosen_mengetahui" required value="{{pengabdian.dosen_mengetahui.id}}">
                      <input type="" class="form-control" id="nama_mengetahui" disabled value="{{pengabdian.dosen_mengetahui.nama_lengkap}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">NIDN yang menyetujui</label> 
                  <div class="col-sm-10">
                    <input type="hidden" name="dosen_menyetujui" id="dosen_menyetujui" required value="{{pengesah.dosen.id}}{# {{penelitian.dosen_menyetujui.id}} #}">
                      <input type="" class="form-control" id="nidn_menyetujui" disabled value="{{pengesah.dosen.nidn}}{# {{penelitian.dosen_menyetujui.nidn}} #}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Nama yang menyetujui</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" id="nama_menyetujui" disabled  value="{{pengesah.dosen.nama_lengkap}}{# {{penelitian.dosen_menyetujui.nama}} #}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Jabatan yang menyetujui</label> 
                  <div class="col-sm-10">
                      <input type="" class="form-control" id="jabatan_menyetujui" disabled  value="{{pengesah.jabatan}}{# {{penelitian.dosen_menyetujui.jabatan_fungsional.nama}} #}">
                  </div>
                </div>  
              
          </div>
          <!-- /.box-body -->  
          <!-- e:form search -->  
      </div>
      <!-- e:Personil Dosen -->  

</div>
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <button type="submit" class="btn btn-success next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#search-mengetahui").click(function(){
    $("#dosen_mengetahui").val("");
    $("#nama_mengetahui").val("");
    var nidn = $("#nidn_mengetahui").val();
    $.get("{{base_url()}}pengguna/json/"+nidn, function( data ) {
        data = $.parseJSON(data);
        console.log(data);
        try{
          // $("#dosen_mengetahui_jabatan").val(data[0]["jabatan_akademik"]["nama"]);
          $("#dosen_mengetahui").val(data[0]["id"]);
          $("#nama_mengetahui").val(data[0]["nama_lengkap"]);
        }catch(error){}
    });
  });
  $("#total_biaya").keyup(function() {
    var value = $(this).val();
    value = parseInt(value);
    $("#total_biaya_show").text(value.formatMoney(0,',','.'));
  });

  $("#mandiri_total_biaya").keyup(function() {
    var value = $(this).val();
    value = parseInt(value);
    $("#mandiri_total_biaya_show").text(value.formatMoney(0,',','.'));
  });

  $("#mandiri_biaya_instansi").keyup(function() {
    var value = $(this).val();
    value = parseInt(value);
    $("#mandiri_biaya_instansi_show").text(value.formatMoney(0,',','.'));
  });

  $("#step5").ajaxForm(function() { 
      // e.preventDefault();
  }); 
});
</script>