{{ form_open('pengabdian/usulan/step2','class="form-horizontal moving" id="step2" data-toggle="validator"') }}
<div class="box-body">  

    <!-- s:Personil Dosen-->
    <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Identitas Dosen Usulan</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          
              <div class="box-body">
                 
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">NIDN</label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.nidn}}">
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label">Nama Dosen</label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.gelar_depan}} {{userinfo.nama}} {{userinfo.gelar_belakang}}">
                    </div>
                  </div>  

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Program Studi </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.program_studi.nama}}">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Jabatan Akademis </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="{{userinfo.jabatan_akademik.nama}}">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Peran </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" value="Ketua Pengabdian">
                    </div>
                  </div> 
                  <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian" value="{{pengabdian.id}}">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Tahun Pelaksanaan </label> 
                    <div class="col-sm-10"> 
                        <select class="form-control" name="tahun" required>
                          <option value="">-List Tahun Pelaksanaan-</option>
                          {% for item in tahun %}
                            <option value="{{item.id}}" {{set_select("tahun",item.id,item.id==pengabdian.tahun_kegiatan.id)}}>{{item.tahun}}</option>
                          {% endfor %}
                        </select> 
                    </div>
                  </div> 

                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"> Batch Usulan </label> 
                    <div class="col-sm-10">
                      <input type="" class="form-control" disabled id="" placeholder="Batch 1 - 2016" value="{{batch_data.batch_penelitian.tahun.tahun}}{{pengabdian.batch.batch_penelitian.tahun.tahun}} - {{batch_data.nama}}{{pengabdian.batch.nama}}">
                    </div>
                  </div> 

                  
              </div>
              <!-- /.box-body --> 
        
          <!-- e:form search -->  

      </div>
      <!-- e:Personil Dosen -->  

</div>
<!-- /.box-body -->
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <button type="submit" class="btn btn-success next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#step2").ajaxForm({
    beforeSubmit :function(arr, $form, option){

    },
    success:function() { 
    $("#tbody").empty();
    var pengabdian = $("#pengabdian").val();
    $.getJSON("{{base_url()}}pengabdian/usulan/step4_anggota/"+pengabdian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}pengabdian/usulan/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
    });
  }});

  function refreshTable(){
    $("#tbody").empty();
    var pengabdian = $("#pengabdian").val();
    $.getJSON("{{base_url()}}pengabdian/usulan/step4_anggota/"+pengabdian,function(result){
        var data = "";
        for(var i= 0; i<result.length;i++){
          data += '<tr>';
          data += '<td>'+(i+1)+'</td>';
          data += '<td>'+result[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result[i].dosen.nidn+'</td>';
          data += '<td>'+result[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result[i].dosen.jabatan_akademik.nama+'</td>';
          data += '<td><a href="#" class="btn btn-danger btn-sm hapus_anggota" data-link="{{base_url()}}pengabdian/usulan/step4_hapus/'+result[i].id+'" title="Hapus"><i class="fa fa-close"></i></a></td>';
          data += '</tr>';
        }
        $("#tbody").append(data);
        $(".hapus_anggota").click(function(){
          var link = $(this).data("link");
          $.get(link,function(result){
            refreshTable();
          });
        });
        current_height1= $("#step3").height();
        current_height2= $("#step3_2").height();
        $(".content-wrapper").height(current_height1+current_height2+1050);
    });
  }
});
</script>