{{ form_open_multipart('pengabdian/usulan/step6','class="form-horizontal moving" id="step6" data-toggle="validator"') }}
<div class="box-body">  

      <!-- s:Personil Dosen-->
      <div class="box bordernya">
          <div class="box-header with-border">
            <h3 class="box-title">Berkas Usulan</h3>
          </div>

          <div class="box-body"> 
                <div class="alert alert-success fade" id="step6_notif">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> Berkas berhasil di upload!
                </div> 
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Berkas Proposal Pengabdian </label>
                    <div class="col-sm-9">
                      <input type="hidden" class="penelitian" name="berkas_proposal_res" id="berkas_proposal_res" required value="{{pengabdian.berkas}}">
                      <input type="file" id="berkas_proposal" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="berkas_proposal" accept="application/pdf" data-id="1">
                      <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{pengabdian.berkas}}">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="berkas_proposal" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                            <span class="buttonText">Select File</span>
                          </label>
                          <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian" value="{{pengabdian.id}}">
                          <a href="#" class="btn btn-success" id="berkas_proposal_btn" data-url="{{base_url()}}pengabdian/usulan/upload_step6/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                        </span>
                      </div>
                      <small>*File yang diunggah harus dengan format .pdf Maksimum 5 MB</small><br>
                      <small>*File sudah harus termasuk Lokasi, Gambaran, IPTEKS & Biodata</small><br>
                      <span class="text-danger warning" id="warning1"></span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                      <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          <span class="percent"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label"> Surat Mitra </label>
                    <div class="col-sm-9">
                      <input type="hidden" class="penelitian" name="surat_mitra_res" id="surat_mitra_res" required value="{{pengabdian.berkas_surat}}">
                      <input type="file" id="surat_mitra" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="surat_mitra" accept="application/pdf" data-id="1">
                      <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " placeholder="" disabled="" id="filename" value="{{pengabdian.berkas_surat}}">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                          <label for="surat_mitra" class="btn btn-warning ">
                            <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                            <span class="buttonText">Select File</span>
                          </label>
                          <input type="hidden" class="pengabdian_id" id="pengabdian" name="pengabdian" value="{{pengabdian.id}}">
                          <a href="#" class="btn btn-success" id="surat_mitra_btn" data-url="{{base_url()}}pengabdian/usulan/upload_step6/"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </a>
                        </span>
                      </div>
                      <small>*File yang diunggah harus dengan format .pdf Maksimum 5 MB</small><br>
                      <span class="text-danger warning" id="warning2"></span>
                    </div>
                    <label for="" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                      <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          <span class="percent"></span>
                        </div>
                      </div>
                    </div>
                  </div>               
          </div>  
      </div>
      <!-- e:Personil Dosen -->  

</div>
<div class="box-footer tc"> 
    <a href="#" class="btn btn-default mr-10 previous">   <i class="fa fa-arrow-left"> </i> Proses Sebelumnya </a> 
    <button type="submit" class="btn btn-success next{% if addmode %} disabled {% endif %}" id="step6_next">  Proses Selanjutnya <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
  $("#step6").validator('validate');
  $("#berkas_proposal_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    var pengabdian = $(this).prev().val();
    upload(pengabdian,"berkas_proposal",$(this).data("url"),$("#berkas_proposal_res"),bar,percent);
    return event.preventDefault();
  });

  setInterval(function(){
    if($("#surat_mitra_res").val()!="" && $("#berkas_proposal_res").val()){
      $("#step6_next").removeClass("disabled");
    }else{
      $("#step6_next").addClass("disabled");
    }
  }, 500);

  $("#surat_mitra_btn").click(function(){
    var bar = $(this).parent().parent().parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    console.log(percent);
    bar.width('100%');
    var pengabdian = $(this).prev().val();
    upload(pengabdian,"surat_mitra",$(this).data("url"),$("#surat_mitra_res"),bar,percent);
    return event.preventDefault();
  });

  $("input[type='file']").change(function() {
    var id = $(this).data('id');
    console.log(id);
    var fileName = $(this).val().split('/').pop().split('\\').pop();
    // $("#filename"+id).val(fileName);
    $(this).next().children().val(fileName);
    $(this).prev().val("");
    $("#warning"+id).empty('');
    if(parseInt($(this).context.files[0].size)>10000000){
      $("#warning"+id).append('File Size more than 10 MB');
      $(this).next().children().next().children().next().addClass('disabled');
    }else{
      $(this).next().children().next().children().next().removeClass('disabled');
    }
    var bar = $(this).parent().next().next().children().children('.bar');
    var percent = bar.children('.percent');
    bar.width('0%');
    percent.html('0%');
  });


function upload(pengabdian,file,posturlfile,holder_result,bar,percent){
  var fd = new FormData();    
  fd.append( 'file', $("#"+file)[0].files[0] );
  fd.append('pengabdian',pengabdian);
  // formData.append('myfile', $('#myfile')[0].files[0]);

  $.ajax({
    xhr: function() {
      var xhr = new window.XMLHttpRequest();
      xhr.upload.addEventListener("progress", function(evt) {
        if (evt.lengthComputable) {
          var percentComplete = evt.loaded / evt.total;
          percentComplete = parseInt(percentComplete * 100);
          console.log(percentComplete);
          bar.width(percentComplete+'%');
          percent.html(percentComplete+'%');
        }
      }, false);
      return xhr;
    },
    url: posturlfile,
    type: "POST",
    data: fd,
    processData: false,
    contentType: false,
    success: function(result) {
      $("#"+file).val('');
      holder_result.val(result);
      console.log(result);
    }
  });
}

$("#step6").ajaxForm({
      success: function(responseText, statusText, xhr, $form){
          populateStep7();
      }
  });

  function populateStep7(){
    var pengabdian = $("#pengabdian").val();
    $.getJSON("{{base_url()}}pengabdian/usulan/json/"+pengabdian,function(result){
        $("#tbody_step7").empty();
        var data="";
        for(var i= 0; i<result.anggota.length;i++){
          data += '<tr>';
          data += '<td>'+(i+2)+'</td>';
          data += '<td>'+result.anggota[i].dosen.nama_lengkap+'</td>';
          data += '<td>'+result.anggota[i].dosen.program_studi.nama+'</td>';
          data += '<td>'+result.anggota[i].dosen.jabatan_akademik.nama+'</td>';
          data += '</tr>';
        }
        $("#tbody_step7").append(data);

        $("#judul_step7").val(result.judul);
        $("#abstrak_step7").val(result.abstrak);
        $("#keyword_step7").val(result.keyword);
        $("#dosen_surel_step7").val(result.dosen.surel);
        $("#dosen_hp_step7").val(result.dosen.hp);
        $("#lokasi_step7").val(result.lokasi);
        $("#iptek_step7").val(result.iptek.nama);
        $("#mitra_step7").val(result.mitra.nama);
        $("#dosen_program_studi_step7").val(result.dosen.program_studi.nama);

        $("#dosen_nidn_step7").val(result.dosen.nidn);
        $("#dosen_nama_step7").val(result.dosen.nama_lengkap);
        $("#dosen_program_studi2_step7").val(result.dosen.program_studi.nama);
        $("#dosen_jabatan_akademik_step7").val(result.dosen.jabatan_akademik.nama);
        $("#tahun_step7").val(result.tahun_kegiatan.tahun);
        $("#batch_step7").val(result.batch.batch_penelitian.tahun.tahun+" - "+result.batch.nama);

        $("#jumlah_mahasiswa_step7").val(result.anggota_mahasiswa.length);
        $("#mahasiswa_step7").empty();
        var data="";
        for (var i=0; i<result.anggota_mahasiswa.length; i++){
          var title="Nama Mahasiswa";
          var padding = "0px";
          if(i>0){
            title="";
            padding="7px";
          } 
          data += '  <div class="col-sm-12" style="padding-top: '+padding+';">'
               +'   <label for="" class="col-sm-2 control-label"> '+title+' </label>'
               +'   <div class="col-sm-10">'
               +'       <input type="" class="form-control" disabled value="'+result.anggota_mahasiswa[i]+'">'
               +'   </div>'
               +'   </button>'
               +' </div>';
        }
        $("#mahasiswa_step7").append(data);

        $("#jumlah_alumni_step7").val(result.anggota_alumni.length);
        $("#alumni_step7").empty();
        var data="";
        for (var i=0; i<result.anggota_alumni.length; i++){
          var title="Nama Alumni";
          var padding = "0px";
          if(i>0){
            title="";
            padding="7px";
          } 
          data += '  <div class="col-sm-12" style="padding-top: '+padding+';">'
               +'   <label for="" class="col-sm-2 control-label"> '+title+' </label>'
               +'   <div class="col-sm-10">'
               +'       <input type="" class="form-control" disabled value="'+result.anggota_alumni[i]+'">'
               +'   </div>'
               +'   </button>'
               +' </div>';
        }
        $("#alumni_step7").append(data);

        $("#jumlah_staff_step7").val(result.anggota_staff.length);
        $("#staff_step7").empty();
        var data="";
        for (var i=0; i<result.anggota_staff.length; i++){
          var title="Nama Staff Pendukung";
          var padding = "0px";
          if(i>0){
            title="";
            padding="7px";
          } 
          data += '  <div class="col-sm-12" style="padding-top: '+padding+';">'
               +'   <label for="" class="col-sm-2 control-label"> '+title+' </label>'
               +'   <div class="col-sm-10">'
               +'       <input type="" class="form-control" disabled value="'+result.anggota_staff[i]+'">'
               +'   </div>'
               +'   </button>'
               +' </div>';
        }
        $("#staff_step7").append(data);

        var data="";
        $("#target_step7").empty();
        var last_luaran="";
        for (var i=0; i<result.target.length; i++){
          var title="";
          var padding="7px";

          if(i>=1 && last_luaran!=result.target[i].type){
            title="Luaran Tambahan";
            padding="7px";
          }else if(i==0){
            var title="Luaran Wajib";
            var padding = "0px";
          }

          data += '  <div class="col-sm-12" style="padding-top: '+padding+';">'
               +'   <label for="" class="col-sm-2 control-label"> '+title+' </label>'
               +'   <div class="col-sm-10">'
               +'       <input type="" class="form-control" disabled value="'+result.target[i].nama+'">'
               +'   </div>'
               +'   </button>'
               +' </div>';
          last_luaran = result.target[i].type;
        }
        $("#target_step7").append(data);

        $("#lama_step7").val(result.lama+" Bulan");

        $("#total_biaya_step7").val("Rp. "+result.rp_total_biaya+",-");
        $("#mandiri_total_biaya_step7").val("Rp. "+result.rp_mandiri_biaya_total+",-");
        $("#mandiri_biaya_instansi_step7").val("Rp. "+result.rp_mandiri_biaya_instansi+",-");
        $("#lokasi_pengusulan_step7").val(result.lokasi);
        // $("#dosen_mengetahui_jabatan_fungsi_step7").val(result.dosen_mengetahui.jabatan_fungsional.nama);
        $("#dosen_mengetahui_nidn_step7").val(result.dosen_mengetahui.nidn);
        $("#dosen_mengetahui_nama_step7").val(result.dosen_mengetahui.nama_lengkap);
        $("#dosen_menyetujui_nama_step7").val(result.dosen_menyetujui.nama_lengkap);
        $("#dosen_menyetujui_nidn_step7").val(result.dosen_menyetujui.nidn);
        $("#dosen_menyetujui_jabatan_fungsi_step7").val(result.dosen_menyetujui.jabatan_pengesah_pengabdian.jabatan);

        $("#berkas_step7").attr("href", "{{base_url()}}uploads/pengabdian/"+result.berkas);
        $("#berkas_mitra_step7").attr("href", "{{base_url()}}uploads/pengabdian/"+result.berkas_surat);

        current_height= $("#step7").height();
        $(".content-wrapper").height(current_height+450);
    });
  }
});
</script>