{% extends 'pengaturan/penelitian/index.twig' %}
{% block breadcrumb %}
<li class="active">Target Luaran</li>
{% endblock %}
{% block tab %}
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li><a href="{{base_url()}}batasanggarans/{{jenpen.id}}">Batas Anggaran</a></li>
            <li><a href="{{base_url()}}janjiluarans/{{jenpen.id}}">Janji Luaran</a></li> 
            <li class="active"><a href="{{base_url()}}batchpenelitians/{{jenpen.id}}">Batch Penelitian</a></li> 
            <li><a href="{{base_url()}}targetluarans/{{jenpen.id}}">Target Luaran</a></li>
            <li><a href="{{base_url()}}keanggotaans/{{jenpen.id}}">Keanggotaan</a></li> 
            <li><a href="{{base_url()}}penilaians/{{jenpen.id}}">Penilaian</a></li>
            <li><a href="{{base_url()}}syaratpenelitians/{{jenpen.id}}">Syarat Penelitian</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobotluarans/{{jenpen.id}}">Bobot Luaran</a></li>
            <li><a href="{{base_url()}}pengaturan/penelitian/bobothasils/{{jenpen.id}}">Bobot Hasil</a></li>
            <a href="{{base_url()}}jenispenelitians/" class="btn btn-primary btn-sm pull-right" style="margin-top:5px;margin-right:8px;"> <i class="glyphicon glyphicon-arrow-left"> </i> Kembali</a>
      </ul>
      <div class="tab-content">
            <div class="tab-pane active" id="tab_1">   
                <div class="row mb-10"> 
                    <div class="col-sm-4">
                        <a href="#" class="btn btn-sm btn-danger pull-left" data-toggle="modal" data-target="#add-anggaran"> <i class="fa fa-plus"> </i> Tambah Data </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="box-tools settingnya"> 
                              <label class="labelnya">Tampil data:</label> 
                              <div class="formnya">  
                                <select class="form-control input-sm" id="views">
                                    <option value=10 {{set_select('views',10,views==10)}}>10</option>
                                    <option value=25 {{set_select('views',25,views==25)}}>25</option>
                                    <option value=50 {{set_select('views',50,views==50)}}>50</option>
                                    <option value=100 {{set_select('views',100,views==100)}}>100</option> 
                                </select>
                              </div>   
                        </div> 
                    </div>  
                </div> <!-- .row --> 

                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Tahun</th>
                            <th>Batch</th>
                            <th>Action</th>
                          </tr> 
                      </thead>
                      <tbody>
                            {% for item in items %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  {{item.tahun.tahun}}
                              </td>
                              <td>
                                  {% for batch in item.batch %}
                                  {{batch.nama}}: {{batch.start}} - {{batch.finish}} <br>
                                  {% endfor %}
                              </td>
                              <td> 
                                  <a href="{{base_url()}}batchs/{{item.id}}" class="btn btn-sm btn-info confirmation"> <i class="fa fa-book"></i> </a>
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle{{item.id}}"> <i class="fa fa-pencil"></i> </a>
                                  <a href="#" data-href="{{base_url()}}batchpenelitians/delete/{{item.id}}/batchpenelitians/{{jenpen.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash"></i> </a>
                              </td> 
                            </tr>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Tahun</th>
                            <th>Batch</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   

              
                  <ul class="pagination pull-right">
                    {% for i in 1..total_pages %}
                    {% if page==i %}
                    <li class="active"><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% else %}
                    <li><a class="paging" href="#" data-page="{{i}}">{{i}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </div>

            <div class="clearfix">  
            </div>
      </div>
      {% for item in items %}
        <div class="modal fade" id="edit-toggle{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{ form_open('batchpenelitians/edit/'~item.id,'data-toggle="validator"') }}
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Batch Penelitian</h4>
                  </div>
                  <div class="modal-body" id="validate_message">
                    <div class="form-horizontal">
                        <div class="box-body"> 
                            <div class="form-group">
                              <label for="" class="col-sm-3 control-label">Tahun Batch</label> 
                              <div class="col-sm-9">
                                <select id="tahun" name="tahun" class="form-control" required data-remote="{{base_url()}}batchpenelitians/is_exist/?jenis_penelitian={{jenpen.id}}">
                                  {% for item in tahun_kegiatan %}
                                      <option value="{{item.id}}" {{set_select(item.id,item.id)}}>{{item.tahun}}</option>
                                  {% endfor %}
                                </select>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                        <input type="hidden" name="jenis_penelitian" value="{{jenpen.id}}">
                        </div>
                        <!-- /.box-body --> 
                    </div> 
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                      <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                  </div>
              </div>
          </div>
        </div>
        </form>
      </div>
      {% endfor %}
      <div class="modal fade" id="add-anggaran" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {{ form_open('batchpenelitians/add/'~jenpen.id,'data-toggle="validator"') }}
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Tambah Batch Penelitian</h4>
                    </div>
                    <div class="modal-body" id="validate_message">
                      <div class="form-horizontal">
                          <div class="box-body"> 
                              <div class="form-group">
                                <label for="" class="col-sm-3 control-label">Tahun Batch</label> 
                                <div class="col-sm-9">
                                  <select id="tahun" name="tahun" class="form-control" required data-remote="{{base_url()}}batchpenelitians/is_exist/?jenis_penelitian={{jenpen.id}}">
                                    <option value="">Pilih Tahun</option>
                                    {% for item in tahun_kegiatan %}
                                        <option value="{{item.id}}">{{item.tahun}}</option>
                                    {% endfor %}
                                  </select>
                                  <div class="help-block with-errors"></div>
                                </div>
                              </div>
                          </div>
                          <!-- /.box-body --> 
                      </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                        <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                    </div>
                </div>
            </div>
          </div>
          </form>
        </div>
      <!-- /.tab-content -->
</div>
<script>
$(document).ready(function(){
  $( "#views" ).change(function() {
      var value = $("#views").val();
      window.location.href = $.query.set("views", value).set('page',1);
  });

  $(".paging").click(function(){
      paging = $(this).data("page");
      window.location.href = $.query.set("page", paging)
  })
});
</script>
{% endblock %}