{% extends 'pengabdian/monev/borang/index.twig' %}
{% block tab %}
{{ form_open('pengabdian/monev/monevborang/insert','class="form-horizontal moving" id="step1" data-toggle="validator"') }} 
<div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
            <li class="active"><a href="{{base_url()}}pengabdian/monev/monevborang/{{id}}">Proses Pengabdian</a></li>
            <li><a href="{{base_url()}}pengabdian/monev/monevborang/luaran/{{id}}">Luaran Pengabdian</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active form-horizontal" id="tab_1">
        {% if session.flashdata.success %}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> {{session.flashdata.success}}
            </div>
        {% endif %}
        <div class="box-body">    
          <div class="form-group">
            <input type="hidden" class="form-control" name="pengabdian" value="{{id}}">
            <label for="" class="col-sm-3 control-label text-left">1. Program Pengabdian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{jenis_pengabdian.nama}}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">2. Tahun Pengabdian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{tahun_kegiatan.tahun}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">3. Ketua</label> 
            <label for="" class="col-sm-3 control-label left">a. Nama</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.nama_lengkap}}">
            </div>
            <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.fakultas.nama}}">
            </div>
            <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{dosen.program_studi.nama}}">
            </div>
            <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
            <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">d. Bidang Keahlian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" required name="ketua_keahlian" value="{{monev.content.ketua_keahlian}}">
            </div>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">4. Anggota</label>
            {% for a in anggota %}
              <label for="" class="col-sm-3 control-label left">a. Nama</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.nama_lengkap}}">
              </div>
              <label for="" class="col-sm-3 control-label left">b. Fakultas</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.fakultas.nama}}">
              </div>
              <label for="" class="col-sm-3 control-label left">c. Program Studi</label> 
              <div class="col-sm-9">
                <input type="" class="form-control" disabled id="" value="{{a.dosen.program_studi.nama}}">
              </div>
              <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">d. Bidang Keahlian</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" required name="anggota_keahlian[]" value="{{monev.content.anggota_keahlian[loop.index0]}}">
                </div>
              </div>
              <div class="col-sm-12">
                <hr width="98%">
              </div>

            {% endfor %}
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">5. Judul Pengabdian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{ judul }}">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label text-left">6. Biaya Pengabdian</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" disabled id="" value="{{pengabdian_review_inselected.0.rp_rekomendasi}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">7. Pelaksanaan Pengabdian</label> 
            <label for="" class="col-sm-3 control-label left">a. Tanggal Mulai</label> 
            <div class="col-sm-9">
              <input type="" class="form-control tanggalan" required name="tanggal_mulai" value="{{monev.content.tanggal_mulai}}">
            </div>
            <label for="" class="col-sm-3 control-label left">b. Tanggal Selesai</label> 
            <div class="col-sm-9">
              <input type="" class="form-control tanggalan" required name="tanggal_selesai" value="{{monev.content.tanggal_selesai}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">8. Capaian Tahap Pengabdian</label> 
            <div class="col-sm-12 left">a. Menurut Saudara telah berada pada tahap mana pengabdian Saudara saat ini?</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <select class="form-control" required name="tahap_penelitian">
                <option value="">-Pilih-</option>
                <option value="Tahap persiapan" {{set_select('tahap_penelitian','Tahap persiapan','Tahap persiapan'==monev.content.tahap_penelitian)}}>Tahap persiapan</option>
                <option value="Pelaksanaan pengabdian" {{set_select('tahap_penelitian','Pelaksanaan pengabdian','Pelaksanaan pengabdian'==monev.content.tahap_penelitian)}}>Pelaksanaan pengabdian</option>
                <option value="Pengolahan data" {{set_select('tahap_penelitian','Pengolahan data','Pengolahan data'==monev.content.tahap_penelitian)}}>Pengolahan data</option>
                <option value="Penulisan laporan" {{set_select('tahap_penelitian','Penulisan laporan','Penulisan laporan'==monev.content.tahap_penelitian)}}>Penulisan laporan</option>
              </select>
            </div>
            <div class="col-sm-12 left">b. Menurut Saudara, sampai saat ini sudah berapa % capaian pengabdian Saudara?</div>
            <label for="" class="col-sm-3 control-label left">Jawaban :</label> 
            <div class="col-sm-9">
              <div class=" input-group">
              <input type="number" class="form-control" name="capaian" value="{{monev.content.capaian}}"><span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">9. Kesesuaian Pelaksanaan Pengabdian</label> 
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" required name="pelaksanaan_penelitian" value="Sesuai" {{set_radio('pelaksanaan_penelitian', 'Sesuai', 'Sesuai'==monev.content.pelaksanaan_penelitian)}}>Sesuai</label>
              <label class="radio-inline"><input type="radio" required name="pelaksanaan_penelitian" value="Tidak Sesuai" {{set_radio('pelaksanaan_penelitian', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.pelaksanaan_penelitian)}}>Tidak Sesuai</label>
            </div>
            <div class="col-sm-12 left pelaksanaan_penelitian hide">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian hide">Pilih :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian hide">
              <select class="form-control pelaksanaan_penelitian hide" required name="pelaksanaan_penelitian_alasan">
                <option value="">-Pilih-</option>
                <option value="Pencairan dana pengabdian terlambat" {{set_select('pelaksanaan_penelitian_alasan','Pencairan dana pengabdian terlambat',monev.content.pelaksanaan_penelitian_alasan=='Pencairan dana pengabdian terlambat')}}>Pencairan dana pengabdian terlambat</option>
                <option value="Pemesanan bahan dan/atau alat lama"{{set_select('pelaksanaan_penelitian_alasan','Pemesanan bahan dan/atau alat lama',monev.content.pelaksanaan_penelitian_alasan=='Pemesanan bahan dan/atau alat lama')}}>Pemesanan bahan dan/atau alat lama</option>
                <option value="Sumber data/informasi sulit/lama diakses/didapat"{{set_select('pelaksanaan_penelitian_alasan','Sumber data/informasi sulit/lama diakses/didapat',monev.content.pelaksanaan_penelitian_alasan=='Sumber data/informasi sulit/lama diakses/didapat')}}>Sumber data/informasi sulit/lama diakses/didapat</option>
                <option value="Lainnya (sebutkan)" {{set_select('pelaksanaan_penelitian_alasan','Lainnya (sebutkan)',monev.content.pelaksanaan_penelitian_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>{# {{set_select('','',monev.content.=='')}} #}
            </div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian_alasan hide">Alasan Lainnya :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian_alasan hide">
              <textarea rows="5"  class="form-control pelaksanaan_penelitian_alasan hide" name="pelaksanaan_penelitian_alasannya" required >{{monev.content.pelaksanaan_penelitian_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left pelaksanaan_penelitian hide">Penyelesainnya :</label> 
            <div class="col-sm-9 pelaksanaan_penelitian hide">
              <textarea rows="5" class="form-control pelaksanaan_penelitian hide" required name="pelaksanaan_penelitian_penyelesainnya">{{monev.content.pelaksanaan_penelitian_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">10. Kesesuaian Personalia</label> 
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" required name="kesesuaian_personalia" value="Sesuai" {{set_radio('kesesuaian_personalia', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_personalia)}}>Sesuai</label>
              <label class="radio-inline"><input type="radio" required name="kesesuaian_personalia" value="Tidak Sesuai" {{set_radio('kesesuaian_personalia', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_personalia)}}>Tidak Sesuai</label>
            </div>
            <div class="col-sm-12 left hide kesesuaian_personalia">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia">
              <select class="form-control hide kesesuaian_personalia" name="kesesuaian_personalia_alasan">
                <option value="">-Pilih-</option>
                <option value="Melanjutkan studi ke luar negeri" {{set_select('kesesuaian_personalia_alasan','Melanjutkan studi ke luar negeri',monev.content.kesesuaian_personalia_alasan=='Melanjutkan studi ke luar negeri')}}>Melanjutkan studi ke luar negeri</option>
                <option value="Pindah tempat kerja" {{set_select('kesesuaian_personalia_alasan','Pindah tempat kerja',monev.content.kesesuaian_personalia_alasan=='Pindah tempat kerja')}}>Pindah tempat kerja</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_personalia_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_personalia_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia_alasan">Alasan Lainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia_alasan">
              <textarea rows="5" class="form-control hide kesesuaian_personalia_alasan" name="kesesuaian_personalia_alasannya">{{monev.content.kesesuaian_personalia_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_personalia">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_personalia">
              <textarea rows="5" class="form-control hide kesesuaian_personalia" name="kesesuaian_personalia_penyelesainnya">{{monev.content.kesesuaian_personalia_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">11. Kesesuaian Anggaran</label>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" required name="kesesuaian_anggaran" value="Sesuai" {{set_radio('kesesuaian_anggaran', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_anggaran)}}>Sesuai</label>
              <label class="radio-inline"><input type="radio" required name="kesesuaian_anggaran" value="Tidak Sesuai" {{set_radio('kesesuaian_anggaran', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_anggaran)}}>Tidak Sesuai</label>
            </div>
            <div class="col-sm-12 left hide kesesuaian_anggaran">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran">
              <select class="form-control hide kesesuaian_anggaran" required name="kesesuaian_anggaran_alasan">
                <option value="">-Pilih-</option>
                <option value="Kenaikan harga bahan dan/atau alat" {{set_select('kesesuaian_anggaran_alasan','Kenaikan harga bahan dan/atau alat',monev.content.kesesuaian_anggaran_alasan=='Kenaikan harga bahan dan/atau alat')}}>Kenaikan harga bahan dan/atau alat</option>
                <option value="Adanya potongan pajak" {{set_select('kesesuaian_anggaran_alasan','Adanya potongan pajak',monev.content.kesesuaian_anggaran_alasan=='Adanya potongan pajak')}}>Adanya potongan pajak</option>
                <option value="Biaya yang disetujui tidak sesuai dengan yang diusulkan" {{set_select('kesesuaian_anggaran_alasan','Biaya yang disetujui tidak sesuai dengan yang diusulkan',monev.content.kesesuaian_anggaran_alasan=='Biaya yang disetujui tidak sesuai dengan yang diusulkan')}}>Biaya yang disetujui tidak sesuai dengan yang diusulkan</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_anggaran_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_anggaran_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran_alasan">Alasan Lainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran_alasan">
              <textarea rows="5" required class="form-control hide kesesuaian_anggaran_alasan" name="kesesuaian_anggaran_alasannya">{{monev.content.kesesuaian_anggaran_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_anggaran">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_anggaran">
              <textarea rows="5" required class="form-control hide kesesuaian_anggaran" name="kesesuaian_anggaran_penyelesainnya">{{monev.content.kesesuaian_anggaran_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">12. Kesesuaian Sarana dan Prasarana</label>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" required name="kesesuaian_sarana" value="Sesuai" {{set_radio('kesesuaian_sarana', 'Sesuai', 'Sesuai'==monev.content.kesesuaian_sarana)}}>Sesuai</label>
              <label class="radio-inline"><input type="radio" required name="kesesuaian_sarana" value="Tidak Sesuai" {{set_radio('kesesuaian_sarana', 'Tidak Sesuai', 'Tidak Sesuai'==monev.content.kesesuaian_sarana)}}>Tidak Sesuai</label>
            </div>
            <div class="col-sm-12 left hide kesesuaian_sarana">Jika tidak sesuai, berikan alasan-alasan dan penyelesainnya?</div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Pilih :</label> 
            <div class="col-sm-9 hide kesesuaian_sarana">
              <select class="form-control hide kesesuaian_sarana" required name="kesesuaian_sarana_alasan">
                <option value="">-Pilih-</option>
                <option value="Suku cadang alat tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Suku cadang alat tidak tersedia di dalam negeri',monev.content.kesesuaian_sarana_alasan=='Suku cadang alat tidak tersedia di dalam negeri')}}>Suku cadang alat tidak tersedia di dalam negeri</option>
                <option value="Bahan pengabdian tidak tersedia di dalam negeri" {{set_select('kesesuaian_sarana_alasan','Bahan pengabdian tidak tersedia di dalam negeri',monev.content.kesesuaian_sarana_alasan=='Bahan pengabdian tidak tersedia di dalam negeri')}}>Bahan pengabdian tidak tersedia di dalam negeri</option>
                <option value="Listrik tidak stabil" {{set_select('kesesuaian_sarana_alasan','Listrik tidak stabil',monev.content.kesesuaian_sarana_alasan=='Listrik tidak stabil')}}>Listrik tidak stabil</option>
                <option value="Lainnya (sebutkan)" {{set_select('kesesuaian_sarana_alasan','Lainnya (sebutkan)',monev.content.kesesuaian_sarana_alasan=='Lainnya (sebutkan)')}}>Lainnya (sebutkan)</option>
              </select>
            </div>
            <label for="" class="col-sm-3 control-label left kesesuaian_sarana_alasan hide">Alasan Lainnya :</label> 
            <div class="col-sm-9 kesesuaian_sarana_alasan hide">
              <textarea rows="5" required class="form-control kesesuaian_sarana_alasan hide"  name="kesesuaian_sarana_alasannya">{{monev.content.kesesuaian_sarana_alasannya}}</textarea>
            </div>
            <label for="" class="col-sm-3 control-label left hide kesesuaian_sarana">Penyelesainnya :</label> 
            <div class="col-sm-9 hide kesesuaian_sarana">
              <textarea rows="5" required class="form-control hide kesesuaian_sarana" name="kesesuaian_sarana_penyelesainnya">{{monev.content.kesesuaian_sarana_penyelesainnya}}</textarea>
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">13. Peran Lembaga Pengabdian</label>
            <div class="col-sm-12 left">a. Seleksi Proposal Pengabdian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" name="seleksi_proposal" value="Ya" {{set_radio('seleksi_proposal','Ya',monev.content.seleksi_proposal=='Ya')}}>Ya</label>
              <label class="radio-inline"><input type="radio" name="seleksi_proposal" value="Tidak" {{set_radio('seleksi_proposal','Tidak',monev.content.seleksi_proposal=='Tidak')}}>Tidak</label>
            </div>
            <div class="col-sm-12 left">b. Menyelenggarakan Seminar Proposal</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar" value="Ya" {{set_radio('menyelenggarakan_seminar','Ya',monev.content.menyelenggarakan_seminar=='Ya')}}>Ya</label>
              <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar" value="Tidak" {{set_radio('menyelenggarakan_seminar','Tidak',monev.content.menyelenggarakan_seminar=='Tidak')}}>Tidak</label>
            </div>
            <div class="col-sm-12 left">c. Memantau Pelaksanaan Pengabdian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" name="memantau_pelaksanaan" value="Ya" {{set_radio('memantau_pelaksanaan','Ya',monev.content.memantau_pelaksanaan=='Ya')}}>Ya</label>
              <label class="radio-inline"><input type="radio" name="memantau_pelaksanaan" value="Tidak" {{set_radio('memantau_pelaksanaan','Tidak',monev.content.memantau_pelaksanaan=='Tidak')}}>Tidak</label>
            </div>
            <div class="col-sm-12 left">d. Menyelenggarakan seminar hasil pengabdian</div>
            <label for="" class="col-sm-3 control-label left">Pilih :</label> 
            <div class="col-sm-9">
              <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar_hasil" value="Ya" {{set_radio('menyelenggarakan_seminar_hasil','Ya',monev.content.menyelenggarakan_seminar_hasil=='Ya')}}>Ya</label>
              <label class="radio-inline"><input type="radio" name="menyelenggarakan_seminar_hasil" value="Tidak" {{set_radio('menyelenggarakan_seminar_hasil','Tidak',monev.content.menyelenggarakan_seminar_hasil=='Tidak')}}>Tidak</label>
            </div>
            <label for="" class="col-sm-3 control-label left">e. Pelayanan Lainnya</label> 
            <div class="col-sm-9">
              <input type="" class="form-control" required name="pelayanan_lainnya" value="{{monev.content.pelayanan_lainnya}}">
            </div>
          </div>
          <div class="form-group parentwithchild">
            <label for="" class="col-sm-12 control-label text-left">14. Pelaksanaan Kerjasama dengan instansi lain</label>
            <div class="col-sm-12" id="instansi">
              {% for item in monev.content.instansi_nama %}
                <div class="col-sm-12 parentwithchild">
                  <label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> 
                  <div class="col-sm-9">
                    <input type="" class="form-control" required  name="instansi_nama[]" value="{{item}}">
                  </div>
                  <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                  <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Bentuk Kerjasama :</label> 
                  <div class="col-sm-9">
                    <input type="" class="form-control" required name="instansi_kerjasama[]" value="{{monev.content.instansi_kerjasama[loop.index0]}}">
                  </div>
                  </div>
                  <button type="button" class="close close-div" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% else %}
              <div class="col-sm-12 parentwithchild">
                <label for="" class="col-sm-3 control-label left" style="margin-top:15px;">a. Nama Instansi :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" required  name="instansi_nama[]" value="">
                </div>
                <div class="form-group col-sm-12" style="padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;">
                <label for="" class="col-sm-3 control-label left" style="padding-left:30px;text-align: left;">b. Bentuk Kerjasama :</label> 
                <div class="col-sm-9">
                  <input type="" class="form-control" required name="instansi_kerjasama[]" value="">
                </div>
                </div>
                <button type="button" class="close close-div" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
            </div>
            <div class="col-sm-12">
              <a href="#" id="tambahinstansi" class="btn btn-default pull-right"> Tambah Instansi</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="box-footer tc">  
  <a href="#" class="btn btn-default"> <i class="glyphicon glyphicon-remove"> </i> Batalkan Proses </a>
  <button type="submit" class="btn btn-success mr-10">  Simpan <i class="fa fa-arrow-right"> </i></button>
</div>
</form>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function(){
  $('.tanggalan').datepicker({ format: 'dd-mm-yyyy'});
  $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="hidden"], [type="submit"], [type="reset"], button):enabled:visible';
  $("#tambahinstansi").click(function(){
      var content = '<div class="col-sm-12 parentwithchild"><div class="col-sm-12"><hr width="98%"></div><label for="" class="col-sm-3 control-label left">a. Nama Instansi :</label> <div class="col-sm-9"><input type="" class="form-control" name="instansi_nama[]" required value=""></div><label for="" class="col-sm-3 control-label left">b. Bentuk Kerjasama :</label> <div class="col-sm-9"><input type="" class="form-control" required name="instansi_kerjasama[]" value=""></div><button type="button" class="close close-div" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
      $("#instansi").append(content);
      var current_height= $("#step1").height();
      $(".content-wrapper").height(current_height+400);
      $("#step1").validator('update');
      trigger();
      return false;
  });
  trigger();
  function trigger(){
    $(".close").click(function(){
      var div = $(this).parent();
      div.remove();
      $("#step1").validator('update');
      return false;
    });
  }
      $('input[type=radio][name=pelaksanaan_penelitian]').change(function() {
        if (this.value == 'Sesuai') {
            $(".pelaksanaan_penelitian").addClass("hide");
            $('select[name=pelaksanaan_penelitian_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".pelaksanaan_penelitian").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=pelaksanaan_penelitian_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".pelaksanaan_penelitian_alasan").removeClass("hide");
        }else{
          $(".pelaksanaan_penelitian_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_personalia]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_personalia").addClass("hide");
            $('select[name=kesesuaian_personalia_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_personalia").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_personalia_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_personalia_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_personalia_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_anggaran]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_anggaran").addClass("hide");
            $('select[name=kesesuaian_anggaran_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_anggaran").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_anggaran_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_anggaran_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_anggaran_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][name=kesesuaian_sarana]').change(function() {
        if (this.value == 'Sesuai') {
            $(".kesesuaian_sarana").addClass("hide");
            $('select[name=kesesuaian_sarana_alasan]').val("").change();
        }
        else if (this.value == 'Tidak Sesuai') {
          $(".kesesuaian_sarana").removeClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });
    $('select[name=kesesuaian_sarana_alasan]').on('change', function() {
        if (this.value == 'Lainnya (sebutkan)') {
            $(".kesesuaian_sarana_alasan").removeClass("hide");
        }else{
          $(".kesesuaian_sarana_alasan").addClass("hide");
        }
        var current_height= $("#step1").height();
        $(".content-wrapper").height(current_height+400);
        $("#step1").validator('update');
    });

    $('input[type=radio][checked]').trigger('change');
    $('option[selected]').trigger('change');
});
</script>
{% endblock %}