<div class="modal fade modal-upload in" id="confirm-approve{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-body" id="validate_message">
              <h3>Apakah anda yakin untuk Menyetujui pengabdian:</h3>
              <br>
              <h2>{{item.judul}}</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <a href="{{base_url()}}pengabdian/pencairandana/tahappertama/approval/{{item.pencairan_dana_tahap1.id}}" class="btn btn-info btn-ok">Ya</a>
            </div>
        </div>
    </div>
  </div>
</div>