{% extends 'template.twig' %}

{% block content %}
    <div
        class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pencairan Dana
                <small>Pencairan Dana Tahap 1</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        Beranda
                    </a>
                </li>
                <li>Pencairan Dana</li>
                <li class="active">Tahap 1</li>
            </ol>
        </section>

        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx s:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <section class="content">
            <div class="box bordernya">
                <div class="box-header with-border">
                    <h3 class="box-title">Form Pencarian</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        {% set dosen,judul,jenis_pengabdians,batch_pengabdian,get_tahun_kegiatan,get_bank,get_status,get_type = request_get('dosen'),request_get('judul'),request_get('jenis_pengabdian'),request_get('batch'),request_get('tahun_kegiatan'),request_get('bank'),request_get('status'),request_get('status') %}
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Nama Dosen :
                            </label>
                            <div class="col-sm-10">
                                <input type="" class="form-control" id="" name="dosen" placeholder="Nama Dosen" value="{{dosen}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Bank :
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control" name="bank" id="bank">
                                    <option value="">Semua</option>
                                    <option value="BNI" {{set_select('bank',"BNI","BNI"==get_bank)}}>BNI</option>
                                    <option value="Mandiri" {{set_select('bank',"Mandiri","Mandiri"==get_bank)}}>Mandiri</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Judul Pengabdian :
                            </label>
                            <div class="col-sm-10">
                                <input type="" class="form-control" id="" name="judul" placeholder="Judul Pengabdian" value="{{judul}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Jenis Pengabdian :
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control" name="jenis_pengabdian" id="jenis_pengabdian">
                                    <option value="">Semua Jenis Pengabdian</option>
                                    {% for item in jenis_pengabdian %}
                                        <option value="{{item.id}}" {{set_select('jenis_pengabdian',item.id,item.id==jenis_pengabdians)}}>{{item.nama}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Batch Pengabdian :
                            </label>
                            <div class="col-sm-10">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <select class="form-control" name="tahun_kegiatan" id="tahun_kegiatan">
                                            <option value="">Semua Tahun</option>
                                            {% for item in tahun_kegiatan %}
                                                <option value="{{item.id}}" {{set_select('tahun_kegiatan',item.id,item.id==get_tahun_kegiatan)}}>{{item.tahun}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="batch" id="batch">
                                            <option value="">
                                                Semua Batch
                                            </option>
                                            {% for item in batch_lists %}
                                                <option value="{{item.id}}" {{set_select('batch',item.id,item.id==batch_pengabdian)}}>{{item.nama}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Status :
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control" name="status" id="status">
                                    <option value="">Semua</option>
                                    <option value="1" {{set_select('status',"1","1"==get_status)}}>Menunggu Persetujuan</option>
                                    <option value="2" {{set_select('status',"2","2"==get_status)}}>Sudah Disetujui</option>
                                    <option value="3" {{set_select('status',"3","3"==get_status)}}>Proses Transfer</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="cancel" class="btn btn-default pull-right">
                            <i class="glyphicon glyphicon-remove"></i>
                            Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right mr-10">
                            <i class="glyphicon glyphicon-search"></i>
                            Cari</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- e:form search -->

            {% if session.flashdata.success %}
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong>
                    {{session.flashdata.success}}
                </div>
            {% endif %}
            {% if get_type==1 %}
                {{ form_open('pengabdian/pencairandana/tahappertama/approval_bulk','data-toggle="validator" id="checker"') }}
            {% elseif get_type==2%}
                {{ form_open('pengabdian/pencairandana/tahappertama/proses_bulk','data-toggle="validator" id="checker"') }}
            {% elseif get_type==3 %}
                {{ form_open('pengabdian/pencairandana/tahappertama/confirm_bulk','data-toggle="validator" id="checker"') }}
            {% endif %}
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Pencairan Dana Tahap 1</h3>
                    <div class="box-tools settingnya">
                        <label class="labelnya">Tampil data:</label>
                        <div class="formnya">
                            <select class="form-control input-sm" id="views">
                                <option value="10" {{set_select('views',10,views==10)}}>10</option>
                                <option value="25" {{set_select('views',25,views==25)}}>25</option>
                                <option value="50" {{set_select('views',50,views==50)}}>50</option>
                                <option value="100" {{set_select('views',100,views==100)}}>100</option>
                            </select>
                        </div>
                        {% if userinfo.akses.nama=="Operator LPPM"  or userinfo.akses.nama=="Sekretaris LPPM" or userinfo.akses.nama=="Ketua LPPM" or userinfo.akses.nama=="Keuangan" %}
                            <a href="{{base_url()}}pengabdian/pencairandana/tahappertama/download?dosen={{dosen}}&bank={{get_bank}}&judul={{judul}}&jenis_pengabdian={{jenis_pengabdians}}&batch={{batch}}&tahun_kegiatan={{get_tahun_kegiatan}}&status={{status}}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Export To PDF" target="_blank">
                                <i class="fa fa-file-excel-o"></i>
                            </a>
                        {% endif %}
                    </div>

                </div>
                <!-- .box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <table width="99%" class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th style="width: 25%">Identitas Pengabdi</th>
                                        <th>Rekening Pencairan</th>
                                        <th style="width: 22%">Pencairan Tahap 1</th>
                                        <th style="width: 13%">Status Pencairan</th>
                                        <th>Action</th>
                                        <th>
                                            <label class="labelnya">all:</label>
                                            <div class="formnya">
                                                <input type="checkbox" value="all" id="select_all" style="margin-top: 9px;">
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in pengabdian %}
                                        <tr>
                                            <td>{{loop.index+((page-1)*views)}}.</td>
                                            <td>
                                                {{item.dosen.gelar_depan}}
                                                {{item.dosen.nama}}
                                                {{item.dosen.gelar_belakang}}<br>
                                                {{item.judul}}<br>
                                                {{item.jenis_pengabdian.nama}}<br>
                                                {{item.batch.nama}}
                                                -
                                                {{item.tahun_kegiatan.tahun}}
                                            </td>
                                            <td>
                                                Bank:
                                                {{item.dosen.bank}}<br>
                                                No Rekening:
                                                {{item.dosen.bank_rek}}<br>
                                                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#modal-dokumen{{item.id}}">Detail</a>
                                            </td>
                                            <td>
                                                Nominal: Rp.
                                                {{format_rupiah(item.pencairan_dana_tahap1.dana)}},-<br>
                                                Pph({{item.pencairan_dana_tahap1.pajak}}%): Rp.
                                                {{format_rupiah(item.pencairan_dana_tahap1.pajak_hitung)}},-<br>
                                                Pencairan: Rp.
                                                {{format_rupiah(item.pencairan_dana_tahap1.dana-item.pencairan_dana_tahap1.pajak_hitung)}},-<br>
                                            </td>
                                            <td>{{item.pencairan_dana_tahap1.status_text}}</td>
                                            <td>
                                                {% if item.pencairan_dana_tahap1.status == 1 and roles(["Ketua LPPM","Sekretaris LPPM"])%}
                                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#confirm-approve{{item.id}}">Approve</a>
                                                {% elseif item.pencairan_dana_tahap1.status == 2 and roles(["Keuangan"]) %}
                                                    {% if item.dosen.status_bank %}
                                                        <a href="{{base_url()}}pengabdian/pencairandana/tahappertama/proses/{{item.id}}" class="btn btn-success">Proses</a>
                                                    {% else %}
                                                        Bank/NPWP Tidak Lengkap
                                                    {% endif %}
                                                {% elseif item.pencairan_dana_tahap1.status == 3 and roles(["Keuangan"]) %}
                                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#confirm-confirm{{item.id}}">Confirm</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if get_type==item.pencairan_dana_tahap1.status %}
                                                    {% if get_type==2 and not item.dosen.status_bank %}

                                                        {% else %}
                                                            <input type="checkbox" class="pengabdian" value="{{item.id}}" name="pengabdian[]" data-id="{{item.id}}">
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th style="width: 25%">Identitas Pengabdi</th>
                                        <th>Rekening Pencairan</th>
                                        <th style="width: 12%">Pencairan Tahap 1</th>
                                        <th style="width: 13%">Status Pencairan</th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- col-sm-12 -->
                    </div>
                    <!-- row -->

                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools settingnya">
                            <div class="formnya">
                                <select class="form-control input-sm" id="type" required>
                                    <option value="">Pilih Aksi</option>
                                    {% if roles(["Sekretaris LPPM","Ketua LPPM"]) %}
                                        <option value="1" {{set_select('type','1','1'==get_type)}}>Approve</option>
                                    {% endif %}
                                    {% if roles(["Keuangan"]) %}
                                        <option value="2" {{set_select('type','2','2'==get_type)}}>Proses Transfer</option>
                                        <option value="3" {{set_select('type','3','3'==get_type)}}>Konfirmasi Transfer</option>
                                    {% endif %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success" id="submit_upload">
                                <i class="glyphicon glyphicon-floppy-disk"></i>
                                Submit</button>
                        </div>

                    </div>
                    <!-- .box-header -->

                    <ul class="pagination pull-right">
                        {% set paging = paging_creator(page,total_pages) %}
                        {{ paging|raw }}
                    </ul>

                </div>
                <!-- box_body -->
            </div>
            <!-- .box box-primary -->
        </form>


    </section>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx e:Main content xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

</div>
{% for item in pengabdian %}
    {% include 'pengabdian/pencairan_dana/tahap1/hidden-dokumen.twig' %}
    {% if item.pencairan_dana_tahap1.status == 1 and roles(["Ketua LPPM","Sekretaris LPPM"])%}
        {% include 'pengabdian/pencairan_dana/tahap1/hidden-approve.twig' %}
    {% endif %}
    {% if item.pencairan_dana_tahap1.status == 3 and roles(["Keuangan"])%}
        {% include 'pengabdian/pencairan_dana/tahap1/hidden-confirm.twig' %}
    {% endif %}
{% endfor %}
<script>
    $(document).ready(function () {
        $("#type").change(function () {
            var value = $("#type").val();
            window.location.href = $.query.set("type", value);
        });

        $("#views").change(function () {
            var value = $("#views").val();
            window.location.href = $.query.set("views", value);
        });

        $("#orderby").change(function () {
            var value = $("#orderby").val();
            window.location.href = $.query.set("orderby", value);
        });

        $("#to").change(function () {
            var value = $("#to").val();
            window.location.href = $.query.set("to", value);
        });

        $(".paging").click(function () {
            paging = $(this).data("page");
            window.location.href = $.query.set("page", paging)
        });


        $('#select_all').click(function (event) {
            var state = this.checked;
            $(':checkbox').each(function () {
                this.checked = state;
            });
            $(':checkbox').trigger('change');
        });

        var form = $('#checker');
        var chk = $("input.pengabdian");


        // Change event
        checkboxValidator(chk, form, 1);
        chk.on('change', function (e) {
            checkboxValidator(chk, form, 1);
        });


        function checkboxValidator(group, form, goal) {
            var isChecked = false;
            var goal = goal || 1; // Default at least one checkbox

            if (group.filter(':checked').length >= goal) {
                isChecked = true;
            }

            group.not(':checked').prop('required', ! isChecked);
            form.validator('destroy').validator();
        }
    });
</script>
<script src="{{base_url()}}assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{base_url()}}assets/plugins/datepicker/locales/bootstrap-datepicker.id.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.fn.datepicker.defaults.language = 'id';
        $('.tanggalan').datepicker({
            orientation: "left bottom",
            timePicker: true,
            timePickerIncrement: 30,
            format: 'dd/mm/yyyy',
            todayHighlight: false,
            forceParse: false,
            startDate: new Date()
        });
    });
</script>{% endblock %}
