<div class="box-body">  
  <div class="box bordernya">
    <div class="box-header with-border">
      <h3 class="box-title"> Capaian Luaran Lainnya </h3>
      <a href="#" class="btn btn-sm btn-danger pull-right" data-toggle="modal" data-target="#add-jenis-luaranlain"> <i class="fa fa-plus"> </i> Tambah Data </a>
    </div>
    <div class="box-body"> 
                <table width="99%" class="table table-bordered mb-0"> 
                      <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Jenis Luaran</th> 
                            <th>Uraian</th>
                            <th style="width: 20%">Action</th>
                          </tr> 
                      </thead>
                      {# {{dump(items1)}} #}
                      <tbody>
                            {% for item in items6 %}
                            <tr>
                              <td>{{loop.index+((page-1)*views)}}.</td>
                              <td>
                                  <span class="text-success">{{item.content.klasifikasi}}</span>
                              </td> 
                              <td>
                                  {{item.content.judul}}
                              </td>
                              <td>
                                  {% if item.berkas %}
                                  <a href="{{base_url()}}download?type=borangluaranpengabdian&id={{item.id}}" class="btn btn-sm btn-success" target="_blank"> <i class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></i> </a>
                                  {% endif %}
                                  <a href="#" class="btn btn-sm btn-info" title="Toggle" data-toggle="modal" data-target="#upload-toggle-luaranlain{{item.id}}"> <i class="fa fa-upload" data-toggle="tooltip" data-original-title="Upload"></i> </a> 
                                  <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle-luaranlain{{item.id}}"> <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i> </a>
                                  <a href="#" data-href="{{base_url()}}pengabdian/monev/monevborang/deleteluaran/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete"> <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i> </a>
                              </td> 
                            </tr>

                            <div class="modal fade" id="upload-toggle-luaranlain{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              {{ form_open_multipart('pengabdian/monev/monevborang/uploadluaran/' ~ item.id,'data-toggle="validator" class="upload" data-id="'~ item.id ~'"') }}
                              <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Upload berkas</h4>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-4 control-label"> Berkas </label>

                                      <div class="col-sm-8">
                                        <input type="file" id="icondemo{{item.id}}" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" name="file" accept="application/pdf" data-id="{{item.id}}">
                                        <div class="bootstrap-filestyle input-group">
                                          <input type="text" class="form-control " placeholder="" disabled="" id="filename{{item.id}}">
                                          <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="icondemo{{item.id}}" class="btn btn-warning ">
                                              <span class="icon-span-filestyle glyphicon glyphicon-file"></span>
                                              <span class="buttonText">Select File</span>
                                            </label>

                                            <button type="submit" class="btn btn-success" id="submit_upload{{item.id}}"><i class="glyphicon glyphicon-floppy-disk"> </i> Uploads </button>
                                          </span>
                                        </div>
                                        <span class="text-danger warning" id="warning{{item.id}}"></span>
                                      </div> <!-- col-sm-8 -->

                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-4 control-label"></label>
                                      <div class="col-sm-8">
                                        <div class="progress">
                                          <div class="progress-bar bar" role="progressbar" aria-valuenow="70"
                                          aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            <span class="percent"></span>
                                          </div>
                                        </div>
                                      </div> <!-- col-sm-8 -->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Tutup</button>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal fade" id="edit-toggle-luaranlain{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              {{ form_open('pengabdian/monev/monevborang/editluaran/'~id) }}
                              <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                          <div class="form-horizontal">
                                              <div class="box-body"> 
                                                  <input type="hidden" id="id" name="id" value="{{item.id}}">
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label"> Jenis Luaran </label> 
                                                    <div class="col-sm-8">
                                                     <select class="form-control" name="klasifikasi">
                                                        <option value="">-Pilih-</option>
                                                        <option value="Hak Kekayaan Intelektual" {{set_select('klasifikasi','Hak Kekayaan Intelektual',item.content.klasifikasi=='Hak Kekayaan Intelektual')}}>Hak Kekayaan Intelektual (HKI)</option>
                                                        <option value="Teknologi Tepat Guna" {{set_select('klasifikasi','Teknologi Tepat Guna',item.content.klasifikasi=='Teknologi Tepat Guna')}}>Teknologi Tepat Guna</option>
                                                        <option value="Model" {{set_select('klasifikasi','Model',item.content.klasifikasi=='Model')}}>Model</option>
                                                        <option value="Purwarupa/Prototype" {{set_select('klasifikasi','Purwarupa/Prototype',item.content.klasifikasi=='Purwarupa/Prototype')}}>Purwarupa/Prototype</option>
                                                        <option value="Karya Design, Seni, Kriya/Bangunan dan Arsitektur" {{set_select('klasifikasi','Karya Design, Seni, Kriya/Bangunan dan Arsitektur',item.content.klasifikasi=='Karya Design, Seni, Kriya/Bangunan dan Arsitektur')}}>Karya Design, Seni, Kriya/Bangunan dan Arsitektur</option>
                                                        <option value="Rekayasa Sosial" {{set_select('klasifikasi','Rekayasa Sosial',item.content.klasifikasi=='Rekayasa Sosial')}}>Rekayasa Sosial</option>
                                                        <option value="Produk Terstandarisasi" {{set_select('klasifikasi','Produk Terstandarisasi',item.content.klasifikasi=='Produk Terstandarisasi')}}>Produk Terstandarisasi</option>
                                                        <option value="Produk Tersertifikasi" {{set_select('Produk Tersertifikasi','Produk Tersertifikasi',item.content.klasifikasi=='Produk Tersertifikasi')}}>Produk Tersertifikasi</option>
                                                        <option value="Wirausaha Baru Mandiri" {{set_select('klasifikasi','Wirausaha Baru Mandiri',item.content.klasifikasi=='Wirausaha Baru Mandiri')}}>Wirausaha Baru Mandiri</option>
                                                        <option value="Mitra Badan Hukum" {{set_select('klasifikasi','Mitra Badan Hukum',item.content.klasifikasi=='Mitra Badan Hukum')}}>Mitra Badan Hukum</option>
                                                     </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="" class="col-sm-4 control-label"> Judul Artikel </label> 
                                                    <div class="col-sm-8">
                                                      <textarea class="form-control" id="judul" required name="judul">{{item.content.judul}}</textarea>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div> 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-info btn-ok">Save</a>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              </form>
                            </div>
                            {% endfor %}
                      </tbody> 
                      <tfoot> 
                         <tr> 
                            <th style="width: 10px">#</th>
                            <th>Jenis Luaran</th> 
                            <th>Uraian</th>
                            <th>Action</th>
                          </tr> 
                        </tr>
                      </tfoot> 
                </table>   
              </div>
              <div class="modal fade" id="add-jenis-luaranlain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_open('pengabdian/monev/monevborang/insertluaran/'~id,'data-toggle="validator"') }}
                <div class="vertical-alignment-helper">
                  <div class="modal-dialog vertical-align-center">
                      <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">FORM ISIAN DATA CAPAIAN LUARAN LAINNYA</h4>
                          </div>
                          <div class="modal-body" id="validate_message">
                              <div class="form-horizontal">
                                <div class="box-body"> 
                                    <input type="hidden" id="type" name="type" value="luaran">
                                    <div class="form-group">
                                      <label for="" class="col-sm-4 control-label"> Jenis Luaran </label> 
                                      <div class="col-sm-8">
                                       <select class="form-control" name="klasifikasi" required>
                                          <option value="">-Pilih-</option>
                                          <option value="Hak Kekayaan Intelektual" {{set_select('klasifikasi','Hak Kekayaan Intelektual',item.content.klasifikasi=='Hak Kekayaan Intelektual')}}>Hak Kekayaan Intelektual (HKI)</option>
                                          <option value="Teknologi Tepat Guna" {{set_select('klasifikasi','Teknologi Tepat Guna',item.content.klasifikasi=='Teknologi Tepat Guna')}}>Teknologi Tepat Guna</option>
                                          <option value="Model" {{set_select('klasifikasi','Model',item.content.klasifikasi=='Model')}}>Model</option>
                                          <option value="Purwarupa/Prototype" {{set_select('klasifikasi','Purwarupa/Prototype',item.content.klasifikasi=='Purwarupa/Prototype')}}>Purwarupa/Prototype</option>
                                          <option value="Karya Design, Seni, Kriya/Bangunan dan Arsitektur" {{set_select('klasifikasi','Karya Design, Seni, Kriya/Bangunan dan Arsitektur',item.content.klasifikasi=='Karya Design, Seni, Kriya/Bangunan dan Arsitektur')}}>Karya Design, Seni, Kriya/Bangunan dan Arsitektur</option>
                                          <option value="Rekayasa Sosial" {{set_select('klasifikasi','Rekayasa Sosial',item.content.klasifikasi=='Rekayasa Sosial')}}>Rekayasa Sosial</option>
                                          <option value="Produk Terstandarisasi" {{set_select('klasifikasi','Produk Terstandarisasi',item.content.klasifikasi=='Produk Terstandarisasi')}}>Produk Terstandarisasi</option>
                                          <option value="Produk Tersertifikasi" {{set_select('Produk Tersertifikasi','Produk Tersertifikasi',item.content.klasifikasi=='Produk Tersertifikasi')}}>Produk Tersertifikasi</option>
                                          <option value="Wirausaha Baru Mandiri" {{set_select('klasifikasi','Wirausaha Baru Mandiri',item.content.klasifikasi=='Wirausaha Baru Mandiri')}}>Wirausaha Baru Mandiri</option>
                                          <option value="Mitra Badan Hukum" {{set_select('klasifikasi','Mitra Badan Hukum',item.content.klasifikasi=='Mitra Badan Hukum')}}>Mitra Badan Hukum</option>
                                       </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="col-sm-4 control-label"> Judul Artikel </label> 
                                      <div class="col-sm-8">
                                        <textarea class="form-control" id="judul" required name="judul">{{item.content.judul}}</textarea>
                                      </div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> </i>Cancel</button>
                              <button type="submit" class="btn btn-success btn-ok"><i class="glyphicon glyphicon-floppy-disk"> </i> Simpan</a>
                          </div>
                      </div>
                  </div>
              	</form>
                </div>
	</div>
 </div>
</div>