<div class="box-body">
    <div class="box bordernya">
        <div class="box-header with-border">
            <h3 class="box-title">
                Video
            </h3>
            <a href="#" class="btn btn-sm btn-danger pull-right" data-toggle="modal" data-target="#add-video">
                <i class="fa fa-plus"></i>
                Tambah Data
            </a>
        </div>
        <div class="box-body">
            <table width="99%" class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Judul Video</th>
                        <th>URL</th>
                        <th style="width: 20%">Action</th>
                    </tr>
                </thead>
                {# {{dump(items1)}} #}
                <tbody>
                    {% for item in items7 %}
                        <tr>
                            <td>{{loop.index+((page-1)*views)}}.</td>
                            <td>
                                <span class="text-success">{{item.content.judul}}</span>
                            </td>
                            <td>
                                <a href="{{item.content.url}}" target="_blank">{{item.content.url}}</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-sm btn-warning confirmation" title="Toggle" data-toggle="modal" data-target="#edit-toggle-video{{item.id}}">
                                    <i class="fa fa-pencil" data-toggle="tooltip" data-original-title="Edit"></i>
                                </a>
                                <a href="#" data-href="{{base_url()}}pengabdian/monev/monevborang/deleteluaran/{{item.id}}" class="btn btn-sm btn-danger confirmation" title="Delete" data-toggle="modal" data-target="#confirm-delete">
                                    <i class="fa fa-trash" data-toggle="tooltip" data-original-title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="edit-toggle-video{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            {{ form_open('pengabdian/monev/monevborang/editluaran/'~id) }}
                            <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit</h4>
                                        </div>
                                        <div class="modal-body" id="validate_message">
                                            <div class="form-horizontal">
                                                <div class="box-body">
                                                    <input type="hidden" id="id" name="id" value="{{item.id}}">
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-4 control-label">Judul Video</label>
                                                        <div class="col-sm-8">
                                                            <textarea class="form-control" id="judul" required name="judul">{{item.content.judul}}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" class="col-sm-4 control-label">URL</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="url" required name="url" value="{{item.content.url}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-info btn-ok">Save</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tbody>
                </tbody>
            </div>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th style="width: 10px">#</th>
            <th>Judul Video</th>
            <th>URL</th>
            <th>Action</th>
        </tr>
    </tfoot>
</tr></tfoot></table></div><div class="modal fade" id="add-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">{{ form_open('pengabdian/monev/monevborang/insertluaran/'~id,'data-toggle="validator"') }}<div class="vertical-alignment-helper"><div class="modal-dialog vertical-align-center">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">FORM ISIAN DATA CAPAIAN LUARAN PUBLIKASI VIDEO</h4>
    </div>
    <div class="modal-body" id="validate_message">
        <div class="form-horizontal">
            <div class="box-body">
                <input type="hidden" id="type" name="type" value="video">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Judul Video</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="judul" required name="judul">{{item.content.judul}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">URL</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="url" required name="url" value="{{item.content.url}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="glyphicon glyphicon-remove"></i>Cancel</button>
        <button type="submit" class="btn btn-success btn-ok">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Simpan</a>
    </div>
</div></div></form></div></div></div></div>
